[2019-04-29 17:06] nandiniYeltiwar commented on #2038
@Conman1119, can you please specify what is the problem that you are facing? Are you able to share/join into Live Share session?

[2019-04-29 17:57] IlyaBiryukov commented on #2029
Here is the error in the logs:
[code]
In a [similar issue](https://github.com/dotnet/core-setup/issues/3823) the root cause was that a process didn't have enough permissions. This may happen if we couldn't set the permissions on our files on activation of the extension, e.g. if VSCode was closed at that point.

@martinogiorgi25 Can you please try uninstalling and re-installing the extension to fix

[2019-04-29 21:43] martinogiorgi25 commented on #2029
I did several times.

Inviato da iPhone

[2019-04-29 23:40] IlyaBiryukov commented on #2029
@jasongin I'm sending the issue your way.

[2019-04-30 04:00] zhyUniverse opened #2041 "[VS Code] Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
<!--
For Visual Studio problems/feedback, please use the Report

[2019-04-30 04:01] #2041 closed

[2019-04-30 07:16] MSProgrammer commented on #2037
Hi,
yeap, but try it without any VPN or proxy, but didn`t work at all, until reopening my vs code

[2019-04-30 09:34] freddi301 opened #2042 "[VS Code] [Audio] Calling module not available. libnode.so: cannot open shared object file: No such file or directory"
## Error:
Calling module not available. libnode.so: cannot open shared object file: No such file or directory

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.19.36-1-MANJARO|

[2019-04-30 16:16] sirgloveface commented on #2019
is anybody here?

[2019-04-30 23:48] Priya91 commented on #2019
@sirgloveface Did you try installing libssl1.0.0 ?

[2019-04-30 23:49] Priya91 commented on #2037
@MSProgrammer Can you attach your logs, get them by running "Liveshare: Export logs" command from command palette.

[2019-04-30 23:51] Priya91 commented on #2030
@LevitationX What Linux distro are you on?

[2019-05-01 00:31] Priya91 commented on #2030
Thanks for reporting the issue, I'm working on a fix, should be available in next update.

[2019-05-01 03:42] MSProgrammer commented on #2037
@Priya91 it`s happened a few days ago, and this command export today log,
if this error happens again I`ll send to you immediately.

[2019-05-01 13:07] jennie-quinton commented on #1977
I get this too, have to login twice to join and live share session

**Product and Version** [VS/VSCode]: 1.33.1 (1.33.1)
**OS Version** [macOS/Windows]: macOS mojave 10.14.4
**Live Share Extension Version**: 1.0.91
**Target Platform or Language** [e.g. Node.js]: go

**Steps to Reproduce / Scenario:**

1. click join live share
2. prompt to login
3. login on pop up window
4. go back to vs code
5. en

[2019-05-01 13:35] Ashraf-Ali-aa opened #2043 "[VS Code] [Audio] StartCall"
## Error:
StartCall

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Windows|
|**platformVersion**|18.5.0|

[2019-05-01 13:42] #2043 closed

[2019-05-01 14:58] JavaInTheMorning opened #2044 "Intellisense/Resharper/Autocomplete & suggestions only work on host computer. Also, when host opens suggestions from Re-sharper, guests cannot type at all."
**Product and Version** [VS]:
**OS Version** [Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [C#]:

**Steps to Reproduce / Scenario:**

1. Host Click On light bulb from an error producing line
2. Look at suggestions
3. While looking at suggestions, guests cannot type at all

1. Guests cannot use resharper/intellisense/autocomplete

1. Shortcuts don't work for guests
2.

[2019-05-01 17:55] daytonellwanger commented on #2044
Thanks for reporting @JavaInTheMorning ! Currently Resharper does not integrate with Live Share, so the expected behavior of all of these operations is undefined, and most probably will not work. Due to how Resharper interacts with Visual Studio, it's also possible it can degrade your Live Share experience even when not using Resharper features. I'll keep this issue open as a feature request to tr

[2019-05-02 08:44] pjninnim commented on #1965
@IlyaBiryukov Sorry, to report but this error has raised itself again in the latest update.

[2019-05-02 09:20] standayweb opened #2045 "Activating extension 'ms-vsliveshare.vsliveshare' failed: util.promisify is not a function."
**Product and Version** [VS/VSCode]: VSCode Version 1.25.1
**OS Version** [macOS/Windows]: macOS Version 10.13.6
**Live Share Extension Version**: v1.0.91
**Target Platform or Language** [e.g. Node.js]: JavaScript (React.js + Node.js)

**Steps to Reproduce / Scenario:**
1. Install live share extension
2. No sign in or live share buttons showing
3. Open dev tools
4. See error "Activating extension

[2019-05-02 12:56] HashVelani opened #2046 "Allow fully independent debugging"
Can a feature be added that allows a participant to use the debugger and it not effect the productivity of other participants?

When working in vscode with live share...
We find it very kool that we can share the debugger between participants...
Because we work using TDD if a participant is using the debugger and a breakpoint is hit ...
all participants are directed to the breakpoint.

If possible

[2019-05-02 13:58] LevitationX commented on #2030
Thanks ^^

[2019-05-02 17:13] nandiniYeltiwar commented on #2046
Adding @lostintangent.

[2019-05-02 17:36] IlyaBiryukov commented on #1965
@pjninnim I could not reproduce it. What is your VSCode and Live Share extension versions? And what are the steps to reproduce it?
I tried on VSCode insiders 1.34.0, Live Share 1.0.125 with the following steps:
1. Start a collaboration session and join from another instance of VSCode
2. Make changes to some file that is opened on both the host and the guest
3. Save the file from host and guest mul

[2019-05-02 19:00] Chuxel commented on #74
I'm **super excited** to let everyone know about the public preview of a set of Visual Studio Code Remote Development extensions available **now** from the marketplace. Out of the gate we have support for SSH, Containers, and WSL.

🔗 Extension pack: https://aka.ms/vscode-remote/download
🔗 Blog post: https://aka.ms/vscode-remote/blog
🔗 Docs: https://aka.ms/vscode-remote
🔗 Feedback: https://aka.ms/v

[2019-05-02 19:00] #74 closed

[2019-05-02 19:32] Priya91 commented on #2004
This is not related to proxy, looks like any https request is getting canceled. Without a repro, cannot make progress on this issue. @SebHonorine Can you get network trace and see if there are any network policies that's blocking liveshare outgoing requests?

[2019-05-02 19:36] Priya91 commented on #1936
dupe of #2030

I'm working on making liveshare work with Linux distros that don't have openssl 1.0. Closing this issue, and tracking the work there.

[2019-05-02 19:36] #1936 closed

[2019-05-02 19:37] Codelica commented on #74
I will name my next child VSCode if you add ARM support. 👍

[2019-05-02 19:42] Chuxel commented on #74
@Codelica 🤣🤣 Love it.  Feature request is here: https://github.com/Microsoft/vscode-remote-release/issues/13

[2019-05-02 20:02] tiagoad commented on #74
Very unexpected, and immensely useful. I was really happy to get this e-mail notification, it's seems really well thought out, great work.

[2019-05-02 22:04] unixfox commented on #74
@Chuxel All of these new extensions are really great for solo development :+1:!

But they don't really solve the initial issue where it was asked to have an independent live share server that could be hosted on a remote (headless) machine where developers could develop together.

The thing is I don't find any real collaboration feature in these new extensions, the SSH remote extension is great for

[2019-05-02 22:36] wolf99 commented on #74
@unixfox does vscode-remote _plus_  LiveShare cover this?
e.g. first developer sets up remote, then shares it to other developers...
Not even sure if this works, just a suggestion to try.

[2019-05-02 22:54] DerpyXD opened #2047 "[VS Code] Joining collaboration session: RPC connection closed due to client shut down."
## Error:
Joining collaboration session: RPC connection closed due to client shut down.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-48-generic|

[2019-05-02 23:50] Chuxel commented on #74
@wolf99 @unixfox This issue ended up covering quite a number of different scenarios over time  - which is part of the reason we opted to close it at this point and open new ones for anything people still felt were gaps that needed to be addressed.  (And we really appreciate all the feedback!!)

Here's where things are:

1. You can develop solo with these extensions.
2. You can install Live Share o

[2019-05-03 00:09] unixfox commented on #74
@Chuxel
Thank you for your complete reply.

Yes that's mainly the reason why I subscribed the issue, to have some kind of live share server that would stay running in background where developers could join whenever they want to develop without having the host connected.
Should I open a new issue for that?

[2019-05-03 00:41] Chuxel commented on #74
@unifox That would be awesome!  Thanks so much!

[2019-05-03 00:51] charlesg99 opened #2048 "Allow port forwarding to a host other than localhost"
Hello, currently the VSCode share server input (port or url) doesn't allow urls other than localhost. Would it be possible to allow port forwarding to other host:port combinations?

Take for instance a scenario with Vagrant/Docker/Freebsd jail where your source code is local, but mounted on the virtual machine/container/jail where a web server is running. To easily be able to live-share the web se

[2019-05-03 05:11] AbhijeetBhilare777 opened #2049 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-03 07:06] pjninnim commented on #1965
@IlyaBiryukov Thanks for taking a look. Not sure if something was updated since I posted the error. But I can no longer replicate the issue either. I'll keep an eye out and should it happen again I'll let you know.

[2019-05-03 07:06] #1965 closed

[2019-05-03 07:26] VbaGGz opened #2050 "[VS Code] Starting collaboration session: Invalid URI: The hostname could not be parsed."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3140939/LiveShareLogs.zip)

<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-03 13:48] SebHonorine commented on #2004
Sorry I've been busy. I'll try again next monday and send some more news. I m a noob on Linux OS and I ll try to get some more info and put it in here. Thanks

[2019-05-03 19:23] krazyito65 commented on #2030
I don't seem to have the 'no ssl1.0' issue.  (this was upgraded to 19.04 from 18.10, before i installed live share).  I get the same issue but it seems ssl1.0 is installed.  Although, I *thought* it was working the first time i installed it, but I could be wrong and mis-remembering from my windows environment.

![image](https://user-images.githubusercontent.com/479738/57160588-ca765300-6dae-11e9-8

[2019-05-03 19:31] fraronk commented on #2030
@krazyito65, I've installed it successfully, but  VSCode doesn't work properly anyway

[2019-05-03 19:52] markfields opened #2051 "[VS Code] Joining collaboration session: RPC connection closed due to client shut down."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3143367/LiveShareLogs.zip)

Here's what happened:
1. Connected to a liveshare session, happily pairing
2. Host locks his computer and goes to lunch.  Liveshare session lives on!
3. 15 min later his computer goes to sleep.  Liveshare session disappears :(
4. I drive into work
5. After lunch he opens his computer, session is sill

[2019-05-03 22:44] nandiniYeltiwar commented on #2047
Closing as dupe of #363

[2019-05-03 22:44] #2047 closed

[2019-05-03 22:47] nandiniYeltiwar commented on #2049
@AbhijeetBhilare777 Is this happening every time? Can you please share your logs?
You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-03 22:48] nandiniYeltiwar commented on #2048
Adding @IlyaBiryukov .

[2019-05-03 22:55] IlyaBiryukov commented on #2048
@lostintangent What do you think?

[2019-05-04 12:48] MaiconBruno opened #2052 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-04 13:39] samsungrocks10 commented on #2019
I have the same issue on Debian buster(10, not 9.0), i've installed libssl1.0.0 from the debian jessie repo, but it still doesn't work.

[2019-05-04 18:15] victorgmp opened #2053 "[VS Code] Joining collaboration session: [ms-vsliveshare.vsliveshare]: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api ms-vsliveshare.vsliveshare"
## Error:
Joining collaboration session: [ms-vsliveshare.vsliveshare]: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api ms-vsliveshare.vsliveshare

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVe

[2019-05-05 01:54] morrell commented on #2040
I had the same issue. I found that installing the older version of libssl alongside the newer one solved the issue for the time being.

wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl1.0/libssl1.0.0_1.0.2n-1ubuntu6_amd64.deb
sudo dpkg -i libssl1.0.0_1.0.2n-1ubuntu6_amd64.deb

After that I restarted vsc and all was well.

[2019-05-05 01:58] morrell commented on #1880
It's the same issue.. Install libssl 1.0 until they update.

See https://github.com/MicrosoftDocs/live-share/issues/2040

[2019-05-05 02:13] victorgmp opened #2054 "[VS Code] Joining collaboration session: [ms-vsliveshare.vsliveshare]: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api ms-vsliveshare.vsliveshare"
## Error:
Joining collaboration session: [ms-vsliveshare.vsliveshare]: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api ms-vsliveshare.vsliveshare

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVe

[2019-05-05 12:02] gaoyuhe opened #2055 "[VS Code] Joining collaboration session: RPC connection closed due to client shut down."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-05 12:39] mkmdyfan opened #2056 "[VS Code] Joining collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-05 15:32] JuliusS123 opened #2057 "[VS Code] [Audio] cannot stop call in Disconnected state"
## Error:
cannot stop call in Disconnected state

## Steps to Reproduce:
1. Joining Collabration
2. Joining Audio Call
3. Not Working
4. Error when pressing disconnect

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-20-generic|

[2019-05-05 18:07] EmilyRosina commented on #2040
@morrell Thank you! That worked for me :heart_eyes_cat:
![Yay!](https://media.giphy.com/media/l2YWCPLrCIaNc9QT6/giphy.gif)

[2019-05-05 22:41] Schmerzmittel opened #2058 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3146122/LiveShareLogs.zip)

## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1. Install VSCode on ParrotSec OS
2. Manually install Dotnet core
3. Install Live Share extension
4. A

[2019-05-06 01:29] thilompas opened #2059 "[VS Code] Joining collaboration session: Collaboration session not found."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-06 07:57] kongzhongloulan opened #2060 "[VS Code] Starting collaboration session:"
%0A%0A%23%23 Error:%0AStarting collaboration session: %0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.159|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0-insider|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-05-06 09:19] BUAA-CFan opened #2061 "How could I use Liveshare in complete LAN"
I have two computers which are in the same LAN. But all of them are not allowed to connect to WAN. So how could I use Liveshare? How could I create a link which belongs to LAN but not WAN or Does Liveshare support complete LAN? I know it can switch to Direct mode to share through LAN, but my problem is that I cannot build or join a session in a complete LAN environment. If this is not supported, p

[2019-05-06 16:49] nandiniYeltiwar commented on #2057
Adding @jasongin

[2019-05-06 16:49] nandiniYeltiwar commented on #2061
Adding @lostintangent .

[2019-05-06 16:50] nandiniYeltiwar commented on #2060
Can you please share your logs?
You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-06 16:50] nandiniYeltiwar commented on #2059
Can you please share your logs?
You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-06 16:53] nandiniYeltiwar commented on #2056
Can you please share your logs?
You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-06 16:54] nandiniYeltiwar commented on #2058
Adding @Priya91 .

[2019-05-06 16:55] nandiniYeltiwar commented on #2054
Can you please share your logs?
You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-06 16:56] nandiniYeltiwar commented on #2053
Closing this as dupe of #2054

[2019-05-06 16:56] #2053 closed

[2019-05-06 17:19] louisabraham commented on #74
A person mentioned https://coder.com
I just saw https://www.theia-ide.org/ which does about the same thing (serving vscode over the browser).

[2019-05-06 19:13] GrandSuccess87 opened #2062 "[VS Code] Joining collaboration session: Could not join the collaboration session as it has already reached the maximum of 5 participants."
## Error:
**Joining collaboration session: Could not join the collaboration session as it has already reached the maximum of 5 participants.**

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-05-06 19:47] Priya91 commented on #2058
dupe #2030

[2019-05-06 19:47] #2058 closed

[2019-05-06 19:48] Priya91 commented on #2019
dupe #2030

[2019-05-06 19:48] #2019 closed

[2019-05-06 20:52] nandiniYeltiwar commented on #2051
Adding @Priya91

[2019-05-07 06:32] rubennavarrete opened #2063 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-07 06:59] yan407953163 opened #2064 "[VS Code] Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-07 08:52] Bebbolus opened #2065 "ubuntu server installation .net prerequirements produce E: Package 'libssl1.0.0' has no installation candidate (!) libssl1.0.0 installation failed!"
Issue Type: <b>Bug</b>

local virtualmachine with ubuntu server 19.04.
start vscode insider with remote ssh extension connected with ubuntu server.
try start live share

terminal output:
----
(*) Verifying .NET Core dependencies...
Reading package lists...
Building dependency tree...
Reading state information...
libicu63 is already the newest version (63.1-6).
libkrb5-3 is already the newest versi

[2019-05-07 12:00] Designer-Escalar opened #2066 "[VS Code] Joining collaboration session: Cannot read property 'uri' of undefined"
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-07 14:04] Dr-Greg opened #2067 "[VS Code] Joining collaboration session: RPC connection closed."
.

[2019-05-07 14:04] #2067 closed

[2019-05-07 16:05] ChloieP opened #2068 "Out of sync"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2019-05-07 17:10] dlebu commented on #2068
@ChloieP Thanks for reaching out. In order to help us reproduce the issue, can you answer these follow up questions about the desync?

- What were you doing when you encountered the desync?
- How often have you encountered desyncs?

Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and

[2019-05-07 17:11] dlebu commented on #2066
@Designer-Escalar Thanks for reaching out! Can you give us more information about what you were trying to achieve when you got this error?

Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-07 17:24] str commented on #2065
I've just tried the same for Ubuntu desktop 19.04 and got the same issue.

[2019-05-07 17:26] str commented on #2065
I thnk this is dupe of #2030

[2019-05-07 17:28] dlebu commented on #2065
@str You are right, thanks. I will check with @Priya91 as she was working on the issue. Closing as a dupe of #2030

[2019-05-07 17:28] #2065 closed

[2019-05-07 17:35] dlebu commented on #2062
Hey! You can increase the maximum number of collaborators to 30 by changing the following setting:

"liveshare.increasedGuestLimit": true

Please re-open the issue if this does not fix your problem. Thanks!

[2019-05-07 17:35] #2062 closed

[2019-05-07 17:39] dlebu commented on #2064
Thanks for reaching out. This is a known issue, but all the bug reports help us understand the frequency of an issue and prioritizing our work. Did a retry fix the issue for you? Closing as a dupe of #1113.

[2019-05-07 17:39] #2064 closed

[2019-05-07 17:39] dlebu commented on #2063
Thanks for reaching out. This is a known issue, but all the bug reports help us understand the frequency of an issue and prioritizing our work. Did a retry fix the issue for you? Closing as a dupe of #1113.

[2019-05-07 17:39] #2063 closed

[2019-05-07 17:50] dlebu commented on #2030
@Priya91 has a fix for the issue and it will be available in the next release. We release weekly, so if everything goes as planned, the next release will be out next week.

[2019-05-07 18:27] GrandSuccess87 commented on #2062
Thank you very much!

On Tue, May 7, 2019 at 12:35 PM Daniel Lebu <notifications@github.com>
wrote:

[2019-05-07 18:53] emmielewis opened #2069 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
For some reason, I am on the west coast and someone on my team is from the east coast and I can't join the live share session.  Any ideas?

[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3154113/LiveShareLogs.zip)

[2019-05-07 19:50] jramsay commented on #1829
Closing this issue as it has been fixed in the latest **VS Live Share Audio** extension that is available in the VS Code Marketplace

[2019-05-07 19:50] #1829 closed

[2019-05-07 21:12] gcarothers opened #2070 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
%0A%0A%23%23 Error:%0AStarting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.125|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVers

[2019-05-07 21:22] gcarothers commented on #2070
The formating has come out fairly poorly :\

[2019-05-07 21:45] mooreaa opened #2071 "Stuck "Downloading dependencies: Finishing VS Live Share installation...""
I'm running macOS Mojave and have recently had to reinstall plugins on VS Code. Live Share has been stuck saying (in the status bar) "Downloading dependencies: Finishing VS Live Share installation..." and won't go away. Live Share is not working.

![image](https://user-images.githubusercontent.com/7118538/57335144-982e6380-70d6-11e9-85b3-b19f92416ac9.png)

I'm on VS Code Version 1.33.1 and I have

[2019-05-07 23:10] dlebu commented on #2070
@gcarothers Are you running on Ubuntu? If yes, your issue might be a dupe of #2030 . Please reopen if that is not the case. Thanks for using Live Share and please keep the feedback coming!

[2019-05-07 23:10] #2070 closed

[2019-05-07 23:12] gcarothers commented on #2030
Confirming this is also an issue on debian 10 (buster)

[2019-05-07 23:14] dlebu commented on #2071
To get unblocked, you can try deleting the following folder on your mac: `~\.vscode\extensions\ms-vsliveshare.vsliveshare-1.0.125` (or the equivalent folder if you are running an older extension folder), and try installing again.

To help us fix the underlying issue, we can get more information about it from your logs. You can access them via the `Live Share: Export Logs` command from the command

[2019-05-07 23:17] dlebu commented on #2069
@Priya91 Can you take a look?

[2019-05-07 23:22] dlebu commented on #1994
Closing as dupe of #2051

[2019-05-07 23:22] #1994 closed

[2019-05-07 23:22] Priya91 commented on #2069
Can you check if access to *.servicebus.windows.net on port 80/443 is blocked is blocked by your personal or corporate firewall. You can use direct connection mode if you are still blocked.

[2019-05-07 23:24] dlebu commented on #2055
Thanks for reaching out to us and for using Live Share. This seems to be a duplicate issue that we are already aware of. Please follow this initial issue for tracking purposes: #2051

[2019-05-07 23:24] #2055 closed

[2019-05-07 23:25] mooreaa commented on #2071
Thanks @dlebu removing that folder fixed it.

When I tried to open the Live Share: Export Logs, it would say Activating Plugin then go back to the Downloading dependencies, so somehow, it was stuck before the plug could properly initialize. Not sure if its a VS issue or an issue with this plugin. Either way, I find it strange that uninstalling the plugin didn't clear the issue.

[2019-05-07 23:31] dlebu commented on #2071
@mooreaa Glad you got unblocked. You can also get the logs manually at `$TMPDIR/VSFeedbackVSRTCLogs`.

[2019-05-07 23:37] dlebu commented on #2052
@MaiconBruno Did you get unblocked by any chance? This seems to be a duplicate of #1894. Please reopen if your repro steps are different than the ones described there.

[2019-05-07 23:37] #2052 closed

[2019-05-07 23:44] Priya91 commented on #2051
@markfields On this side, he should have gotten notification that his relay connection got disposed and people can connect only with direct mode. Since you moved to a different network where direct mode connection is not possible, you were not able to connect to him.

Regarding him starting a new session and you not able to connect, it could be because your corporate network that you moved to is b

[2019-05-07 23:45] dlebu commented on #2056
Thanks for reaching out! This seems to be a duplicate of #1113. Please re-open the issue if you believe that is not the case. Thanks for using LiveShare and please keep the feedback coming!

[2019-05-07 23:45] #2056 closed

[2019-05-07 23:46] mooreaa commented on #2071
[vslogs.zip](https://github.com/MicrosoftDocs/live-share/files/3154897/vslogs.zip)

Attached are my logs. Looks like that should cover pre and post fix.

[2019-05-07 23:49] dlebu commented on #2050
@legomushroom Can you take a look?

[2019-05-07 23:56] legomushroom commented on #2050
Hey @VbaGGz, thanks for the feedback! Curious if you tried to share an empty workspace or it had some folders(was it single or multiple folders)? This should give us the clue what was going on there. Thanks!

[2019-05-07 23:56] dlebu commented on #2071
Thanks for the logs! @setaskin Can you take a look?

[2019-05-08 03:24] lxcsjk commented on #2057
+ 1

[2019-05-08 03:26] lxcsjk commented on #2057
![image](https://user-images.githubusercontent.com/12620164/57347205-0b41e380-7184-11e9-8545-b7813b2d73d0.png)
![image](https://user-images.githubusercontent.com/12620164/57347224-1bf25980-7184-11e9-9f28-d9dd4fc6f3ef.png)
macos 10.14.4

[2019-05-08 04:27] VbaGGz commented on #2050
I just tried it with a different workspace and it works

[2019-05-08 04:29] VbaGGz commented on #2050
I'm on Windows 10 and I'm using an Ubuntu install Through the Windows store. from within that install I'm opening an instance of Visual Studio code.

[2019-05-08 04:31] VbaGGz commented on #2050
what is happening is it opening up an instance of Visual Studio code with the path set to the root directory "\\wsl$\Ubuntu-18.04\root\Work_Space>"

[2019-05-08 04:33] VbaGGz commented on #2050
when you try to run live share from that directory it seems to not work

[2019-05-08 04:35] legomushroom commented on #2050
@VbaGGz this makes sense now, this is indeed an interesting use case. Indeed we might have the file system issues in WSL setup. Let us investigate that. Is Visual Studio your primary tool, do you use VSCode sometimes?

[2019-05-08 04:58] VbaGGz commented on #2050
Are used use visual studio but mostly now are use the  vsxode

[2019-05-08 05:00] VbaGGz commented on #2050
apparently I just had a stroke mostly I just use Visual Studio code now

[2019-05-08 05:46] kevinsoh opened #2072 "VS Code Live Share not working | "Activating Extensions...""
Hi, I am a newbie and I need help.

[Live Share Export Logs.zip](https://github.com/MicrosoftDocs/live-share/files/3155661/Live.Share.Export.Logs.zip)

**Product and Version** [VS/VSCode]: 1.33.1
Commit: 51b0b28134d51361cf996d2f0a1c698247aeabd8
Date: 2019-04-11T08:20:22.771Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 5.0.0-13-generic

**OS Version** [macOS/W

[2019-05-08 05:57] kevinsoh commented on #2072
#2030

[2019-05-08 08:09] Eldadc commented on #786
Hi,

So in offline network without internet connections peer to peer direct connection can be establish ?
Can you please confirm it.
Thanks

[2019-05-08 10:39] ClausClaus opened #2073 "[VS Code] Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
## Error:
Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-05-08 15:46] Kierchon opened #2074 "[VS Code] [Audio] cannot stop call in Disconnected state"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3158166/LiveShareLogs.zip)

## Error:
cannot stop call in Disconnected state

## Steps to Reproduce:
1. I am unable to talk in the audio call and when I try and disconnect I get this error

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.

[2019-05-08 16:16] MzSiobhanSimeon opened #2075 "[VS Code] Joining collaboration session: Collaboration session not found."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-08 16:21] MzSiobhanSimeon commented on #2075
I have an issue with my live server

[2019-05-08 16:25] dlebu commented on #2074
Thanks for reaching out! This is an issue we are aware of, closing it as a duplicate of #2057 . Let's continue the conversation there. Thanks for using Live Share and please keep the feedback coming!

[2019-05-08 16:25] #2074 closed

[2019-05-08 16:28] dlebu commented on #2072
@kevinsoh @stjen Thanks for reaching out, we have a fix for this issue and it will be released next week. Closing as a duplicate of #2030. Thanks for using LiveShare and please keep the feedback coming!

[2019-05-08 16:28] #2072 closed

[2019-05-08 16:39] dlebu commented on #2075
@MzSiobhanSimeon Thanks for reaching out. Can you give us more details about the steps you took to encounter this problem? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-08 16:40] dlebu commented on #2073
Thanks for reaching out. This is a known issue, but all the bug reports help us understand the frequency of an issue and prioritizing our work. Did a retry fix the issue for you? Closing as a dupe of #1113.

[2019-05-08 16:40] #2073 closed

[2019-05-08 17:34] bbuchalter opened #2076 "[VS Code] Cannot read property 'sessionId' of undefined"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3158637/LiveShareLogs.zip)

## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1. Right click live share participants and click "follow participant to the side"
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|

[2019-05-09 03:11] codeview-ynl opened #2077 "[VS Code] Request was cancelled"
## Error:
Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.32.3|
|**platformName**|Linux|
|**platformVersion**|3.10.0-957.10.1.el7.x86_64|

[2019-05-09 08:02] eilgin opened #2078 "[VS Code] Opening source-controlled resource: Failed to show text document vsls:/api/services/AdamPermissionService.js, should show in editor #undefined"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3160945/LiveShareLogs.zip)

## Error:
Opening source-controlled resource: Failed to show text document vsls:/api/services/AdamPermissionService.js, should show in editor #undefined

## Steps to Reproduce:
1. Open files on the "Source Control" panel

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|

[2019-05-09 10:15] Alexico1969 opened #2079 "settings.json can't be found !?!"
I'm trying to "up" the amount of developers that can join a Live Share session, but I can't seem to find the file settings.json &lt;&lt;&lt;

What do ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94469a3-c226-ef02-3d17-c04e6b720455
* Version Independent ID: e419b6cc-9475-428d-c454-5c3c20c7f081
* Content: [FAQ - Vis

[2019-05-09 12:09] zhaoshouren commented on #341
would be interested in an on premise solution for organizations with restricted external network access.

[2019-05-09 12:16] VenkattaPidikiti opened #2080 "[VS Code] Cannot read property 'getCollaboratorCount' of undefined"
## Error:
Cannot read property 'getCollaboratorCount' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-05-09 12:18] VenkattaPidikiti opened #2081 "[VS Code] Cannot read property 'getCollaboratorCount' of undefined"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3162068/LiveShareLogs.zip)

## Error:
Cannot read property 'getCollaboratorCount' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Windows|
|**platfor

[2019-05-09 12:39] victornyamanga opened #2082 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|

[2019-05-09 12:55] victornyamanga opened #2083 "[VS Code] Joining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Joining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|*

[2019-05-09 13:05] victornyamanga opened #2084 "[VS Code] Joining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Joining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.125|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|*

[2019-05-09 13:07] #1043 closed

[2019-05-09 13:32] misaki1014 commented on #2029
I have the same issue. I reinstalled this extension a couple of times as well, but it didn't work.

[Misaki'sLog.zip](https://github.com/MicrosoftDocs/live-share/files/3162297/Misaki.sLog.zip)

macOS 10.14.4 Mojave (18E226)
Application Version: 1.33.1
Extension Version: 1.0.125

[2019-05-09 16:29] dlebu commented on #2079
Thanks for reaching out. Please try these steps:

- `File` -> `Preferences` -> `Settings`
- Select `Visual Studio Live Share` under `Extensions` on the left hand side
- Scroll a bit down and check `Liveshare: Increased Guest Limit`
- Share your  workspace again

[2019-05-09 16:45] xubb1988 commented on #1392
is  this  has been resolved ?,i set allow guest to start debuggering  session on the host, but it is not work,
[https://github.com/MicrosoftDocs/live-share/issues/32]  this issue said it been resolved.

[2019-05-09 16:49] xubb1988 commented on #1392
@jawn  hello ,is this bug had been resolved ,,if resolved ,how? thansk

[2019-05-09 16:50] xubb1988 commented on #1392
@jawn hello ,is this bug had been resolved?,,if resolved ,how? thanks

[2019-05-09 16:52] xubb1988 commented on #1392
is  this  has been resolved ?,i set allow guest to start debuggering  session on the host, but it is not work,
[https://github.com/MicrosoftDocs/live-share/issues/32]  this issue said it been resolved.

@setaskin  thanks

[2019-05-09 17:57] Alexico1969 commented on #2079
I applied your fix... looks like the thing I was looking for :-)

Will try it tomorrow in class :-)  (cause that's what I was planning on using it for .... ;-) )

[2019-05-09 18:32] jramsay commented on #1392
@xubb1988/@jawn:  thanks for reporting the issue! I tested on the latest version of Visual Studio 2019 using the latest VS Live Share extension (available in the Visual Studio Marketplace).  The guest was able to initiate a collaborative debug session.  One thing to note though is that you have to select the correct item from the _Select startup item_ dropdown.  If it is set to 'default' you'll ge

[2019-05-09 23:13] dlebu commented on #2084
Thanks for reaching out! We are aware of the issue and will release a fix early next week. Closing as duplicate of #2030 . Thanks for using LiveShare and please keep the feedback coming.

[2019-05-09 23:13] #2084 closed

[2019-05-09 23:13] dlebu commented on #2083
Thanks for reaching out! We are aware of the issue and will release a fix early next week. Closing as duplicate of #2030 . Thanks for using LiveShare and please keep the feedback coming.

[2019-05-09 23:13] #2083 closed

[2019-05-09 23:25] dlebu commented on #2082
Thanks for reaching out! We are aware of the issue and will release a fix early next week. Closing as duplicate of #2030 . Thanks for using LiveShare and please keep the feedback coming.

[2019-05-09 23:25] #2082 closed

[2019-05-09 23:28] dlebu commented on #2081
@legomushroom Can you take a look?

[2019-05-09 23:29] dlebu commented on #2080
Thanks for the feedback. It seems that two issues were open. Closing as a dupe of #2081.

[2019-05-09 23:29] #2080 closed

[2019-05-09 23:46] dlebu commented on #2077
Thanks for reaching out. Can you give us more details on your issue? Did a retry fix the problem? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-09 23:47] dlebu commented on #2076
Thanks for reaching out and for your logs! This is a duplicate of #1172 @legomushroom

[2019-05-09 23:47] #2076 closed

[2019-05-09 23:48] dlebu commented on #2078
@eilgin Thanks for reaching out and for using LiveShare! @daytonellwanger Can you take a look?

[2019-05-10 00:01] daytonellwanger commented on #2078
Hey @eilgin , I don't quite understand what you were trying to do, what the expected outcome was and what the actual outcome was. Did you try to open a diff from the source control viewlet and Live Share threw an error?

[2019-05-10 00:48] xubb1988 commented on #1392
@jramsay  thanks for you answer,my project is a  webapi project, i had set the web as default,and my live share version  is 1.0.132.0 ,i think is the lastet version, my host  os is win 7,my guest os is win10,
![TIM截图20190510084341](https://user-images.githubusercontent.com/17037219/57495295-13bf2900-7300-11e9-83a7-1ecb198155e7.png)
when  i set the gcl.serivce.mes. it also not work

[2019-05-10 02:40] scriptgod opened #2085 "[VS Code] Starting collaboration session: RPC connection closed."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-10 08:15] eilgin commented on #2078
I was just trying to open a file from the sc viewlet and the live share plugin just crashed. It's reproductible since i've got the same error this morning.

[2019-05-10 12:08] lzl1918 opened #2086 "Desync"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Windows (both the client and the host)
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]: Python

**What were you doing when you encountered the desync?**
The client creates a new file by copying & pasting & renaming in the expolorer within VSCode.
In the host side, the user can notice

[2019-05-10 12:41] AndresHurtadoRMT commented on #180
[`https://code.visualstudio.com/docs/editor/extension-gallery`](https://code.visualstudio.com/docs/editor/extension-gallery)

1. code --uninstall-extension ms-vsliveshare.vsliveshare-pack
2. code --uninstall-extension ms-vsliveshare.vsliveshare-audio
3. code --uninstall-extension ms-vsliveshare.vsliveshare
4. Command Pallete >Developer: Reload Window
5. Reinstall latest

[2019-05-10 14:33] TheIBAM opened #2087 "[VS Code] Joining collaboration session: Could not connect to the server. Check that you are connected to the internet."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-10 15:52] SebHonorine commented on #2004
So actuallyI can t get the network trace for the moment. I ll close the issue and open another one when i ll have more information on it. Sorry for the time lost

[2019-05-10 16:12] daytonellwanger commented on #2078
I just tried the repro - open a file from the sc viewlet - and it behaved as expected (I'm on the same version of VS Code and the Live Share extension). Is there anything unusual about your setup? Adding @IlyaBiryukov to investigate.

[2019-05-10 16:44] dlebu commented on #2030
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue. Thanks everyone for the feedback and for using Live Share!

[2019-05-10 16:44] #2030 closed

[2019-05-10 16:46] dlebu commented on #2082
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 16:46] dlebu commented on #2072
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 16:46] dlebu commented on #2070
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 16:46] dlebu commented on #2065
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 16:47] dlebu commented on #2019
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 16:47] dlebu commented on #2058
LiveShare version `1.0.181` was just released to the marketplace and contains a fix for this issue.

[2019-05-10 17:13] IlyaBiryukov commented on #2078
@eilgin I couldn't open the logs archive for some reason. Can you please get the logs and attach it again to this issue?

[2019-05-10 17:25] daytonellwanger commented on #2078
@IlyaBiryukov I was able to open the logs, but not with Windows unzipping tool. Try something like 7zip.

[2019-05-10 17:30] IlyaBiryukov commented on #2078
7zip worked for me. Thanks! Looking now...

[2019-05-10 17:31] str commented on #2065
[OT] I have 1.0.123, and I saw prev was 1.0.91  how do you pick the numbers for each release?

[2019-05-10 17:33] dlebu commented on #2085
This seems to be a duplicate of #1353 . However, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-10 17:36] dlebu commented on #2087
Thanks for reaching out. This seems to be a duplicate of a known issue, #1246 . Please re-open the bug if you believe that is not the case. Thanks for using LiveShare and please keep the feedback coming!

[2019-05-10 17:36] #2087 closed

[2019-05-10 17:41] #2004 closed

[2019-05-10 18:35] sirgloveface commented on #2019
Thank's a lot for all guys....

On Fri, May 10, 2019 at 12:47 PM Daniel Lebu <notifications@github.com>
wrote:

[2019-05-10 18:50] krazyito65 commented on #2030
Just installed `1.0.181` on my Ubuntu 19.04 laptop.  Seems to be working now!

[2019-05-10 19:41] daytonellwanger commented on #2086
Thanks for reporting @lzl1918 ! I think you're the first user to actually give a clear repro of a desync. We're working on this and will hopefully have a fix out soon. The issue is with renaming files, so in the meantime, to avoid desyncs, you may want to avoid this type of usage. I'll reach back out when we have this resolved.

[2019-05-10 20:43] suond opened #2088 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
## Error:
Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.181|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-

[2019-05-10 21:41] IlyaBiryukov commented on #2078
The issue comes from vscode.
I submitted the following bug for them:
https://github.com/microsoft/vscode/issues/73595

I also couldn't reproduce it locally.
Let's see what VSCode guys recommend.

[2019-05-11 00:00] Priya91 commented on #1836
Please upload your liveshare logs

[2019-05-11 00:11] dlebu commented on #2065
@str It is a function of the git tree.

[2019-05-11 11:56] xubb1988 commented on #1392
hello , i found the project property    had a output type  options like that:
 1. window application
2.  console application
3. class library

this is the picture

![TIM截图20190510090248](https://user-images.githubusercontent.com/17037219/57569371-ca1d2e00-7426-11e9-9d4d-16c1f24a540b.png)

 is  this the bug reason ? they no ather option to select, thanks for a lot

@setaskin @jramsay

[2019-05-11 12:08] raqushka opened #2090 "[VS Code] Joining collaboration session: RPC connection closed."
## Error:
Joining collaboration session: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.181|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2019-05-11 15:33] lostintangent commented on #2046
This is really great feedback! In the meantime, guests are actually able to detach from a debug session. So if the host wants to debug, but a guest doesn’t, then that situation would be currently supported. However, the host is always put into debug mode as soon as any guest wants to debug, so we don’t fully support an isolated debugging experience. We’ll use this issue to track this discussion.

[2019-05-11 20:44] alaaelgndy opened #2091 "[VS Code] Starting collaboration session: Request was cancelled"
## Error:
Starting collaboration session: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.181|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.32.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-47-generic|

[2019-05-12 03:40] derzzle commented on #1237
For contrast, I've been using Live Share EAP for a while now in both Code and VisStud Pro. The identical error started pooping out of VSCode about three days now.  Running on Windows 10 x64 with the Insider / Developer Options. Haven't noticed it on Ubuntu 16.04 or 19.xx,

I exported logs from VSCode, about two days worth. They are attached here as a Zip archive.
I attempted the manual launcher se

[2019-05-12 14:43] chinzuo opened #2092 "[VS Code] [Audio] connect ETIMEDOUT 198.18.1.114:443"
<!--
Attach verbose logs as follows:
1. Press F1 (or Ctrl-Shift-P), type export

[2019-05-13 08:31] 14312548 opened #2093 "[VS Code] Sharing Terminal: Object reference not set to an instance of an object."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-13 11:07] BusyWangFuGui opened #2094 "[VS Code] Starting collaboration session: Server error"
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-13 12:23] #2027 closed

[2019-05-13 15:27] emmielewis commented on #2069
I tried direct connection mode at the time and still received an issue.  I am in the same timezone as everyone else, so I will let you know if I have an issue again.

[2019-05-13 15:27] #2069 closed

[2019-05-13 17:10] IlyaBiryukov commented on #2078
@eilgin if you open developer tools in VSCode (Help -> Toggle Developer Tools) and reproduce the issue, do you see any errors in the console?

[2019-05-13 17:45] dlebu commented on #2094
@BusyWangFuGui Can you give us more details about your scenario? Did a retry fix it? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-13 17:46] dlebu commented on #2093
@14312548 Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-13 17:47] dlebu commented on #2092
@chinzuo Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-13 17:48] dlebu commented on #2091
@alaaelgndy Thanks for reaching out. Did a re-try fix your issue or does this happen constantly? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-13 17:49] dlebu commented on #2090
This seems to be a duplicate of #1353 . However, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-05-13 17:51] dlebu commented on #2088
Closing as dupe of #1935 Let's continue the conversation there. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to the issue.

[2019-05-13 17:51] #2088 closed

[2019-05-13 18:39] jramsay commented on #2038
@Conman1119: are you still having issues using VS Live Share?  I'm going to close this out for the moment but if you're still experiencing problems we'd love to help resolve them. If you can provide specific steps on the issue you're encountering we can reopen and triage this item.

[2019-05-13 18:39] #2038 closed

[2019-05-13 18:59] jramsay commented on #1998
@Xanter998: are you still able to repro this issue with the latest version of [VS Live Share](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsls-vs) (1.0.132.0). If so, it would be great if you could provide us with the logs mentioned above so we can help resolve the issue. Thanks!

[2019-05-13 19:07] Xanter998 commented on #1998
As soon as I get the occasion to use it again, I will inform you about the result.

[2019-05-13 19:08] jramsay commented on #2054
@victorgmp : thanks for reporting this issue! Can you try to install the latest version of our extension (1.0.181) available in the VS Code Marketplace.  If you're still hitting this issue, attaching the logs mentioned above would help with the investigation. thanks!

[2019-05-13 22:36] Juesto commented on #2045
This happens with VSCode versions that ship with a node version older than 8
https://stackoverflow.com/questions/46476741/nodejs-util-promisify-is-not-a-function

[2019-05-13 23:08] jramsay commented on #1998
@Xanter998: thanks!

[2019-05-13 23:14] jramsay commented on #2049
@AbhijeetBhilare777: thanks for reporting this issue! I'm going to close this issue as a duplicate of #2037. If you're still able to repro it, and have time to help, it would be much appreciated if can add the information requested above to that issue.

[2019-05-13 23:14] #2049 closed

[2019-05-13 23:18] jramsay commented on #2026
@mkmdyfan:  In approval-required mode, join requests time out if the host doesn't respond within 5 minutes. Is this what happened? If so, you can simply request to join the session again. Alternatively, your host can turn off guest approval (Settings > Liveshare: Guest Approval Required in VSCode, Tools > Options > Live Share > Require guest approval in VS).

I'm going to close this issue as by de

[2019-05-13 23:18] #2026 closed

[2019-05-14 00:33] alaaelgndy commented on #2091
@dlebu Yes when i re-tried issue has fixed . i hope not finding any issues again to use Export logs :D  , but in case i found any issue i ll for sure .
Thanks

[2019-05-14 00:33] #2091 closed

[2019-05-14 03:39] zitengziteng opened #2095 "hello"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-05-14 03:40] zitengziteng commented on #2095
// 函数调用
Keyword();

// 关键字排行TOP ---接口调用
createWebSocket("ws://" + serverhost + "/BigDataWeb/", "refushKeywordDatas");
function refushKeywordDatas(result) {
    var KeywordLine = echarts.init(document.getElementById('main3'));
    var data = JSON.parse(result);
    console.log(JSON.stringify(data))
    optionKeyword.yAxis.data  =  data.keyword.map(function(num) {
        return num.substring(0,3) ;

[2019-05-14 03:59] #2095 closed

[2019-05-14 09:27] mitsai2008 opened #2096 "Dysnc often in new build"
**Product and Version** [VS/VSCode]:VSCode
**OS Version** [macOS/Windows/Linux]:Windows
**Live Share Extension Version**:Latest
**Target Platform or Language** [e.g. Node.js]:Python 3
**What were you doing when you encountered the desync?**
Idle
**How often have you encountered desyncs?**
Very Often in the new build

[2019-05-14 11:03] mitsai2008 opened #2097 "[VS Code] Joining collaboration session: Collaboration session not found."
<!--
For Visual Studio problems/feedback
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3177274/LiveShareLogs.zip)
, please use the Report

[2019-05-14 12:19] eilgin commented on #2078
@IlyaBiryukov I couldn't reproduce the issue this morning although i've tried many times with my co-worker as we were tweaking some configurations (reconnection with his OS sessions, temporary loss of internet connections).
I'm keeping the dev tools opened and if the error is coming back again, i'll put the output here!

[2019-05-14 14:24] a876691666 opened #2098 "zjs"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-05-14 14:24] #2098 closed

[2019-05-14 17:36] jramsay commented on #2096
@mitsai2008: thanks for reporting this issue! Any additional information you could provide on the steps leading up tot he the desync would be greatly appreciated.  When you mention you were idle did you leave the Live Share collaboration open for a period of time and come back to it? (if so approximately how long)

Your logs may provide us with helpful information. You can access them via the `Liv

[2019-05-14 17:52] jramsay commented on #2096
@daytonellwanger: FYI

[2019-05-14 18:21] jramsay commented on #2097
@mitsai2008: Thanks for reaching out. Can you give us more details about the steps you took to encounter this problem? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to the following issue: #2075

I'm going to close this one as a duplicate of the other to consolidate th

[2019-05-14 18:21] #2097 closed

[2019-05-14 18:46] Priya91 commented on #2004
@SebHonorine We want to unblock you, and try our best to make liveshare work with all enterprise network. We have made several fixes since we released to unblock and adapt network policies. When you have time, please help us understand your scenario better, so we can make our product better for you. Thanks for using liveshare.

[2019-05-14 20:31] nico-bellante opened #2099 "[VS Code] Cannot create comment thread: vscode.Comment is not a constructor"
%0A%0A%23%23 Error:%0ACannot create comment thread: vscode.Comment is not a constructor%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.181|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0-insider|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17763|

[2019-05-14 21:04] petenet001 opened #2100 "VisualStudioCode terminal Bug"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-05-15 00:59] Chuxel opened #2101 "[VS Code Remote] Can't start Live Share session when using dev container"
This is a transfer of issue https://github.com/microsoft/vscode-remote-release/issues/323
logged by @ahayzen to the correct repository.

-----

- VSCode Version: 1.34.20-insider (57b550c559b945eb9d871dbf2b2e4cb9e31e2551)
- Local OS Version: Ubuntu 18.04.2
- Remote OS Version: Debian 9
- Remote Extension/Connection Type: Docker

Steps to Reproduce:

1. Setup a dev container with `ms-vsliveshare.vsl

[2019-05-15 01:01] Chuxel commented on #2101
@ahayzen The Live Share team has plans to improve the remote experience over time. As mentioned in the other issue, right now you need to click the "Show Code" in the sign in page to get the code that is pasted in here.   That said, things should work from there.

Can you attach the verbose logs as follows:

1. Press F1 (or Ctrl+Shift+P / Cmd+Shift+P), type "export logs" and run the "Live Share: E

[2019-05-15 08:44] ionutholbia opened #2102 "[VS Code] connect ENOENT /var/folders/nr/d04s84js4fx65vs9l0467t1cq1m0l5/T/CoreFxPipe_vscode.4d12531893f1742f68074a66ed32f0f5"
## Error:
connect ENOENT /var/folders/nr/d04s84js4fx65vs9l0467t1cq1m0l5/T/CoreFxPipe_vscode.4d12531893f1742f68074a66ed32f0f5

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.181|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-05-15 10:17] David-Else commented on #1633
Now you are out of beta I will try it again when I have an opportunity and see If I get more luck. Cheers.

[2019-05-15 10:17] #1633 closed

[2019-05-15 16:30] dylhack commented on #1836
I got it resolved

[2019-05-15 17:31] jramsay commented on #2100
@petenet001: Thanks for reporting this issue. Could you provide some more information about the terminal problem as well as steps to reproduce? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-05-15 17:42] jramsay commented on #2102
@ionutholbia: thanks for reporting this issue! It looks like at least a couple other people have experienced the same problem but we don't have repro steps just yet. Can you provide more details on what happened when you got this error and how it impacted you? Were you unable to share a collaboration session? Did the problem only happen once or are you able to reproduce it?

I'm going to close out

[2019-05-15 17:42] #2102 closed

[2019-05-15 17:51] jramsay commented on #2099
@IlyaBiryukov: assigning this to you for further investigation. Perhaps the commentsSupported() API check needs to be added to another location?

[2019-05-15 17:52] jramsay commented on #2099
@nico-bellante: thanks for reporting this issue!

[2019-05-15 18:00] Priya91 commented on #1669
This should be fixed now.

[2019-05-15 18:00] #1669 closed

[2019-05-15 18:34] sumanrajan opened #2103 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.182|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|

[2019-05-15 18:51] henkesteen opened #2104 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1. Click "Live Share"
2. The browser opens the sign in page
3. Sign in (with github in my case)
4. Successfull login in the browser, the error pops up in VSCODE

||Version Data|
|-:|:-|
|**extensionNa

[2019-05-15 18:53] #2104 closed

[2019-05-15 18:59] henkesteen opened #2105 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3184071/LiveShareLogs.zip)

## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1. Click "Live Share"
2. Sign in through the browser, success!
3. The error pops up in VSCode

FYI:
I

[2019-05-15 19:32] x30n commented on #69
@lostintangent was this feature removed? Can't seem to figure out how to get collaborative comments with Live Share (latest VS Code 1.33.1 or Insiders and Live Share 1.0.182)

[2019-05-15 19:52] ahayzen commented on #2101
@Chuxel Ah I didn't notice the "Having trouble? Click here for user code directions", I was instead trying to use the "code" in the URL which is different :')  OK, so copying this other code does then allow me to use live share :+1:

If there is already another issue tracking that the automatic code detection doesn't work (eg when you do this locally you don't need to manually copy the code) then

[2019-05-15 20:50] IlyaBiryukov commented on #2099
VSCode had changed their comment API in insiders recently, and that broke our integration.
I have fixed this already, and the fix will be available in the next release (not in 1.0.182 yet).

[2019-05-15 20:50] #2099 closed

[2019-05-15 22:37] Abdelrhmanali28299 opened #2106 "[VS Code] Starting collaboration session: Request was cancelled"
## Error:
Starting collaboration session: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.181|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-13-generic|

[2019-05-16 03:44] 9yues opened #2107 "[VS Code] Joining collaboration session: RPC connection closed due to client shut down."
<!--
For Visual Studio problems/feedback, please use the Report

[2019-05-16 05:59] nguyenvanthi opened #2108 "[VS Code] [Audio] Trying to start a call that has already been acted on"
## Error:
Trying to start a call that has already been acted on

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-18-generic|

[2019-05-16 08:28] borgdylan commented on #591
Same issue on Ubuntu 19.04. Even if going to download.microsoft.com works.

[2019-05-16 10:30] LucyGoSweat opened #2109 "live share is not syncing"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
creating a new file

**How often have you encountered desyncs?**
since we created the above new file, we could not see any changes either of us made

[2019-05-16 16:38] antoniott15 opened #2110 "[VS Code] [Audio] Already connected to a call. Ending current call. Retry audio join"
## Error:
Already connected to a call. Ending current call. Retry audio join

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.50|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Windows|
|**platformVersion**|18.5.0|

[2019-05-16 18:34] jramsay commented on #2105
@henkesteen: thanks for reporting this issue!

@Priya91: assigning to you for further investigation

[2019-05-16 18:37] jramsay commented on #2103
@sumanrajan: thanks for reporting this issue! I'm going to close it out as a duplicate of #2105 so we can consolidate the investigation there.

[2019-05-16 18:37] #2103 closed

[2019-05-16 18:40] jramsay commented on #2106
@Abdelrhmanali28299: Thanks for reaching out! Can you give us more details on your issue? Did a retry fix the problem? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to the following issue: #2077

I'm going to close this one out and we can continue the discussion on the

[2019-05-16 18:40] #2106 closed

[2019-05-16 18:43] jramsay commented on #2107
@9yues: thanks for reporting this issue! Can you give us more details on your issue? Did a retry fix the problem? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach themto the following issue: #2051

I'm going to close out this issue so we can consolidate the investigation in #2

[2019-05-16 18:43] #2107 closed

[2019-05-16 18:50] jramsay commented on #2109
@LucyGoSweat: Thanks for reaching out! Can you give us more details on your issue (Product and Version, OS Version, Live Share Extension and type of file you created.) Do you have a consistent repro for the desync?  Or repro steps on who created the new file, guest or host? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the

[2019-05-16 18:50] #2109 closed

[2019-05-16 18:53] jramsay commented on #2096
@LucyGoSweat also reported a desync after creating a new file.

[2019-05-16 19:57] jramsay commented on #2108
@nguyenvanthi: thanks for reporting this issue! I'm going to close it as a duplicate of #2110 to consolidate the investigation.

[2019-05-16 19:57] #2108 closed

[2019-05-16 19:57] jramsay commented on #2110
@antoniott15: thanks for reporting the issue!

[2019-05-16 20:28] daytonellwanger commented on #2096
@jramsay do you have the issue #?

[2019-05-17 01:47] anyAAA opened #2111 "issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**
[ZLC27C9.zip](https://github.com/MicrosoftDocs/live-share/files/3189592/ZLC27C9.zip)

1.
2.

[2019-05-17 08:28] AlexisBD opened #2113 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.182|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|

[2019-05-17 09:42] sallyhill opened #2114 "[VS Code] Joining collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AJoining collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-05-17 12:12] math-alpha opened #2115 "[VS Code] Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
## Error:
Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.182|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-48-ge

[2019-05-17 12:31] mohammedalnaggar opened #2116 "[VS Code] Could not connect to the server. Check that you are connected to the internet."
%0A%0A%23%23 Error:%0ACould not connect to the server. Check that you are connected to the internet.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.16299|

[2019-05-17 13:40] PetriJJ opened #2117 "Allow guests to view all files in project and open them"
Currently guests can only see the source files that the host has opened.
Would it be possible to allow guests to see and open all source files in the project, and create new files if needed.

**This would make the sharing very useful, because:**
1. You can navigate in the project. Right now when the guest tries to use "Edit->Go to file", they don't see the source files in the project.
2. Situation

[2019-05-17 15:13] Caldeiradas opened #2118 "command 'liveshare.startFromActivityBar' not found"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

[LS Logs.zip](https://github.com/MicrosoftDocs/live-share/files/3192066/LS.Logs.zip)

I started using Live Share on ALL MY UNIVERSITY WORKS since one may e two years ago and now that I need it the most, it doesn'

[2019-05-17 15:21] Caldeiradas opened #2119 "[VS Code] Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again"
%0A%0A%23%23 Error:%0AJoining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersi

[2019-05-17 17:45] jramsay commented on #2115
@math-alpha: thanks for reporting this issue! I'm going to close it out as a duplicate of #2105 so we can consolidate the investigation there.

[2019-05-17 17:45] #2115 closed

[2019-05-17 17:45] jramsay commented on #2113
@AlexisBD: thanks for reporting this issue! I'm going to close it out as a duplicate of #2105 so we can consolidate the investigation there.

[2019-05-17 17:45] #2113 closed

[2019-05-17 18:00] Priya91 commented on #2105
@henkesteen Can you confirm if .NET Core is supported and works on your Linux distro? Liveshare uses .NET core, please try using liveshare from one of the supported Linux distros.

[2019-05-17 18:01] Priya91 commented on #1836
Ok, closing issue.

[2019-05-17 18:01] #1836 closed

[2019-05-17 18:46] mandalorianbob opened #2120 "Joining collaboration session: Invalid connection URI:"
Issue Type: <b>Bug</b>

Trying to connect VS Code to a Live Share that's in 2019. It shows the Workspace name that's open in 2019, so it's definitely connecting. However, midway through the connection process it suddenly fails with the error "Invalid connection URI:" with that colon. Logs attached.

[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3192687/LiveShareLogs.zip)
Ex

[2019-05-17 20:45] anocweb opened #2121 "[VS Code] Starting collaboration session: Object reference not set to an instance of an object."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3193039/LiveShareLogs.zip)
%0A%0A%23%23 Error:%0AStarting collaboration session: Object reference not set to an instance of an object.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|

[2019-05-17 21:11] jramsay commented on #2119
@Caldeiradas: thanks for reporting this issue! I see you also filed another issue #2118 that contains the logs. I'll close this one out and will continue the discussion there as they appear to be due to the same cause.

[2019-05-17 21:11] #2119 closed

[2019-05-17 21:20] jramsay commented on #2118
@Caldeiradas: thanks for reporting this! Sorry to hear you've been having trouble. I've taken a look through the logs and it looks like this could be an issue due to a deprecated download of the latest version. Can you try the following and let me know if it resolves the issue:

1. From _VS Code_ uninstall VS Live Share.
2. Close _VS Code_
3. Ensure the _VS Live Share_ extension is completely remo

[2019-05-17 22:03] jramsay commented on #2117
@PetriJJ: thanks for the feedback! The scenario you mentioned above should now be supported (if I'm reading it correctly). Have you tried installing the latest Live Share extension from the [Visual Studio MarketPlace](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsls-vs)? We recently added support for "Solution View" so if the host is sharing a solution that contains multiple

[2019-05-17 22:07] jramsay commented on #2114
@sallyhill: thanks for reporting this issue! This seems to be a duplicate of #1353 so I'm going to resolve this issue to consolidate the investigation. Your logs may provide us with helpful information to further the investigation. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to active issue #1353.

[2019-05-17 22:07] #2114 closed

[2019-05-17 22:56] jramsay commented on #2121
@anocweb: thanks for reporting the issue!

@Priya91: looking at the logs the exception occurs in the agent on:

 VSLSAgent/1.0.182.38495 VSLS/2.2 PlatformName/Microsoft Windows 10.0.17763 PlatformVersion/6.2.9200.0

Exception in workspace.shareWorkspace request handler: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Cascade.Common.ProtocolConve

[2019-05-17 23:14] jramsay commented on #2116
@mohammedalnaggar: thanks for reporting this issue! Is it still occurring or was this a temporary connectivity issue?

If is still an issue, are you behind a proxy? These docs may be able to help:
https://github.com/MicrosoftDocs/live-share/blob/master/docs/reference/connectivity.md
https://github.com/MicrosoftDocs/live-share/blob/master/docs/troubleshooting.md

If this doesn't help, your logs may

[2019-05-17 23:20] jramsay commented on #2111
@anyAAA:  thanks for reporting a problem. Unfortunately the zip attached does not contain LiveShare logs and there is no information above.  I'm going to close this item but if you're still experiencing an issue please respond with a brief explanation of the problem and we can help you out!  Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` co

[2019-05-17 23:20] #2111 closed

[2019-05-18 08:54] PetriJJ commented on #2117
Hi, thanks for the response.
That's great to hear that this is how it's meant to work.
I will try to find reproduction steps on monday when i get back to work. Perhaps it's our project setup or something.. i'll get back to you.
Cheers.

[2019-05-18 11:17] Caldeiradas commented on #2118
From a programmer to a PROgrammer, many thanks!

[2019-05-18 11:17] #2118 closed

[2019-05-19 05:40] quank123wip opened #2122 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
%0A%0A%23%23 Error:%0AStarting collaboration session: An error was encountered while querying information from the operating system.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0-insider|%0A|**platformName**|Linux|%0A|**p

[2019-05-19 05:40] #2122 closed

[2019-05-19 20:13] bjschafer commented on #2096
I've been noticing this as well. I've attached some logs, and here's some more info:

**Product and Version [VS/VSCode]**: VSCode
**OS Version [macOS/Windows/Linux]**: Linux and Windows
**Live Share Extension Version**: 1.0.182
**Target Platform or Language [e.g. Node.js]**: Python 3
**What were you doing when you encountered the desync?**
Either idling or typing code & saving
**How often have you

[2019-05-19 23:38] asalas91 opened #2123 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
%0A%0A%23%23 Error:%0AStarting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVers

[2019-05-20 01:50] OcaOcaD opened #2124 "[VS Code] Joining collaboration session: RPC connection closed due to client shut down."
%0A%0A%23%23 Error:%0AJoining collaboration session: RPC connection closed due to client shut down.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-05-20 07:56] IjimaTakeshi opened #2125 "[VS Code] Starting collaboration session: Cannot start 'ShareWorkspaceAsync' while 'ShareWorkspaceAsync' is running."
%0A%0A%23%23 Error:%0AStarting collaboration session: Cannot start 'ShareWorkspaceAsync' while 'ShareWorkspaceAsync' is running.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersi

[2019-05-20 08:51] Ruishu123 opened #2126 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-20 11:31] henkesteen commented on #2105
@Priya91
I actually have 2 computers with Solus installed. One MacBook Pro and the other one is an Acer laptop.
On my MacBook, liveshare works like a charm, but on the other one, I got this error.

[2019-05-20 13:54] cbanner opened #2127 "[VS Code] Error when attempting to join collaboration session: "Agent terminated with exit code: 0 and signal null""
**Product and Version**: VSCode 1.34.0
**OS Version**: Windows_NT x64 10.0.17763
**Live Share Extension Version**: 1.0.182

Installed Live Share extension for VSCode for the first time. Attempts to join a collaboration session consistently result in a series of error being presented in the Notifications pane:

![image](https://user-images.githubusercontent.com/954640/58024811-044e9580-7ae1-11e9-80

[2019-05-20 15:58] daytonellwanger commented on #2096
Interesting that you two are both working on Python. Have you been able to find a consistent way to reproduce the problem? If you try with a different language, does it also repro?

[2019-05-20 15:58] daytonellwanger commented on #2096
Additionally, you may try disabling the Python extension and seeing if it repros.

[2019-05-20 16:58] daytonellwanger commented on #2096
@rchiodo have you noticed any issues?

[2019-05-20 17:03] rchiodo commented on #2096
No, but we don't have many people using this yet.

[2019-05-20 18:55] Priya91 commented on #2105
@henkesteen From your logs, looks like the native libssl lib pointers are different from what .net core expects. I've filed issue https://github.com/dotnet/corefx/issues/37815

[2019-05-20 19:50] unixfox opened #2128 "Ability to let the liveshare (opened trough VSCode remote) running even if the host left"
This feature request is a following of [my feedback](https://github.com/MicrosoftDocs/live-share/issues/74#issuecomment-488875327) on the issue #74.

Currently, if the host leave the liveshare opened trough VSCode Remote the session ends and guest(s) get(s) disconnected from it.

My feature request is to have an ability to leave the liveshare running even if the host is not present/left so that gu

[2019-05-20 23:13] Priya91 commented on #1353
For the Linux issue, what distro is it on? This could be related to a corrupted install or failure to start the org.freedesktop.secrets service. Knowing the specific Linux distro where this happened and installing the right package can fix the issue.

[2019-05-20 23:17] Priya91 commented on #1353
dupe #224

The attached issue has solution and steps to diagnose the problem.

[2019-05-20 23:17] #1353 closed

[2019-05-21 00:31] jramsay commented on #2123
@asalas91: thanks for reporting this issue! I'going to close it out as a duplicate of #2105 so we can consolidate the investigation there.

[2019-05-21 00:31] #2123 closed

[2019-05-21 00:33] jramsay commented on #2124
@OcaOcaD: thanks for reporting this issue! This appears to be a duplicate of an issue we are already tracking #2051. I'm going to close this issue to consolidate the investigation.

[2019-05-21 00:33] #2124 closed

[2019-05-21 00:37] jramsay commented on #2125
@IjimaTakeshi: thanks for reporting this issue!
Could you provide some more info about what you were doing when you encountered this? Did you perhaps double click the share button? Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to issue #1969

I'm going to close it as a dupli

[2019-05-21 00:37] #2125 closed

[2019-05-21 00:38] jramsay commented on #2126
Thanks for reporting this, @Ruishu123. I'm going to close this issue as a duplicate of #1935, please join the discussion there.
Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to #1935 .

[2019-05-21 00:38] #2126 closed

[2019-05-21 00:41] bjschafer commented on #2096
I will note that this happened consistently when my partner's machine was the source. We switched roles and I hosted the session, and we were able to work consistently for at least an hour without issue.

So either it's specific to (win32 host and python), or there's a potential issue with my colleague's machine. I'll ask him if he can grab logs.

[2019-05-21 01:00] jramsay commented on #2127
@cbanner : thanks for reporting this! The bulk of the time people hit this issue it is due to a corrupt install of the latest extension so you instincts are good. You've already tried to reinstall the extension but perhaps you can confirm the following:

You mentioned your extension directory is:

C:\Users\chba**.**vscode\extensions.

This seems a little different than expected - did you customize

[2019-05-21 01:13] jramsay commented on #2116
Closing as a duplicate of #2037.  @mohammedalnaggar: if you're still hitting this issue let's consolidate the investigation and continue the discussion in #2037. thanks!

[2019-05-21 01:13] #2116 closed

[2019-05-21 06:34] mitsai2008 commented on #2096
Hey sorry for the late reply, here's the logs!
[desync.zip](https://github.com/MicrosoftDocs/live-share/files/3201067/desync.zip)

[2019-05-21 12:41] cbanner commented on #2127
Thanks for the response @jramsay. And apologies for the typo in the path to the extensions folder, mentioned in my initial comment. It is, in fact, in "C:\Users\chba\.vscode\extensions". This is technically slightly different than the path that you mentioned in your comment. The value of my %USERPROFILE% variable does not include a trailing slash. So, one would need to be inserted between the vari

[2019-05-21 15:16] rodrigovaras commented on #2127
Hi, if the problem is still happening can you check the log files by looking into this folder:
%temp%\VSFeedbackVSRTCLogs\
The file we are looking now has the form:
201905xx_xxxx_Agent.log
Try to find the latest file and upload it here so we can take a look, if there is anything suspicious there.

Are you still seeing all the notifications error that you mention in your original report?

[2019-05-21 16:28] Orans94 opened #2130 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-05-21 16:36] cbanner commented on #2127
Hi @rodrigovaras -- I've attached the most recent log from that directory, which fits your pattern.
[20190520_185034_Agent.log](https://github.com/MicrosoftDocs/live-share/files/3203569/20190520_185034_Agent.log)

I didn't see any errors in that log, however I do see the error appearing in the most recently modified file in the directory. (It doesn't meet the filename pattern that you specified.)

[2019-05-21 16:56] rodrigovaras commented on #2127
Hi @cbanner , thanks for the logs. I notice the more interesting file 'agent.log' is missing to pair the vscode log file. I would suggest some steps to make sure we got a clean repro steps.
1) Shutdown all vscode instances
2) Open task manager and ensure there is no vsls-agent.exe process running, if there is it kill it.
3) Clear the folder that contains the logs

Open vscode again and after the e

[2019-05-21 17:56] GadsDev opened #2131 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-21 18:36] kiesslig95 opened #2132 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.182|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-21 18:42] hutchcodes commented on #718
Yes @lostintangent, it would be very helpful to have the specific list of DNS hosts to block. We looked into blocking *.servicebus.windows.net:443, but that's a bid of a broad brush and we had other services that relied on that.

[2019-05-21 19:05] cbanner commented on #2127
No problem. After following those steps, a new 20190521_..._VSCode.log file was generated but there was no accompanying ..._Agent.log generated. Perhaps because the agent is terminating before it can do so?

Attached the one log that was generated:
[20190521_190217_15584653374800_VSCode.log](https://github.com/MicrosoftDocs/live-share/files/3204052/20190521_190217_15584653374800_VSCode.log)

[2019-05-21 20:51] rodrigovaras commented on #2127
Thanks again, for some reason the agent process is not able to run on your machine. Either the installation is corrupt or there the .NET installation is facing a n unknown error.
Two options to try (in this order).
1) Open a command prompt and cd to 'C:\Users\chba\.vscode\extensions\ms-vsliveshare.vsliveshare-1.0.182\dotnet_modules'. Type vsls-agent.exe and report if you see an error or something

[2019-05-22 07:26] anaisnisimov opened #2133 "[VS Code] Joining collaboration session: Cannot read property 'createCommentController' of undefined"
## Error:
Joining collaboration session: Cannot read property 'createCommentController' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-38-generic|

[2019-05-22 07:40] RomLAURENT opened #2134 "[VS Code] Starting collaboration session: Object reference not set to an instance of an object."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3206198/LiveShareLogs.zip)
%0A%0A%23%23 Error:%0AStarting collaboration session: Object reference not set to an instance of an object.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|

[2019-05-22 08:33] inirudebwoy commented on #708
Hi,

Really like the feature of being able to share my session. I use it to share what I'm working on at work.
The pain of keeping people updated was big enough so I created extension that keeps a static link that will not change (unless I guess vscode is reinstalled) and when URL is opened it redirects to live share session.

Instead of starting session with Live Share extension you start your li

[2019-05-22 08:44] christofferlindstrom opened #2135 "[VS Code] Joining collaboration session: Cannot read property 'createCommentController' of undefined"
## Error:
Joining collaboration session: Cannot read property 'createCommentController' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.30.2|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-05-22 11:32] GecikaDM opened #2136 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-22 12:33] sexyoung opened #2137 "[VS Code] Starting collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AStarting collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-05-22 13:11] compostbrain opened #2138 "Randomly deletes parts of files...and has bad lag when pairing"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-05-22 13:24] cbanner commented on #2127
Option #1 produced no unusual output. It ended with the message that you suggested.
Option #2 is one that I believe [we've already tried](https://github.com/MicrosoftDocs/live-share/issues/2127#issuecomment-494200667).

To investigate further, I ran Procmon to try to understand what was attempting to access a bogus path (the "C:\d" mentioned in the error). Curiously, Procmon indicated that Terminu

[2019-05-22 13:24] lndsy-cherry opened #2139 "[VS Code] Joining collaboration session: Cannot read property 'createCommentController' of undefined"
## Error:
Joining collaboration session: Cannot read property 'createCommentController' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.26.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2019-05-22 14:44] gregwalls opened #2140 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
%0A%0A%23%23 Error:%0AStarting collaboration session: An error was encountered while querying information from the operating system.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0-insider|%0A|**platformName**|Linux|%0A|**p

[2019-05-22 15:56] rodrigovaras commented on #2127
Well, this is getting very weird. Are you suggesting that liveshare is attempting to launch our agent (which BTW is not any electron app) and instead of that we get somehow another path to another exe ? Clearly the 'terminus' app has an affect on liveshare. When you say liveshare extension works as expected what that means? You say you put a 'fake' exe there to overcome the problem, but did you se

[2019-05-22 17:26] cbanner commented on #2127
If the source in the notification pane can be trusted, I'm suggesting that some chain of events beginning with the launch of the Live Share agent is resulting in an attempt to launch an app that is not one that I would have expected.

(My speculation about Electron stems from noticing that Visual Studio Code's About dialog lists an Electron version. Just trying to share as much info as I can about

[2019-05-22 22:46] tam116 opened #2141 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
Attempting to start a live share session using the WSL remote exstention fails with "System.IO.DirectoryNotFoundException: Could not find a part of the path '/proc/sys/net/ipv4/conf/eth0/forwarding'".

This path doesn't exist in WSL (see https://github.com/Microsoft/WSL/issues/2868)

[2019-05-22 23:11] lostintangent commented on #307
This issue has been fixed in the latest release! Let us know if you run into any issues with this experience 👍

[2019-05-22 23:11] #307 closed

[2019-05-22 23:12] lostintangent commented on #732
This issue has been fixed in the latest release, so if you update your Live Share extension, you should be good to go 👍

[2019-05-22 23:12] #732 closed

[2019-05-23 04:33] rodrigovaras commented on #2127
i think we know the source of the problem and is related with your 'terminus' installation. We will be working on a solution that you may try even with your app being installed, stay tuned

[2019-05-23 07:32] dkrion opened #2142 "[VS Code] Starting collaboration session: Already connected to a workspace."

[2019-05-23 09:06] Joachimdj opened #2143 "[VS Code] Joining collaboration session: Cannot read property 'createCommentController' of undefined"
## Error:
Joining collaboration session: Cannot read property 'createCommentController' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.31.1|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-05-23 09:07] Joachimdj commented on #2143
Tried to open af liveshare link from a friend and it came up with this error.

[2019-05-23 13:15] matthojo commented on #2141
Duplicate of https://github.com/MicrosoftDocs/live-share/issues/2140 ?

[2019-05-23 13:17] matthojo commented on #2140
I also get this error. For me this happens only when connected to WSL via remote workspace.

[2019-05-23 13:28] cbanner commented on #2127
That's great. I'm happy to help verify the change when its available. Thanks for sticking with such an odd one.

[2019-05-23 14:00] hamzawii opened #2144 "[VS Code] Cannot read property 'sessionId' of undefined"
%0A%0A%23%23 Error:%0ACannot read property 'sessionId' of undefined%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-05-23 14:03] razorwu1994 opened #2145 "[VS Code] [Audio] Calling module not available. \\%3F\C:\Users\Razor\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.50\node_modules\slimcore-3.0\bin\slimcore.node is not a valid Win32 application.\\%3F\C:\Users\Razor\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.50\node_modules\slimcore-3.0\bin\slimcore.node"
%0A%0A%23%23 Error:%0ACalling module not available. \\%3F\C:\Users\Razor\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.50\node_modules\slimcore-3.0\bin\slimcore.node is not a valid Win32 application.
\\%3F\C:\Users\Razor\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.50\node_modules\slimcore-3.0\bin\slimcore.node%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|

[2019-05-23 14:03] #2145 closed

[2019-05-23 17:04] rodrigovaras commented on #2135
Duplicate of #2133

[2019-05-23 17:04] rodrigovaras commented on #2143
Duplicate of #2108

[2019-05-23 17:09] rodrigovaras commented on #2133
@Priya91 , can you take a look at this? There other 2 dups of the same problem

[2019-05-23 18:18] jackkoppa commented on #1152
Hi @jonwchu - we noticed that the Preview version is the only one that comes up with `liveshare`:
<img width="378" alt="Screen Shot 2019-05-23 at 1 17 03 PM" src="https://user-images.githubusercontent.com/14101491/58276483-2fddb400-7d5d-11e9-93d7-09a3f2209bee.png">

Whereas the correct, non-preview version is the first result for `live share`
<img width="378" alt="Screen Shot 2019-05-23 at 1 17 14

[2019-05-23 18:31] IlyaBiryukov commented on #2143
The bug is in the code where Live Share detects if the comment API is present in VSCode. As a workaround, you can upgrade VSCode to the latest version.

[2019-05-23 18:32] IlyaBiryukov commented on #2139
Dupe of #2143. As a workaround, you can upgrade VSCode to the latest version

[2019-05-23 18:32] #2139 closed

[2019-05-23 18:32] IlyaBiryukov commented on #2135
Dupe of #2143. As a workaround, you can upgrade VSCode to the latest version.

[2019-05-23 18:32] #2135 closed

[2019-05-23 18:32] IlyaBiryukov commented on #2133
Dupe of #2143. As a workaround, you can upgrade VSCode to the latest version.

[2019-05-23 18:32] #2133 closed

[2019-05-23 18:42] IlyaBiryukov commented on #2143
Another workaround would be to change `Liveshare: Feature Set` VSCode setting to 'stable`.

I have the fix ready, we're going to ship it with the next release.

[2019-05-23 18:44] Priya91 commented on #2142
@dkrion The error implies that you tried to share a workspace, when vscode was already shared/joined to a collaboration session.

If that was not the case attach logs to help us diagnose the problem. You can get them by running "Liveshare: Export Logs" from vscode command palette.

[2019-05-23 18:45] Priya91 commented on #2141
Yes, closing dupe.

[2019-05-23 18:45] #2141 closed

[2019-05-23 18:46] Priya91 commented on #2140
Attempting to start a live share session using the WSL remote exstention fails with "System.IO.DirectoryNotFoundException: Could not find a part of the path '/proc/sys/net/ipv4/conf/eth0/forwarding'".
This path doesn't exist in WSL (see microsoft/WSL#2868)

[2019-05-23 18:47] Priya91 commented on #2140
@jasongin You had previously worked on this issue right, where GetAllNetworkInterfaces was failing on WSL.. Is this error by design, or do we need to file a bug for this?

[2019-05-23 18:48] Priya91 commented on #2137
@sexyoung Attach liveshare logs by running command "Liveshare: export logs" from vscode command palette.

[2019-05-23 18:49] Priya91 commented on #2138
@compostbrain Can you provide repro steps, and other diagnostic information. Please attach liveshare logs by running command "Liveshare: Export logs" from vscode command palette.

[2019-05-23 18:51] Priya91 commented on #2136
@GecikaDM As the error message states, you are using ConnectionMode as Relay and we are not able to connect to our relay from your network. Follow the diagnostic documentation here (https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity) to unblock yourself. If you still have the issue, then attach your liveshare logs by running the command "LiveShare: Export logs" from vsc

[2019-05-23 19:24] hairarrow opened #2146 "[VS Code] Joining collaboration session: Cannot get the response back because the session has been disconnected."
%0A%0A%23%23 Error:%0AJoining collaboration session: Cannot get the response back because the session has been disconnected.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**

[2019-05-23 21:54] rodrigovaras commented on #2127
Would you mind to install this private vsix (remove the .txt extension) ? It should be able to work with your terminus app.

[vsliveshare-1.1.0-dev.vsix.txt](https://github.com/MicrosoftDocs/live-share/files/3214295/vsliveshare-1.1.0-dev.vsix.txt)

[2019-05-24 00:48] onecentlin opened #2147 "[VS Code] Joining collaboration session: Invalid connection URI:"
I click `Try joining yourself` button, but get error message: `Joining collaboration session: Invalid connection URI:`

Report log:

```%0A%0A%23%23 Error:%0AJoining collaboration session: Invalid connection URI: %0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VS

[2019-05-24 01:01] diafarad opened #2148 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to the host. Verify both you and the host are online.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion

[2019-05-24 03:54] elfinsanjaya12 opened #2149 "[VS Code] Joining collaboration session: The specified hostname isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified hostname isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platf

[2019-05-24 06:35] gizemocak commented on #2045
I am having the same issue.

- MacOS high sierra version 10.13.6
- Node v10.13.0

I tried the steps suggested here: https://github.com/MicrosoftDocs/live-share/issues/197#issuecomment-382424092

but it did not help.

[2019-05-24 07:19] CyberMew commented on #1323
I also encountered this issue, I believe it was because new guests are trying to connect in, but the session is no longer valid, but the extension still shows it as 'valid'. I restarted vscode and the extension reseted the view and it had the option to create new collaboration, which generated a new link and all was fine again.

tldr; restart vscode, create a new session link.

[2019-05-24 15:51] MHFDoge opened #2150 "[VS Code] Sharing Terminal: Terminal shell configuration property "terminal.integrated.shell.windows" is empty"
[lsexport.zip](https://github.com/MicrosoftDocs/live-share/files/3217670/lsexport.zip)
%0A%0A%23%23 Error:%0ASharing Terminal: Terminal shell configuration property "terminal.integrated.shell.windows" is empty%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode

[2019-05-24 15:53] IlyaBiryukov commented on #2078
VSCode couldn't do anything about it either. Closing this issue as not actionable. Please re-activate if you see it again.

[2019-05-24 15:53] #2078 closed

[2019-05-24 16:10] s0v1x opened #2151 "[VS Code] Starting collaboration session: Connexion impossible au serveur. Live Share nécessite openssl 1.0 pour l'authentification. Vérifiez que vous avez installé la dépendance."
%0A%0A%23%23 Error:%0AStarting collaboration session: Connexion impossible au serveur. Live Share nécessite openssl 1.0 pour l'authentification. Vérifiez que vous avez installé la dépendance.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**application

[2019-05-24 16:34] jasongin commented on #2140
The issue was fixed in .NET Core 2.2 as https://github.com/dotnet/corefx/issues/26476. I verified that the fix will resolve the issue with Live Share, however Live Share has not yet updated to 2.2.

[2019-05-24 19:05] arjun92homebiz opened #2152 "[VS Code] Joining collaboration session: Could not connect to the server. Check that you are connected to the internet."
%0A%0A%23%23 Error:%0AJoining collaboration session: Could not connect to the server. Check that you are connected to the internet.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platform

[2019-05-24 21:39] usmanfarooq-dev opened #2153 "VS2019 All the guests can see each other's cursors even in ReadOnly mode"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. Host shares the readonly session.
2. All the joining guests can see each other's cursors along with host's cursor (which seems quite distracting)
3. In readonly session guests should only see host's cursor and

[2019-05-25 06:49] Luchiwis opened #2154 "Live-Share Guest debugging"
**Product and Version** :Vscode 1.34
**OS Version** :Windows
**Live Share Extension Version**: v1.0.123
**Target Platform or Language**:Python

**Steps to Reproduce / Scenario:**

1. Start collaboration session
2.More Info
3.press "Try Joining Yourself"
4.(On participant(non host)) press debugg and start debugging
5. there's a sign that says: "The host doesn’t allow starting the debugger. If neede

[2019-05-25 17:42] lostintangent commented on #2154
@Luchiwis Apologies for the confusion! If you open the `Settings` window, and then search for `livesharedebug`, you'll find the `Enable Guest Debug Control` setting. If you check that, then guests can start the debugger on their own. We turn this off by default as a security mechanism.

<img width="443" alt="Screen Shot 2019-05-25 at 10 40 23 AM" src="https://user-images.githubusercontent.com/1164

[2019-05-25 18:59] Sk8rus opened #2155 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|6.1.7601|

[2019-05-25 20:21] lostintangent commented on #1351
@DotNetRussell I'm going to close this issue in favor of the new [VS Code Remote extensions](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) likely being the answer to your use case :) Please feel free to re-open it if I'm mistaken.

[2019-05-25 20:21] #1351 closed

[2019-05-25 20:21] lostintangent commented on #1425
This should now be resolved in the latest Live Share update! Let us know if you run into any problems. Thanks!

[2019-05-25 20:21] #1425 closed

[2019-05-25 20:25] lostintangent commented on #1934
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:25] #1934 closed

[2019-05-25 20:25] lostintangent commented on #1939
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:25] #1939 closed

[2019-05-25 20:25] lostintangent commented on #1940
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:25] #1940 closed

[2019-05-25 20:26] lostintangent commented on #1955
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:26] #1955 closed

[2019-05-25 20:27] lostintangent commented on #1986
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:27] #1986 closed

[2019-05-25 20:27] lostintangent commented on #1984
Closing this issue due to inactivity. Please re-open it if you're continuing to encounter this problem. Thanks!

[2019-05-25 20:27] #1984 closed

[2019-05-25 20:29] lostintangent commented on #2048
I think we should definitely handle this scenario! I believe this request is similar to #264. So maybe we could close it as a dupe?

[2019-05-25 20:30] lostintangent commented on #2079
Thanks for checking in! I'll close this issue for now, but let us know if you ran into any issues. Thanks!

[2019-05-25 20:30] #2079 closed

[2019-05-25 20:33] lostintangent commented on #2155
This issue indicates that you tried to join a session that's no longer active. I'm going to close this as by design, but please re-open it if you believe you experienced this error with a valid session. Thanks!

[2019-05-25 20:33] #2155 closed

[2019-05-25 20:40] lostintangent commented on #1507
Re-opening this since it's actually a feature request not a bug.

[2019-05-25 20:58] lostintangent commented on #2012
I'm going to close this issue for now, assuming that the Team Chat extension is sufficient. That said, please re-open it if you run into any problems and/or it doesn't satisfy your requirements. Thanks!

[2019-05-25 20:58] #2012 closed

[2019-05-25 21:03] lostintangent commented on #2011
When a guest joins the session, they will automatically follow the host. In turn, if the host follows a guest, then all other guests would in turn transitively start following the guest that the host is now following. So some of this experience is already possible today.

That said, what we don't currently enable, is the host being able to force users to be pinned and/or denying read-only users fr

[2019-05-25 21:03] #2011 closed

[2019-05-25 21:08] lostintangent commented on #2013
If the student drag-and-drops a file from their desktop into the solution (in VS Code), then it would actually upload the file to the host's machine. That way, they don't have to copy-and-paste the contents manually. I'm going to close this for now, since I believe it should unblock your requirements already. But please re-open it if you run into issues. Thanks!

[2019-05-25 21:08] #2013 closed

[2019-05-25 21:14] lostintangent commented on #2010
I think we're planning to implement #2009, and so I'm going to close this issue as unnecessary per your description above. That said, please re-open it if you think it's still necessary. Thanks!

[2019-05-25 21:14] #2010 closed

[2019-05-26 02:11] charlesg99 commented on #2048
Hello lostintangent, I saw the issue you are referring to before opening this one, but I don't think it is quite the same as it pertains to a dns problem. In the scenario I propose, the dns resolution would be handled on the host side and the guest would be oblivious to it. I agree it is similar though, so feel free to close this one if you can come up with a solution that resolves both issues. Th

[2019-05-26 10:08] knickheal75 opened #2156 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
## Error:
Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.32.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-

[2019-05-26 12:52] hisasu00 opened #2157 "[VS Code] Joining collaboration session: Cannot read property 'createCommentController' of undefined"
## Error:
Joining collaboration session: Cannot read property 'createCommentController' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2019-05-26 14:34] MrWOLFF24 opened #2158 "[VS Code] Joining collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AJoining collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|17.7.0|

[2019-05-26 17:48] huicongzhang opened #2159 "[VS Code] Starting collaboration session: RPC connection closed."
## Error:
Starting collaboration session: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.249|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.33.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-50-generic|

[2019-05-26 18:58] Daniel-McGlinchy opened #2160 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-27 07:48] Ramnikov opened #2161 "[VS Code] The collaboration session expired. Please sign in and try again."
%0A%0A%23%23 Error:%0AThe collaboration session expired. Please sign in and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-05-27 18:19] edmilsonneves opened #2162 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Linux|%0A|**platformVersion**|4.15.0-50-generic|

[2019-05-27 18:20] edmilsonneves commented on #2162
io

[2019-05-27 19:33] Stancobridge opened #2163 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-28 04:22] harit1234 opened #2164 "[VS Code] Sharing Terminal: Error converting value {null} to type 'System.Int32'. Path '[0].rows'."
%0A%0A%23%23 Error:%0ASharing Terminal: Error converting value {null} to type 'System.Int32'. Path '[0].rows'.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-05-28 05:08] DaddyBA commented on #2046
In current state, if a participant doesn’t want the debugging, they just unfollow the host?

[2019-05-28 12:34] cbanner commented on #2127
Thanks @rodrigovaras. I'll give this a shot this evening.

[2019-05-28 13:36] Gas-Helio opened #2165 "[VS Code] Starting collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AStarting collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Linux|%0A|**platformVersion**|4.15.0-30deepin-generic|

[2019-05-28 18:08] NapoleonDLP opened #2166 "[VS Code] Joining collaboration session: Zero handles should be represented as null."
%0A%0A%23%23 Error:%0AJoining collaboration session: Zero handles should be represented as null.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-05-28 18:51] lostintangent commented on #1223
@bradwallen Would something like this be interesting? https://github.com/johnpapa/vscode-peacock/pull/144

[2019-05-29 00:42] Priya91 commented on #2166
@NapoleonDLP Can you attach the liveshare logs, you can get them by running "Liveshare: Export logs" command from vscode command palette.

[2019-05-29 00:45] Priya91 commented on #2165
Can you attach the liveshare logs, you can get them by running "Liveshare: Export logs" command from vscode command palette.

[2019-05-29 00:48] Priya91 commented on #2158
Attach liveshare logs by running command "Liveshare: export logs" from vscode command palette.

[2019-05-29 00:48] Priya91 commented on #2159
Attach liveshare logs by running command "Liveshare: export logs" from vscode command palette.

[2019-05-29 00:48] Priya91 commented on #2165
dupe #2159

[2019-05-29 00:48] #2165 closed

[2019-05-29 00:49] Priya91 commented on #2158
dupe #2137

[2019-05-29 00:49] #2158 closed

[2019-05-29 00:50] Priya91 commented on #2164
Attach liveshare logs by running command "Liveshare: export logs" from vscode command palette.

[2019-05-29 00:51] Priya91 commented on #2163
Attach liveshare logs by running command "Liveshare: export logs" from vscode command palette.

Follow troubleshooting tips here to unblock yourself, https://github.com/MicrosoftDocs/live-share/blob/master/docs/troubleshooting.md#connectivity

If still having issue, reopen with logs.

[2019-05-29 00:51] #2163 closed

[2019-05-29 00:52] Priya91 commented on #2162
This is not a bug, the host has closed the session. We should not be having report a problem for this information message. @setaskin can you take a look?

[2019-05-29 00:59] Priya91 commented on #2161
Looks like we detected the workspace was expired while trying to send heartbeat to connect to service. @dlebu Can you take a look? If this is by design, then we should not show "Report a problem" to GitHub for this information message.

@Ramnikov Can you attach liveshare logs, you can get them by running "liveshare: export logs" from vscode command palette.

[2019-05-29 01:02] Priya91 commented on #2157
This should be fixed in the next release.

cc @IlyaBiryukov

[2019-05-29 01:02] Priya91 commented on #2160
dupe #2156

[2019-05-29 01:02] #2160 closed

[2019-05-29 01:03] Priya91 commented on #2153
cc @IlyaBiryukov Can you take a look?

[2019-05-29 01:08] Priya91 commented on #2156
@knickheal75 Can you attach your liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-29 01:08] Priya91 commented on #2156
Can you follow the instructions here to see if your network is blocking access to our relay: https://github.com/MicrosoftDocs/live-share/blob/master/docs/troubleshooting.md#connectivity

[2019-05-29 01:15] Priya91 commented on #2154
Hoping the answer by @lostintangent answered your question and unblocked your. Closing issue.

[2019-05-29 01:15] #2154 closed

[2019-05-29 01:15] Priya91 commented on #2152
@knickheal75 Can you attach your liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-29 01:16] Priya91 commented on #2157
dupe #2143

[2019-05-29 01:16] #2157 closed

[2019-05-29 07:29] Jasata commented on #2007
Just a brief update. University allocated some resources for us and we will have three interns over this summer dedicated in programming education development (moving things along faster). We should be able to arrange a test-lecture with large(ish) number of participants during next month. If those experiences are of interest to you, I am happy to summarize them here.

[2019-05-29 09:20] Njunu-sk opened #2167 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-29 12:50] hlbjermajeed opened #2168 "[VS Code] Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
%0A%0A%23%23 Error:%0ACould not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName*

[2019-05-29 15:42] compostbrain commented on #2138
[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/3233257/livesharelogs.zip)
I am usually pairing on a rails 5 application with files that can be up 500 lines or more. The remote person is driving when we have issues.

[2019-05-29 15:43] compostbrain commented on #2138
This would be really great if it weren't for these frustrating issues...

[2019-05-29 16:19] Romario17 opened #2169 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
%0A%0A%23%23 Error:%0AStarting collaboration session: An error was encountered while querying information from the operating system.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0-insider|%0A|**platformName**|Linux|%0A|**p

[2019-05-29 17:49] Priya91 commented on #2138
500 lines of code should not be that huge a file, we have tested with bigger projects. Can you provide more information on your network connectivity, are you using relay or direct connection? How far is the guest from you? Same network or globally from different azure regions? Can you clarify "randomly deletes parts of files"? Is liveshare making actual file edits that is not expected? Attaching a

[2019-05-29 17:53] Priya91 commented on #507
Fix upgrade to .netcore 2.2

[2019-05-29 17:53] Priya91 commented on #2140
dupe #507

[2019-05-29 17:53] #2140 closed

[2019-05-29 17:53] Priya91 commented on #507
@jasongin mentions "The issue was fixed in .NET Core 2.2 as dotnet/corefx#26476. I verified that the fix will resolve the issue with Live Share, however Live Share has not yet updated to 2.2."

[2019-05-29 17:54] Priya91 commented on #2169
dupe #507

[2019-05-29 17:54] #2169 closed

[2019-05-29 17:55] Priya91 commented on #1246
This is now fixed.

[2019-05-29 17:55] #1246 closed

[2019-05-29 17:56] Priya91 commented on #2151
@sov1x Can you upload your logs, you can get them by running "Export: liveshare logs" from vscode command palette.

[2019-05-29 17:57] Priya91 commented on #2168
dupe #2151

[2019-05-29 17:57] #2168 closed

[2019-05-29 17:57] Priya91 commented on #2151
dupe #2105

[2019-05-29 17:57] #2151 closed

[2019-05-29 17:59] Priya91 commented on #2167
This is not a bug, looks like you entered a link in unexpected liveshare format. @setaskin This message should not have report a problem. Can you take a look?

[2019-05-29 19:09] Priya91 commented on #2149
Not a bug, this is by design, we only accept urls created by liveshare service for starting/joining a session.

[2019-05-29 19:09] #2149 closed

[2019-05-29 19:10] Priya91 commented on #2150
@IlyaBiryukov Can you take a look..

[2019-05-29 19:10] Priya91 commented on #2148
Refer to the connectivity troubleshooting tips here: https://github.com/MicrosoftDocs/live-share/blob/master/docs/troubleshooting.md#connectivity

[2019-05-29 19:10] #2148 closed

[2019-05-29 19:11] Priya91 commented on #2136
dupe #2131

[2019-05-29 19:11] #2136 closed

[2019-05-29 19:12] Priya91 commented on #2131
Can you attach your logs, run command "Liveshare: Export logs" from vscode command palette.

[2019-05-29 19:14] Priya91 commented on #2132
This is by design.

[2019-05-29 19:14] #2132 closed

[2019-05-29 19:15] Priya91 commented on #2137
closing due to inactivity.

[2019-05-29 19:15] #2137 closed

[2019-05-29 19:16] Priya91 commented on #2134
from the logs:
One of the workspace root paths is null. @cait1inhennessy Can you take a look?

[code]

[2019-05-29 19:18] Priya91 commented on #2142
Closing as by design.

[2019-05-29 19:18] #2142 closed

[2019-05-29 19:19] Priya91 commented on #2130
This is by design, looks like the host unshared. @setaskin Another instance where we don't want to show report a problem.

[2019-05-29 19:19] #2130 closed

[2019-05-29 19:20] Priya91 commented on #2146
@hairarrow Looks like you got disconnected from the session, joining again should resolve this for you. If that is not the case, can you describe the bug more, and also attach your logs by running "Liveshare: Export logs" from vscode command palette.

Closing issue as by design.

[2019-05-29 19:20] #2146 closed

[2019-05-29 19:22] Priya91 commented on #2120
@jramsay can you take a look..

[2019-05-29 19:23] Priya91 commented on #2147
dupe #2120

[2019-05-29 19:23] #2147 closed

[2019-05-29 19:24] Priya91 commented on #2144
@hamzawii Can you attach the logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-29 19:24] Priya91 commented on #2144
dupe #1172

[2019-05-29 19:24] #2144 closed

[2019-05-29 20:12] WAXKz opened #2170 "[VS Code] Joining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
%0A%0A%23%23 Error:%0AJoining collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.249|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersi

[2019-05-29 20:39] IlyaBiryukov commented on #2150
It's a change in VSCode, we have a fix, it is shipping with the next release of Live Share

[2019-05-29 20:39] #2150 closed

[2019-05-29 20:53] bradwallen commented on #1223
Yup! I think that's definitely on the right track.

[2019-05-30 00:55] michellelnc22 opened #2171 "[VS Code] Joining collaboration session: Cannot get the response back because the session has been disconnected."
%0A%0A%23%23 Error:%0AJoining collaboration session: Cannot get the response back because the session has been disconnected.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**

[2019-05-30 00:56] michellelnc22 commented on #2171
I keep getting disconnected during Live Sessions. Restarting VS code works temporarily but every few minutes I get disconnected.

[2019-05-30 03:14] lostintangent commented on #2007
Hey! Those experiences would definitely be of interest to us 😁 Did you want to setup a quick call to discuss any details, to make sure our team is fully supporting this effort? If so, feel free to ping me at joncart@microsoft.com.

[2019-05-30 08:02] mohanmonu777 opened #2172 "[VS Code] [Audio] Calling module not available. libnode.so: cannot open shared object file: No such file or directory"
%0A%0A%23%23 Error:%0ACalling module not available. libnode.so: cannot open shared object file: No such file or directory%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Linux|%0A|**platformVersion**|4.19.45-1-MANJARO|

[2019-05-30 12:52] davidmonje opened #2173 "[VS Code] Opening source-controlled changes: Request sourceControl.getDiffForResource failed with message: Cannot read property 'path' of undefined"
%0A%0A%23%23 Error:%0AOpening source-controlled changes: Request sourceControl.getDiffForResource failed with message: Cannot read property 'path' of undefined%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformN

[2019-05-30 14:22] cbanner commented on #2127
Hi @rodrigovaras -- I was able to launch and join live share sessions using the build of the extension that you shared. To verify I:
* Uninstalled the existing version of the Live Share extension (and removed any of the lingering folders that we've previously discussed).
* Installed the latest build of Terminus and verified that it was functioning.
* Installed the build of the extension that you s

[2019-05-30 15:52] cait1inhennessy commented on #2134
I'll take a look.

[2019-05-30 17:54] marklio opened #2174 "There should be instructions for installing on VS2019"
The doc says it is installed by default with a supported workload, but on my install this wasn't true. After looking for the options a while, I realized it wasn't installed and had to manually install the component via the installer. The docs should have some instructions in case other folks are in this predicament.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-05-30 17:58] Priya91 commented on #2170
dupe #2105

[2019-05-30 17:58] #2170 closed

[2019-05-30 17:59] Priya91 commented on #2171
@michellelnc22 Can you attach your logs to help us diagnose and fix the issue. You can get them by running "Liveshare: Export logs" command from command palette.

[2019-05-30 18:00] Priya91 commented on #2172
Can you upload your liveshare logs, you can get them running "Liveshare: Export logs" from vscode command palette.

@jasongin

[2019-05-30 18:01] Priya91 commented on #2173
Upload liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-30 18:14] Priya91 commented on #2174
cc @lostintangent

[2019-05-30 18:35] attempted opened #2175 "Shared Terminal window doesn't adjust text position after resize"
Logs:
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/3238287/logs.zip)

**Product and Version** [VS/VSCode]: VSCode 1.34
**OS Version** [macOS/Windows]: macOS 10.14.5
**Live Share Extension Version**: 1.0.311

**Steps to Reproduce / Scenario:**
1. Start Live Share session
2. Share Terminal (read/write)
3. Resize terminal window a few times

**Screenshots**
![Screencast 2019-05-30 at

[2019-05-30 18:59] smckaysmalley opened #2176 "[VS Code] Joining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.3

[2019-05-30 19:13] matsennin opened #2177 "[VS Code] [Audio] StartCall"
%0A%0A%23%23 Error:%0AStartCall%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|10.0.17763|

[2019-05-30 20:25] lostintangent commented on #2174
Apologies! Out of curiosity: could you share which workloads you have installed? We’ll update our docs, but we may need to include Live Share in additional VS workloads as well.

[2019-05-30 20:53] #1978 closed

[2019-05-30 21:15] marklio commented on #2174
I definitely have .net core and asp.net installed, which was why I assumed I should already have it.

[2019-05-30 22:07] murlakatamenka commented on #2172
Well, I guess you can have my logs in the meantime. Running the same VS Code 1.34 on Arch Linux here. Also issue #2042 is the same and occurs on Manjaro as well.

---

## Error:
Calling module not available. libnode.so: cannot open shared object file: No such file or directory

## Steps to Reproduce:
1. Start Live Share Session
2. `Your ID` from the status bar -> `Start of Join Audio Call`

||Vers

[2019-05-30 23:35] lostintangent commented on #1974
I'm going to close this for now since it isn't a Live Share issue. As discussed, we include Team Chat for it's **Live Share native chat support**, not its Discord support. If needed, it would be great to carry this conversation further on the Team Chat repo.

[2019-05-30 23:35] #1974 closed

[2019-05-30 23:57] IlyaBiryukov commented on #2173
I think I know where the bug may be lurking. We'll ship the fix in the upcoming or the next release.

[2019-05-31 05:08] WilverC opened #2178 "[VS Code] RPC connection closed."
%0A%0A%23%23 Error:%0ARPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|17.7.0|

[2019-05-31 08:45] Misspouladgar opened #2179 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
<!--
For Visual Studio problems/feedback, please use the Reportjjjjjjjk

[2019-05-31 10:15] hajirazin opened #2180 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-05-31 10:30] mohanmonu777 commented on #2172
Hey Thanks for the reply.
I'm in Linux and can't able to solve the issue. As it's important for me to
attend a collab I just hop into windows.

On Thu 30 May, 2019, 11:31 PM Lakshmi Priya Sekar, <notifications@github.com>
wrote:

[2019-05-31 13:47] nephast opened #2181 "[VS Code] [Audio] write EPROTO 4370388416:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../../vendor/node/deps/openssl/openssl/ssl/record/ssl3_record.c:252:"
%0A%0A%23%23 Error:%0Awrite EPROTO 4370388416:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:../../vendor/node/deps/openssl/openssl/ssl/record/ssl3_record.c:252:
%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformNam

[2019-05-31 14:47] LeandroHaraoka opened #2182 "[VS Code] [Audio] cannot stop call in Disconnected state"
%0A%0A%23%23 Error:%0Acannot stop call in Disconnected state%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|10.0.17763|

[2019-05-31 15:25] ashager121 opened #2183 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-05-31 17:21] allenoleksak opened #2184 "Support collaboration for webview tabs"
Currently when using live share you don't seem to be able to open webviews collaboratively.  We have extensions that utilize webviews to edit json files.  It would be nice for the user to be able to  collaboratively view the same webview.

[2019-05-31 17:32] Priya91 commented on #2175
Thanks for reporting the issue. @IlyaBiryukov Can you take a look..

[2019-05-31 17:35] Priya91 commented on #2176
@smckaysmalley Did you sign out and sign in and then try again, as the error message says?

[2019-05-31 17:36] Priya91 commented on #2177
Not sure what the issue is, please reopen with more info.

[2019-05-31 17:36] #2177 closed

[2019-05-31 17:37] Priya91 commented on #2178
@WilverC Can you upload the liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-31 17:38] Priya91 commented on #2179
Another instance of the failure, will let @legomushroom  and @setaskin to debug this.

[2019-05-31 17:39] Priya91 commented on #2180
@hajirazin Can you attach your liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-31 17:41] hajirazin commented on #2180
@Priya91 , it is solved in next subsequent try.

[2019-05-31 17:41] #2180 closed

[2019-05-31 17:44] IlyaBiryukov commented on #2175
This is VSCode bug https://github.com/microsoft/vscode/issues/73496

The problem is that they don't fire an event when the terminal height increases. They only fire it on decrease. I'm going to close this issue as external.

[2019-05-31 17:44] #2175 closed

[2019-05-31 17:55] setaskin commented on #2167
Hey, @Njunu-sk , thanks for reporting this. It would be great if you can give us some more info for investigation. Did you think this was a copy paste failure, did you joined the session when you tried again ? and how the host send you the link? ( via e-mail, messenger ect.)

@Priya91 we are still investigating whether this is a real error or just a copy paste mistake , so we will still let user t

[2019-05-31 18:12] setaskin commented on #2179
Hi @mrspouladgar , thanks for reporting this. Would you give us some more info for investigation. Did you think this was a copy paste failure, did you joined the session when you tried again ? and how the host send you the link? ( via e-mail, messenger ect.)

[2019-05-31 18:32] IlyaBiryukov commented on #2173
The fix will release on week of 06/10.

[2019-05-31 18:32] #2173 closed

[2019-05-31 18:51] Priya91 commented on #2181
@nephast Can you upload the liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

cc @jramsay

@setaskin The platform name in the github descriptions says "Windows" but the error is about openssl, most likely from the platform version this is on mac. Looks like we have detected the platform wrong here. Can you follow up, or assign to the right owner..

[2019-05-31 18:53] Priya91 commented on #2182
@LeandroHaraoka Can you upload the liveshare logs, you can get them by running "Liveshare: Export logs" from vscode command palette.

[2019-05-31 19:22] attempted commented on #2175
Thanks! Figured it was live share related since it only happens to me in a shared terminal window, never in a standard terminal window.

[2019-05-31 21:18] Priya91 commented on #2042
dupe #2172 Closing this as the other issue has logs attached

[2019-05-31 21:18] #2042 closed

[2019-05-31 21:19] Priya91 commented on #2172
@jramsay Can you take a look..

[2019-05-31 21:19] Priya91 commented on #2183
Looks like the session got unshared, ask the host to generate a new link.

[2019-05-31 21:19] #2183 closed

[2019-05-31 21:21] Priya91 commented on #2184
cc @lostintangent

[2019-05-31 21:26] Priya91 commented on #2184
By webview, are you referring to this: https://code.visualstudio.com/api/extension-guides/webview

I would assume it should work since running the WebView will be a local vscode command. And the required workspace resources will be got through liveshare rpc. Can you attach a gif of what you are seeing and what liveshare can do to improve the experience?

[2019-05-31 21:30] allenoleksak commented on #2184
Yes that is what i'm referring to.  We have a VS Code extension that uses that API to create different webviews.  I don't have a gif, but i can say when we tried it, only text editor tabs show up for the person joining the session.  They don't see any of the tabs with webviews at all.

Behind the scenes in vscode, i believe the tabs containing webviews may be treated a little differently than norm

[2019-05-31 21:50] Priya91 commented on #2184
Hmm, the extension that creates the WebView can use the liveshare APIs to make it behave the way it expects.. The api can be found here: https://www.npmjs.com/package/vsls

The [team-chat](https://marketplace.visualstudio.com/items?itemName=karigari.chat) extension which also uses a WebView for chat, supports chatting in a liveshare session by using our APIs. Maybe this will work for you too.

[2019-06-01 04:51] Morgorath opened #2185 "Unable to Connect or Join LiveShare Session"
Product Version: VS Code v1.34.0 (System Setup)
OS: Windows 10 Pro Build 1703
Live Share Version: 1.0.311

Refer Issue# 1836. Same device.

Carried out a reset on Surface. Reinstalled VSCode and LiveShare Extension.
Came up with "Agent terminated with exit code: 0 and signal null:" on startup.
When trying to connect to/start a session from the Live Share pane, error comes up. "command 'liveshare.j

[2019-06-01 08:05] vlnerable opened #2186 "[VS Code] Starting collaboration session: Object reference not set to an instance of an object."
%0A%0A%23%23 Error:%0AStarting collaboration session: Object reference not set to an instance of an object.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.18362|

[2019-06-01 16:37] DeniseAreza opened #2187 "Live Share Problem"
[LiveShare.zip](https://github.com/MicrosoftDocs/live-share/files/3243992/LiveShare.zip)

**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-06-01 18:35] lostintangent commented on #2184
We don’t currently have any plans to automatically synchronize WebViews, because the API is too low-level for us to know if/how it should be synchronized. As @Priya91 mentioned, we have an [SDK](https://npmjs.com/vsls) that allows extensions to make custom web views fully collaborative. If you share the extension you’re building, we could chat through what it might look like to add Live Share supp

[2019-06-01 19:29] allenoleksak commented on #2184
Ok.  Thank you that is very helpful.  We will discuss next steps.

Get Outlook for Android<https://aka.ms/ghei36>

On Sat, Jun 1, 2019 at 11:35 AM -0700, "Jonathan Carter" <notifications@github.com<mailto:notifications@github.com>> wrote:

We don’t currently have any plans to automatically synchronize WebViews, because the API is too low-level for us to know if/how it should be synchronized. As @P

[2019-06-02 03:50] UniLu419 opened #2188 "[VS Code] Joining collaboration session: spawn cmd.exe ENOENT"
%0A%0A%23%23 Error:%0AJoining collaboration session: spawn cmd.exe ENOENT%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17763|

[2019-06-02 08:32] harmonyt7 opened #2189 "Sync issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2019-06-02 15:05] lostintangent commented on #1223
@bradwallen We just published the integration with Peacock, so if you download that extension, and run the `Peacock: Change Color For When You Are a Live Share Host`, you can specify the color you want VS Code to use when you're sharing. By default, Peacock only updates the title bar, but if you want it to update the activity bar and/or status bar as well, you can set the following settings.

I'm

[2019-06-02 15:05] #1223 closed

[2019-06-02 16:50] Awgo opened #2190 "[VS Code] Joining collaboration session: spawn cmd.exe ENOENT"
Error: Joining collaboration session: spawn cmd.exe ENOENT

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.311|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.34.0|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-06-02 18:56] arendvincent opened #2191 "[VS Code] Cannot read property 'getCollaboratorCount' of undefined"
%0A%0A%23%23 Error:%0ACannot read property 'getCollaboratorCount' of undefined%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.18885|

[2019-06-02 19:13] arendvincent opened #2192 "[VS Code] Cannot read property 'getCollaboratorCount' of undefined"
%0A%0A%23%23 Error:%0ACannot read property 'getCollaboratorCount' of undefined%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.18885|

[2019-06-02 23:20] kwaring555 opened #2193 "[VS Code] Joining collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
%0A%0A%23%23 Error:%0AJoining collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|

[2019-06-03 05:42] trd-wilfredo opened #2194 "[VS Code] Joining collaboration session: Cannot access a disposed object.Object name: 'RpcSession'."
%0A%0A%23%23 Error:%0AJoining collaboration session: Cannot access a disposed object.
Object name: 'RpcSession'.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Linux|%0A|**platformVersion**|4.15.0-50-g

[2019-06-03 05:43] #2194 closed

[2019-06-03 06:00] pableco opened #2195 "[VS Code] The collaboration session expired. Please sign in and try again."
%0A%0A%23%23 Error:%0AThe collaboration session expired. Please sign in and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-06-03 07:35] maxie7 commented on #1880
`dpkg: error processing archive libssl1.0.0_1.0.1t-1+deb8u11_amd64.deb (--install):
 pre-dependency problem - not installing libssl1.0.0:amd64
Errors were encountered while processing:
 libssl1.0.0_1.0.1t-1+deb8u11_amd64.deb
`

[2019-06-03 14:30] rodrigovaras commented on #2127
Happy to hear the private vsix i send you works for you. We did put this fix on the official release so i'm closing this ticket.

[2019-06-03 14:30] #2127 closed

[2019-06-03 15:12] EduardoMolinar opened #2196 "[VS Code] [Audio] StartCall"
%0A%0A%23%23 Error:%0AStartCall%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0-insider|%0A|**platformName**|MacOS|%0A|**platformVersion**|10.0.17134|

[2019-06-03 16:30] Camlgiles opened #2197 "problem"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2019-06-03 20:35] legomushroom commented on #2197
Hey @Camlgiles, thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:36] legomushroom commented on #2196
Hey @EduardoMolinar, thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:37] legomushroom commented on #2195
Hey @pableco, thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:37] legomushroom commented on #2193
Hey @kwaring555 , thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:37] legomushroom commented on #2192
Hey @arendvincent , thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:38] legomushroom commented on #2191
Hey @arendvincent , thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:39] legomushroom commented on #2190
Hey @Awgo, thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command)

Thanks!

[2019-06-03 20:39] legomushroom commented on #2189
Hey @Camlgiles, thanks for the feedback! Could you provide more information for us to investigate? Can you share logs with us? (`>Live Share: Export Logs` command) // cc @daytonellwanger

Thanks!

[2019-06-03 20:40] legomushroom commented on #2188
Dup of https://github.com/MicrosoftDocs/live-share/issues/2190

[2019-06-03 20:40] #2188 closed

[2019-06-03 20:42] legomushroom commented on #2187
Hey @DeniseAreza, thanks for the feedback! Can you add more information for us to investigate? Can you describe what the issue is and add repro steps?

Thanks!

[2019-06-03 20:48] legomushroom commented on #2185
Hey @Morgorath, thanks for the feedback! Looks like your agent is crashing on the startup. Did you try to reinstall Live Share after nuking the `%USERPROFILE%\\.vscode\\extensions\ms-vsliveshare.vsliveshare-1.0.311` folder? // cc @jasongin

[2019-06-03 20:49] legomushroom commented on #2186
Dup of https://github.com/MicrosoftDocs/live-share/issues/1927

[2019-06-03 20:49] #2186 closed

[2019-06-03 22:55] Priya91 commented on #1880
An update has been released that does not required any dependencies to be installed. Upgrade to latest extension, if issue still persists, reopen a new issue with details and logs.

[2019-06-03 23:57] harmonyt7 commented on #2189
[logs_04June2019.zip](https://github.com/MicrosoftDocs/live-share/files/3249864/logs_04June2019.zip)
Here's the logs.
I've just started using Live Share, so I don't have much information about the issue.
I've noticed that I'm not able to save my modifications to a file if the host has the file open at the same time.
At the time I posted this issue, I was not able to see changes made by the host un

[2019-06-04 06:35] Morgorath commented on #2185
Hi @legomushroom,
I sure did. Deleted all live share related folders that I could find after removing the extension from code. Then tried reinstalling. Same issue.

[2019-06-04 08:05] ng-kode opened #2198 "[VS Code] Joining collaboration session: spawn cmd.exe ENOENT"
%0A%0A%23%23 Error:%0AJoining collaboration session: spawn cmd.exe ENOENT%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17763|

[2019-06-04 08:05] #2198 closed

[2019-06-04 08:18] ng-kode opened #2199 "[VS Code] Live Share extension failed to initialize, try to reload the VSCode window and try again."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3251277/LiveShareLogs.zip)
%0A%0A%23%23 Error:%0ALive Share extension failed to initialize, try to reload the VSCode window and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|

[2019-06-04 08:54] naimabenz opened #2200 "[VS Code] Joining collaboration session: connect ENOENT \\.\pipe\vscode.bc52bfc9f5ff979cea7800fe335ce469"
%0A%0A%23%23 Error:%0AJoining collaboration session: connect ENOENT \\.\pipe\vscode.bc52bfc9f5ff979cea7800fe335ce469%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|6.1.7

[2019-06-04 09:12] adrenaline500mg opened #2201 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
%0A%0A%23%23 Error:%0AStarting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVers

[2019-06-04 11:03] GreggOD commented on #69
Its strange because I cant see the comments feature either. I also cant see chat, but my buddy who I am sharing with has chat. I have found no thread or forum to how how to enable this feature or why I wouldnt have it.

[2019-06-04 11:05] GreggOD commented on #69
What I have thought of is that my live share account was created ages ago and he just created it... would that have an impact on features? Also I have logged in with Github. Will investigate now.

[2019-06-04 11:21] GreggOD commented on #69
I installed the "Team Chat: for Slack, Discord and Live Share" extension. However like others I am getting the 'Message undefined' symptom. And trying to invite to live share thows another error:
"Running the contributed command: 'extension.chat.startLiveShare' failed."

[2019-06-04 13:12] lostintangent commented on #69
@x30n @GreggOD Unfortunately, the inline code comments experience had to be removed due to a change in VS Code that broke it for Live Share. However, we'll be releasing an update to Live Share today that introduces it back. For now, it will only work in VS Code Insiders. I'll update this thread as soon as the update is released!

![Commennts](https://res.cloudinary.com/practicaldev/image/fetch/s--

[2019-06-04 13:32] romeromr10 opened #2202 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.14393|

[2019-06-04 15:29] GreggOD commented on #69
Nice work. Thanks for your efforts to make developers lives easier.. and for nothing in return. Bless you.

[2019-06-04 16:08] EdManDev opened #2203 "Project_1"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-06-04 16:16] sophiecec opened #2204 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-06-04 18:54] legomushroom commented on #2204
Dup of https://github.com/MicrosoftDocs/live-share/issues/1935

[2019-06-04 18:54] #2204 closed

[2019-06-04 18:55] legomushroom commented on #2203
Hi @EdManDev, can you provide more info on the issue? Is there any repro steps we can take to investigate that?

Thanks!

[2019-06-04 18:58] legomushroom commented on #2202
Hi @romeromr10, thanks for the feedback! The issue title says that the session you were trying to connect was no longer active. Do you think the session did end at the time of your connection or you think that's a real issue?

Thanks!

[2019-06-04 19:00] legomushroom commented on #2201
Hi @adrenaline500mg, thanks for the feedback! Can you provide the `openssl` version you are using at the moment and what the distro is that?

[2019-06-04 19:02] legomushroom commented on #2200
Hi @naimabenz, thanks for the feedback! Can you attach logs for us to investigate(`> Live Share: Export Logs` command).

Thanks!

[2019-06-04 19:04] gilesvessey opened #2205 "Live Share Audio - 'CallState changed to 7, terminatedReason: 53'"
**Product and Version** [VS/VSCode]: VSCode 1.34.0
**OS Version** [macOS/Windows]: macOS Mojave
**Live Share Extension Version**: 1.0.311
**Target Platform or Language**: Node.JS, yml, Jinja

**Steps to Reproduce / Scenario:**
1. Open VSCode with the extensions installed, logging enabled
2. Click 'Start collaboration session...'
3. Click 'Join audio call'
4. My username shows up under audio call p

[2019-06-04 19:08] legomushroom commented on #2195
@drazenp thanks for the logs! Can you elaborate on what caused this(or when did you see that) and is signing in again really helps?

[2019-06-04 19:37] lrubens opened #2206 "[VS Code] Starting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed."
I am having an issue with using live share on visual studio code insiders. I always get this error:
%0A%0A%23%23 Error:%0AStarting collaboration session: Could not connect to the server. Live Share requires openssl 1.0 for authentication, please verify you have the dependency installed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensi

[2019-06-04 22:25] legomushroom commented on #2185
@Morgorath oh sorry for the inconvenience. This is not something we expect -- seems like your agent fails to start and it is not clear why. I have a hypothesis that the extension failed to download all required dependencies.

Were you able to run the extension before this version and it starting failing after update, or this is your first time trying installing in?

[2019-06-04 23:26] HugoVinicius opened #2207 "[VS Code] Joining collaboration session: Incorrect join ID: 6396dfc18e6e9ec0360d26f917ac512b5583"
## Error:
Joining collaboration session: Incorrect join ID: 6396dfc18e6e9ec0360d26f917ac512b5583

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.337|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-42-generic|

[2019-06-05 00:31] Morgorath commented on #2185
@legomushroom
Before I reset, I did have a install that worked once and then broke part way through the session. Never worked since.
I have attempted it twice since resetting the PC.

[2019-06-05 00:48] legomushroom commented on #2185
@Morgorath sorry to hear that. That's an interesting case indeed. We pushed a client release an hour ago, could you try to update to that and let us know if it fixes the issue.

[2019-06-05 00:58] swuv opened #2208 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-06-05 01:06] Morgorath commented on #2185
@legomushroom
It has gone and resolved itself. To which I will only say "Typical."
Thank you for your help.

[2019-06-05 02:12] legomushroom commented on #2185
@Morgorath great to hear! Please let us know if it comes back.

[2019-06-05 02:12] #2185 closed

[2019-06-05 06:25] adrenaline500mg commented on #2201
Hi! Thanks for your response.

Currently I am using the version OpenSSL 1.1.1b.

The console's output:
OpenSSL 1.1.1b  26 Feb 2019
built on: Tue Apr 16 19:31:11 2019 UTC
platform: debian-amd64
options:  bn(64,64) rc4(8x,int) des(int) blowfish(ptr)
compiler: gcc -fPIC -pthread -m64 -Wa,--noexecstack -Wall -Wa,--noexecstack -g -O2 -fdebug-prefix-map=/build/openssl-SmWEKg/openssl-1.1.1b=. -fstack-pro

[2019-06-05 13:40] kyhn7 opened #2209 "[VS Code] Joining collaboration session: 无法连接到 Live Share 云中继。请检查代理、防火墙和网络设置，然后重试。"
%0A%0A%23%23 Error:%0AJoining collaboration session: 无法连接到 Live Share 云中继。请检查代理、防火墙和网络设置，然后重试。%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-06-05 14:08] nguyenvanthi opened #2210 "[VS Code] [Audio] Already connected to a call. Ending current call. Please retry audio join"
%0A%0A%23%23 Error:%0AAlready connected to a call. Ending current call. Please retry audio join%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|10.0.18362|

[2019-06-05 15:52] legomushroom commented on #2208
Dup of https://github.com/MicrosoftDocs/live-share/issues/1935

[2019-06-05 15:52] legomushroom commented on #2209
Dup of https://github.com/MicrosoftDocs/live-share/issues/1935

[2019-06-05 15:52] #2209 closed

[2019-06-05 15:53] #2208 closed

[2019-06-05 15:55] legomushroom commented on #2206
Hi @lrubens, thanks for the feedback! This is a dup of https://github.com/MicrosoftDocs/live-share/issues/2206, let's move our discussion there. What is the Linux distro you are using?

[2019-06-05 15:57] legomushroom commented on #2207
Hi @HugoVinicius, thanks for the feedback! Can you attach your logs for us to investigate? (`> Live Share: Export Logs` command).

Thanks!

[2019-06-05 16:36] lrubens commented on #2206
I am using ubuntu 18.04 using the Windows Subsystem for Linux feature on my windows laptop. Also, I'm using microsoft visual studio code insiders instead the regular one in order to use the remote - wsl extension.

[2019-06-05 18:42] nandanasreeraj123 opened #2211 "[VS Code] Cannot read property 'getCollaboratorCount' of undefined"
%0A%0A%23%23 Error:%0ACannot read property 'getCollaboratorCount' of undefined%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-06-05 18:58] legomushroom commented on #2206
Sorry it is actually dup of https://github.com/MicrosoftDocs/live-share/issues/2201, moving your comment there

[2019-06-05 18:58] #2206 closed

[2019-06-05 18:59] legomushroom commented on #2201
@lrubens

[2019-06-05 19:01] legomushroom commented on #2211
Dup of https://github.com/MicrosoftDocs/live-share/issues/2081

[2019-06-05 19:01] #2211 closed

[2019-06-05 19:01] legomushroom commented on #2191
Dup of https://github.com/MicrosoftDocs/live-share/issues/2081

[2019-06-05 19:01] #2191 closed

[2019-06-05 19:01] legomushroom commented on #2192
Dup of https://github.com/MicrosoftDocs/live-share/issues/2081

[2019-06-05 19:01] #2192 closed

[2019-06-06 00:33] setaskin commented on #2081
hi @VenkattaPidikiti, the issue is fixed, it will be released in the next version of Live Share.

[2019-06-06 01:18] #2081 closed

[2019-06-06 04:38] crowdy opened #2212 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to the host. Verify both you and the host are online.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|Windows|%0A|**platformVersion

[2019-06-06 04:39] #2212 closed

[2019-06-06 05:11] thoonly opened #2213 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platform

[2019-06-06 07:28] attempted opened #2214 "Shared Terminal window width not independent from guest width"
Logs:
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/3260373/logs.zip)

Product and Version [VS/VSCode]: VSCode 1.35
OS Version [macOS/Windows]: macOS 10.14.5
Live Share Extension Version: 1.0.311

Not sure if this is expected behavior, but whenever I'm sharing my terminal window with someone, if their window width is smaller than mine the text begins to wrap in my window.

**Screens

[2019-06-06 10:30] askiebaby opened #2215 "[VS Code] Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified."
%0A%0A%23%23 Error:%0ACould not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified.
%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applic

[2019-06-06 14:21] maxie7 opened #2216 "[VS Code] Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3262019/LiveShareLogs.zip)

%0A%0A%23%23 Error:%0AStarting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionNa

[2019-06-06 14:44] danoliver1 opened #2217 "Add notifications to Team Chat"
It would be useful if there was some kind of notification when a message is received through Team Chat. Maybe an audio notification, flashing taskbar icon, or a Windows notification?

[2019-06-06 15:05] yjyOfGit opened #2218 "[VS Code] Joining collaboration session: Agent terminated with exit code: -4058 and signal null:"
%0A%0A%23%23 Error:%0AJoining collaboration session: Agent terminated with exit code: -4058 and signal null: %0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-06-06 15:24] askiebaby opened #2219 "[VS Code] The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
%0A%0A%23%23 Error:%0AThe type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-06 15:53] yjyOfGit opened #2220 "[VS Code] Joining collaboration session: Agent terminated with exit code: -4058 and signal null:"
%0A%0A%23%23 Error:%0AJoining collaboration session: Agent terminated with exit code: -4058 and signal null: %0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134|

[2019-06-06 15:54] #2220 closed

[2019-06-06 16:42] legomushroom commented on #2213
Hi @thoonly, thanks for the feedback! Do you remember what was the link you've used? What channel/app did you use to transfer it over the network?

Thanks!

[2019-06-06 16:47] legomushroom commented on #2217
Hi @danoliver1, thanks for the feedback! I think this is a great point, could you create this issue on the [Team Chat repo](https://github.com/karigari/vscode-chat) so it gets properly addressed. Unfortunately, Live Share has no control over Team Chat behavior. // cc @arjun27

Thanks!

[2019-06-06 16:50] legomushroom commented on #2219
Hi @askiebaby, thanks for the feedback! Did you see this issue on startup or when you tried to Join/Share? Also if you can provide your logs, they can help us investigate the issue (`> Live Share: Export Logs` command).

Thanks!

[2019-06-06 16:55] legomushroom commented on #2215
Hi @askiebaby! Seems like you have a corrupted install. Can you try to reinstall the extension and let us know if it helps?

1. Uninstall the current extension.
2. Remove the `$HOME/.vscode/ms-vsliveshare.vsliveshare-1.0.337` folder. (`$HOME/.vscode-insiders/..` if you use VSCode Insiders)
3. Go to the marketplace and install the Live Share extension again.

Thanks!

[2019-06-06 16:56] legomushroom commented on #2218
Hi @yjyOfGit, thanks for the feedback! Can you attach your logs for us to investigate? (`> Live Share: Export Logs` command).

Thanks!

[2019-06-06 17:17] arjun27 commented on #2217
Thanks for the suggestion @danoliver1. I've created an issue (https://github.com/karigari/vscode-chat/issues/388) to track this.

[2019-06-06 17:25] #2217 closed

[2019-06-06 17:37] IlyaBiryukov commented on #2214
This is by design. The shared terminal can only have one width, it cannot have different widths on the host and the guests. And so, it always has the minimum width of all the participants terminal windows.

[2019-06-06 17:37] #2214 closed

[2019-06-06 18:12] Priya91 commented on #2216
@maxie7 From your logs

[code]

What OS or distro version are you on?

[2019-06-06 18:38] EdManDev commented on #2203
it won't open and so many error

[2019-06-06 18:53] 435vic opened #2221 "arm64 support for chromebooks and edu scenarios"
I think Live Share could be a very useful tool in school, but chromebooks are mainly used. Most, if not all of these have an arm64 architecture, which does not work for Live Share. Therefore, I suggest making a compatible version for arm64, as a VSCode extension.

[2019-06-06 19:14] legomushroom commented on #2221
Hi @435vic, thanks for the feedback! I think this is a point, we definitely want to support the class scenarios. // cc @lostintangent

[2019-06-06 19:16] legomushroom commented on #2203
Hi @EdManDev, thanks for the reply! Unfortunately, this does not help us with our investigation, can you attach the logs? (`> Live Share: Export Logs` command)

Thanks!

[2019-06-06 22:18] attempted commented on #2214
Thanks. Any chance of having them be independent in the future? @IlyaBiryukov

[2019-06-07 00:35] IlyaBiryukov commented on #2214
No chance because of how the terminal works.
Shared terminal is basically a terminal process (like bash) running on the host machine with the stdio stream that all participants listen to and can write to (if the terminal is read-write). ESC sequences go through the stdout and the clients render them in their terminal windows. If the terminal window size didn't match what the terminal process think

[2019-06-07 03:28] attempted commented on #2214
@IlyaBiryukov Thank you for the detailed response, I really appreciate it!

[2019-06-07 07:07] signhuwei opened #2222 "[VS Code] Joining collaboration session: 由于身份验证错误，无法加入主机。请验证主机是否联机，然后注销后再次登录并重试。"
%0A%0A%23%23 Error:%0AJoining collaboration session: 由于身份验证错误，无法加入主机。请验证主机是否联机，然后注销后再次登录并重试。%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-07 07:54] #2213 closed

[2019-06-07 07:58] thoonly commented on #2213
Sorry i just copy invalid URL , it's a Slack problem when i use copy link

[2019-06-07 11:35] mahmudalim opened #2223 "one"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2019-06-07 12:20] maxie7 commented on #2216
Debian GNU/Linux 10 (buster),
and just in case -- OpenSSL 1.1.1b

[2019-06-07 15:06] ferkun opened #2224 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platform

[2019-06-07 16:22] legomushroom commented on #2213
@thoonly, no worries, thanks for letting us know!

[2019-06-07 19:28] taylorzhangyx opened #2225 "[VS Code] The collaboration session expired. Please sign in and try again."
%0A%0A%23%23 Error:%0AThe collaboration session expired. Please sign in and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17763|

[2019-06-07 20:20] Monroy-Edward opened #2226 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
%0A%0A%23%23 Error:%0AJoining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCo

[2019-06-08 01:46] KexinWei opened #2227 "[VS Code] Starting collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AStarting collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-08 12:44] fqfwqfq opened #2228 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
%0A%0A%23%23 Error:%0AJoining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCo

[2019-06-08 14:42] ariMarcello opened #2229 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platform

[2019-06-08 19:17] victorgois07 opened #2230 "[VS Code] Joining collaboration session: Collaboration session not found."
%0A%0A%23%23 Error:%0AJoining collaboration session: Collaboration session not found.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|17.4.0|

[2019-06-08 20:19] liontomic opened #2231 "[VS Code] Starting collaboration session: Object reference not set to an instance of an object."
%0A%0A%23%23 Error:%0AStarting collaboration session: Object reference not set to an instance of an object.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.311|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-08 20:35] sbaenar1 opened #2232 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platform

[2019-06-08 20:36] #2232 closed

[2019-06-09 00:36] gs-jvunnam opened #2233 "[VS Code] The collaboration session expired. Please sign in and try again."
%0A%0A%23%23 Error:%0AThe collaboration session expired. Please sign in and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.5.0|

[2019-06-09 07:51] TheMulti0 opened #2234 "[VS Code] Live Share extension failed to initialize, try to reload the VSCode window and try again."
%0A%0A%23%23 Error:%0ALive Share extension failed to initialize, try to reload the VSCode window and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|Windows|%0A|**platformVersion**|10.0.17134

[2019-06-09 08:32] #2234 closed

[2019-06-09 14:46] Trevahok opened #2235 "[VS Code] [Audio] StartCall"
%0A%0A%23%23 Error:%0AStartCall%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platformName**|Windows|%0A|**platformVersion**|18.2.0|

[2019-06-09 15:58] jbecerr2 opened #2236 "[VS Code] Joining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.3

[2019-06-10 05:59] shoaibdhk opened #2237 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platform

[2019-06-10 07:45] vkrishnasamy opened #2238 "[VS Code] Live Share extension failed to initialize, try to reload the VSCode window and try again."
%0A%0A%23%23 Error:%0ALive Share extension failed to initialize, try to reload the VSCode window and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-10 07:46] vkrishnasamy commented on #2238
This issue, LS failed to initialize in Macbook pro. VSCode

[2019-06-10 08:38] mjarraya opened #2239 "[VS Code] Starting collaboration session: RPC connection closed."
%0A%0A%23%23 Error:%0AStarting collaboration session: RPC connection closed.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|MacOS|%0A|**platformVersion**|18.6.0|

[2019-06-10 10:08] Lauri-olivia opened #2240 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
%0A%0A%23%23 Error:%0AJoining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS|%0A|**extensionVersion**|1.0.337|%0A|**protocolVersion**|2.2|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.34.0|%0A|**platform

[2019-06-10 15:28] epereyra opened #2241 "[VS Code] [Audio] StartCall"
%0A%0A%23%23 Error:%0AStartCall%0A%0A%23%23 Steps to Reproduce:%0A1.%0A2.%0A%0A||Version Data|%0A|-:|:-|%0A|**extensionName**|VSLS-Audio|%0A|**extensionVersion**|0.1.50|%0A|**applicationName**|VSCode|%0A|**applicationVersion**|1.35.0|%0A|**platformName**|Windows|%0A|**platformVersion**|18.6.0|

[2019-06-10 18:00] genepaul commented on #368
I am having this same problem. I am on a MacOS High Sierra, and my VS Code is up to date. I am behind a proxy, and I'm a little unsure how changing the HTTP_PROXY and HTTPS_PROXY in my bash_profile is going to affect VSCode, but I did that and it hasn't changed anything. My proxy settings in Network preferences are set to automatic configuration.

I tried to enable liveshare.diagnosticLogging to t

[2019-06-10 18:28] setaskin commented on #2222
Closing as duplicate of #433.

[2019-06-10 18:28] #2222 closed

[2019-06-10 18:31] setaskin commented on #2223
Hi, @mahmudalim . Looks like there is no issue defined. I am closing the issue. Please reactivate, with a definition of the issue, if your are having a problem.

[2019-06-10 18:31] #2223 closed

[2019-06-10 18:33] setaskin commented on #2229
Hi @ariMarcello , thanks for the feedback! Do you remember what was the link you've used? What channel/app did you use to transfer it over the network?

Thanks!

[2019-06-10 18:39] setaskin commented on #2229
Also, consolidating with #2179

[2019-06-10 18:39] #2229 closed

[2019-06-10 18:40] setaskin commented on #2224
Hi @ferkun  , thanks for the feedback! Do you remember what was the link you've used? What channel/app did you use to transfer it over the network? I am consolidating issue with #2179

Thanks!

[2019-06-10 18:40] #2224 closed

[2019-06-10 18:44] setaskin commented on #2225
Hi, @taylorzhangyx, Did signing in again resolve the issue for you? Resolving as a dupe of #1940

[2019-06-10 18:44] #2225 closed

[2019-06-10 18:48] legomushroom commented on #2219
Closing as stale. Please reopen if you have more info for us to investigate.

[2019-06-10 18:48] #2219 closed

[2019-06-10 18:48] legomushroom commented on #2218
Closing as stale. Please reopen if you have more info for us to investigate.

[2019-06-10 18:48] #2218 closed

[2019-06-10 18:48] legomushroom commented on #2215
Closing as stale. Please reopen if you have more info for us to investigate.

[2019-06-10 18:48] #2215 closed

[2019-06-10 18:55] setaskin commented on #2226
Hi, @Monroy-Edward , Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2

[2019-06-10 18:55] #2226 closed

[2019-06-10 18:58] setaskin commented on #2227
Hi, @KexinWei  Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2178 .

[2019-06-10 18:58] #2227 closed

[2019-06-10 20:11] setaskin commented on #2241
Hi @epereyra , Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue.

[2019-06-10 20:17] setaskin commented on #2228
Hi, @fqfwqfq  , Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2216.

[2019-06-10 20:17] #2228 closed

[2019-06-10 20:19] setaskin commented on #2235
Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2241. Please attach yo

[2019-06-10 20:19] #2235 closed

[2019-06-10 20:21] setaskin commented on #2236
Hi, @jbecerr2 , thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2176.

[2019-06-10 20:21] #2236 closed

[2019-06-10 20:24] setaskin commented on #2230
Hi, @victorgois07 ,  thank you for reporting the issue. The issue title says that the session you were trying to connect was no longer active. Do you think the session did end at the time of your connection or you think that's a real issue?

Thanks!

[2019-06-10 20:26] setaskin commented on #2231
Hi, , Thank you for reporting the issue. Would you give us some more information to investigate ? Does this consistently happen for you or happened once ? Also , your logs may provide us with helpful information. You can access them via the "Live Share: Export Logs" command from the command palette (ctrl + shift + p) and attach them to the issue. I am consolidating the issue with #2134 . Please at