[2020-07-16 10:25] AchalaSB commented on #3728
@ganesh-aicumen I tried all the option mentioned above.

I also tried logging in different github account but that also failed.

[2020-07-16 10:53] addshore opened #3735 "Joining a session using a link doesnt work when using a WSL connected vscode instance"
Issue Type: <b>Bug</b>

Steps:
- Load any project within a WSL context on Windows.
- Try to join someone elses shared session
- Starting the IDE fails with an error and the session can not be connected to

Expectation:
- The IDE would correctly connect to the sessions

Notes:
- Connecting to session from a project that is not hosted on WSL seems to work just fine

Extension version: 1.0.2427
VS Co

[2020-07-16 13:48] mlacouture commented on #3728
@AchalaSB, the latest Live Share extension version is 1.0.2472

[2020-07-16 16:02] cssyphus opened #3736 "VSCode caught Desync today, but missed it yesterday"
**Product and Version** [VS/VSCode]:
VSCode 1.47.1 on both sides

**OS Version** [macOS/Windows/Linux]:
Win10Home build 10.0.18.362 on host, Win7HPSP1 on Participant

**Live Share Extension Version**:
1.0.2427 on both

**Target Platform or Language** [e.g. Node.js]:
Node.js / TS / Preact / Python

**What were you doing when you encountered the desync?**
Today it was detected a couple minutes after

[2020-07-16 16:39] daytonellwanger commented on #3736
Thanks very much for the thorough report. I know how frustrating this issue can be. It's one of our top priorities to resolve at the moment, so reports like this are much appreciated, especially since the issue is hard to pin down.

Unfortunately, I don't think we'll have it entirely resolved in the next couple of days or weeks. Would you please keep us up-to-date with your experience? I'll post b

[2020-07-16 16:47] mlacouture commented on #3731
Hi @cctunjanod! I'm sorry you are hitting this issue. This is a duplicate of #3124, please refer to this issue where a solution and some workarounds are discussed, I hope you are able to get the extension to work again easily.

[2020-07-16 16:47] #3731 closed

[2020-07-16 16:53] mlacouture commented on #3734
@GrimRich  thank you for reaching out.  This is a duplicate of #2086.

[2020-07-16 16:53] #3734 closed

[2020-07-16 17:01] mlacouture commented on #3733
Hi Vincent! Sorry you are experiencing this problem. Did you try restarting VS Code? also, can you check out some workarounds discussed in issue #3216 and see if you can get unblocked? thanks,

[2020-07-16 17:08] mlacouture commented on #3735
Hi @addshore - Thank you for reporting this issue. Can you make sure you are using 'Auto' or 'Relay' for the Connection Mode setting? Settings->Extensions-Visual Studio Live Share->Connection Mode.

[2020-07-16 17:15] jramsay commented on #3730
@harrisuddin: Thanks for letting us know about this! I'm able to repro this on VS Code 1.47 but have not yet been able to repro on the latest VS Code Insider's 1.48.0. I noticed others are reporting this on VS Code:
https://github.com/microsoft/vscode/issues/102670

The resolution is to wait until VS Code 1.48.0 gets released to stable or you could use the latest VS Code Insiders edition in the in

[2020-07-16 17:15] #3730 closed

[2020-07-16 17:34] AchalaSB commented on #3728
@mlacouture  There is no option to install this particular version 1.0.2472.

Live share marketplace showing v.1.0.2427 as latest version.
https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare
Even in VScode its showing v1.0.2427

[2020-07-16 17:40] mlacouture commented on #3728
sorry, you are right, I was looking at the wrong extension (Visual Studio) ...

[2020-07-16 18:08] gibberishbc commented on #3736
Same day as left initial comment. Approx one hour into our shared sesson. No file renames/moves/deletions. No connectivity issues. Three files open (2 x .tsx and 1 .scss) After Participant worked on one of the .TSX and the .SCSS for approx 40 mins, Host wanted to commit changes to git, but noticed that his Source Control panel was now blank. We disconnected the LiveShare, and Host was obliged to r

[2020-07-16 18:14] mlacouture commented on #3732
Hi Michael! Thank you for reporting this problem.  This is currently a limitation of the product as explained in the [docs](https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies).

[2020-07-16 18:19] bucmic commented on #3732
Hello Miguel,
thanks for your quick answer. I know the docs but I would like to know more - is it a certain component that is not able to read the OS proxy settings? Will it be improved soon?
Thanks
Michael

[2020-07-16 18:51] mlacouture commented on #3732
@jasongin do you know the details?

[2020-07-16 18:53] mlacouture commented on #3728
reactivating as this seems to be a regression, we need to do more investigation.  BTW, thank you @AchalaSB for the logs ...

[2020-07-16 18:54] mlacouture commented on #3733
this seems to a duplicate of #3728

[2020-07-16 18:54] #3733 closed

[2020-07-16 19:02] jasongin commented on #3732
@bucmic What operating system are you asking about?

 - On Windows, Live Share does use the proxy settings from the OS. I think our docs there might be out of date: after some updates last year I don't know of any reason to set proxy environment variables for Live Share on Windows.
 - On Linux, the environment variables are the conventional way for any applications to read proxy settings.
 - Mac O

[2020-07-16 19:18] mlacouture commented on #3728
based on the logs this seems to be a problem with proxy configuration:
_Connecting to <https://prod.liveshare.vsengsaas.visualstudio.com/8a79c249> via proxy failed with exception System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the vali

[2020-07-16 19:30] bucmic commented on #3732
Sorry, Windows. With latest Visual Studio 2019 it seems to be mandatory to configure the env variables because otherwise I get
![image](https://user-images.githubusercontent.com/33121436/87714047-771dd400-c7ab-11ea-8fb7-c964f47fd9fe.png). When I configure the variable it works well.

[2020-07-16 19:49] jasongin commented on #3732
Thanks for the screenshot, that clarifies things somewhat.

When Live Share detects proxy settings on Windows, first it checks for the environment variables, and will use those settings if found. If those environment variables are not set, then it will use the Windows OS level proxy settings.

Are your Windows proxy settings set to auto-detect? Or to a setup script? What if you change the setting

[2020-07-16 20:33] bucmic commented on #3732
Auto-detect is configured in Internet Options by policyn. When I configure the proxy manually, Live Share works well. So it seems to be an issue with auto-detect?
I have reported a problem, see https://developercommunity.visualstudio.com/content/problem/1116481/visual-studio-live-share-is-not-able-to-auto-detec.html.
Thanks for you help.

[2020-07-16 22:09] jasongin commented on #3732
Thanks for sharing the logs, that pinpointed the problem! There is a bug in the Live Share proxy auto-detection that causes it to not work with the Azure Relay service.

Specificaly, `WinHttpGetProxyForUrl()` returned `ERROR_WINHTTP_UNRECOGNIZED_SCHEME`. That's because the URI for Azure Relay starts with the `sb://` scheme, even though it uses the websocket protocol which is compatible with an HTT

[2020-07-17 07:02] addshore commented on #3735
It was on "auto" when trying this last, I'll try to set it to "relay" on my next attempt!

[2020-07-17 11:45] skirkham opened #3737 "Shared debugging does not work on Linux hosts"
Issue Type: <b>Bug</b>

Starting a debug session (C and Python tested) does not present any option to join the debug session for connected participants.
The debug session also isn't displayed in the session details.

The Python test case in particular was extremely basic (a few lines of Python code, default Python debug launch config)

Some extra testing has shown this is only the case with Linux

[2020-07-17 13:12] FUJonathan opened #3738 "File desync detected when creating a new file on the client"
**Product and Version** [VS/VSCode]: VSCode 1.47.2 (user setup)
**OS Version** [macOS/Windows/Linux]: Windows 10 Professional 1909 Build 18363.959
**Live Share Extension Version**: 1.0.2427
**Target Platform or Language** [e.g. Node.js]: C#, Unity

**What were you doing when you encountered the desync?**
I created a new .cs file in the project on the client side (maybe that isn't supported?), edit

[2020-07-17 14:50] daytonellwanger commented on #3738
Hey @FUJonathan , thanks for the report. Adding a file on the guest side, editing, and saving is definitely a supported scenario. I tried to reproduce the problem by following your steps and wasn't able to.

Are you able to consistently reproduce this problem? If so, we should try to figure out what's different between your setup and mine.

[2020-07-17 16:32] setaskin commented on #3737
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-17 16:33] setaskin commented on #3737
@jramsay assigning to you , feel free to reassign if it is not your area.

[2020-07-17 16:41] setaskin commented on #3722
Hi, sorry to hear that. Can you give us more details about the scenario. Is the error happens right after you installed the extension or when you click on live share button ? Also, Your logs may provide us with helpful information to investigate. You can find your logs in the %TEMP%/VSFeedbackVSRTCLogs directory. You can attach them to here or  email them to vsls-feedback@microsoft.com with the is

[2020-07-17 16:42] setaskin commented on #3722
@BrunoGuardia assigning to you, feel free to reassign if it is not your area.

[2020-07-17 16:45] setaskin commented on #3721
Thanks for reaching out. Can you give us more details about your scenario? what is the issue ?  Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-17 16:59] setaskin commented on #3717
Hi, thank you for reaching out. Live share doesn't save, keep or upload any code of users . It shares your workspace with RPC connection as much as you allowed to see others. You can also use read only mode.  I understand your concerns about the security. Can you give us more info, what kind of prompt do you think is needed ? cc: @BrunoGuardia.

[2020-07-17 17:00] BrunoGuardia commented on #3722
@jbrandes - which versions of Visual Studio and LiveShare are you using? Seems you are using a VS 2017, but the errors report 16.0 compatibility issues. Logs as described by @setaskin will be useful

[2020-07-17 17:08] BrunoGuardia commented on #3717
Thanks for the feedback @krisgoku8

We hear you and we are working to provide more security by default. Today, to enable the prompt you are requesting, just enable the "Require guest approval" option as described in the linked document below.

There are multiple mitigation aspects for your concerns, which are described in the link; most importantly, your code is never uploaded to any server, it is

[2020-07-17 17:14] krisgoku8 commented on #3717
Well, as far as I recall I remember reading if the P2P connection is blocked a server is created. I just believe it shouldn’t be so easy by a simple accident click to have your code uploaded to anything. I suggest a prompt that ask do you want to start the session and of course don’t ask again box.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Bruno Guardia

[2020-07-17 19:58] setaskin commented on #3718
Hi thank you for reaching out. Can you give us more details about your scenario? What was the error you were seeing?  Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-17 20:00] setaskin commented on #3720
Thanks for reaching out. Can you give us more details about your scenario? Do you see an error pop up ? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-17 20:01] setaskin commented on #3719
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-17 22:00] klakin-pivotal commented on #3718
Hey. Unfortunately, those logs are probably lost to the sands of time.

The error in question is something with the shape of

which occurs intermittently when clicking "Follow participant to the side". It's not reliably reproducible; retrying the follow operation several times will eventually result in success.

As an aside, I might suggest that your error reporter dump the relevant logs in the GH

[2020-07-17 22:48] daytonellwanger commented on #3736
Interesting! Any chance you can get a repro for the issue?

[2020-07-17 22:50] daytonellwanger commented on #2086
Hey @vsharmatest , that sounds like a potentially different issue than what's being discussed here. Is it possible you were experience internet connectivity issues?

[2020-07-17 22:52] daytonellwanger commented on #3727
Hey @pvh , that sounds like an interesting case that we haven't heard before - you got out of sync simply by watching your coworker type? You never made any edits, and no files were added/renamed/deleted?

[2020-07-17 23:11] gibberishbc commented on #3736
Sorry to be obtuse, but unsure your meaning. Suspect repro is repo, but what do you mean about getting a repo for the issue?

[2020-07-18 05:34] pvh commented on #3727
We've been hitting desyncs pretty reliably! I can't promise there weren't any edits but I'm reasonably certain no new files were added/renamed/deleted.

I was wondering if it might be caused by my coworker's underpowered laptop dropping events when we're in a live zoom call while we collaborate and it's thrashing his CPU.

Since we can repro this desync basically every time if you have things I ca

[2020-07-18 10:49] selimrecep commented on #3736
He meant reproduce I think

[2020-07-18 13:11] gibberishbc commented on #3736
Thanks Selim - sure, we'll try to reproduce the error early next week.

[2020-07-18 14:52] masudjonov opened #3739 "vazifa"
Issue Type: <b>Bug</b>

Vazifa

Extension version: 1.0.2427
VS Code version: Code 1.47.0 (d5e9aa0227e057a60c82568bf31c04730dc15dcd, 2020-07-09T08:01:16.801Z)
OS version: Windows_NT ia32 6.1.7600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2430M CPU @ 2.40GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-07-18 14:53] masudjonov opened #3740 "vazifa"
Issue Type: <b>Bug</b>

Vazifa

Extension version: 1.0.2427
VS Code version: Code 1.47.0 (d5e9aa0227e057a60c82568bf31c04730dc15dcd, 2020-07-09T08:01:16.801Z)
OS version: Windows_NT ia32 6.1.7600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2430M CPU @ 2.40GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-07-18 14:54] #3740 closed

[2020-07-19 05:03] amunozj commented on #3301
I would also like to add my voice to this request.  It would be great to have this functionality

[2020-07-19 15:38] terragady commented on #2050
same here, WSL 2 on windows 10, LIve Share works fine on windows directories but when open in ubuntu terminal it shows the error

[2020-07-19 15:44] terragady opened #3741 "WSL 2 Ubuntu on Win10 -> Starting collaboration session: Invalid URI: The hostname could not be parsed"
**Steps to Reproduce / Scenario:**
1. Open temirnal Ubuntu (WSL2)
2. open VSC by 'code .'
3. Try to start a live share
4. See error

I ran a problem when trying to start a session in ubuntu WSL workspace.
I tried and liveshare works on workspaces on windows but not for folders inside WSL Ubuntu. It show error:
"Starting collaboration session: Invalid URI: The hostname could not be parsed"

[2020-07-19 23:03] mlacouture commented on #3739
Hi! if this is a real issue please add details that help us troubleshoot the problem and reactivate this issue - thanks,

[2020-07-19 23:03] #3739 closed

[2020-07-20 01:09] naomiquinones opened #3742 "Audio on Mac"
Issue Type: <b>Bug</b>

The other day, I was able to get audio to work by following the suggestion to type code in bash from this page: https://github.com/MicrosoftDocs/live-share/issues/3254
I typed code in the terminal and something popped up asking for permission. However, today that no longer did anything.

Extension version: 1.0.2427
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477c

[2020-07-20 06:56] bucmic commented on #3732
Sounds great! Thanks guys!

[2020-07-20 11:06] selimrecep commented on #3716
Okay, I got a new **Centos 8 VDS** instead of **Centos 7 VPS** and it works ._. (with increased inotify watches. So that can cause problem but I can't see it in logs. So...) I will keep issue open since it is not fully fixed. I mean yeah it works now but problem wasn't solved technically on a VPS. And I don't know why it doesn't work on a VPS

[2020-07-20 14:33] daytonellwanger commented on #3727
Thanks so much! Let me add some additional logging to the product so that when you encounter a desync, we're able to diagnose what happened. I'll reply to this thread when it's in.

[2020-07-20 15:04] daytonellwanger commented on #3736
Thanks @gibberishbc ! What I'm looking for is a detailed list of steps that anyone could follow to reproduce the problem - it makes it much easier to fix.

However, that's asking for a lot :).

I'm working on adding more diagnostic logging so that next time you do run into the issue, your logs would be able to let us know what happened. I'll let you know when those changes go in.

[2020-07-20 17:24] IlyaBiryukov commented on #3741
Resolving as duplicate of #2050
Please see #2050 for the workaround

[2020-07-20 17:31] terragady commented on #3741
Saw that issue, not sure if it is completely the same and it was closed with problem still persist. Workaround opening VScode without workspace open, starting live share and opening a workspace does not work as when I open a new workspace the live share is quitting.

[2020-07-20 17:56] IlyaBiryukov commented on #3741
Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-20 18:27] terragady commented on #3741
[2020-07-20 17:36:34.925 Agent I] Reminder: You may only use this software with Visual Studio and Visual Studio Code, as described in the license (https://go.microsoft.com/fwlink/?linkid=872556).
[2020-07-20 17:36:34.926 Agent I] Start time: 20.07.2020 17:36:34
[2020-07-20 17:36:34.926 Agent I] Using VSLS service: https://prod.liveshare.vsengsaas.visualstudio.com/
[2020-07-20 17:36:34.957 Agent I]

[2020-07-20 18:40] IlyaBiryukov commented on #3741
Internally tracked by https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1159386
@BrunoGuardia please triage.

[2020-07-20 19:15] aissshah opened #3743 "Email displayed attached to account is not the primary email address"
Issue Type: <b>Bug</b>

I am signed in to Visual Studio Live Share through GitHub. However, it keeps displaying an email address that isn't my primary email address and one I do not want seen. I have tried to change this. Signing out of Live Share, deleting my Live Share account, removing the email address from GitHub and also setting my emails in GitHub as private etc. Nevertherless, when I make

[2020-07-20 20:40] mateuscqueiros opened #3744 "Editor problems"
Issue Type: <b>Bug</b>

when entering a session, the cursor starts with bar (as insert does on cmd) instead of the default cursor.
Some colors in css are not displayed right. The previer color picker is displayed twice.

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:22:06.216Z)
OS version: Windows_NT x64 10.0.18362

<details>
<sum

[2020-07-21 00:29] mlacouture commented on #3744
Hi @mateuscqueiros!
Will you be able to attach a snapshot of the UI showing the colors and cursor? thank for reporting this issue!

[2020-07-21 01:14] RussellSanders1 opened #3745 "Cannot intall LiveShare on Docker Container"
Issue Type: <b>Bug</b>

Steps to reproduce:
Open a project in a container using the Docker extension (configuration files), with either the Live Share extension added to devcontainer.json, or by installing via the Extensions tab once the container is open.  The following error appears:

An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall th

[2020-07-21 05:56] AchalaSB commented on #3728
@mlacouture I changed proxy settings but that didn't work

[2020-07-21 12:58] guardianNicholas opened #3746 "Cursor Color Options"
Issue Type: <b>Feature Request</b>

Hey guys,

Great extension. It helps us code everyday as a team. One brief request is having the ability to choose cursor colors. It helps us figure out who is who and currently, cursor color is random AFAIK.

Sometimes I get pink and I have to restart the session.

Regards,
Nicholas

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0

[2020-07-21 13:47] #3295 closed

[2020-07-21 16:35] bravadomizzou opened #3747 ""Detach" from shared server on the guest-side"
Issue Type: <b>Feature Request</b>

Can you add the ability to "unplug" a shared server. Its holding onto a port that I want to used locally on a different app, but it wont work since that port is in use. I basically want to disconnect the shared 4200 port then use it in a different VS Code window, then when im done working on my app, switch back to the Live Share window, and reconnect to the shar

[2020-07-21 17:22] IlyaBiryukov commented on #3743
Duplicate of #3606

[2020-07-21 17:22] #3743 closed

[2020-07-21 17:24] #3164 closed

[2020-07-21 17:25] IlyaBiryukov commented on #3745
Looks like a duplicate of #3164
Please re-activate if not.

[2020-07-21 17:25] #3745 closed

[2020-07-21 17:29] IlyaBiryukov commented on #3747
Hi,

Thanks for your feedback, are you asking from the perspective of a guest or a host?
The host can always disconnect shared servers in the Live Share viewlet.
The guest cannot yet disconnect a server.

[2020-07-21 18:20] bravadomizzou opened #3748 "Cannot connect"
We have written the needed data into your clipboard because it was too large to send. Plea
Issue Type: <b>Bug</b>

It will not allow me to connect to a live share session that several of my coworkers are actively in. I've tried chaning from auto to relay. and restarting, uninstalling/reinstalling liveshare extention and it still will not connect. It asks me to login so I have tried logging in with

[2020-07-21 18:21] bravadomizzou commented on #3747
Asking as perspective of a guest.

[2020-07-21 18:28] bravadomizzou commented on #450
I am having this issue. I have restarted computer, logged out, re-authenticating, uninstalled liveshare, tried to use VS Code in browser. nothing works.

[2020-07-21 18:36] bravadomizzou commented on #3748
It is working now. But there is a problem you should fix. It looks like the Host had a session that was working so everyone in the session was fine, but if you are new and tried to join it would get in a login loop.

Seems like the problem was that the host user's auth session was expired so noone new could join. You should improve your process and state what the problem is instead of just prompti

[2020-07-21 18:39] bravadomizzou commented on #3747
It would also be kinda cool to even be able to change the port that the guest side uses

[2020-07-21 20:50] AlexanderShvyrev opened #3749 "constantly out of sync"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-07-21 21:00] mlacouture commented on #3728
@AchalaSB, did you try setting the proxy using environment variables? can you attach logs after setting the environment vars? thanks,

[2020-07-22 03:29] Pakspunch opened #3750 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.2`

[code]

[2020-07-22 07:01] husainazkas opened #3751 "Suddenly disconnect and can't sync after reconnect"
**Product and Version** [VS/VSCode]:
Version: 1.47.2 (user setup)
**OS Version** [macOS/Windows/Linux]:
Windows 10 Pro (2004) 64-bit (build: 19041)
**Live Share Extension Version**:
v1.0.2478
**Target Platform or Language** [e.g. Node.js]:
Flutter (Channel stable, v1.17.5)
**What were you doing when you encountered the desync?**
I developing an android app using live share extension (me as client)

[2020-07-22 09:51] skirkham commented on #3737
Logs as requested.
[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/4959286/livesharelogs.zip)

[2020-07-22 13:08] AchalaSB commented on #3728
We haven't set any proxy for my network, but still I make proxy setting as `automatic` in my system ( disable -> automatic)
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4960075/logs.zip)

[2020-07-22 15:39] 14aRu opened #3752 "[VS Code] [Audio] HTTPS request failed for SkypeToken: connect ETIMEDOUT 52.114.6.67:443"
Error:
HTTPS request failed for SkypeToken: connect ETIMEDOUT 52.114.6.67:443

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.47.2|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2020-07-22 16:01] realvictorprm commented on #3751
same here. This is pretty annoying :(

[2020-07-22 16:02] realvictorprm commented on #3751
Solution for now seems to be to close the session as host, creating a new one and re-inviting everyone.

[2020-07-22 17:02] carlosaicrag commented on #3620
Hello, just wanted to see if there are any updates on this issue.

[2020-07-22 18:11] SholomAber opened #3753 "Can not join live share session"
**Describe what happened:** Login with GitHub or Microsoft, it starts to join but then says token expired and prompts to sign in again.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VCCode Version: 1.47.2 (user setup)
Commit: 17299e413d5590b14ab0340ea477cdd86ff13daf
Date: 2020-07-15T18:22:06.216Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-ele

[2020-07-22 18:58] mlacouture commented on #3728
@jramsay and @jasongin any thoughts?

_Agent logs:
[2020-07-21 07:58:07.341 Agent.Proxy W] Connecting to <https://prod.liveshare.vsengsaas.visualstudio.com/0bac715a> via proxy failed with exception System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid ac

[2020-07-22 20:03] BrainRayChristensen commented on #2086
I noticed it get out of sync when I created a file, renamed it and put some text in it/ saved it.

[2020-07-22 20:05] SufyanAbbada opened #3754 "Cant fing 'Start a Voice Call'"
Issue Type: <b>Bug</b>

I installed the Live Share extension on VS code but cant find the voice call option in it so that i can start a voice call

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:22:06.216Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2020-07-22 21:12] jonathan-fielding commented on #3613
Myself and my colleagues all have this issue and I was wondering could it be due to our GitHub accounts also having SSO enabled for our org repos, will try your suggested fix tho

[2020-07-23 02:24] IlyaBiryukov commented on #3600
Duplicate of #3483

[2020-07-23 02:24] #3600 closed

[2020-07-23 02:25] IlyaBiryukov commented on #3753
Duplicate of #3483

[2020-07-23 02:25] #3753 closed

[2020-07-23 02:26] IlyaBiryukov commented on #3483
Dupe #3753 has logs and OS, VSCode, LS version and all config info.

[2020-07-23 02:28] IlyaBiryukov commented on #3752
Duplicate of #2569

[2020-07-23 02:28] #3752 closed

[2020-07-23 02:30] IlyaBiryukov commented on #3750
Duplicate of #3721

Thanks for reaching out. Can you give us more details about your scenario? what is the issue ? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to #3721 .

[2020-07-23 02:30] #3750 closed

[2020-07-23 02:41] IlyaBiryukov commented on #3748
Thanks for reporting this issue! How long have the host session been running when you experienced this issue?
Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

Tracking by https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1160890

[2020-07-23 02:44] IlyaBiryukov commented on #3749
Duplicate of #3715

[2020-07-23 02:44] #3749 closed

[2020-07-23 02:44] IlyaBiryukov commented on #3751
Duplicate of #3715

[2020-07-23 02:44] #3751 closed

[2020-07-23 13:37] gtoroap commented on #3136
Hey, I'm facing the same issue. It keeps in "Repairing Extension" but nothing happens. What extra info do you need to fix this?

[2020-07-23 17:16] chanchalgarg opened #3756 "module"
Issue Type: <b>Bug</b>

cannot find mdule

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:22:06.216Z)
OS version: Windows_NT x64 10.0.10240

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2350M CPU @ 2.30GHz (4 x 2295)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d

[2020-07-23 17:44] abi90 opened #3757 "Proxy settings from env variable: http_proxy was null and https_proxy was null"
Issue Type: <b>Bug</b>

When I try to join or start a live share session I get an error:
Joining collaboration session: The user code is invalid or expired. Try signing in again.

Digging in the logs I found:
`Proxy settings from env variable: http_proxy was null and https_proxy was null`
If I echo http_proxy and https_proxy I get back the correct proxy.

[logs.zip](https://github.com/MicrosoftDoc

[2020-07-23 18:55] BrainRayChristensen opened #3758 "Desync due to file name change"
**Product and Version** [VSCode 1.47.2]:
**OS Version** [macOS]: but host host has a windows machine
**Live Share Extension Version**:
**Target Platform or Language** [react]:

**What were you doing when you encountered the desync?**
I create a file on my machine, then renamed it and added some code. None of the changes to the renamed file showed up on the host. I then sent them a copy of the code

[2020-07-23 19:10] ManuBermudez opened #3759 "Out of synch error"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
The host changed the name of a file I was working. The work area was unable to load after that.
**How often have you encountered desyncs?**
Not too often, just once every couple of time

[2020-07-23 19:10] #3759 closed

[2020-07-23 20:27] chrisdusyk-iq opened #3760 "Shared terminals don’t render animations correctly"
Issue Type: <b>Bug</b>

When I connect to a live share session and the host gives access to the terminal, it does not animate correctly for me as the connectee. On the host's screen, npm's animations display normally, however they do not animate on my side. Instead it renders a new row in the terminal for every animation change.

![image](https://user-images.githubusercontent.com/41026008/88335633

[2020-07-23 20:56] tuggan opened #3761 "Desync while colaborating"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Windows 10 2004
**Live Share Extension Version**: 10.0.2478
**Target Platform or Language** [e.g. Node.js]: Go

**What were you doing when you encountered the desync?**
Writing code, it happened while copy pasting codeblocks, writing new lines, and moving/removing files.

**How often have you encountered desyncs?**
T

[2020-07-24 06:47] tuggan commented on #3761
I want to add that it happened a 3rd time a few minutes after this. The host was using vscode in a fresh WSL2 Ubuntu 20.04 environment.

[2020-07-24 06:50] Nekama4chan opened #3762 "Sync Issue in Collaboration"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-07-24 06:50] #3762 closed

[2020-07-24 07:30] Hobart2967 commented on #3121
Still experiencing this in 1.47.2

[2020-07-24 08:03] diego-betto commented on #3712
Steps:
- start a live session
- link in the clipboard is correct: https://prod.liveshare.vsengsaas.visualstudio.com/join**?**BB52F4.....
- in the left sidebar open "Live Share"  -> Contacts -> Recent Contacts -> Invite partecipants...
- your mail client will open with wrong link: https://prod.liveshare.vsengsaas.visualstudio.com/join**%3F**BB52F4.....

[code.log](https://github.com/MicrosoftDocs/l

[2020-07-24 08:54] MaddyPlayer opened #3763 "Status change"
Issue Type: <b>Bug</b>

I can't change status to "Available": when I click it, the status will go always on "Do not disturb". The other statuses work perfectly

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:22:06.216Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.19.0-6-amd64

[2020-07-24 12:22] cooldome opened #3764 "Unable to download needed dependencies behind NTLM proxy"
**Describe what happened:**
Live share extension installation fails with "unable to download needed dependencies" on windows.
My PC is behind NTLM proxy. My suspicion is that live-share doesn't use standard vscode download mecahnism and VSCode proxy settings  are not picked up hence the problem.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: 1.47.2
*OS Version*[macOS/W

[2020-07-24 12:43] alishahbaz200 opened #3765 "alis"
Issue Type: <b>Bug</b>

hello

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:22:06.216Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-07-24 12:59] addshore commented on #3735
I don't appear to be able to reproduce this now

[2020-07-24 12:59] #3735 closed

[2020-07-24 13:44] ejupialked opened #3766 "Issue: Desync detected"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
I was trying to modify a file

**How often have you encountered desyncs?**
First time I have this issue

[2020-07-24 13:47] AchalaSB commented on #3728
Team, any update on the issue?? When and How can it be resolved?

[2020-07-24 14:07] ilanosortap opened #3767 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|19.5.0|

[2020-07-24 15:30] Ambyjkl commented on #224
Hello, KDE user here. Will you ever implement KWallet support?

[2020-07-24 19:26] jasongin commented on #3728
I don't think a proxy is being used here -- the error message in the log is misleading on that point. On Linux, the only way Live Share detects a proxy is via the `http_proxy` / `https_proxy` environment variables, and another part of the logs clearly shows those variables were not set.

So the problem appears to be that the HTTPS certificate of the Live Share site is considered invalid. It is def

[2020-07-24 20:10] IlyaBiryukov commented on #3767
Duplicate of #3767

[2020-07-24 20:10] #3767 closed

[2020-07-24 20:11] IlyaBiryukov commented on #3738
Duplicate of #3715

[2020-07-24 20:11] #3738 closed

[2020-07-24 20:12] IlyaBiryukov commented on #3398
Duplicate of #3715

[2020-07-24 20:12] #3398 closed

[2020-07-24 20:14] IlyaBiryukov commented on #3429
We did some work to hash the file names in the logs. It should be hashed now. If you see other sensitive data in the logs, please file an issue on us!

The desync bug is tracked by #3715

[2020-07-24 20:14] #3429 closed

[2020-07-24 20:14] IlyaBiryukov commented on #3508
Duplicate of #3715

[2020-07-24 20:14] #3508 closed

[2020-07-24 20:16] IlyaBiryukov commented on #3766
Duplicate of #3715

[2020-07-24 20:16] #3766 closed

[2020-07-24 20:17] IlyaBiryukov commented on #3761
Duplicate of #3766

[2020-07-24 20:17] #3761 closed

[2020-07-24 20:25] IlyaBiryukov commented on #3757
@jramsay this looks like another bucket on authentication errors, this one caused by proxy configuration that Live Share didn't use.

Internally tracking by
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1162174

Error from the logs:
[code]

[2020-07-24 20:27] IlyaBiryukov commented on #3756
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-24 20:27] IlyaBiryukov commented on #3765
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-24 20:37] IlyaBiryukov commented on #3764
Hi, thanks for reporting this issue,
Please check out https://github.com/MicrosoftDocs/live-share/blob/master/docs/troubleshooting.md#connectivity

[2020-07-24 20:39] IlyaBiryukov commented on #3764
We track the issue with dependency downloading behind a proxy in #3136
Resolving this as duplicate of #3136

[2020-07-24 20:39] #3764 closed

[2020-07-24 20:40] IlyaBiryukov commented on #3758
Duplicate of #3736

[2020-07-24 20:40] #3758 closed

[2020-07-24 20:59] IlyaBiryukov commented on #3763
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-24 22:01] mlacouture commented on #3763
Hi Marco! yes, this is a known issue we will correct as soon as we have a chance.  I'm going to resolve this as a duplicate of #3763

[2020-07-24 22:01] #3763 closed

[2020-07-24 23:32] jchuang30 opened #3768 "microphone is not working"
Issue Type: <b>Bug</b>

start a audio call but i only can hear what my friends are talking. they could not hear what i am talking.

Extension version: 0.1.85
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:18:50.054Z)
OS version: Darwin x64 18.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz

[2020-07-25 05:25] AchalaSB commented on #3728
@jasongin I tried the above url in browser.. When I copy the USERCODE in VScode it says username is undefined.
![Screenshot from 2020-07-25 10-54-17](https://user-images.githubusercontent.com/41888986/88449530-47369680-ce65-11ea-9083-dbbdc7924501.png)

And the result of Curl command
![Screenshot from 2020-07-25 10-52-11](https://user-images.githubusercontent.com/41888986/88449510-122a4400-ce65-11e

[2020-07-25 07:21] PyPatel commented on #2947
Having the same issue. Not able to change my status to Available.

[2020-07-25 22:40] andygikling commented on #355
Bump!

My vsls-agent was stuck ripping 3Mbit/sec write to disk, continuously (for over an hour) after all users had left my session.

Frustrating, what on earth would cause such a thing?  I'm running Ubuntu 20.04.

I had to put 'er down - once I turned off the live-share session, the vsls-agent remained running but the disk usage fell off, so that's good.

[2020-07-26 06:13] AchalaSB commented on #3728
@jasongin Any update/solution for this?

[2020-07-26 09:35] gingerIZ opened #3769 "Live share issue report"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-07-26 10:09] #3769 closed

[2020-07-26 12:54] josiahbryan opened #3770 "Cannot sign in - Error: "No `vscode.env.uriScheme` set.""
**Product and Version** [VS/VSCode]: 1.33.1
**OS Version** [macOS/Windows]: MacBook Pro, macOS 10.15.5
**Live Share Extension Version**: v1.0.1615
**Target Platform or Language** [e.g. Node.js]: N/A

**Steps to Reproduce / Scenario:**

1. Install extension
2. Click "Live Share" from status bar
3. Select sign in with either method, both go to step 4
4. Error message pops up in toast box from status

[2020-07-26 12:54] josiahbryan commented on #3770
I have uninstalled and re-installed the extension several times, no luck

[2020-07-27 08:56] WoodsCumming commented on #3703
How long is this problem expected to be fixed?

[2020-07-27 15:54] setaskin commented on #3768
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-27 15:57] setaskin commented on #3770
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-27 16:08] setaskin commented on #3716
Hi thank you for reaching out and sending the logs. @BrunoGuardia , assigning to you feel free to reassign if it is not your area

[2020-07-27 16:10] setaskin commented on #3716
Also, looks like this issue is duplicate of #3392 . So I am consolidating the issue and closing this one as duplicate please follow #3392 for updates about the issue.

[2020-07-27 16:19] josiahbryan commented on #3770
Logs are attached. Let me know.,..thanks!

On Mon, Jul 27, 2020 at 6:57 PM Selen Taskin <notifications@github.com>
wrote:

--
Josiah Bryan
+972-050-794-0566
www.josiahbryan.com <https://www.josiahbryan.com/?utm_source=sig>
josiahbryan@gmail.com

[2020-07-27 16:19] setaskin commented on #355
Reactivating the issue. Since we started to get user reports about it again. cc: @BrunoGuardia

[2020-07-27 16:51] selimrecep commented on #3716
I am not sure if it is duplicate since my issue does not include the step 4 in the other issue (Nothing happens). I am getting a connectivity issue

[2020-07-27 17:55] cspotcode commented on #2960
When I try to export the logs, it writes a 0 byte `.zip` file to disk.  I am running VSCode 1.47.2, WSL2, Ubuntu.

[2020-07-27 18:37] spencerudnick commented on #180
This fixed the bug, thanks :)

[2020-07-27 20:28] kitaev-chen commented on #2745
the cluster admin installed vso for us, but when we use "vso start" and choose "process mode", the error comes:

`[!ERROR] Cannot get the response back because the session has been disconnected.`

after looking the agent log file, there are several key errors:

` Connecting to <https://prod.liveshare.vsengsaas.visualstudio.com/b23094a
6> via proxy failed with exception System.Net.Http.HttpRequestE

[2020-07-28 02:43] mengesb commented on #3254
Any potential of getting this issue more attention? This has been ongoing now for 4+ months now and is a critical/great component to live-share!

[2020-07-28 04:25] mengesb commented on #3254
Maybe this information will be helpful.

From my device log, filtering for `tccd`

[code]

There are in fact a few errors actually which may be related as well:

[code]

[2020-07-28 04:29] mengesb commented on #3254
Per `codesign` it seems it's missing some entitlements

[code]

[2020-07-28 04:38] AchalaSB commented on #3728
@jasongin @mlacouture, any fix for this issue?

[2020-07-28 13:03] najes commented on #3313
Also having trouble installing live share extension on Visual Studio 2017.
Previously it notify me of the 'JavaScript and TypeScript language support' prerequisites; but after enabling it it still failed.
Do I need certain SDK version to be installed?
Thanks

7/28/2020 7:32:09 PM - Skipping 'C:\Users\AppData\Local\Microsoft SDKs' as it doesn't exist
7/28/2020 7:32:09 PM - The extension with ID 'Mi

[2020-07-28 13:55] jmench opened #3771 "Account Authentication not working"
**Describe what happened:**
I am trying to use Live Share, and after being prompted to go to my browser and use Github to sign in, I follow the process on there. Upon completion, it prompts to open up VS Code again. After re-opening VS Code, the error message states: "Starting collaboration session: The user code is invalid or expired. Try signing in again." every single time. I even tried copying

[2020-07-28 14:48] Btibert3 commented on #3301
I am evaluating using Live Share (read-only) for my upcoming python/data science course this fall at Boston University, and while the behavior is great for python scripts, the lack of ipynb support is a blocker for my teaching.  In case it helps, while testing last night, this is what a connected user saw when attempting to open the notebook file I was sharing.

![unnamed](https://user-images.gith

[2020-07-28 17:37] mengesb commented on #3742
I think https://github.com/microsoft/vscode/pull/95832 is related

[2020-07-28 17:39] setaskin commented on #3771
Hi thank you for reaching out and attaching your logs. We track the issue in #3728 . I am closing this as duplicate and consolidate it with #3728. We will post it there and let you know once we solve the issue.

[2020-07-28 17:39] #3771 closed

[2020-07-28 17:40] mengesb commented on #3768
Pretty sure https://github.com/microsoft/vscode/pull/95832 is related ; there are sone other issues here too... #3742 for example, #3754 ...

https://github.com/MicrosoftDocs/live-share/issues?q=is%3Aissue+is%3Aopen+label%3A%22area%3A+audio%22

[2020-07-28 17:59] mengesb commented on #3254
Might be helpful to compress several of these audio issues down to a single issue.

Combined with the above; pretty sure that https://github.com/microsoft/vscode/pull/95832 is related (as I've commented on other issues here).

Here's all the [audio tagged issues](https://github.com/MicrosoftDocs/live-share/issues?q=is%3Aissue+is%3Aopen+label%3A%22area%3A+audio%22)

[2020-07-28 18:21] mengesb commented on #3254
[code]

[2020-07-28 20:25] jasongin commented on #3771
Indeed, based on the logs here this is another case of a HTTPS certificate validation problem:

Interestingly, this is on Mac OS, while the other was on Linux. So at least that suggests it is not an OS-specific issue.

[2020-07-28 20:27] jasongin commented on #3728
@AchalaSB We're still investigating. We don't yet understand the root cause.

#3771 is another report of the same problem.

[2020-07-29 09:37] JosXa commented on #541
Is there a regression on this? Using the following settings I observe both the host and (all) the peers attempting to reformat the document on save:
[code]

Maybe it is related to the prettier extension...

[2020-07-29 11:27] northerncodemky commented on #2044
This limitation makes live-share only marginally better than just sharing a screen. And in some ways it's worse as I'm unable to see what the sharer is actually seeing in terms of intellisense. Jetbrains deciding not to implement this API whilst still not having released any live coding capability for Rider is really poor from them.

[2020-07-29 12:58] krsinghshubham opened #3772 "Not able to sign in"
Issue Type: <b>Bug</b>

1. installed the extension.
2. Vs code is not logging me in .
3.  tried to run commands "Live Share: Sign in with user code" and "Live Share: Sign In With Browser"
4. unable to find above commands.

Extension version: 1.0.2478
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18362

<details>
<s

[2020-07-29 15:18] Rukato opened #3773 "Can't share session"
Issue Type: <b>Bug</b>

Trying to start session with signed teamates and it keeps falling with the error log that states sessionId is null

Extension version: 1.0.2478
VS Code version: Code 1.46.1 (cd9ea6488829f560dc949a8b2fb789f3cdc05f5d, 2020-06-17T21:17:14.222Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @

[2020-07-29 16:59] setaskin commented on #3773
Thanks for reaching out. Can you give us more details about your scenario? is the account you are trying to sign in GitHub account ? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-07-29 17:11] setaskin commented on #3772
Thanks for reaching out. Can you give us more details about your scenario? is the account you are trying to sign in GitHub account ? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-07-29 17:35] cvaldez98 commented on #355
Bump on this
Vsls agent using 100% CPU and slowing everything to a crawl. MacOS latest.

[2020-07-29 18:44] BrunoGuardia commented on #355
@cvaldez98 - Carlos, can you indicate your VSCode and LiveShare versions too? And it would be useful to look at your logs, check if you can use the "Live Share : Export Logs" commands, to see if there is more data on why this is happening.

Working on a repro for this one.

[2020-07-29 18:52] cvaldez98 commented on #355
@BrunoGuardia Happy to help!
VSCode Version: 1.47.3
[Livesharedocs.zip](https://github.com/MicrosoftDocs/live-share/files/4996841/Livesharedocs.zip)

[2020-07-29 23:26] tralston opened #3774 "audio call started but no sound"
Issue Type: <b>Bug</b>

In a live collaboration, I tried to start an audio call. It connected and showed the other 1 participant, but we were both talking, and couldn't hear each other (we communicated over the chat). Didn't hear anything (no static or other sounds). I tried to configure the audio to use different mic/speaker (I had external Apple headphones plugged in), but it still didn't work.

[2020-07-29 23:31] tralston commented on #3774
[Untitled.zip](https://github.com/MicrosoftDocs/live-share/files/4997981/Untitled.zip)

Please find attached the exported logs zip file.

[2020-07-29 23:46] setaskin commented on #3774
Thanks for reaching out and attaching your logs . cc: @jramsay

[2020-07-29 23:49] setaskin commented on #3774
Also there is a conversation going on in #3254 . There might be some helpful information there.

[2020-07-30 03:16] krsinghshubham commented on #3772
Aah , fixed !. thanks.

[2020-07-30 03:16] #3772 closed

[2020-07-30 12:52] oalexdoda opened #3775 "🐞 Bug: Files get opened automatically even while not following a participant."
**Describe what happened:**

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode
*OS Version*[macOS/Windows]: macOS
*Live Share Extension Version*: v1.0.2478
*Target Platform or Language* [e.g. Node.js]: Node.js

**Steps to Reproduce / Scenario:**
1. Host a new Live session.
2. Invite a participant to your session.
3. Make sure the participant isn't following the host

[2020-07-30 15:40] neodon commented on #1205
This is a constant source of annoyance and confusion when I am pairing with someone.  I have 2-3 terminals open that are split, and they can only see one at a time.  I would use focus terminal so they could follow what I'm doing, but that doesn't work (at least when using the Remote SSH extension + LiveShare).

Can you have another look into this?  For us it's the only downside to an otherwise pol

[2020-07-30 15:51] setaskin commented on #3775
Thanks for reaching out. Can you give us more details about your scenario? is the file you open, a file in the same project or external file ?

[2020-07-30 16:32] altechzilla commented on #3775
Here's a [screen recording](https://share.getcloudapp.com/xQuLdRmw) demo @setaskin . It's files in the same project that another participant opens, regardless of the participant. It will just open to everyone connected.

[2020-07-31 10:30] slushnys opened #3776 "sessionId undefined after trying to follow participant in live share"
Issue Type: <b>Bug</b>

I closed the previous file where the participant was typing as my own file was jumping around based on participants actions as well. I tried following the participant "on the side" couple times, but it displayed that sessionId was undefined when I did that again.

Extension version: 1.0.2478
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T

[2020-07-31 16:30] andres78901 opened #3777 "desync"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-07-31 16:49] mlacouture commented on #3777
Hi! thank you for reporting this issue - this is a duplicate of #3727

[2020-07-31 16:49] #3777 closed

[2020-07-31 16:52] mlacouture commented on #3776
Hi @slushnys, thank you for reporting this issue - can you please attach the Live Share logs? (Ctrl-Shift P -> Live Share: Export Logs) - thanks

[2020-07-31 16:55] mlacouture commented on #3776
similar to old issue #1172

[2020-07-31 20:50] osamashadwo opened #3778 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.47.3|
|**platformName**|Windows|
|**platformVersion**|10.0.19041|

[2020-08-01 11:21] PranavGPR opened #3779 "Sync Problem"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-01 21:46] mostmand opened #3780 "Autocomplete import not working for guest"
When a live share session is created, autocomplete gives suggestion for some Classes, but when the suggestion is selected the related imports are not inserted.
I tested it on both C# and Java and the same behavior was observed.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode 1.47.3
*OS Version*[macOS/Windows]: both host Linux and guest Windows and vice versa
*Liv

[2020-08-02 01:04] daboross opened #3781 "Go-to-definition from guest doesn't support LocationLink-type results"
**Describe what happened:**

When using some LSP extensions, go-to-definition on the client works correctly. For instance, [golang](https://marketplace.visualstudio.com/items?itemName=golang.Go) and [python](https://marketplace.visualstudio.com/items?itemName=ms-python.python).

With the `rust-analyzer` extension, though, using go-to-definition as a Live Share guest does nothing. As far as I can t

[2020-08-02 19:44] daboross commented on #3781
I think I've reduced this to a live share issue, where it doesn't support `LocationLink`-type results: https://github.com/rust-analyzer/rust-analyzer/issues/5644.

[2020-08-02 20:32] teohhanhui commented on #2071
I'm getting:

[code]

`Help > About`:

[code]

[2020-08-02 22:13] AstroALee opened #3782 "Running shared files remotely on your local machine"
Apologies if this is a repeated question--it seems simple enough, so I hope it's just me being silly.

I'm considering using Live Share for a (remote) computational physics course and I want groups to be able to work on the same pieces of code at the same time. These scripts are never going to be super sophisticated, and it would be nice if each person could run code on their local machines. Assum

[2020-08-03 09:36] hello-ward opened #3783 "Cannot start"
Issue Type: <b>Bug</b>

cannot start collaboration session

Extension version: 1.0.2478
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx   (8 x 2096)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-08-03 09:41] FreeFrags commented on #10
Where can we vote or let you know we are interested in a VS version of this extentsion?

[2020-08-03 09:52] rrhodes commented on #3057
Also experiencing this issue with Ubuntu 20.04. None of the proposed solutions in this thread work in my case.

[2020-08-03 10:25] rrhodes commented on #2852
Appear to be experiencing the same issue with Ubuntu 20.04 also. Unable to run any LiveShare commands, including export logs.

[2020-08-03 11:11] MJSahebnasi opened #3784 "[VS Code] [Audio] HTTPS request failed for SkypeToken: getaddrinfo EAI_AGAIN authsvc-server.teams.microsoft.com"
Error:
HTTPS request failed for SkypeToken: getaddrinfo EAI_AGAIN authsvc-server.teams.microsoft.com

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.47.3|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2020-08-03 20:30] Chobbes commented on #2594
Same here. :(

[2020-08-03 23:21] daytonellwanger commented on #3779
Hey @PranavGPR , could you provide some more info about the issue? Thanks!

[2020-08-03 23:23] daytonellwanger commented on #3781
Thank you very much for the awesome issue! I think you've nailed the issue. @aletsdelarosa has been working on a fix for this, and I think it should be ready to release soon.

[2020-08-04 01:15] vcanaran commented on #3596
I am having the same issue as above. I am using osx. I am joining a session. Tried with my azure and github credentials. Also noticed it is not saving my credentials as I would be doing this action repeatedly.

[2020-08-04 03:17] PranavGPR commented on #3779
Hey @daytonellwanger , I had a problem with my live server as it got crashed couple of times when I have been doing some HTML and SCSS stuffs. I don't know exactly what happened but my system just hanged up for a moment and live server ran into a problem so that extension host has been stopped.

[2020-08-04 07:07] altechzilla commented on #3775
Any thoughts? @setaskin

[2020-08-04 17:03] setaskin commented on #3775
I can repro the issue @daytonellwanger can you take look ? feel free to reassign if it is not your area.

[2020-08-04 17:28] Moniarchy commented on #3778
Thanks for opening this issue, @osamashadwo. I'm going to close it as a duplicate of  #3514. Can you upload your logs there and join the conversation? You can access them via the Live Share: Export Logs command from the command palette (`ctrl + shift + p`) and attach them to #3514.

[2020-08-04 17:28] #3778 closed

[2020-08-04 18:19] VishakAmin opened #3785 "Cannot Sign In"
Issue Type: <b>Bug</b>

After Sign In through Github or Microsoft Account both gives the same error. Tried with installig libssl1.1 still same issue.
Error : Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Extension version: 1.0.2478
VS Code version: Code

[2020-08-04 19:53] andyneff commented on #3392
Still broken in VS Code version 1.47.3 w/ Live Share 1.0.2478

[2020-08-04 21:32] danielmarin0051 commented on #3392
I had the exact same issue. Nothing happened when activating live share with a remote. My remote was using Ubuntu 18.04.
I solved it by accident. I enabled Chrome Remote Desktop on my remote so I could be able to observe my remote desktop from my local computer. I realized that when activating Live Share with a remote ssh session in my local computer (and connecting to my remote of course) nothing

[2020-08-05 05:38] notbeer opened #3786 "Live Share"
Issue Type: <b>Bug</b>

Whenever i go to the liveshare page and try to click on any of the options like Start collaboration session or the others. The buttons don't work for some reason...

Extension version: 1.0.2478
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|It

[2020-08-05 13:11] Chobbes commented on #2594
I've discovered that 1) you need to have gnome-keyring installed, and 2) the open source version of VSCode sometimes gets grumpy about missing APIs, so installing the proprietary release might help.

[2020-08-06 04:52] lostintangent commented on #10
@FreeFrags Could you file a new issue to track that? Thanks!

[2020-08-06 07:53] aletsdelarosa commented on #3781
@daboross I will close this issue and update #3570

[2020-08-06 07:53] #3781 closed

[2020-08-06 08:06] protonesso commented on #556
Good feature actually

[2020-08-06 22:12] fubaduba commented on #3786
@notbeer are you referring to the welcome page for Live Share here?

[2020-08-07 06:05] setaskin commented on #3780
Hi, thank you for reaching out and sending your logs. @daytonellwanger can you take a look ?

[2020-08-07 13:54] dan-valinotti opened #3787 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1. enter live share
2. click "create audio call"

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.47.3|
|**platformName**|MacOS|
|**platformVersion**|19.5.0|

[2020-08-07 14:20] daytonellwanger commented on #3780
Actually I'll bump it to @aletsdelarosa 😁. Alex, I think the issue is that we haven't yet added support for for the new property `additionalTextEdits` that `CompletionItems` can now include. More info [here](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion).

[2020-08-07 17:05] rygwdn commented on #60
It would be nice to have Live Share support [UPnP/IGD](https://en.wikipedia.org/wiki/Internet_Gateway_Device_Protocol) to automatically forward the port it wants on routers and fetch an external IP address. Even without that, it would likely be enough for many people if we could set an IP address to use in the Live Share settings.

I participated in a Live Share today where we wanted to use direct

[2020-08-07 19:00] rdammkoehler opened #3788 "Dropped from session; Mac->Win Sync"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-07 20:59] brocool27 commented on #3483
I am unable to sign in as well it signs me in but then signs me out

[2020-08-07 21:00] brocool27 commented on #3695
I am having the exact same problem.

[2020-08-07 22:05] setaskin commented on #3787
Thanks for reaching out. Can you try the steps described here? #2996 (comment)

[2020-08-07 22:08] setaskin commented on #3787
We are tracking the issue in #2996 so I am going to close this as duplicate . Please follow the conversation there if above solution does not work for you.
Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to @2996.

[2020-08-07 22:08] #3787 closed

[2020-08-07 22:11] setaskin commented on #3706
Hi, we are tracking the issue in #2996 , so I am closing this one as duplicate. Would you try this
 solution see if it helps. https://github.com/MicrosoftDocs/live-share/issues/2996#issuecomment-591005520

[2020-08-07 22:11] #3706 closed

[2020-08-07 22:12] setaskin commented on #3706
if it still doesn't work. Please attach your logs in #2996

[2020-08-07 22:14] setaskin commented on #3403
Thanks for reaching out. Can you try the steps described here? #2996 (comment)

We are tracking the issue in #2996 so I am going to close this as duplicate . Please follow the conversation there if above solution does not work for you.
Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and

[2020-08-07 22:14] #3403 closed

[2020-08-07 22:16] setaskin commented on #3350
Hi , we are tracking the issue in #2996.  I am closing this as duplicate . Please join the conversation in @2996 if above suggested solution doesn't work for you.

[2020-08-07 22:16] #3350 closed

[2020-08-07 22:18] setaskin commented on #3338
Hey, we are tracking the issue in #2996 . So I am closing this as duplicate . Please join the conversation in #2996 if above solution doesn't work for you.

[2020-08-07 22:18] #3338 closed

[2020-08-08 06:59] DuttaAB-dev commented on #2594
I have met all your requirements but the issue still persists.

[2020-08-09 04:25] jmbockhorst commented on #3116
I am running into this too. Getting multiple `codelens` requests for one document change even when there is no live share session going. Disabling live share fixes the problem.

[2020-08-09 09:12] abdulrahmantkhalifa opened #3789 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.47.3|
|**platformName**|MacOS|
|**platformVersion**|19.5.0|

[2020-08-09 12:11] heysujal opened #3790 "I am experiencing a lot of problem like frequent disconnections and desync."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-09 16:18] toluschr commented on #3057
I'm facing the same issue

[2020-08-09 16:19] toluschr commented on #3057
I'm facing the same issue

[2020-08-09 16:22] AchalaSB commented on #3728
Any updates on this?

[2020-08-09 16:24] toluschr commented on #3057
I noticed that the desktop file was missing.
I fixed it by downloading the code package from another distros repository ( https://www.archlinux.org/packages/community/x86_64/code/download/) and copying `code-oss-url-handler.desktop` to `/usr/local/share/applications`.

After that, I ran `xdg-mime default code-oss-url-handler.desktop x-scheme-handler/code-oss` and `xdg-mime default code-oss-url-han

[2020-08-09 20:08] BirgitPohl commented on #3728
Does it help, if I mention, that my connections are always with Zscaler?

[2020-08-09 20:41] jasongin commented on #3728
@BirgitPohl Use of Zscaler could definitely be an explanation for an "invalid certificate" error. According to their docs, [Zscaler performs SSL inspection](https://www.zscaler.com/products/ssl-inspection), which means the ZScaler proxy must replace the HTTPS certificate of the connection with one that they issue. Your browser might be configured to trust the certificate from ZScaler, while the OS

[2020-08-09 21:15] setaskin commented on #3784
Hi, thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-08-09 21:16] setaskin commented on #3784
@jramsay can you take a look ?

[2020-08-09 21:19] setaskin commented on #3789
Hi , thank you for reaching out. Would you check out this work around and see if it unblocks you ?  https://github.com/MicrosoftDocs/live-share/issues/2996#issuecomment-591005520

[2020-08-09 21:19] setaskin commented on #3789
We are tracking the issue in #2996 so I am going to close this as duplicate . Please follow the conversation there if above solution does not work for you.
Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to #2996.

[2020-08-09 21:19] #3789 closed

[2020-08-09 21:31] setaskin commented on #3790
Hi, thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information to investigate. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue. We are tracking the issue in #3715 . So I am closing this issue as duplicate. Please attach your logs in #3715

[2020-08-09 21:31] #3790 closed

[2020-08-09 21:32] setaskin commented on #3788
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-08-09 21:38] setaskin commented on #3785
Hi, thanks for reaching out. We are tracking the issue in #2892.  So I am going to close this as duplicate. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #2892 .

[2020-08-09 21:41] setaskin commented on #2892
assigning to @BrunoGuardia , feel free to reassign if it is not your area

[2020-08-09 21:43] setaskin commented on #3785
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-08-09 21:46] setaskin commented on #3783
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-08-09 22:02] BrunoGuardia commented on #2892
We have updated some certificate policies, should be resolved. Please reopen if you still are hitting similar issues

[2020-08-09 22:02] #2892 closed

[2020-08-09 23:34] tamuratak opened #3791 "Should provide complete FileSystemProvider for VS Code extensions"
When `uri` points to `vsls:///path/filename`, `vscode.workspace.fs.readFile(uri)`  does not work  on the guest machine for binary files.

Live Share should provide a complete `FileSystemProvider` supporting binary files.

 I am a contributor to [LaTeX Workshop](https://github.com/James-Yu/LaTeX-Workshop), VS Code extension for LaTeX editing. @daytonellwanger has made a [PR](https://github.com/Jame

[2020-08-09 23:43] tamuratak commented on #3710
- It should be documented that [some APIs are allowed only for whitelisted extensions](https://github.com/MicrosoftDocs/live-share/issues/2896#issuecomment-626248324).
- It should be documented that `FileSystemProvider` by Live Share does not support binary files. #3791.

[2020-08-10 00:56] #3785 closed

[2020-08-10 03:09] Yosoyfr commented on #3791
F

[2020-08-10 12:10] TheHandsomeCoder commented on #3570
Hey @aletsdelarosa and @daytonellwanger just wondering if there was there any update on this or is there something that could be contributed to helping solve the issue?

[2020-08-10 17:07] aletsdelarosa commented on #3570
Hello @TheHandsomeCoder it is in PR now. It should be working next week

[2020-08-10 22:21] dmota199 opened #3792 "https://prod.liveshare.vsengsaas.visualstudio.com/join?C281EB6715A85E1190EE84DCCF528D0A9E90"

[2020-08-11 07:45] ranaharoon3222 opened #3793 "sync issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-11 07:56] jawn commented on #3121
Any ETA on getting this fixed? I can imagine this blocks potential users from taking VS Live Share seriously for day to day use.

[2020-08-11 08:46] jawn commented on #1550
Any news? #hope

[2020-08-12 21:16] jassmith opened #3794 "Desync"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Windows
**Live Share Extension Version**: Latest
**Target Platform or Language** [e.g. Node.js]: Typescript

**What were you doing when you encountered the desync?**

Just joined the share

**How often have you encountered desyncs?**

Detected by LiveShare? Rarely. Actual desyncs where what I see and the host sees ar

[2020-08-13 06:12] farahtasnuba opened #3795 "Live Share was out of sync without any warnings."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-13 07:09] rensa commented on #2086
I'm also getting the desync issues, but the bigger problem isn't the error itself—it's that the problem often isn't announced until well after the desync actually happens. A colleague and I have had several instances today where we lost an hour's work due to someone continuing to work on a file that had since desynced; we didn't cotton on until the Follow feature failed to track them moving to a n

[2020-08-13 14:13] biermanncarl opened #3796 "Interactive Python: guests cannot execute cells"
**Describe what happened:**
When trying to execute code cells as a guest, I recieve an error message "The host doesn't allow running this command. If needed, ask them to enable it."
Even enabling the option "Liveshare > Languages: Allow Guest Command Control" does not help.
However, it does work in version 1.0.2478 of Live Share, but appears broken in the most recent version 1.0.2619.

**What was

[2020-08-13 14:31] biermanncarl commented on #3782
If the host shares a Jupyter Server, everyone can execute code cells (marked with a line `#%%` in front of the code to be executed) and the output can be seen by all participants in an interactive Python window.
However, in the most recent version of Live Share (1.0.2619) only the host can execute code cells. In the previous version (1.0.2478) it was possible. This seems to be a bug and I reported

[2020-08-13 18:11] rodrigovaras commented on #3791
@daytonellwanger , what is the state of the binary support on our file system provider implementation, do we vere face some limitations on our extension due to this?

[2020-08-13 18:12] rodrigovaras commented on #3792
Not enough info.

[2020-08-13 18:12] #3792 closed

[2020-08-13 18:14] rodrigovaras commented on #3794
@daytonellwanger would be a way to repro this? He claims it happen 'all the time'

[2020-08-13 18:25] rodrigovaras commented on #3796
@BrunoGuardia , i open a bug to track this potential regression, can you assign to someboy in the team, maybe @IlyaBiryukov ?

[2020-08-13 20:35] pedrogleta commented on #3012
I'm having the same issue. Logging in with user code didn't work, nor did disabling account authentication. I'm on Windows 10

[2020-08-13 20:40] pedrogleta commented on #3012
Just found out! Disabling Avast web shield made it work for me

[2020-08-13 21:03] daytonellwanger commented on #3794
Thanks for the report @jassmith , and sorry you're experiencing such a frustrating issue. This is one of the team's top priorities at the moment. I'm right now working on adding some more diagnostic tools that should be able to take your frustrating sessions and turn them into actionable data 😀. I'll ping this thread when that's ready. Hopefully next release.

[2020-08-13 21:30] AstroALee commented on #3782
Thanks for following up and looking into this.

[2020-08-14 14:50] taalgaard commented on #450
I just started having this issue too.

[2020-08-14 16:35] andyneff commented on #3392
I think I finally figured out what was wrong.

There are three places to have "Live share" installed:

- Locally on my Windows machine: `local_machine:~/.vscode`
- Remotely in the VSCode server (which is why I use via Remote Development (SSH)) `remote_machine:~/.vscode-server`
- My actual remote environment, that is the "local" environment I use when I'm sitting at the remote machine: `remote_mach

[2020-08-14 19:19] BrunoGuardia commented on #3392
Thanks for following-up and documenting your work, @andyneff !

Is your issue closed now?

[2020-08-14 19:39] andyneff commented on #3392
I would say no, the issue is not resolved. I do not believe this is expected or the correct behavior.

When I want to remote in and do Live Share, this is why I would expect:

1. Install Remote Development Locally: `local:~/.vscode`
2. Connect to remote machine: this sets up in `remote:~/vscode-server`
3. Install Live share remotely: `remote:~/vscode-server` (and maybe locally too in `local:~/.vsc

[2020-08-14 19:48] andyneff commented on #3392
I'm not sure, Did something if something 2619 fixed it, or now that it is working for me, I can't get it to break again.

[2020-08-14 19:53] PMARINA commented on #3376
Not sure if I need to open a new issue but resizing your (not host's) window a few times causes the terminal to not re-expand, making the host's terminal impossible to read/use.
![upload](https://user-images.githubusercontent.com/16825005/90287663-4e3e3c80-de46-11ea-8e72-ced00013e8c5.PNG)

[2020-08-14 20:05] andyneff commented on #3392
To the best of my knowledge, 2619 is working, and I was incorrect about having to have it installed in `remote:~/.vscode`

[2020-08-15 23:08] imxande opened #3797 "Live share failed"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
I was deleting a file.
**How often have you encountered desyncs?**
Just now.

[2020-08-16 08:42] #3783 closed

[2020-08-16 08:43] hello-ward commented on #3783
this worked, but i use previus version thx

[2020-08-17 03:46] glittle commented on #224
Installing the keyring solved a similar issue on a Chromebook linux with VS Code.

[2020-08-17 09:36] c-snail opened #3798 "Typescript not working as guest"
Issue Type: <b>Bug</b>

Function, classes, variables and namespaces defined in one typescript file are producing errors (ts(2304), ts(2503)) when used in another file, but only on the guest. However, when hovering over such a function, its type and doc-string is shown.

## Host screenshot

![Screenshot from 2020-08-17 10-20-02](https://user-images.githubusercontent.com/36511192/90381032-ba05ec80-e

[2020-08-17 13:30] TimVanDyke commented on #3798
+1 I think it has something to do with the most recent update of VS Code

[2020-08-17 17:24] f0urfingeredfish commented on #355
Ran into this today and had to kill `vsls-agent` manually. CPU was pegged at 100%

Version: 1.47.3
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:08:29.692Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

Live share version 1.0.2619

[2020-08-17 17:31] connor4312 commented on #355
Fyi I suspect my issue was related to https://github.com/MicrosoftDocs/live-share/issues/3612, I have not observed this problem since that was fixed.

[2020-08-17 19:22] SetTrend opened #3799 "No chat in Live Share"
There is no chat option available in Live Share, though it's [stated in MS DevBlogs](https://mspoweruser.com/visual-studio-live-share-chat-audio-support/) that there's supposed to be a chat option:

![No chat in Live Share](https://user-images.githubusercontent.com/9283914/90435703-a9cf2b00-e0cf-11ea-8a88-c71a391532d8.png)

[2020-08-17 19:33] daytonellwanger commented on #3798
Thanks for reporting! Yes, this is due to the latest update of VS Code - previously the TypeScript extension would not activate for the Live Share guest, and now it is. The errors you're seeing are being produced by the local TypeScript extension, and the correct hover info is being produced by the Live Share extension.

We're working on a fix right now. In the meantime, if you find this truly ann

[2020-08-17 19:58] ShyGabriel opened #3800 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.48.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-08-17 20:22] biermanncarl commented on #3782
This is a bit off-topic, but I have done a tutorial on this (for our own sake - which seems quite similar to your case)
https://youtu.be/cZzQvVE74tA

[2020-08-17 20:34] AnthonySuper commented on #3746
Right now this is an accessibility problem. I think this is really important for colorblind or otherwise vision-impaired collaboration.

[2020-08-18 02:14] rodrigovaras commented on #3799
Hi Set,
The chat option is only available on the vscode extension, we will eventually offer this on VS in the future. Adding @jramsay to track this future work

[2020-08-18 02:14] #3799 closed

[2020-08-18 03:01] RobertPCHu commented on #3012
I also got this problem.
Neither run the "Live Share: Disable VSCode account authentication" command nor disable Avast can solve this issue, both on VScode rev1.48.0 and rev1.41.1, OS:win10
What can I do now?

[2020-08-18 09:26] OjChi commented on #2681
Still getting the same error. Please recommend a solution. I am not using a proxy server.

[2020-08-18 09:30] OjChi commented on #2776
Still having the same issue. I tried the repair button. I have checked if a proxy server is present that also is not there.

If anyone knows any solution please let me know

[2020-08-18 09:35] SetTrend commented on #3799
Thanks, @rodrigovaras .

I believe the chat option is vital. Just had a Live Share session yesterday. It was spooky and fruitless, because no-one knew what the other one did or wanted to do.

We then started adding text comments to code files to be able to "talk" and discuss.

Finally, we quit Live Share and just used Zoom to share my desktop. So, in the end, Live Share rendered useless, I'm afrai

[2020-08-18 11:23] John0King commented on #2495
any progress on this ?

[2020-08-18 22:59] daytonellwanger commented on #3793
Hey @ranaharoon3222 , could you provide some more info about the issue?

[2020-08-18 23:06] daytonellwanger commented on #3795
Thanks for the report, and sorry you're experiencing this. Do you have any additional info about what you were doing when you encountered the desync?

We're currently working on better desync detection that should be available behind a special setting next week. I'll reach out when we have that, as it'd be helpful to see if that better detected the issue than the mechanism we have in place today.

[2020-08-18 23:10] daytonellwanger commented on #2086
I'm very sorry to hear that @rensa 😔. We're working on better desync detection at the moment that should ship next week (it'll be behind a special flag). That change will also include some diagnostic info that should help us figure out what caused the desync so we can finally fix this. I'll reach back out when we release that.

[2020-08-18 23:12] rensa commented on #2086
That's all right, @daytonellwanger! I was a little frustrated when I wrote that comment, but I'm very appreciative of the hard work you've all our into VSCode and Live Share. It's improving my work a lot!

[2020-08-18 23:30] daytonellwanger commented on #3797
Hey @imxande , thanks for the report. Could you describe the scenario in a little more detail? It sounds like you deleted a file and then became out of sync?

[2020-08-18 23:31] daytonellwanger commented on #2495
This should be fixed in a recent version of Live Share/VS. What version are you on? (Both Live Share and VS).

[2020-08-19 07:19] jplozgom opened #3801 "Cannot join Liveshare sessions"
Hi everyon in Vsls team.

Today after working the entire day with an extension I am building and liveshare stopped working. When I try to join a link I get the following message

"Joining collaboration session: Unable to write to Workspace Settings because vsliveshare.join.reload.workspaceId is not a registered configuration."

I was unsure if this could be related to my project so I created a ses

[2020-08-19 07:38] imxande commented on #3797
Hey @daytonellwanger that is correct, I was working on a different component, while my friend was working on styling our application, when I suddenly got out of sync. I experienced some lag after and my friend was not able to see me at all. So we just re-started live share. Not much happanned after that, just wanted to report it since it was an option. Is working fine at the moment.

[2020-08-19 13:40] imunchen commented on #3406
Hi team.
Could you provide some information if these features are going to work in Live Share?
If I can try some workaround will be even better.
Thank you.

[2020-08-19 15:08] ruanmed opened #3802 "Publish Extension to Open VSX"
Publishing the extension to [Open VSX](https://open-vsx.org/) would be great for VSCodium users.

For reference: [Publish Extensions to Open VSX](https://github.com/open-vsx/publish-extensions).

Edit: Just realized Live Share is not open source, this repository is for the docs only.

[2020-08-19 15:20] daytonellwanger commented on #3406
This issue should be fixed on latest version of Live Share/VS. Are you still seeing things broken? If so, what version of Live Share and VS do you have?

[2020-08-19 15:22] daytonellwanger commented on #3797
Ok thanks for the report! We're working on adding some more diagnostics now, so if this happens again we can provide you with a way to collect more info that will allow us to fix the issue. I'll reach back out when we're done with that.

[2020-08-19 15:26] adeleyeayodeji opened #3803 "Sync Issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-08-19 16:25] daytonellwanger commented on #3803
Hey @adeleyeayodeji , could you provide some more info about the issue?

[2020-08-19 17:36] fubaduba commented on #3801
Thank you for reporting this issue. We have a fix underway and will inform you when its out! Stay tuned!

[2020-08-19 18:02] daytonellwanger commented on #3801
Should be fixed now! Could you reload VS Code and have another go at it?

[2020-08-19 19:11] pantaryl opened #3804 "Live Share Session View in Browser C++ CoDebug No Variables/Callstack"
Issue Type: <b>Bug</b>

1. Create a local C++ project.
2. Start live share of C++ project, with co-debugging enabled (allowGuestControl = true).
3. Join live share via browser (preview).
4. Log in (avoid read-only status).
5. Set a breakpoint in the browser.
6. Start the debugger in the browser.
7. Watch as no variables are populated and the call stack is nearly devoid of useful information.

Visu

[2020-08-19 20:08] pauljuneau commented on #3339
I was receiving this issue as well and I was able to resolve it by doing the following:

There was a command I found by doing cmd+shift+p on mac or ctrl+shift+p on windows in VS Code and searched for 'Live Share'. I stumbled upon ‘Live Share: Enable VSCode Account Authentication’. Once I ran this command, I no longer received the collectInfoFromReq: Invalid state error and was able to complete the

[2020-08-19 21:10] cblaine commented on #3798
@daytonellwanger Can you elaborate on "disable the Typescript extension for the guest"?  I disabled mine and then joined as a guest but it's still broken.

[2020-08-19 21:39] psakievich commented on #2681
@BrunoGuardia is [this](https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/linux#install-prerequisites-manually) a potential work around?  I was able to install on my mac, but now I can't install on my linux box I ssh into, and use the remote-ssh extension.  Seeing the same hangup on needed dependencies.

[2020-08-20 00:43] daytonellwanger commented on #3798
I was mistaken - I thought this was possible to do, but it isn't. We've fixed this in the latest version of VS Code Insiders, so you can either update to that or revert to the last version of stable.

[2020-08-20 01:04] cblaine commented on #3798
Awesome, will do!

[2020-08-20 01:31] jplozgom commented on #3801
Ok, I reload vs code and it doesn't work. I tested the following

I created a codespace with online.visualstudio.com and created a shared session.

I can join this session in my local vs code. However when debugging or testing the extension that I am developing I cannot join the shared session.

[2020-08-20 05:09] BrunoGuardia commented on #2681
@psakievich

Yes, that is a potential workaround for Linux install. Other potential workarounds are at #3392

[2020-08-20 13:23] imunchen commented on #3406
Hi @daytonellwanger
I update the VS yesterday but the Live Share only updates today.
Now It's working.
Awesome.

[2020-08-20 16:39] stellarbeam commented on #1782
I have started facing the same issue after setting up OAuth for GitHub ( I was prompted to do it when I tried to publish a repo to GitHub). After that, every time I launch VS Code for first time on system boot, the pop up appears, since I have set up auto login for my Pop OS 20.04
I believe this won't happen if I login to my user account manually instead of auto login, but it would be nice if we a

[2020-08-20 16:40] stellarbeam commented on #1782
I have started facing the same issue after setting up OAuth for GitHub ( I was prompted to do it when I tried to publish a repo to GitHub). After that, every time I launch VS Code for first time on system boot, the pop up appears, since I have set up auto login for my Pop OS 20.04
I believe this won't happen if I login to my user account manually instead of auto login, but it would be nice if we a

[2020-08-20 17:03] psakievich commented on #2681
@BrunoGuardia okay I've tried both, but neither are working.  What I don't understand is why I can install it through an RGS session on my linux box just fine, but I can't install it over the remote ssh.  Why does the work around script require root access?  I don't have that, but I was able to install locally just fine.  These seem like system libraries, while the error on this thread seems like

[2020-08-20 17:24] jramsay commented on #3802
@ruanmed: thanks for the suggestion! Our codebase isn't open source at this time. I'll tag this as a feature request for consideration.

[2020-08-20 20:21] patpat20 opened #3805 "desync issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**
too often

[2020-08-21 01:47] dvanic commented on #3301
I think that with the COVID-induced pivot to online teaching this would a MASSIVE boost to the adoption of VSCode for teaching, especially in Universities and researcher-focused bootcamps. I think supporting .ipynb and .R/.Rmarkdown would make it such a useful tool! It would also attract a completely new cohort and quite substantial cohort of users to VSCode.

[2020-08-21 04:44] KarlHeinzNSJ1623 opened #3806 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.47.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-08-21 07:24] varora1406 opened #3807 "Unable to use visual studio live-share"
Logs -
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/5107380/logs.zip)

For some reason, it's been non-functional for a long time
Installed it various times, by cleaning stuff, still didn't work

**Steps to Reproduce / Scenario:**
1. Unable to Start, Join any collaboration, says command not found

[2020-08-23 22:44] Kaushik6Test opened #3808 "Audio extension has slow startup performance"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Darwin x64 19.6.0`
- VSCode version: `1.48.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
Got a warning that this extension took time to load. When clicked found this
Startup Activation: 12273ms
Profile: 10343.31ms
<img width="977" alt="Screenshot 2020-

[2020-08-24 00:56] mikejunior277 commented on #69
the chat worked just fine when i was was doing it before but then i did it with another person then it says "The chat service is currently disconnected. Please try again shortly."

[2020-08-24 04:48] AchalaSB commented on #3728
Its been a long time, any fix to this issue?

[2020-08-24 07:07] xgdgsc commented on #2154
Why don' t you make allow the default? We are developers who know what we are doing using vscode.

[2020-08-24 07:33] mohammadmotiurrahman commented on #3806
For some reason Visual Studio 2019 decides to restart in the middle of coding.
I had 10-15 participants on live-share.
It did it twice.

[2020-08-24 09:58] mikejunior277 commented on #69
i tried to reinstall extensions but i still cant use chat

[2020-08-24 11:17] Josh-Ring-jisc commented on #2852
This issue is related to: https://github.com/MicrosoftDocs/live-share/issues/3807

[2020-08-24 15:16] willresen opened #3810 ""Cannot find module .... or its corresponding type declarations""
Issue Type: <b>Bug</b>

After the recent Live Share update, my TypeScript projects are no longer recognizing imported modules and are generating errors (but only on the remote machine).

![image](https://user-images.githubusercontent.com/49418430/91062900-42e3d180-e5fb-11ea-952f-f045f34e0efb.png)

Extension version: 1.0.2666
VS Code version: Code 1.48.1 (3dd905126b34dcd4de81fa624eb3a8cbe7485f13, 2

[2020-08-24 19:15] fubaduba commented on #3807
Thanks for reporting this! We're looking at this issue right now.

[2020-08-24 19:45] fubaduba commented on #3808
Hey thanks for reporting this issue! Could you please also attach your session logs for us to be able to repro the issue?

[2020-08-24 19:48] fubaduba commented on #3810
Thanks for reporting this issue.
@aletsdelarosa can you please look at this and try to repro it?

[2020-08-24 19:56] Kaushik6Test commented on #3808
Hello, @fubaduba. Here's the attached logs.
[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/5119959/Logs.zip)

[2020-08-24 21:38] BrunoGuardia commented on #3728
We have kept investigating, and we have some fixes in progress.

[2020-08-25 01:06] jplozgom commented on #3801
After 2 days, joining liveshare sessions while testing an extension worked.  No changes from my side, I guess it must have been what @daytonellwanger fixed. Thanks

[2020-08-25 01:06] #3801 closed

[2020-08-25 06:33] ssarraju opened #3811 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.48.1|
|**platformName**|MacOS|
|**platformVersion**|19.6.0|

[2020-08-25 08:26] MariusVB commented on #1450
Still an issue. Happened with macOS host and Linux participant. Cannot select Python interpreter and I can only navigate the shared workspace to look for it..

[2020-08-25 09:19] AuditorOfDoom commented on #3773
I'm having this issue as well.

extension version: 1.0.2666
VsCode version:  1.48.1
OS: windows 10

[20200825_091143_15983467030820_VSCode.log](https://github.com/MicrosoftDocs/live-share/files/5122705/20200825_091143_15983467030820_VSCode.log)

[2020-08-25 09:32] Hazmi35 commented on #3810
I have a similar problem with TypeScript v3.9.7, the host doesn't get affected here too

[2020-08-25 16:01] jorenbroekema commented on #3340
Is there any update on this? Will it be picked up? Is there something I can do or contribute to make it happen?

[2020-08-25 17:15] fubaduba commented on #3811
Thanks for reporting this issue! Can you give us more details about your scenario? It looks like you were having trouble with the audio extension. Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-08-26 02:36] guibnx opened #3812 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.48.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-08-26 07:52] adeshdatir99ad opened #3813 "do not connect"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-08-26 08:38] dominikandreas commented on #3273
the command `Live Share: Disable VSCode account authentication` doesn't change anything for me. disappointing that this issue still prevents linux users from using live share after such a long time

[2020-08-26 15:41] jmanj78 commented on #3671
Our company's Catalina users are also seeing this (previous version of MaxOS and Win10 working fine). Coworker said updating the version of .NET from 3.1.1 (auto downloaded by live-share) to 5.something seemed to solve the problem, but not sure exactly which version actually contained the fix. Would be nice to get a newer version of .NET bundled to avoid this altogether.

[2020-08-26 19:19] fubaduba commented on #3813
Hey @adeshdatir99ad, thank you for reporting an issue. Could you please provide us more details about your experience? When you mean "do not connect" are you referring to not being able to start or join a Live Share session? Does it refer to some other Live Share experience?

[2020-08-26 19:20] fubaduba commented on #3812
Hey @guibnx what went wrong with your audio experience? Could you please provide us with more details.
Thank you!

[2020-08-26 21:13] TheArcaneBrony opened #3814 "Host not reconnecting to server after being disconnected"
**Describe what happened:**
Me and a friend were sitting in a live share session, my internet got interrupted (host) and he was not able to rejoin at all ("Host is no longer online").
I have to end the session and re-start it in order for him to be able to connect again.

**What was your system configuration?**
**Product and Version** [VS/VSCode]: VS Version 16.8.0 Preview 1.0 (any affected)
**OS

[2020-08-26 23:17] niem94 commented on #3810
Same with me and my friend @jazerix, who are both on the newest version of TS and LiveShare, with a clean TS project. It also happens for the one who is not hosting.

[2020-08-27 07:57] buoyantair commented on #3810
Happening with me as well :/

[2020-08-27 13:51] daytonellwanger commented on #3810
This is an issue with the latest version of VS Code stable - the local TypeScript extension is running on the Live Share guest. You can either revert to the previous version of VS Code stable, use VS Code Insiders (where we've since fixed the issue), or wait for the next version of VS Code stable, where this will be fixed. Sorry for the inconvenience!

[2020-08-27 14:03] moattarwork commented on #3299
I agree. If you have a diversified team which is mainly using Rider, Vs Code, and Visual Studio that is an organic choice. I think it is ignored in both side from Microsoft and Jetbrains

[2020-08-27 16:09] jazerix commented on #3810
@daytonellwanger That's great to hear that a fix is coming down the pipeline!

[2020-08-27 17:38] Devorasolomon opened #3815 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.48.0|
|**platformName**|Linux|
|**platformVersion**|4.15.0-112-generic|

[2020-08-27 19:17] fluffynuts commented on #3299
I don't think JetBrains ignores heterogeneous environments, tbh. I've had licensing for their products for quite a few years now, both through their open-source initiatives and, for the last 2+ years, commercial licenses that my workplace has provided. None of their products are specifically anti-competitive or exclusionary, at least, not to my knowledge. The LiveShare binaries that are used by VS

[2020-08-27 21:44] umanglathia commented on #355
Seeing the same thing today on the latest version of the extension

[2020-08-28 00:35] jassmith opened #3816 "Desync while pair programming"
**Product and Version** [VS/VSCode]: 1.48.1
**OS Version** [macOS/Windows/Linux]: Windows
**Live Share Extension Version**: Version: 1.48.1
**Target Platform or Language** [e.g. Node.js]: Typescript

**What were you doing when you encountered the desync?**

Pair programming on a TypeScript file. I wasn't typing at the time, host was.

**How often have you encountered desyncs?**

Couple times a day

[2020-08-28 00:39] jassmith commented on #3816
After reconnect it claimed a couple minutes later that I was out of sync again and to ask the host to reshare.

[2020-08-28 00:53] gwd0715 commented on #3254
Same issue here, why it isn't fixed?????
Tried some of the working around solutions, none of those really worked!!!

[2020-08-28 09:37] dagstuan opened #3817 "Login sessions aren't being persisted"
Issue Type: <b>Bug</b>

I need to login every time I want to use Live Share. The login does not seem to persist if I restart vs code or join a session.

Extension version: 1.0.2708
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2020-08-28 14:49] wazybr opened #3818 "Unable to type accented characters as participant"
After joining a session in VSCode, I'm unable to type accented characters in the editor. Works fine when editing local files.

- **Product and Version**: VSCode 1.49.0-insider
- **OS Version**: Ubuntu 20.04.1 (Linux 5.4.0) x64
- **Live Share Extension Version**: v1.0.2708
- **Target Platform or Language**: Web (HTML, CSS, JS)

**Steps to Reproduce / Scenario:**
1. Have your input language set to B

[2020-08-28 21:59] Hamidalavi commented on #224
Thank so much. you save my many times. Really useful command for solving this issue. before, i always have to login with gihub and configure my entries. thank again <3

[2020-08-31 15:57] dmswjd-6 opened #3819 "Audio Call feature is not working"
Issue Type: <b>Bug</b>

I have already tried to uninstall Live Share Audio > close VS code > delete live share audio extension folder >reinstall the audio extension, but still encounter seeing 1 call participant (myself) when I start the 'audio call'. Not sure why I cannot see 2 call participants (a different user connected via visual studio codespaces).

My peer cannot retrieve the audio call I s

[2020-08-31 16:23] segevfiner commented on #3131
Experiencing the same in Go using the vscode-go extension and gopls. After we edit the code a bit, guests of the live share session stop seeing updated problems, only the host sees the latest problems.

Extension version 1.0.2731
VS Code 1.48.2
OS version: macOS 1.14.6
vscode-go version: 0.16.1
gopls version: 0.4.4

[2020-08-31 19:13] #3805 closed

[2020-08-31 22:26] nandiniYeltiwar commented on #3815
Dupe of #3800

[2020-08-31 22:26] #3815 closed

[2020-08-31 22:29] nandiniYeltiwar commented on #3817
Can you please provide us your logs for investigation? You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-08-31 22:30] nandiniYeltiwar commented on #3817
+ @fubaduba for authentication issue other than continuous sign in loop.

[2020-08-31 22:43] nandiniYeltiwar commented on #3818
@daytonellwanger do you know if we allow accented characters while coediting as guest?

[2020-08-31 22:49] nandiniYeltiwar commented on #3819
@youkiee Can you try out joining the audio call with yourself and check if you are both participants? Also what version of Live Share Audio do you have installed?

[2020-09-01 00:16] adityakaulagi opened #3820 "Add setting to allow anonymous guest to edit"
**Product and Version** [VS/VSCode]: 1.48.2
**OS Version** [macOS/Windows]: macOS Mojave 10.14.6
**Live Share Extension Version**: 1.0.2731
**Target Platform or Language** [e.g. Node.js]: All

**Scenario:**

1. Copy link for sharing session via live share button on bottom status bar
2. Anonymous guest (a person who doesn't have GitHub or Microsoft account) opens link in their browser
3. Anonymous

[2020-09-01 01:54] nandiniYeltiwar commented on #3820
@adityakaulagi Thanks for your feedback! We are working on providing editing capability to anonymous guests and would love to get more insights on the scenario and requirement. Adding @fubaduba and @setaskin for the feature request.

[2020-09-01 05:36] dagstuan commented on #3817
@nandiniYeltiwar I aready provided the logs to vsls-feedback@microsoft.com

[2020-09-01 09:15] youkiee commented on #3819
@nandiniYeltiwar Thanks for the comment. When I try joining the audio call myself, I don't see two participants. The version I installed is v.0.1.85

[2020-09-01 17:47] nandiniYeltiwar commented on #3817
We have fixed the login issue and its in flight. Will be available to you in couple of days.

[2020-09-01 17:49] nandiniYeltiwar commented on #3819
@youkiee We have fixed the issue in the upcoming release. It will be available to you in couple of days.

[2020-09-02 08:56] TarunKumar29 opened #3821 "not working"
Issue Type: <b>Bug</b>

After entering credentials , does not connect and after some time shows timeout error

Extension version: 1.0.950
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5 CPU       M 540  @ 2.53GHz (4 x 2530)|
|G

[2020-09-02 08:56] #3821 closed

[2020-09-02 14:09] abi90 commented on #3671
@jmanj78 how did your coworker manage to change the .NET version auto downloaded by live-share?

[2020-09-02 14:14] ThomasA-C commented on #2044
I know there's so many complications of resharper, old work laptops would grind to a halt because of it's overhead. But I would really appreciate Intellisense in Live-Share. I'm live-sharing projects with people and we always stop and do it separately/on the same laptop because the live-share experience is very dulling of the amazing tools that makes VS2019 great.

[2020-09-02 15:35] daytonellwanger commented on #3816
Hey @jassmith , sorry to hear about that. We just shipped some more sensitive desync detection, along with some additional diagnostics. Could you try enabling it by turning on the "liveshare.diagnosticMode" setting and give us some feedback?

![image](https://user-images.githubusercontent.com/6383490/92004618-6ea83b00-ed10-11ea-87d4-0acc5fa3df28.png)

[2020-09-02 15:42] jassmith commented on #3816
Eric asked me to turn that on, I did :) Next time it happens we will hopefully get better info.

[2020-09-02 15:59] daytonellwanger commented on #3818
@wazybr I'm unable to reproduce this using alt key codes. Are you able to? Can you copy and paste accented characters?

[2020-09-02 16:08] wazybr commented on #3818
Yes, I'm able to paste. I think the issue only occurs when typing using dedicated accent keys + character keys. AFAIK, those accent keys are specific to some layouts.

[2020-09-02 16:52] daytonellwanger commented on #2044
@ThomasA-C are you seeing a degraded Intellisense experience outside of Resharper not working? Or just that Resharper isn't supported over Live Share?

[2020-09-02 17:26] daytonellwanger commented on #3818
Unfortunately I'm not able to reproduce this using the international keyboard with accent keys

[2020-09-03 00:42] fsalmeida commented on #3121
I'm facing the same problem :(
Any workaround?

[2020-09-03 08:33] NickyKatze opened #3822 "Live Share installation corrupt / command not found error"
Issue Type: <b>Bug</b>

Extension version: 1.0.2740
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:56:10.074Z)
OS version: Linux x64 5.4.0-45-generic snap

**Steps to Reproduce / Scenario:**
1. Install VSCode via snap, or apt, or from a deb package
2. Install Live Share in some way
3. Use a command prompt to try to connect to a session, share session or log i

[2020-09-03 08:52] dnzxy commented on #2216
@Priya91 Tried aforementioned steps, still have the same error:

`Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.`

Under etc/ssl/openssl.cnf there is no such property `ssl_conf` (also no `openssl_conf` respectively).
The currently installed version on my s

[2020-09-03 10:58] jawn commented on #3121
Will this one be picked up? [**@fubaduba**](https://github.com/fubaduba)

Issues like these reduce trust and adoption of vsls in my experience.

[2020-09-03 15:51] movermeyer commented on #3254
After reading this [other thread](https://github.com/microsoft/vscode/issues/95062), I've figured out another incantation if these other workarounds haven't helped.

Myself and another coworker were having this issue: I could hear others, and my microphone turned on, but the data wasn't being sent to the other participants. This solved it for us. Full disclosure, I don't understand all the details

[2020-09-03 23:32] moattarwork commented on #3299
I agree. That is becoming a habit for Microsoft to ban interoperability and loose the share in the Market. It happend to a lots of products and they are still doing that. I switch a year and half ago to Rider from visual studio and I didn’t regret it. It is faster than visual studio with almost a dozen features which were missing from Visual Studio for 10 years.
I like the Live Share but I think w

[2020-09-04 04:06] lostintangent commented on #1450
Re-opening per the comments that this issue still repros. Thanks! 👍

[2020-09-04 05:25] akashnagapure opened #3823 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-09-04 06:52] akashnagapure commented on #3823
Issue in Live-Share audio extension..Unable to call to participants

[2020-09-04 07:04] altechzilla commented on #3775
@daytonellwanger - Any thoughts? It's the only major obstacle when working with multiple developers live.

[2020-09-04 09:21] NickyKatze commented on #3822
Some logs:
[code]

[2020-09-04 10:17] NickyKatze commented on #3822
More logs (installation via apt / deb package):
[code]

[2020-09-04 13:25] dhairya1506 opened #3824 "live share not working"
Issue Type: <b>Bug</b>

my system is windows 7 but live share gives error after installing that it does not support windows 6

Extension version: 1.0.2740
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 6.1.7600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4005U CPU @ 1.70GH

[2020-09-04 16:30] nandiniYeltiwar commented on #3823
Thanks for reporting the issue @akashnagapure. We have made few fixes in Live Share Audio and its planned to release soon. Adding @fubaduba @jramsay

[2020-09-04 16:31] nandiniYeltiwar commented on #3824
@dhairya1506 Can you please paste the exact error that you are seeing?

[2020-09-04 18:49] mengesb commented on #3254
There appears to be two issues described here, and in some other places.

* Folks developing applications on VSCode that use MacOS permission restricted features - like the camera or microphone - where the permissions engine isn't being prompted or consulted correctly. This could be because the debug console, embedded terminal or some other "executor" of the code needs these permissions explicitly

[2020-09-04 18:55] mengesb commented on #3768
It's been a while since the last update was provided. Can we receive an update as to the current status?

[2020-09-04 19:43] guigen commented on #1933
@jasongin unfortunately your example doesn't work for me either 😕. Would it be possible to re-open this issue and investigate? Thanks!

[2020-09-05 18:34] daboross commented on #3570
Hi! Any update on this?

I can try to provide any more debug data if any is needed. I've got it fully reproducible on my machine, and would be happy to help if there's anything I can do or any more logs I can provide.

[2020-09-06 20:11] lijunhaoabroad opened #3825 "participants unable to see host's local web server"
Hi, the host activates the live share, everything works fine. when the host use ng serve his angular app, the localhost:4200 in the shared servers cannot be accessed by the participants. When participants click shared servers-localhost:4200, it redirects to a page said that "we can't find what you are looking for". I wonder how the participants can view the local server in the host session?

Thank

[2020-09-07 12:49] abiolaTresor commented on #1237
No solution suggested? Having the same issue

[2020-09-08 12:24] SCKelemen opened #3826 "Collaborative LiveShare Automatic Inserted Closing HTML Tags"
Issue Type: <b>Bug</b>

When following another participant in LiveShare, both participants automatically add the closing tag, after adding an HTML open tag.

Extension version: 1.0.2740
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-09-08 12:47] jarinykanen opened #3827 "node_module imports are not working on participants editor"
1. Start liveshare session
2. Invite participants
3. Participant accepts invitation and joins session
4. Participant opens a project file
5. In participants editor all module import paths in the opened file are pointing to host's absolute directory paths. Editor is trying to find imports from participants file system with HOST'S import path --> Editor won't find any imports

![LiveShare_import_bug

[2020-09-08 13:50] aagneshansson opened #3828 "Live share doesn't work"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-09-08 14:10] jmacmahon commented on #3571
I have seen this when neither person in the session has a terminal that narrow.

[2020-09-08 16:51] jmtt89 commented on #3827
Same here, that's occur me on angular (typescript) project but on regular node project (using require instead import) not occurs

[2020-09-08 17:34] fubaduba commented on #3828
Hey @aagneshansson could you tell us more about what didn't work? Looks like you encountered a desync. Was this impeding your ability to use Live Share overall?

[2020-09-08 17:37] fubaduba commented on #3825
Hey @lijunhaoabroad thanks for reaching out about this issue. You should be able to see shared servers on the guest side. So this maybe a bug you experienced. Do you have any logs you can retrieve from the session?
(Go to the command palette ->type Live Share: Export Logs and attach them to this issue)

[2020-09-08 18:00] lijunhaoabroad commented on #3825
Hi, thanks for reaching me back.
Should I use the export logs command on host side or the participant side ?
BTW, participants use chrome browser on an android device to connect to vscode

[2020-09-09 13:30] 11joselu commented on #3570
I'm still seeing in VS Code - Insiders.

![image](https://user-images.githubusercontent.com/8685132/92604888-55276600-f2b1-11ea-9913-7c934bebbb81.png)

[2020-09-09 13:30] willresen commented on #3570
I would love an update as well, this is still an issue. Happy to provide logs or testing.

[2020-09-09 13:43] 11joselu commented on #3570
Maybe this logs help. Log from window

[code]

[2020-09-09 14:29] Haegin opened #3829 "Can't join a session"
Issue Type: <b>Bug</b>

1. Click a Live Share link to join a session.
2. Get told you're logged out. Use Github to sign in.
3. Paste the URL you want to join in the prompt.
4. Wait for ages.
5. Nothing happens.
6. Try to join again.
7. Find you're logged out again.
8. Repeat from 2.

Extension version: 1.0.2740
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:0

[2020-09-10 13:54] manuelmenghin commented on #338
Using this tool without the requirement of logging in into github or Microsoft would be important for us to use it on computers with no connection to the internet.

[2020-09-10 16:09] Loeka1234 commented on #3827
I'm having the same issue

[2020-09-10 16:11] Arthurdw commented on #3827
The same problem here, I created the `.vsls.json` file to have the participant also have the `node_modules` folder. Yet this error still shows up.

[2020-09-10 18:06] gabrielsclimaco commented on #3829
+1

[2020-09-10 18:08] designname opened #3830 "err"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-09-10 23:50] daytonellwanger commented on #3570
I believe @aletsdelarosa has had a fix for a while. Alex, is it ready to ship?

[2020-09-11 14:26] willresen commented on #3810
@daytonellwanger This is fixed!

[2020-09-11 14:26] #3810 closed

[2020-09-11 20:45] fubaduba commented on #3829
Hey thanks for reporting this, and sorry about the issue. Could you also attach your logs so our team is better able to reproduce the issue? You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-09-11 20:59] fubaduba commented on #3829
Thanks for reporting this issue. We're taking a look at this. Could you also kindly attach available logs from your session perhaps?

[2020-09-12 02:55] wazybr commented on #3818
Are there any logs I can provide to help with this issue?

[2020-09-12 21:44] mohanedk80 opened #3831 "Can't sign-in"
Issue Type: <b>Bug</b>

I was Trying To sign-in LIVE SHARE then it gave me error about user code then I signed in with the user code that the site gave me and now i get this error:
Cannot read property 'userName' of undefined

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 6.1.7601

<details>

[2020-09-13 20:51] GlitchMasta47 commented on #3012
Also having this issue. When I open a normal window (not joining a session) it shows my name in the bottom left corner as normal and my contacts in the extension tab, but when joining a session using any method it refuses to let me sign in.
![Code desktop
](https://user-images.githubusercontent.com/17860556/93028335-d72ccd00-f5d8-11ea-8c05-99747b1799ef.png)
The same exact thing happens using the w

[2020-09-13 22:11] cinderblock opened #3832 "Desync possibly caused by external application on host machine"
**Product and Version**: VSCode
**OS Version**: Windows 10
**Live Share Extension Version**: `v1.0.2740`
**Target Platform or Language**: Octave/Matlab

**What were you doing when you encountered the desync?**
Adding/changing lines remotely. We were also using Octave to run the code which saves its open file buffer. I'm betting that is what caused the desync.

**How often have you encountered desy

[2020-09-14 11:49] levrik commented on #3328
Why is this still not supported? When multi-root workspaces were introduced into VS Code it didn't work but I've thought, "yeah. it will probably catch up soon". Now I finally wanted to use live share again, just to realize that multi-root workspaces are still not supported.
We were using latest VS Code between to macOS machines.

[2020-09-14 16:26] fubaduba commented on #3831
Apologies for the issue you're seeing. Has this issue continued?

[2020-09-14 16:28] fubaduba commented on #3832
Thank you for your detailed bug report @cinderblock! We're digging into the desync issue currently. Did this desync persist the entire session or did it ever catch up?

[2020-09-14 18:04] mikebeyer commented on #3831
I'm still seeing this issue. On both 1.49 and Insiders.

[2020-09-14 18:15] Most-Basic33 commented on #3831
I'm also having a problem trying to use live share
![Screen Shot 2020-09-14 at 11 14 41 AM](https://user-images.githubusercontent.com/66223852/93122530-7e624080-f67b-11ea-98f2-f484428f130a.png)

it just freezes in this state joining a session. Then when I reauthorized Github it took me to a page with just an empty object on it.

[2020-09-14 18:16] Most-Basic33 commented on #3831
<img width="1680" alt="Screen Shot 2020-09-14 at 11 15 57 AM" src="https://user-images.githubusercontent.com/66223852/93122624-ad78b200-f67b-11ea-9c8c-c570138943e6.png">
th
![Screen Shot 2020-09-14 at 11 15 57 AM (2)](https://user-images.githubusercontent.com/66223852/93122631-afdb0c00-f67b-11ea-8d67-5051ea6acbc7.png)

then i get this page after I authorize Github

[2020-09-14 18:18] colonelchlorine commented on #3831
Having same issue

[2020-09-14 18:19] shadryck opened #3833 "Unable to sign in"
**Describe what happened:**
In vs code I try to create a Live Share session which asks me to sign in. Using github to sign in redirects to page that returns empty json object { }

**What was your system configuration?**
*Product and Version* [VS/VSCode]: 1.49.0
*OS Version*[macOS/Windows]: Windows 10
*Live Share Extension Version*: v1.0.2740

**Steps to Reproduce / Scenario:**
1. Create Live Share

[2020-09-14 18:25] bigslycat commented on #3833
The same issue.

[2020-09-14 18:25] Scong commented on #3833
Same issue, Microsoft auth doesn't work either.
![image](https://user-images.githubusercontent.com/4022295/93123469-271d9980-f696-11ea-8c15-e8f85f302702.png)

[2020-09-14 18:33] Gabrielllopes commented on #3833
same here

[2020-09-14 18:41] Kiomarou commented on #3833
I have the same problem, my friend.

[2020-09-14 18:51] Sandra-Kennelly commented on #3833
Same issue here! :(

[2020-09-14 18:54] AlexanderDmitri commented on #3833
Same problem with my son Vladmir.

[2020-09-14 19:01] Quiauhxochitli commented on #3833
Unable to sign in at all, same issue

[2020-09-14 19:06] StanHubrick commented on #3833
Unable to sign in at Dutch datacenter, live share page is empty json text and VS code hangs on "Signing In..."
Not sure if this is related https://github.com/MicrosoftDocs/live-share/issues/3831

Kind regards,
Stan
![image_120](https://user-images.githubusercontent.com/71288129/93127334-9c549300-f6c5-11ea-9cc3-96b2b841b63d.png)

[2020-09-14 19:14] suzynakayama commented on #3833
Also having the same problem. Any news on this issue?

[2020-09-14 19:27] lancemccluskey commented on #3833
Im having the issue too!!

[2020-09-14 19:28] Cpanelnikolai commented on #3833
I am also experiencing this issue!

[2020-09-14 19:28] lucswart commented on #3833
Same here, fuck..

[2020-09-14 19:47] jahongOf1 commented on #3833
ditto

[2020-09-14 19:51] NextWork123 commented on #3833
same here...

[2020-09-14 20:02] derekCormack commented on #717
same.....jesus this VS code is not reliable for code sharing.

[2020-09-14 20:06] liubrandon commented on #3833
I am also unable to sign in and get this error in Firefox: prod.liveshare.vsengsaas.visualstudio.com. PR_END_OF_FILE_ERROR

[2020-09-14 20:06] amundo commented on #3833
me three. 😭

[2020-09-14 20:07] derekCormack opened #3834 "Starting collaboration session: The user code is invalid or expired. Try signing in again."
still an ongoing issue for people
reinstall LS and LSA does not work.

fricken fix this !
code sharing not possible.....using an editor that actually works.

VS Code FAIL

[2020-09-14 20:15] Pallanez commented on #3833
Same here

[2020-09-14 20:17] xCykrix commented on #3834
Duplicate issue with #3833

Appears to be server based issues and has some characteristics of malicious intent but of course I cannot be sure. Could always just be their NGINX acting *very* weird.

[2020-09-14 20:19] sansonegonzalo commented on #3833
Same here

[2020-09-14 20:19] xCykrix commented on #3833
Appears to be server based issues and has some characteristics of malicious intent but of course I cannot be sure. Could always just be their NGINX acting *very* weird.

[2020-09-14 20:25] nandiniYeltiwar commented on #3833
Apologies for the issues. We are fixing the issue and will deploy it soon. Adding @fubaduba @BrunoGuardia

[2020-09-14 20:34] Pallanez commented on #3833
Issue seems to be fixed

[2020-09-14 20:55] nandiniYeltiwar commented on #3833
Issue has been fixed now. Please let us know if you are still hitting it. Thanks!

[2020-09-14 20:58] AndrewJo commented on #3833
Thanks for fixing the sign-in issue but my colleague still can't seem to join the session (he gets an error that says the collaboration session is no longer active).

[2020-09-14 21:00] shadryck commented on #3833
Can confirm whatever has been done indeed fixed it on my end. 🎉

[2020-09-14 21:01] nandiniYeltiwar commented on #3833
@AndrewJo Can you reshare your session and ask your colleague to join again?

[2020-09-14 21:04] AndrewJo commented on #3833
@nandiniYeltiwar Actually, it seems to be fixed now. Thank you!

P.S. Will there be a retrospective on why this happened to be shared with the community? With the COVID situation we use Live Share for remote pairing on an almost daily basis and would appreciate the transparency on what caused the downtime.

[2020-09-14 21:42] pchandu opened #3835 "Ongoing Incident: Collab session expired/crashed/exited"
Issue Type: <b>Bug</b>

I have no idea

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<

[2020-09-14 21:57] nandiniYeltiwar commented on #3833
Adding @fubaduba for the question.

[2020-09-14 22:05] fubaduba commented on #3833
Thank you all for your reports and your patience. The fix is currently underway, and we will provide a more detailed retrospective of what the issue was soon.

[2020-09-14 23:29] CassandraDSouza opened #3836 "It keeps closing the live session"
Issue Type: <b>Bug</b>

We are just coding and it keeps saying session expired

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<

[2020-09-14 23:54] fubaduba commented on #3833
This issue has now been resolved. Closing this issue to signal resolution. Please let us know if this isn't fixed for you.
We will follow up with a pinned issue explaining the reason for the bug.
Thank you!

[2020-09-14 23:54] #3833 closed

[2020-09-15 00:06] michaelacorn opened #3837 "Ended out of nowhere"
Issue Type: <b>Bug</b>

Just ended out of nowhere. All collaborators steped away for a break.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4750HQ CPU @ 2.00GHz (8 x 2000)|
|GPU Status|2d_canvas:

[2020-09-15 00:07] fubaduba commented on #3834
Thank you for reporting this issue. Its now been fixed. Please let us know if this persists.

[2020-09-15 00:07] #3834 closed

[2020-09-15 00:08] fubaduba commented on #3835
Thank you for reporting this. If you were unable to sign-in to use Live Share and got an expired token error, you may have experience the #3833 issue, which is now resolved.
Do let us know if this is the issue you're seeing.

[2020-09-15 00:15] cinderblock commented on #3832
@fubaduba it never caught up. I bailed on the live session and went to work on other things. We have yet to try again.

[2020-09-15 01:13] fubaduba commented on #3836
Hey @CassandraDSouza  thank you for reporting this. We just pushed a fix around the time you were seeing this issue. Does the issue still persist? Also, did the guests get logged out? What happened when it said "Session expired"?

[2020-09-15 04:25] dariushvh opened #3838 "Randomly crashing"
Issue Type: <b>Bug</b>

I've been experiencing this issue a lot recently, I would start the live share, send it to my friends and then it would always crash after a couple hours and my friends wouldn't be able to work on the script anymore. This is bad because I do this and then go afk and my friends can't ask me to restart it.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385

[2020-09-15 05:21] CassandraDSouza commented on #3836
Hi Filisha,

Thank you for the quick reply.
I’ll try and see if I have any pending updates.
The guest didn’t get logged out but they did get removed from the session.

Hope this feedback is helpful.

Kindest Regards,

Cassandra D'Souza

From: Filisha Shah<mailto:notifications@github.com>
Sent: Tuesday, 15 September 2020 1:13 p.m.
To: MicrosoftDocs/live-share<mailto:live-share@noreply.github.com>
C

[2020-09-15 09:35] Hamzsd opened #3839 "Live Share extension closes automatically"
Issue Type: <b>Bug</b>

The session closes itself. Times up during usage.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 3.10.0-957.21.3.el7.x86_64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @

[2020-09-15 09:37] fahimers opened #3840 "stoped connecttion"
Issue Type: <b>Bug</b>

stoped connecttion

Extension version: 1.0.1891
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enab

[2020-09-15 11:29] Philip-Getacademy opened #3841 "bugsplat"
Issue Type: <b>Bug</b>

nothing // timeout

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 1600X Six-Core Processor            (12 x 3600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flas

[2020-09-15 12:03] Neiz-Kap opened #3842 "Срок сеанса"
Issue Type: <b>Bug</b>

Срок сеанса прекратился, хотя прошло немного времени. Есть оно вообще?

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2120 CPU @ 3.30GHz (4 x 3293)|
|GPU Status|2d_c

[2020-09-15 13:44] kendrajordan opened #3843 "Liveshare dropped"
Issue Type: <b>Bug</b>

My liveshare dropped

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz (8 x 3392)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage

[2020-09-15 13:55] olkil opened #3844 "The collaboration session expired"
Issue Type: <b>Bug</b>

Start a collaboration session.
Work for one hour.
Expected result:
The session should continue to be open after one hour.
Actual result:
The session closes after one hour.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 5.4.0-42-g

[2020-09-15 14:01] SamSherrill opened #3845 "Weird today"
Issue Type: <b>Bug</b>

I'm a jr dev working with another buddy from my coding bootcamp, so I can't yet give you good detail here, sorry.

We were just firing up a liveshare as normal. We work together for 2 hours 4-5 mornings each week. He couldn't join the live share, which is highly unusual. Once it finally worked, he was in for about an hour, but was then kicked out. He was able to rejoin once

[2020-09-15 14:03] SamSherrill commented on #3845
Honestly, it's never happened before. I feel badly even creating a GitHub issue about it, but here it is in case it's helpful to you. If not, feel free to close it out & I can report it if it's a continuing problem in the near future.

[2020-09-15 14:42] netmonk1337 opened #3846 "Sporatically ending live share session"
Issue Type: <b>Bug</b>

After working with 2 others for about an hour, the session randomly drops without warning. Nobody was doing anything unusual: just following a cursor as someone walked us through the codebase

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System

[2020-09-15 15:03] willresen opened #3847 "Session randomly expires"
Issue Type: <b>Bug</b>

Starting yesterday, my sessions have started to randomly disconnect and give a session expiration prompt.

Extension version: 1.0.2740
VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3

[2020-09-15 16:11] NETEbrie opened #3848 "Liveshare session expiring"
Issue Type: <b>Bug</b>

I keep getting notices that the liveshare session has expired while I'm in the middle of working. Is there a new timeout that I should be expecting?

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-09-15 16:21] indigoshakti47 opened #3849 "Expiring sessions"
Issue Type: <b>Bug</b>

Sessions are expiring every 1 hour

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3820QM CPU @ 2.70GHz (8 x 2700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fla

[2020-09-15 16:26] derekCormack opened #3850 "vs sucks not ready for market"
Issue Type: <b>Bug</b>

vs keeps blowing up

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz (8 x 4200)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage

[2020-09-15 16:34] bendic opened #3851 "Collaboration Session Quits Randomly"
Issue Type: <b>Bug</b>

Working on two macs on the same network, liveshare performs as expected with occasional sync issues.

Working from a mac and pc on the same network, the session occasionally reports to the liveshare participant that the host ended the session, when in fact the host machine reports the session as still active and the participant as present.

Extension version: 1.0.2740
VS Co

[2020-09-15 16:38] juliapolbach opened #3852 "Sesions is closed"
Issue Type: <b>Bug</b>

Sesion is closed unexpected

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6567U CPU @ 3.30GHz (4 x 3300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage

[2020-09-15 16:52] emagdaeh opened #3853 "Crashed Live Share"
Issue Type: <b>Bug</b>

The session expired and said need to sign in again

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041
Remote OS version: Linux x64 4.4.0-19041-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70

[2020-09-15 17:04] jeffdinsmore opened #3854 "Live Share ended without cause"
Issue Type: <b>Bug</b>

Live share ended suddenly without any real cause.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-10400 CPU @ 2.90GHz (12 x 2904)|
|GPU Status|2d_canvas: enabled<br>f

[2020-09-15 17:17] jmsharp-utah commented on #3851
We have had our live share sessions suddenly close for no reason also. It has happened twice today.

"The collaboration session expired. Please sign in and try again."

[2020-09-15 17:31] derekCormack opened #3855 "collaboration expiry. why.... this is stupid. let me set it no no expiry"
Issue Type: <b>Bug</b>

vs code sucks....so much down time......not a good colaboration tool.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz (8 x 4200)|
|GPU Status|2d_c

[2020-09-15 18:57] jmwoloso commented on #3851
Same

[2020-09-15 18:59] tytyhibye opened #3856 "session ended abruptly"
Issue Type: <b>Bug</b>

I've uninstalled and re-installed Live Share recently and now it isn't prompting me to login via github upon starting a live share session and it will end my session while working.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Inf

[2020-09-15 19:00] mlacouture commented on #3835
It seems this is a different issue - we are currently investigating ...

[2020-09-15 19:02] #3836 closed

[2020-09-15 19:05] fubaduba commented on #3837
Thank you for reporting this issue. We're investigating this currently, check back for updates soon.

[2020-09-15 19:08] fubaduba commented on #3835
Thank you for reporting this issue. We're investigating this currently, check back for updates soon.

[2020-09-15 19:17] fubaduba commented on #3838
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:17] #3838 closed

[2020-09-15 19:19] fubaduba commented on #3840
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:19] #3840 closed

[2020-09-15 19:19] fubaduba commented on #3841
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:19] #3841 closed

[2020-09-15 19:20] fubaduba commented on #3842
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:20] #3842 closed

[2020-09-15 19:21] fubaduba commented on #3843
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:21] #3843 closed

[2020-09-15 19:22] dschaaf89 opened #3857 "live"
Issue Type: <b>Bug</b>

live share keeps crashing at different points

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9600K CPU @ 3.70GHz (6 x 3696)|
|GPU Status|2d_canvas: enabled<br>flash_

[2020-09-15 19:22] fubaduba commented on #3837
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:22] #3837 closed

[2020-09-15 19:24] fubaduba commented on #3839
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:24] #3839 closed

[2020-09-15 19:24] fubaduba commented on #3844
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:24] #3844 closed

[2020-09-15 19:24] fubaduba commented on #3845
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:24] #3845 closed

[2020-09-15 19:24] fubaduba commented on #3846
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:24] #3846 closed

[2020-09-15 19:24] fubaduba commented on #3847
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:24] #3847 closed

[2020-09-15 19:28] fubaduba commented on #3849
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:28] #3849 closed

[2020-09-15 19:29] fubaduba commented on #3850
Hey thank you for your feedback. Could you please explain more about what you mean by "vs keeps blowing up"? Is this in reference to Live Share or Visual Studio?

[2020-09-15 19:29] fubaduba commented on #3851
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:29] #3851 closed

[2020-09-15 19:29] fubaduba commented on #3852
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:29] #3852 closed

[2020-09-15 19:30] hussain0811 opened #3858 "Authentication Error"
Issue Type: <b>Bug</b>

Asking for signIn again And again

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz (8 x 2400)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<

[2020-09-15 19:30] fubaduba commented on #3854
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:30] #3854 closed

[2020-09-15 19:30] fubaduba commented on #3855
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:30] #3855 closed

[2020-09-15 19:31] fubaduba commented on #3856
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:31] #3856 closed

[2020-09-15 19:32] fubaduba commented on #3857
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:32] #3857 closed

[2020-09-15 19:36] travis-holter opened #3859 "Liveshare ending sessions is dumb"
Issue Type: <b>Bug</b>

Liveshare keeps kicking off my partner for expired session, and that's dumb.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz (4 x 1600)|
|GPU Status|2d_ca

[2020-09-15 19:37] beccaburten opened #3860 "Unknown kicked out???"
Issue Type: <b>Bug</b>

I have gotten kicked out of my collaboration session twice today at random

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8210Y CPU @ 1.60GHz (4 x 1600)|
|GPU Status|2d_canv

[2020-09-15 19:38] fubaduba commented on #3848
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:38] #3848 closed

[2020-09-15 19:42] johanns opened #3861 "Collaboration Sesion Expries within an hour"
Issue Type: <b>Bug</b>

Received an error reporting that the collaboration session end and that I should file the issue. This happens exactly an hour after I started the session. I was signed-in via Github.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</sum

[2020-09-15 19:42] NETEbrie commented on #3835
[liveshare_logs.zip](https://github.com/MicrosoftDocs/live-share/files/5227320/liveshare_logs.zip)
Sharing my logs. This has happened to me at least 3 times today.

[2020-09-15 19:48] derekCormack commented on #3850
Live share.  Constant issues....  over use of security, tokens expiring, some don't work.....adding users requires full restart.   This is ridiculous

⁣Get BlueMail for Android ​

On Sep. 15, 2020, 1:29 p.m., at 1:29 p.m., Filisha Shah <notifications@github.com> wrote:

[2020-09-15 19:55] fubaduba commented on #3860
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 19:55] #3860 closed

[2020-09-15 19:56] jonahmolinski commented on #3859
Agreed. Timeout is way too short!

[2020-09-15 19:56] jonahmolinski commented on #3861
Possible duplicate of #3859

[2020-09-15 20:06] fubaduba commented on #3859
Apologies for the inconvenience caused. Do you recall how if it was an hour for you too @travis-holter ?
This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 20:07] fubaduba commented on #3861
I just left a comment on the issue you tagged. Closing it for dup, thank you for reporting this.
This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 20:07] #3861 closed

[2020-09-15 20:16] jonahmolinski commented on #3835
It's happened to use 3 times today. The last one was less than 5 minutes. The other 2 were like 10-20 minutes. It's not very long at all.

Thanks for looking into it!

[2020-09-15 20:25] jramsay commented on #3768
@mengesb, @jchuang30 : We just released an update to the audio extension (v0.1.91)  to the VS Code Marketplace that should address this issue.  I'm going to close this and related items as fixed. Can you give it a go and let us know if it works for you? Thanks for all your help with this issue!

[2020-09-15 20:25] #3768 closed

[2020-09-15 20:26] jramsay commented on #3254
We just released an update to the audio extension (v0.1.91) to the VS Code Marketplace that should address this issue. I'm going to close this and related items as fixed. Can you give it a go and let us know if it works for you? Thanks for all your help with this issue!

[2020-09-15 20:26] #3254 closed

[2020-09-15 20:27] jramsay commented on #3271
We just released an update to the audio extension (v0.1.91) to the VS Code Marketplace that should address this issue and #3254. I'm going to close this and related items as fixed. Thanks for all your help!

[2020-09-15 20:27] #3271 closed

[2020-09-15 20:28] jramsay commented on #3698
We just released an update to the audio extension (v0.1.91) to the VS Code Marketplace that should address this issue. I'm going to close this and related items as fixed. Thanks for your help with this issue!

[2020-09-15 20:28] #3698 closed

[2020-09-15 20:29] jramsay commented on #3478
We just released an update to the audio extension (v0.1.91) to the VS Code Marketplace that should address this issue. I'm going to close this and related items as fixed. Can you give it a go and let us know if it works for you? Thanks for all your help with this issue!

[2020-09-15 20:29] #3478 closed

[2020-09-15 20:49] stephencweiss opened #3862 "disconnected in the middle of a session"
Issue Type: <b>Bug</b>

start a session, wait until it crashes. sorry - don't have any idea why it crashed.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|GPU Sta

[2020-09-15 20:49] deborah-ufw commented on #3478
Wow, thank you!! Will file a new issue if there is still trouble. :D

[2020-09-15 20:58] fubaduba commented on #3862
Thank you for reporting the issue, and apologies for the inconvenience. Do you know how long it was into your session that it crashed?
This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 20:58] #3862 closed

[2020-09-15 20:59] #3859 closed

[2020-09-15 20:59] jchuang30 commented on #3768
Hi，

Sorry for the late reply. Yes, it is working now.

Regards,
Jordan

On Tue, Sep 15, 2020 at 1:25 PM jramsay <notifications@github.com> wrote:

[2020-09-15 21:08] ilo161 opened #3863 "auto quits"
Issue Type: <b>Bug</b>

vs code live share will auto quit during collaboration

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 17.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2620M CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: unavailable_soft

[2020-09-15 21:10] jramsay commented on #3768
@jchuang30: Great! Thanks for confirming!

[2020-09-15 21:10] fubaduba commented on #3863
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 21:10] #3863 closed

[2020-09-15 21:25] travis-holter commented on #3859
Thanks for the reply, have been having issues the past couple of days. We got kicked off about once an hour, but one time was much less (more like 20 mins)

[2020-09-15 21:39] fubaduba commented on #3858
Hey @hussain0811  thanks for reporting this issue. Could you please attach logs from your session as they will help us investigate! To attach logs access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-09-15 21:39] MawsayB opened #3864 "closed without reason"
Issue Type: <b>Bug</b>

The collab session ended when I was mid-session. That should not have happened.  :(

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:23:11.569Z)
OS version: Windows_NT ia32 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|

[2020-09-15 21:52] fubaduba commented on #3833
**RCA Update**
Live Share had an issue with its service deployment that caused authentication failures. This issue was mitigated and should be resolved for all those affected."
Thank you for your patience, and apologies for the inconvenience caused.

[2020-09-15 22:02] Greyfourt commented on #3833
Still having the problem while sharing AND while joining collab sessions

[2020-09-15 22:02] fubaduba commented on #3864
Thank you for reporting. This is part of an onging incident we're investigating. Please follow #3835 for updates

[2020-09-15 22:02] #3864 closed

[2020-09-15 22:03] fubaduba commented on #3835
Thank you all for your patience. The team is actively looking at the issue, we apologize for the inconvenience. For an estimate of when the fix will be out: it will be a couple of hours (as it looks right now).

[2020-09-15 22:12] Greyfourt opened #3865 "Still having the problem while sharing AND while joining collab sessions."
Still having the problem while sharing AND while joining collab sessions.
Even though i sign in can't stay signed in while joinin/sharing
<img width="459" alt="Screenshot 2020-09-16 at 00 04 18" src="https://user-images.githubusercontent.com/53702068/93269871-2e38ca80-f7b0-11ea-8c77-4253ec1af4f9.png">

_Originally posted by @Greyfourt in https://github.com/MicrosoftDocs/live-share/issues/3833#issu

[2020-09-15 22:29] luismgluis opened #3866 "se cierra a la hora"
Issue Type: <b>Bug</b>

invitando a alguien para colaborar la sesion no se mantiene, al cabo de una hora exacta y se cae la conexion.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU

[2020-09-15 23:39] fubaduba commented on #3866
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-15 23:39] #3866 closed

[2020-09-15 23:40] fubaduba commented on #3831
Are you still seeing this issue?

[2020-09-15 23:44] fubaduba commented on #3865
Thank you for reporting this, and sincere apologies that you're continually facing this issue. Just so I understand it clearly, are you able to login at all? Or does it kick you out in a bit? Or is it that, once you're in and you share again it asks you to login again?

[2020-09-16 00:04] Greyfourt commented on #3865
Even tho I’m already logged in when I need to join a Visual Studio Live Share the system logs me out directly and asks me to log in again
And then it becomes a loop

[2020-09-16 00:55] lllHolidaylll opened #3867 "Fails to join becaus tree is dirty when it is not."
Issue Type: <b>Bug</b>

The session ends prematurely. Started two weeks ago with failed to join because of dirty tree. If I join and leave i can get it to load the files but it ends the session within a half hour. I have made no new changes. I let it uppdate whenever the icon appears on the bottom left. I really like VS Code but this is getting annoying.

Extension version: 1.0.2740
VS Code versio

[2020-09-16 01:17] lllHolidaylll commented on #3867
Save the settings.json file. No idea when a change was made but when I opened it, it needed to be saved as soon as I opened the file. Saved it and retried and it worked.

[2020-09-16 02:20] aalanamiranda opened #3868 "Collab Session Errors Out on It's Own"
Issue Type: <b>Bug</b>

Session errors out if non-host users idle long enough.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz (4 x 2304)|
|GPU Status|2d_canvas: enabled

[2020-09-16 03:01] tama2553 opened #3869 "LiveShareのセッションについて"
Issue Type: <b>Bug</b>

LiveShare開始後、1時間でセッションの有効期限が切れる

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 5.3.0-1035-aws

[2020-09-16 07:15] mediaclap opened #3870 "Live Share crash each two hours"
Issue Type: <b>Bug</b>

With an active collaboration session, even without modifying any files, the session ends for no reason.

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) Gold 6136 CPU @ 3.

[2020-09-16 14:16] DanTup opened #3871 "Periodic "Cannot read property 'command' of undefined" errors in Live Share's CodeLens handling"
I sometimes see this error show up in the console:

[code]

I'm not using LiveShare at all at the time (I just have it installed).

I suspect it may be related to race conditions in VS Code I've seen in my own extension in CI test runs (eg. https://github.com/microsoft/vscode/issues/86403 and https://github.com/microsoft/vscode/issues/79805), though this is happening locally on my MacBook Pro.

[2020-09-16 15:11] MawsayB opened #3872 "not allowing unfollow when clicking dot by person or selecting "unfollow participant""
Issue Type: <b>Bug</b>

This is sad. I used to love LiveShare. Now it is buggy. :(

Extension version: 1.0.2740
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:23:11.569Z)
OS version: Windows_NT ia32 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Status|2d_canvas: ena

[2020-09-16 16:28] daytonellwanger commented on #3872
@MawsayB , sorry you're having issues. I just tried unfollowing another person in a Live Share session and it worked fine for me. Do you have more specific steps to reproduce? A video would be great.

[2020-09-16 16:35] daytonellwanger commented on #3871
Interesting! That code lens provider is there to provide a "Start Live Share Session" option next to the merge conflicts code lenses. You can disable this functionality with the `liveshare.codelens` option if you want to quit getting this notification.

Looks like the issue is that we query VS Code for all code lenses so we can check for the merge conflict code lenses, and we iterate through them

[2020-09-16 16:36] MawsayB commented on #3872
Hi! Once I had the participant follow me I could unfollow them and then the
follow/unfollow seems to be working as expected again. 🤷‍♀️

On Wed, Sep 16, 2020 at 11:29 AM Dayton Ellwanger <notifications@github.com>
wrote:

--
*Marcy Bursac*
Left-Handed. Connector. Software Engineer.
msbursac@gmail.com
LinkedIn <https://www.linkedin.com/in/marcybursac/> // Facebook
<https://www.facebook.com/msbursac

[2020-09-16 16:52] daytonellwanger commented on #3872
Are things back to working normally now? Or do you still need to go through the awkward dance of the other person following you before you can unfollow them?

[2020-09-16 17:34] MawsayB commented on #3872
Back to normal. Though, the awkward dance caused us much laughter. 😃
Thanks for following up so quickly!!

On Wed, Sep 16, 2020 at 11:52 AM Dayton Ellwanger <notifications@github.com>
wrote:

--
*Marcy Bursac*
Left-Handed. Connector. Software Engineer.
msbursac@gmail.com
LinkedIn <https://www.linkedin.com/in/marcybursac/> // Facebook
<https://www.facebook.com/msbursac>
<https://areyoumyfamily.word

[2020-09-16 17:38] daytonellwanger commented on #3872
Great! I'll close for now. Please open a new issue if you have other problems!

[2020-09-16 17:38] #3872 closed

[2020-09-16 17:44] fubaduba commented on #3870
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-16 17:44] #3870 closed

[2020-09-16 17:44] fubaduba commented on #3868
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-16 17:44] #3868 closed

[2020-09-16 17:45] fubaduba commented on #3869
Thank you for reporting. This is part of an onging sev we're investigating. Please follow #3835 for updates

[2020-09-16 17:45] #3869 closed

[2020-09-16 17:48] fubaduba commented on #3835
Thank you everyone for your patience. This issue has now been resolved and was caused by an error in a deployment. Do make sure to start a new session to ensure that the fix is applied to you session.
Do let us know if this issue hasn't resolved for you.
Live Share team

[2020-09-16 17:48] #3835 closed

[2020-09-16 18:25] daytonellwanger commented on #3832
Please let us know if you're consistently seeing this issue. Also we have some support for automatically detecting when this happens that you can enable with the `liveshare.diagnosticMode` setting in VS Code.

[2020-09-16 18:33] daytonellwanger commented on #3818
@wazybr the most helpful thing would be instructions on how I can reproduce this. How can I set my machine up to mimic yours? As I noted, I tried using the international keyboard with accent keys, and that doesn't have this issue. Also note that this issue may not be highly prioritized since you're the only person to report it so far 😟

[2020-09-16 18:57] daytonellwanger commented on #3830
Hey @designname , could you provide some more info about what happened? Thanks!

[2020-09-16 19:06] daytonellwanger commented on #3827
I think this is a dupe of [3810](https://github.com/MicrosoftDocs/live-share/issues/3810), which includes some mitigation. Could you let me know if that's not the case?

[2020-09-16 20:00] MawsayB opened #3874 "code not updating properly for both users"
Issue Type: <b>Bug</b>

While paired up, we made changes and my screen looked accurate but my colleagues screen had line breaks and commas that my code did not have. When he made changes to fix those incorrect characters, it messed up my code because the code on my screen did not match the code on his screen. So we re-started LiveShare. :(

Extension version: 1.0.2740
VS Code version: Code 1.49.0

[2020-09-16 20:16] daytonellwanger commented on #3775
@altechzilla I'm able to repro, so should be easy to figure out and fix. Just need to get that work scheduled.. I'll keep you posted with updates.

[2020-09-16 20:39] daytonellwanger commented on #3874
Hey @MawsayB , sorry you're experience with Live Share hasn't been smooth so far 😕. The best I can offer you at the moment is to turn on the `liveshare.diagnosticMode` setting. With this, Live Share will notify you when you get out of sync with the other participants like this, and may provide some helpful diagnostic info so we can resolve this issue.

Do let me know if you run into this again. Th

[2020-09-16 21:11] altechzilla commented on #3775
Thanks a lot @daytonellwanger - it would improve my team’s productivity by orders of magnitude.

[2020-09-16 23:00] MawsayB commented on #3874
It happens. It only stings when there’s a deadline and we are working from
home and relying on LiveShare. Today was better than yesterday. Yesterday
LiveShare wouldn’t even create a session. I adjusted my settings. Thanks
for the support today!

On Wed, Sep 16, 2020 at 3:39 PM Dayton Ellwanger <notifications@github.com>
wrote:

--
*Marcy Bursac*
Left-Handed. Connector. Software Engineer.
msbursac@

[2020-09-17 09:29] AndhikaWB commented on #2576
Could you make it as the default behaviour? It has been a year since issue [#73748](https://github.com/microsoft/vscode/issues/73748) was created (and yet still not resolved). Not being able to easily run (build) task as guest is really a deal breaker to me (debugging works fine, though).

Then we can just add a new setting to make it appear or hidden (default) to guest.

[2020-09-17 10:28] jarinykanen commented on #3827
@daytonellwanger Seems to be the same issue

[2020-09-17 11:49] Arthurdw commented on #3827
It is indeed the same issue this can be closed.

[2020-09-17 11:55] PauloDanielCarneiro commented on #3121
Any news about this?

[2020-09-17 17:49] IlyaBiryukov commented on #2576
It's a valid approach, I'll mark this issue as feature request then. @fubaduba FYI
I don't know when we have time to get to that though. Is this issue completely blocking you, or you can work it around?

[2020-09-17 17:54] fubaduba commented on #3121
Hey all, apologies for this poor experience. We are addressing this issue for the next release. Thank  you  for your patience.

[2020-09-17 20:45] BrunoGuardia commented on #3836
@CassandraDSouza  - can you confirm your issue is fixed?

[2020-09-17 21:08] CassandraDSouza commented on #3836
Hi Bruno, Yes, I believe so. My project partner and I have not run into this issue after I was informed a fix was pushed.Thank you for checking in. Kindest Regards, Cassandra D’Souza From: Bruno Guardia (MSFT)Sent: Friday, 18 September 2020 8:45 a.m.To: MicrosoftDocs/live-shareCc: CassandraDSouza; MentionSubject: Re: [MicrosoftDocs/live-share] It keeps closing the live session (#3836) @CassandraDS

[2020-09-17 21:50] AskAlice commented on #3858
I've had this issue where it will log me out more frequently than before. More than once a day. It still works just requires auth

[2020-09-17 22:42] cinderblock commented on #3832
This was from a ~40 minute session. They were desynced for I wanna say ~5 min before I realized why the output was not matching what I was saving and used other methods to diagnose. Unfortunately, we have not had a chance to try again.

[2020-09-18 00:46] daytonellwanger commented on #3827
Closing. Please re-open another issue if you have more problems.

[2020-09-18 00:46] #3827 closed

[2020-09-18 06:51] AchalaSB commented on #3728
Is this issue fixed? I'm still seeing "Starting collaboration session: The user code is invalid or expired. Try signing in again."  (VSLS v1.0.2740)

[2020-09-18 07:10] AndhikaWB commented on #2576
Yesterday I tried excluding `tasks.json` via `.vsls.json` by using 2 different instances of Live Share on the same PC. Live Share didn't seem to exclude it from the guest tree, though. I'm not sure if it's another issue and I haven't tried it again using different account/PC (maybe will try later).

Here is my `.vsls.json` by the way (placed inside `.vscode` folder):
[code]

Another way I found is

[2020-09-18 12:08] mengesb commented on #3768
I just finally tested and confirm it working - electron requested microphone permissions and audio was fantastic

[2020-09-18 12:20] gwd0715 commented on #3768
Why I couldn't see the "Audio Call" anymore after updating to v0.1.91?
![Screen Shot 2020-09-18 at 8 19 51 PM](https://user-images.githubusercontent.com/17922721/93596679-50b72780-f9ec-11ea-933a-01f598eaae76.png)

[2020-09-18 12:25] gwd0715 commented on #3254
Why I couldn't see "Audio Call" under Session Details anymore after updating to v0.1.91?

![Screen Shot 2020-09-18 at 8 24 12 PM](https://user-images.githubusercontent.com/17922721/93597026-eeaaf200-f9ec-11ea-8b6b-15092a5597b9.png)

[2020-09-19 20:25] dandra-mo opened #3875 "Live share not working - no reason why given"
**Describe what happened:**
When I select the share read/write option after I've installed the live share extension pack, nothing happens. In the bottom left I would temporarily see "activating extensions". But that stops running. I don't get a link to share with my contacts, nothing. Funny thing is, this was just working 10 days ago because I just used it recently.
**What was your system configur

[2020-09-20 06:50] aishwaryaWHJ opened #3876 "got disconnected"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-09-21 16:41] daytonellwanger commented on #3832
Thanks for the info! When you do try again, it'd be great if you could turn on that setting. It'll catch this situation almost as soon as it happens and alert you to it, and hopefully provide some info for us about why you got out of sync.

[2020-09-21 17:17] IlyaBiryukov commented on #3875
Thanks for reporting this issue. Unfortunately there is not enough information in the attached logs to investigate this issue. The logs look completely normal in fact. One thing to try is to uninstall Live Share extension pack and install only Live Share from VSCode markeplace. If the issue still repros, set "Live Share: Diagnostic Logging" to true, reproduce the issue, export and share the logs a

[2020-09-21 17:19] IlyaBiryukov commented on #3876
Duplicate of #3736

[2020-09-21 17:19] #3876 closed

[2020-09-21 21:28] CJHarmath commented on #2
@fubaduba @joemellin  Just stumbled across the [vsls-contrib/gatekeeper](https://github.com/vsls-contrib/gatekeeper/) extension which adds capabilities for further restrict who can you share with which seems awesome!
The collaborators are from Microsoft, so wondering what's the chance of folding that code into the live share?

[2020-09-22 00:05] Jclyoung commented on #3297
Was this issue ever resolved? My co-worker is having a similar issue, I believe.

![image](https://user-images.githubusercontent.com/47091011/93833105-4f306e00-fc3d-11ea-98c0-67afcd294336.png)

[2020-09-08 10:55:16.130] [renderer1] [error] ENOENT: no such file or directory, unlink '/Users/insertusername/.vscode/extensions/ms-vsliveshare.vsliveshare-1.0.2740/cascade.json': Error: ENOENT: no such fi

[2020-09-22 07:39] andres-k commented on #338
On premise install would also allow devs to work on inhouse code that's not supposed to leave the perimeter so it would be an awesome feature 👍

[2020-09-22 12:29] Arshia001 commented on #338
Two and a half years now. I actually get worried if a notification from this issue doesn't pop up in my inbox every once in a while.

[2020-09-22 13:30] slimsy135 opened #3877 "desync"
**Product and Version** [VS Code]:
**OS Version** [Windows]:
**Live Share Extension Version**: IDK
**Target Platform or Language**: Node.js/Discord.js

**What were you doing when you encountered the desync?**
nothing

**How often have you encountered desyncs?**
only once

[2020-09-22 14:41] ConnerOrth opened #3878 "Add option to change visible profile information"
Searched but didn't find any.

Currently if I join or host a live share session, my email address is shown.
Would like an option to change this to show my name or anything else besides my email address.

[2020-09-22 16:41] daytonellwanger commented on #338
@andres-k for this:

this requirement is actually supported by Live Share's "direct connection mode." The Live Share service is still necessary for creating the session and authentication, but your code will never leave your network with this mode. (Note that even without direct mode, your code is always encrypted). More details can be found [here](https://docs.microsoft.com/en-us/visualstudio/liv

[2020-09-22 17:42] NedM opened #3879 "Cannot share terminal or server through web interface"
Began a live share read/write session through my extension installed in VS Code 1.49.1 and shared access via link. Remote party logged in to the web client and was able to join the session. They were able to see that I had shared a terminal and a server but were not able to view either.

When they clicked the terminal, nothing appeared. Choosing the focus terminal option from the right click menu

[2020-09-22 20:34] ARM-Visionpool commented on #3833
Same problem as Greyfourt.

[2020-09-22 20:35] alyssajotice commented on #3252
Hello everyone, thanks for the feedback regarding the issue. I am not able to successfully reproduce the problem.

For set up, I have two user accounts on a Ubuntu 20.04 virtual machine using Hyper-V. I set up the Remote Development extension and in two separate VS Code windows, I ssh into each user account.  After doing this, I download the live share extension to VS Code. Both install with no er

[2020-09-22 21:27] pcbHikeME commented on #3339
I am receiving this error on my corporate network with Visual Studio 2019 16.6.1  Anyone seen this or have an idea on how to fix?

[2020-09-22 21:47] BrunoGuardia commented on #3833
@Greyfourt  @ARM-Visionpool - seems you were hitting a different issue, #3835 . That one was fixed a day later than this one; can you confirm your issue is resolved too?

[2020-09-22 22:21] ARM-Visionpool commented on #3833
@BrunoGuardia, no it stalls after I try to log in. Visual Studio Code throws a warning message:

"A second instance of Code is already running as administrator. Please close the other instance and try again." But that is my main window. I have noticed that VSC doesn't like opening new files from the OS when launched this way and using a workspace.

![image](https://user-images.githubusercontent.co

[2020-09-22 22:36] daytonellwanger commented on #3252
@alyssajotice I think a simpler repro of the same issue can be found outside of doing remote development - Live Share tries to interact with files in the tmp directory, which isn't necessarily accessible to the user running Live Share. So you can repro by simply changing the access permissions on the tmp directory so the user running Live Share doesn't have read/write permissions.

[2020-09-23 00:36] Greyfourt commented on #3833
It gives exactly the same errors for me! Even passing by opera, chrome and safari with both Github and Microsoft login. It never signs in plus after some time it stops the log in process and asks to redo it.

[2020-09-23 12:44] kud opened #3880 "Chat uses the local date of the machine"
Imagine you've two persons chating in the chat box. If one of these people has a future (or previous) time, the chat will be not well synchronised.

[2020-09-23 12:45] kud opened #3881 "Add the chat in the panel window"
It could be great to have the chat box in the panel box, not as a "file" tab.

[2020-09-23 12:46] kud opened #3882 "Support links in chat"
All has been said.

[2020-09-23 12:50] kud commented on #3850
Oh my. This feedback is so inappropriate.

[2020-09-23 13:42] BaleriaOspina opened #3883 "Chat server is offline. Please try again shortly"
Issue Type: <b>Bug</b>

el chat no me resulta factible, me introduce "El servidor de chat está desconectado. Vuelva a intentarlo en breve". cuando me debería de cargar, porque si tengo servicio y este no funciona, he intentado en desinstalarlo y volverlo a instalar, en cerrar el Visual, pero aun no me funciona

![image](https://user-images.githubusercontent.com/65976493/94020526-9f601b00-fd78-11ea

[2020-09-23 17:24] IlyaBiryukov commented on #3877
Duplicate of #3736

[2020-09-23 17:24] #3877 closed

[2020-09-23 17:25] IlyaBiryukov commented on #3878
+ @fubaduba

[2020-09-23 17:26] IlyaBiryukov commented on #3879
Thanks for reporting this issue. We're aware of this problem and working on the solution.

[2020-09-23 17:27] IlyaBiryukov commented on #3880
@fubaduba A feature request for chat.

[2020-09-23 17:28] IlyaBiryukov commented on #3881
@fubaduba a feature request for chat

[2020-09-23 17:28] IlyaBiryukov commented on #3882
@fubaduba a feature request for chat

[2020-09-23 17:30] IlyaBiryukov commented on #3883
Translation:

[2020-09-23 18:16] sana-ajani opened #3884 "Can't view extensions list in browser join"
**Describe what happened:**

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code
*OS Version*: macOS
*Live Share Extension Version*: Browser join

**Steps to Reproduce / Scenario:**
1. Open liveshare link in browser join mode
2. Click on Extensions view
3. All extensions in the view don't have any information, just show up with templating language %displayName%

**Sc

[2020-09-24 07:34] J3rom3M opened #3885 "disconnect and reconnect sometimes, every days"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-09-24 09:05] rowanG077 commented on #3013
I have found no way to run live-share. Is this still on the radar?

[2020-09-24 10:09] gear2063 opened #3886 "Sign inが終わらない"
Issue Type: <b>Bug</b>

ブラウザで認証画面が表示され、ボタン押下後VisualStudioCodeの画面に戻るがそれ以降Sign in状態から進まない。

Extension version: 1.0.2740
VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4 x 2592)|
|GPU Status|2d_canvas

[2020-09-24 11:47] ArcRiiad commented on #355
Same here, facing the same issue

[2020-09-24 12:21] Heorhiy commented on #3703
For me codebug doesn't work at all, on any project, guest on mac VS Code, host Visual Studio windows

[2020-09-24 17:17] blewisio commented on #3875
I'm having the same issue - clicking the buttons results in absolutely nothing happening. Interestingly, when I attempt to run the commands from the command palette, I do receive an error: ![image](https://user-images.githubusercontent.com/5720003/94177555-56cf5d00-fe5f-11ea-9ac6-21a449dc682e.png)

Details:
- OS is Windows 10
- VS Code is fully up to date
- Re-installing the extension did not help

[2020-09-24 17:21] TripleJBlog opened #3887 "desync problem"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Linux
**Live Share Extension Version**: recent
**Target Platform or Language** [e.g. Node.js]: python

**What were you doing when you encountered the desync?**
 - chatting and the other typing
**How often have you encountered desyncs?**
 - for once

[2020-09-24 17:25] IlyaBiryukov commented on #3875
Having commands, buttons and viewlet visible means that VSCode integrated the extension. Nothing happening when you click on the buttons / execute the commands means that the extension didn't register handlers for them. Something must be happening on extension activation that Live Share doesn't log.

Can you please check developer tools console in VSCode? See if there any errors related to Live Sh

[2020-09-24 17:36] mtn commented on #3796
I also ran into this issue

[2020-09-24 18:24] dandra-mo commented on #3875
When I opened my dev tools in VS code after trying to start a Live Share, I got an error. I've attached it here.

<img width="1204" alt="Screen Shot 2020-09-24 at 8 22 34 PM" src="https://user-images.githubusercontent.com/68953571/94184167-cbc48600-fea3-11ea-99d4-d8aaf78bd082.png">

[2020-09-24 18:32] dandra-mo commented on #3875
Also, after having uninstalled the Extension Pack and only installing Live Share, still nothing. The log is here:
[liveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/5278354/liveShareLogs.zip)

As well, here is a screenshot of my console:

<img width="1030" alt="Screen Shot 2020-09-24 at 8 29 19 PM" src="https://user-images.githubusercontent.com/68953571/94184906-e9deb600-fea4-11

[2020-09-24 18:46] IlyaBiryukov commented on #3875
It seems to be the Live Share welcome page misbehaving. @aletsdelarosa can you please take a look?

[2020-09-24 22:54] IlyaBiryukov commented on #3875
@aletsdelarosa , here is the bug to track this issue
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1219457

Given that it worked before and just stopped working recently, it may be a regression in 1.0.2740 LS release.

[2020-09-24 23:49] mlarrubia opened #3888 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established"
Error:
HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.91|
|**applicationName**|VSCode|
|**applicationVersion**|1.49.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-09-25 00:27] #3886 closed

[2020-09-25 16:45] IlyaBiryukov commented on #3887
Duplicate of #3736

[2020-09-25 16:45] #3887 closed

[2020-09-25 16:46] IlyaBiryukov commented on #3885
Duplicate of #3736

[2020-09-25 16:46] #3885 closed

[2020-09-25 16:52] IlyaBiryukov commented on #3884
VSCode issue https://github.com/microsoft/vscode/issues/107460

[2020-09-25 16:53] IlyaBiryukov commented on #3888
Duplicate of #3206

[2020-09-25 16:53] #3888 closed

[2020-09-26 11:23] priyankashiv opened #3889 "Not able to live share in visual studio code"
[Export logs.zip](https://github.com/MicrosoftDocs/live-share/files/5286576/Export.logs.zip)

**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-09-27 03:24] super-tuple commented on #3570
@aletsdelarosa Any updates?

[2020-09-28 08:00] JonasRSV opened #3890 "Liveshare broken, Ubuntu 18.04"
This is a copy of that issue

https://github.com/microsoft/vscode/issues/107222

I can't export liveshare logs because the entire plugin is malfunctioning, this is the error I get when running export logs:

[code]

I am guessing it does not get installed correctly from the store or something. Although the vscode logs say it is installed successfully

[2020-09-28 19:15] nicolasdossantos opened #3891 "Catalina Bug"
Issue Type: <b>Bug</b>

Start collaboration session
Login
Copy signin code
Paste on "Sign in with user code"
--
Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Currently using OpenSSL 1.1.1d
Problem started after installing MacOs Catalina

Extension version: 1.0.2902
VS Code version: Cod

[2020-09-28 19:19] abi90 opened #3892 "Catalina cannot sign in with user code"
Issue Type: <b>Bug</b>

When I try to sign in with user code I get the error:
`Could not connect to the server. Check that you are connected to the internet.`

[logs.zip](https://github.com/MicrosoftDocs/live-share/files/5294547/logs.zip)

Extension version: 1.0.2902
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 19.6.0

<de

[2020-09-28 19:56] nicolasdossantos commented on #2216
@Priya91 Experiencing the same problem as @dnzxy

[2020-09-28 20:32] nicolasdossantos commented on #3891
LOGS:
[2020-09-28 17:11:53.712 Client I] Passed version check for MacOS: found 19.6.0
[2020-09-28 17:11:54.322 Client.Rpc V] RPCClient.init retryCount:0 currentRetryInterval:0
[2020-09-28 17:11:54.326 Debug.Rpc.Host V] TrackDebugManager created
[2020-09-28 17:11:54.334 Client.Rpc V] Agent connection not completed: Error: connect ENOENT /var/folders/rz/lbhghkmd4vxbz56w3fcyl318020s3c/T/CoreFxPipe_vs

[2020-09-28 21:55] daytonellwanger commented on #3796
@fubaduba @aletsdelarosa , this is the same issue as guest command control not being respected.

[2020-09-29 01:12] aletsdelarosa commented on #3875
Hello!

@dandra-mo or @blewisio Can you try it with the new release? Version 1.0.2902 released today. I just tried it and I couldn't repro.

[2020-09-29 09:52] ConnerOrth commented on #3878
Quick update.
If I change the liveshare options to 'External Account (Github,MSA)' it resolved my issue.
(Visual Studio 2019 Community Edition > Tools > Options > Live Share > General @ Authentication -> User Account)

So found a work-around, but would still prefer the option to do the same for the Microsoft account.

[2020-09-29 15:43] blewisio commented on #3875
@aletsdelarosa, I just tried with 1.0.2902 and I'm still seeing it - `(command 'liveshare.start' not found)`.

[2020-09-29 16:34] setaskin commented on #3889
Thanks for reaching out. Can you give us more details about your scenario? What error do you see when you use Live Share?

[2020-09-29 17:22] setaskin commented on #3892
Hi , thank you for reaching out and attaching your logs . Are you behind the proxy ?

[2020-09-29 17:30] setaskin commented on #3890
Hi , thank you for reaching out. Can you give us more details ? which Live share and Vs Code or Vs version are you using ?

[2020-09-29 18:11] IlyaBiryukov commented on #3890
The logs may still be in `$TEMP/VSFeedbackVSRTCLogs` folder. @JonasRSV can you check if there are any logs there?

[2020-09-29 19:07] mickelsonmichael commented on #3297
Also having this issue, and I suspect it's potentially an issue with the corporate proxy

[2020-09-29 19:49] JonasRSV commented on #3890
Hey, there are some logs in the issue I am linking to, but let me install vscode and rerun everything again:

So these are the steps I take this time (Note vscode is purged from my computer before these steps and I have restarted the computer a few times since it was last installed)

Step 1:

[code]

The code version that got installed was

1.49.2
e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
x64

Step

[2020-09-29 19:59] JonasRSV commented on #3890
Here's another update, so after you mentioned TMP i thought maybe me having it point to a different directory than /tmp might break something, so I tried setting it to /tmp again.

Doing this made it work slightly more, but still broken.

So now I see the icons in the editor but all commands are still missing and I cannot use the extension.

Here's log from $TMP/VSFeedbackVSRTLogs

[20200929_19551

[2020-09-29 20:03] JonasRSV commented on #3890
More logs from $TMP when I try to use the extension but it fails

[logs.zip](https://github.com/MicrosoftDocs/live-share/files/5301573/logs.zip)

Hopefully some of all of these logs will be helpful :)

[2020-09-29 20:16] Jclyoung commented on #3297
That doesn't seem to be our problem as he isn't using the company proxy or VPN

[2020-09-29 21:49] setaskin commented on #3890
@dlebu and @Moniarchy . Assigning to you but feel free to reassign if it is not your area.

[2020-09-29 21:51] setaskin commented on #3891
@dlebu and @Moniarchy . Assigning to you but feel free to reassign if it is not your area.

[2020-09-29 23:46] alishahwee commented on #671
I would also like to vouch for a feature like this to be implemented. I recently joined a Bootcamp that's using VS Code Live Share for pair programming during lab. However, as stated above, only one person gets to keep the local files afterwards. This leaves the other partner without the ability to save to their file system. This makes it difficult for when we self-study since one of us can't refe

[2020-09-30 03:53] akira-okumura opened #3894 ""Rename Symbol" doesn't work"
**Describe what happened:**

Right clicking `a` and choosing "Rename Symbol" usually allows the user to refactor the variable name in normal off-line sessions.
[code]
But during a live-share session, the client side user cannot use this functionality and nothing happens after entering a new variable name.

**What was your system configuration?**
*Product and Version* [VSCode]: 1.49.2
*OS Version*[

[2020-09-30 07:37] #3489 closed

[2020-09-30 07:38] altechzilla commented on #3775
Any updates @daytonellwanger ?

[2020-09-30 12:22] dnzxy commented on #2216
@Priya91 Any response or help would be very much appreciated, it's been almost a month.

[2020-09-30 13:14] paupi-chill-e opened #3895 "Desync detected"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-09-30 13:27] abi90 commented on #3892
Yes I'm behind a proxy. If I run echo $http_proxy or echo $https_proxy I get the right proxy.

[2020-09-30 16:14] setaskin commented on #3892
These resources from our docs should be able to help you to solve behind the proxy issues.
https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#manually-adding-a-firewall-entry
https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

Let me know if this unblocks you or if you need more information.

[2020-09-30 16:49] abi90 commented on #3892
I followed the documents but it did not solve my issue.

[2020-09-30 18:25] setaskin commented on #3892
@Moniarchy do we have any other work around for users behind proxy ?

[2020-09-30 20:00] anubra266 commented on #338
The request is not just for code security, but for the ability to Connect over lan networks. It seems the core contributors are keen on not doing this

[2020-09-30 20:37] #3709 closed

[2020-09-30 20:37] #3715 closed

[2020-09-30 20:43] abi90 commented on #3892
I have a workaround but it requires changing the dotnet version that comes with vs code by default.
The steps I follow are:

1. Open VS Code and run `command+shift+p`
2. Type shell command and select Install code command in path
3. Download and install .NET 5.0.0 from [https://dotnet.microsoft.com/download/dotnet-core/5.0/runtime/?utm_source=getdotnetcore&utm_medium=referral](https://dotnet.micros

[2020-09-30 20:44] nicolasdossantos commented on #3891
We ended up hacking a solution...Here are the steps:

1.  Open VS Code and run `command+shift+p`
2. Type` shell command` and select` Install code command in path `
3. Download and install .NET 5.0.0 from [here](https://dotnet.microsoft.com/download/dotnet-core/5.0/runtime/?utm_source=getdotnetcore&utm_medium=referral)
4.  Open a new terminal and run `dotnet --list-runtimes`
5. Copy the version at

[2020-09-30 20:44] abi90 commented on #3671
I manage to change the .NET version.
The steps I follow are:

1. Open VS Code and run `command+shift+p`
2. Type shell command and select Install code command in path
3. Download and install .NET 5.0.0 from [https://dotnet.microsoft.com/download/dotnet-core/5.0/runtime/?utm_source=getdotnetcore&utm_medium=referral](https://dotnet.microsoft.com/download/dotnet-core/5.0/runtime/?utm_source=getdotnetc

[2020-09-30 20:47] abi90 commented on #3757
I have a workaround but it requires changing the .NET version that comes by default with vs code live share.
The steps I follow are:

1. Open VS Code and run `command+shift+p`
2. Type shell command and select Install code command in path
3. Download and install .NET 5.0.0 from [https://dotnet.microsoft.com/download/dotnet-core/5.0/runtime/?utm_source=getdotnetcore&utm_medium=referral](https://dotn

[2020-10-01 17:50] dlebu commented on #3012
We shipped a bunch of authentication fixes this past couple of weeks. I would appreciate if you could try the latest release of our Visual Studio Code extension and let us know if you are still experiencing authentication issues. The fixed issues span all operating systems.

[2020-10-01 17:51] dlebu commented on #3679
@dmann18181 At the time you opened the issue, we had the feature in flight and not available to all customers. Right now, if you are on the latest extension version, following into diff view should be fully supported. Please let me know if you are still experiencing issues.

[2020-10-01 19:01] dlebu commented on #3339
@pcbHikeME This issue should have fixed by a recent fix. Our telemetry shows it should not be happening anymore. If you still encounter this issue, please re-open this bug and let us know what OS version, browser version you are using. Thanks for using Live Share and please keep the feedback coming!

[2020-10-01 19:01] #3339 closed

[2020-10-01 19:08] dlebu commented on #3328
@levrik The original issue was opened for web clients only. On desktop clients (VSCode extensions), we have been supporting this for a long time now. I tried to repro on my mac and sharing a saved workspace seems to work fine. If you are still experiencing issues, please let us know what version of macOS you are using, what version of the extensions and what version of VSCode (stable, insiders).

[2020-10-01 19:10] dlebu commented on #3328
Closing issue now that web supports this as well. As stated previously, please re-open or file a new bug if you are experiencing problems.

[2020-10-01 19:10] #3328 closed

[2020-10-01 19:44] dlebu commented on #3890
@JonasRSV I took a look at your logs but did not see anything out of the ordinary. There is only one error that usually happens when you close the IDE but the agent is still running. I would appreciate more details on your scenario. A few questions:

1. What version of Ubuntu are you using (desktop/server and exact version).
2. What architecture (32/63 bit)
3. Do you see problems with other extens

[2020-10-02 06:31] Sam-Martin commented on #3671
@abi90 those instructions fixed my setup when nothing else could. Thank you so much!

[2020-10-02 08:07] ghost opened #3896 "Doesn't Work From Installation"
Issue Type: <b>Bug</b>

The Liveshare extension does not work on my machine from the start of installation. Unable to join or start a liveshare at all.

Extension version: 0.4.0
VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-10-02 10:02] JonasRSV commented on #3890
For 1:

[code]

For 2: 64bit

For 3:

I have no other extensions, I only downloaded vscode to use this, would you want me to try to download another extension and try that, if so which one?

For 4:

I have not used vscode before, I only tried downloading it for the liveshare functionality.

Additional info:

It might be relevant, a difference from stock-ubuntu is that I am using xmonad as a WM. I

[2020-10-02 10:23] JonasRSV commented on #3890
I will close this issue now because it seems to work now.

So the two changes I made was to

1. set $TMP=/tmp
2. Remove my custom own tmp directory.  I also had $HOME/tmp removing that seem to have helped.

I guess for some reason these two things were messing with vscode somehow. But now it works for me.

Thanks for taking your time and helping me out, much appreciated.

[2020-10-02 10:23] #3890 closed

[2020-10-02 14:01] Banzai262 opened #3897 "Got desync"
**Product and Version** [VS/VSCode]: vscode
**OS Version** [macOS/Windows/Linux]:windows 10
**Live Share Extension Version**: 1.0.2902
**Target Platform or Language** [e.g. Node.js]: plant uml extension

**What were you doing when you encountered the desync?** I was editing a puml file with 2 others

**How often have you encountered desyncs?** a few times

[2020-10-02 15:55] daytonellwanger commented on #3894
Hey @akira-okumura , this is a supported scenario, so it looks like you uncovered a bug.

@aletsdelarosa , can you take a look? I wasn't able to repro with a TypeScript project, so it might be specific to how the C++ extension handles renames.

[2020-10-02 16:06] daytonellwanger commented on #3775
Hey @altechzilla , we still haven't scheduled this work. @fubaduba , do you think this fits into our plans for this sprint or next?

[2020-10-02 16:07] altechzilla commented on #3775
🙏 We use Live Share daily and it's really confusing when they keep popping up for everyone. Thank you for the follow-up!

[2020-10-02 16:34] setaskin commented on #3895
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue. We are tracking the issue in #3736 . I am closing as duplicate please add your comments /logs there in #3736 and join the convers

[2020-10-02 16:34] #3895 closed

[2020-10-02 16:35] setaskin commented on #3897
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue. We are tracking the issue in #3736 . I am closing as duplicate please add your comments /logs there in #3736 and join the conversatio

[2020-10-02 16:35] #3897 closed

[2020-10-02 16:36] setaskin commented on #3896
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-10-05 11:11] SabyasachiDash commented on #3406
Hi
This issue is still showing up for me.
Host: VS 2017 15.9.27
Guest: VS 2017 15.9.15
Live Share version on both- 1.0.2900.0

[2020-10-05 11:29] 24mu13 commented on #205
That's true.

But exactly the same of remmina could be done here..
Remmina provides a default plugin for **secret-service,** but still you can use also a [plugin for kwallet](https://gitlab.com/Remmina/Remmina/-/issues/1968).

[2020-10-05 16:21] daytonellwanger commented on #3406
Hey @SabyasachiDash , so you're using VS 2017 with C++? What language features aren't working?
- Hover
- Go to definition
- Find all references
- Colorization
- Workspace symbols
- Other?

[2020-10-05 17:13] SabyasachiDash commented on #3406
Hi @daytonellwanger ,
1- Hover
2- Go to definition
3- Find all references
4- Colorization
These features are not working. Colorization is there partially, but its not proper. Please have a look at the attached image. Its taken from the guest's perspective.

![image](https://user-images.githubusercontent.com/17386159/95110654-ff34c980-075b-11eb-9498-188d351a73e0.png)