[2020-04-09 09:34] fbnlsr commented on #180
@BrunoGuardia thanks a lot for your work. Unfortunately, no luck for me. I had the extension uninstalled, and re-installed it after seeing your comment. I still get the "corrupted download" notification.

[2020-04-09 11:43] AchalaSB commented on #3273
I'm also facing the same issue.
[log.zip](https://github.com/MicrosoftDocs/live-share/files/4455908/log.zip)

[2020-04-09 11:44] AchalaSB commented on #3140
Any update on this issue? How can I fix this?

[2020-04-09 14:27] jasonsydes commented on #180
@BrunoGuardia, thank you for your attention to this.  I don't know if your 1.0.1947 fixes address other causes of the error listed in this thread, but w/r/t to the "Remote - SSH" + "Live Share" error described in #3252, without write permission to the shared directory /tmp/VSFeedbackVSRTCLogs/, I'm still seeing the corrupted download error (see below) when trying to install version 1.0.1947 of "Li

[2020-04-09 16:50] Moniarchy commented on #3377
@renerbaffa. Happy to hear that this seems to be working for you now! If you do move back to VS Code stable or if this problem comes up for you again, feel free to come back here with your logs and we'll try to figure out what's going on.

[2020-04-09 16:52] Moniarchy commented on #3376
Thanks for reporting this issue, @duxbuse. Right now, the shared terminal's height is affected by the person in the session whose terminal window has the least height. As a workaround, you can ask the person who has the terminal at the least height to expand their terminal. I'll label this as a feature request as well.

[2020-04-09 16:55] Moniarchy commented on #3372
Thanks for opening this, @prsmendonca. Editing of the text files is supported, but this scenario is currently not unsupported. I'll mark this as a feature request.

[2020-04-09 17:22] IlyaBiryukov commented on #3280
@ap00rv it seems your issue comes from dotnet core not fully supporting your Linux OS. Live Share uses dotnet core agent process, and it fails to start with "Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support" error.

This documentation may help resolve it:
https://github.com/

[2020-04-09 19:17] BrunoGuardia commented on #180
We are looking at what else we can fix, like the unique user you suggest. Storing the logs on /home instead of /tmp would have further implications that may not be desirable.

@fbnlsr - can you provide logs for us to check?

[2020-04-09 19:43] peterbatzel commented on #180
@fbnlsr For the record, I initially sleuthed this out by hitting that "corrupted download" error, and then from the same window the error message was displayed, opening up the Command Palette -> Developer: Show Logs... -> Remote Extension Host.  That may get you to the relevant logs that @BrunoGuardia is asking for.

[2020-04-09 21:22] joech4n commented on #180
Could this be related to settings-sync extension? I did not run into this issue until syncing my settings with it.

[2020-04-09 22:11] davidvanegas2 opened #3380 "Error"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-10 03:14] dlebu commented on #3356
It feels like there is something wrong with your setup. We use the launcher in 2 scenarios: sign in and joining through the browser. You can workaround both:
1. For sign in, run the command in your palette `Live Share: Disable VSCode account authentication`. This will revert to legacy sign in, which is supported but not using the launcher.
2. For joining, run the command: `Live Share: Join collabo

[2020-04-10 05:24] Howie315 opened #3381 "Terminal sharing"
Issue Type: <b>Bug</b>

sharing the terminal when running java on someone who is collaborating with me doesn't work for them. It always runs for me is whats happening. Instead of the other person being able to use the terminal on his computer, what he types, actually goes to only my computer.

Extension version: 1.0.1947
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-

[2020-04-10 09:51] daviyisu commented on #3057
Exact same problem here in Ubuntu

[2020-04-10 10:31] vickyhexr opened #3382 "[VS Code] [Audio] HTTPS request failed for SkypeToken: socket hang up"
Error:
HTTPS request failed for SkypeToken: socket hang up

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-10 12:15] yc-codes opened #3383 "CSS has Two Color Blocks and suggestions(IntelliSense?)"
Issue Type: <b>Bug</b>

I checked in my local files, it's not the case there
Getting This Kinda Thing in every css file in Live Share,

color blocks
![image](https://user-images.githubusercontent.com/32420644/78990041-fa97ab80-7b52-11ea-8685-225acff03af7.png)

suggestions(IntelliSense?)
![image](https://user-images.githubusercontent.com/32420644/79635721-3bfe0b80-8190-11ea-9868-c87243771b12.png)

[2020-04-10 12:55] Tropi-mango opened #3384 "Github Account disconnect"
Issue Type: <b>Bug</b>

Hi,
I used this awesome extension (Live Share) with my Github account.
It worked well, Except today, I was disconnect from my Github account and now,
it's impossible to connect with Git. it's really embarrassing.

Can-you solve my problem and fix-it ?

Thanks for reading my message

Extension version: 1.0.1947
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a

[2020-04-10 14:28] dlebu commented on #3057
@daviyisu Can you try running `Live Share: Disable VSCode account authentication` and try signing in again? Please let us know if this unblocks you.

[2020-04-10 14:39] cyberbiont opened #3385 "Participant access rights status does not update"
**Describe what happened:**

read-only status always is displayed for participants even if they get read-write access

VSCode 1.44
Windows 10 Pro
Live Share  1.0.19.47

**Steps to Reproduce / Scenario:**
1. Start session in read-only mode.
2. Connect to the session from another VSCode instance.
3. You will be listed in participants list on host as `Username (Read-only)`, on guest you'll see `Usern

[2020-04-10 15:14] cyberbiont opened #3386 "Not able to edit after getting read-write access until switching the editor tab"
I decided to open this as separate issue.

After getting editing rights, editor tab loses "(read-only)" mark, but actually it is still read-only (to be able to edit, participant should switch editor tabs or close and open file again).
Conversely, it editing rights have been revoked, editor tab starts to show "(read-only)" mark but actually participant still can edit the code through it until he sw

[2020-04-10 16:07] Spozder opened #3387 "Unable to unfollow participant"
Issue Type: <b>Bug</b>

Sometimes, when starting a liveshare, I am unable to unfollow another participant (as it defaults to following the host at first). This time, it gave a specific error when I tried though.

Extension version: 1.0.1947
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:52:11.516Z)
OS version: Linux x64 4.15.0-91-generic

<details>
<summary>S

[2020-04-10 16:42] Moniarchy commented on #3380
Thanks for reporting this desync, @davidvanegas2. I'm going to close this as a duplicate of #2086. Please join the conversation there for updates.

[2020-04-10 16:42] #3380 closed

[2020-04-10 16:59] fbnlsr commented on #180
@peterbatzel thanks for the tip ! 😄

@BrunoGuardia here is my extension host log, I hope it'll help you: https://gist.github.com/fbnlsr/9e6c8c40a0bb878d3da779259697b2c1

[2020-04-10 17:08] Moniarchy commented on #3382
Thanks for reporting this, @vickyhexr. Did this happen to you when you tried to start an audio call? Adding @jramsay.

Also, uploading your logs to this issue could help us diagnose this problem. To get your logs, you can open the command palette (`ctrl + shift + p`) and type the `Live Share: Export Logs` command.

[2020-04-10 17:11] Moniarchy commented on #3384
Thanks for reporting this, @Tropi-mango. Can you tell me more about how you were disconnected from your GitHub account? Are you able to sign into LiveShare with your GitHub account? If not, what is the error message that you see?

[2020-04-10 18:28] PrasshantChavan opened #3388 "Extension host terminated unexpectedly."
**Product and Version** [VSCode]:
**OS Version** [Windows]:
**Live Share Extension Version**:
**Target Platform or Language** PHP/Laravel:

**Steps to Reproduce / Scenario:**

1.
![1](https://user-images.githubusercontent.com/58850768/79013643-d35ad180-7b86-11ea-9b53-1ad67526182d.jpg)
![2](https://user-images.githubusercontent.com/58850768/79013647-d655c200-7b86-11ea-97b2-077e9c0de376.jpg)
![3](ht

[2020-04-10 19:23] daviyisu commented on #3057
@dlebu I fixed it by using Firefox instead of Opera as my browser.

[2020-04-10 19:52] ap00rv commented on #3280
Thank you @IlyaBiryukov . I am going to switch to a modern linux flavor soon. I will report back with any issues.

[2020-04-10 19:56] cyberbiont commented on #3383
Same problem

[2020-04-10 22:16] Tropi-mango commented on #3384
Hi Monica,
I was disconnect at the end of a conference.
the host closed the conference, and at the next conference Live Share asked
me to log in.
Since then I can't log in anymore. neither by my browser, nor by the
activation/connection key I'm given.
I don't see any error message, just "Your login session has expired. Please
log back in.",
Yet I've cleared my cookies and browser cache.
Thank for

[2020-04-11 03:35] nw7554 opened #3389 "Cannot give permission to partner to run code"
Issue Type: <b>Performance Issue</b>

I am using LiveShare to edit a piece of code with a partner, however I can't give my partner the permission to run the code. Everytime he tries to run the code, he gets an error message saying that the host has not given him the permission to do so. I have checked all the check boxes in LiveShare that pertain to user freedoms but nothing is working

Extension

[2020-04-11 07:29] RobSmyth commented on #2044
@daytonellwanger said:

Thank you. Yes that makes sense. However without Resharper implementing this API I would have still expected to see the markup and context menus that are on the host. For example, currently as the developer on the host is showing me code, and editing code, I do not see context menus nor markups like underline highlighting. This greatly diminished my ability to collaborate.

[2020-04-11 07:32] RobSmyth commented on #2044
Hi @daytonellwanger ,

My apologies for an additional response but I want to also point out that, as the client, I do not see any of the VS build in context menus like intellisense. So, putting Resharper aside, it is difficult to mentor while watching the hoster type. You have to guess what they are seeing ... "you should now be seeing ..."

[2020-04-11 10:47] romanrehacek commented on #2128
@lostintangent any update of this? Maybe some CLI like visual studio online?

[2020-04-11 15:59] alancinacio commented on #3273
Same here.
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4464899/logs.zip)

[2020-04-11 18:52] JamesTeague commented on #180
@joech4n Seems like I have a similar issue. I do have the same settings-sync extension.

[2020-04-12 05:51] AchalaSB commented on #3057
I tried `Live Share: Disable VSCode account authentication` but it says
`Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.`
I have tried by changing network mode to `auto, direct, relay` same error

I tried in all browsers like `brave, chrome, opera, firefox`

[2020-04-12 07:33] Moniarchy commented on #3384
So, just to clarify, when you try to log in, the browser opens, and when you try to log in at the browser, you are unable to. What browser and version of that browser are you using?

Have you tried the command `Live Share: Sign In With User Code` in VSCode?

[2020-04-12 07:40] SaltedFishLZ-870 commented on #2071
The same issue on Windows 10, appears again even if have deleted `.vscode\extension`. I have tried using `ctrl + shift + p` to gain the logs, but the vscode says

[2020-04-12 07:59] Moniarchy commented on #3389
Thanks for reporting this issue, @nw7554. Just to clarify, do you have the Liveshare: Allow Guest Debug Control setting in VS Code set to true or checked? If so, could you upload your logs here so we can take a look at them? You can get your logs by opening the command palette (`ctrl + shift + p`) and running the `Live Share: Export Logs` command.

[2020-04-12 08:03] Moniarchy commented on #3388
Thanks for reporting this, @PrasshantChavan. What version of VS Code are you using? Can you try updating to the latest version? Also, can you upload your logs here so we can take a look at them? You can get your logs by opening the command palette (`ctrl` or `cmd + shift + p`) and running the `Live Share: Export Logs` command.

[2020-04-12 08:05] Moniarchy commented on #3387
Thanks for reporting this, @Spozder. Do you remember what the error message was in this case? Were you eventually able to unfollow?

[2020-04-12 08:07] Moniarchy commented on #3378
Thanks for reporting this, @Dragnalith. This is something that we're currently working on, so I'm going to mark this as a feature request. Adding @fubaduba.

[2020-04-12 08:14] Moniarchy commented on #3381
Thanks for reporting this, @Howie315. Let me clarify the situation here. You, as the host, are sharing a terminal with a guest who has joined your session. When the guest runs commands in the shared terminal, they run for the project that you have shared. Is he able to see the commands he types? What is the behavior that you expect to see that is not happening?

[2020-04-12 10:13] fabian5701 opened #3390 "Soporte de idioma y plataforma."
Espero sirva

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b53cd2c5-849d-ec59-3d57-8b929f94e61a
* Version Independent ID: c9a75e32-06f5-ffae-c4f8-fbfcbff997dc
* Content: [Platform and language support - Visual Studio Live Share - Visual Studio Live Share](https://docs.microsoft.com/en-us/visualstudio/liveshare/referen

[2020-04-13 14:53] daytonellwanger commented on #2044
Thanks for the follow-up @RobSmyth !

I'm not sure I'm 100% following what you're expecting to see vs. what you're actually seeing. Could you include some screen shots or GIFs?

The guest in a Live Share session should have all language services provided by VS (go to definition, find all references, intellisense (completion), squiggles for errors, etc.) However, if the host starts typing and bring

[2020-04-13 14:54] daytonellwanger commented on #2044
That said, we do get a lot of feedback about folks that *would* like to have the option to see the host's completion list, etc.

[2020-04-13 15:01] PrasshantChavan commented on #3388
This is the all information regarding VS Code and OS.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Monica Williams<mailto:notifications@github.com>
Sent: 12 April 2020 13:34
To: MicrosoftDocs/live-share<mailto:live-share@noreply.github.com>
Cc: PC601<mailto:prasshantchavan16@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDoc

[2020-04-13 16:42] rajumn0309 opened #3391 "starting collaboration session: You need to be authenticated to proceed."
Issue Type: <b>Feature Request</b>

sign in keep prompting me again & again even though I looged in using microsoft account. I'm not able to join /start collab session after my mac OS upgrade to Catalina.

Extension version: 1.0.1947
VS Code version: Code - Insiders 1.45.0-insider (44c5185373d5f209cd6c0b5d29a216fb801da34e, 2020-04-10T19:43:46.226Z)
OS version: Darwin x64 19.4.0

[2020-04-13 20:37] andyneff opened #3392 "Live share not working on Remote SSH session"
I can get Live Share to work on a local windows sessions, but I cannot get it to work when connected to a remote SSH sessions.

I have another user on macos connecting to a similar Fedora 31 machine, and it works for him

**What was your system configuration?**
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.19041
Re

[2020-04-13 20:44] DanielRosenwasser opened #3393 ""Planned Session link is created" but I can't get the link"
Issue Type: <b>Bug</b>

1. Ctrl+Shift+P (command palette)
2. "planned session link"
3. Enter
4. Live Share dislays alert saying "Planned Session link is created"
5. Wonder "okay, but what is it?"

Expected: Link copied to clipboard, or dialog box has a "copy link" button
Actual: Nothing observable

Extension version: 1.0.1947
VS Code version: Code - Insiders 1.45.0-insider (44c5185373d5f209cd6c0b5

[2020-04-13 21:16] andyneff commented on #3392
Additional. I have tried with and without the settings `"remote.SSH.useLocalServer": true,` set, it behaves the same

In both cases, when I perform an action that is part of "Live Share", e.g.: "Live Share: Export Logs" or "Start collaboration session...", for the first time in a VS Code session, the status bar does says:
**spinning** "Activating Extension", for a few seconds before nothing happen

[2020-04-13 21:36] dlebu commented on #3346
Sorry for the late reply, can you try to delete the global storage folder following these steps? https://github.com/MicrosoftDocs/live-share/issues/180#issuecomment-604074166 Please let me know if that unblocks you.

[2020-04-13 21:41] dlebu commented on #3282
@EliKlein, please follow the steps in @kiryph 's comment which will delete your profile.
@kiryph , to delete the locally stored profile information (in the credentials manager), you can run the `Live Share: Sign out` command. That will clear up all the local profile information.

[2020-04-13 21:46] dlebu commented on #2071
@SaltedFishLZ-870 , please try deleting the global storage location and try installing again. See the comment here: https://github.com/MicrosoftDocs/live-share/issues/180#issuecomment-604074166 . The equivalent folder on windows is `[OSdrive]:\Users\[username]\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare\`

[2020-04-13 22:23] tacascer opened #3394 "Ocaml desync"
**Product and Version** [VSCode]:
**OS Version** [Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [Ocaml]:

**What were you doing when you encountered the desync?**
Just looking at files and editing like usual
**How often have you encountered desyncs?**
Very often

[2020-04-13 23:03] EliKlein commented on #3282
In the end I got it working by reading properly, though I am still a bit confused about the Microsoft portion. I think I did something weird by linking my account? It's saying I have an account (on that site) but it can't find any information about it.

Anyways, that's not super important; it just confused me a bit. Next time maybe I'll avoid that by not assuming I should click the first thing tha

[2020-04-14 00:28] duxbuse commented on #3376
I could not replicate this. No matter what I did the terminal was fixed to 6 lines. Resizing on both ends had no impact.

[2020-04-14 08:30] pjninnim commented on #3323
Issue appears to be resolved in the latest updates.

[2020-04-14 09:02] NielsUll opened #3395 "Release notes missing"
In the Manage Extensions dialog in Visual Studio, the release notes link points to https://github.com/MicrosoftDocs/live-share/releases

The latest release notes on that page are for v1.0.1377?

I cannot find out what has changed in later releases.

[2020-04-14 12:12] wade-montague commented on #180
I'll add to the list of people that also have settings sync addon. However I've used this addon along side live share for a long time so would be a recent update if related at all.

[2020-04-14 13:02] SpacewormSera opened #3396 "syncronisation lost"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-14 14:29] dlebu commented on #3282
Happy you got unblocked. Assigning @fubaduba for adding link to CONTRIBUTING.md .

[2020-04-14 14:32] #3025 closed

[2020-04-14 14:35] dlebu commented on #3129
@bowdenk7 sorry for the late reply. Were you ever unblocked from this issue?

[2020-04-14 14:40] dlebu commented on #3012
For everyone still experiencing sign in issues with Live Share in Visual Studio Code, please try to run `Live Share: Disable VSCode account authentication` in your command palette. That will change the authentication flow to the legacy one which is still being supported.

[2020-04-14 14:51] dlebu commented on #3334
Closing due to lack of information. Please reopen if you are still experiencing issues and let us know how we can help. Thanks for using Live Share!

[2020-04-14 14:51] #3334 closed

[2020-04-14 15:13] rodrigovaras commented on #3395
Hi,
Apologize we did not update the release page this time, we hope to do it on our next release this week.

[2020-04-14 15:13] #3395 closed

[2020-04-14 15:15] rodrigovaras commented on #3393
Thanks for reporting this, we will review your comments.

[2020-04-14 15:52] jramsay commented on #3323
@pjninnim: thanks for confirming the fix! I'll resolve this issue.

[2020-04-14 15:52] #3323 closed

[2020-04-14 16:05] setaskin commented on #3393
@DanielRosenwasser , hi thank you for reporting this. This is a new upcoming feature that will be released in next couple weeks. It shouldn't show up in command palette yet which is a bug :) . Thank you for reporting this. Feel free to reactivate if you have further questions.

[2020-04-14 16:05] #3393 closed

[2020-04-14 17:06] pbassham commented on #3254
Since I didnt install via Brew, @jasmine-q's trick didnt work. The path for me was '/Applications/Visual Studio Code.app/Contents/MacOS/Electron'

I just opened it via that link, and similarly it prompted to allow Terminal to use the mic.

[2020-04-14 17:19] Zinfira opened #3397 "Stopped to work"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-14 17:29] steventouba opened #3398 "Desync detected with liveshare"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-14 17:30] steventouba commented on #3398
Using liveshare with javascript files, and webpack. Frequently in the last week I've run into multiple deeync events with different partners.

[2020-04-14 17:37] malghabr commented on #341
Support, an on premise solution with AD would greatly be appreciated.

[2020-04-14 19:00] jtbandes commented on #2018
Hi @lostintangent, just wondering if there have been any updates on this roadmap since last year when this issue was opened?

[2020-04-14 21:40] cherisek commented on #3356
When I do the step 1. I see command not found.

[2020-04-15 03:00] im-rhlrvndrn opened #3399 "[VS Code] [Audio] SlimCore not found: c:\Users\Ravindran\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node"
Error:
SlimCore not found: c:\Users\Ravindran\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.0|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2020-04-15 03:09] michaelkarlcoleman commented on #180
@BrunoGuardia If you make a random directory in /tmp with 'mktemp' or similar, this might sort of work.  But trying to camp on a specific file/directory in /tmp will never work reliably.

Alternatively, short of a real fix, could you get your software to simply ignore all errors when trying to write to this camped directory?

[2020-04-15 04:55] henryhobhouse commented on #3124
Also in the same boat. The latest version of macOS seems to bork installs of live share from `1.0.1653`

[2020-04-15 04:59] Dragnalith commented on #3378
In the new version, in remote, "Go To File" stopped looking for file in the workspace. It only returns result of file which are already opened.

Seems to be a regression, should I open a bug?

Version: 1.44.0 (user setup)
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-07T23:31:18.860Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x6

[2020-04-15 09:22] eluchsinger opened #3400 "Changelogs missing"
**Describe what happened:**

Where are the changelogs? The last changelog in the releases is months ago.

[2020-04-15 13:44] sfmayke opened #3401 "Sync Problem"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-15 13:45] #3401 closed

[2020-04-15 13:53] LongLiveCHIEF commented on #2673
I'm on Mac 10.15, and everyone we have trying to use this is also getting this problem.  I've also tried disabling Live Share authentication so we get a code back instead of being asked to open our vscode, but entering that code results in the same error.

[2020-04-15 14:00] LongLiveCHIEF commented on #3216
This starts happening for me on the very first use of the extension on a fresh machine. Every time, every OS I've tried.

[2020-04-15 15:40] jramsay commented on #3348
@eleetas : this should be fixed in the latest Live Share extension release (>= 1.0.1947). I'm closing this issue but please let me know if it doesn't resolve it for you. Thanks.

[2020-04-15 15:40] #3348 closed

[2020-04-15 15:43] cruscio opened #3402 "Error in collaborator session with multi-line 'Powershell: Run Selection' command"
**Describe what happened:**
As a remote collaborator, I can't run a multi-line selection of PowerShell code in the shared PowerShell Integrated Terminal. The same action works without error for the host.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode 1.44.0
*OS Version*[macOS/Windows]: Windows
*Live Share Extension Version*: 1.0.1947
*Target Platform or Language

[2020-04-15 18:26] x30n commented on #3348
Viewing a debugging session via Live Share hosted on MacOS now works, thanks @jramsay!

In testing, I noticed a few things that still seem to be broken:
1. “Variables” and “call stack” windows now populate appropriately, but tooltip variable inspection (hovering over the variable) doesn’t seem to work on guests.

2. Guests can set / remove breakpoints, but can’t step through the debugger (continue

[2020-04-16 07:26] hassanejaz opened #3403 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.0|
|**platformName**|MacOS|
|**platformVersion**|18.7.0|

[2020-04-16 11:38] Mirko-von-Leipzig opened #3404 "Export comment threads"
Is it possible to export / save comment threads?

The comments are nice for a discussion, and would be nice to store that so that any ideas / code changes resulting from them could be implemented offline.

[2020-04-16 13:14] Distill-pixel opened #3405 "[VS Code] [Audio] Electron not found: c:\\Users\\Administrator\\AppData\\Roaming\\Code\\User\\globalStorage\\ms-vsliveshare.vsliveshare-audio\\electron-4.2.7\\dist\\electron.exe"
Error:
Electron not found: c:\\Users\\Administrator\\AppData\\Roaming\\Code\\User\\globalStorage\\ms-vsliveshare.vsliveshare-audio\\electron-4.2.7\\dist\\electron.exe

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-04-16 14:03] wyatcall commented on #3335
You can modify that behavior as documented here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/security#controlling-file-access-and-visibility

[2020-04-16 14:28] R2D221 opened #3406 "[Visual Studio] - Language feature support is not working correctly."
**Describe what happened:**
Live Share works and I can see the other person's code, but the IDE experience is subpar because most useful things aren't working (IntelliSense, Go to definition, error highlighting).

**What was your system configuration?**
*Product and Version*: Visual Studio 2019 (host is Professional 16.5.4, guest is Community 16.5.4)
*OS Version*: Windows 10 Pro (host is 1809 buil

[2020-04-16 15:38] jamespottsSAFC commented on #3392
I am having a similar issues. Works fine locally but when using Remote - SSH nothing happens when try to either join or start a collab session

[2020-04-16 16:40] AngelAlejo opened #3407 "Encoding error"
Hello, when my friend try to enter in the code to help me, she can't set the encoding correctly. We work with spanish files, and when I set the right encoding, it works well for me, but when she set the right encoding too,  she can't see the accute accents and another spanish marks.

[2020-04-16 20:25] Scroungy commented on #3406
Was going to post this issue after I put it up on the Visual Studio support page, but it looks like you beat me to it. I'm definitely having this problem with the newest version, so I've temporarily reverted to the previous one. Can't wait until this one's fixed.

[2020-04-16 20:28] AbelSaul opened #3408 "demora en cargar"
Issue Type: <b>Bug</b>

demora en cargar mcu

Extension version: 1.0.2000
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) Bronze 3106 CPU @ 1.70GHz (16 x 1696)|
|GPU Status|2d_canvas: unavailable_software<br>flash_3d: disab

[2020-04-17 00:07] mpratscher opened #3409 "Desync detected"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-17 00:08] #3409 closed

[2020-04-17 02:31] rodrigovaras commented on #3408
Can you be more specific?

[2020-04-17 02:31] #3408 closed

[2020-04-17 02:31] rodrigovaras commented on #3407
Is this a vscode issue or livshare?

[2020-04-17 13:32] jeffersonest opened #3410 "Where is the signin?"
Issue Type: <b>Bug</b>

Bad, where is the (sign in) button on "Live Share"  extension?
and how to do sign in?

Extension version: 1.0.2000
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-08T08:23:56.137Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2800)|
|GPU St

[2020-04-17 13:35] sebastianst commented on #2054
I'd like to reopen this issue. I just upgraded to 1.44.1 and I get the message again when I try to access a colleague's session running 1.44.0.

[2020-04-17 14:08] mjcrouch commented on #3304
I made an interesting discovery, that I am able to sign in via remote SSH if:
* I open an actual instance of `code` on the remote server (not via SSH) and sign in to the proxy (not live share) using the auth dialog that pops up
* Without closing the native window, I go back to the Remote SSH instance and sign in there

This seems to work, so perhaps the issue is that there is no way to authenticat

[2020-04-17 14:32] sungle3737 opened #3411 "[VS Code] [Audio] SlimCore not found: c:\Users\Seonglae\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node"
Error:
SlimCore not found: c:\Users\Seonglae\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-17 14:55] daytonellwanger commented on #3406
Hey @R2D221 , thanks for reporting. I'm able to repro, so hopefully we can figure out what's going on and have a fix out soon. I'll keep you posted.

[2020-04-17 15:14] x30n opened #3412 "Co-debugging features on MacOS not working"
**Describe what happened:**
Co-debugging with a MacOS host didn’t work at all, but was recently fixed with 1.0.1947 (see #3348). However, several features still seem to be broken, namely:

1.	“Variables” and “call stack” windows now populate appropriately, but tooltip variable inspection (hovering over the variable) doesn’t seem to work on guests.

2.	Guests can set / remove breakpoints, but can’t

[2020-04-17 16:07] mlk5060 opened #3413 "Desync Occurred"
**Product and Version**:VSCode
**OS Version**: Linux
**Live Share Extension Version**: 1.0.2000
**Target Platform or Language**: Ruby on Rails

**What were you doing when you encountered the desync?**

General pair-programming, nothing intense: renaming files, typing text

**How often have you encountered desyncs?**

Past 2 days

[2020-04-17 16:49] AngelAlejo commented on #3407
I think is a liveshare, because my friend can open the file in her local computer, and she don't have any problem with the enconding, we only have errors in live-share

[2020-04-17 20:45] halfnibble opened #3414 "Powershell [shared] display issues."
Issue Type: <b>Bug</b>

The terminal in my MacOS LiveShare session has weird text diplay issues. I think it might be because the screens are different resolutions? I'm not sure.

My host VS Code LiveShare is running on a Windows 10 dev box, so the shared terminal is a Powershell terminal.

Extension version: 1.0.2000
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-0

[2020-04-17 21:57] mjcrouch commented on #3392
spinning "Activating Extension", for a few seconds before nothing happens. But as you can see from the Screenshot, "Live Share" never shows up in the status bar.

I saw this earlier today when I was experimenting with my own problem - that it didn't do anything when I clicked the live share button - this seems to be relatively new behaviour..

It works again when I restart the VS code window using

[2020-04-18 01:24] ingridyfan opened #3415 "Signs me out and won't let me sign in"
Issue Type: <b>Bug</b>

successfully sign in
Attempt to join collaboration session
sign in with vs live share to join popup
click sign in
go through all the steps of signing in (either with github or microsoft)
fails

Extension version: 1.0.2000
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System

[2020-04-18 18:19] finnp commented on #1001
This is not only helpful for performance. It's also useful for things like the host leaving the session and other people wanting to continue working on the code.

[2020-04-18 21:15] TutoDS opened #3416 "[VS Code] [Audio] SlimCore not found: /Users/tutods/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node"
Error:
SlimCore not found: /Users/tutods/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|19.4.0|

[2020-04-18 21:36] jmpp commented on #180
Finally, after have tried every solution listed here, this is your solution that solved my problem.

To help others, this is all the steps I did on Windows :
1. Uninstall "Live share" from VSCode, then close the editor.
2. Open a `cmd.exe` and type: `cd %USERPROFILE%/.vscode/extensions`
3. Remove manually every folder that match `ms-vsliveshare.vsliveshare-*.*.****` (with `rm -r ms-vsliveshare.vsl

[2020-04-19 01:49] Yakov5776 commented on #1538
I agree, this would be really useful for my development team and I'd love to see this work for winform designer in liveshare

[2020-04-19 14:55] JamesTeague commented on #180
I originally thought that this could be the case but when I set it up in a Windows environment, it seemed to install just fine. I had issues when on Ubuntu.

[2020-04-19 23:51] rafavelar opened #3417 "Live view not working"
Issue Type: <b>Bug</b>

I can't start a session.

Extension version: 1.0.2000
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz (8 x 4000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2020-04-20 01:25] tac-yacht commented on #2681
I remember success with near older versions of Live Share Extension.
I search other version.Result is as below.

* 1056 OK
* 1123 OK
* 1293 OK
* 1377 OK
* 1482 OK
* 1510 OK
* 1587 NG
* 1653 NG
* 2000 NG

same,my environment is behind proxy.

[2020-04-20 02:41] rafavelar opened #3418 "Trying to Sing In"
Issue Type: <b>Bug</b>

I'm trying to log in in Live share but I can't

I attached mi log.

[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/4500942/Logs.zip)

Extension version: 1.0.2000
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-04-20 04:13] DeepakM02 opened #3419 "Multiple time there is pop up appear "trying to reconnect to sync files""
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-20 06:12] PaulDPerry opened #3420 "An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve."
Issue Type: <b>Bug</b>

1.) Install VS Live Share
Uninstalling and re-installing does not work

Extension version: 1.0.2000
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 2600X Six-Core Processor            (12 x 3593)|
|GPU St

[2020-04-20 14:21] janosh opened #3421 "Delete line keyboard shortcut not working"
**Describe what happened:**

The delete line keyboard shortcut stops working when creating or joining a session.

**What was your system configuration?**
*Product and Version*: VS Code 1.44.2
*OS Version*: macOS 10.15.4
*Live Share Extension Version*: 1.0.2000
*Target Platform or Language*: Python

**Steps to Reproduce / Scenario:**
1. Start or join a session.
2. Place cursor in file.
3. Press cmd

[2020-04-20 15:14] andyneff commented on #3392
I tried on VSCode 1.44.1 and 1.44.2, exact same issues

@mjcrouch, I tried what you said, and nothing happened:

1. Developer: Reload window
2. Click Live Share on the left, once extensions load
3. Select Start Collaboration session
4. See "Activating Extension" in the status bar, and wait for it to go away
5. Nothing happens

I also tried:

1. Developer: Reload window
2. Click Live Share on the l

[2020-04-20 16:43] jramsay commented on #3385
@cyberbiont : thanks for letting us know about this issue! I've created a bug for our triage team to prioritize.

[2020-04-20 17:24] jramsay commented on #3385
@cyberbiont: I tried to repro the issue before I went to file the bug and wasn't able to using the latest Live Share version available in the market place. Can you update and try again? Also can you elaborate on what you right clicked on to make read-write? There are a few different ways to promote yourself from read-only to write access so want to ensure I'm trying the same repro steps as you.

[2020-04-20 19:59] imunchen commented on #33
Hi team. Is this feature available in Visual Studio 2017? I couldn't use it.

[2020-04-20 20:49] jramsay commented on #3391
@rajumn0309: thanks for reporting this issue! Are you still hitting the problem after updating to the latest extension we released last week? Are you seeing this issue when you join from our web (Preview) experience or from the VS Code Insiders desktop client?

If it is from desktop and you're still able to repro, I'd like to get more details on where the Microsoft account auth process is failing.

[2020-04-20 21:37] adamsmd opened #3422 "Terminal Cursor Position Reported Multiple Times"
**Describe what happened:**

This is an issue relating to ANSI terminal escape codes.

When sharing a terminal with multiple users, issuing a DSR (Device Status Report) ANSI terminal code results in multiple CPR (Active Position Report) codes being returned, when only one should be returned.

**Background**

DSR is a terminal code that a terminal program can send to the terminal to ask the positio

[2020-04-21 01:55] sdawka opened #3423 "Have the option to share audio while pair programming"
Live share is great, however it is not the complete pair programming experience. Please expose webRTC API to vsCode extensions, or add optional audio presence to this extension. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea21b40c-57fb-4b38-7d20-5a9db7cc5556
* Version Independent ID: e33adae7-6790-6aa9-fb40-

[2020-04-21 02:01] sdawka commented on #3423
Oops this already exists

[2020-04-21 02:01] #3423 closed

[2020-04-21 10:17] ameerkabir opened #3424 "Can not flow participants to the side"
Issue Type: <b>Bug</b>

* start a live shart session
* right click on any participants
* select follow participants

Extension version: 1.0.2000
VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:47:00.296Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|

[2020-04-21 10:18] #3424 closed

[2020-04-21 12:14] Lugio166 opened #3425 "dide`t deleted"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-21 13:23] uutaein opened #3426 "DeprecationWarning with liveshare"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/26305689/79870920-a330ef80-841e-11ea-8efa-e56cbbdfb9bf.png)

(node:13066) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

I found good articles about this issue
https://stackoverflow.com/questio

[2020-04-21 13:27] uutaein commented on #3426
node : v13.13.0
os : Linux Mint 19.3 Tricia

[2020-04-21 13:41] DanTup opened #3427 "Client is prompted "Do you want to save changes" when closing VS Code with dirty files"
I started a live session and joined it from another VS Code instance. Then I made some changes on the host (both host and client got dirty file indicators). I tried to close the Client VS Code and it prompted me to Save/Don't Save changes.

Clicking "Don't Save" sounds like your file will be reverted, but of course it's not - it stays open and modified on the host.

**What was your system configur

[2020-04-21 15:46] jramsay commented on #3425
@Lugio166: Thanks for reaching out. It looks like you encountered a desync issue - is that correct?Can you provide us with details about the issue you encountered? What were you doing when you encountered the desync? How often have you encountered desyncs?

Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palett

[2020-04-21 16:27] jramsay commented on #3426
@uutaein: thanks for bringing this to our attention. I've filed a task to update packages that contain this deprecated buffer() usage. Our triage team will prioritize.

[2020-04-21 16:33] jramsay commented on #3422
@adamsmd: thanks for taking the time to report this issue!

Adding @IlyaBiryukov for investigation.

[2020-04-21 16:51] jramsay commented on #3421
@janosh: thanks for reporting this issue! I tried to repro this on macOS with the same Live Share version using both a C# and Python as was unable to reproduce. Can you try again and see if it is a consistent repro? It would be good to know if it only occurs in a specific file, folder or only using Python. Unfortunately, the zip attached was corrupt so I wasn't able to dig into the logs. If you ca

[2020-04-21 17:02] jramsay commented on #3420
@PaulDPerry: thanks for filing this issue! We currently have an experiment running that gives the user the option to "Repair installation" when this kind of corrupt download issue occurs. It should be released to all users in the next week. In the interim, can you please try the manual recovery steps listed in this issue:

https://github.com/MicrosoftDocs/live-share/issues/180#issuecomment-6040741

[2020-04-21 17:03] SowingSadness opened #3428 "allowGuestTaskControl do not allow tslint to execute "fix all quote mark" action"
Issue Type: <b>Bug</b>

tslint.json
[code]

file.ts:
[code]

click "Fix all quotermark"

Extension version: 1.0.2000
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E3-1240 V2 @ 3.40GHz (8 x 3403)|
|GPU Status|2d_canvas

[2020-04-21 17:03] jramsay commented on #3419
@DeepakM02: Thanks for reaching out. It looks like you encountered a desync issue - is that correct? Can you provide us with details about the issue you encountered? What were you doing when you encountered the desync? How often have you encountered desyncs?
Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette

[2020-04-21 17:09] jramsay commented on #3418
@refavelar: Thanks for filing this issue. Are you still hitting this problem? If so, can you provide a few more details on how the sign in is failing.  How do you initiate the sign in? Are you trying to use Github or MS credentials to authenticate. What prompts/popups are you seeing? Are you redirected to a browser and then back to VS Code?

[2020-04-21 17:11] cholman commented on #180
Reinstalling doesn't fix my issue, it always gives corrupt error. The latest version I have successfully installed is 1.0.1510 and on that version I've only been able to host, but not join a session.

[2020-04-21 17:16] jramsay commented on #3417
@rafavelar: Thanks for filing this issue! I notice you also filed another about not being able to sign in to Live Share. Was the inability to start a session related to not being able to sign in? If so, I'll close this out and we can continue the investigation on your other item. If not, can you provide us with more info on the sharing error you encountered after signing in?

[2020-04-21 17:17] janosh commented on #3421
@jramsay Thanks for the quick response. Just tried to reproduce the issue today and now everything seems to be working. Will reopen if it reappears.

[2020-04-21 17:19] jramsay commented on #3414
@halfnibble: thanks for filing this issue!
@IlyaBiryukov: are this display issues known or expected in certain scenarios?

[2020-04-21 17:26] jramsay commented on #3413
@mlk5060: thanks for filing this issue! We're currently investigating a few desync issues and the rename scenario is often the culprit. If you have consistent repro steps please do let use know as these desync issues can be hard to reproduce. Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shif

[2020-04-21 17:31] jramsay commented on #3412
@x30n: thanks for filing this issue! I'll create a bug and have our test team try to reproduce these problems. I think they might be specific to Python. Are you also hitting these issue when debugging in other languages?

[2020-04-21 17:41] rpherbig opened #3429 "Desync detected"
**Product and Version** [VS/VSCode]: VSCode 1.44.2
**OS Version** [macOS/Windows/Linux]: Windows 10
**Live Share Extension Version**: 1.0.2000
**Target Platform or Language** [e.g. Node.js]: Java

**What were you doing when you encountered the desync?**

I (participant, non-host) was typing.

**How often have you encountered desyncs?**

 This is my first time.

[2020-04-21 17:42] jramsay commented on #3398
@steventouba: Thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-04-21 17:44] jramsay commented on #3396
@SpacewormSera: Thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. Your logs may also provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-04-21 17:45] jramsay commented on #3394
@tacascer: Thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. Your logs may also provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue

[2020-04-21 17:46] jramsay commented on #3397
@Zinfira: Thanks for reaching out! Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-04-21 17:51] jramsay commented on #3402
@cruscio: thanks for filing this issue!

@IlyaBiryukov: is this known?

[2020-04-21 17:56] jramsay commented on #3404
@Mirko-von-Leipzig: thanks for the comment! I know the Live Share Team has discussed adding this capability but I don't believe it has been implemented yet. I'm marking this as a feature-request so that our team can assess the priority in feature planning.

[2020-04-21 18:29] jramsay commented on #3429
@rpherbig: Thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-04-21 18:31] rpherbig commented on #3429
@jramsay do the logs contain any of the code we were writing?

[2020-04-21 18:50] jramsay commented on #3400
@eluchsinger: thanks for the feedback! We're currently working on a process to make updating the changelog more seamless.  I've tagged this with product-feedback and will keep it open until we implement the new process.

[2020-04-21 20:20] IlyaBiryukov commented on #3422
Thanks for reporting this issue and your thorough analysis! Indeed, we do not filter out ESC-sequences that we broadcast to session participants, and their terminal clients can respond to them, resulting in multiple responses coming back to the host terminal.

To set up the expectations, we may only get to fixing this issue in a month or later.

[2020-04-21 20:21] moracabanas commented on #1450
Same issue if I select a python interpreter on live share, VSCode write a config line on .vssettings so my friend's interpreter config is messed.
We don't know how to setup a success local running on live share. If I try to run a friend's code my terminal tries to open his file route on my machine so it doesn't exist at all.
Any workarround for live share workflow is appreciated. We only can write

[2020-04-21 20:24] IlyaBiryukov commented on #3414
It's expected that the terminal may not take the whole area on the terminal window on your client. The reason is that we have to use the minimum terminal dimensions across all the participants. If your guest has smaller terminal window, you'll see shared terminal only take some part of your VSCode terminal panel. We do this because terminal only has one size, and it cannot exceed the terminal rend

[2020-04-21 20:24] #3414 closed

[2020-04-21 20:26] vladd commented on #3313
I had the same problem recently. It seems that the previous version of the extension didn't uninstall cleanly: the extension was reported as not installed, but an attempt to install produced an error like above. I've manually removed C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\Common7\IDE\Extensions\Microsoft\LiveShare folder, and the installation worked.

[2020-04-21 20:27] IlyaBiryukov commented on #3402
Not known. It's a new bug.

[2020-04-22 00:57] fubaduba commented on #3077
What's the status on this? @jramsay

[2020-04-22 01:01] fubaduba commented on #3216
@BrunoGuardia do we have an update on this issue?

[2020-04-22 02:32] skyfaller commented on #180
Ran into this problem today on my Pinebook Pro with the Headmelted build:
[code]
What I have installed is:
[code]

[2020-04-22 14:06] anywhereiromy opened #3430 "Desync using liveshare"
Product and Version [VS/VSCode]: VsCode 1.44.2
OS Version [macOS/Windows/Linux]: Windows 10 Pro version 1909
Live Share Extension Version: 1.0.2104
Target Platform or Language [e.g. Node.js]:  Node.js

**What were you doing when you encountered the desync?**
WFH on liveshare with a colleague
**How often have you encountered desyncs?**
Average 3 times a day livesharing over 8-9 hour periods

[2020-04-22 16:08] dankelley2 commented on #341
+1 for an on-prem solution. Our windows based Dev team would love to use this but cannot have offsite authentication.

[2020-04-22 16:10] cyberbiont commented on #3385
@jramsay Thanks for looking into this!
Still relevant for me with version 1.0.2000.
Here's a screenshot
![Clipboard-20200422](https://user-images.githubusercontent.com/59398323/80005915-e5186f00-84cc-11ea-82ca-854fb770943e.jpg)

Before making this screenshot I clicked on my name in participants list and chose Make Read/Write.
As you see, my name still shows (Read-only), though context menu correct

[2020-04-22 18:20] ShadSterling opened #3431 "Can't start a session because I'm already in an invisible session?"
Issue Type: <b>Bug</b>

I don't know if I can reliably reproduce this, the session details pane only shows the join and start items not anything about a current session, but trying to start a session fails with:
 Starting collaboration session: Already connected to a workspace.

Extension version: 1.0.2000
VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:34:57.

[2020-04-23 01:58] wirelessed opened #3432 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|19.4.0|

[2020-04-23 02:00] wirelessed commented on #3432
Managed to solve it by downloading the Live share audio extension. There wasn't a prompt to do it just now.

[2020-04-23 02:24] angelkurten opened #3433 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
[log.zip](https://github.com/MicrosoftDocs/live-share/files/4519879/log.zip)

Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. Start audio call

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-04-23 07:46] fredrikaverpil commented on #180
I was hit by this today and re-installing live share does not help.

Full log:

[code]

[code]

[2020-04-23 08:53] Raju opened #3434 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. start/join live share
2. start audio call

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.45.0-insider|
|**platformName**|Linux|
|**platformVersion**|5.4.0-26-generic|

[2020-04-23 08:54] VarshaRaniN opened #3435 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. start/join live share
2. start audio call

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Linux|
|**platformVersion**|5.4.0-26-generic|

[2020-04-23 09:26] anatolyburakov commented on #3136
Any movement expected on this?

[2020-04-23 09:28] Talon-Marathon opened #3436 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
1. Press F1 (or Ctrl-Shift-P), type "export logs" and run the "Live Share: Export Logs" command.
2. Drag and drop the zip to the issue on this screen and wait for it to upload before creating the issue.
For feature requests, please include enough of this same info so we know if the request is tool or language/platform specific.-->

Error:
HTTPS request failed for SkypeToken: Parse Error: JS Except

[2020-04-23 09:31] benjie opened #3437 "Cannot join, share or sign in"
**Describe what happened:** Live Share has been working for me for months until yesterday where it stopped working (the icon doesn't appear in the bar, I cannot join or host sessions, I cannot trigger login with browser via command palette). I tried uninstalling and reinstalling (multiple times) as suggested in other issues, but no luck.

**What was your system configuration?**
*Product and Versio

[2020-04-23 10:08] kaiser-ren opened #3438 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.1|
|**platformName**|MacOS|
|**platformVersion**|19.4.0|

[2020-04-23 10:28] thisistaimur opened #3439 "Problem with sync"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-23 10:44] CelsoSantos opened #3440 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|19.4.0|

[2020-04-23 11:03] sankalpreddy1998 opened #3441 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-23 11:15] v-jajach opened #3442 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
[log.zip](https://github.com/MicrosoftDocs/live-share/files/4522079/log.zip)

Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-23 12:24] cherishsantosh opened #3443 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. Organiser share link (collaborative work) with participant.
<img width="406" alt="Screenshot 2020-04-23 at 6 00 28 PM" src="https://user-images.githubusercontent.com/1272361/80099783-a6e28480-858c-11ea-9c68-9125b75f2907.png">

2. Messages popups to join meeting, when click on accept button shows error.
<i

[2020-04-23 12:27] minhthiet14b opened #3444 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-23 12:28] minhthiet14b opened #3445 "Thiet"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.
2.

[2020-04-23 12:28] minhthiet14b commented on #3445
thiet

[2020-04-23 12:31] letranhuudanh0030 opened #3446 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-04-23 13:46] arielgabizon opened #3447 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. In liveshare press "Start Audio Call"

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.43.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-04-23 13:54] ShadSterling opened #3448 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. Restart VS Code because it won't start a live share session (#3431)
2. Start a new live share session
3. Try to start an Audio Call within the new session

[Live Share Logs.zip](https://github.com/MicrosoftDocs/live-share/files/4522886/Live.Share.Logs.zip)

||Version Data|
|-:|:-|
|**extensionName**|VSLS-

[2020-04-23 15:02] daytonellwanger commented on #3437
Hey @benjie , sorry to hear, and thanks for the detailed description of the issue.

As we take a closer look at what's going on, here's a quick hack for how you may unblock yourself (assuming this break is due to a recent Live Share change):

From the extensions pane, right-click on the Live Share extension and select "Install another version" and go back to one that was previously working for you

[2020-04-23 15:02] stbazsa opened #3449 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.Fresh live-share install
2.Fresh whiteboard install
3.Start share session with github account
4.Start audio [call]

[LiveshareExportlogs.zip](https://github.com/MicrosoftDocs/live-share/files/4523325/LiveshareExportlogs.zip)

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.

[2020-04-23 15:31] jramsay commented on #3432
@wirelessed : thanks for reporting this issue! We have a fix that will be released shortly. I'll resolve this issue when it is available.

[2020-04-23 15:36] jramsay commented on #3433
@angelkurten: thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:36] #3433 closed

[2020-04-23 15:37] jramsay commented on #3434
@Raju: thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:37] #3434 closed

[2020-04-23 15:37] Xenon4416 opened #3450 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-23 15:37] jramsay commented on #3435
@VarshaRaniN : thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:37] #3435 closed

[2020-04-23 15:37] jramsay commented on #3436
@Talon-Marathon : thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:37] #3436 closed

[2020-04-23 15:38] jramsay commented on #3438
@kaiser-ren : thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:38] #3438 closed

[2020-04-23 15:38] jramsay commented on #3440
@CelsoSantos : thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:38] #3440 closed

[2020-04-23 15:39] jramsay commented on #3441
@sankalpreddy1998 : thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:39] #3441 closed

[2020-04-23 15:39] jramsay commented on #3442
@v-jajach: thanks for reporting this issue! We have a fix that will be released shortly. I'm resolving this issue as a duplicate of #3432 to consolidate the communication.

[2020-04-23 15:39] #3442 closed

[2020-04-23 15:57] mfulton26 opened #3451 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
[audio-does-not-start.zip](https://github.com/MicrosoftDocs/live-share/files/4523670/audio-does-not-start.zip)

Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1. Start a Live Share session
2. Start or Join Audio Call

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|

[2020-04-23 16:00] jramsay commented on #3432
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:00] #3432 closed

[2020-04-23 16:01] jramsay commented on #3443
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:01] #3443 closed

[2020-04-23 16:01] jramsay commented on #3444
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:01] #3444 closed

[2020-04-23 16:01] jramsay commented on #3446
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:01] #3446 closed

[2020-04-23 16:02] jramsay commented on #3447
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:02] #3447 closed

[2020-04-23 16:02] jramsay commented on #3448
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:02] #3448 closed

[2020-04-23 16:02] jramsay commented on #3449
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:02] #3449 closed

[2020-04-23 16:02] jramsay commented on #3450
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:02] #3450 closed

[2020-04-23 16:03] jramsay commented on #3451
We released a fix for this issue. Now available in the Marketplace _Live Share Audio_ v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-23 16:03] #3451 closed

[2020-04-23 16:06] jramsay commented on #3430
@anywhereiromy: Thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. CAn you tell us what were you doing when you encountered the desync? Also how often have you encountered desyncs? Your logs may provide us with helpful information. You can access them via the Live Share:

[2020-04-23 16:15] Xenon4416 commented on #3450
it working now, thanks for the fix!

[2020-04-23 16:21] ericis commented on #882
Our company cannot use this extension pack until security and privacy issues are resolved in the extension dependencies; specifically the Slack application integration.

For one example, see: https://github.com/vsls-contrib/chat/issues/443#issue-509326053

[2020-04-23 18:37] BaronWhite opened #3452 "Files do not load/sync properly"
Issue Type: <b>Bug</b>

Interesting bug, when rejoining a session some files do not sync up.
I've tried leaving the session, restarting Code and rejoining, restarting pc.... and still a few scripts either load only part of the file (eg. the first 20 odd lines, which don't actually match the host's file), or appear to be old versions when the session was last connected.

One thing that works is for

[2020-04-23 18:43] greatday4april commented on #3412
this issue happen to me for ruby as well

[2020-04-23 19:50] daltschu22 commented on #3376
Hi, this is also quite an issue for us aswell. The suggested fix also does not work, resizing both sides still shows only ~4 lines on the guests side.

Extension Version: v1.0.2048
VSCode Version: 1.44.2
OS Version: Windows 10 (Version 2004)

[2020-04-23 19:53] adammw opened #3453 "Adding folders to existing workspaces are not shared"
**Describe what happened:**
Adding folders to existing workspaces are not shared, and there does not appear to be any commands to tell Live Share to start sharing the file/folder. Only way to get them working is to stop and restart the live share session.

**What was your system configuration?**
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z
Electro

[2020-04-23 20:22] nickolasclarke opened #3454 "Session crashes when using python interactive window"
Issue Type: <b>Bug</b>

1. Start a live share session.
2. Connect a guest (vscode online or with native client), which does not have the python extention installed.
3. Attempt to load the interactive window.
4. Session crashes and is ended for host and guest.

Extension version: 1.0.2048
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: W

[2020-04-23 20:55] KnorrAlexander opened #3455 "Contact E-Mail is not primary"
Issue Type: <b>Feature Request</b>

Hovering over my name in contacts shows a non-primary private E-Mail address from my GitHub account. It would be nice to use the primary one if possible or let us change which one gets displayed.

Extension version: 1.0.2048
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-23 22:24] cyberbiont commented on #3385
It persists  in 1.0.2048

[2020-04-23 23:57] tayarndt opened #3456 "screen readers should announce where collaborators are editing like in google docs"
Issue Type: <b>Feature Request</b>

When using live share and   collaborating on  a file it would be nice if users who use screen readers could here announcements  of where the other collaborators  are in relation to them. This helps to make sure that the users both don’t edit the same line at once. This behavior is present in google docks.
The behavior now is when using live share  you don’t here

[2020-04-24 09:37] NekoBeta opened #3457 "Sign in error"
Issue Type: <b>Bug</b>

It keeps saying The user code is invalid or expired, I don´'t know what to do, I can't sign in in any way!!

Extension version: 1.0.2048
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU @

[2020-04-24 10:49] Zver64 commented on #3391
I am having a similar issue with signing in. it keeps asking me for signing in every time I try to join a collaboration session.

[2020-04-24 10:55] Zver64 commented on #3391
It seems like when I choose "leave collaboration session" it also logs me out from my acccount...

[2020-04-24 14:20] stbazsa commented on #3449
Now the audio works fine, thank you very much!

[2020-04-24 14:29] Uirado commented on #180
I use Linux Mint, with two different users that share vscode installation, but with separated configs and extensions.
One user have live share extension installed and working. This was the first installation of live share in this machine.
When I tried to install live share on the other user I faced with this corruption error.
It was still working on the previous user though.

Tried all the suggest

[2020-04-24 14:38] rodsscg opened #3458 "Activating extension fails on Ubuntu 18.04.4"
Issue Type: <b>Bug</b>

Cannot activate the extension, it returns this error:

`Activating extension 'ms-vsliveshare.vsliveshare' failed: A system error occurred: uv_os_get_passwd returned ENOENT (no such file or directory).
_logMessageInConsole @ /snap/code/31/usr/share/code/resources/app/out/vs/workbench/workbench.desktop.main.js:3826`

System Info:
Ubuntu 18.04.4

Extension version: 1.0.2048
VS

[2020-04-24 14:48] bkamapantula opened #3459 "Reconnection prompted on Live Share"
**Product and Version** [VS/VSCode]: 1.44.2
**OS Version** [macOS/Windows/Linux]: Ubuntu 18.04
**Live Share Extension Version**: 0.3.4
**Target Platform or Language** [e.g. Node.js]: 13.3.0

**What were you doing when you encountered the desync?**

observing a remote session.

**How often have you encountered desyncs?**

this is the first time.

[2020-04-24 16:17] alsimist-dev commented on #1450
I can confirm this. Virtual environments do not seem to replicate for guests using the latest live share extension (at least on MacOS host). I can help debug the problem if needed.

[2020-04-24 18:52] mlacouture commented on #3342
this has been fixed.

[2020-04-24 18:52] #3342 closed

[2020-04-24 19:43] Ryan-Palmer commented on #33
I now have the test runner available when I am a guest (after opting in to Insiders track). There is a weird bug though. Whilst I can always see the test list and the output, I can only run them once. After that, the Run buttons stay greyed out. The host can still run them.

[2020-04-25 08:24] olesho commented on #2673
Same issue on Ubuntu 18.04.4 VS Code 1.44.2

[2020-04-25 10:25] sjdv1982 opened #3460 "In a remoteSSH LiveShare read/write terminal, terminal control applications are blacked out for the guest"
**Describe what happened:**
1. The host opened an SSH remote VSCode session via Remote Explorer.

2. The remote session was LiveShared with a guest.

3. A terminal was opened and shared in read/write mode.

4. A terminal control applications `vi`, `ipython` and `jupyter console` were opened in the shared terminal. In each case:
- For the guest, the application terminal was black. For a a few milli

[2020-04-25 16:48] aleksandrs-ledovskis opened #3461 "Raw escape sequences mess up Ruby 2.7 REPL"
**Describe what happened:**

Running CRuby v2.7.0 REPL in **Read/write** terminal of Live Share session is problematic due to large number of raw ANSI VT100 escape sequences polluting readline'ish interface. A workaround exists, which is described below.

**What was your system configuration?**
*Product and Version*: Visual Studio Code, version 1.44.2
*OS Version*: macOS 10.13.6
*Live Share Extens

[2020-04-26 04:11] h3ct0rjs commented on #2916
Hi, I'm experimenting the same issue. Currently I have  running debian 10  wsl version 2, when I open the vscode session using the wsl connect option it just keeps waiting for the authentication to be completed, After this,  it didn't open the option to do the live share.

If  you need more information, I'll be glad to help in order to solve this issue.

Thanks in advance,
Sincerely,
Hector F,
Col

[2020-04-26 07:42] blackslayer05 opened #3462 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-26 07:50] blackslayer05 opened #3463 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare-audio`
- Extension Version: `0.1.85`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-26 07:52] blackslayer05 commented on #3463
where I have to paste it

[2020-04-26 14:56] kevin-guertin commented on #180
**Step 4** is what finally worked for me in Linux. You'll find those folders under `~/.config/Code/User/globalStorage.` After uninstalling the extensions, removing the folders under `.vscode/extensions`, I simply deleted the two folders in that `globalStorage` folder and re-installed the extensions. Seems fine now.  Thanks!

[2020-04-26 15:28] liknesh98 opened #3464 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.84|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-04-26 15:29] liknesh98 commented on #3464
[error.zip](https://github.com/MicrosoftDocs/live-share/files/4535683/error.zip)

[2020-04-26 18:27] nikensss commented on #180
As a Mac user, step 4 was also key (I guess combined together with step 3). The 'AppData' equivalent for macOS Catalina is:

And the equivalent path of step 2 is a hidden folder under

To see hidden folders, press cmd + shift + . (the 'dot' key).

[2020-04-26 23:12] Christelle-Joseph commented on #2408
Worked for me as well

[2020-04-27 06:05] philippseith commented on #2673
Same as https://github.com/MicrosoftDocs/live-share/issues/2673?

[2020-04-27 10:29] benjie commented on #3437
Thanks @daytonellwanger. I tried that but alas it didn't fix anything; which made me suspect something else was at play.

Disappointed to say that I didn't get to the bottom of it (even being careful to kill any straggling processes/etc), but after a reboot it's working again (Live Share 1.0.2048). Maybe there was some other process I never tracked down, or something in tmpfs was corrupted and cle

[2020-04-27 10:29] #3437 closed

[2020-04-27 14:15] julioprotzek opened #3465 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.85|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|19.4.0|

[2020-04-27 14:44] olesho commented on #2673
Yes. And the same issue when I pass code manually.

[2020-04-27 16:04] jramsay commented on #3439
@thisistaimur: thanks for reaching out! We're actively investigating desync issues. As there are a few ways you can get into a desync any additional info you can provide is greatly appreciated. Can you tell us what were you doing when you encountered the desync? Also how often have you encountered desyncs? Your logs may provide us with helpful information. You can access them via the Live Share: E

[2020-04-27 16:05] jramsay commented on #3452
@BaronWhite: thanks for reaching out! We're actively investigating desync issues. Are you able to repro this every time? Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-04-27 16:08] jramsay commented on #3464
@liknesg98: We released a fix for this issue. Now available in the Marketplace Live Share Audio v 0.1.85. Please let us know if you're still hitting this after an update. Thanks for the help!

[2020-04-27 16:08] #3464 closed

[2020-04-27 16:09] jramsay commented on #3462
I'm going to close this out as I see a duplicate issue from you. We can continue the investigation there. Thanks!

[2020-04-27 16:09] #3462 closed

[2020-04-27 16:19] jramsay commented on #3463
It looks like you're having trouble with the Live Share audio extension. Can you give us more details about your scenario and the error you encountered? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-04-27 16:20] jramsay commented on #3465
@julioprotzek: It looks like you're having trouble with the Live Share audio extension. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-04-27 16:22] jramsay commented on #3461
@aleksandrs-ledovskis: thanks for filing this issue!

Assigning to @IlyaBiryukov for further investigation.

[2020-04-27 16:24] jramsay commented on #3460
@sjdv1982: thanks for filing this issue!

Assigning to @IlyaBiryukov for further investigation

[2020-04-27 16:25] jramsay commented on #3459
@bkamapantula : thanks for reaching out! We're actively investigating desync issues. Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-04-27 16:28] jramsay commented on #3456
@tayarndt: thanks for the feedback!

Assigning to @fubaduba for feature request planning.

[2020-04-27 16:30] jramsay commented on #3455
@KnorrAlexander: thanks for the feedback!
Assigning to @fubaduba for feature request planning.

[2020-04-27 16:34] jramsay commented on #3453
@adammw: thanks for filing this issue! I believe we have a task filed for this. Adding @fubaduba to assess priority in road map planning.

[2020-04-27 16:42] jramsay commented on #3454
@nickolasclarke: thanks for filing this issue! We've had a few people mention they've ben having trouble specifically with Python debugging in Live Share. I don't think it has yet been through a test pass with the Python interactive window. I've filed an issue for our test team to do a full pass on this to uncover the issues so that we can prioritize the fixes.

[2020-04-27 16:58] ScottFred opened #3466 "How to Stop a Live Session"
There should be clear instructions on how to stop a Live Session.  Without it, it's not entirely clear from a privacy and security perspective that people are not able to see your VS Code session any more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8906861-1357-0292-ce64-9a8db681a98c
* Version Independent ID: 096e

[2020-04-27 16:59] jramsay commented on #3457
@NekoBeta: Sorry to hear you're experiencing sign in issues! Can you please tell us what browser you're using? Have you tried using another browser? Are you attempting to use the manual sign in in VS Code? If not, you can do this by pasting the user code from the browser to:

VS Code > Command Palette > Live Share: Sign In With User Code

Also, your logs may provide us with helpful information. Yo

[2020-04-27 17:20] IlyaBiryukov commented on #3461
Live Share doesn't handle any ANSI-sequences the shared terminal may produce, we just broadcast them across the collaboration session participants. If ANSI-sequences rendering becomes broken, the only easy solution I see is to disable them in the shared terminal completely, e.g. by not setting $TERM environment variable. This will beat the purpose of syntax highlighting though, and the customer al

[2020-04-27 17:21] aleksandrs-ledovskis commented on #3461
Having looked at this issue another time, I maybe is a dupe of https://github.com/MicrosoftDocs/live-share/issues/3422

[2020-04-27 17:22] daytonellwanger commented on #3466
@fubaduba FYI.

We do have an indicator in the status bar that should make it clear whether or not you're actively sharing.

Sharing:

![image](https://user-images.githubusercontent.com/6383490/80401076-bfeb7e00-8889-11ea-8303-18b2d235a2d5.png)

Not sharing:

![image](https://user-images.githubusercontent.com/6383490/80401204-f45f3a00-8889-11ea-9ba0-e43468ea9165.png)

We also have this "stop shari

[2020-04-27 17:27] IlyaBiryukov commented on #3460
It must be because of some ANSI-sequences that a guest terminal renderer sends to the terminal process. For read-only terminals we ignore all input from the guests. If we ignore all ANSI-sequences from the guest terminals, this should fix it, and still let guest users participate in the terminals.

I'll have time to get to this issue in a several weeks or later.

[2020-04-27 17:36] sjdv1982 commented on #3460
@IlyaBiryukov Thank you for looking into it. LiveShare has been great for us already, but shared IPython consoles would be ideal for remote collaboration. We are really looking forward to this fix!

[2020-04-27 17:41] jramsay commented on #3458
@rodsscg: Thanks for filing this issue! I'm opening a bug to fix the issue. It looks like it might be due to the account you're running under not having an entry for os.userInfo().  In the interim if you're able to run under a different account that supports this it might resolve your issue. If you're able to try that out and confirm I'll update the notes in the bug.

[2020-04-27 19:38] lucasjorge944 opened #3467 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare`
- Extension Version: `1.0.2048`
- OS Version: `Linux x64 5.3.0-46-generic`
- VSCode version: `1.44.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-04-27 19:44] daytonellwanger commented on #3467
Hey @lucasjorge944 , could you provide some more details about the issue?

[2020-04-27 20:20] addMitt commented on #3383
Same problem here. Documented well already. Pretty annoying.

[2020-04-27 20:44] daytonellwanger commented on #3383
I'm guessing the issue is that there's both the local language server running (which should be disabled) and the Live Share "remote" language server running, both providing the same info.

@aletsdelarosa , could you take a look?

[2020-04-27 22:40] addMitt commented on #3320
Buddy and I ran into this a couple times today. The behavior is erratic and inconsistent. I, the guest, in one instance, would see a random portion of 5-6 lines of code get deleted. When I did an Undo, and then Saved, a portion of code a few lines down further would then get deleted. I hit Undo, did a select all, closed the file, re-opened it, pasted, and saved, and it seemed to go away.

In anoth

[2020-04-27 23:21] DanJ210 commented on #180
@avanderhoorn What if my issue is with Visual Studio and I haven't been able to update the extension in a couple weeks? And I can't uninstall it, only disable or revert it which reverting also fails, not sure what it does. Here's the log file when updating fails.

[dd_VSIXInstaller_20200427191820_0694.log](https://github.com/MicrosoftDocs/live-share/files/4542478/dd_VSIXInstaller_20200427191820_06

[2020-04-28 08:11] mcser opened #3468 "Code Share desync when changing git branches"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Ubuntu Linux 18.04
**Live Share Extension Version**:  1.0.2048
**Target Platform or Language** [e.g. Node.js]: Angular

**What were you doing when you encountered the desync?**
Remote host was changing git branches (about 3 branch changes within a minute)

**How often have you encountered desyncs?**
Once

[2020-04-28 13:24] NekoBeta commented on #3457
I finally did, I had to change my default browser to Opera, and it worked!

[2020-04-28 14:32] daytonellwanger commented on #180
Hey @DanJ210 , it looks like something in your Visual Studio setup must be broken (the error in that log is due to trying to parse invalid JSON it looks like!) I'd recommend you go through Visual Studio repair steps. I suspect this would impact things besides just your Live Share install as well.

[2020-04-28 14:34] daytonellwanger commented on #3468
Thanks for the helpful info. This is something we're currently prioritizing fixing.

It'd be amazing if you had a repro of the issue, but I understand that's a lot to ask for. Your info is already very helpful, so thanks!

[2020-04-28 15:05] mousman opened #3469 "Can't sign-in"
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4546679/logs.zip)

**Product and Version** [VS/VSCode]: VSCode 1.44.2
**OS Version** [macOS/Windows]: Linux ubuntu x64 5.3.0.46-generic
**Live Share Extension Version**: v1.0.2048
**Target Platform or Language** [e.g. Node.js]: Javascrpit

**Steps to Reproduce / Scenario:**

1.Click a LiveShare link
2.Click sign in and choose either Micr

[2020-04-28 16:28] jramsay commented on #3457
@NekoBeta: glad to hear you were able to resolve the issue! Can you tell us what browser/version you were using when it didn't work?

[2020-04-28 16:41] NekoBeta commented on #3457
I was using Mozilla Firefox 75.0 (64-bit) when it didn't work. Then I changed my default browser on Windows 10 to Opera Version 60.0.3 and it worked.

[2020-04-28 16:44] joao-rafael commented on #89
Also, same issue on Ubuntu 20.04 with VsCode, Signing in is visible but it appears to be an infinity loop.

[2020-04-28 17:17] jramsay commented on #3457
Thanks for the info!

[2020-04-28 17:18] #3457 closed

[2020-04-28 17:20] jramsay commented on #3170
@NekoBeta also hit this issue and was able to resolve by setting another browser as their default:

"I was using Mozilla Firefox 75.0 (64-bit) when it didn't work. Then I changed my default browser on Windows 10 to Opera Version 60.0.3 and it worked"

[2020-04-28 17:57] AnilReddy231 opened #3470 "It keeps prompting for login"
Issue Type: <b>Bug</b>

I have logged in mith my microsoft and github accounts for 40-50 times. But it still asks me to login for joining a collaboration session

Extension version: 1.0.2048
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.0.0

[2020-04-28 17:59] mcser commented on #3468
Hi,

I'm not quite sure what you are expecting from me as this is an issue that doesn't exactly have to do with code I'm running. Unfortunately I'm also not able to share the code I'm working on as it is probably protected by some kind of license.

However I can give you steps to reproduce the issue locally:

1. I open two separate VSCode windows.
2. I start collaboration session on one window and

[2020-04-28 18:03] mcser commented on #3468
Also I forgot to mention, I was in said collaboration session where this first occured earlier together with about 5 or 6 other people, who were also all desynced.

[2020-04-28 18:38] #3470 closed

[2020-04-28 21:19] anywhereiromy opened #3471 "Sync issue with liveshare"
Product and Version [VS/VSCode]: VsCode 1.44.2
OS Version [macOS/Windows/Linux]: Windows 10 Pro version 1909
Live Share Extension Version: 1.0.2104
Target Platform or Language [e.g. Node.js]:

**What were you doing when you encountered the desync?**
2 colleagues WFH having been on liveshare for a few hours already that day.

**How often have you encountered desyncs?**
At least 2 times a day (8 hou

[2020-04-28 21:28] geraldfullam commented on #3012
Myself and dozens of coworkers have been blocked by this for several weeks now. Most of us are on macOS Mojave 10.14.6 — some are on Catalina — running VS Code 1.44.2.

We are behind a corporate proxy and we were unable to fix the problem with any adjustments to our network settings or proxy configs, but running the suggested command provided an immediate fix.

Thank you!

How long will this legac

[2020-04-28 21:32] oleks12345 commented on #89
I fixed it by downloading codium, starting live share, it said that I'm missing dependencies, it prompted terminal, with script to download it :) after downloading, it work in vs code

[2020-04-28 21:36] fubaduba commented on #3170
@BrunoGuardia is there an update on this issue?

[2020-04-28 21:53] mfulton26 commented on #3375
I was just about to report almost the same thing. In my case, I have my work email address associated with the GitHub organization we use for work. If I am participating in a Live Share for a repository in that org it would be great to default to using my work email address, otherwise it could use my primary email address (or ask me).

[2020-04-28 22:07] james-lawrence commented on #2054
I can confirm reverting to 1.43 from 1.44 fixes the issue. @sebastianst hit.

[2020-04-28 22:31] aletsdelarosa commented on #3383
Hello,
I assume that the person that joins the session is the one that is seeing the duplicates, right?

[2020-04-28 22:49] BrunoGuardia commented on #3170
We noticed this may happen when user credentials are cached. So another possibility is that by changing to a different browser, credentials are clean and sign in succeeds.

We are working on some auth improvements, I will make sure we include code to ensure dirty credentials don't prevent successful sign in.

[2020-04-29 02:42] daytonellwanger commented on #3468
Thank you so much! This is very very helpful. I'll reach back out if it looks like I'll need more info, but I'll start by trying to reproduce the issue with these steps.

[2020-04-29 02:51] daytonellwanger commented on #89
Hi all, first off, sorry for the slow response time!

Second, it'd be very helpful if you could attach your logs to this issue (from the command palette - ctrl + shift + p "Live Share: Export Logs") so we can see where things are getting hung up. Thanks in advance!

[2020-04-29 03:03] daytonellwanger commented on #3470
Hey @AnilReddy231 , what did you end up doing to resolve this?

[2020-04-29 03:04] daytonellwanger commented on #3471
Hey @anywhereiromy , it sounds like you hit sync issues after being in a Live Share session for a long time (like > 1 hour)?

[2020-04-29 05:02] anywhereiromy commented on #3471
Yep

On 29 Apr 2020 04:05, Dayton Ellwanger <notifications@github.com> wrote:

Hey @anywhereiromy<https://github.com/anywhereiromy> , it sounds like you hit sync issues after being in a Live Share session for a long time (like > 1 hour)?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/live-share/issues/3471#issu

[2020-04-29 06:51] torquemad commented on #2054
Also getting this issue.

[2020-04-29 10:45] sebastianst commented on #2054
@jramsay could you please reopen or should we open a new issue?

[2020-04-29 13:37] geraldfullam commented on #2673
The suggested fix in issue [#3012: Stuck on sign in after signing in with Microsoft or GitHub account.](https://github.com/MicrosoftDocs/live-share/issues/3012#issuecomment-613482709) worked for me.

Caveat: I also had to remove a VS URL from my proxy bypass config (within an application external to VS code) that I had added during earlier troubleshooting: `vsengsaas.visualstudio.com`. Most folks

[2020-04-29 13:41] yc9274 commented on #3383
Yes

[2020-04-29 14:13] brunoonurb opened #3472 "Nao esta conectando atomaticamente"
Issue Type: <b>Bug</b>

ao tentar abrir um link de sessao nao esta abrindo

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz (4 x 3193)|
|GPU Status|2d_canvas: enabled<br>fl

[2020-04-29 14:19] scott-vsi opened #3473 "Ctrl-C does not work in shared terminal"
**Describe what happened:**
When using the [Remote SSH Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) and [Live Share Extension](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack), if I open a shared terminal, SIGINT and SIGQUIT traps that do nothing are set for some reason.

[code]

This prevents `Ctrl-C` (and `Ctrl-\`

[2020-04-29 15:15] daytonellwanger commented on #2054
I just tried to repro - simply attempting to join a session is the repro, right? - on 1.44.2 and am unable to.

Just to check, the error message you're seeing is "Joining collaboration session: [ms-vsliveshare.vsliveshare]: Proposed API is only available when running out of dev or with the following command line switch: --enable-proposed-api ms-vsliveshare.vsliveshare"?

Could one of you hitting t

[2020-04-29 15:17] daytonellwanger commented on #3472
Could you provide some repro steps for the issue?

[2020-04-29 17:03] barisere commented on #89
I have the same problem. I am running VS Code on openSUSE Tumbleweed. The browser window pops up and I grant access in the OAuth flow. The OAuth redirect opens a link in VS Code, but the sign in does not complete.
Here are the exported logs: [live_share_logs.zip](https://github.com/MicrosoftDocs/live-share/files/4553142/ls-logs.zip)

[2020-04-29 17:13] barisere commented on #3469
I am experiencing this problem too. I commented [this related issue](https://github.com/MicrosoftDocs/live-share/issues/89).

[2020-04-29 17:22] yc9274 commented on #3383
Yes

[2020-04-29 17:57] daytonellwanger commented on #3473
@IlyaBiryukov can you have a look?

[2020-04-29 21:30] aaronjensen commented on #3275
Just came to report this, the problem we've found is with the "Auto close tags" settings. If that is enabled for your language, the host will "auto close" the tag, causing them to jump to the location where it was closed.

[2020-04-30 02:22] Jeff-Ashear opened #3474 "I have this issue when I connect to other live share sessions, and others have this issue when connecting to my session when I host."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-04-30 06:50] david4evr opened #3475 "joining a collabortion session"
Issue Type: <b>Bug</b>

not allowing me to join a collabortion session but says that download is curropted please advise i've uninstalled and installed the app, and all other steps.

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|

[2020-04-30 09:26] stregouet commented on #2054
Hi,
I'm also getting this issue. Here is logs from `live share: export logs` command
thanks for your  help :)

[liveshare-log.zip](https://github.com/MicrosoftDocs/live-share/files/4557362/liveshare-log.zip)

[2020-04-30 13:15] DasJott opened #3476 "Downloading dependencies fails on Linux"
Issue Type: <b>Bug</b>

I installed "Live Share Audio". When I started a collaborate session first time after installation, it started downloading "dependencies", for whatever that means.

My CPU fan is running high, there is no exact status nor any message about what exactly happens.
In between it failed and I had to click "Repair". Then it just started to do its strange thing again. Powering up

[2020-04-30 13:45] DasJott commented on #2783
Where would i find this directory in Linux?
I experience the same problem on Linux. It downloads for about an hour now and seems to make no progress.

[2020-04-30 16:55] robaetem commented on #3012
I'm having this error too. I use Ubuntu 20.04 and Live Share doesn't work for my and my friends.
![Screenshot from 2020-04-30 18-54-24](https://user-images.githubusercontent.com/29689561/80737670-25eb3600-8b14-11ea-9f51-9527d5ad4f48.png)

[2020-04-30 17:04] daytonellwanger commented on #2054
Are you all on a custom build of VS Code by chance?

[2020-04-30 17:06] daytonellwanger commented on #3474
This consistently happens to you? Right from the beginning of the session?

[2020-04-30 17:08] daytonellwanger commented on #3475
On the latest version of the extension, you should receive a prompt to repair the installation. Have you seen that option? @jramsay fyi

[2020-04-30 17:09] daytonellwanger commented on #3476
You're only seeing this issue with Live Share Audio? Does Live Share work fine if you uninstall the audio extension?

[2020-04-30 17:10] daytonellwanger commented on #2783
@jramsay , do you know where we keep the corresponding directory for audio?

[2020-04-30 17:11] sebastianst commented on #2054
I'm using [Code OSS on Arch Linux](https://www.archlinux.org/packages/community/x86_64/code/), if that qualifies as custom.

[2020-04-30 17:17] daytonellwanger commented on #2054
It may. Live Share uses a few proposed APIs from VS Code. The "mainstream" build of VS Code has Live Share whitelisted to allow us to use these APIs, and some open source builds don't.

One workaround is to launch VS Code with the `--enable-proposed-api` flag. Could you give that a try to see if this is the issue?

[2020-04-30 17:26] jramsay commented on #3475
@david4evr: if you don't see the _Repair_ installation notification you can run it manually as follows:

View > Command Paltette > _Live Share: Repair Installation_

[2020-04-30 17:26] danielmarin0051 commented on #3392
Same issue here

[2020-04-30 17:59] musale opened #3477 "Desyncing"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: macOS
**Live Share Extension Version**: 1.0.2104
**Target Platform or Language** [e.g. Node.js]: Python

**What were you doing when you encountered the desync?**
Writing python code

**How often have you encountered desyncs?**
2 times in a period of 3 hours

[2020-04-30 18:23] DasJott commented on #3476
Live Share itself is running just fine and I must say a huge thank you for that! :)
I wanted to try the audio extension for having everything in one place.
May I switch on some special logging, is there something?

[2020-04-30 18:29] daytonellwanger commented on #3012
Did you try the work-around noted above about using the legacy auth flow?

[2020-04-30 18:30] daytonellwanger commented on #3477
So you were in a session for >1 hour before encountering the first desync? And then encountered another shortly after?

[2020-04-30 18:41] daytonellwanger commented on #3476
@jramsay should be able to help you out. I think he's already engaged with you on a separate issue? Anyway, tagging him again just in case 😊.

[2020-04-30 19:23] jramsay commented on #3476
@DasJott: sorry to hear you're hitting an issue! We recently introduced the _Repair_ option when we detect a corrupt installation to help users in this very situation. Unfortunately it doesn't appear to have worked for you. If you have the time to help us investigate it would be greatly appreciated! Here are some things to try:

1. Manually run the Audio repair command:

View -> Command Palette ->

[2020-04-30 19:27] jramsay commented on #2783
@DasJott: Let's continue the investigation on the active issue you filed #3476

[2020-04-30 20:43] musale commented on #3477
Yes @daytonellwanger . In the >1 period it wasn't idle, we were actively working on the collaboration.

[2020-04-30 20:50] robaetem commented on #3012
I must have read over this post.
Running: `Live Share: Disable VSCode account authentication` in the command palette indeed fixed my issue.
Thanks!

[2020-04-30 21:08] ctlee commented on #3124
I had some luck getting the latest Live Share (`1.0.2104`) to work with VS Code on macOS `10.15.4`. My [logfile](https://github.com/MicrosoftDocs/live-share/files/4561209/20200430_203304_15882787840250_VSCode.log), attached, indicated there was a hash mismatch. It may have been resolved by the following steps:

1. Uninstall LiveShare extension in the VS Code application.
2. Remove folder `/Users/$

[2020-04-30 23:09] fubaduba commented on #3410
Thank you for your feedback. Sign-in automatically occurs when you try to do a first share. You can also access it using your control palette by typing 'Live Share'.

[2020-04-30 23:09] #3410 closed

[2020-04-30 23:11] fubaduba commented on #3417
Closing this issue because of lack of information. Please re-open if issue persists with more information. Thank you!

[2020-04-30 23:11] #3417 closed

[2020-05-01 01:44] deborah-ufw opened #3478 "Audio call did not work - seemed active, added people, no one mute, but no sound"
**Describe what happened:**

**System:** Macbook Pro
**VSCode:** Latest as of April 29, 2020
**OS Version:** Mac OS Catalina 10.15.3
**LiveShare:** 1.0.2104
**Language:** js

**Steps to Reproduce / Scenario:**
1. Open LiveShare extension, invite collaborator, collaborator joins and is visible
2. Click on "Audio Call", start audio call with collaborator, collaborator is visible in audio call list
3

[2020-05-01 02:36] daytonellwanger commented on #3478
Sorry you're having trouble! You've hit all the usual debugging advice I'd give you (check the hardware config is correct. Check your collaborators have the audio extension. ...). So sounds like this may be a proper bug!

@jramsay should be able to help you out.

[2020-05-01 03:36] rafavelar commented on #3417
Thank you.

I was able to use LiveView after uninstall and reinstall it again. I think it was a problem with the SO Catalina 10.15.4

[2020-05-01 04:55] xfoxfu opened #3479 "Live Share stuck in Sign In"
Issue Type: <b>Bug</b>

1. Pick 'Sign In With Browser'
2. Complete sign in with browser, redirected back to vscode
3. VSCode stuck in 'signing in'

Besides, when using User Code, there did not appear any prompts, nor the sign in completed.

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.4.0

<d

[2020-05-01 04:57] deborah-ufw commented on #3478
collaborators did have the extension :) we all were trying to mute and unmute ourselves to see if we could magically toggle it active. Thank you for the quick reply!

[2020-05-01 09:05] kevinrutherford commented on #2673
Thanks @geraldfullam that worked for me.

[2020-05-01 10:33] zersiax commented on #3456
Right now, I see two major things that can and should be improved where screenreader and collaboration is concerned. Since they both partially have to do with this issue, I am putting this feedback here. Feel free to split up into a separate issue if that is easier to manage.

First I have to agree with the OP. Right now, screen readers are not aware of where collaborators are in the document. Scr

[2020-05-01 12:53] moether commented on #2054
See also https://bugs.archlinux.org/task/66346

[2020-05-01 14:23] daytonellwanger commented on #2054
If the package maintainer insists on removing all proposed APIs from the `product.json`, your only option is to either explicitly start code with the `--enable-proposed-api` flag (maybe create a shortcut to do this automatically?) or wait for all of the proposed APIs Live Share depends on to be promoted to stable APIs (note this may never be the case for some of them, so I don't recommend this app

[2020-05-01 14:26] daytonellwanger commented on #3479
Could you try the workarounds mentioned [here](https://github.com/MicrosoftDocs/live-share/issues/3012)?

[2020-05-01 14:41] daytonellwanger commented on #3456
For the first issue, here are some thoughts:
- Announce the new document name and collaborator name anytime any collaborator changes documents. E.g. "Dayton Ellwanger is in foo.cs."
- Provide a shortcut to list the location of all collaborators. Includes file name and line number. "Dayton Ellwanger is in foo.cs, line 25. Jason Ramsay is in bar.cs, line 80."
- Provide some signal when you enter the

[2020-05-01 14:57] zersiax commented on #3456
@daytonellwanger I do believe I recognize the name, cool indeed to cross paths again :)

So ...this is actually a surprisingly tricky issue. We need to figure out a way to be clear, but not to spam the users to death. Anytime the screen reader is speaking these announcements, they might either be skipped by the user typing, or they might get in the way of actually having a user type and know what

[2020-05-01 14:59] pdibenedetto opened #3480 "Attempting to Follow Participant to the Side"
Issue Type: <b>Bug</b>

Right clicked on participant and clicked on Follow to Side and got the error.

Error: Cannot read Session ID from undefined

Extension version: 1.0.2104
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-97

[2020-05-01 15:19] daytonellwanger commented on #3456
Yes, I imagine it will require some iteration to find the balance between clarity and spam.

Ah, I do recall your rant 😄. It's actually probably what made me think of this analogy. Since we have the opportunity to "get it right" in this case, it sounds like your recommendation is:
- Announce when me and another collaborator are on the same line. Would you want the announcement to be "Dayton Ellwan

[2020-05-01 17:33] zersiax commented on #3456
To the first, I would say "Name is editing this line" or something similar.
As for implicit follow mode on the same line, yes, although there are quite a few edge cases in that scenario:
* What is announced when someone deletes a character, rather than enters it? What about an entire word? What about highlights?
* What happens when two people are on the same line, while you are as well?

etc
@dayt

[2020-05-01 18:06] daytonellwanger commented on #3456
With deletes, perhaps we just announce a delete, and then you can re-read the line contents if desired. With highlights, I imagine the desired behavior is that we read out the highlighted text. I don't know enough about ARIA to know how difficult this would be to support.

With more than one person on the same line, I think we just need to precede the above announcements with the name of the perso

[2020-05-01 20:56] AmandaLutzTO opened #3481 "Live Share Audio - can't hear collaborator"
Similar to https://github.com/MicrosoftDocs/live-share/issues/3478
Join someone else's collaboration (they start audio call), can't hear them.
I start the collaboration (and start audio call), they can't hear me.

*Product and Version*: VSC 1.44.2 2020-04-16
*OS Version*: Windows 10
*Live Share Extension Version*: 1.0.2104
*Live Share Audio Version*: 0.1.85
*Target Platform or Language*:
Version:

[2020-05-01 21:08] daytonellwanger commented on #3481
Thanks @AmandaLutzTO . Is it OK if I close this issue and we track it over at #3478?

[2020-05-02 01:50] John-Ellis opened #3482 "Desync detected overlapping cursors"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]: Ubuntu 16.04
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:Python

**What were you doing when you encountered the desync?**
My friend and I were both attempting to type at the same time with overlapping cursors.
**How often have you encountered desyncs?**
This was the first, so one in the

[2020-05-02 02:25] xfoxfu commented on #3479
OK, thanks. Things get to working.

[2020-05-02 02:25] #3479 closed

[2020-05-02 09:49] falan4j opened #3483 "Automatically Signed Out"
Issue Type: <b>Bug</b>

Whenever I try to join a live session, my Microsoft account would be automatically signed out and VS Code asked me to sign in again. After I sign in, it repeats the same process of signing me out and ask me to sign in again. After a few attempts, an alert popped out, saying that my token is expired.

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce948

[2020-05-02 13:48] varora1406 opened #3484 "Git push code from author and not participant"
Issue Type: <b>Bug</b>

Ideally, my participant submitting code should be shown in git.
Can that be possible?

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz (4 x 2808)|

[2020-05-02 15:55] talkhanz opened #3485 "Very buggy"
Issue Type: <b>Bug</b>

Liveshare is very unstable and does not work correctly start any collaboration sessions at all

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2370M CPU @ 2.40GHz (4

[2020-05-02 17:54] jsm134 opened #3486 "Disconnect from a session"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-05-03 03:35] parithon commented on #2896
@lostintangent

I still encounter this issue with my project.

![image](https://user-images.githubusercontent.com/8602418/80898100-47832380-8cb4-11ea-8c53-ff1e5a91282e.png)
![image](https://user-images.githubusercontent.com/8602418/80898108-65e91f00-8cb4-11ea-8dc8-84bb4b2d32ef.png)

[2020-05-03 05:16] jorpilo commented on #3412
Thi issue working with me on C/C++ code  and gdb debugger.

[2020-05-03 14:55] markharrisonx opened #3487 "403 Forbidden"
Issue Type: <b>Bug</b>

Get this error in VS Code - when selecting "Start Collaboration session".  I am home, not behind any proxy.   I have allowed ".vscode\extensions\ms-vsliveshare.vsliveshare-1.0.2104\dotnet_modules\vsls-agent.exe" to go through the W10 firewall.

"Starting collaboration session: Visual Studio Live Share has experienced the following internal error: (403 - Forbidden). If this

[2020-05-03 15:17] markharrisonx commented on #3487
Further info - it works ok if I use my Microsoft account.   The error seems to be if I logon to Live Share with an Azure AD account.

[2020-05-03 17:47] connor4312 commented on #355
This continues to happen on the latest version of Live Share on Windows as well. The VS Code window is idle and untouched, but CPU usage bounces between 30-100% of a CPU core.

[code]

[2020-05-03 18:52] markharrisonx commented on #3487
This is now working with my Azure AD account - don't know why it suddenly has started working.

[2020-05-03 18:52] #3487 closed

[2020-05-03 20:41] legomushroom opened #3488 "Cannot reuse the persistent session Id"
**Describe what happened:**

Cannot reuse a persistent session with VSLS extension API.

*Product and Version* [VS/VSCode]:
VSCode Stable

Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z (2 wks ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

*OS Version*[macOS/Windows]:
Mac OS Cataline 10.1

[2020-05-03 20:56] legomushroom commented on #3488
Looks like the `api.share` returns a `sessionId` that does not match`api.session.id`.

cc @jasongin

[2020-05-03 21:17] legomushroom commented on #3488
My client when to a weird state - the extension was using PPE but API pointed to PROD.

[2020-05-03 21:17] #3488 closed

[2020-05-04 07:46] DasJott commented on #3476
So, weekend is done. Sorry for answering so late, but nowadays weekends with kids are... special.
Today I woke up my laptop from suspend and tried again to install the audio extension. It again said "downloading dependencies" and I was waiting for the "Repair" option, which reliably came up after some time.
What can I say - it installed as if there were no problems.

What did I do?
- I uninstalled

[2020-05-04 14:51] daytonellwanger commented on #3482
Thanks for the info! I'm working on adding some additional logging that will hopefully enable us to diagnose the issue based on your logs, so stay tuned. Hopefully you never encounter a desync again, but if you do, I hope at that point we can gather all the information we need from the logs.

[2020-05-04 14:52] daytonellwanger commented on #3483
Hey @falan4j , sorry you're having trouble. This doesn't sound like any sign-in issue we're currently aware of. @BrunoGuardia , any ideas?

[2020-05-04 14:54] daytonellwanger commented on #3483
Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-04 14:56] daytonellwanger commented on #3484
Is [this](https://github.com/MicrosoftDocs/live-share/issues/558) what you're looking for? We added support for this about two years ago.

[2020-05-04 14:57] daytonellwanger commented on #3485
Hey @talkhanz , it sounds like the issue is that you're not able to successfully share? Do you get an error message? Were you able to successfully sign in?

Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-04 14:58] daytonellwanger commented on #3486
Hey @jsm134 , could you provide some more info? What were you doing when you encountered the desync? How often has this happened for you? How long were you in the session before the desync?

[2020-05-04 14:59] daytonellwanger commented on #2896
@parithon , do you have the `liveshare.featureSet` setting in VS Code set to `insiders`? If not, could you try that?

[2020-05-04 16:15] parithon commented on #2896
Yes, I do.

[2020-05-04 16:16] jramsay commented on #3412
@greatday4april, @jorpilo: thanks for the info! Will add this to the item

[2020-05-04 16:38] jramsay commented on #3476
@DasJott: thanks for taking the time to try again! I'm glad you were able to resolve the issue. Yes, perhaps an intermittent connectivity or download server issue. We'll continue to work on improving our dependency download experience.

[2020-05-04 16:38] #3476 closed

[2020-05-04 16:56] steveoh commented on #180
I've tried multiple versions etc, always the same error...

[code]

I'll edit this if I can make it work again

[2020-05-04 17:26] AmandaLutzTO commented on #3481
Yes. Thanks. From: Dayton EllwangerSent: May 1, 2020 5:08 PMTo: MicrosoftDocs/live-shareCc: Amanda Lutz; MentionSubject: Re: [MicrosoftDocs/live-share] Live Share Audio - can't hear collaborator (#3481) Thanks @AmandaLutzTO . Is it OK if I close this issue and we track it over at #3478?—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscrib

[2020-05-04 17:36] BrunoGuardia commented on #180
@steveoh - can you confirm which is the most recent LiveShare version you have tried with? There is a new command "Live Share Repair Installation", available from the Command Palette. Please update if this doesn't get your issue solved.

[2020-05-04 17:56] steveoh commented on #180
I am on 1.1.2104 and there is no repair command pallet entry.

[2020-05-04 20:20] #3481 closed

[2020-05-05 04:34] varora1406 commented on #3484
okay, yes I got it.
thank you

[2020-05-05 04:34] #3484 closed

[2020-05-05 06:06] NickWhiu commented on #3254
After much frustration trailing this for an education provider no audio, and having to auth about 10 times, I finally got it going with help from pbassham, although my path was `/usr/local/bin/code`. This works for me, but I cant get students using this with a hack like this for now - will be nothing but mayhem as they open VSCode from browser link or from launcher.

[2020-05-05 08:58] viccol961 opened #3489 "Nearby sharing on Windows"
Open share prompt in Windows to enable sharing via any app installed, including nearby sharing.

[2020-05-05 11:41] Ransom8 opened #3490 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare`
- Extension Version: `1.0.2104`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.44.2`

[code]

[2020-05-05 17:25] nandiniYeltiwar commented on #3490
@Ransom8 Can you please describe what is the issue that you are seeing?

[2020-05-05 17:29] nandiniYeltiwar commented on #3489
Live Share allows sharing code workspace from VS and VS Code IDE only. I think there might be some misunderstanding in knowing what Live Share is for. You can refer our docs for more context: https://visualstudio.microsoft.com/services/live-share/

[2020-05-05 20:24] Sido-A opened #3491 "Unable to sign-in with Github nor User code"
Hi there, I'm having trouble here that I'm unable to sign-in with Github nor User code.
The sign-in tab just hanging there forever...
Much appreciated if you can help me to solve this.

*Product and Version* [VSCode]1.44.2
*OS Version*[Windows 10]:
*Live Share Extension Version*: v1.0.2104

**Steps to Reproduce / Scenario:**
1. Go to 'Live Share'
2. Click on 'Start collaboration session...'
3. Liv

[2020-05-05 20:30] fieldceleste opened #3492 "Was kicked out due to sync issue when I was in a group workspace"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-05-06 02:22] routy commented on #3012
I'm hitting this as well on MacOS Mojave 10.14.6

I'm also not able to run the `Live Share: Disable VSCode account authentication` command.

I installed Live Share just today in VS Code, signed in, comes back to VS Code, and says I'm logged in.. but then says I'm not.

[2020-05-06 02:32] nandiniYeltiwar commented on #3491
@Sido-A Can you please confirm if you had signed in on the browser (corresponding to step 4 of your steps) and seen a message to open visual studio like below?
![image](https://user-images.githubusercontent.com/38052027/81133636-12bada80-8f07-11ea-9411-1cd9d0e90fdd.png)

[2020-05-06 02:35] nandiniYeltiwar commented on #3492
@daytonellwanger is it possible that users will be kicked out the session due to desync issue?

[2020-05-06 02:44] lbhnrg2021 opened #3493 "Visual studio 2019 can't join the live share of vscode"
vscode:has left the Live Share session

[2020-05-06 03:49] nandiniYeltiwar commented on #3493
@lbhnrg2021 Can you please provide the Live Share version and IDE version for both VS and VS code?

[2020-05-06 08:41] ganpan66fq opened #3494 "邀请别人"
Issue Type: <b>Bug</b>

怎么邀请别人协作

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled

[2020-05-06 09:58] Sido-A commented on #3491
Hi there,

Yes it did ask to open.
I clicked but nothing happened (did not redirect) so then I clicked the link in the browser to get user code and put into user pallet command yet nothing happened.

Sent from my iPhone

[2020-05-06 11:48] bogdansturzoiu opened #3495 "unable to install Live Share extension in Windfows"
Issue Type: <b>Bug</b>

Live Share was unable to download needed dependencies to finish installation. Ensure you have network connectivity then click `Repair` to restart VS Code and attempt recovery.

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17763

[2020-05-06 14:58] johnknoop commented on #2044
Completion list, parameter info etc is essential to understanding code. It's a bit crippling to not have those features available. If you could get R# working as well, that would be even better.

[2020-05-06 14:58] daytonellwanger commented on #3492
I don't think we have any logic like that. @fieldceleste , could you clarify what you mean by being "kicked out"?

[2020-05-06 15:01] fieldceleste commented on #3492
@daytonellwanger Its exactly like it sounds, being kicked out of the program( VS code).

[2020-05-06 15:02] #3492 closed

[2020-05-06 15:07] daytonellwanger commented on #3492
@fieldceleste so you received no prompts or anything? One second you were in the session, and then without warning the VS Code window reloads?

[2020-05-06 17:17] nandiniYeltiwar commented on #3495
@bogdansturzoiu  Can you please try out **Live Share: Repair Installation** command from command palette?

[2020-05-06 17:21] nandiniYeltiwar commented on #3494
@ganpan66fq Here is the documentation for how to invite others: https://docs.microsoft.com/en-us/visualstudio/liveshare/quickstart/share

[2020-05-06 19:15] stephenpassero opened #3496 "Shared terminal during live share won't take up all available space"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Start a live share session
2. Join the created session
3. As an attendee (not the host) request control of the terminal
4. Attempt to resize the terminal in height beyond 4 lines
5. The terminal itself will get larger, but the actual number of lines on screen do not

![Screen Shot 2020-05-06 at 3 15 01 PM](https://user-images.githubusercontent.com/126

[2020-05-06 19:48] bowdenk7 opened #3497 "Presence isn't working"
**Describe what happened:**
Previously my presence would show up available. Now it shows me as unavailable with a spinner:
![image](https://user-images.githubusercontent.com/820883/81220839-97f5cc00-8fa7-11ea-9b88-cd87db13b96a.png)

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code
*OS Version*[macOS/Windows]: macOS
*Live Share Extension Version*: v1.0.2104

*Targe

[2020-05-06 21:08] BrunoGuardia commented on #3491
Hello

If you can provide logs, we can diagnose further. To get them, go to the Command Palette an execute the Live Share / Export logs command.

An alternative workaround, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you.

[2020-05-07 00:12] artificial-aidan commented on #3412
I'm also seeing an issue like this. Co-debugging is not working from a Mac host to a linux guest, or mac guest. When I connect to the session from the guest I get a "Python is not installed. Please download and install Python before using the extension." error. Even when connecting from the same computer.

[2020-05-07 00:14] artificial-aidan commented on #3412
I'm seeing nothing at all from the guest side. Can't even tell a debug session is going on.

[2020-05-07 09:09] anywhereiromy opened #3498 "Desync"
**Product and Version** [VS/VSCode]: VsCode 1.44.2
**OS Version** [macOS/Windows/Linux]: Windows 10 Pro version 1909
**Live Share Extension Version**: 1.0.2104
**Target Platform or Language** [e.g. Node.js]: Node.js

**What were you doing when you encountered the desync?**

Discussing work with a colleague on Microsoft Teams

**How often have you encountered desyncs?**

A few times a working day

[2020-05-07 09:13] anywhereiromy commented on #3430
Hello, updated the comment with the info that was missing. Sorry didn't realise I hadn't filled it in the first time.

[2020-05-07 11:36] janosh commented on #1450
Same problem as @alsimist-dev and same offer to help.

@lostintangent, @fubaduba Does this warrant a new issue?

[2020-05-07 12:07] Sido-A commented on #3491
Hi there,

I attached the log I just took.
Also did the Disable command and then did the above steps of mine till 4 as usual then it worked! Re-directed on my VScode and seems to be working fine.
Thank you!!

[logs.2.zip](https://github.com/MicrosoftDocs/live-share/files/4592783/logs.2.zip)

[2020-05-07 12:45] kam193 commented on #3478
I have a similar problem. And in addition, I don't see VSCode in mac privacy settings, so it probably cannot get access to microphone, but there are no errors in logs, no pop-up to allow microphone or so.

[2020-05-07 13:48] andrecasal commented on #3002
As this setting was introduced as a workaround, I'm assuming there are no plans to use this setting in the future and will therefore close the issue. Thanks guys!

[2020-05-07 13:48] #3002 closed

[2020-05-07 14:28] JumpLink commented on #180
If you have installed live-share on a linux remote system with  https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh you will find the folders under

[code]

[2020-05-07 16:45] Schenz opened #3499 "Unable to Sign-In on mac"
Issue Type: <b>Bug</b>

Attempting to Sign-in using my Microsoft Account always gets this error:
Starting collaboration session: The user code is invalid or expired. Try signing in again.

Extension version: 1.0.2104
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|

[2020-05-07 17:24] nandiniYeltiwar commented on #3496
Duplicate for #3143

[2020-05-07 17:24] #3496 closed

[2020-05-07 18:26] AnthonyMastrean opened #3500 "LiveShare seems to break the debugger"
**Describe what happened:**

I can't start a debugger session (or whatever) unless I disable the plugin.

[code]

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode 1.44.2
*OS Version*[macOS/Windows]: Windows 10 Pro 1909
*Live Share Extension Version*: 1.0.2104
*Target Platform or Language* [e.g. Node.js]: .NET Core SDK 3.1.201

**Steps to Reproduce / Scenario:**
1.

[2020-05-07 19:03] bowdenk7 commented on #3129
Hey no worries - if I see this issue again, I'll open a new issue with new logs.

[2020-05-07 19:03] #3129 closed

[2020-05-07 20:51] wmertens opened #3501 "No error "Start collaboration session", nothing happens"
Issue Type: <b>Bug</b>

I'm trying to use VS Code on NixOS. NixOS is stateless, and does this by putting each package in a separate hash-addressed tree. This has tons of advantages but makes using binary distributed packages a bit harder.

To be able to use the Live Share extension, I had to patch the elf loader location and provide a bunch of libraries to the startup wrapper.

It seems like I pro

[2020-05-07 21:26] Robinssonmonnu opened #3502 "problema de instalacion"
Issue Type: <b>Bug</b>

no me permite relaizar sui instalacion

Extension version: 1.0.2104
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) CPU B800 @ 1.50GHz (2 x 1496)|
|GPU Status|2d_canvas: unavailable_software<br>flas

[2020-05-07 21:42] alefragnani opened #3503 "Add support for remoting syntax highlighting"
**Describe what happened:**

**What was your system configuration?**
*Product and Version* [VS/VSCode]: Stable 1.44 and Insiders 1.45
*OS Version*[macOS/Windows]: MacOS Mojave
*Live Share Extension Version*: 1.0.2104
*Target Platform or Language* [e.g. Node.js]: Custom

**Steps to Reproduce / Scenario:**
1. Created a sample (syntax highlighting) language extension using `yo code`
2. Installed the

[2020-05-07 22:17] mlacouture commented on #3497
Hi Bowden!  thank you for reporting this issue.  We saw some load issues in the presence service we took care of .  I think the signing issue you experimented had to do with this, can you confirm whether your issue is resolved or you are still seeing it? thank you!

[2020-05-08 00:08] bowdenk7 commented on #3497
You're right! Fixed in `1.0.2106`

![image](https://user-images.githubusercontent.com/820883/81356163-1c267d00-9096-11ea-9fea-8522b3ae271b.png)

[2020-05-08 00:08] #3497 closed

[2020-05-08 01:28] Riz-waan commented on #74
Why is this closed?

[2020-05-08 10:17] janosh opened #3504 "Add setting to allow collaborators to perform code actions on save"
For Python projects, we use these settings

[code]

When saving files with unordered imports, this causes the error

![Screen Shot 2020-05-08 at 12 12 24](https://user-images.githubusercontent.com/30958850/81396230-4a9f6900-9125-11ea-8047-97592761e067.png)

The prompt

never finishes and has to be closed manually after _every_ save. Changes made by other collaborators are not displayed until the c

[2020-05-08 10:17] pashau commented on #660
im logged in via microsoft account and want to join collaboration session but everytime i have to relogin via microsoft website login gui and then in VSC the error "Failed to find the entity that initialized this sign-in request. Please try again." appears..

  | Version Data
-- | --
extensionName | ms-vsliveshare.vsliveshare
extensionVersion | v1.0.2106
protocolVersion | ?
applicationName | VSCod

[2020-05-08 12:58] tatosjb commented on #3254
Guys, opening VSCode form your terminal, it asks for a permission to the terminal to access your microphone, it could be a good work around for MAC users

[2020-05-08 13:29] KerberosMorphy commented on #3254
@tatosjb I agree, but for my case, I need a students proof solution, students who, for the most part, have never used a terminal before. With 200 to 400 students per session, I cannot guide them to a work around and it's the students who have the most difficulty who need a LiveShare session. Why is it always complicated with Mac :P

[2020-05-08 16:39] mflisikowskidev commented on #3254
for me did the job this `sudo open /usr/local/bin/code`

[2020-05-08 16:39] martapiechocka commented on #3254
For me the same -> sudo open /usr/local/bin/code

[2020-05-08 20:04] ChezCoder opened #3505 "Problem with terminal during live share"
**Describe what happened:**
When in live share, the collaborator's terminal would be blank, and when they type, it would type on other collaborators terminals but their terminal would still be blank. Basically, they can type but they can't see the terminal for some reason. Also, when I open node js and leave node js, the terminal on the collaborator still says that the language is: 1: node [Shared

[2020-05-08 20:46] nandiniYeltiwar commented on #3501
Thanks for reaching out. Can you provide your logs to check what is happening while sharing the session? You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue

[2020-05-08 20:47] nandiniYeltiwar commented on #3500
Thanks for reaching out. Can you give us logs for investigation? You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue

[2020-05-08 20:48] nandiniYeltiwar commented on #3502
Thanks for reaching out. Can you give us more details about your scenario?

[2020-05-08 20:52] nandiniYeltiwar commented on #3503
@daytonellwanger can you please take a look at this?

[2020-05-08 20:53] nandiniYeltiwar commented on #3500
Adding @jramsay

[2020-05-09 01:00] nandiniYeltiwar commented on #3505
@ChezCoder Thanks for reporting the issue. If you shared another terminal while in the session, do you still see blank terminal?

[2020-05-09 04:36] h3ct0rjs commented on #2916
Hi wsl team,

I was wondering if you were working on this, today I was facing a similar situation. There is a tool call heroku cli, when I was trying to start the session the cli utility itself need to open a browser session, I understand well the current wsl2 architecture, so I was wondering that this kind of situations are difficult to avoid due to the current achitecture.

Regards,
Hector F.
Co

[2020-05-09 06:43] wmertens commented on #3501
Thank you, that gave me the necessary info! What would have helped me:
* Adjust the error message when it can't start, explain to try the export logs command
* The last few lines of output would be useful too, it's cumbersome to first dump the logs in a zip file, then extract and read it.

So at first, it couldn't use the dotnet binaries it downloaded in ~/.local/Code, and then it couldn't find th

[2020-05-09 17:00] lostintangent commented on #553
Closing this issue as resolved. Please re-open it if you continue to encounter any problems. Thanks!

[2020-05-09 17:00] #553 closed

[2020-05-09 17:02] lostintangent commented on #767
Closing this since we believe it's been resolved. Please re-open it if you're running into problems still. Thanks!

[2020-05-09 17:02] #767 closed

[2020-05-09 17:14] lostintangent commented on #2184
Closing this since we have no plans to generically remote WebView content, as opposed to enabling extension authors to make their experiences collaborative via our [Live Share API](https://npmjs.org/vsls).

[2020-05-09 17:14] #2184 closed

[2020-05-09 17:15] lostintangent commented on #2429
This has been fixed. Thanks!

[2020-05-09 17:15] #2429 closed

[2020-05-09 17:15] lostintangent commented on #2479
This has been fixed!

[2020-05-09 17:15] #2479 closed

[2020-05-09 17:16] lostintangent commented on #2517
Closing this due to inactivity. Please re-open it if you're still experience an issue. Thanks!

[2020-05-09 17:16] #2517 closed

[2020-05-09 17:17] lostintangent commented on #2574
Closing this issue due to inactivity. Please re-open it if you can share more info. Thanks!

[2020-05-09 17:17] #2574 closed

[2020-05-09 17:18] lostintangent commented on #2608
Closing this issue due to inactivity. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:18] #2608 closed

[2020-05-09 17:18] lostintangent commented on #2609
Closing this issue due to inactivity. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:18] #2609 closed

[2020-05-09 17:19] lostintangent commented on #2620
Closing this issue as resolved. Please re-open if you're still encountering this issue. Thanks!

[2020-05-09 17:19] #2620 closed

[2020-05-09 17:19] lostintangent commented on #2630
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:19] #2630 closed

[2020-05-09 17:20] lostintangent commented on #2642
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:20] #2642 closed

[2020-05-09 17:20] lostintangent commented on #2659
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:20] #2659 closed

[2020-05-09 17:21] lostintangent commented on #2662
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:21] #2662 closed

[2020-05-09 17:21] lostintangent commented on #2663
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:21] #2663 closed

[2020-05-09 17:21] lostintangent commented on #2731
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:21] #2731 closed

[2020-05-09 17:22] lostintangent commented on #2813
Closing this issue as resolved. Please re-open if you're still running into an issue. Thanks!

[2020-05-09 17:22] #2813 closed

[2020-05-09 17:26] lostintangent commented on #3498
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:26] #3498 closed

[2020-05-09 17:26] lostintangent commented on #3477
Thanks for reporting this! I'm closing this as a duplicate of #2086, so we can focus the conversation in a single place.

[2020-05-09 17:26] #3477 closed

[2020-05-09 17:27] lostintangent commented on #3482
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:27] #3482 closed

[2020-05-09 17:28] lostintangent commented on #3468
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:28] #3468 closed

[2020-05-09 17:28] lostintangent commented on #3452
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:28] #3452 closed

[2020-05-09 17:29] lostintangent commented on #3471
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:29] #3471 closed

[2020-05-09 17:29] lostintangent commented on #3347
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:29] #3347 closed

[2020-05-09 17:29] lostintangent commented on #3439
Thanks for reporting this! I'm closing this as a duplicate of #2086.

[2020-05-09 17:29] #3439 closed

[2020-05-09 17:31] #614 closed

[2020-05-09 17:32] #2174 closed

[2020-05-09 17:35] lostintangent commented on #2018
Closing this as a duplicate of #2.

@jtbandes We recently released a simple extension called [Live Share Gatekeeper](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gatekeeper) that will automatically block guests outside of the domain of the host. Let me know if that suits your needs!

[2020-05-09 17:35] #2018 closed

[2020-05-09 17:36] lostintangent commented on #3474
Closing as a duplicate of #2086.

[2020-05-09 17:36] #3474 closed

[2020-05-09 17:39] lostintangent commented on #3494
Closing since the question appears to have been addressed. Please re-open if that isn't the case. Thanks!

[2020-05-09 17:39] #3494 closed

[2020-05-09 17:40] lostintangent commented on #3475
Closing this as resolved per the previous replies. Please re-open this issue if the repair doesn't work correctly for you. Thanks!

[2020-05-09 17:40] #3475 closed

[2020-05-09 17:42] lostintangent commented on #3467
Closing this issue due to inactivity and lack of actionable details. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:42] #3467 closed

[2020-05-09 17:42] lostintangent commented on #3465
Closing this issue due to inactivity and lack of actionable details. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:42] #3465 closed

[2020-05-09 17:43] lostintangent commented on #3445
Closing this issue due to a lack of actionable details. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:43] #3445 closed

[2020-05-09 17:44] lostintangent commented on #3419
Closing as a duplicate of #2086.

[2020-05-09 17:44] #3419 closed

[2020-05-09 17:45] lostintangent commented on #3420
Closing as a duplicate of #180.

[2020-05-09 17:45] #3420 closed

[2020-05-09 17:45] lostintangent commented on #3418
Closing this issue due to inactivity and lack of actionable details. Please re-open it if you're still encountering an issue. Thanks!

[2020-05-09 17:45] #3418 closed

[2020-05-09 17:45] lostintangent commented on #3413
Closing as a duplicate of #2086.

[2020-05-09 17:45] #3413 closed

[2020-05-09 19:40] parithon commented on #2896
To test, I changed my extension id and publisher to match those used by **vscode-test-explorer-liveshare** and also changed the shared service name to match what is used in that extension and it returned an object as expected.

[2020-05-09 19:43] JasonGoemaat opened #3508 "Desync detected"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows/Linux]: Windows 10
**Live Share Extension Version**: 1.0.2106
**Target Platform or Language** [e.g. Node.js]: AngularJS

**What were you doing when you encountered the desync?**
I had switched to a tab for a file and got the notification.  This was a file I had added from the instance of VSCode that joined the session if tha

[2020-05-09 21:46] #1494 closed

[2020-05-09 21:52] wolf99 commented on #74
This use case may be covered by the newly announced Codespaces, also the issue opened by @unixfox , #2128  ?

[2020-05-09 21:52] lukepighetti opened #3509 "[Dart] Consistent and progressive degradation of sync during any session"
**Product and Version** [VS/VSCode]:
Latest
**OS Version** [macOS/Windows/Linux]:
Any
**Live Share Extension Version**:
Latest
**Target Platform or Language** [e.g. Node.js]:
Dart

**What were you doing when you encountered the desync?**
Normal use

**How often have you encountered desyncs?**
Every time we live share

I'm hoping I can get one of the core contributors here to try VSCode LiveShare w

[2020-05-09 21:58] Riz-waan commented on #2128
Yea some kinda command like `code /project share read-only terminal read-only server 80`

[2020-05-09 23:18] lostintangent commented on #2896
@parithon Hmm, that seems to indicate that our logic for the API permissions regressed, and is only allowing whitelisted extensions to call it. We should obviously fix that 😁

As you discovered, you can unblock yourself by using an the publisher/ID of an extension that’s already allowed, but we can also whitelist your extension if you can share a pointer to it (we limit access to this API so we ca

[2020-05-10 01:14] parithon commented on #2896
I am the co-author of the following: https://github.com/clarkio/vscode-twitch-highlighter

[2020-05-10 06:13] shanrauf opened #3510 "Live Share Guest Limit Ignored"
**Describe what happened:**
In Live Share's settings, there is an option to increase the guest limit from 5 to 30. With this option unchecked, I tested this limit by connecting to my own Live Share session on the same computer using 10 or so incognito Chrome tabs. Even though there should be a limit of 5 guests, it seems like an unlimited # of guests could join the session. It is possible that I a

[2020-05-10 12:15] anshulahuja98 commented on #2898
I had the same issue, came looking at this issue on github
I have probably found a solution to this for whoever comes here looking.
It happens when you have not "opened a folder" in VScode and are just checking out/editing some files.

[2020-05-10 15:06] mrpoundsign commented on #3252
Same issue. Trying to work on teaching one of my kids how to code.

[2020-05-10 15:47] donutsahoy commented on #224
This also fixed my issue with VS Code and Kubuntu 20.04.

[2020-05-10 15:53] MAVREE commented on #2327
This is also happening to me, it is currently displaying an older mail which is no longer in my mail list, I tried to sign out from VSCode and to revoke access from the GitHub settings but it still gets that old unused mail

[2020-05-10 16:23] #3491 closed

[2020-05-10 23:25] hickeng commented on #74
I think headless is different from allowing sessions to continue - that implies that new users cannot connect, and honestly likely has some serious issues with permissions and identity.

Code spaces is the same use case I think, but doesn’t seem to allow for self hosting. Closer, but not clear what that means for proprietary code.

[2020-05-11 04:23] fluffynuts commented on #3299
I've added a +1 here after being directed here through inquiry about this. I'd like to work on an IntelliJ plugin to help my team collaborate remotely during this time (and beyond - it looks like our remote work is here to stay). Screen sharing tools like TeamViewer or AnyDesk are great for quickly helping someone but lack the finesse of LiveShare. Online collaboration tools like CodeTogether are

[2020-05-11 06:16] LitoMore opened #3511 "Typo: `Github` should be `GitHub`"
**Product and Version** [VS/VSCode]: VSCode 1.45.0
**OS Version** [macOS/Windows]: macOS Catalina
**Live Share Extension Version**: 1.0.2106
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1. Click the `Live Share` button on the status bar of VS Code

<img width="626" alt="image" src="https://user-images.githubusercontent.com/8186898/81529623-d0275100-9391-11ea

[2020-05-11 14:06] dereckdemezquita opened #3512 "f"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-05-11 14:46] tatosjb commented on #3254
@KerberosMorphy I agree with the fact that it is a real issue and have to be fixed, i just have tried to help between that time. I just run the bash and type "code" and the vscode opens. But I also have teached before and I agree with you, to a classroom that does not have that much contact with this kind of thing, have to a workaround is hard

[2020-05-11 14:55] assafmo opened #3513 "Cursor position hides letter instead of preceding it"
**Describe what happened:**

**What was your system configuration?**
*Product and Version*: VSCode 1.45.0
*OS Version*: Linux
*Live Share Extension Version*: 1.0.2106
*Target Platform or Language* [e.g. Node.js]: Rust

**Steps to Reproduce / Scenario:**
1. Create a live share session & invite a friend
2. Look at friend's cursor
3. See error

**Please attach logs to this issue:**
[logs.zip](https:/

[2020-05-11 14:55] daytonellwanger commented on #3508
Thanks for the detailed report. That's definitely interesting info that there's no activity from the host when this happens.

Does this ever happen for you when not adding files from the guest?

If by chance you're able to come up with steps to reproduce this issue, that'd also be enormously helpful (the details you've already provided are quite helpful, thanks!).

[2020-05-11 14:57] daytonellwanger commented on #3509
Could you link to the repo for a dart project that I can try to repro with? It doesn't sound like the issue is repo specific, but just in case..

[2020-05-11 15:00] assafmo commented on #558
Hi, this only works for me in the first commit. After the first commit, it doesn't auto-populate the commit message with the `Co-authored-by` lines. Any idea on how to solve this?

cc @toml01

[2020-05-11 15:46] KerberosMorphy commented on #3254
@tatosjb I've tried the vscode online with liveshare, but it doesn't seem compatible with audio. The new github online IDE (vscode) also look great (hope to have preview access), if liveshare audio work it could be almost easier than fighting with MacOS.

But generaly Microsoft/VS Code/Liveshare all seem to embrace pair programming, so I'm confident that this issue will be resolve.

[2020-05-11 16:04] DanTup commented on #3509
@daytonellwanger is there a way to log traffic between the client/host?

@lukepighetti some things to check:

- Does it happen if you disable autoImportCompletions? With this enabled, the completion results can be really large - presumably here, Live Share would be transmitting them over the web
- Are there any errors in the dev console (Help -> Toggle Developer Tools in VS Code) on either the cli

[2020-05-11 16:07] ayenisholah opened #3514 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Parse Error: JS Exception"
Error:
HTTPS request failed for SkypeToken: Parse Error: JS Exception

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.44.2|
|**platformName**|MacOS|
|**platformVersion**|18.7.0|

[2020-05-11 16:28] aletsdelarosa commented on #3514
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-11 16:33] daytonellwanger commented on #3509
@DanTup , a lot of what's sent over the wire exists in our logs, although it's obfuscated (you can access the logs via the command "Live Share: Export logs" available through the command palette).

But yes, for completion results, those are all sent over the wire.

[2020-05-11 16:36] nandiniYeltiwar commented on #3510
@shanrauf thanks for reaching out to us. I am trying to repro the scenario as you suggested but I do receive an error when i try to join as the 6th guests. I would need more info to narrow down the issue. Did you join the session from browser for all the guests? Were all guests anonymous?
@fubaduba we have a request for unlimited guest support in session.

[2020-05-11 17:11] aletsdelarosa commented on #3512
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-11 17:49] connor4312 opened #3515 "Parent/child debug sessions are not preserved"
**Describe what happened:** Parent/child debug sessions are not preserved. This is important with our new debugger, as it's one of the [banner features](https://github.com/microsoft/vscode-js-debug#debug-child-process-and-workers).

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code, 1.46.0-insider 2020-05-11T10:00:12.459Z
*OS Version*[macOS/Windows]: Windows_NT x64

[2020-05-11 17:56] connor4312 opened #3516 "Liveshare logs are massive and took a long time to generate"
**Describe what happened:** Exporting logs took about 15 minutes and created a 1.8 GB zip file

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code, 1.46.0-insider 2020-05-11T10:00:12.459Z
*OS Version*[macOS/Windows]: Windows_NT x64 10.0.18363
*Live Share Extension Version*: v1.0.2106
*Target Platform or Language* [e.g. Node.js]: N/A

**Steps to Reproduce / Scenario:

[2020-05-11 18:57] connor4312 opened #3517 "Liveshare debugger does not respect DAP continued event"
**Describe what happened:** Testing the  [upcoming vscode debugger](https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-debug-nightly) with liveshare, running the "pretty print" command does not move the guest session into the new pretty printed script.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code, 1.46.0-insider 2020-05-11T10:00:12.459Z
*OS Vers

[2020-05-11 19:09] connor4312 opened #3518 "Live share debugger doesn't sync name changes"
**Describe what happened:** Change the name of a debug session. The name changes in the host, but the guest session doesn't update.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code, 1.46.0-insider 2020-05-11T10:00:12.459Z
*OS Version*[macOS/Windows]: Windows_NT x64 10.0.18363
*Live Share Extension Version*: v1.0.2106
*Target Platform or Language* [e.g. Node.js]:

[2020-05-11 19:51] connor4312 opened #3519 "Completions don't work in debug console"
**Describe what happened:** Type `console.`. In the host session, completions are shown. In the guest session, they aren't.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VS Code, 1.46.0-insider 2020-05-11T10:00:12.459Z
*OS Version*[macOS/Windows]: Windows_NT x64 10.0.18363
*Live Share Extension Version*: v1.0.2106
*Target Platform or Language* [e.g. Node.js]: Node 12

[2020-05-11 19:57] connor4312 opened #3520 "Support `supportsClipboardContext` capability in debugger"
We recently added a `clipboard` context for evaluate expressions, which adapters need to opt-in to via the `supportsClipboardContext` capability. However it looks like currently this capability isn't bubbled to the guest session.

You can verify/test this using the [new vscode js debugger](https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-debug-nightly). You should be able to "Copy

[2020-05-11 20:04] connor4312 opened #3521 "Support console groups in debug output"
1. Use the [new vscode js debugger](https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-debug-nightly)
2. Copy the example from https://developer.mozilla.org/en-US/docs/Web/API/Console/group
3. The output should look like this, on both sessions, but it only works on the parent:

    ![](https://memes.peet.io/img/20-05-f6c69223-ae61-4bf9-81e1-ca20817fd706.png)

[2020-05-11 22:13] divinebovine commented on #3500
I'm having the same problem.

**What was your system configuration?**
Product and Version [VS/VSCode]: VSCode 1.45.0
OS Version[macOS/Windows]: Windows 10 Pro 1909 (OS Build 18363.815)
Live Share Extension Version: Live Share Extension Pack v0.3.4
Target Platform or Language [e.g. Node.js]: .NET Core SDK 3.1.201

[LiveShare.zip](https://github.com/MicrosoftDocs/live-share/files/4612353/LiveShare.z

[2020-05-11 22:18] shanrauf commented on #3510
I tried reproducing my error and couldn't. I ended up getting the max participants prompt after 5 participants. It is possible that I thought I was running into an issue because I started a collaboration session with the guest limit at 30, and then unchecked the option to test the limit but I did not close the session and create a new one for the settings to take effect, but I'm not sure if that i

[2020-05-12 03:12] atruskie commented on #3500
Me too. Disabling the extension allowed debugging to work.

[code]

**What was your system configuration?**
Product and Version [VS/VSCode]: VSCode 1.45.0
OS Version[macOS/Windows]: Windows 10 Pro 2004 (OS Build 19041.208)
Live Share Extension Version: Live Share Extension Pack v0.3.4
Target Platform or Language [e.g. Node.js]: .NET Core SDK 3.1.201

[liveshare_logs.zip](https://github.com/Microso

[2020-05-12 09:01] lonevetad opened #3522 "Continuosly asking for "sign-in" after successful sign-in"
**Product and Version** [VSCode]:
**OS Version** [Windows 10]:
**Live Share Extension Version**:
**Target Platform or Language** [don't care, it's the same]:

**Steps to Reproduce / Scenario:**

1. just join an existing collaboration session
2. sign in with the method You want: Microsoft, Github, didn't care, it STILL ask you to "sign in or join as a read-only guest"

in a similar way, it will NOT

[2020-05-12 10:04] Hibbins commented on #180
This did it for me, thanks!

[2020-05-12 10:06] taldcroft opened #3523 "Workspace settings unexpectedly modified when using live-share"
**Describe what happened:**

When using live-share for the first time with a collaborator using his local VS Code app (not the web client), I initially noticed that when the collaborator edits a Python file that my Python interpreter always gets reset to being unknown (No Python interpreter selected). We both had this problem and kept manually selecting our local interpreter, but the problem persi

[2020-05-12 13:33] lukepighetti commented on #3509
I'll try to get together with @groovinchip to answer these questions in the next few days.

[2020-05-12 13:38] lukepighetti opened #3524 "Allow guests to run project on their machine"
I do enjoy the ability to control someone's debugger/terminal, it's helpful for solving problems with pair programming. However, when you have two people co-developing a project it would be ideal if they can each run the project on their respective machines instead. This allows us to have our own debugger & browser/emulator running, otherwise we have to rely on video streaming tools to share the p

[2020-05-12 15:38] sjdv1982 commented on #3460
I tried again, and the problem is gone! Did you do something on the LiveShare server side?

[2020-05-12 15:42] mgalante opened #3525 "doesnt open vscode:// url to return and finish"
Issue Type: <b>Bug</b>

After login in in microsoft or github, clicking doesnt comeback...
it seems it doesnt handle vscode url

Extension version: 1.0.2106
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.17134

[2020-05-12 15:48] heylix opened #3526 "Unsupported Redirection Domain"
Issue Type: <b>Bug</b>

Use vscodium, open in Firefox MAC, authorize, callback URL gives the error "Unsupported Redirection Domain".

Extension version: 1.0.2106
VS Code version: VSCodium 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-08T10:45:07.481Z)
OS version: Linux x64 5.6.11-300.fc32.x86_64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CP

[2020-05-12 17:04] ericmschmidt opened #3527 "Unable to connect to Live Share automatically"
I have a fellow developer that was trying to live share with me. When I click the link, I am directed to a webpage and prompted to select the Launch Application. I tried using Visual Studio 2017 devenv.exe, but I end up with the dialog below that the files could not be found or loaded. I am able to copy/paste his link and connect manually but I'd like to know what I need to change to be able to lo

[2020-05-12 17:17] aletsdelarosa commented on #3522
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-12 17:23] IlyaBiryukov commented on #3460
It may have been an issue in the renderer in VSCode, and a recent update may have fixed it. We don't do anything with the traffic between collaboration session participants. In fact, we cannot even read it on the server side because it's encrypted end-to-end on the client side with ssh connection.

[2020-05-12 17:24] aletsdelarosa commented on #3525
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-12 17:26] sjdv1982 commented on #3460
No recent update for me, it is still 1.44.2, same commit. I hope this isn't a heisenbug?

[2020-05-12 17:27] aletsdelarosa commented on #3526
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-12 17:29] aletsdelarosa commented on #3527
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-12 17:57] ericmschmidt commented on #3527
Isn't the Command Palette only available in Visual Studio Code? I'm using Visual Studio 2017 Professional

[2020-05-12 18:00] aletsdelarosa commented on #3527
Sorry, my bad, you can find them in the %TEMP%/VSFeedbackVSRTCLogs directory.

[2020-05-12 18:07] ericmschmidt commented on #3527
Thanks, sorry I was trying to figure out how to attach them earlier but the info outline only referenced the `ctrl + shift + p` so I didn't know how to attach them. Here are the logs that were generated from my last attempt to open a link

[20200512_180626_Agent.log](https://github.com/MicrosoftDocs/live-share/files/4617612/20200512_180626_Agent.log)
[20200512_180625_VS.log](https://github.com/Mic

[2020-05-12 18:40] ericmschmidt commented on #3527
I was able to do a little more testing and I finally found that I needed to choose "Pick an app" option and choose "Visual Studio 2017", instead of "Choose other Application" and navigating to and selecting the 2017 "devenv.exe". I'm guessing there are some additional arguments or options that are used when selecting the "Visual Studio 2017" but it wasn't easily apparent that's what should be chos

[2020-05-12 19:26] LEKrensta commented on #338
Is this feature still being looked at? It would be incredibly useful for me and my team.

[2020-05-12 19:32] mgalante commented on #3525
It might be related to a proxy limitation? Microsoft and GitHub domain are
open, but mostly any other domain its blocked

On Tue, May 12, 2020 at 2:24 PM Alex de la Rosa <notifications@github.com>
wrote:

[2020-05-12 21:37] ati0ns opened #3528 "Automatically write a part of the current code"
**Describe what happened:** When we use the extension, some parts of the current writen code are rewrite automatically above.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: the latest
*OS Version*[macOS/Windows]: Windows
*Live Share Extension Version*: idk but I downloaded it today so the latest I guess.
*Target Platform or Language* [e.g. Node.js]: Node.js

**Steps to

[2020-05-13 05:35] tFable opened #3529 "Security info for Join from Web Browser"
Hello,

This page could benefit from some information regarding the security posture of this method. One of the major selling points for Live Share for our org was the information included here (https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/security) more specifically, the fact that all Live Share sessions are end-to-end encrypted.

Does end-to-end encryption still apply for th

[2020-05-13 06:47] aanton commented on #3421
Hi!

I have the same problem using:
* Ubuntu 18.04
* vscode 1.45.0
* Live Share extension pack: 0.3.4
* Live Share: 1.0.2106

The shortcut `ctrl + shift + k` does not work in any file. I also tried it in the "Keyboard shortcut" page using "record keys" but that shortcut does not work. Similar shortcuts are detected correctly.

When i close the session, the shortcut works again correctly.

Thanks!

[2020-05-13 08:40] lonevetad commented on #3522
Good morning,
I will try to reproduce the scenario to retrieve the logs.
After some trials, I've discovered that the bug may happen upon re-joining
a yet existing session which I had previously joined and abandoned (because
of private, non-problematic reasons).
Could the bug lie in some cache-like mechanism, couldn't it?
Thank You all,
greetings
Marco Ottina

Il giorno mar 12 mag 2020 alle ore 19:

[2020-05-13 08:59] infixint943 commented on #3505
Face the same issue too. +1

[2020-05-13 10:35] SulthanNK opened #3530 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vsliveshare`
- Extension Version: `1.0.2106`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.45.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-05-13 11:49] mgalante commented on #3525
[LiveShareLogs (1).zip](https://github.com/MicrosoftDocs/live-share/files/4621739/LiveShareLogs.1.zip)

[2020-05-13 17:26] aletsdelarosa commented on #3530
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-13 17:29] aletsdelarosa commented on #3528
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-13 17:33] #2874 closed

[2020-05-13 17:34] #2890 closed

[2020-05-13 17:35] #2911 closed

[2020-05-13 17:36] #2971 closed

[2020-05-13 18:05] aanton commented on #3421
Hi @jramsay

Please, can you reopen this issue or i should open a new one?

Thanks

[2020-05-13 18:20] jramsay commented on #3421
@aanton: thanks for reporting, I've reopened this issue. Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

@aletsdelarosa: can we get CTI to try to repro this as part of their next Linux test pass?

[2020-05-13 23:19] pvergara242 opened #3531 "pagina web Academlo"
Issue Type: <b>Bug</b>

proyecto 1 de academlo

Extension version: 1.0.2106
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz (4 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: e

[2020-05-13 23:21] pvergara242 opened #3532 "pagina web Academlo1"
Issue Type: <b>Bug</b>

proyecto 1 de academlo

Extension version: 1.0.2106
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz (4 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: e

[2020-05-14 02:06] EricChen1248 commented on #180
I confirm that this is the reason for my corrupted install. Giving write access to the folder let has allow live share to install succcessfully. I feel that moving the log out of here to a user folder is a must. Otherwise, only 1 person could install it on a shared server

[2020-05-14 07:45] viccol961 commented on #3489
Nearby sharing has the possibility to share a link to be opened in the Edge browser.

Could there be an option to open the Windows share prompt with the session link ?

[2020-05-14 10:16] SulthanNK commented on #3530
Here is the log file of the extension...

[live server log file.zip](https://github.com/MicrosoftDocs/live-share/files/4627505/live.server.log.file.zip)

The exact scenario is when I using some other extensions in visual studio code or open it in a new day, it prevents loading the other extensions and it also takes more time to load itself. That's why IDE shows the button for the "report issue" on

[2020-05-14 12:51] michalzyka opened #3533 "I am done."
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
I had written a very complex react component that I wanted to share with my buddy but all of a sudden about an hour of work went fucking gone. This component was the last bit missing in

[2020-05-14 13:18] ChezCoder commented on #3505
No @nandiniYeltiwar , if I open a new terminal and share it, the other person will be able to see it

[2020-05-14 13:47] aanton commented on #3421
@jramsay thanks for reopening the issue!

Here you have my logs:
[liveshare-logs.zip](https://github.com/MicrosoftDocs/live-share/files/4628745/liveshare-logs.zip)

I have removed the "Live Share extension pack" & installed only "Live Share" & "Live Share Audio" extensions. But the problem still persists.

In my last session i could use the shortcut before starting the audio call but it failed aft

[2020-05-14 13:49] janosh commented on #3421
Ah, I stopped using the audio extension for different reasons but didn't make the connection that it's removal might have been the reason why `cmd + shift + k` started working again in the next session.

[2020-05-14 14:18] yuri-scarbaci-lenio opened #3534 "Allow client to create shared-terminals on Host machine"
We are currently implementing a workflow for remote-collaboration on a shared machine that will be hosting a live-share session with the developers, this ensure the code is only downloaded on a machine physically located in the office while allowing full-development capability to remote workers.

To do that without having someone in the office to constantly go over the machine whenever we need to

[2020-05-14 16:55] aletsdelarosa commented on #3531
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-14 16:56] aletsdelarosa commented on #3532
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-05-14 18:26] klakin-pivotal opened #3535 "Cmd+P fails to function because VS Code Live Share does not have directory loop detection"
**Describe what happened:**
`Cmd+P` to search for files by filename only will find files that have already been opened in a local editor.

**What was your system configuration?**
*Product and Version*: VSCode 1.45.0
*OS Version*: MacOS 10.14.4
*Live Share Extension Version*: 1.0.2106
*Target Platform or Language* [e.g. Node.js]: Ruby

**Steps to Reproduce / Scenario:**
`[Host]` - Create a project

[2020-05-14 18:27] klakin-pivotal commented on #3535
cc: @mingxiao

[2020-05-14 19:03] lukepighetti commented on #3509
Quick question before we provide any more info: is there an easy way to handle all the IDE features locally but have live share only handle the files/typing indicators?

The reason I say that is in theory if the remote project is transferred to my computer I should be able to use it perfectly and all we'd need at that point is to be able to follow people, see what they are typing, and keep the fil

[2020-05-14 19:40] sylveon commented on #2086
I'm getting desyncs as well, and because there's no option to force a resync, I have to kick out all the participants to start a new session.

[2020-05-14 20:34] klakin-pivotal commented on #2086
As a stopgap, a "Request that the `Host` resync all of the files in the project" button would be _amazing_. Honestly, if the underlying issue never gets fixed, a reliable "Force a Resync" button would resolve this issue for me.

[2020-05-14 21:31] admvx commented on #3379
I made a quick edit of the icon, but noticed Live Share isn't open for public contributions. Maybe a Microsoft developer could drop it in 😇

From the Live Share extension payload, this replaces `./images/dark/liveshare.svg` (which appears in both light and dark themes):
https://gist.github.com/admvx/4f65d4c4d65bc21485dd324314bf580b

<img width="76" alt="Screen Shot 2020-05-14 at 14 22 30" src="htt

[2020-05-15 02:24] daytonellwanger commented on #3509
No. Architecturally, all guests in a Live Share session are simply terminals to the host's machine. They have very little context relative to the full project. E.g. we download files to the guest on demand when they're opened.

Handling things locally would require your local setup nearly exactly match the host's setup. E.g. if you're on Node 12.x and the host is on Node 9.x, the project may work

[2020-05-15 02:26] daytonellwanger commented on #2086
Hey @klakin-pivotal , this is actually something we briefly considered, but decided it would be best to invest resources in actually fixing the desyncs. However, since we've been slow to deliver on that, maybe we should revisit providing such a button. I'll keep you posted with updates! To others on the thread, would that be useful as a stopgap?

[2020-05-15 02:32] sylveon commented on #2086
Absolutely, the other option (killing and restarting the session) interrupts the entire workflow and can get annoying if desyncs present themselves regularly.

[2020-05-15 06:07] shanrauf commented on #3510
@nandiniYeltiwar What's your opinion on the use case I outlined above?

[2020-05-15 12:07] lukepighetti commented on #3509
I understand and support the decision to do terminal architecture. It makes perfect sense. Is it a quantum leap to allow synced-file architecture for projects where it makes sense? That should probably be a new issue...

Back on topic: We disabled `autoImportCompletions` and did a quick test and it seemed to improve the experience, although we were still seeing 5-6 seconds before autocomplete sugg

[2020-05-15 13:27] bjkeller opened #3536 "Break down details of user joining through browser"
It would be useful to break out the details on how the user joins in step 2. The GIF is a bit fast and it is hard to see the detail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea21b40c-57fb-4b38-7d20-5a9db7cc5556
* Version Independent ID: e33adae7-6790-6aa9-fb40-8f070a1c6da9
* Content: [Joining from the browser - Vi

[2020-05-15 13:34] daytonellwanger commented on #3509
Basically 😔. BUT this is a request we hear often, and it's not unreasonable. It's just not how we've been thinking about the product so far. It'd be great if you could create a new issue to track it. It'll help us to gauge how many other folks are interested in it and we could start fleshing out what it might look like.

Are other operations snappy for you? E.g. coediting?

Do you have any idea wh

[2020-05-15 13:39] daytonellwanger commented on #3509
Are other language services requests quick? E.g. go to definition?

[2020-05-15 13:50] lukepighetti commented on #3509
Click to definition and hover type information are very fast. It's only autocomplete that appears to be about 20x slower than what would be considered seamless. I'm going to have to defer to @DanTup on payload sizes, hope he can chime in when he has a moment.

[2020-05-15 14:29] pluchinetti opened #3537 "Liveshare keeps asking to sign-in every time"
Issue Type: <b>Bug</b>

* **Operative System:** Windows 10 Pro x64
* **VS Code:** 1.45.1
* **LiveShare:** 1.0.2169
* **Project type:** Any

Everytime I try to start a collaboration session or join an ongoing session, Liveshare asks me to sign-in (which I do with my GitHub account) even if I already signed in successfully earlier.

I tried uninstalling the Liveshare extension multiple times and rei

[2020-05-15 14:42] peterwald commented on #33
@Ryan-Palmer We have made some recent updates to the status logic on the Run buttons and we are not seeing this issue on the latest builds. Can you confirm which version of VS you are seeing this in? And does it still happen if you update to the latest?

[2020-05-15 15:12] daytonellwanger commented on #3509
If the other requests are quick, that suggests to me that it's probably related to the payload size, as the handling of all language services requests is quite similar.

[2020-05-15 15:14] daytonellwanger commented on #3509
The language server protocol (actually I'm not sure if Dart support is via an LSP server or VS Code APIs) has recently added a lot of support for partial results and streaming results via progress notifications.. have you all investigated that at all? It would also speed up your language services in the local scenario.

[2020-05-15 15:30] DanTup commented on #3509
Payloads with `autoImportCompletions` turned off shouldn't be massive - but it will depend a lot on how many libraries you've imported and symbols are in scope. They will typically be much larger than other types of requests (hovers, etc.) though so it's no huge surprise they're slower. I'm not sure how we can really reduce the size without losing functionality though.

We in the process of moving

[2020-05-15 15:43] Ryan-Palmer commented on #33
I'll have a look next time I do a session and report back. I am using VS 2019 Preview and the host is on 2019 vanilla so that may have been an issue. I can't tell you exactly which build we were each using at the time off the top of my head. I'll try to get some more info for you anyways, cheers.

[2020-05-15 16:04] MattInternet opened #3538 "Make liveshare.shareServer command automatable"
One of the few annoying things about using liveshare is that I have to go start up like 4 shared servers when developing with my team. It would be way cool if the liveshare.shareServer command could take arguments (like port and displayName) so the process could be called from a task in the workspaces tasks.json. like:

[code]

[2020-05-15 16:58] LEvinson2504 commented on #1782
@kinghat mines empty

[2020-05-15 17:25] BrainRayChristensen commented on #2086
100%. This bug is the reason a very rarely use live share. Every time I come back to live share and work on a project with someone where this error creeps up I always look for a refresh button until I eventually remember there isn't one. I'm usually on a call with the person I'm working with and so we are able to find out fairly quickly when things are out of sync, but it takes us forever to get t

[2020-05-15 17:30] nandiniYeltiwar commented on #3510
Hey @shanrauf thanks for describing your use case, it helps us understand the impact of the feature request to increasing guest limit. We have this feature planned in our roadmap and we are working towards it.

[2020-05-15 17:49] bzuillsmith commented on #2086
Yep refresh button would get me to try live share more. Additionally, it takes too much time to report such a bug with any helpful data (collecting logs, etc). I won't ask a pair or whole team to stop what they are doing to figure out how to report it and continue trying to use live share. It's easier to switch to a screen sharing app and continue working.

For example, I tested this in mob progra

[2020-05-15 19:31] BrunoGuardia commented on #3499
We are looking at a fix, as a workaround, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you.

[2020-05-15 19:33] BrunoGuardia commented on #3057
I see you have already tried the workaround.

Can you update to recent versions of VS Code and LiveShare and confirm nothing works? The connection failure indicates there is something in your network that prevents from reaching LiveShare services.

[2020-05-15 19:33] BrunoGuardia commented on #3315
Not sure if your issue is fixed with any of our recent releases.

If it is not fixed yet, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you, or if it was fixed already.

[2020-05-15 19:34] BrunoGuardia commented on #3273
We are looking at a fix, as a workaround, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you.

[2020-05-15 19:35] BrunoGuardia commented on #3537
We are looking at a fix, as a workaround, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you.

[2020-05-15 19:35] BrunoGuardia commented on #3522
We are looking at a fix, as a workaround, can you try running this command: Live Share: Disable VSCode account authentication? This will revert the authentication to the old flow, and not use the in client auth. Please let us know if this unblocks you.

[2020-05-15 19:51] daytonellwanger commented on #2086
Thanks for the feedback @bzuillsmith . That's completely understandable and I appreciate you taking the time to engage on this issue 😊. I'm very grateful for all of our users that do go above and beyond to help us figure out these issues, because as you noted, it's a bit of a hassle.

[2020-05-15 20:58] bellesamways commented on #3472
it is also happening to me

so, the steps:

1.
![image](https://user-images.githubusercontent.com/38008212/82095177-e35d5800-96d4-11ea-8121-38284d5c9cb2.png)

2.
![image](https://user-images.githubusercontent.com/38008212/82095209-f8d28200-96d4-11ea-8bae-53ca2b444e7a.png)

3.
![image](https://user-images.githubusercontent.com/38008212/82095229-07b93480-96d5-11ea-942a-346adc4390e8.png)

4.
![image]

[2020-05-15 23:38] pluchinetti commented on #3537
Hey Bruno!

Thank you very much for the suggestion! I tried your workaround, signed in through GitHub, and  now every time I open the VS Code I can see I'm correctly logged in with my GH account (on Live Share). I also tried creating and joining collaboration sessions, and in none of those tries I got asked asked to sign-in again; so it worked flawlessly.

Should I close this ticket or leave it li

[2020-05-16 01:35] BrunoGuardia commented on #3537
You can close this one, we have a few similar ones so I can consolidate when we have a fix

[2020-05-16 01:37] pluchinetti commented on #3537
Ok, I'll do that, Thanks again for your help!

[2020-05-16 01:38] pluchinetti commented on #3537
Ok, I'll do that. Thanks again for your help!

[2020-05-16 01:38] #3537 closed

[2020-05-16 14:10] david50407 commented on #74
Codespaces seems allowing to be self-hosted[1] with Azure account, but I'm considering is that free to my Azure account when I only use Codespaces with my self-hosted server?

[1]: https://docs.microsoft.com/zh-tw/visualstudio/online/how-to/self-hosting-cli

[2020-05-16 18:45] wolf99 commented on #74
Nice info @david50407 . I too am confused as to why self-hosted Codespaces would require an Azure account. Take a sample use case: an IPR sensitive code base that I may work on as employee of a company,obviously code should not be worked on in a 3PP provider (e.g. Azure) and as such the employer would have no reason to pay for an Azure account. Maybe Azure accounts are free, I have no idea but it

[2020-05-17 07:29] Tunji17 commented on #2050
I am experiencing this exact same issue using WSL 2 on windows 10 ubuntu 18.04, live share

[2020-05-17 09:42] ati0ns commented on #3528
[Zipped Log Files.zip](https://github.com/MicrosoftDocs/live-share/files/4639994/Zipped.Log.Files.zip)

[2020-05-17 11:46] AchalaSB commented on #3057
@BrunoGuardia
VSCode version: 1.45
OS Version : ubuntu 18.04
Live Share Extension Version: v1.0.2169 (May 7th, 2020)

Nope, nothing worked.
Tried usercode, disabled account authentication.

[2020-05-17 11:59] jcchu commented on #3391
@jramsay   Here’s [a log file](https://github.com/MicrosoftDocs/live-share/files/4640181/20200517_113903_15897155434470_VSCode.log) for you.  I’m using an Azure AD account if that matters.

Now, before trying out this extension I was reading [the article about user profiles](https://docs.microsoft.com/en-us/visualstudio/liveshare/user-profile) and, wondering how I got a profile without even having

[2020-05-17 14:39] vgainullin commented on #1450
Same issue on Windows 10, with or without virtual environment.

[2020-05-17 18:46] BrunoGuardia commented on #3136
We recently released a fix; on newer versions, you should be shown a notification with a Repair button.

If you don't see the notification, you still can try it from the Command Palette (Shift + Ctrl + P), Live Share / Repair Installation

Let us know if this resolves the issue

[2020-05-17 18:48] BrunoGuardia commented on #3000
Closing as no more activity

[2020-05-17 18:48] #3000 closed

[2020-05-17 18:48] BrunoGuardia commented on #2925
Closing with no new activity

[2020-05-17 18:48] #2925 closed

[2020-05-17 18:51] BrunoGuardia commented on #2681
We recently released a fix; on newer versions, you should be shown a notification with a Repair button.

If you don't see the notification, you still can try it from the Command Palette (Shift + Ctrl + P), Live Share / Repair Installation

Let us know if this resolves the issue

[2020-05-17 18:52] BrunoGuardia commented on #2673
Closing with workaround suggested in #3012

[2020-05-17 18:53] #2673 closed

[2020-05-17 18:58] goral09 commented on #2673
Sorry @BrunoGuardia but workaround is not a solution.

[2020-05-17 18:59] BrunoGuardia commented on #2555
Hi @johnschult
We have made multiple updates to the Audio extension, I would like to confirm if there are still issues or it is now fixed

[2020-05-17 19:00] johnschult commented on #2555
I’ll check it out when I am on Corp VPN tomorrow.

[2020-05-17 19:29] lostintangent commented on #2596
@phx-srankin Good question! The check means that it's been shipped, without requiring you to opt-into the Live Share ["insiders" channel](https://aka.ms/vsls-insiders). Since the VS/Test Explorer support is only available in insiders, I removed the check mark. Thanks for the reminder!

[2020-05-17 19:51] lostintangent commented on #2596
Closing this item, since it has served us well over the last year :) I'll be re-creating a new one to track the open feedback moving forward.

[2020-05-17 19:51] #2596 closed

[2020-05-17 19:55] lostintangent opened #3539 "[Discussion] Feedback Area Map"
This issue captures a high-level picture of outstanding developer feedback, categorized by feature area/scenario (a "feedback area map"). This is not meant to be a commitment/roadmap, so much as a way for us to visualize feedback, track progress, and continue to gather input from the community on priorities. Our goal is to make developer collaboration [enjoyable](https://aka.ms/vsls-why), across t

[2020-05-17 19:56] lostintangent commented on #1003
Re-opening since this issue still occurs.

[2020-05-18 03:02] lostintangent commented on #3536
@fubaduba Could we update the web client docs to have a little more details?

[2020-05-18 05:36] #3512 closed

[2020-05-18 08:40] omkar9405 opened #3540 "share problem for available status"
Issue Type: <b>Bug</b>

there is a problem to share the session at available status after update

Extension version: 1.0.2169
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:22.494Z)
OS version: Linux x64 5.3.0-kali2-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5 CPU       M 460  @ 2.53GHz (4 x 2411)|
|GPU

[2020-05-18 10:45] jeantil opened #3541 "Incomplete/unhelpful audio devices list"
**Describe what happened:**

When I tried running a vscode liveshare with audio.
I could hear my peer on the internal speakers but I couldn't redirect it to my bluetooth headset as the device did not seem to be listed
My peer reported he couldn't hear me
When checking the microphone devices I again couldn't see the headset.

In both the output and input device lists the "non-default" devices names

[2020-05-18 12:54] rpetersen3 commented on #341
If we could restrict live-share to our O365 tenant or our github enterprise oauth it would be a huge win for our developers working from home. With COVID-19 and our working from home situation this enhancement cannot come fast enough!

[2020-05-18 14:09] lostintangent commented on #341
@rpetersen3 If you were able to use the existing Azure Active Directory-based auth, and just needed a way to restrict collaboration to members of your tenant, you could take a look at using [this extension](https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gatekeeper) and see if meets your needs in the near-term? That handles automatically blocking guests that are external to the ho

[2020-05-18 14:20] andyreinke commented on #3522
Experiencing the same issue, the suggested command **Live Share: Disable VSCode account authentication** does not appear to have helped.

Logs attached

[20200518_141558_Agent.log](https://github.com/MicrosoftDocs/live-share/files/4644648/20200518_141558_Agent.log)
[20200518_141558_15898113585650_VSCode.log](https://github.com/MicrosoftDocs/live-share/files/4644649/20200518_141558_15898113585650_V

[2020-05-18 14:53] lostintangent commented on #74
Hey all! Just to confirm: [self-hosted Codespaces](https://docs.microsoft.com/en-us/visualstudio/online/how-to/self-hosting-vscode) are entirely free, and you can create a free Azure account as well, so there's no payment of any kind that you'd need to start using them. Also note: just because we're currently requiring an Azure subscription, doesn't mean that your code is actually stored or sent t

[2020-05-18 16:12] lukepighetti commented on #3509
We completed our livestream and the quality of service with `autoImportCompletions` disabled was very good. I'm unlikely to claim that it was the culprit, but it seems to have contributed. We still have a concern about time to retrieve auto-complete options. And obviously, being able to have access to auto import completions would be extremely nice. Or, at the very least, be able to have settings

[2020-05-18 16:34] mlacouture commented on #3540
Hi Omkar! thank you for reporting this issue. Can you please add details about the problem you are experiencing so we can try to reproduce in-house? thank you!

[2020-05-18 16:37] mlacouture commented on #3541
Hi Jean! thank you for reporting this issue and providing all the details. We'll investigate ...

[2020-05-18 21:40] mlacouture commented on #3533
Hi @michalzyka! That sounds very unfortunate, I'm sorry about it.  I'm closing this issue but if you reconsider we will be willing to investigate, in this case please provide details about the issue you experience so we can try to reproduce it in-house.

[2020-05-18 21:40] #3533 closed

[2020-05-18 21:46] mlacouture commented on #3535
Hi Kenneth! thank you for reporting this issue.  It sounds to me more like a feature request, we will review it and prioritize it appropriately.

c.c. @fubaduba

[2020-05-18 21:54] webdevnerdstuff commented on #180
MacOS Catalina: 10.15.4 (19E287)
Live Share: Version 1.0.2169

I also am having this issue. It was working fine this morning then suddenly stopped working. No extensions updated during this time, it just stopped working and when I reloaded VS Code the message started showing up.

I have tried the following and none have worked:

1. Uninstalled Extension & Reinstall
2. Uninstalled Extension & delet

[2020-05-19 03:27] BalanceHan opened #3542 "live-share cause the VS2019 to crash"
**Describe what happened:**
latest version live-share cause the VS2019 to crash
**What was your system configuration?**
*Product and Version* [VS/VSCode]:VS2019 16.5.5
*OS Version*[macOS/Windows]:Windows10
*Live Share Extension Version*:1.0.2170.0
*Target Platform or Language* [e.g. Node.js]:c#

**Steps to Reproduce / Scenario:**
1. Go to 'View'
2. Click on 'Other Windows'
3. VS2019 to crash
![202

[2020-05-19 07:24] BalanceHan commented on #3542
Most people have the same problem
https://developercommunity.visualstudio.com/content/problem/1034076/vs-crash-when-menu-view-other-windows-is-opened.html

[2020-05-19 09:52] SnejUgal commented on #3218
From VSCode, Live Share opens this link in the browser:
[code]

But from VSCodium, this link is opened:

[code]

Notice the different protocol here: `vscodium` instead of `vscode`. So looks like Live Share now checks if the redirect URL is “valid” and rejects what it considers to be “invalid”, especially given that authorization used to work under VSCodium and still works if you install an older v

[2020-05-19 11:34] anatolyburakov commented on #3136
@BrunoGuardia yep, seems to work now. Thanks!

[2020-05-19 11:53] DanTup commented on #3509
I tried exporting the Live Share logs, but it didn't seem to include the payloads going over the wire. Adding logging to the completion item provider shows that there are around 11k items in a Flutter project.

[code]

If I `JSON.stringify()` the results, it comes to 17MB - however, a lot of this looks like our internal data and not properties that VS Code wants. I would be interested to know what

[2020-05-19 12:00] DanTup opened #3543 ""The host doesn't allow running this command. If needed, ask them to enabled it" does not include enough info to be useful"
When completion an item in Dart, I see this error on the client:

![Screenshot 2020-05-19 at 12 56 07](https://user-images.githubusercontent.com/1078012/82323561-26b70f80-99d0-11ea-88ba-5134054c2573.png)

I suspect this is may be related to attaching commands to completion items, however the error message doesn't have anywhere near enough information for the user to resolve. The "More info" button

[2020-05-19 12:03] DanTup opened #3544 "When the host saves a file, it triggers code actions on the guest which never complete"
This was mentioned in https://github.com/MicrosoftDocs/live-share/issues/3504, but that's been tagged as a feature request and asks about having settings to enable/disable. However, I think this is a more serious bug.

If the host Saves a Dart file, I see this in the guest:

![Screenshot 2020-05-19 at 13 00 50](https://user-images.githubusercontent.com/1078012/82324000-cc6a7e80-99d0-11ea-97a1-26ec

[2020-05-19 12:54] anatolyburakov commented on #3136
@BrunoGuardia actually, the installation on the remote works, but installation on local machine (Windows, behind corporate proxy) still doesn't.