[2019-07-02 13:53] The-coir opened #2447 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-02 13:54] The-coir commented on #2447
https://prod.liveshare.vsengsaas.visualstudio.com/join?ABABDCB14EAD9BBBA7E11FBED6CC6698FEAB

[2019-07-02 13:55] The-coir commented on #2447
https://prod.liveshare.vsengsaas.visualstudio.com/join?ABABDCB14EAD9BBBA7E11FBED6CC6698FEAB

[2019-07-02 14:05] hickeng commented on #74
I am using WSL Remote as we speak, but this is different from my desires for headless liveshare. Cross posting from https://github.com/microsoft/vscode/issues/66814#issuecomment-507691294

[2019-07-02 15:08] eggyhead opened #2448 "[VS Code] Starting collaboration session: RPC connection closed."
Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2019-07-02 16:32] Purian23 opened #2449 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
Error:
Starting collaboration session: An error was encountered while querying information from the operating system.

Steps to Reproduce:
1. I am running Stable VS Code as of today July 2nd. All Extensions are up to date.
2. I connected LiveShare ext pack to my github account, tap the button and get failure.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**proto

[2019-07-02 17:01] davidmatas opened #2450 "[VS Code] [Audio] Input volume level auto adjust"
**Product and Version** [VS/VSCode]: Versión 1.35.1 (1.35.1)
**OS Version** [macOS/Windows]: 10.14.3
**Live Share Extension Version**: 1.0.471

Hi!

I'm using Live Share extension with Live Share Audio and I've noticed that the input volume is auto adjusting. I work in a noisy office and it is very annoying that if I put the volume at 50% after a few seconds it is again at 100%.

At the beginning,

[2019-07-02 19:21] AelDillon opened #2451 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-02 20:55] rmorabia opened #2452 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1. Install LiveShare extensions.
2. Join or start a LiveShare.
3. Log in with GitHub.

Basically, having issues with connecting to LiveShare on a home network (should be no blocking)

[2019-07-02 21:12] Priya91 commented on #2452
This is a dupe #2216

Refer to the workaround and discussion here: https://github.com/MicrosoftDocs/live-share/issues/2216#issuecomment-501372336

[2019-07-02 21:12] #2452 closed

[2019-07-02 22:55] suraj-kawale-au2 commented on #2426
@IlyaBiryukov It ran for less than 45 mins and then it gave me that error. Although another collaborator was able to see the terminal.

[2019-07-03 06:41] chiedey opened #2453 "[VS Code] [Audio] Calling module not available. libasound.so.2: cannot open shared object file: No such file or directory"
Error:
Calling module not available. libasound.so.2: cannot open shared object file: No such file or directory

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.56|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0-insider|
|**platformName**|Linux|
|**platformVersion**|4.9.125-linuxkit|

[2019-07-03 07:31] adarshkiller opened #2454 "[VS Code] Starting collaboration session: Only collaboration session host can perform this operation."
Error:
Starting collaboration session: Only collaboration session host can perform this operation.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-03 16:05] bushidocodes commented on #507
I believe I'm experiencing this bug as well. I'm unable to used Live Share when I have a Remote-WSL window of VS Code open (which is now my primary means of using VS Code). Logs are attached below.
[live-share-error-logs.zip](https://github.com/MicrosoftDocs/live-share/files/3355802/live-share-error-logs.zip)

[2019-07-03 16:08] mariosandovalcod opened #2455 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.471|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2019-07-03 16:11] IlyaBiryukov commented on #2426
@suraj-kawale-au2 Thanks for the update. Could you please get the logs and attach to the issue? Or you can email them to me at ilya.biryukov at microsoft dot com.

[2019-07-03 17:22] k1nghat commented on #1782
is this related?
https://gitlab.gnome.org/GNOME/gnome-keyring/issues/37

[2019-07-03 17:31] elbkind opened #2456 "live share unable to setup if env var is LC_MESSAGES "C git""
**Product and Version** [VS/VSCode]: Version 1.35.1 (1.35.1)
**OS Version** [macOS/Windows]: macOs Mojave
**Live Share Extension Version**: 1.0.488
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**
1. set global env LC_MESSAGES = "C git"
2. install vscode, ensure ~/.vscode and ~/Library/Application\ Support/Code are empty
3. start code
4. install live share
5. aft

[2019-07-03 18:47] CapucineFX opened #2457 "[VS Code] Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
Error:
Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**

[2019-07-03 19:04] MicrosoftCaitlin commented on #2440
Duplicate of #2411

[2019-07-03 19:04] #2440 closed

[2019-07-03 19:06] MicrosoftCaitlin commented on #2181
[live-share-logs.zip](https://github.com/MicrosoftDocs/live-share/files/3356469/live-share-logs.zip)

Logs from #2442

[2019-07-03 19:06] MicrosoftCaitlin commented on #2442
@johnschult Thanks for including your logs, we'll track this via #2181

[2019-07-03 19:06] #2442 closed

[2019-07-03 19:08] MicrosoftCaitlin commented on #2441
Duplicate of #1353

[2019-07-03 19:08] #2441 closed

[2019-07-03 19:09] MicrosoftCaitlin commented on #2443
Duplicate of #2426

[2019-07-03 19:09] #2443 closed

[2019-07-03 19:09] MicrosoftCaitlin commented on #2444
Duplicate of #433

[2019-07-03 19:09] #2444 closed

[2019-07-03 19:10] MicrosoftCaitlin commented on #2445
Duplicate of #2258

[2019-07-03 19:10] #2445 closed

[2019-07-03 19:11] MicrosoftCaitlin commented on #2446
Duplicate of #2258

[2019-07-03 19:11] #2446 closed

[2019-07-03 19:11] MicrosoftCaitlin commented on #2451
Duplicate of #2258

[2019-07-03 19:11] #2451 closed

[2019-07-03 19:12] #2447 closed

[2019-07-03 19:12] MicrosoftCaitlin commented on #2448
Duplicate of #1353

[2019-07-03 19:12] #2448 closed

[2019-07-03 19:15] MicrosoftCaitlin commented on #2449
@Purian23 Looks like a duplicate of #507, see that discussion thread for more information.

[2019-07-03 19:15] #2449 closed

[2019-07-03 19:16] MicrosoftCaitlin commented on #2450
@jramsay Can you take a look?

[2019-07-03 19:18] MicrosoftCaitlin commented on #2453
@chiedey Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-03 19:20] MicrosoftCaitlin commented on #2454
Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #2427, where we are tracking this issue.

[2019-07-03 19:20] #2454 closed

[2019-07-03 19:21] MicrosoftCaitlin commented on #2455
The collaboration session was probably inactive. If this was not the case, please reopen the issue and provide more details about what happened.

[2019-07-03 19:21] #2455 closed

[2019-07-03 19:23] MicrosoftCaitlin commented on #2457
Duplicate of #1192

[2019-07-03 19:23] #2457 closed

[2019-07-03 19:38] Purian23 commented on #507
My issue reporting this got closed and this is an open active issue for over a year now on WSL is that right? The Remote-WSL tools only recently got published for my report.

[2019-07-04 07:49] zhouhangzooo opened #2458 "Live share issue"
What is the relationship between this github project and the live share plug-in in vscode? Is there open source code for live share plug-in in vscode?
Because the live share plug-in only has the out folder, not the src folder.

[2019-07-05 04:57] MicrosoftCaitlin commented on #2458
@zhouhangzooo This repository is just for feedback and documentation, the extension code isn't open source.

[2019-07-05 04:57] #2458 closed

[2019-07-05 04:59] MicrosoftCaitlin commented on #2276
Closing due to inactivity

[2019-07-05 04:59] #2276 closed

[2019-07-05 05:00] MicrosoftCaitlin commented on #2207
Closing due to inactivity.

[2019-07-05 05:00] #2207 closed

[2019-07-05 05:00] MicrosoftCaitlin commented on #2200
Closing due to inactivity.

[2019-07-05 05:00] #2200 closed

[2019-07-05 05:00] MicrosoftCaitlin commented on #2197
Closing due to inactivity.

[2019-07-05 05:00] #2197 closed

[2019-07-05 05:01] MicrosoftCaitlin commented on #2195
Closing due to inactivity.

[2019-07-05 05:01] #2195 closed

[2019-07-05 05:01] MicrosoftCaitlin commented on #2193
Closing due to inactivity.

[2019-07-05 05:01] #2193 closed

[2019-07-05 05:01] MicrosoftCaitlin commented on #2187
Closing due to inactivity.

[2019-07-05 05:01] #2187 closed

[2019-07-05 05:02] MicrosoftCaitlin commented on #2166
Closing due to inactivity.

[2019-07-05 05:02] #2166 closed

[2019-07-05 05:02] MicrosoftCaitlin commented on #2138
Closing due to inactivity.

[2019-07-05 05:02] #2138 closed

[2019-07-05 05:02] MicrosoftCaitlin commented on #2117
Closing as resolved.

[2019-07-05 05:02] #2117 closed

[2019-07-05 05:04] MicrosoftCaitlin commented on #2284
Tracking via #329

[2019-07-05 05:04] #2284 closed

[2019-07-05 05:46] kmasuyama commented on #61
I'm also looking for images to be supported over liveshare.

An image link to a local file working properly on my host vscode instance shows up as a broken link (thumbnail + alt text) on my guest instance. Using a web-hosted image link works fine.

Also, plantuml diagrams supported by the markdown-preview-enhanced extension shows up as `Error: write EPIPE`.

To reproduce:
1. install markdown-previ

[2019-07-05 23:39] just1and0 opened #2461 "[VS Code] Starting collaboration session: RPC connection closed."
Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-06 02:46] zhouhangzooo opened #2462 "Do I want to use the 'liveshare. Start' command without logging in?"
Do I want to use the 'liveshare. Start' command without logging in?

[2019-07-06 03:42] alma3lol opened #2463 "[VS Code] Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3364382/LiveShareLogs.zip)

Error:
Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.4

[2019-07-06 21:08] malibayram91 opened #2464 "[VS Code] Joining collaboration session: Request was cancelled"
Error:
Joining collaboration session: Request was cancelled

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-06 22:20] gnuis opened #2465 "[VS Code] [Audio] Calling module not available. The specified module could not be found.\\?\C:\Users\miktt\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.56\node_modules\slimcore-4.0\bin\slimcore.node"
Error:
Calling module not available. The specified module could not be found.
\\?\C:\Users\miktt\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.56\node_modules\slimcore-4.0\bin\slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.56|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|

[2019-07-07 04:21] humbienri commented on #2071
I am having the same, or similar issue as the original poster.  I tried deleting the extension folder `ms-vsliveshare.vsliveshare-1.0.488` out of the way but my VSCode still just hangs with the Source Control side panel with the overlayed clock on it.  And it never finishes synchronizing with GitHub, in my case. My VSCode version is 1.33.1 on Windows 10.  I run it portably, zip file, no installati

[2019-07-07 13:33] cynthiaiii4 opened #2466 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-07 14:42] murediane opened #2467 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-4.0'"
Error:
Calling module not available. Cannot find module 'slimcore-4.0'

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.56|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-07-07 15:55] yekanchi commented on #338
This is a great feature which will enhance response time in local networks and ability to work offline in places like hackatons

[2019-07-07 18:07] MicrosoftCaitlin commented on #2461
Duplicate of #1353

[2019-07-07 18:07] #2461 closed

[2019-07-07 18:08] MicrosoftCaitlin commented on #2463
Duplicate of #2216

[2019-07-07 18:08] #2463 closed

[2019-07-07 20:58] MicrosoftCaitlin commented on #2464
Duplicate of #469

[2019-07-07 20:58] #2464 closed

[2019-07-07 21:00] MicrosoftCaitlin commented on #2462
@zhouhangzooo You have to log in to use the Live Share: Start Collaboration Session command. See https://docs.microsoft.com/en-us/visualstudio/liveshare/use/vscode#sign-in

[2019-07-07 21:00] #2462 closed

[2019-07-07 21:01] MicrosoftCaitlin commented on #2467
Duplicate of #827

[2019-07-07 21:01] #2467 closed

[2019-07-07 21:05] MicrosoftCaitlin commented on #2466
@cynthiaiii4 Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-08 09:43] MinhajUsSalam opened #2468 "[VS Code] Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
Error:
Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-08 11:06] AbhilashGopalakrishna opened #2469 "[VS Code]"
**Error:**
VS live share does not show errors(red squiggly line) to non host.

||Version Data|
|-:|:-|
|**extensionName**|Live Share|
|**extensionVersion**|1.0.488|
|**protocolVersion**|don't know|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17763.404|

[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/336805

[2019-07-08 12:41] romanov1301 opened #2470 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-08 16:58] jahidhasanlinix opened #2471 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-generic|

[2019-07-08 18:30] #2469 closed

[2019-07-08 18:30] #2470 closed

[2019-07-08 18:30] MicrosoftCaitlin commented on #2468
Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-08 18:31] MicrosoftCaitlin commented on #2465
Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-08 18:32] #2471 closed

[2019-07-08 21:29] artfulhacker commented on #736
Looks like "experimental" was removed as an option and broke @hbenl's plugin. It is returning null every time. Where did this feature flag move to?

[2019-07-09 05:50] kmasuyama opened #2472 "Removing or closing inline comments"
Is there a way to mark comments as resolved/closed, or remove them completely?
For quick todos, it would be good to filter them out of the list of comments once they've been handled. Also, when a file with comments gets deleted, the comments remain in the list without a valid target.

On a related note, I've had one instance where a chain of comments disappeared from the list. The LiveShare sideba

[2019-07-09 06:01] lostintangent commented on #2472
Hey! Thanks for reaching out. Out of curiosity: have you been mostly using the comments feature for tracking todos during long-running Live Share sessions? This is a fairly new feature, so we’re always keen to hear how folks are using it.

Regarding your issue: the code comments don’t currently support being  “resolved”, but you can delete them. If you hover over a comment in the editor, you shoul

[2019-07-09 06:04] lostintangent commented on #736
We added the Test Explorer extension to an allow list in Live Share, and so it shouldn’t depend on the end-user setting a feature flag to work. Are you seeing otherwise in the public distro of VS Code?

That said, this feature flag is now called “liveshare.featureSet”, and the “experimental” setting is now called “insiders”.

[2019-07-09 06:30] newvishal opened #2473 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-09 07:10] kmasuyama commented on #2472
thanks for the quick response!

We've been using comments for todos and quick reviews in long-running sessions. For most cases, deleting would work fine. It might be nice to keep history with a resolved comment if some major decision is made during discussions, but we haven't actually run into that yet, and it may be better to copy such discussions to some other location (pull request or other doc

[2019-07-09 12:28] 5nafu commented on #1432
@Chuxel Are you sure, this is a duplicate? As far as I understood #341, the difference here is a complete on-prem solution (as in not traffic via external resources), while #341 looks only at the authentification, while still using the Microsoft services for sharing.

[2019-07-09 12:36] allendcr commented on #341
One more for "totally disconnected environment" - LiveShare would be huge for us but t's currently DOA

[2019-07-09 14:28] petergi commented on #591
I was experiencing the same issue on macOS Mojave bu thanks to the suggestion above (looking at the logs), was able to get it to work. You best bet is to `rm -rf '/Users/whatever/.vscode/extensions/ms-vsliveshare.vsliveshare-audio-X.X.XX' and then restart vscode. It should give it the kick in the pants it needs. Well, it did for me. Hope this helps... someone.

[2019-07-09 15:01] A-Style opened #2474 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-07-09 15:57] CodefulDom opened #2475 "LiveShare Audio not updating"
**Product and Version** [VS/VSCode]: Version 1.36.0 (1.36.0)
**OS Version** [macOS/Windows]: macOS
**Live Share Extension Version**: 0.1.56
**Target Platform or Language** [e.g. Node.js]: JavaScript
[liveshare.zip](https://github.com/MicrosoftDocs/live-share/files/3373565/liveshare.zip)

**Steps to Reproduce / Scenario:**
1. Start VS Code or Insiders - My problem existed on both platforms
2. Updat

[2019-07-09 16:06] CodefulDom commented on #591
@petergi I literally just filed an issue with that same fix!
https://github.com/MicrosoftDocs/live-share/issues/2475

[2019-07-09 16:18] neildo opened #2476 "[VS Code] Joining collaboration session: connect ENOENT /var/folders/x7/9x9bynws7116s5cgz3pd7w21mx7n5g/T/CoreFxPipe_vscode.f6359146d91d5759b181af72b65cbd2f"
Error:
Joining collaboration session: connect ENOENT /var/folders/x7/9x9bynws7116s5cgz3pd7w21mx7n5g/T/CoreFxPipe_vscode.f6359146d91d5759b181af72b65cbd2f

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.6.0

[2019-07-09 17:52] EthanJStark commented on #368
I'm also having this problem. I'm able to access download.microsoft.com

MacOS Mojave

[2019-07-09 17:56] fubaduba opened #2477 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3374216/LiveShareLogs.zip)

|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-09 18:39] while1malloc0 opened #2478 "[VS Code] Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1. Install Live Share extension
2. Click on one of the contacts
3. Sign into Github when prompted
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3374408/LiveS

[2019-07-09 22:37] peterblazejewicz opened #2479 "Resource token seems to be broken for Output panel in the latest VSCode"
**Product and Version** [VSCode]: Version 1.36.1 (1.36.1) (also in Insiders build)
**OS Version** [macOS/Windows]: Mac OS Mojave
**Live Share Extension Version**: Version 1.36.1 (1.36.1)
**Target Platform or Language** [e.g. Node.js]: n/a

**Steps to Reproduce / Scenario:**
1. Install extension
2. Open `Output` ('Toggle Ouptut`)
3. Open the target output list
4. See extension title rendered as `%e

[2019-07-09 23:35] daytonellwanger commented on #2479
Thanks for reporting @peterblazejewicz ! We'll tackle this for our next release.

[2019-07-10 05:44] snsrajeshkumar opened #2480 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-gen

[2019-07-10 08:54] zero0029 opened #2481 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-10 09:27] bixu opened #2482 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
I suspect this issue is related to a proxy service my colleagues sit behind, but I don't know details about the proxy itself. I do know at least that this proxy blocks WebSockets connections, or at least breaks them.

[code]

Also:
[code]

Steps to Reproduce:
1. Start a LiveShare sessions that crosses a proxy boundary with packet inspection and that blocks WebSockets?
2. Wait for a failure?

||Ver

[2019-07-10 09:30] bixu commented on #2482
Turns out there was physical network disruption on the other end of the session.

[2019-07-10 09:30] #2482 closed

[2019-07-10 09:31] LiberaLongo opened #2483 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
Error:
Starting collaboration session: Could not connect to the server. Check that you are connected to the internet.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-generic|

[2019-07-10 12:41] johnschult commented on #1627
No movement since February on this? This is affecting us also. Behind corporate proxy. HTTP_PROXY is set.

[2019-07-10 12:51] johnschult opened #2484 "[VS Code] [Audio] StartCall"
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/3377492/logs.zip)

Error:
StartCall

Steps to Reproduce:
1. Start a Live Share session
2. Audio tries to start, but never does
3. Click on `Start audio call...`

I am on a corporate VPN and HTTP_PROXY is set properly. This happens every time I try to use audio. Audio tries to start when new Live Share session is started, but never does a

[2019-07-10 13:28] fannyaqmarina opened #2485 "[VS Code] Joining collaboration session: Cannot start 'JoinWorkspaceAsync' while 'JoinWorkspaceAsync' is running."
Error:
Joining collaboration session: Cannot start 'JoinWorkspaceAsync' while 'JoinWorkspaceAsync' is running.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-10 13:58] artfulhacker commented on #736
In @hbenl plugin `vsls.LiveShare.shareService(...)`  throws null and doesn't work after a recent update of live share. Tested on multiple machines.

"Could not create a shared service. You have to set "liveshare.features" to "experimental" in your user settings in order to use this extension."

see https://github.com/hbenl/vscode-test-explorer-liveshare/blob/master/src/main.ts

[2019-07-10 15:17] Tin-Mijatovic opened #2486 "[VS Code] Starting collaboration session: RPC connection closed."
Error:Starting collaboration session: RPC connection closed.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.488||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.32.3||**platformName**|MacOS||**platformVersion**|18.6.0|

[2019-07-10 19:23] daytonellwanger commented on #2473
Hey @newvishal , could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-10 19:24] daytonellwanger commented on #2474
Hey @A-Style , could you provide some more info about what you filed an issue for?

[2019-07-10 19:26] daytonellwanger commented on #2476
Could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-10 19:26] daytonellwanger commented on #2477
Hey @fubaduba , could you provide some more info about what you filed an issue for?

[2019-07-10 19:27] daytonellwanger commented on #2477
Going to close for now. Please reopen if this issue persists.

[2019-07-10 19:27] #2477 closed

[2019-07-10 19:28] daytonellwanger commented on #2478
@Priya91 could you take a look?

[2019-07-10 19:30] daytonellwanger commented on #2480
Closing as dupe of [2179](https://github.com/MicrosoftDocs/live-share/issues/2179).

[2019-07-10 19:30] #2480 closed

[2019-07-10 19:30] daytonellwanger commented on #2481
Hey @zero0029 , could you provide some more info about what you filed an issue for?

[2019-07-10 19:32] daytonellwanger commented on #2483
Closing as dupe of [2339](https://github.com/MicrosoftDocs/live-share/issues/2339).

[2019-07-10 19:32] #2483 closed

[2019-07-10 19:33] daytonellwanger commented on #1627
@jramsay has been working in this area. Jason, any updates or ETAs on this issue?

[2019-07-10 19:33] daytonellwanger commented on #2484
@jramsay

[2019-07-10 19:35] daytonellwanger commented on #2485
Closing as dupe of [1855](https://github.com/MicrosoftDocs/live-share/issues/1855). Please join the conversation there.

[2019-07-10 19:35] #2485 closed

[2019-07-10 19:37] daytonellwanger commented on #2486
Closing as dupe of [2421](https://github.com/MicrosoftDocs/live-share/issues/2421).

PS @setaskin , could you take a look at the broken formatting on the template.

[2019-07-10 19:37] #2486 closed

[2019-07-10 20:04] setaskin commented on #2486
@daytonellwanger , sure I will take a look

[2019-07-10 20:28] jamesmcguirepro opened #2487 "VS CodeLens Support"
Would like CodeLens support when connecting to a remote Live Share session.

[2019-07-10 20:43] Jimmydalecleveland opened #2488 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
### Logging in through Github does not work, at all, in any way that could be imagined.

Error:
Starting collaboration session: An error was encountered while querying information from the operating system.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1

[2019-07-10 20:44] #2488 closed

[2019-07-10 20:46] daytonellwanger commented on #2487
Hey @jamesmcguirepro , this is something that Live Share supports (in VS Code). Where are you seeing it not working?

[2019-07-10 20:47] daytonellwanger commented on #2488
Hey @Jimmydalecleveland , did you finally get things to work? What was the problem/solution?

[2019-07-10 21:15] nolanblew commented on #2487
@daytonellwanger I can't speak for James, but I'm not seeing it in Visual Studio 2019 (I have professional). Haven't tried it in VS code, but my team works in VS2019

[2019-07-10 21:20] daytonellwanger commented on #2487
We don't yet support Code Lens in VS for the guest in a Live Share session. It's on our backlog! I would estimate it's about 3 months out.

[2019-07-10 21:33] jamesmcguirepro commented on #2487
Thanks @daytonellwanger.  I am also using VS2019

[2019-07-11 00:01] IlyaBiryukov commented on #2472
The issue with missing comments in COMMENTS list is a VSCode bug, https://github.com/microsoft/vscode/issues/74589

The issue with missing delete button on the comments is another VSCode bug
https://github.com/microsoft/vscode/issues/75647

The behavior of the collapsing/expanding comment threads when several of them exist on the same line is a good feedback for VSCode too. Live Share acts as a co

[2019-07-11 06:36] legomushroom commented on #2479
Hi @peterblazejewicz, thanks for the feedback! We've fixed this for the next extension release, you will get the update soon. // cc @daytonellwanger

[2019-07-11 07:13] mxxt opened #2489 "[VS Code] Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
Error:
Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-11 07:43] sharadjoe opened #2490 "[VS Code] Starting collaboration session: Request was cancelled"
Error:
Starting collaboration session: Request was cancelled

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-25-generic|

[2019-07-11 12:58] burdier opened #2491 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-11 17:11] daytonellwanger commented on #2489
Closing as dupe of [1113](https://github.com/MicrosoftDocs/live-share/issues/1113).

[2019-07-11 17:11] #2489 closed

[2019-07-11 17:17] daytonellwanger commented on #2490
Could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-11 17:17] daytonellwanger commented on #2491
Could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-11 18:21] Clark5857 opened #2492 "[VS Code] Joining collaboration session: RPC connection closed."
Error:
Joining collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-11 19:07] daytonellwanger commented on #2492
Could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-11 22:24] daytonellwanger commented on #736
Hey @artfulhacker , I just created a sample VS Code extension and tried to share a service using the Live Share API - basically the same line that's in the code you linked - and didn't hit any problems. Note that I have `"liveshare.featureset": "insiders"` in my VS Code settings. Is the issue that it's returning `null` without that setting? Or is also returning `null` with that setting set?

[2019-07-12 06:10] meepobrother opened #2493 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-12 06:24] zhouhangzooo opened #2494 "Cannot read property 'isActive' of undefined"
I have no problem running liveshare in vscode, but there will be errors in vscode compilation and packaging.

[2019-07-12 06:35] zhouhangzooo commented on #2494
Using the 'liveshare.start' command occurred error.
Cannot read property 'isActive' of undefined

[2019-07-12 08:59] John0King opened #2495 "liveShare cause razor（cshtml） generate filename.g.cs in source folder"
liveShare cause razor（cshtml） generate filename.g.cs in source folder (not  obj folder)

**Product and Version** [VS]: 16.1.6
**OS Version** [Windows]: win 10 1903
**Live Share Extension Version**: 1.0.509
**Target Platform or Language**  : asp.net core 2.2 cshtml

**Steps to Reproduce / Scenario:**
1. share a workspace with otherone
2.  build the project

**Screenshots**
If applicable, add screen

[2019-07-12 13:19] infdahai commented on #843
I use wsl2 and get this error from source (PHP Language Features (Extension)).

btw, I install php docker in wsl2.

[2019-07-12 13:51] artfulhacker commented on #736
I only assume it is throwing null, this is the message I get (on multiple machines) which traces to that line setting something undefined. I have tried both insiders and stable, on both machines.

![image](https://user-images.githubusercontent.com/3683852/61132924-3c36e100-a471-11e9-9058-6c3381ad66a2.png)

Does the live share test explorer extension load without that notification for you?

[2019-07-12 14:36] leorochael opened #2496 "[VS Code] LiveShare autofocus all guests on debugging stop"
**Product and Version**: VSCode 1.36.1
**OS Version**: Ubuntu 18.10
**Live Share Extension Version**: 1.0.509
**Target Platform or Language**: Any (but tested on Python)

**Steps to Reproduce / Scenario:**
1. Start a LiveShare Session (the host session)
2. Create a new VS Code window (File > New Window)
3. Join a LiveShare Session on the new window by pasting the Live Share link from the host sess

[2019-07-12 14:52] leorochael commented on #2496
As discussed with @ronglums and @luabud.

[2019-07-12 17:12] Clark5857 commented on #2492
Yes. I get dropped out sessions every time I try to connect.

On Thu, Jul 11, 2019 at 1:07 PM Dayton Ellwanger <notifications@github.com>
wrote:

[2019-07-12 17:22] daytonellwanger commented on #736
Yes, the Live Share test explorer extension is working for me.
![testexplorer](https://user-images.githubusercontent.com/6383490/61146458-f5f07a80-a48e-11e9-9c47-d1da2e29ada9.gif)

[2019-07-12 17:24] daytonellwanger commented on #2492
Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-12 17:25] daytonellwanger commented on #2493
Could you provide some more details about the issue you hit?

[2019-07-12 17:29] daytonellwanger commented on #2494
Hey @zhouhangzooo , could you provide step-by-step instructions on how I can reproduce the issue you're seeing? Thanks!

[2019-07-12 17:30] daytonellwanger commented on #2495
Hey @John0King , thanks for reporting and sorry for the inconvenience. We're looking into it.

[2019-07-12 17:32] daytonellwanger commented on #2496
Thanks for the excellent issue description 😃. @jramsay what are your thoughts?

[2019-07-12 18:06] Clark5857 opened #2497 "[VS Code] Joining collaboration session: RPC connection closed."
Error:
Joining collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-12 18:10] Clark5857 commented on #2492
I submitted the issue to my Github. I am able to join the session but then
I get kicked out after 15 minutes or so.

On Fri, Jul 12, 2019 at 11:24 AM Dayton Ellwanger <notifications@github.com>
wrote:

[2019-07-12 18:15] parkerault commented on #2140
@jasongin are you aware of any efforts to upgrade the .NET Core dependency, and if so when that will be released? My team uses WSL for all of our dev environments and we can't use live share because of this bug.

[2019-07-12 18:55] daytonellwanger commented on #2497
Closing as dupe of [2492](https://github.com/MicrosoftDocs/live-share/issues/2492). Please join the conversation there.

[2019-07-12 19:37] brionak opened #2498 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-12 19:42] DavidAgudeloValencia opened #2499 "[VS Code] Joining collaboration session: Agent terminated with exit code: 0 and signal null:"
Error:
Joining collaboration session: Agent terminated with exit code: 0 and signal null:

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.15063|

[2019-07-12 20:20] Clark5857 commented on #2497
I don’t know what that means.

On Fri, Jul 12, 2019 at 12:55 PM Dayton Ellwanger <notifications@github.com>
wrote:

[2019-07-12 20:47] daytonellwanger commented on #2497
Someone else posted the same issue, which I shared the link to. In order to consolidate the conversation, we'll be discussing the issue on the other thread.

[2019-07-12 23:06] xuanhoang77 opened #2500 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-13 00:28] #2497 closed

[2019-07-13 00:28] daytonellwanger commented on #2498
Hey @brionak , is it possible that the host ended the session before you tried to join?

[2019-07-13 00:29] daytonellwanger commented on #2499
Could you provide some more information about what you were doing when this happened? Does this consistently happen for you?

[2019-07-13 00:29] daytonellwanger commented on #2500
Could you describe your issue in more detail?

[2019-07-13 08:36] nyonyojoe opened #2501 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
Error:
Starting collaboration session: Could not connect to the server. Check that you are connected to the internet.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.0|
|**platformName**|Linux|
|**platformVersion**|4.19.49-1-MANJARO|

[2019-07-13 13:47] aasmpro opened #2502 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
Error:
Starting collaboration session: Could not connect to the server. Check that you are connected to the internet.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Linux|
|**platformVersion**|5.1.16-1-MANJARO|

[2019-07-13 14:53] rispeed opened #2503 "[VS Code] Cannot read property 'sessionId' of undefined"
Error:
Cannot read property 'sessionId' of undefined

Steps to Reproduce:
1.clicked on liveshare participant -> follow to the side
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.1.16-200.fc29.x86_64|

[2019-07-13 18:56] waseeld opened #2504 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-14 00:01] ShengZhangCN opened #2505 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-gen

[2019-07-14 00:01] #2505 closed

[2019-07-14 13:40] sharadjoe commented on #2490
I solve it

[2019-07-14 13:40] #2490 closed

[2019-07-14 16:07] spindensity opened #2506 "[VS Code] DeprecationWarning: Buffer() is deprecated due to security and usability issues"
Error:
![Snipaste_2019-07-14_23-57-42](https://user-images.githubusercontent.com/33576822/61186067-551edc80-a693-11e9-9076-8fbc7b38020d.png)

Steps to Reproduce:
1. Install live share extension pack;
2. Open Developer Tools;
3. See error as above;
4. Disable all live share extensions, the error would be gone.

||Version Data|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersi

[2019-07-15 03:16] TouanAin opened #2507 "[VS Code] Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again"
Error:
Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.16299|

[2019-07-15 04:29] beingroush opened #2508 "[VS Code] Starting collaboration session: Unable to get user information"
Error:
Starting collaboration session: Unable to get user information

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.488|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-15 09:28] jesen123 opened #2509 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-07-15 16:20] daytonellwanger commented on #2501
We're tracking this issue over at [2339](https://github.com/MicrosoftDocs/live-share/issues/2339). Could you join the conversation there?

[2019-07-15 16:20] #2501 closed

[2019-07-15 16:21] daytonellwanger commented on #2502
We're tracking this issue over at [2339](https://github.com/MicrosoftDocs/live-share/issues/2339). Could you join the conversation there?

[2019-07-15 16:21] #2502 closed

[2019-07-15 16:25] daytonellwanger commented on #2503
Thanks for the repro steps @rispeed . Unfortunately, they're not reproducing the issue for me. Your logs may provide a better idea of what's going on. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-15 16:25] daytonellwanger commented on #2504
Hey @waseeld , is it possible that this was a valid error message? Were you eventually able to connect?

[2019-07-15 16:27] daytonellwanger commented on #2506
Thanks for reporting! I'm seeing the same thing. I'll investigate.

[2019-07-15 16:27] daytonellwanger commented on #2507
Have you continued to get this error message?

[2019-07-15 16:28] daytonellwanger commented on #2508
Could you provide some instructions on how we can reproduce this issue? Alternatively, your logs may provide us with enough information to figure out what's going on. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-15 16:28] daytonellwanger commented on #2509
Could you provide some more details about the error you hit?

[2019-07-15 16:34] waseeld commented on #2504
yes

[2019-07-15 16:37] daytonellwanger commented on #2504
Great! I'll close for now. If you hit something that looks like an issue with the product, or have suggestions on how we could improve the experience, please reopen or create a new issue.

[2019-07-15 16:37] #2504 closed

[2019-07-15 16:44] abiodunjohnson opened #2510 "[VS Code] Joining collaboration session: Request was cancelled"
Error:
Joining collaboration session: Request was cancelled

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.10240|

[2019-07-15 17:12] Moniarchy commented on #1976
I'm closing this issue due to inactivity and lack of information. If you hit this problem again, please feel free to reopen.

[2019-07-15 17:12] #1976 closed

[2019-07-15 17:14] Moniarchy commented on #1981
I'm closing this issue due to inactivity and lack of information. If you hit this problem again, please feel free to reopen.

[2019-07-15 17:14] #1981 closed

[2019-07-15 17:14] Moniarchy commented on #1987
I'm closing this issue due to inactivity and lack of information. If you hit this problem again, please feel free to reopen.

[2019-07-15 17:14] #1987 closed

[2019-07-15 17:14] jasongin commented on #2140
@Priya91 Any thoughts?

I think one reason we'd hesitate to move to 2.2 is because 2.1 is LTS while 2.2 is not. So if we moved to 2.2, we would have to move again to 3.0 or 3.1 within a few months, because 2.2 support expires at the end of this year according to https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2019-07-15 17:17] Moniarchy commented on #2510
Thanks for reporting this, @abiodunjohnson. Can you tell me more about what you were doing when you encountered this error? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-15 19:00] henkesteen commented on #2105
@Priya91
Hi again!
I think I found the solution to this.
Posted in https://github.com/dotnet/corefx/issues/37815
If this is the solution, maybe the Live Share Solus Linux documentation should be updated

[2019-07-15 20:51] malibayram91 opened #2511 "[VS Code] Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
Error:
Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**

[2019-07-15 21:03] Moniarchy commented on #2511
Thanks for reporting this, @malibayram91. Are either of you behind a proxy? Do you see this error often? Did restarting the collaboration session fix this issue for you? I'm going to close this as a duplicate of #1192, but if you hit this again, feel free to open this issue again. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from

[2019-07-15 21:03] #2511 closed

[2019-07-16 01:19] NXDH927 opened #2512 "[VS Code] Joining collaboration session: Server error"
Error:
Joining collaboration session: Server error

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-16 01:25] kmasuyama opened #2513 "Drag and drop image files into live share"
**Product and Version** [VS/VSCode]: vscode 1.36.1
**OS Version** [macOS/Windows]: windows 10
**Live Share Extension Version**: 1.0.509

It is possible for a client to add a file into a live share-served folder by dragging and dropping into the explorer (tested successfully with markdown document). However, this does not seem to work with image files or other binary formats. File sizes are seen to

[2019-07-16 05:41] sterd2006 opened #2514 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.14393|

[2019-07-16 05:42] kmasuyama commented on #36
I noticed that the guest source control does not update while the host is inactive. I was testing the diffing behavior using a remote host via remote desktop. Specifically, the guest source control did not reflect updates while:

- the vscode window on the host was minimized in an active remote desktop session
- the host vscode window remained open but another window was active
- the remote deskto

[2019-07-16 08:39] ezPramerta opened #2515 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-16 12:28] alxolr opened #2516 "[VS Code] Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
Error:
Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**

[2019-07-16 13:39] Jayden-ASC5 opened #2517 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-16 14:09] ntjules opened #2518 "[VS Code] Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Starting collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**plat

[2019-07-16 17:02] nazrhyn commented on #2071
I'm also seeing a similar hang at:

I tried removing the extension directory and reinstalling, but no dice there.

Here's my system info:

Extension versions:
* Extension Pack 0.3.2
* Live Share Audio 0.1.59
* Live Share 1.0.509

[2019-07-16 17:19] davidcorbin commented on #91
Would love to see live share for Mac as well!

[2019-07-16 17:19] Moniarchy commented on #2512
Thanks for reporting this, @NXDH927. Can you tell me more about what you were doing when you saw this error? Are you behind a proxy? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-16 17:23] Moniarchy commented on #2513
Adding @lostintangent

[2019-07-16 17:25] Moniarchy commented on #2514
@sterd2006 Can you provide more information about the error that you experienced?

[2019-07-16 17:28] Moniarchy commented on #2515
Thanks for reporting this, @ezPramerta. Can you tell me more about what happened when you saw this issue? Were you eventually able to connect?

[2019-07-16 17:29] Moniarchy commented on #2516
Thanks for reporting this, @alxolr. Were you eventually able to connect to the host and join the collaboration session?

[2019-07-16 17:32] Moniarchy commented on #2517
Thanks for reporting this, @Jayden-ASC5. We usually see this error when a chat or e-mail client changes or shortens the Live Share link. One way to work around it is to paste the link you received directly in the browser instead of the IDE. We also have an effort ongoing to support as many chat and e-mail client links as possible. Can you give us more details about your scenario? How did you recei

[2019-07-16 17:44] Moniarchy commented on #2518
Thanks for reporting this, @ntjules. I'm going to close this as a duplicate of #2478. Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #2478.

[2019-07-16 17:44] #2518 closed

[2019-07-17 00:16] parkerault commented on #2140
Since 3.1 is released in November, is it safe to say that live share won't be usable from WSL until the end of 2019 or early 2020?

[2019-07-17 07:36] rvibek opened #2519 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
Error:
Starting collaboration session: An error was encountered while querying information from the operating system.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.4.0-17763-Microsoft|

[2019-07-17 07:54] alxolr commented on #2516
Yes finally we did, not sure what was the issue.

[2019-07-17 10:17] hyansuper opened #2520 "enable guests to execute python code interactively in the terminal"
I am teaching python and I use vscode for education purpose. so I have the python extension, and I am able to select python code and right click, select "Run Selection/Line in Python Terminal".

Now if I live share with my students, the python terminal is also shared automatically. but only I am able to execute code in the shared python termial. If a guest select python code and right click, and s

[2019-07-17 10:26] devyacine opened #2521 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-20-generic|

[2019-07-17 12:04] abumalick commented on #1199
It just happened to me too, I invited a friend, we worked together, when I pressed the red cross he got kicked.

After that I stopped the session and created a new one, when he tried to join he kept getting "The host of the workspace seems to be offline." and could not join.

I didn't try to reinstall the extension.

[2019-07-17 12:37] abumalick commented on #1199
After reinstalling the extension it worked

[2019-07-17 17:20] Moniarchy commented on #2519
Thanks for reporting this issue, @rvibek. This looks like a duplicate of #507, so I'm going to close this. Can you take a look at the discussion there?

[2019-07-17 17:20] #2519 closed

[2019-07-17 17:25] Moniarchy commented on #2521
Thanks for reporting this, @devyacine. Is it possible that the host ended the session before you tried to join it? What were you doing at the time that this happened?

[2019-07-17 19:29] derrickso commented on #1268
Running into this error. I attached the logs. Not sure if its the same issue.

[logs.zip](https://github.com/MicrosoftDocs/live-share/files/3403490/logs.zip)

[2019-07-17 21:01] jimmyandrade opened #2522 "[VS Code] Joining collaboration session: Workspace ID B275F7ABAD2FAB6001D85AF8EE45D848921C not found at this host.Parameter name: Id"
Error:
Joining collaboration session: Workspace ID B275F7ABAD2FAB6001D85AF8EE45D848921C not found at this host.
Parameter name: Id

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.37.0-insider|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-17 22:23] jasongin commented on #2140
We've decided to go ahead and move to 2.2 now. @Priya91 is working on it.

[2019-07-17 23:14] Landino06 opened #2523 "[VS Code] Joining collaboration session: RPC connection closed."
Error:
Joining collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-17 23:46] leorochael opened #2524 "Live sharing with yourself limited to two windows"
**Product and Version**: VSCode 1.36.1
**OS Version**: Ubuntu 18.10
**Live Share Extension Version**: 1.0.509
**Target Platform or Language**: Any (but tested on Python)

**Steps to Reproduce / Scenario:**
1. Start a LiveShare Session (the host session)
2. Create a new VS Code window (File > New Window)
3. Join a LiveShare Session on the new window by pasting the Live Share link from the host sess

[2019-07-17 23:52] leorochael commented on #2496
Maybe microsoft/vscode#77213 can help or at least alleviate, but if workspace specific settings are honored by Live Share guests, then it will help only if the guest sessions enable that setting globally instead of in the workspace, where it would interfere with autofocus on stop with the host which should keep working.

Cc @joaomoreno who coauthored microsoft/vscode#77213.

[2019-07-18 09:41] kmasuyama commented on #1965
I'm seeing this issue pop up on the following system (guest and host):
vscode 1.36.1
live share 1.0.540

window log message
[code]

[2019-07-18 10:22] Ranjana26 opened #2525 "[VS Code] Joining collaboration session: Incorrect join ID: 300d2370912aa367dcd7d7bffcfe4753d33a"
Error:
Joining collaboration session: Incorrect join ID: 300d2370912aa367dcd7d7bffcfe4753d33a

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-18 10:24] Ranjana26 commented on #1984
there are less than 5 users still getting the error

[2019-07-18 11:54] YoubaBybel opened #2526 "[VS Code] Removing Terminal: Service not available: terminal"
Error:
Removing Terminal: Service not available: terminal

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.509|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-18 12:08] jacobjuul opened #2527 "[VS Code] Starting collaboration session: Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified."
Error:
Starting collaboration session: Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|

[2019-07-18 16:51] ghills commented on #1392
@jramsay I am having the same problem when trying to start a debugging session from a live share instance in VSCode. The host is Visual Studio 2019 with an ASP.NET MVC project.

VSCode (client) live share extension version: 1.0.540
VS 2019 (host) live share extension version: 1.0.182.1

I have the startup project selected correctly in Visual Studio. In VSCode I switched the selected configuration

[2019-07-18 17:24] Moniarchy commented on #2522
Thanks for reporting this, @jimmyandrade. Can you tell me more more about what happened? Were you eventually able to join a session? Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-18 17:27] Moniarchy commented on #2523
Thanks for reporting this, @Landino06. Can you tell me more about what happened? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-18 17:47] Moniarchy commented on #2524
Hey @leorochael, thanks for opening up this issue. We do have a workaround for this. In your home directory, create a file `.vs-settings-json`, and add this property to it: `{ "joinInNewWindow": false }`

Let me know if that does what you're looking for.

[2019-07-18 17:57] MisterC-Rogers opened #2528 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-18 18:36] BryanDungan opened #2529 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:Joining collaboration session: Collaboration session not found.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.540||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.32.3||**platformName**|MacOS||**platformVersion**|18.6.0|

[2019-07-18 18:47] IlyaBiryukov commented on #2520
Thanks for your feedback, @hyansuper
`Run Selection/Line in Python Terminal` command must be contributed by some Python VSCode extension. It must not be aware of Live Share, and so it executes the command in local terminal. It would be a good suggestion to send their way.

Guests in Live Share session generally cannot start new terminals on the host, this is a security feature of Live Share. A sol

[2019-07-18 19:11] Moniarchy commented on #2525
Thanks for reporting this, @Ranjana26. Can you tell me more about what happened? Were you able to join the collaboration session eventually? Did the host try restarting the session? Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-18 19:12] Moniarchy commented on #2526
Thanks for reporting this, @YoubaBybel. Can you tell me what you were trying to do when you saw this message? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-18 19:21] magomed7890 opened #2530 "[VS Code] command 'liveshare.exportLogs' not found"
Error:
command 'liveshare.exportLogs' not found

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.10586|

[2019-07-18 19:23] Moniarchy commented on #2527
Thanks for reporting this, @jacobjuul. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-18 19:26] Moniarchy commented on #2528
Thanks for reporting this, @MisterC-Rogers. Can you tell me more about what happened when you saw this issue? Were you eventually able to connect?

[2019-07-18 19:28] Moniarchy commented on #2516
Glad to hear that this was resolved! I'm going to close this issue, feel free to reopen it or create a new issue if this problem resurfaces.

[2019-07-18 19:28] #2516 closed

[2019-07-18 19:30] Moniarchy commented on #2529
Thanks for reporting this, @BryanDungan. Is it possible that the host ended the session before you tried to join it? What were you doing at the time that this happened? Were you ever able to join a session?

[2019-07-18 19:31] BryanDungan commented on #2529
He's right next to me, so no

On Thu, Jul 18, 2019, 3:30 PM Monica Williams <notifications@github.com>
wrote:

[2019-07-18 19:32] BryanDungan commented on #2529
It happens randomly.

On Thu, Jul 18, 2019, 3:30 PM Monica Williams <notifications@github.com>
wrote:

[2019-07-18 19:38] Moniarchy commented on #2530
Thanks for reporting this, @magomed7890.
This could be an issue due to a deprecated download of the latest version. Can you try the following and let me know if it resolves the issue:

1. From VS Code uninstall VS Live Share.
2. Close VS Code
3. Ensure the VS Live Share extension is completely removed from the .vscode extensions directory. For windows that should be at this location: %USERPROFILE%

[2019-07-18 20:10] khurom opened #2531 "[VS Code] Starting collaboration session: An error was encountered while querying information from the operating system."
Error:
Starting collaboration session: An error was encountered while querying information from the operating system.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.4.0-43-Microsoft|

[2019-07-18 20:39] Moniarchy commented on #2531
Thanks for reporting this issue, @khurom. This looks like a duplicate of #507, so I'm going to close this. Can you take a look at the discussion there? It would help us investigate the issue if you attach your logs too. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #507.

[2019-07-18 20:39] #2531 closed

[2019-07-18 20:44] Moniarchy commented on #2529
Your logs might provide us with more information on this issue. If you experience it again, can you attach them here so I can take a look? It would be best to get your logs and his. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-19 00:12] hyansuper commented on #2520
Thank you for the reply. I am talking about the sharing jupyter notebook interactive window. I will try asking similar question to the python extension github

[2019-07-19 00:39] lostintangent commented on #2520
@hyansuper Thanks for reaching out! The Python extension team actually did work to make that interactive window shared, so I’m curious if something broke 🤔 The scenario you mentioned is absolutely something we want to enable, so we should look into it.

// CC @richchiodos

[2019-07-19 07:19] AppreYuyaShibakura opened #2532 "[VS Code] Joining collaboration session: サーバーに接続できませんでした。インターネットに接続していることを確認してください。"
Error:
Joining collaboration session: サーバーに接続できませんでした。インターネットに接続していることを確認してください。

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-19 11:28] solheeing opened #2533 "[VS Code] Opening Server in Browser: Service not available: portForwarding"
Error:
Opening Server in Browser: Service not available: portForwarding

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-19 11:28] #2533 closed

[2019-07-19 12:37] blogux opened #2534 "Not supported when trying to update."
Trying to update after fresh VS2019 ENTERPRISE install. Failed. After log investigation see :

Supported Products :
7/19/2019 3:25:38 PM - 		Microsoft.VisualStudio.Community
7/19/2019 3:25:38 PM - 			Version : [15.0.27220,)
7/19/2019 3:25:38 PM -
7/19/2019 3:25:38 PM - 	References         :

So, it fails with error.

[2019-07-19 14:16] beginerbeginer opened #2535 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-19 14:30] #2535 closed

[2019-07-19 15:02] mbela-kevinn98 opened #2536 "Kevinn.mbela"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-generic|

[2019-07-19 15:04] mbela-kevinn98 commented on #2536
mon depo

[2019-07-19 15:05] #2536 closed

[2019-07-19 15:06] mbela-kevinn98 opened #2537 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-generic|

[2019-07-19 15:17] codefriar opened #2538 "Allow rendering the current user’s cursor (for live streaming)"
I'm using live-share for a live-coding stream. One of us shares our VSCode window through gotowebinar. However, whomever is sharing their screen does not have their cursor tagged with their name. I'd love the option to tell Live Share, to always tag the cursor, even your cursor, so that if you're sharing your screen, the viewers can see who's doing what.

[2019-07-19 15:29] lostintangent commented on #2538
@codefriar Hey! Live Share currently has a setting that allows always showing other people's cursor, regardless if they're typing/moving or not (see below). Would that be helpful here? It sounds like you also want to opt-in to showing your own cursor as well?

![image](https://user-images.githubusercontent.com/116461/61546951-42900480-a9ff-11e9-8edf-e255e5e58268.png)

[2019-07-19 15:31] rchiodo commented on #2520
The interactive window should work. The terminal won't as far as I know. However all guests and host must be on the same version of the Python extension.

[2019-07-19 17:13] Moniarchy commented on #2532
Thanks for reporting this, @AppreYuyaShibakura. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`cmd + shift + p`) and attach them to this issue.

[2019-07-19 17:15] Moniarchy commented on #2534
Thanks for reporting this, @blogux. Can you send me your logs so I can take a look at them as well? You can find your logs in the %TEMP%/VSFeedbackVSRTCLogs directory. You can email them to vsls-feedback@microsoft.com.

[2019-07-19 17:16] Moniarchy commented on #2537
Hey @mbela-kevinn98, can you tell me more about the issue that you saw?

[2019-07-20 03:05] RafaelTuber opened #2539 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-07-20 12:04] TheDevMinerTV commented on #1510
My extension host crashes upon starting VS Code, so I don't think that the audio part is related to the issue.

[2019-07-20 17:29] left4taco opened #2540 "Is it possible to set up self-hosted live-share server?"
Looks like nobody else has mentioned it before. My question is, is it possible to set up a self-hosted live-share server where every developers in our team can connect to?

Thank you guys. It's a wonderful tool.

[2019-07-21 02:05] worldofone opened #2541 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-21 15:04] hyansuper commented on #2520
In my case, the interactive window is not shared, the terminal is shared.
I close this issue and move to https://github.com/microsoft/vscode-python/issues/6647, I think it's more related to the python extension.

[2019-07-21 15:07] lostintangent commented on #2520
@hyansuper From the Live Share side, I’d be interested to hear more details about the class you’re teaching? Is it an intro to Python class? Are you teaching at a boot camp? University? Corporate training?

Also, aside from the issue with the Python REPL, have you run into any other issues? I’d love to make sure we help unblock your scenario as best as possible!

[2019-07-21 15:45] hyansuper commented on #2520
Thanks @lostintangent, It's a small class of kids at age around 12 or 13. I still experimenting with vscode with python and live share extension, so for I haven't any other issues.

[2019-07-21 16:36] sahar-hajijafari opened #2542 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-22 01:03] zmypython opened #2543 "[VS Code] Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。"
Error:
Starting collaboration session: 无法连接到服务器。请检查你是否已连接到 Internet。

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-07-22 05:46] tiffangchan19 opened #2544 "[VS Code] Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again"
Error:
Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-22 09:35] mhanuszh commented on #2540
I think [this](https://github.com/MicrosoftDocs/live-share/issues/2128) is an indirect answer.

[2019-07-22 11:20] JulianCamart opened #2545 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.540||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.28.2||**platformName**|Linux||**platformVersion**|4.15.0-38-generic|

[2019-07-22 12:43] titan2903 opened #2546 "[VS Code] Joining collaboration session: Agent terminated with exit code: 1 and signal null: The system cannot find the file C:\Users\user\.vscode\extensions\ms-vsliveshare.vsliveshare-1.0.540\dotnet_modules\vsls-agent.exe."
Error:
Joining collaboration session: Agent terminated with exit code: 1 and signal null: The system cannot find the file C:\Users\user\.vscode\extensions\ms-vsliveshare.vsliveshare-1.0.540\dotnet_modules\vsls-agent.exe.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVe

[2019-07-22 13:08] titan2903 opened #2547 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-22 13:18] titan2903 opened #2548 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.35.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-22 13:30] leorochael commented on #2524
Hi @Moniarchy, thank you for your contact. I tried the workaround, but that didn't seem to make any difference.

I tried it setting it both to `true` and to `false`.

I found it odd that the suggested file would be `~/.vs-settings-json` rather than, say, `~/.config/Code/User/settings.json`, so I tried to find an official setting with a name like `joinInNewWindow` to try to change it's value, but c

[2019-07-22 13:33] leorochael commented on #2524
@ronglums and @luabud, here is one of the multi-monitor issues we discussed during EuroPython, now filed under the Live Share repository.

[2019-07-22 16:08] Moniarchy commented on #2539
Thanks for reporting this, @RafaelTuber. Is it possible that the host ended the session before you tried to join it? What were you doing at the time that this happened? Were you ever able to join a session?

[2019-07-22 16:16] IanDesouza opened #2549 "[VS Code] [Audio] spawn EPERM"
Error:
spawn EPERM

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-22 16:38] Moniarchy commented on #2541
Hey @worldofone, can you tell me more about what the issue you ran into was? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 16:39] Moniarchy commented on #2547
Hey @titan2903, can you tell me more about what the issue you ran into was? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 16:39] Moniarchy commented on #2548
Closing as a duplicate of #2547.

[2019-07-22 16:39] #2548 closed

[2019-07-22 16:40] Moniarchy commented on #2542
Thanks for reporting this, @sahar-hajijafari. We usually see this error when a chat or e-mail client changes or shortens the Live Share link. One way to work around it is to paste the link you received directly in the browser instead of the IDE. We also have an effort ongoing to support as many chat and e-mail client links as possible. Can you give us more details about your scenario? How did you

[2019-07-22 16:45] Moniarchy commented on #2543
Thanks for reporting this issue, @zmypython. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 16:48] Moniarchy commented on #2544
Thanks for reporting this issue, @tiffangchan19. Did reloading solve your problem or are you continuing to see this error message? Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 16:50] Moniarchy commented on #2545
Thanks for reporting this, @JulianCamart. Were you eventually able to connect to the host? Was one you offline or did you have a bad internet connection? Your logs may also provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 16:56] Moniarchy commented on #2546
Thanks for reporting this, @titan2903. It looks like this might be due to a corrupted install. Can you try uninstalling Live Share and reinstalling it and tell me if that solves your problem? I also saw that you opened another issue, and it has no text, but I bet it's related to this problem. I'm going to close that issue, and we can talk in more detail here about what issue it is that you're faci

[2019-07-22 16:57] Moniarchy commented on #2547
I'm closing this issue because I believe it's related to #2546.

[2019-07-22 16:57] #2547 closed

[2019-07-22 16:59] Moniarchy commented on #2549
Thanks for reporting this, @IanDesouza. Can you tell me more about what you were doing when you ran into this? It would also be helpful for our investigation if you uploaded your logs here. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2019-07-22 17:21] jramsay commented on #2549
@IanDesouz: Thanks for reporting! I suspect what might be happening here is that our electron audio app is being blocked. Do you know if your environment blocks spawning of electron processes?  The logs mentioned above should help us confirm this.

[2019-07-22 17:46] jramsay commented on #1270
Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension,  can you tell me more about what you were doing when you encounter the issue? It would also be helpful for our investigation if you uploaded your logs here. You can access t

[2019-07-22 17:46] #1270 closed

[2019-07-22 17:51] jramsay commented on #2263
Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension,  can you tell me more about what you were doing when you encounter the issue? It would also be helpful for our investigation if you uploaded your logs here. You can access

[2019-07-22 17:51] #2263 closed

[2019-07-22 18:40] jramsay commented on #1627
@johnschult , @crstamps2: Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest release (0.1.60). Part of which was updating the calling library. Can you confirm you are still getting this issue on the latest update?

[2019-07-22 18:47] jramsay commented on #1796
@yogeek:  Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). We've replaced the library that I suspect was causing this issue. I'm going to close out this error but if you're still hitting the problem it would be much appreciated if you can reopen the issue with the updated logs.

[2019-07-22 18:47] #1796 closed

[2019-07-22 18:50] jramsay commented on #1856
Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension,  can you tell me more about what you were doing when you encounter the issue? It would also be helpful for our investigation if you uploaded your logs here. You can access

[2019-07-22 18:50] #1856 closed

[2019-07-22 20:57] jramsay commented on #1916
@zachdoty:  Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest _Live Share Audio_ extension release (0.1.60). I've tried to repro using Ubuntu 19.04 with the latest _VS Code_ and _VS Live Share Audio_ extension and haven't been able to repro. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the latest

[2019-07-22 21:00] jramsay commented on #1510
We have made some significant updates to our audio extension with the latest Live Share Audio extension release (0.1.60). I've tried to repro using Ubuntu 19.04 with the latest VS Code and VS Live Share Audio extension and haven't been able to repro. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the latest versions and see if this fixes your issue?

[2019-07-22 21:03] jramsay commented on #1998
@Xanter998: I'm going to close this issue for the time being. If you're still experiencing the issue we can reopen and continue the investigation. cheers.

[2019-07-22 21:03] #1998 closed

[2019-07-22 21:07] jramsay commented on #2057
Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest Live Share Audio extension release (0.1.60). I've tried to repro using Ubuntu 19.04 with the latest VS Code and VS Live Share Audio extension and haven't been able to repro. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the latest versions and see i

[2019-07-22 21:09] jramsay commented on #2100
@petenet001: I'm going to close this issue due to inactivity. If you're still experiencing this issue we can reopen and continue the investigation. Thanks!

[2019-07-22 21:09] #2100 closed

[2019-07-22 21:12] jramsay commented on #2021
@mohamedalzahaby: We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension please let me know and we can continue the investigation. Thanks!

[2019-07-22 21:12] #2021 closed

[2019-07-22 21:14] jramsay commented on #2054
Closing this issue as per the above comment. It was due to a known issue in VS Code.

[2019-07-22 21:14] #2054 closed

[2019-07-22 21:18] jramsay commented on #2110
@antoniott15:  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension it would be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach t

[2019-07-22 21:18] #2110 closed

[2019-07-22 21:43] jramsay commented on #2172
@1beb, @mohanmonu777:  Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest Live Share Audio extension release (0.1.60). I've tried to repro using Ubuntu 19.04 with the latest VS Code and VS Live Share Audio extension and haven't been able to repro. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the la

[2019-07-22 21:48] jramsay commented on #2181
@johnschult, @nephast: Thanks for flagging this issue! We have made some significant updates to our audio extension with the latest release (0.1.60). Part of which was to move away from SSL3. I'm going to close this issue but if you're still experiencing problems with the latest extension please let me know and we can continue the investigation. Thanks!

[2019-07-22 21:48] #2181 closed

[2019-07-22 21:49] jramsay commented on #2182
@LeandroHaraoka: Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension,  can you tell me more about what you were doing when you encounter the issue? It would also be helpful for our investigation if you uploaded your logs here

[2019-07-22 21:49] #2182 closed

[2019-07-22 21:55] jramsay commented on #2205
@gilesvessey: Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest Live Share Audio extension release (0.1.60). I've tried to repro on MacOS with the latest _VS Code_ and _VS Live Share Audio_ extension and haven't been able to hit the issue. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the latest ve

[2019-07-22 21:56] jramsay commented on #2210
@nguyenvanthi: Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension, it would be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command pale

[2019-07-22 21:56] #2210 closed

[2019-07-22 21:57] jramsay commented on #2241
@epereyra : Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension, it would be helpful for our investigation if you uploaded your logs here. You can access them via the Live Share: Export Logs command from the command palette (c

[2019-07-22 21:57] #2241 closed

[2019-07-22 21:58] jramsay commented on #2277
@mengbingchen0214: Thanks for reporting this issue! We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension, it would be helpful for our investigation if you uploaded your logs here. You can access them via the Live Share: Export Logs command from the command pal

[2019-07-22 21:58] #2277 closed

[2019-07-22 22:01] 1beb commented on #2172
I think it's best to close this one for now as my system has changes and I
won't be able to reproduce appropriately.

On Mon, Jul 22, 2019, 4:43 PM jramsay <notifications@github.com> wrote:

[2019-07-22 22:09] jramsay commented on #2437
@rtaft: Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I've tried to repro using Ubuntu 19.04 with the latest VS Code and VS Live Share Audio extension and haven't been able to repro. Can you try updating VS Code, and both the Live Share & Live Share Audio extensions to the latest versions and see if this fixes your

[2019-07-22 22:21] jramsay commented on #2450
@davidmatas: thanks for raising this issue! I'll see if I can get this to repro on our latest extension as we recently made some changes. If it still does, we should be able to disable the auto gain control setting that appears to be the culprit here.

[2019-07-22 22:26] jramsay commented on #2453
@chiedey: thanks for raising this issue!  I'm going to make it as a duplicate of #2172. If you're still hitting this issue with the latest audio extension we can consolidate the investigation on that issue. cheers.

[2019-07-22 22:26] #2453 closed

[2019-07-22 22:27] jramsay commented on #2465
@gnuis: Thanks for reporting this issue!  We have made some significant updates to our audio extension with the latest release (0.1.60). I'm going to close this issue but if you're still experiencing problems with the latest extension it would be helpfull for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ct

[2019-07-22 22:27] #2465 closed

[2019-07-22 23:24] jramsay commented on #2484
@johnschult: thanks for filing this issue! We have made some significant updates to our audio extension with the latest Live Share Audio extension release (0.1.60).

The above screenshot is definitely unexpected. I tried with the latest _Live Share_ and _Live Share Audio_ extensions on MacOs and I see the following entries in the dropdown:

Visual Studio Live Share
Visual Studio Live Share Audio

[2019-07-22 23:30] jramsay commented on #2450
@davidmatas: I was unable to repro on the quick test on my Mac with the latest extension. We did update the calling library in our latest release so perhaps this took care of the issue? Or maybe it is specific to a certain environment/configuration.  Can you try again with the latest _Live Share Audio_ extension 0.1.60 and let me know if you can still hit the issue? thanks!

[2019-07-23 02:13] megucuri opened #2550 "[VS Code] Joining collaboration session: RPC connection closed."
Error:Joining collaboration session: RPC connection closed.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.540||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.30.2||**platformName**|MacOS||**platformVersion**|18.0.0|

[2019-07-23 02:18] #2550 closed

[2019-07-23 02:18] megucuri commented on #2550
Uninstalled and installed again then it worked

[2019-07-23 02:45] shunqiziran888 opened #2551 "上传.jpg文件BUG"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**

1.共享后，客户端拖拽.jpg文件，出现jpg文件损坏的情况，怎么解决？

[2019-07-23 07:19] gruberrro opened #2552 "[VS Code] Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
Error:
Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-23 09:57] Mehdi-Adel opened #2553 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.540||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.28.2||**platformName**|Linux||**platformVersion**|4.15.0-38-generic|

[2019-07-23 10:42] hindlebane opened #2554 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-23 13:00] rispeed commented on #2503
It is not doing it again and I can follow to the side no problem.

[2019-07-23 13:00] #2503 closed

[2019-07-23 13:02] rispeed commented on #1205
I was looking for the same thing, a way to join two existing terminals together into a split

[2019-07-23 13:21] johnschult opened #2555 "[VS Code] [Audio] Expected 200 status code to get SkypeToken"
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/3422201/logs.zip)

Error:
Expected 200 status code to get SkypeToken

Steps to Reproduce:
1. Start collaboration session...
2. Start audio call...

FWIW, prior to trying this, I uninstalled the Live Share extensions and manually deleted any artifacts in `~/.vscode/extensions/ms-vsliveshare.*`.

There is no log output that I can see. Ther

[2019-07-23 13:23] johnschult commented on #2484
@jramsay I followed your instructions above and opened a new issue. This issue seems to be closed. Still not seeing any logging however. See #2555

[2019-07-23 13:23] johnschult commented on #2484
@jramsay I followed your instructions above and opened a new issue. This issue seems to be closed. Still not seeing any logging however. See #2555

[2019-07-23 13:23] #2484 closed

[2019-07-23 13:38] murlakatamenka commented on #2172
I no longer have this issue (which I reported [here](https://github.com/MicrosoftDocs/live-share/issues/2172#issuecomment-497503102)) and the call starts, I can manage my audio devices (speakers, mic), mute. I need to test the actual audio with a human being, but other than that it seems to be resolved. Thanks!

[2019-07-23 15:18] CollinsMuiruri opened #2556 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-gen

[2019-07-23 16:48] aagavin opened #2557 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.7.0|

[2019-07-23 16:48] #2557 closed

[2019-07-23 17:04] Maxim-Filimonov commented on #56
@lostintangent that seems a bit different as it doesn't record actions. Meaning it's impossible for people to reproduce the project on their computer without manually following along.

[2019-07-23 17:19] jramsay commented on #2172
@murlakatamenka: thanks, I'll close this out. If anyone reports it in the new release we can reopen and continue the investigation.

[2019-07-23 17:19] #2172 closed

[2019-07-23 17:36] IlyaBiryukov commented on #2552
Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-23 17:36] IlyaBiryukov commented on #2552
Resolving as a duplicate of #2468  Please attach the logs to that bug if you can get them.

[2019-07-23 17:36] #2552 closed

[2019-07-23 17:38] IlyaBiryukov commented on #2556
Duplicate of #2542

[2019-07-23 17:38] #2556 closed

[2019-07-23 17:39] IlyaBiryukov commented on #2554
Duplicate of #2529

[2019-07-23 17:39] #2554 closed

[2019-07-23 17:40] IlyaBiryukov commented on #2553
Duplicate of #2528.

[2019-07-23 17:40] #2553 closed

[2019-07-23 17:41] IlyaBiryukov commented on #2551
Translation:
After sharing, the client dragged the .jpg file and the .jpg file was damaged. How to solve it?

[2019-07-23 17:44] alexvsoliveira opened #2558 "[VS Code] Starting collaboration session: Cannot start 'ShareWorkspaceAsync' while 'ShareWorkspaceAsync' is running."
Error:
Starting collaboration session: Cannot start 'ShareWorkspaceAsync' while 'ShareWorkspaceAsync' is running.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-25-generic|

[2019-07-23 17:53] SSPlusUltra opened #2559 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-23 17:54] IlyaBiryukov commented on #2551
Thanks for reporting the bug, @shunqiziran888
Did you drag-n-drop a file within VSCode file explorer or from outside?
Was that on the client that joined the collaboration session, or on the client that shared the session?

Translated to:

感谢您报告错误，@ shunqiziran888
您是否在VSCode文件资源管理器中或从外部拖放文件？
是在加入协作会话的客户端上，还是在共享会话的客户端上？

[2019-07-23 19:10] jramsay commented on #2475
@CodefulDom: this is great! Thanks so much for the investigation! From the above I can repro an issue where if the install fails our removal of temp .asar files was failing. Thus, the Live Share Audio extension wasn't able to reinstall the required assets until the audio extension was manually deleted & reinstalled. The fix for this will be included in our next release.

[2019-07-23 19:10] #2475 closed

[2019-07-23 19:41] jramsay commented on #2555
@johnschult: thanks for testing this out! To initiate an audio call we need to obtain a SkypeToken.  Unfortunately the failed status code is not currently being logged (I've fixed this for our upcoming next release). In the interim, are you behind a proxy that blocks requests? You would need to be able to connect to the following host in order to obtain the required token:

https://authsvc-server.

[2019-07-23 19:50] jramsay commented on #2555
Also, I think your output logging looks better now. You will only see the _Live Share_ and _Live Share Audio_ output channels show up when Diagnostic Logging is enabled under Visual Studio Live Share user settings.

![image](https://user-images.githubusercontent.com/8161247/61742649-75603280-ad48-11e9-8f38-0541caa3394c.png)

[2019-07-24 07:26] tsitsiflora opened #2560 "[VS Code] Request was cancelled"
Error:
Request was cancelled

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-54-generic|

[2019-07-24 08:50] corock opened #2561 "[VS Code] Starting collaboration session: Request was cancelled"
Error:
Starting collaboration session: Request was cancelled

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-24 08:51] #2561 closed

[2019-07-24 13:42] ktroitskiy opened #2562 "[VS Code] Opening Server in Browser: Service not available: portForwarding"
Error:
Opening Server in Browser: Service not available: portForwarding

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Linux|
|**platformVersion**|5.0.0-20-generic|

[2019-07-24 16:15] samanyuneelson opened #2563 "[VS Code] Starting collaboration session: RPC connection closed."
Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.540|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-20-generic|

[2019-07-24 20:01] CodefulDom commented on #2475
@jramsay thanks for taking a look at it!!!!

[2019-07-25 00:49] IlyaBiryukov commented on #2563
Thanks for filing this issue. It seems like a duplicate of #2159. However, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p). If you can get the logs, please attach them to #2159

[2019-07-25 00:49] #2563 closed

[2019-07-25 00:51] IlyaBiryukov commented on #2562
Thanks for reaching out. This issue seems like a duplicate of #2430
 Your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to #2430.

[2019-07-25 00:51] #2562 closed

[2019-07-25 04:05] lbhnrg2021 opened #2564 "Visual studio 2019 can't join the live share of vscode (visual studio 2019无法加入vscode的live share)"
visual studio 2019 version:16.2
vscode version:1.36.1
visual studio 2019提示:无法加入协作会话。Untrusted path:C:\Users\XXXX\AppData\Local\Temp\GUID值\.......

[2019-07-25 16:01] jdnichollsc opened #2565 "[VS Code] Starting collaboration session: RPC connection closed."
[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/3432363/Logs.zip)

Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1. Try starting a new session

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVer

[2019-07-25 17:27] IlyaBiryukov commented on #2558
Duplicate of #2303.

[2019-07-25 17:27] #2558 closed

[2019-07-25 17:28] IlyaBiryukov commented on #2559
Duplicate of #2466.

[2019-07-25 17:28] #2559 closed

[2019-07-25 17:29] IlyaBiryukov commented on #2560
Duplicate of #844.

[2019-07-25 17:29] #2560 closed

[2019-07-25 17:31] IlyaBiryukov commented on #2564
The error message:
Unable to join a collaboration session. Untrusted path: C:\Users\XXXX\AppData\Local\Temp\GUID value.......

[2019-07-25 17:45] IlyaBiryukov commented on #2421
Duplicate of #2159.

[2019-07-25 17:45] #2421 closed

[2019-07-25 17:45] IlyaBiryukov commented on #2421
Duplicate of #2159.

[2019-07-25 17:45] IlyaBiryukov commented on #2565
Duplicate of #2159

[2019-07-25 17:45] #2565 closed

[2019-07-25 17:46] IlyaBiryukov commented on #2159
There are logs attached to the dupe #2565

[2019-07-26 08:14] Helloyunho opened #2566 "[VS Code] Joining collaboration session: Agent terminated with exit code: 0 and signal null: Failed to initialize CoreCLR, HRESULT: 0x80004005"
Error:
Joining collaboration session: Agent terminated with exit code: 0 and signal null: Failed to initialize CoreCLR, HRESULT: 0x80004005

Steps to Reproduce:
1. Click the VS Live Share link
2. Try to login or continue in guest
3. Crash

Another Steps:
1. Remove VS Live Share
2. Install VS Live Share
3. Extension crashes

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0

[2019-07-26 08:24] ttakkku commented on #2566
@Helloyunho  Oh..

[2019-07-26 09:15] sakulads opened #2567 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-21-generic|

[2019-07-26 15:18] theHinneh opened #2569 "[VS Code] [Audio] HTTPS request failed for SkypeToken: connect ETIMEDOUT 10.233.6.101:8080"
Error:
HTTPS request failed for SkypeToken: connect ETIMEDOUT 10.233.6.101:8080

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-26 17:35] IlyaBiryukov commented on #2566
Thanks for reporting the issue. It is possible that Live Share installation got corrupted. If you uninstall the extension and re-install it, does it fix the issue?

[2019-07-26 17:52] IlyaBiryukov commented on #2567
Is it possible that the host ended the session before you tried to join it? What were you doing at the time that this happened? Were you ever able to join a session?

We're tracking this issue as #2529. I'm going to close this one as duplicate of #2529.

Your logs might provide us with more information on this issue. If you experience it again, can you attach them here so I can take a look? It wou

[2019-07-26 17:52] #2567 closed

[2019-07-26 23:18] Helloyunho commented on #2566
@IlyaBiryukov If you look at the `Another Steps`, You can find that I just tried that.

[2019-07-27 08:00] hyansuper commented on #2520
Turns out it may be a live-share problem, so I reopen this issue.
With the help from @rchiodo , I turn on live-share diagnostic logging, and find possible error:
[code]
logging detail here: https://github.com/microsoft/vscode-python/issues/6647
I also tried running vscode as admin, the problem remains.
Do you have any idea? @lostintangent @IlyaBiryukov
Thanks!

[2019-07-27 15:40] johnschult commented on #2555
@jramsay Sorry for the delay...  One thing I corrected was the proxy server I had configured, I was using one that was not letting me connect to that server. That is fixed. I have the output from the curl command, sadly it is a 404 from MS, is the URL correct?

[code]

Additionally, when I try **Start audio call...** the error message is now:

`Request endCall failed unexpectedly without providing

[2019-07-28 12:02] Hameling opened #2570 "[VS Code] The user code is invalid or expired. Try signing in again."
Error:
The user code is invalid or expired. Try signing in again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|19.0.0|

[2019-07-28 12:03] #2570 closed

[2019-07-28 23:19] danibaxx opened #2571 "[VS Code] [Audio] Request endCall failed unexpectedly without providing any details."
Error:
Request endCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-29 02:26] Jasper-true opened #2572 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-29 04:42] haseebi opened #2573 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-25-gen

[2019-07-29 07:11] rajamaheshwarsingh opened #2574 "how to have a similar (vs live share) feature in xamarin apps"
how to have a similar (vs live share) feature in xamarin apps

[2019-07-29 11:50] Helloyunho commented on #2566
I did some research and I think it's because of .NET Core.

[2019-07-29 12:03] Helloyunho commented on #2566
I solved it.

What I did:
1. Create another user(because of my username contains `.`(dot))
2. Run VSCode from another user
3. Works!

[2019-07-29 12:03] #2566 closed

[2019-07-29 16:01] lammypham opened #2575 "[VS Code] Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
Error:
Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.

Steps to Reproduce:
1. Join live session/ invite participants
2. Select microsoft/github

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.581|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platfor

[2019-07-29 16:43] hatton commented on #206
Just saw this, and will post logs next time (all our stuff is open source anyhow). For what it's worth, we see this regularly with just typescript, both host and server on Win 10. Things we try to remember to do to avoid it: client doesn't save, client doesn't do search/replace... anything but typing.

[2019-07-29 17:16] daytonellwanger commented on #206
Thanks for the extra details @hatton , and sorry for the poor experience. Have you ever seen this with *just* typing? Or does it always follow performing some operation that modifies code on your behalf (e.g. git operation, search/replace)?

[2019-07-29 17:28] hatton commented on #206
I don't think it has ever happened with just typing, and could also be limited to things where the changes are multi file. Like all users, we naively assumed "this must be a well known issue". Now that we know that it isn't we can be more intentional about helping to reproduce.

[2019-07-29 17:35] daytonellwanger commented on #206
Thanks @hatton ! That'd be very helpful, and expedite us getting a fix to you 🙂.

[2019-07-29 17:44] IlyaBiryukov commented on #2520
@jasongin Is this extension APIs not permitted?

[2019-07-29 17:52] nandiniYeltiwar commented on #2575
@lammypham, can you provide us the logs when you facing the issue?  You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-29 17:52] IlyaBiryukov commented on #2572
Other duplicate of #2546

[2019-07-29 17:52] #2572 closed

[2019-07-29 17:54] IlyaBiryukov commented on #2573
We usually see this error when a chat or e-mail client changes or shortens the Live Share link. One way to work around it is to paste the link you received directly in the browser instead of the IDE. We also have an effort ongoing to support as many chat and e-mail client links as possible. Can you give us more details about your scenario? How did you receive the link?

Duplicate of #2542

[2019-07-29 17:54] #2573 closed

[2019-07-29 17:54] nandiniYeltiwar commented on #2574
@rajamaheshwarsingh Can you please describe the scenario where you want to use Live Share? Are you suggesting to have Live Share session on mobile?

[2019-07-29 17:59] jamesharris-garmin opened #2576 "[VS Code]: Running a shell task with ${workspaceRoot} for path to script provides incorrect path on remote host."
Error:

[code]

It looks like `${workspaceRoot}` is being resolved to `\` when the live share guest executes a task.

If the liveshare host executes the task ${workspaceRoot} is resolved correctly.

Steps to Reproduce:
1. Create a task as follows:
[code]
2. create a `.bat` file to run (`jjb-build.bat`) with the following contents:
[code]
3. Create a live share session in one system
4. connect to a

[2019-07-29 18:44] jramsay commented on #2571
@danibaxx: thanks for filing this issue! It would great if you could tell us a bit more about the events leading up to the problem. Were you able to start or join a audio call successfully? Did the error only occur on the attempt to end the call? Is this is a consistent issue that repros each time you start/end a call? What is the error you're seeing? Also if can you provide us with the _Live Shar

[2019-07-29 19:16] jasongin commented on #2520
Use of that API is restricted. We'll have to add the `vscode-python` extension (or the publisher) to our permission list.

[2019-07-29 21:55] zizo877 opened #2577 "[VS Code] [Audio] Request endCall failed unexpectedly without providing any details."
Error:
Request endCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-29 23:12] jasongin commented on #2520
I added the python extension to the permission list and published the update, so this should work now. No extension update is required, since the permissions are downloaded dynamically. Just restart or reload VS Code.

[2019-07-30 00:24] jramsay commented on #2577
@zizo877 : thanks for filing this issue! It would great if you could tell us a bit more about the events leading up to the problem. Were you able to start or join a audio call successfully? Did the error only occur on the attempt to end the call? Is this is a consistent issue that repros each time you start/end a call? What is the error you're seeing? Also if you can provide us with the Live Share

[2019-07-30 00:24] #2577 closed

[2019-07-30 01:04] IlyaBiryukov commented on #2576
Fixing this needs VSCode support first, tracked by https://github.com/microsoft/vscode/issues/73748.
So, blocked for now.

[2019-07-30 03:48] Luminouswon opened #2578 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-30 06:33] satukun opened #2579 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-30 06:33] satukun opened #2580 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-30 07:00] #2507 closed

[2019-07-30 11:02] dpsa-dev2 opened #2581 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-30 11:02] #2581 closed

[2019-07-30 12:16] hyansuper commented on #2520
Thanks, problem solved!

[2019-07-30 12:16] #2520 closed

[2019-07-30 14:26] chumaty opened #2582 "[VS Code] Starting collaboration session: Cannot read property 'positionTracker' of undefined"
Error:
Starting collaboration session: Cannot read property 'positionTracker' of undefined

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-07-30 17:19] DarshanASC6 opened #2583 "[VS Code] Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
Error:
Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**

[2019-07-30 18:02] walidny opened #2584 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.16299|

[2019-07-30 18:11] jork41989 opened #2585 "[VS Code] RPC connection closed."
Error:
RPC connection closed.

Steps to Reproduce:
1. Open live share
2. Once team member has connected and begins to edit the code, they get kicked off
3. Try to terminate the connection

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion*

[2019-07-30 18:58] nandiniYeltiwar commented on #2582
@chumaty , can you provide us the logs when you facing the issue? You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-30 19:00] nandiniYeltiwar commented on #2580
Closing as dupe of #2579

[2019-07-30 19:00] #2580 closed

[2019-07-30 19:01] nandiniYeltiwar commented on #2584
Closing as dupe of #2579

[2019-07-30 19:01] #2584 closed

[2019-07-30 19:30] connoruhrig opened #2586 "[VS Code] [Audio] Request endCall failed unexpectedly without providing any details."
Error:
Request endCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18932|

[2019-07-30 19:49] setaskin commented on #2579
Hi, @satukun, would you give us information about the problem you were seeing ?

[2019-07-30 20:04] EduardoFMP opened #2587 "[VS Code] Starting collaboration session: Only collaboration session host can perform this operation."
Error:
Starting collaboration session: Only collaboration session host can perform this operation.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-07-30 22:53] nandiniYeltiwar commented on #2586
Dupe of #2571

[2019-07-30 22:53] #2586 closed

[2019-07-31 02:02] makky0620 opened #2588 "[VS Code] Starting collaboration session: RPC connection closed."
[Untitled.zip](https://github.com/MicrosoftDocs/live-share/files/3449474/Untitled.zip)

Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-07-31 05:23] justforlxz opened #2589 "[VS Code] Starting collaboration session: 无法连接到服务器。HTTPS 连接失败，请验证确保没有自签名证书或自定义证书验证策略阻止 Live Share。"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3449975/LiveShareLogs.zip)

Error:
Starting collaboration session: 无法连接到服务器。HTTPS 连接失败，请验证确保没有自签名证书或自定义证书验证策略阻止 Live Share。

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platform

[2019-07-31 08:34] Hsoyul opened #2590 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-31 09:34] jamescasbon commented on #180
I see this consistently trying to instlal live share on a remote ssh host.

Reinstalling does not work.

eamodio.gitlens-9.9.1
ms-python.python-2019.6.24221
ms-vscode.cpptools-0.24.1
ms-vsliveshare.vsliveshare-1.0.614
mutantdino.resourcemonitor-1.0.6
twxs.cmake-0.0.17
vector-of-bool.cmake-tools-1.1.3

[2019-07-31 12:04] weishengchong commented on #2040
Thanks. it works for ubuntu18.04, vscode 1.36.1.

[2019-07-31 15:00] Hsoyul opened #2591 "[VS Code] Starting collaboration session: Only collaboration session host can perform this operation."
Error:
Starting collaboration session: Only collaboration session host can perform this operation.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-07-31 15:36] kevP-Sirius opened #2592 "[VS Code] Starting collaboration session: RPC connection closed."
Error:Starting collaboration session: RPC connection closed.Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.614||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.28.2||**platformName**|Linux||**platformVersion**|4.15.0-38-generic|

[2019-07-31 17:15] nandiniYeltiwar commented on #2591
@Hsoyul thanks for reporting the issue. Can you please describe when are you seeing the error? Also can you also send your logs to us by using Live Share : Export Logs command from VS Code command palette?

[2019-07-31 17:16] nandiniYeltiwar commented on #2587
@EduardoFMP thanks for reporting the issue. Can you please describe when are you seeing the error? Also can you also send your logs to us by using Live Share : Export Logs command from VS Code command palette?

[2019-07-31 17:43] javed24 opened #2593 "[VS Code] Not currently hosting a collaboration session."
Error:
Not currently hosting a collaboration session.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.5.0|

[2019-07-31 17:54] nandiniYeltiwar commented on #2585
@jork41989 , was the other team member having poor network connection causing them to leave the session? Or was the user removed from the session?
Also how are you trying to terminate the session?

[2019-07-31 17:56] jork41989 commented on #2585
They were being removed and told I was offline, I was using stop
collaboration button within live share and it tosses the same error. Then
it wont let me restart.

On Wed, Jul 31, 2019 at 1:54 PM Nandini <notifications@github.com> wrote:

[2019-07-31 18:21] nandiniYeltiwar commented on #2585
Are you facing this issue in every session? Can you provide logs when are you hitting this issue?  You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-07-31 18:30] jork41989 commented on #2585
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3453345/LiveShareLogs.zip)

[2019-07-31 18:31] jork41989 commented on #2585
and yes it happens every time I start a session.

[2019-07-31 19:52] codefriar commented on #2538
I'd like you to consider re-opening this issue. The solution stated does not meet the need. Perhaps I did not explain it well. When a live share session is running, you see the cursor for *other* participants always labeled when this setting is on. However, Your cursor is not tagged. I'm live-streaming *my* screen, and as such I need *my* cursor tagged, as well as my partners' cursors. We're live

[2019-07-31 21:40] #2509 closed

[2019-07-31 21:42] caseyWebb opened #2594 "[VS Code] Refuses to stay logged in when joining session"
Error:

Live Share signs out out every time a new session is opened, making it impossible to use in read-write mode.

Steps to Reproduce:
1. command palette => Live Share: Sign in with Browser
(1a. Copy/paste URL in to Chrome because Firefox doesn't work. "Your sign in session has expired" message. :upside_down_face:)
2. command palette => Live Share: Join Collaboration Session
3. New window is la

[2019-07-31 21:43] #2500 closed

[2019-07-31 21:53] #2498 closed

[2019-07-31 21:53] #2493 closed

[2019-07-31 22:24] daytonellwanger commented on #2508
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:24] #2508 closed

[2019-07-31 22:25] daytonellwanger commented on #2499
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:25] #2499 closed

[2019-07-31 22:27] daytonellwanger commented on #2494
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:27] #2494 closed

[2019-07-31 22:27] daytonellwanger commented on #2491
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:27] #2491 closed

[2019-07-31 22:28] daytonellwanger commented on #2481
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:28] #2481 closed

[2019-07-31 22:28] daytonellwanger commented on #2476
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:28] #2476 closed

[2019-07-31 22:28] daytonellwanger commented on #2474
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:28] #2474 closed

[2019-07-31 22:28] daytonellwanger commented on #2473
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:28] #2473 closed

[2019-07-31 22:30] dlebu commented on #2439
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:30] #2439 closed

[2019-07-31 22:30] dlebu commented on #2434
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:30] #2434 closed

[2019-07-31 22:31] dlebu commented on #2431
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:31] #2431 closed

[2019-07-31 22:32] dlebu commented on #2427
@IlyaBiryukov can you take a look?

[2019-07-31 22:32] dlebu commented on #2418
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:32] #2418 closed

[2019-07-31 22:34] dlebu commented on #2433
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:34] #2433 closed

[2019-07-31 22:34] dlebu commented on #2416
Closing issue due to inactivity. Please re-open if you are still experiencing this issue in the latest extension version. Thanks for using Live Share!

[2019-07-31 22:34] #2416 closed

[2019-07-31 22:36] daytonellwanger commented on #2189
We're tracking this desync issue over at [issue 2086](https://github.com/MicrosoftDocs/live-share/issues/2086); let's continue the conversation there. This issue should now show up on that one as having referenced it, so the info you provided won't be lost.

[2019-07-31 22:36] #2189 closed

[2019-07-31 22:36] daytonellwanger commented on #2005
We're tracking this desync issue over at [issue 2086](https://github.com/MicrosoftDocs/live-share/issues/2086); let's continue the conversation there. This issue should now show up on that one as having referenced it, so the info you provided won't be lost.

[2019-07-31 22:36] #2005 closed

[2019-07-31 22:36] dlebu commented on #2413
Fixed by vscode team here: https://github.com/microsoft/vscode/issues/76035 Thanks for helping make Live Share better!

[2019-07-31 22:36] #2413 closed

[2019-07-31 22:36] daytonellwanger commented on #1930
We're tracking this desync issue over at [issue 2086](https://github.com/MicrosoftDocs/live-share/issues/2086); let's continue the conversation there. This issue should now show up on that one as having referenced it, so the info you provided won't be lost.

[2019-07-31 22:36] #1930 closed

[2019-07-31 22:36] daytonellwanger commented on #2068
We're tracking this desync issue over at [issue 2086](https://github.com/MicrosoftDocs/live-share/issues/2086); let's continue the conversation there. This issue should now show up on that one as having referenced it, so the info you provided won't be lost.

[2019-07-31 22:36] #2068 closed

[2019-07-31 22:37] daytonellwanger commented on #1927
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:37] #1927 closed

[2019-07-31 22:38] dlebu commented on #2161
@Ramnikov any update? Were you unblocked eventually?

[2019-07-31 22:38] daytonellwanger commented on #1918
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:38] #1918 closed

[2019-07-31 22:39] daytonellwanger commented on #1864
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:39] #1864 closed

[2019-07-31 22:40] daytonellwanger commented on #1885
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:40] #1885 closed

[2019-07-31 22:41] daytonellwanger commented on #1630
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:41] #1630 closed

[2019-07-31 22:42] daytonellwanger commented on #1267
Closing due to inactivity. Please reopen if you're still seeing this happen.

[2019-07-31 22:42] #1267 closed

[2019-07-31 22:44] IlyaBiryukov commented on #2591
Duplicate of #2427
If you can get Live Share logs, please attach them to #2427.

[2019-07-31 22:44] #2591 closed

[2019-07-31 22:44] IlyaBiryukov commented on #2587
Duplicate of #2427
If you can get Live Share logs, please attach them to #2427.

[2019-07-31 22:44] #2587 closed

[2019-07-31 22:46] daytonellwanger commented on #1188
Hey @enozero , this should now be supported! Please reopen if you notice otherwise. Thanks for the feedback!

[2019-07-31 22:46] #1188 closed

[2019-07-31 22:51] daytonellwanger commented on #631
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:51] #631 closed

[2019-07-31 22:55] daytonellwanger commented on #610
@stricker134 , that issue should now be resolved :).

[2019-07-31 22:56] daytonellwanger commented on #605
Hey @anthonyhorne , we believe we've resolved this issue. If you find otherwise, please reopen. Thanks!

[2019-07-31 22:56] #605 closed

[2019-07-31 22:57] daytonellwanger commented on #515
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:57] #515 closed

[2019-07-31 22:58] #410 closed

[2019-07-31 22:58] daytonellwanger commented on #363
Closing due to inactivity. Please reopen if you can provide us with more info.

[2019-07-31 22:58] #363 closed

[2019-07-31 23:01] daytonellwanger commented on #206
We're tracking this desync issue over at [issue 2086](https://github.com/MicrosoftDocs/live-share/issues/2086); let's continue the conversation there. This issue should now show up on that one as having referenced it, so the info you provided won't be lost.

[2019-07-31 23:01] #206 closed

[2019-07-31 23:06] daytonellwanger commented on #100
Should be resolved.

[2019-07-31 23:06] #100 closed

[2019-07-31 23:10] fubaduba opened #2595 "Test"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-08-01 00:04] IlyaBiryukov commented on #2427
@iTrooz do you happen to have both VS and VSCode with Live Share on both on the machine where you encountered this error?

[2019-08-01 00:51] lostintangent opened #2596 "[Discussion] Feedback Area Map"
This issue captures a high-level picture of outstanding developer feedback, categorized by feature area/scenario (a "feedback area map"). This is not meant to be a commitment/roadmap, so much as a way for us to visualize feedback, track progress, and continue to gather input from the community on priorities. Our goal is to make developer collaboration [enjoyable](https://aka.ms/vsls-why), across t

[2019-08-01 08:32] KaveeshKhattar opened #2597 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-08-01 08:35] #2597 closed

[2019-08-01 09:18] 404NTDfound opened #2598 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2019-08-01 09:20] iTrooz commented on #2427
Hey !

No , I have VS installed but If never used it , and it was bot installed on
my friend's computer.

Can I turn on an verbose mode in Live Share , for the next time this will
happen ?

Le jeu. 1 août 2019 à 02:04, Ilya Biryukov <notifications@github.com> a
écrit :

[2019-08-01 15:46] marvinTD opened #2599 "Unable to Access Terminal of Host"
I am not able to access the shared terminal session of the host as a participant in a Live Share session. Other functionality related to the Live Share session seems to work fine. For example, I can follow him as he navigates through code and I can modify files on the host machine myself.

However, I do not have access to the host's terminal. Instead, any terminal session that is opened is connect

[2019-08-01 15:46] rportocarrerox opened #2600 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platf

[2019-08-01 16:20] orta opened #2601 "icon probably needs updating with vscode icon re-fresh in insider's build"
**Product and Version** [VS/VSCode]: VS Code
**OS Version** [macOS/Windows]: Mac
**Live Share Extension Version**: N/A
**Target Platform or Language** [e.g. Node.js]: N/A

**Steps to Reproduce / Scenario:**

Use insider build:

![Screen Shot 2019-08-01 at 12 19 07 PM](https://user-images.githubusercontent.com/49038/62310050-a5998680-b456-11e9-896b-b3b0306793b2.png)

Probably needs to be a lined ve

[2019-08-01 16:25] samtsai commented on #2071
Have also tried above steps, but still stuck on "Finishing VS Live Share installation..."

[VSFeedbackVSRTCLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3457602/VSFeedbackVSRTCLogs.zip)

Extension version: 1.0.614
VS Code version: Code - Insiders 1.37.0-insider (92da68a71cfb60bd3b9b0d7fbfb2a7e1fff9dbaf, 2019-08-01T05:33:41.496Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Syste

[2019-08-01 17:18] nandiniYeltiwar commented on #2601
Assigning to @legomushroom  for viewlet icon update.

[2019-08-01 17:20] nandiniYeltiwar commented on #2600
@rportocarrerox thanks for reporting this issue. Is this the first time you are using Live Share? If not, are you seeing this error recently?

[2019-08-01 17:21] nandiniYeltiwar commented on #2598
Closing as dupe of #2579

[2019-08-01 17:21] #2598 closed

[2019-08-01 17:25] nandiniYeltiwar commented on #2593
Hey @javed24 can you explain the scenario when you are seeing this error?

[2019-08-01 17:26] nandiniYeltiwar commented on #2590
Closing as dupe of #2579

[2019-08-01 17:26] #2590 closed

[2019-08-01 17:27] nandiniYeltiwar commented on #2589
Hey @justforlxz are you using Live Share for the first time? If not, are you recently hitting this issue and sharing session worked well before?

[2019-08-01 18:21] alexdaniels11 opened #2602 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2019-08-01 19:04] chancancode opened #2603 "[VS Code] Shared terminal in does not run default login shell"
When opening a "private" integrated terminal in VS Code, it correctly runs the default login shell (zsh in my case). When opening a shared terminal inside a live share session, it always opens bash for me.

[2019-08-01 19:14] IlyaBiryukov commented on #2427
`Live Share: Export Logs` produces an archive with the detailed logs, so no need to turn on the verbose logging explicitly. Just run this command and attach the logs to this issue the next time this happens.

[2019-08-01 19:19] IlyaBiryukov commented on #2599
This is s change in Terminals VSCode API in VSCode insiders. We have a fix in Live Share to match it, it will be available in the next release of VSCode Live Share extension.

[2019-08-01 19:19] #2599 closed

[2019-08-01 20:32] Listoun opened #2604 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-08-01 21:13] nandiniYeltiwar commented on #2588
@makky0620 Are you seeing this issue while sharing a session? How often are you hitting this error?

[2019-08-01 21:13] #2595 closed

[2019-08-01 23:13] iTrooz commented on #2427
Okay , I will do it ! Thanks !

Le jeu. 1 août 2019 à 21:14, Ilya Biryukov <notifications@github.com> a
écrit :

[2019-08-02 05:20] #2514 closed

[2019-08-02 06:56] gynkms opened #2605 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-08-02 06:58] #2605 closed

[2019-08-02 13:33] colitopare opened #2606 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-08-02 14:19] orta opened #2607 "Missing command when using glitch extension"
I was trying out [the glitch extension](https://marketplace.visualstudio.com/items?itemName=glitch.glitch) which I *think* probably uses a custom virtual filesystem, and when I make any changes inside the default JS file then it shows "!!!MISSING: Command!!!` which I checked the VS Code logs and it seems to come from live share:

![Screen Shot 2019-08-02 at 10 04 36 AM](https://user-images.githubu

[2019-08-02 17:10] nandiniYeltiwar commented on #2606
Closing as dupe of #2579

[2019-08-02 17:10] #2606 closed

[2019-08-02 18:03] lostintangent commented on #2603
@chancancode Yeah this isn't the ideal behavior :) Thanks for reporting this. We'll look into addressing this soon.

// CC @IlyaBiryukov

[2019-08-02 20:02] rtaft commented on #2437
It's something in my user setup.  I created a new user and installed everything, it worked perfectly.  I'm still poking around to see exactly what is causing this.  The audio works perfectly for all other software.

[2019-08-02 20:36] rtaft commented on #2437
@jramsay Is there a script that will scrub every bit of vscode?  I've manually removed .config/Code, /tmp/VS*, /tmp/vs*, myproject/.vscode, ~/.vscode, and .config/Visual\ Studio\ Live\ Share/ but I've made no progress.  I could completely delete this user and start over, not wanting to do that though.

[2019-08-02 20:56] nandiniYeltiwar commented on #2602
@alexdaniels11 thanks for reporting the issue. It's possible that the person who has hosted/shared the session might have ended the session and there is no active session. Have you checked with host if the session still exists?

[2019-08-02 20:56] nandiniYeltiwar commented on #2604
@Listoun  thanks for reporting the issue. It's possible that the person who has hosted/shared the session might have ended the session and there is no active session. Have you checked with host if the session still exists?

[2019-08-03 05:03] jeaustin05 opened #2608 "[VS Code] Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again"
Error:
Joining collaboration session: Live Share was unable to start the agent fast enough. Reload to try again

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-03 14:48] DefGh opened #2609 "[VS Code] Cannot read property 'sessionId' of undefined"
Error:
Cannot read property 'sessionId' of undefined

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-20-generic|

[2019-08-03 15:31] ivanjj22 opened #2610 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Error:
Joining collaboration session: Unable to connect to the host. Verify both you and the host are online.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-08-03 18:51] marxsouza12 opened #2611 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platf

[2019-08-04 12:35] justforlxz commented on #2589
This is not my first time using it. I think there is a problem with the system environment because it works well on another device.

[2019-08-04 13:37] asishm opened #2612 "[VS Code] Joining collaboration session: Unable to write to Workspace Settings because vsliveshare.join.reload.workspaceId is not a registered configuration."
Error:
Joining collaboration session: Unable to write to Workspace Settings because vsliveshare.join.reload.workspaceId is not a registered configuration.

Steps to Reproduce:
1. I was trying to join a VS Live Share link and it failed with this
2. I had the live share workspace open before a computer restart, it stopped working after the reboot (there were no updates however)

||Version Data|
|-:|

[2019-08-04 13:59] tnkyk opened #2613 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-08-04 20:29] chicorycom opened #2614 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-23-gene

[2019-08-04 21:19] mohabashraf opened #2615 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-23-generic|

[2019-08-04 22:15] fubaduba opened #2616 "[VS Code] Emailed link does not work for guest"
Error:
[Description of error message]

Steps to Reproduce:
1. Start LS session
2. Send link to recent contacts via mail option
3. Link in guest had join%3f and should be join?

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3465384/LiveShareLogs.zip)

|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName*

[2019-08-04 22:45] mohabashraf opened #2617 "[VS Code] Joining collaboration session: Could not connect to the server. Check that you are connected to the internet."
Error:
Joining collaboration session: Could not connect to the server. Check that you are connected to the internet.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-23-generic|

[2019-08-04 23:24] evangrayk opened #2618 "[VS Code] File contents are stale, follow mode won't go to file"
Error:
[Description of error message]

Steps to Reproduce:
1. Be in liveshare session for an extended amount of time
2. have host change file X
3. look at file X, contents are stale
4. while following host, cannot navigate to file (does not open the file when host opens it). Even after closing and reopening the file.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|

[2019-08-04 23:25] evangrayk commented on #2618
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3465430/LiveShareLogs.zip)

[2019-08-04 23:26] lostintangent commented on #2618
Do edits stopped being synced after a while? Do you recall how long you of an extended time this was? Also, do you recall if you renamed the file that went stale? We’re tracking an issue with desyncs, that are related to file renames.

[2019-08-04 23:27] evangrayk commented on #2618
Thanks for the fast response! The file was not renamed. I'm not sure if other files were updating, but I don't think they were. This was after about 1-2 hrs.

[2019-08-04 23:30] lostintangent commented on #2618
Hmm, OK. One last question: do you recall if you use Git to revert/undo changes from that file before it started to become stale? If not, then we’ll take a look at your logs and see if we can figure out what’s going on 👍

[2019-08-04 23:32] evangrayk commented on #2618
This was not a git repo (or any version control for that matter)

[2019-08-04 23:40] fubaduba opened #2619 "[VS Code] Cloud Relay went offline"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.
![image](https://user-images.githubusercontent.com/51928518/62430831-814bdd00-b6d6-11e9-83b2-fdbb9369c7e6.png)

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.183

[2019-08-04 23:41] evangrayk commented on #2618
Looks like the host now can't create a new session at all, I suspect that's the real cause (maybe it went down halfway through). See https://github.com/MicrosoftDocs/live-share/issues/2619

[2019-08-05 02:15] esselluna15 opened #2620 "[VS Code] Starting collaboration session: Only collaboration session host can perform this operation."
Error:
Starting collaboration session: Only collaboration session host can perform this operation.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|
[20190805_020948_15649709885800_VSCode[1].log]

[2019-08-05 02:18] esselluna15 opened #2621 "[VS Code] Starting collaboration session: Already connected to a workspace."
[20190805_020948_15649709885800_VSCode[1].log](https://github.com/MicrosoftDocs/live-share/files/3465679/20190805_020948_15649709885800_VSCode.1.log)

Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicatio

[2019-08-05 02:19] esselluna15 opened #2622 "[VS Code] Starting collaboration session: Already connected to a workspace."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3465684/LiveShareLogs.zip)

Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**plat

[2019-08-05 02:25] esselluna15 opened #2623 "[VS Code] Starting collaboration session: Only collaboration session host can perform this operation."
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3465695/LiveShareLogs.zip)

Error:
Starting collaboration session: Only collaboration session host can perform this operation.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platf

[2019-08-05 04:56] nandiniYeltiwar commented on #2609
@DefGh thanks for reporting the issue. Can you please let us know when are you seeing this error? Also can you please attach logs when you hitting this error? You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-05 04:59] nandiniYeltiwar commented on #2608
@jeaustin05 thanks for reporting the issue. Did reload help in joining back the session? Can you provide the logs by accessing them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-05 05:02] nandiniYeltiwar commented on #2610
@ivanjj22 thanks for reporting the issue. Network inconsistency can cause this error. Do you know if host had been offline while the session was ongoing?

[2019-08-05 05:05] nandiniYeltiwar commented on #2611
Thanks for the reporting the issue. Please follow the instructions here and let us know if it works : https://github.com/MicrosoftDocs/live-share/issues/2216#issuecomment-501372336

[2019-08-05 06:38] guochunle opened #2624 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-05 14:29] jamesharris-garmin commented on #2576
Thanks for getting back to that. hopefully we will be able to fix vscode for that generally speaking.

[2019-08-05 16:50] casvanluijtelaar opened #2625 "[VS Code] Opening Terminal: Service not available: terminal"
Error:
Opening Terminal: Service not available: terminal

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-05 16:55] nandiniYeltiwar commented on #2624
Closing as dupe of #2579

[2019-08-05 16:55] #2624 closed

[2019-08-05 16:55] nandiniYeltiwar commented on #2615
Closing as dupe of #2579

[2019-08-05 16:55] #2615 closed

[2019-08-05 18:23] rodrigovaras commented on #2625
@IlyaBiryukov , have we seen this before?

[2019-08-05 18:29] IlyaBiryukov commented on #2625
Yes, this is a duplicate of #2426

[2019-08-05 18:29] #2625 closed

[2019-08-05 18:41] rodrigovaras commented on #2623
Duplicate of #2620

[2019-08-05 18:41] #2623 closed

[2019-08-05 18:42] rodrigovaras commented on #2622
Duplicate of #2620

[2019-08-05 18:42] #2622 closed

[2019-08-05 18:42] rodrigovaras commented on #2621
Duplicate of #2620

[2019-08-05 18:43] #2621 closed

[2019-08-05 22:21] IlyaBiryukov commented on #2603
@chancancode I cannot reproduce the issue.
1. Do you experience this issue on the guest or the host? The shared terminal on the guest actually runs on the host and should match what the host has configured. Local terminal on the guest can be different from the one on the host.
1. What is your OS?
1. What is VSCode and Live Share extension version?
1. What setting do you use to set the terminal she

[2019-08-05 23:05] chancancode commented on #2603
1. As the host
2. OS X
3. VSCode Version 1.36.1 (1.36.1), Live Share 1.0.614
4. The default (I don't see it overridden in settings.json)
5. N/A

I have experienced this issue on at least two computers (work computer and my laptop, both running OS X).

I'm happy to host a live share session if you want to debug this 😄

[2019-08-05 23:18] IlyaBiryukov commented on #2427
We have a fix and should release it soon with the next version of Live Share extension.

[2019-08-05 23:18] #2427 closed

[2019-08-05 23:52] jasongin commented on #2326
Closing due to lack of information.

[2019-08-05 23:52] #2326 closed

[2019-08-05 23:54] jasongin commented on #2092
Closing due to lack of information.

[2019-08-05 23:54] #2092 closed

[2019-08-05 23:58] jasongin commented on #2336
Closing due to lack of activity.

[2019-08-05 23:58] #2336 closed

[2019-08-05 23:59] jasongin commented on #2310
Closing due to lack of activity.

I think this issue may have been fixed in a newer version of Live Share anyway.

[2019-08-05 23:59] #2310 closed

[2019-08-06 00:09] jasongin commented on #2327
If you run the `Live Share: Sign Out` command that should clear the profile cache on your system. However I'm not sure whether the emails might still be cached on the server.

[2019-08-06 07:30] vedu1012 opened #2626 "[VS Code], it doesn't let me start sessions, and can't see the live chat"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-06 13:14] pauliinasol opened #2627 "Can't remove Live Share extension"
Issue Type: <b>Bug</b>

Expected behavior:
If needed extension can be disabled or uninstalled

Actual behaviour:
When trying to uninstall or disable error message pops up saying the extension can't be uninstalled or disabled

Extension version: 1.0.614
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 17.7.0

<details>
<summary

[2019-08-06 15:08] cerealean opened #2628 "File Rename Causes Disconnect"
**Product and Version** [VS/VSCode]:
I'm on VSCode (version 1.36.1) connecting to a host running VS2019

**OS Version** [macOS/Windows/Linux]:
Windows 10 Enterprise, Version 1709, OS Build 16299.1268

**Live Share Extension Version**:
Name: Live Share
Id: ms-vsliveshare.vsliveshare
Version: 1.0.614

**Target Platform or Language** [e.g. Node.js]: C#

**What were you doing when you encountered the

[2019-08-06 18:45] amir1218 opened #2629 "[VS Code] Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception."
Error:
Starting collaboration session: The type initializer for 'Microsoft.Cascade.Agent.AuthenticationService' threw an exception.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-08-06 19:55] tarahiw opened #2630 "[VS Code] [Audio] Electron not found: /Users/sammahdavian/.vscode/extensions/ms-vsliveshare.vsliveshare-audio-0.1.60/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron"
Error:
Electron not found: /Users/sammahdavian/.vscode/extensions/ms-vsliveshare.vsliveshare-audio-0.1.60/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2019-08-07 03:52] nakawankuma commented on #2299
have you proxy environment?
have you Auth proxy?
I have it. so much env too.
Can owners help to us.

[2019-08-07 06:35] jhn5052 opened #2631 "[VS Code] Starting collaboration session: RPC connection closed."
Error:
Starting collaboration session: RPC connection closed.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-07 09:34] victoria-santiago-cko opened #2632 "[VS Code] Joining collaboration session: Server error"
Error:
Joining collaboration session: Server error

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-07 14:23] jamesharris-garmin commented on #2576
Another wrinkle in this.

If the liveshare session shares a remote workspace (i.e. a remote-ssh) workspace. The task runner further assumes that we are on a windows host and attempts to execute the windows commands in the workspace.

[2019-08-07 15:06] anuragvanpaul opened #2633 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-55-generic|

[2019-08-07 15:32] devalfe opened #2634 "[VS Code] Joining collaboration session: Sesión de colaboración no encontrada."
Error:
Joining collaboration session: Sesión de colaboración no encontrada.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-08-07 17:39] IlyaBiryukov commented on #2576
It all happens because in Live Share session the guest gets `.vscode/tasks.json` file from the host. These tasks, as is, do not make sense for the guest. We could have hidden the file from the guest, but what if the guest wanted to collaborate with the host on this file? So we don't hide it. Instead we want to be able to tell VSCode to disregard this file on the guest (https://github.com/microsoft

[2019-08-07 17:58] jimmyharris commented on #2576
how do you get to those proxies?

[2019-08-07 18:35] IlyaBiryukov commented on #2576
On the guest side in VSCode run "Tasks: Run Task" command. This will show a drop down with the list of tasks. Tasks that start with "Shared:" are those proxies. You'd need to configure the host VSCode to allow guest run tasks first. By default, it is not allowed for security reasons. It is "Live Share: Allow Guest Task Control" setting on the host.

[2019-08-07 18:40] jamesharris-garmin commented on #2576
ok so on the vscode side you just need to hide the local tasks.json form vscode so that we don't get tasks from it while we are a remote guest.

[2019-08-07 22:54] Charks opened #2635 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-07 22:55] Charks commented on #2635
Not letting me invite participants.

[2019-08-08 06:50] bastiengrignon opened #2636 "[VS Code] Starting collaboration session: Already connected to a workspace."
Error:
Starting collaboration session: Already connected to a workspace.

Steps to Reproduce:
1. Start a collaboration session
2. Cancel the operation before it starts
3. Try to start a new collaboration session

Can't start a new one or close the previous one

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**

[2019-08-08 07:59] signhuwei opened #2637 "[VS Code] Starting collaboration session: Object reference not set to an instance of an object."
Error:
Starting collaboration session: Object reference not set to an instance of an object.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.6.0|

[2019-08-08 11:22] Totone3 opened #2638 "[VS Code] Joining collaboration session: Connexion impossible au serveur. Vérifiez que vous êtes connecté à Internet."
Error:
Joining collaboration session: Connexion impossible au serveur. Vérifiez que vous êtes connecté à Internet.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.614|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-55-generic|

[2019-08-08 12:17] Ramnikov commented on #2161
Dear @dlebu,

the issue did not appear again.
From my side the issue can be closed.

With regards

Andrey

[2019-08-08 14:21] stevencl opened #2639 "[VS Code] Joining collaboration session: joinCollaborationLink.match is not a function"
Error:
Joining collaboration session: joinCollaborationLink.match is not a function

Steps to Reproduce:
1. Using the new LiveShare communities extension, log in and create a new help request.
2. On the expert side, join the same community and join the help request that was created in step 1.

I've done this many times over the last few days, this is the first time (if I recall correctly) that thi

[2019-08-08 14:38] Life-Hex opened #2640 "[VS Code] [Audio] HTTPS request failed for SkypeToken: getaddrinfo ENOTFOUND authsvc-server.teams.microsoft.com authsvc-server.teams.microsoft.com:443"
Error:
HTTPS request failed for SkypeToken: getaddrinfo ENOTFOUND authsvc-server.teams.microsoft.com authsvc-server.teams.microsoft.com:443

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-08-08 14:47] anjagusev opened #2641 "[VS Code] [Audio] Electron not found: /Users/anjagusev/.vscode/extensions/ms-vsliveshare.vsliveshare-audio-0.1.60/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron"
Error:
Electron not found: /Users/anjagusev/.vscode/extensions/ms-vsliveshare.vsliveshare-audio-0.1.60/node_modules/electron/dist/Electron.app/Contents/MacOS/Electron

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.60|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2019-08-08 17:06] jramsay commented on #2616
I can still repro this in latest extension (1.0.657) - assigning to @rodrigovaras to investigate or triage.

[2019-08-08 17:12] jramsay commented on #2612
@asishm: thanks for reporting this issue!  I suspect this is due to a corrupt update. Can you try installing the latest _VS Live Share_ extension (1.0.657)and let us know if that resolves your issue?
If you're still seeing this error with the latest extension, it would also be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ comman

[2019-08-08 17:19] jramsay commented on #2639
@stevencl: Thanks for reporting this issue! Assigning to @lostintangent  to investigate

[2019-08-08 17:21] jramsay commented on #2637
@signhuwei: thanks for reporting this issue! Can you tell us more about what you were doing when you ran into this? It would also be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-08 17:26] jramsay commented on #2636
@bastiengrignon: thanks for reporting this issue! Can you try updating to the latest extension to see if you're still hitting this issue. I believe this should be fixed.

[2019-08-08 17:29] jramsay commented on #2635
@Charks :  thanks for reporting this issue! Does this occur every time you try to start a collaboration session?  Even if you close and reopen VS Code? It would  be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-08 17:33] jramsay commented on #2633
@anuragvanpaul : thanks for reporting this issue! Unfortunately there is not enough information about the error you experienced for us to take action on it.  I'm going to close this issue but if you're still experiencing problems with Live Share here are some things that can help us help you...

Can you try installing the latest _VS Live Share_ extension (1.0.657) and let us know if that resolves

[2019-08-08 17:34] #2633 closed

[2019-08-08 17:44] jramsay commented on #2619
@fubaduba: thanks! Assigning to @IlyaBiryukov for further investigation.

[2019-08-08 17:46] jramsay commented on #2617
@mohabashraf:  thanks for reporting the issue! The connection failure could be due to a number of underlying causes. Are you still hitting this issue? If so, your logs may provide us with more information. You can use the _Live Share: Export Logs_ command to get a zip file with logs, then attach to this issue.

[2019-08-08 17:52] jramsay commented on #2638
@Totone3: thanks for reporting the issue! The connection failure could be due to a number of underlying causes. Are you still hitting this issue? If so, your logs may provide us with more information. You can use the _Live Share: Export Logs_ command to get a zip file with logs, then attach to this issue

[2019-08-08 17:54] jramsay commented on #2634
@devalfe:  thanks for reporting the issue! It's possible that the person who has hosted/shared the session might have ended the session and there is no active session. Have you checked with host if the session still exists?

[2019-08-08 17:55] jramsay commented on #2632
Thanks for reporting this, @victoria-santiago-cko . Can you tell me more about what you were doing when you saw this error? Are you behind a proxy? Your logs may also provide us with helpful information. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to issue #2512

I'm going to close this one as a duplicate of that issue t

[2019-08-08 17:55] #2632 closed

[2019-08-08 17:57] IlyaBiryukov commented on #2619
Your logs may provide us with helpful information, in particular, a correlation ID to track this issue at the server side. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue

[2019-08-08 18:16] jramsay commented on #2620
@esselluna15 : thanks for reporting this issue! Can you try updating to the latest extension to see if you're still hitting this issue. If it isn't resolved, can you tell us more about what you were doing when you ran into this? It would also be helpful for our investigation if you uploaded your logs here. (unfortunately the logs above aren't accessible). You can access them via the _Live Share: E

[2019-08-08 18:18] jramsay commented on #2631
@jhn5052: thanks for reporting the issue! The connection failure could be due to a number of underlying causes. Are you still hitting this issue? If so, your logs may provide us with more information. You can use the Live Share: Export Logs command to get a zip file with logs, then attach to this issue #2588 .

I'm going to resolve this as a duplicate of that issue to consolidate the investigation

[2019-08-08 18:18] #2631 closed

[2019-08-08 18:27] jramsay commented on #2627
@pauliinasol: thanks for reporting this issue.  I suspect an extension asset it is still open an and this is causing uninstall issues.  Some things to try:

1. Close VS Code, reopen and attempt to uninstall the Live Share extension again.
2. If that still doesn't work you can uninstall manually by going to:

macOS ~/.vscode/extensions

and then manually delete all folders that start with:
ms-vsliv

[2019-08-08 18:30] jramsay commented on #2629
@amir1218: thanks for reporting this issue! Can you provide us the logs when you facing the issue? You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue # 2575.

I'm going to close this issue as a duplicate to consolidate the investigation

[2019-08-08 18:30] #2629 closed

[2019-08-08 18:34] jramsay commented on #2626
@vedu1012 : thanks for reporting this issue! Can you try updating to the latest extension to see if you're still hitting this issue. If it isn't resolved, can you tell us more about what you were doing when you ran into this? It would also be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl +

[2019-08-08 18:44] jramsay commented on #2613
@tnkyk : thanks for reporting this issue! Does this occur every time you try to start a collaboration session? Even if you close and reopen VS Code? It would be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue #2635

I'm going to close this issue to c

[2019-08-08 18:44] #2613 closed

[2019-08-08 18:49] jramsay commented on #2614
@chicorycom :Thanks for reporting this. We usually see this error when a chat or e-mail client changes or shortens the Live Share link. One way to work around it is to paste the link you received directly in the browser instead of the IDE. We also have an effort ongoing to support as many chat and e-mail client links as possible. Can you give us more details about your scenario? How did you receiv

[2019-08-08 18:49] #2614 closed

[2019-08-08 19:45] fubaduba opened #2642 "[VS Code] Chat not working"
Error:
[Description of error message]

Steps to Reproduce:
1. Join Live Share session with more than 5 people
2. Don't know if everyone has the chat extension installed

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationNa
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3483394/LiveShareLogs.zip)
me**|VSCod

[2019-08-08 19:46] fubaduba commented on #2642
While this would be expected behavior if none of the participants have chat installed, I would still expect some kind of message telling me this instead of a void which just eats up my chats
![image](https://user-images.githubusercontent.com/51928518/62732973-7b0d7780-b9da-11e9-8a27-bb7449f70bab.png)

[2019-08-08 20:12] daytonellwanger commented on #2628
Thanks for the report and the details @cerealean . I'm tracking all things related to desyncs over [here](https://github.com/MicrosoftDocs/live-share/issues/2086), so am going to close this issue (but don't worry! It'll be linked from the main issue).

[2019-08-08 20:12] #2628 closed

[2019-08-08 20:16] IlyaBiryukov commented on #2619
Ah, the logs are there already. Looking now....

[2019-08-09 07:13] Hwang-BoGab opened #2643 "[VS Code] Starting collaboration session: Unable to get user information"
Error:
Starting collaboration session: Unable to get user information

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-08-09 07:33] rachapol007 opened #2644 "[VS Code]"
Error:[Description of error message]Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.657||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.30.2||**platformName**|Windows||**platformVersion**|10.0.14393|

[2019-08-09 07:39] cbianco opened #2645 "[VS Code] Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Joining collaboration session: Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platf

[2019-08-09 08:21] RevokedCookie opened #2646 "[VS Code] Starting collaboration session: Already connected to a workspace."

[2019-08-09 08:52] kimhankyu opened #2647 "[VS Code] Starting collaboration session: connect ENOENT \\.\pipe\vscode.11b6806adcedb0972ab135a4153ac264"
Error:
Starting collaboration session: connect ENOENT \\.\pipe\vscode.11b6806adcedb0972ab135a4153ac264

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.37.0|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2019-08-09 12:28] chrismatgit opened #2648 "[VS Code] Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share."
Error:
Could not connect to the server. HTTPS connection failed, verify there are no self-signed certificates or custom cert validation policies blocking Live Share.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.34.0|
|**platformName**|Linux|
|**platformVer

[2019-08-09 14:06] gbolivar opened #2649 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-25-generic|

[2019-08-09 15:38] nathamsr11 opened #2650 "[VS Code] Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again."
Error:
Joining collaboration session: Unable to connect to Live Share cloud relay. Check your proxy, firewall and network settings and try again.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-55-gen

[2019-08-09 17:20] derekclair opened #2651 "[VS Code] Joining collaboration session: Collaboration session not found."
Error:
Joining collaboration session: Collaboration session not found.

Steps to Reproduce:
1. Join a session
2. wait for session to load entirely...? (I really don't know what else to add, sorry)

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.37.0|
|**platformName**|MacOS|
|**platfor

[2019-08-09 17:23] derekclair commented on #2651
I thought this was the Live Share Audio issues I am experiencing. Closing.

[2019-08-09 17:23] #2651 closed

[2019-08-09 17:52] jramsay commented on #2650
Thanks for reporting this issue! Your logs may provide us with helpful information, in particular, a correlation ID to track this issue at the server side. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue

[2019-08-09 17:54] jramsay commented on #2650
I'm going to close this issue as a duplicate of #2156 to consolidate the investigation. Please add logs and comments to that issue. thanks!

[2019-08-09 17:54] #2650 closed

[2019-08-09 18:00] jramsay commented on #2644
@rachapol007: did you mean to file an issue? If so we'll need some more information to help you out. A description of the issue you encountered and repro steps would be a great. Also, the logs are always useful. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue.

I'm closing out this issue for the moment but will

[2019-08-09 18:00] #2644 closed

[2019-08-09 18:00] jramsay commented on #2649
@gbolivar : did you mean to file an issue? If so we'll need some more information to help you out. A description of the issue you encountered and repro steps would be a great. Also, the logs are always useful. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue.

I'm closing out this issue for the moment but will r

[2019-08-09 18:00] #2649 closed

[2019-08-09 18:10] leofrederiche opened #2652 "[VS Code] Starting collaboration session: Zero root directories specifiedParameter name: RootDirectories"
Error:
Starting collaboration session: Zero root directories specified
Parameter name: RootDirectories

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.36.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2019-08-09 18:12] jramsay commented on #2648
@chrismatgit : Thanks for the reporting the issue! Please follow the instructions here and let us know if it works : [#2216 (comment)](https://github.com/MicrosoftDocs/live-share/issues/2216#issuecomment-501372336)

[2019-08-09 18:13] jramsay commented on #2645
@cbianco : Thanks for the reporting the issue! Please follow the instructions here and let us know if it works : [#2216 (comment)](https://github.com/MicrosoftDocs/live-share/issues/2216#issuecomment-501372336)

[2019-08-09 18:27] jramsay commented on #2643
@Hwang-BoGab:  Thanks for reporting this issue! Can you tell us more about what you were doing when you ran into this? It would also be helpful for our investigation if you uploaded your logs here. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-09 18:40] jramsay commented on #2647
@kimhankyu : Thanks for reporting this issue!  I'm going to close this as a duplicate of issue #1962 to consolidate the investigation.

It would also be helpful for our investigation if you uploaded your logs. You can access them via the _Live Share: Export Logs_ command from the command palette (ctrl + shift + p) and attach them to that issue.

[2019-08-09 18:40] #2647 closed

[2019-08-09 19:06] jramsay commented on #2646
@RevokedCookie : Sorry to hear you're having trouble! Your comment stating "all extensions are broken" and "UI is terrible" suggests that it is the _VS Code_ update that is causing issues for you and not the latest _Live Share_ extension. Is that correct? If so, unfortunately your issue was filed to wrong team. You can file an issue directly to [VS Code  ](https://github.com/microsoft/vscode/issue

[2019-08-09 19:21] jramsay commented on #2642
@arjun27 : it looks like you are the owner of the _Live Share Chat_ extension. Can you follow up with @fubaduba? thanks!

[2019-08-09 19:26] jramsay commented on #2652
@leofrederiche : thanks for reporting this issue! Can you tell us a bit more about the scenario that led to this error.  (ex: Did you have a folder open when you attempted to share?). It would also be helpful for our investigation if you uploaded your logs here. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2019-08-09 19:27] leofrederiche commented on #2652
@jramsay, Thanks I can do this :)

[2019-08-09 19:27] #2652 closed

[2019-08-09 19:44] arjun27 commented on #2642
Thanks! Were you the guest in the session @fubaduba? It is possible that the host did not have the chat extension installed, in which case the guest side chat will not work. Tracking this in https://github.com/vsls-contrib/chat/issues/421

[2019-08-09 20:37] linhub15 opened #2653 "[VS Code] Enhance source control diffing to automatically open side-by-side diff when following participant"
When a host opens a change in VS Code Source Control they see the original file and the changes side by side.

**Expected**: When a collaborator is following the host participant, they should also see both the original file and the change side by side.

**Actual**: Collaborator only sees the file that the host has in focus.

![image](https://user-images.githubusercontent.com/10420994/62807119-d068

[2019-08-09 21:13] jramsay commented on #2653
@linhub15 : thanks for the feature suggestion!

Assigning to @fubaduba for consideration

[2019-08-10 23:56] cig0 opened #2654 "[ VS Code] Broken on VS Code 1.37 macOS"
**Product and Version** [VS/VSCode]: VSCode 1.37
**OS Version** [macOS/Windows]: macOS 10.14.6
**Live Share Extension Version**: 1.0.657
**Target Platform or Language** [e.g. Node.js]: ??? No idea what you are asking here...

**Steps to Reproduce / Scenario:**
1. Install / Update Live Share
2. See error:

<img width="487" alt="Screen Shot 2019-08-10 at 20 45 02" src="https://user-images.githubuser

[2019-08-11 00:55] cig0 commented on #2654
There must have been something borked with my system because on a fresh new OS install the extension now installs and works as expected. Thanks!

[2019-08-11 00:55] #2654 closed

[2019-08-11 04:20] LAVANTE01 opened #2655 "www.alza.seik.cz"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2019-08-11 09:27] cra0zy commented on #1266
So.. this is still an issue...

[2019-08-11 12:01] LAVANTE01 opened #2656 "[VS Code]"
Error:
[Description of error message]

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.37.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2019-08-11 20:15] vinyardrip opened #2657 "[VS Code] Starting collaboration session: Не удается выполнить запись в файл параметров пользователя. Откройте параметры пользователя, исправьте ошибки и предупреждения и повторите попытку."
Error:
Starting collaboration session: Не удается выполнить запись в файл параметров пользователя. Откройте параметры пользователя, исправьте ошибки и предупреждения и повторите попытку.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|1.0.657|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.37.0|
|**platformName**|

[2019-08-12 00:07] fubaduba commented on #2642
@arjun27 yes I was the guest, and I did assume that the host may not have had chat installed. However, I think there should be some experience here that ensures someone with the chat installed understands this and doesn't merely see a void. There maybe work that can be done on the Live Share extensibility side for this, but I just wanted to track this.

[2019-08-12 00:48] fubaduba opened #2658 "[VS Code] Chat history persisting even in a new session"
[LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/3490618/LiveShareLogs.zip)

Error:
[Description of error message]

Steps to Reproduce:
1. Ended one session as host
2. Started a new session but didn't close chat window.
3. New session showed history of the chat from pervious chat.
![image](https://user-images.githubusercontent.com/51928518/62841716-43176600-bc60-11e9-955d-90bf

[2019-08-12 00:49] evangrayk opened #2659 "[VS Code] Cannot chat"
Error:
[Description of error message]

I joined a liveshare session but cannot chat. I was previously (20 minutes before) in a session with the same person and chat worked fine. That session ended and when I joined a new one, chat was not working. I could not send messages (the typed text disappears and nothing is shown or received by the other person), and messages I received were missing avatars

[2019-08-12 03:34] arjun27 commented on #2642
Yeah, agreed. This is fixed in 0.18.0

[2019-08-12 05:43] VasuInukollu opened #2660 "VSLS Audio installation"
Issue Type: <b>Bug</b>

VSLS Audio installation never completes. I think it is part of Live Share dependencies.

Extension version: 0.1.60
VS Code version: Code 1.37.0 (036a6b1d3ac84e5ca96a17a44e63a87971f8fcc8, 2019-08-08T01:22:37.660Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3230M CPU @ 2.60GHz (4 x 2600)|
|GPU Sta