[2019-12-27 13:58] bpasero opened #3093 "Editor: dirty state not removed when file saved (readonly session)"
**Product and Version**: VSCode 1.41
**OS Version** [macOS/Windows]: macOS 10.15.2
**Live Share Extension Version**: 1.0.1404

Join a readonly session and see an editor that is dirty getting saved on the original side. The dirty decoration is not removed on the participant side. Seems to work fine when not joining readonly session.

[2019-12-27 17:26] sidik12 opened #3094 "tidak dapat terhubung dalam live share slalu dicconets"
Issue Type: <b>Bug</b>

egergerg

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:31.999Z)
OS version: Linux x64 4.15.0-72-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz (4 x 3093)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabl

[2019-12-27 17:47] nandiniYeltiwar commented on #3084
Thanks @bpasero. Adding @fubaduba for icon design updates.

[2019-12-27 18:11] nandiniYeltiwar commented on #3089
Thanks @bpasero for filing the issue. Is there any configuration differences in instance of VS Code that is sharing and joining the session? Could you also provide logs for investigation, you can access it via the Live Share: Export Logs command from the command palette.

[2019-12-27 18:23] nandiniYeltiwar commented on #3094
@sidik12 could you please provide more information about the scenario when you saw disconnect?

[2019-12-27 19:27] nandiniYeltiwar commented on #3093
Thanks @bpasero for filing the issue. @fubaduba, I have created a VSO item to track this issue.

[2019-12-27 20:40] nandiniYeltiwar commented on #3090
Tracking the issue in VSO item.

[2019-12-27 20:44] nandiniYeltiwar commented on #3092
Tracked in VSO item.

[2019-12-27 20:47] nandiniYeltiwar commented on #3091
@bpasero Is there a way to show relative paths in the editor? Can we customize the path seen in editor?

[2019-12-27 21:11] nandiniYeltiwar commented on #3085
Tracked as VSO item.

[2019-12-27 21:33] goldyydev opened #3095 "Agent terminated with exit code: 0 and signal null: /bin/sh: 1"
Issue Type: <b>Bug</b>

I am getting the following error while trying to set up Live Share on SSH (Remote-SSH, Ubuntu 19).

It's giving me the following error:

```Agent terminated with exit code: 0 and signal null: /bin/sh: 1: /home/ubuntu/.vscode-server/extensions/ms-vsliveshare.vsliveshare-1.0.1404/dotnet_modules/vsls-agent: Exec format error```

I have attempted to reinstall the server, and ev

[2019-12-28 06:23] bpasero commented on #3091
@nandiniYeltiwar relative paths would only show up if the file is truly part of the workspace. What kind of file path is this? Since you are likely providing these files from the extension, maybe proposed API [`registerResourceLabelFormatter`](https://github.com/microsoft/vscode/blob/502fe137129301c43cdc3da0b0516b42907d9544/src/vs/vscode.proposed.d.ts#L109) could be used to decorate the path. Thou

[2019-12-28 06:26] bpasero commented on #3089
@nandiniYeltiwar I have a feeling this is due to the fact how the debugging session is initiated by picking "Attach to node.js process". It works fine when I start the debugger to launch the program. I will update the title.

[2019-12-28 11:54] rtaft commented on #2437
update:  I downloaded and installed a fresh copy of Linux Mint 19.3.  The audio worked perfectly the first day I used it.  A week later, I went to use it again and it is doing the same thing.  It does not list any audio devices.  Fresh OS, no major changes between the two dates.

[2019-12-29 14:58] julee commented on #46
Hello, I find for solution in project subdirectory directory(such as ProjectA/win/ProjectA.sln), I i share it by live-share to visual studio code, The visual studio code can only navigate to source files in the solution file directory(e.g: ProjectA/win/ ). How can I fix this? But if the session is save to another visual studio, I can navigate all the source files referenced by visual studio soluti

[2019-12-29 15:34] martayasa-putra opened #3096 "[VS Code] [Audio] Electron not found: /Users/Martayasa/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron"
Error:
Electron not found: /Users/Martayasa/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.1|
|**platformName**|MacOS|
|**platformVers

[2019-12-30 10:49] FabioSchmidberger commented on #3021
Hi, I'm experiencing the same problem:

Error:
SlimCore not found: c:\Users\fabio\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node

[vscode audio log.zip](https://github.com/MicrosoftDocs/live-share/files/4009593/vscode.audio.log.zip)

Steps to Reproduce:
1. Start or join live share session
2. try to start or join an audio call

E

[2019-12-30 13:06] LukeWolfGames opened #3097 "Problems with inviting through vs code as opposed to sending link"
Issue Type: <b>Bug</b>

1. invite someone to session through vs code (no link).
2. continue working with other.
3. After about 15 minutes the other person just freezes in hte one spot and for them to connect back to the session the host needs to end the session and then submit another invitation.

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2

[2019-12-30 13:18] iHani opened #3098 "[VS Code] [Audio] Electron not found: /Users/caramellaapp/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron"
Error:
Electron not found: /Users/caramellaapp/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.0|
|**platformName**|MacOS|
|**platformV

[2019-12-30 13:49] nicolalandro opened #3099 "Live share can not open image files"
**Product and Version** [VS/VSCode]: 1.39.2
**OS Version** [macOS/Windows]: Linux Mint 19.1, WIndows 10 (probably also macOS)
**Live Share Extension Version**:  0.3.4

**Steps to Reproduce / Scenario:**
1. A share with B
2. B try to open image.png
3. "An error occurred while loading the image"

[2019-12-30 14:05] bemyak commented on #2982
Faced the same issue as @akalter did. Workaround is to copy the URL `code-oss://...` form the error popup window (if it is shortened with `...` in the middle, the do so from the browser's console). Then in your terminal run:
[code]
replacing url with the one you copied earlier.

[2019-12-30 16:53] Grubinator opened #3100 "unable to use app upon download"
Issue Type: <b>Bug</b>

Visual Studio Live Share was unable to download needed dependencies to finish installation. Ensure you have network connectivity and restart VS Code to retry.

This message pops up just after clicking install

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 18.7.0

<details>

[2019-12-30 18:41] mlacouture commented on #3080
Hi @babdar-homaid, please provide details for the issue you are experiencing.  in the meantime I'm closing this issue. thanks,

[2019-12-30 18:41] #3080 closed

[2019-12-30 18:42] mlacouture commented on #3079
I'm closing this issue while details are provided. thanks,

[2019-12-30 18:42] #3079 closed

[2020-01-02 18:32] aletsdelarosa commented on #3095
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-02 18:33] aletsdelarosa commented on #3096
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-02 18:34] aletsdelarosa commented on #3097
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-02 18:39] aletsdelarosa commented on #3098
Hello, This issue seems to be related to #3096

Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to issue #3096

[2020-01-02 18:39] #3098 closed

[2020-01-03 09:59] eaglems opened #3101 "The scheme in guest is 'vsls' and when registering a CodeActionProvider, 'vsls' scheme didn't work in Quickfix action"
When registering a CodeActionProvider, The scheme in guest is 'vsls', so DocumentSelector like {scheme:"file"} didn't work to create a qucikfix action.

My code:
context.subscriptions.push(
		vscode.languages.registerCodeActionsProvider({scheme:"file"}, new QuickFixActionProvider(), {
			providedCodeActionKinds: [vscode.CodeActionKind.QuickFix]
		})
	);

[2020-01-04 08:34] naved971 opened #3102 "error"
Issue Type: <b>Bug</b>

facing error

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br

[2020-01-05 04:36] takeishinaohiro opened #3103 "HP"
Issue Type: <b>Bug</b>

Hp

Extension version: 1.0.1404
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz (4 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stag

[2020-01-06 12:44] Swapnil7000 opened #3104 "Live server not working"
Issue Type: <b>Bug</b>

Go live option is not visible in my vscode

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d

[2020-01-06 15:18] tr1s commented on #2408
I also have this issue. It happens when I open from spotlight _and_ from using `code .`. When I click "Never Show Again", it still continuously shows up when I open VS code for the first time. Moving the app to desktop and back to applications does not work.

Is there a fix in the works for this? For now I'm just disabling the plugin until I need it.

[2020-01-06 17:32] IlyaBiryukov commented on #3099
Dupe of #1895. Please vote it up.

[2020-01-06 17:32] #3099 closed

[2020-01-06 17:34] IlyaBiryukov commented on #3100
Thanks for reporting this issue. Apologies for the inconvenience caused here.

We're tracking this with #3052, I'm going to close this one as a duplicate.

Could you please share your logs with us using the following steps:
Go to the command pallete ctrl +shift +p
Type in Live Share: Export Logs
Attach them to #3052.

[2020-01-06 17:34] #3100 closed

[2020-01-06 17:36] IlyaBiryukov commented on #3101
This is by design; for a Live Share guest, Live Share takes exclusive control over language services. This is because the state on the guest machine is very different from a local experience, and many language services would not be able to function with the limited state available on the guest machine. This model allows the guest experience to match the host experience – e.g. even if the guest doe

[2020-01-06 17:38] IlyaBiryukov commented on #3102
Thanks for reporting this issue! Can you please elaborate on the repro steps? What did you do, what did you expect to happen, and what actually happened? Thanks!

[2020-01-06 17:38] IlyaBiryukov commented on #3103
Thanks for reporting this issue! Can you please elaborate on the repro steps? What did you do, what did you expect to happen, and what actually happened? Thanks!

[2020-01-06 17:41] IlyaBiryukov commented on #3104
Thanks for reporting this issue! Is this specific to Live Share? Does it happen in a collaboration session? On the host or on the guest side?

If it is not specific to Live Share, you'd want to report it on https://github.com/ritwickdey/vscode-live-server/issues

[2020-01-06 17:54] Grubinator commented on #3052
I can not export my logs for #3100.
I recived this message when running the command
`command 'liveshare.exportLogs' not found`

[2020-01-06 18:14] felipe-ff opened #3105 "When you create a new file in a shared session, the desync happens"
**Product and Version** [VS/VSCode]: VSCode 1.41.1
**OS Version** [macOS/Windows/Linux]: Windows 10
**Live Share Extension Version**: Latest
**Target Platform or Language** [e.g. Node.js]: Java

**What were you doing when you encountered the desync?**
Copying a .java file

**How often have you encountered desyncs?**
Every time

[2020-01-07 06:16] #3104 closed

[2020-01-07 10:05] irmalukianisa opened #3106 "[VS Code] [Audio] SlimCore not found: c:\Users\hp\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node"
Error:
SlimCore not found: c:\Users\hp\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio\slimcore-4.0.2019.37.01.4\bin\slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2020-01-07 11:52] paulakfleck commented on #1669
Same still happening here.

[2020-01-07 11:56] paulakfleck opened #3107 "[VS Code] LiveShare cannot open a file that contains # in the filename"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10 (tested and confirmed on both Build 1709 AND 1809)
**Live Share Extension Version**: 0.3.1151
**Target Platform or Language** [e.g. Node.js]: PHP, HTML

**Steps to Reproduce / Scenario:**

1. Open a file contains '#' in filename
2. Remote vscode client shows an error message saying

[code]

even the local vscode

[2020-01-07 18:23] IlyaBiryukov commented on #3105
Tanks for reporting the issue! @daytonellwanger will likely have some follow up questions for you. In the meantime, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-01-07 18:25] IlyaBiryukov commented on #3107
Tnks for reporting the issue! @daytonellwanger will likely have some follow up questions for you. In the meantime, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-01-07 18:29] IlyaBiryukov commented on #3107
@paulakfleck Your Live Share extension is pretty old. Can you please try update to the latest version `1.0.1404`? It may have this issue fixed already.

[2020-01-07 18:30] IlyaBiryukov commented on #3106
@jramsay Please take a look.

[2020-01-07 18:31] IlyaBiryukov commented on #3106
Also, dupe of #3021

[2020-01-07 18:31] #3106 closed

[2020-01-07 18:32] IlyaBiryukov commented on #3036
Closing as a dupe.

[2020-01-07 18:32] #3036 closed

[2020-01-07 20:14] felipe-ff opened #3108 "Auto import does not work"
**Product and Version** [VS/VSCode]: VSCode 1.41.1
**OS Version** [macOS/Windows]: Windows 10
**Live Share Extension Version**: 1.0.1404
**Target Platform or Language** [e.g. Node.js]: Java

**Steps to Reproduce / Scenario:**
1. Create a new java class
2. type: private Date test;
3. ctrl + space on Date
4. The popup with the import will appear, but if you click or hit enter, nothing happens the im

[2020-01-07 22:40] IlyaBiryukov commented on #1855
This should be fixed in the new versions of Live Share. Closing the issue. Please re-activate if you see it again.

[2020-01-07 22:40] #1855 closed

[2020-01-08 08:27] jamo opened #3109 "How to ensure this won't report my status with others?"
Issue Type: <b>Bug</b>

It's really creepy to see whether others are online. How to disable this spyware?

[2020-01-08 10:09] mihir-spinx commented on #1855
Thanks! @IlyaBiryukov
I will update my version and then if I found again, I'll let you know.

[2020-01-08 13:36] paulakfleck commented on #3107
@IlyaBiryukov Done, updated, but I still see the issue:

![image](https://user-images.githubusercontent.com/5883100/71980810-bb7a5700-31ff-11ea-9b20-b4e61886d0ce.png)

I tried opening this file:
![image](https://user-images.githubusercontent.com/5883100/71982055-81f71b00-3202-11ea-8679-ebfcdb3d2a06.png)

And then clicking on the warning:
![image](https://user-images.githubusercontent.com/5883100/7

[2020-01-08 14:00] MManthey opened #3110 "after moving files and deleting directory the files where moved out of"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-01-08 14:20] matheusnunesismael opened #3111 "Error after logging"
Steps to Reproduce:1.2.||Version Data||-:|:-||**extensionName**|VSLS||**extensionVersion**|1.0.1404||**protocolVersion**|2.2||**applicationName**|VSCode||**applicationVersion**|1.32.3||**platformName**|Linux||**platformVersion**|4.4.0-170-generic|

[2020-01-08 15:36] geeeyetee commented on #3054
We have the issue in our environment as well.
[livesharefail.zip](https://github.com/MicrosoftDocs/live-share/files/4036013/livesharefail.zip)

[2020-01-08 15:40] huyhandes opened #3112 "Auto save"
Issue Type: <b>Bug</b>

It auto save while I'm not pressed and auto jump the cursor to the end of the file

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz (4 x 2900)|
|GPU Status

[2020-01-08 17:21] ofields opened #3113 "LiveShare - Duplicate Contacts"
Issue Type: <b>Bug</b>

After having opened up a few live share sessions, the list of contacts is now duplicated (it's showing duplicates for folks that i only shared with a single time).

Extension version: 1.0.1404
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 18.7.0
Remote OS version: Linux x64 4.9.184-linuxkit

[2020-01-08 17:21] v-vazquez commented on #1073
This still present, with a clean configuration it doesn't occur. A workaround is to reinstall the extension but in the next restart, this error will appear again.
[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/4036467/Logs.zip)

If I look upon the folder this file doesn't exist

`connect ENOENT /var/folders/tw/b1d9s3897ql83j3k737szr8c0000gq/T/CoreFxPipe_vscode.f5c1c5dcd8c154e2a2734bc

[2020-01-08 17:26] v-vazquez opened #3114 "Error to initialize: connect ENOENT /var/folders/tw/b1d9s3897ql83j3k737szr8c0000gq/T/CoreFxPipe_vscode.f5c1c5dcd8c154e2a2734bc5eccd333a"
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.7.0

**Steps to Reproduce / Scenario:**
 1. Just install the extension and restart the editor, in the next restart this error will appear.

[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/40364

[2020-01-08 18:23] IlyaBiryukov commented on #3114
Investigating... It looks like an issue that we're fixing now, we have a fix for VS, I'm going to port it to VSCode LS extension.

[2020-01-08 18:25] IlyaBiryukov commented on #3113
@mlacouture please take a look

[2020-01-08 18:26] v-vazquez commented on #3114
Thanks

[2020-01-08 18:27] IlyaBiryukov commented on #3112
@huyhandes Thanks for reporting this bug.
Can you please clarify the repro steps? What did you do to get in this state? Did it happen on the guest or the host? If can get the Live Share logs and attach them to this issue, this will help us investigate. You can get the logs from VSCode by running `Live Share: Export Logs` command.

[2020-01-08 18:28] IlyaBiryukov commented on #3111
Thanks for reporting this issue! Can you please clarify what you did, what you expected to see, and what was not as you expected.

[2020-01-08 18:29] IlyaBiryukov commented on #3110
@MManthey thanks for reporting this issue!

If you can get Live Share logs and attach them to this issue, it'll help us investigate. You can get the logs by running `Live Share: Export Logs` command in VSCode.

[2020-01-08 18:33] IlyaBiryukov commented on #3109
@jamo you can change your status to 'offline' in the top right corner if the `Contacts` pane of Live Share viewlet in VSCode.

@fubaduba @mlacouture FYI

[2020-01-08 18:33] #3109 closed

[2020-01-08 18:35] IlyaBiryukov commented on #3108
Thanks for reporting this issue, @felipe-ff
If you can get Live Share logs and attach them to this issue, that'll help us investigate.
You can get the logs by running `Live Share: Export Logs` command in VSCode.

[2020-01-08 18:39] mlacouture commented on #3113
Hi @ofields!  Yes, this is a known issue and we plan to have a fix for it in the near future.  Thank you for taking the time to report this issue.

[2020-01-08 19:37] jamo commented on #3109
This happened on a large OSS repo where I saw the status of people who I had never heard of before. (well they were in the git commit history with a ton of others)

[2020-01-08 21:59] mlacouture commented on #3109
@jamo, another option is to disable the 'Presence' feature in VS: _Tools -> Options -> Live Share,_ under the _Advanced_ group set _Presence_ to false.  Currently you need to restart VS for the setting to take effect.

[2020-01-09 02:16] hanstsangcwc opened #3115 "Need admin approval"
![image](https://user-images.githubusercontent.com/50945933/72031876-c8af4880-32c8-11ea-8dac-c038321dfda7.png)
what permission do I need to use Live Share.

IT Admin tried to add some permission basically same as his account, however my account still show this.
![image](https://user-images.githubusercontent.com/50945933/72031971-04e2a900-32c9-11ea-9e4f-07545a6fe663.png)

[2020-01-09 12:47] felipe-ff commented on #3108
Hello, here are the logs.

https://gist.github.com/felipe-ff/9988b273f1867b90ed0248dcd1f1d02e

They are dozens of logs I didn't find a way to attach them here to github...

[2020-01-09 13:55] GeorgDangl commented on #2970
@IlyaBiryukov, it's happening again😊
Here's the issue with attached logs: https://developercommunity.visualstudio.com/content/problem/879890/i-cant-join-a-live-share-session-via-visual-studio.html

[2020-01-09 18:50] IlyaBiryukov commented on #3115
@legomushroom Can you please take a look?

[2020-01-09 22:12] IlyaBiryukov commented on #2970
Thanks for submitting the VS feedback ticket! The exception in the logs is pretty clear.
This is a NodeJS Tools issue, https://github.com/microsoft/nodejstools/issues/2176
Basically, they are failing when Live Share renders a file tree in Solution Explorer for the guest. I don't know if there is a workaround. Uninstalling NodeJS tools workflow on the guest may help.

I'm going to close this issue

[2020-01-09 22:12] #2970 closed

[2020-01-10 02:23] DouggyC commented on #2408
Yes seem to be happening because of Catalina

[2020-01-10 02:31] tr1s commented on #2408
So, it turns out the app was never actually in write mode even after me taking it out and putting it back in. I figured that out by trying to update the app and it said I can't update it in read-only mode. I thought LiveShare was glitching because I assumed I had fixed it.

But what actually worked was uninstalling, re-installing, and dragging into the application folder, then holding shift while

[2020-01-10 08:50] kenkangxgwe opened #3116 "Sending multiple codeLens requests from VSCode"
Issue Type: <b>Bug</b>

I am developing a language extension but it receives multiple (two or more) codeLens requests from VSCode whenever a file is opened or changed.

After I disabled Live Share extension the codeLens went back to normal. Once a time.
Actually, I just installed the Live Share extension, but did not even run any session with it. So I guess the Live Share somehow duplicates the re

[2020-01-10 09:58] Jovan66 opened #3117 "Can't connect with Visual Studio and Visual Studio code"
Issue Type: <b>Bug</b>

I had the Live Share session going normally and at one crashed my system and every application with it.

Extension version: 1.0.1456
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6600K CPU @ 3.

[2020-01-10 13:07] kalpaj12 commented on #3052
For some reason, changing my date locale from en_IN to en_CA fixed the issue.

[2020-01-10 17:27] thebetterjoe commented on #229
thanks

[2020-01-10 18:30] IlyaBiryukov commented on #3117
Hi, @Jovan66 thanks for reporting this issue.
Live Share runs in VSCode extension host as a JavaScript extension. If you see VSCode crashing, it will be a VSCode or Electron bug. Please follow the instructions in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues and report it to VSCode team. Thanks!

[2020-01-10 18:30] #3117 closed

[2020-01-10 18:32] IlyaBiryukov commented on #3116
@daytonellwanger Is this by design?
CC @fubaduba

[2020-01-10 19:22] daytonellwanger commented on #3116
This is not by design, and quite unexpected to be happening *outside of a Live Share session*. Outside of a Live Share session, Live Share shouldn't be modifying the behavior of the IDE in any way.

@kenkangxgwe could you provide a minimal extension that repros the problem?

[2020-01-11 04:40] brianpeiris commented on #3049
I was able to work around this problem by following the instructions in this comment: https://github.com/MicrosoftDocs/live-share/issues/3025#issuecomment-559219716

[2020-01-11 05:06] Barak123748596 commented on #3082
I have the same problem with the lates vscode and extension. Maybe it is because that my host has been online for more than two days? I really don't know.

[2020-01-11 05:43] kenkangxgwe commented on #3116
Sure, just use the above commit https://github.com/kenkangxgwe/vscode-extension-samples/commit/097b16b3c521c7049d182e3b893ac4b93d2a35f7, modified from official samples.
In debug window, change the message level to `verbose` and open a plaintext file you will see two codeLens requests at the same time.

[2020-01-11 09:17] #3052 closed

[2020-01-11 19:09] curmudgeonation opened #3118 "Losing sync connection"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-01-12 12:08] PoProstuMieciek opened #3119 "Cannot read propert 'userName' of null"
Issue Type: <b>Bug</b>

1. Sign in using GitHub.
2. Page opened.
3. Authorized.
4. Opened vscode. Session expired. OK...
5. Refresh page that was in background not closed.
6. Got "the code".
7. Enter the code with "Sign in with user code"
8. Cannot read property 'userName' of null

Extension version: 1.0.1456
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:

[2020-01-13 01:30] hanstsangcwc commented on #3115
any update?

[2020-01-13 04:49] Sebbs128 commented on #180
Received the popup notification in VSCode today.
Windows 10 Pro 1903 (10.0.18362), VS Code v1.41.1 (user setup).

VSLS folders in %userprofile%\.vscode\extensions:
[code]

Reinstall of VSLS appears fine so far. No change to the content of the extensions folder.

[2020-01-13 18:10] RefinedSoftwareLLC opened #3120 "Two Workspaces Open Breaks Sending Invites"
Issue Type: <b>Bug</b>

Open 1st Workspace
Colab 1st Workspace
Send Invites
[Other PC] Accept Invite Notification
Open 2nd Workspace
Stop 1st Colab (Do NOT Close Workspace Window)
Colab 2nd Workspace
Send Invites
[Other PC] Invite Notification Never Revived

Fix: Close out of all Windows (Maybe on both PCs), Open 2nd Workspace, Send Invites, Then Open 1st Workspace.

P.S. Test Fix with Both PCs lo

[2020-01-13 19:18] legomushroom commented on #3115
@hansenms looks like your admin needs to give the admin consent for you to be able to authenticate.

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/grant-admin-consent

Admin can do it from the Azure portal below via the “Grant admin consent” button in Azure Active Directory. (They can also go to the https://login.microsoftonline.com/{your-tenant-id}/adminconsent?client_id=a30

[2020-01-13 20:34] setaskin commented on #3120
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-13 20:34] setaskin commented on #3120
@rodrigovaras can you take a look ?

[2020-01-13 20:37] setaskin commented on #3119
Thanks for reaching out.  Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-13 20:38] setaskin commented on #3119
@Moniarchy would you take a look ?

[2020-01-13 20:39] setaskin commented on #3118
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-13 22:32] Moniarchy commented on #3119
@PoProstuMieciek Can you also let us know which browser you used to authenticate? Were you eventually able to sign in?

[2020-01-14 06:21] PoProstuMieciek commented on #3119
I was able to sign in but after redirect to vscode it prints the error.
Here are the logs you were asking for:
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4057606/logs.zip)

[2020-01-14 06:21] PoProstuMieciek commented on #3119
I used Chrome Version 79.0.3945.117 (Official Build) (64-bit)

[2020-01-14 06:44] hanstsangcwc commented on #3115
it works, thank you

[2020-01-14 06:44] #3115 closed

[2020-01-14 13:56] geoffrey4444 commented on #180
I also have this problem. I run a remote server that multiple users would like to host live sharing on, but only the first user who tries to install it succeeds. The others get the corrupted download error.

[2020-01-14 14:09] jPinhao-Improbable opened #3121 ""Allow Guest Command Control" not obeyed in latest release"
**Product and Version** [VS/VSCode]: 1.41.1
**OS Version** [macOS/Windows]: Windows 10 Pro
**Live Share Extension Version**: 1.0.1456
**Target Platform or Language**: C# .Net Core 2.2

**Steps to Reproduce / Scenario:**
1. Enable `Allow Guest Command Control` in Live Share settings
2. Open a .Net Core project with some unit tests (tested with NUnit)
2. Start a collaboration session and have the gu

[2020-01-14 17:26] setaskin commented on #3121
Thanks for reaching out. Looks  like it is a security change. linking issue with #1550. cc: @fubaduba would you follow up for security page ?

[2020-01-14 17:47] srivatsn commented on #3121
@setaskin #1550 is about a help link whereas this issue seems to be a regression that the feature doesn't work anymore. We should take a look.

[2020-01-14 17:53] setaskin commented on #3121
@srivatsn, from what I read in #1550 I thought it has been disabled due to security. Sorry for the misunderstanding. Will take a look.

[2020-01-14 20:50] bjornicus commented on #2086
In the meantime, when we get out of sync, is there any sort of force refresh option we can use?  Disconnecting and reconnecting does not seem to be enough and the only workaround I've found is for the host to kill the session and start a new one.

It would be nice if there was a cmd-p (or ctrl-p) "Live Share: force refresh" or "Live Share: force refresh file" option that would dump what live share

[2020-01-14 21:03] daytonellwanger commented on #2086
@bjornicus that's an excellent suggestion. The only reason we haven't done this yet is because it *shouldn't* be necessary - coediting is the most fundamental piece of Live Share, and staying in sync is essential. We're currently investing in improving the reliability, with the goal being that desyncs never occur. But we'll consider taking your suggestion (as a temporary mitigation) .

[2020-01-15 12:14] jPinhao-Improbable opened #3122 "Unable to navigate to debug callstack and when live-sharing from inside container"
**Product and Version** [VS/VSCode]: 1.14.1
**OS Version** [macOS/Windows]: Windows 10 Professional
**Live Share Extension Version**: 1.0.1482
**Target Platform or Language** [e.g. Node.js]: C# .Net Core 2.2

**Remote - Containers version**: 0.94.0

**Steps to Reproduce / Scenario:**
1. Start a Dev Container with `ms-vsliveshare.vsliveshare` extension installed. Container is started from fresh, wi

[2020-01-15 14:17] SantiMA10 opened #3123 "💡Share screencast mode"
Hi!

Some days ago I found the "Screencast" mode in VS Code, which IMHO is really useful to learn new keyboard shortcuts during pair programming sessions.

It would be awesome if the Live Share extensions allow sharing that information too 😍.

[2020-01-15 18:08] setaskin commented on #3122
thank you for reaching out and attaching your logs. @jramsay , would you take a look ?

[2020-01-15 18:19] setaskin commented on #3123
Hi , thank you for the suggestion . Adding @fubaduba for info

[2020-01-15 18:47] aracpyon commented on #180
Hi! I have the exact same problem! My live share has been working fine til yesterday and all of sudden it's not working. What files exactly did you remove from /.tmp?

[2020-01-16 03:14] aracpyon opened #3124 "An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details."
I was using liveshare just fine until yesterday, and all of sudden it's not working. All I did was adding launch to my setting.json(I am in bootcamp program right now). I don't think that's a problem either.  I even reinstall the vscode too. Still no use.

[2020-01-16 05:50] tgrrr commented on #2408
This is fixed for me with `1.0.1482`, thanks!

It was annoying as hell till then, because clicking don't share again didn't disable the extension.

Is the second problem (disable notification) something that needs to be looked into?

[2020-01-16 09:28] williamoverton commented on #2666
I am having the same issue

[2020-01-16 14:04] cabaleirog opened #3125 "Desync right after connection on VSCode Insider"
**Product and Version** VSCode-Insider
**OS Version** Linux
**Live Share Extension Version**: v1.0.1482
**Target Platform or Language** Lua

**What were you doing when you encountered the desync?**
Right after starting the session. No files were displayed on the Explorer, then was able to open a file using the "Follow <user>" button on the lower menu bar. After that, many files run into desync, an

[2020-01-16 14:25] dominikbasista opened #3126 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established"
Error:
HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18362|

[2020-01-16 17:01] jasongin commented on #2666
@williamoverton The latest release of Live Share (v1.0.1482) just updated to .NET Core 3.0, which has a fix for this calendar bug. Can you try that version?

[2020-01-16 17:43] williamoverton commented on #2666
@jasongin The issue I was having was that the extension could not be installed on my server. Seems to have timed.

[2020-01-16 17:46] jasongin commented on #2666
Oh, then that's not the same as this issue then. Please open a new issue here with details about your error.

[2020-01-16 18:00] setaskin commented on #3124
Hi thank you for reaching out. Are you on mac ? ( We don't support Sierra) if so, which version are you using ? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-16 18:01] setaskin commented on #3124
cc @IlyaBiryukov

[2020-01-16 18:40] aracpyon commented on #3124
Thank you for replying! Actually my mac is sierra. I attached the
screenshot below. I have been using live share last two months without
problem though. Do you think it will change it if I update my system? I've
been delaying it since it makes my mac very slow.

Best,
Ara

On Thu, Jan 16, 2020 at 1:01 PM Selen Taskin <notifications@github.com>
wrote:

--
Ara Cho
www.arachoart.com
312 593-0145

[2020-01-16 18:47] setaskin commented on #3125
Thank you for reporting the issue . Adding @daytonellwanger

[2020-01-16 18:50] setaskin commented on #3126
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-16 19:25] setaskin commented on #3124
No issues expected on Mohave , if you have an issue,  quick reinstall of live share would solve it.

[2020-01-16 19:27] JamesLivengood commented on #180
I'm having this problem just as of a couple days ago, on Mac, I have these files in that folder:
[code]

[2020-01-16 19:44] setaskin commented on #180
@JamesLivengood , which version of Mac are you using  ? ( We don't support Sierra) Linking the issue with #3124

 Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-16 20:15] JamesLivengood commented on #180
@setaskin I'm on Sierra! That must be the issue, I'll upgrade. Here are my logs in case they'd still be useful:
[Live Share Logs.zip](https://github.com/MicrosoftDocs/live-share/files/4073604/Live.Share.Logs.zip)

[2020-01-16 20:23] dominikbasista commented on #3126
The problem disappeared after session recreation.

[2020-01-16 20:28] hmckelvie opened #3127 "buttons are broken"
Issue Type: <b>Bug</b>

BROKEN!!

Extension version: 1.0.1482
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 18.7.0
Remote OS version: Linux x64 3.10.0-1062.9.1.el7.x86_64

[2020-01-16 20:52] aracpyon commented on #3124
I am sorry. I just want to confirm if my understanding is correct. Are you
suggesting to replace Sierra with Mohave to make it work? In this current
version, deinstalled and installed the live share and vscode 10 times. I
also erased .vscode before I did it. Still not working.

On Thu, Jan 16, 2020 at 2:25 PM Selen Taskin <notifications@github.com>
wrote:

--
Ara Cho
artistaracho@gmail.com
www.ara

[2020-01-16 20:59] srivatsn commented on #3124
@aracpyon LiveShare used to use .NET Core 2.2 and in the latest version switched to .NET Core 3.0. It turns out that .NET Core 3.0 is no longer supported on Sierra and causes this issue. We need to evaluate what percentage of users are on Sierra to see if the benefits of moving to 3.0 are worth it or if we should roll back. We'll come up with up an update on that.

Unfortunately there doesn't seem

[2020-01-16 21:07] aracpyon commented on #3124
I would definitely wanna try the previous version of LiveShare. Could you
kindly send me a link?  I couldn't find the previous version online.

Thank you so much for your help.

On Thu, Jan 16, 2020 at 3:59 PM Srivatsn Narayanan <notifications@github.com>
wrote:

--
Ara Cho
artistaracho@gmail.com
www.arachoart.com
(312) 593-0145

[2020-01-16 21:13] srivatsn commented on #3124
In VSCode, from the extensions tab, right click on the LiveShare extension and you'll find a command to Install Another Version.. and then you can pick a previous version:

![image](https://user-images.githubusercontent.com/20570/72563199-00d30000-3862-11ea-8a42-52ce5e6cbc80.png)

[2020-01-16 21:23] setaskin commented on #3127
Thanks for reaching out. Can you give us more details about your scenario? What do you mean by buttons are broken ? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-16 21:29] setaskin commented on #3126
Glad  it worked out. I am closing the issue. Please let us know if you have any other issues

[2020-01-16 21:29] #3126 closed

[2020-01-16 22:18] stdavis commented on #3083
I had this same issue and reinstalling it fixed it for now...

[2020-01-16 23:54] Moniarchy commented on #3119
@PoProstuMieciek Did you see the session expired message in the browser? Does that mean that you didn't successfully sign into GitHub the first time, so you had to try to sign in a second time and once you did successfully sign in, you used that user code to sign into VS Code and that's when you saw the message? Did you have to cancel sign in in VS Code at any point? Does this still consistently h

[2020-01-17 02:17] mavaddat commented on #1952
I am also getting this problem on my system.

My `ms-vsliveshare.vsliveshare-audio-unresponsive.cpuprofile.txt` is below:
[ms-vsliveshare.vsliveshare-audio-unresponsive.cpuprofile.txt](https://github.com/MicrosoftDocs/live-share/files/4074736/ms-vsliveshare.vsliveshare-audio-unresponsive.cpuprofile.txt)

[2020-01-17 02:54] GBrent-dev opened #3128 "live share on chrome os"
Issue Type: <b>Bug</b>

live share on my chromebook seems to install nicel.  However, I can't connect to my desktop.  I'm using 2 different accounts on github to link up with no success. Just thought I would let you know.

Extension version: 1.0.1482
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:27:31.086Z)
OS version: Linux x64 4.19.91-07957-g8dffe065b46f

[2020-01-17 03:17] aracpyon commented on #3124
I am sorry to bother you, but the right click doesn't seem to work on.
Doesn't appear anything. Is there other way?

On Thu, Jan 16, 2020 at 4:13 PM Srivatsn Narayanan <notifications@github.com>
wrote:

--
Ara Cho
www.arachoart.com
312 593-0145

[2020-01-17 04:19] AchalaSB commented on #3057
Any solution to this??
Still facing this issue.

[2020-01-17 05:29] PoProstuMieciek commented on #3119
None of that happened. It looked like everything was fine and authorized but only error in vscode was weird. Now, I used Firefox to sign in and it worked very well.
I think It was random error and we can close the issue. Anyway, thanks for your time.

[2020-01-17 05:29] #3119 closed

[2020-01-17 05:29] bowdenk7 opened #3129 "Live Share Workspace is empty"
[liveshare-logs-1-16.zip](https://github.com/MicrosoftDocs/live-share/files/4075164/liveshare-logs-1-16.zip)

**VS Code**: 1.42.0-insider
**OS**: Windows
**Live Share Extension Version**: 1.0.1482
**Target Platform or Language**: Python

**Steps to Reproduce / Scenario:**
1. Join a live share session
2. Live Share Workspace is empty

Everything else seems to work. I can see the files the host is l

[2020-01-17 08:38] avoiney commented on #3049
Hello,

Thanks @brianpeiris for thips. I did not had to tried it because this morning, the live share starts working again. It did not work two days ago.
I will try again in the next days to see how stable it is.

On my side, I think the only thing I change is my Firefox version (got a update yesterday, I applied it this morning).

If you want information, let me know what you need.

Regards,

[2020-01-17 13:58] srivatsn commented on #3124
Do you see the option in the gear icon? See this documentation - https://code.visualstudio.com/updates/v1_30#_install-previous-versions

[2020-01-17 17:58] setaskin commented on #3128
Thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-17 18:06] setaskin commented on #3129
Hi, thank you for reaching out and attaching your logs. Just to clarify, did host started session with an empty work space and then started to add files ,or they were open when session started ?

[2020-01-17 18:08] bowdenk7 commented on #3129
They were already open

[2020-01-17 18:30] kinghat commented on #1782
after time of dealing with this it seems to be that it happens after every release that one needs remove the local keyrings dir, restart computer and then set password and login again until the next update is pushed.

[2020-01-17 18:44] setaskin commented on #3129
hmm,  I cannot repro the issue with VS code host to VS code guest. Do you know Host's IDE and version ? or whether the host  started the live share session from a container ?

[2020-01-17 19:00] setaskin commented on #3057
adding , @Moniarchy and @legomushroom

[2020-01-17 20:58] bowdenk7 commented on #3129
VS Code connecting to VS Code. No containers. It was his first time using VS Code and first time using live share. Watched him create a github account, install the live share extension, and share with me.

Is there nothing interesting in the logs? Are there more logs I can grab?

[2020-01-17 21:15] setaskin commented on #3129
Logs you provided are great.  It looks like the call is being made to see the hosts files so it is weird that they are not showing up. Adding @dlebu to the conversation.

 Daniel, I cannot repro and cannot see a problem in logs.  Would you take a look ? if it is not your area, please let me know. I can reassign.

[2020-01-17 22:10] Moniarchy commented on #3057
@AchalaSB, what browser are you using to sign in? Also, once you successfully authenticate and are redirected to VS Code, does the message "Signing in..." just hang there until you cancel it?

[2020-01-17 22:20] Moniarchy commented on #1977
This should have been fixed, so I'm closing this as resolved. Feel free to reopen if you encounter this again.

[2020-01-17 22:20] #1977 closed

[2020-01-17 22:22] Moniarchy commented on #2858
This should be resolved now, so I'm going to close this issue. Feel free to reopen if you encounter this again.

[2020-01-17 22:22] #2858 closed

[2020-01-17 22:51] setaskin commented on #3120
@rodrigovaras , do we support this scenario ?

[2020-01-18 03:33] rodrigovaras commented on #3120
We should open a bug on our side since it seems to be a valid bug on our side

[2020-01-19 00:57] johnpapa opened #3130 "Building with vsls 1.0.1483 as a dependency causes an error"
see https://www.npmjs.com/package/vsls

I tried updating Peacock to use the latest vsls, and when I tried to package peacock it failed due to the error of an unknown module for `@vside/microsoft-servicebroker`

Peacock can be found here https://github.com/johnpapa/vscode-peacock

*Workaround*

I revered to "vsls": "^0.3.1291" to fix the issue

[2020-01-20 01:49] setaskin commented on #3120
@rodrigovaras , the bug is created.  Thank you

[2020-01-20 22:03] setaskin commented on #3130
Hi, thanks for reaching out. Your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue. @legomushroom can you take a look ?

[2020-01-21 04:34] david-driscoll opened #3131 "Errors not displayed in the editor"
Issue Type: <b>Bug</b>

After the first load of the problems / diagnostics, they no longer update with change so to the source code in a C# project.

Extension version: 1.0.1482
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.19546

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-01-21 09:17] rixinsc opened #3132 "Live share fail to install support for joining sessions using browser link without administrator privileges"
**Product and Version**: VSC 1.41.1
**OS Version**: Windows 10 v1903 (OS Build 18362.535)
**Live Share Extension Version**: 1.0.1482
**Target Platform or Language** [e.g. Node.js]: NaN

**Steps to Reproduce / Scenario:**
1. Open VSC as normal.
2. See error.
(Tried executing command `Live Share: Launcher Setup` too, but no luck.)

**Screenshots**
![image](https://user-images.githubusercontent.com/3

[2020-01-21 11:45] jPinhao-Improbable commented on #3122
@setaskin / @jramsay do you have any more info on the issue, or what an expected resolution time might be for this kind of issue?

We were investigating the suitability of Live Share for running remote interviewing, and this was the only blocker we uncovered as it would render the candidate borderline incapable of showing debug ability.

Just interested in knowing whether there's a likelihood it c

[2020-01-21 15:57] mhanson-vertis opened #3133 "Follow to the Side Failed"
Issue Type: <b>Bug</b>

1. Right click on participant
2. Click follow to the side
3. Observe error message

Extension version: 1.0.1482
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GP

[2020-01-21 16:53] Cyl18 opened #3134 "Typo in Sign in "GitHub""
**Product and Version** [VS/VSCode]: Newest
**OS Version** [macOS/Windows]: Windows 10
**Live Share Extension Version**: Newest
**Target Platform or Language** [e.g. Node.js]: No need

**Steps to Reproduce / Scenario:**
Click 'Join collaboration session'...

**Screenshots**
![image](https://user-images.githubusercontent.com/14993992/72825188-8ebf4880-3cb1-11ea-9d94-a52dd9418d45.png)

It should be

[2020-01-21 18:51] Ace-Cassidy commented on #2008
This feature request is relevant to the lecture I am in which uses LiveShare. Specifically "teacher should be able to grant and revoke full access and audio to individual student(s)" is an important use case so that a teacher may call on individual students for an answer, grant them write access temporarily, and then revoke that access.

[2020-01-21 18:57] Ace-Cassidy commented on #2007
Posted this on #2008 but reposting here as I feel this may need to be it's own feature.

I am in a course (web development) at Washington State University which uses LiveShare as part of its lecture. Specifically "teacher should be able to grant and revoke full access and audio to individual student(s)" from #2008  is an important use case for us, so that a teacher may call on individual students

[2020-01-21 19:04] Ace-Cassidy commented on #2007
Another use case that has been demonstrated during class is the ability to download the currently workspace, do some work on it separately and then continue observing the LiveShare.

This feature already exists with the ability to right click on the current workspace folder and select Download, but I feel that this workflow could be improved.

Essentially what is desired is the ability to take a s

[2020-01-22 00:49] dlebu commented on #3133
@mhanson-vertis I tried to reproduce your issue but unfortunately I could not. Can you give us more details on your scenario? Also, your logs might provide meaningful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-22 03:36] Piseksak397 opened #3135 "ma"
Issue Type: <b>Bug</b>

d

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4005U CPU @ 1.70GHz (4 x 1696)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>fla

[2020-01-22 15:52] anatolyburakov opened #3136 "Cannot install LiveShare audio dependencies"
Issue Type: <b>Bug</b>

The extension itself installs fine, but the dependencies cannot be downloaded. The machine is behind a proxy, all of the settings are fine as other things (like CPP tools) work correctly and can be downloaded and installed.

Extension version: 1.0.1510
VS Code version: Code - Insiders 1.42.0-insider (68615717819b3731705d92ec06b52edd47665291, 2020-01-22T05:31:57.634Z)
OS ver

[2020-01-22 17:31] dlebu commented on #3135
Thanks for reaching out, can you give us more details about the issue you encountered?

[2020-01-22 19:42] tcelestino opened #3137 "[VS Code] [Audio] SlimCore not found on start call"
Error:
[liveshare-log.zip](https://github.com/MicrosoftDocs/live-share/files/4099593/liveshare-log.zip)

SlimCore not found: /Users/tcelestino/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1. Start a Live Share
2. Click on 'Join audio call' button.

||Version Data|
|-:|:-|
|**extensionName**|VSL

[2020-01-23 00:44] jasongin commented on #3130
I just published a fix: `vsls@1.0.1526`

That "servicebroker" dependency was not meant to be included in the public API (yet).

[2020-01-23 00:44] #3130 closed

[2020-01-23 00:47] johnpapa commented on #3130
Thanks

[2020-01-23 04:17] jinghuquan opened #3138 "ceshi"
Issue Type: <b>Bug</b>

ceshi

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz (4 x 3292)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>

[2020-01-23 04:17] jinghuquan opened #3139 "ceshi"
Issue Type: <b>Bug</b>

ceshi

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz (4 x 3292)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>

[2020-01-23 04:18] jinghuquan commented on #3139
ceshi000001

[2020-01-23 09:09] AchalaSB opened #3140 "Unable to sign-in using github"
Issue Type: <b>Bug</b>

When I sign-in using github, got the usercode. pasted it on vscode. but it is showing
`Cannot read property 'userName' of null`

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:31.999Z)
OS version: Linux x64 4.15.0-65-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2020-01-23 09:52] Speedy1991 commented on #113
I think this would be a great idea! Looking forward this feature :)

[2020-01-23 15:40] mtaylorfsmb opened #3141 "Contact - Need to be able to create a consistent shared link"
This is in response to clicking the feedback link for the new contact feature in LS.

The existing approach to sharing out a LiveShare session via email is insufficient in a classroom environment. Even the addition of contacts doesn't really help because the "contacts" for a classroom is fixed and ideally should be set up in advance of the class. Therefore the existing implementation doesn't reall

[2020-01-23 16:09] lostintangent commented on #2425
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:09] #2425 closed

[2020-01-23 16:12] lostintangent commented on #2420
Closing this due to inactivity, and our inability to repro the issue. If you’re still running into this issue and can share repro details, then please re-open this bug. Thanks!

[2020-01-23 16:12] #2420 closed

[2020-01-23 16:13] #2357 closed

[2020-01-23 16:14] lostintangent commented on #2314
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:14] #2314 closed

[2020-01-23 16:15] lostintangent commented on #2205
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:15] #2205 closed

[2020-01-23 16:15] lostintangent commented on #2199
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:15] #2199 closed

[2020-01-23 16:17] lostintangent commented on #2162
Closing it per the previous comments.

[2020-01-23 16:17] #2162 closed

[2020-01-23 16:17] lostintangent commented on #2134
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:17] #2134 closed

[2020-01-23 16:18] lostintangent commented on #2045
We believe this error has been resolved, so I’m going to close it. That said, please re-open it if you’re still encountering this issue, and can share further repro details. Thanks!

[2020-01-23 16:18] #2045 closed

[2020-01-23 16:28] aabmass commented on #3057
@Moniarchy I was seeing this problem as well. For me, the redirection to VS Code didn't work at all because there was no handler for the `code-oss` URIs. When I hit "Open xdg-open" it just defaulted to open the URI in the browser which does nothing.

Fix for me is to configure XDG for this URI type and I am able to login with the browser:
[code]
----
Btw, I am using arch linux (OP says they are us

[2020-01-23 16:49] aabmass commented on #3057
Also, the `vsls` URIs for opening a session weren't working either until I did the same thing:
[code]
Does the extension need to be updated to configure for `vsls` URIs?

[2020-01-23 17:38] Trolldemorted commented on #74
@Chuxel can we reopen this?

[2020-01-23 19:09] jonnynabors opened #3142 "Following a Participant Filtering Returns No Participants"
Issue Type: <b>Bug</b>

**Steps to Reproduce / Scenario:**
1. Join/Start a LiveShare session with more than one participant
2. Follow a Participant via (Cmd+Option+F) or press the Pin button near the `Open Changes` button (near the file name tabs of open files)
3. In the TextBox that appears, type the name of the participant you wish to follow
4. As you type, even if characters should match a name

[2020-01-23 21:15] dlebu commented on #2694
Closing this issue due to inactivity. Please re-open if you are still experiencing problems. Thanks for using Live Share!

[2020-01-23 21:15] #2694 closed

[2020-01-23 21:15] dlebu commented on #2695
Closing this issue due to inactivity. Please re-open if you are still experiencing problems. Thanks for using Live Share!

[2020-01-23 21:15] #2695 closed

[2020-01-23 21:15] dlebu commented on #2700
Closing this issue due to inactivity. Please re-open if you are still experiencing problems. Thanks for using Live Share!

[2020-01-23 21:15] #2700 closed

[2020-01-23 21:16] dlebu commented on #2701
Closing this issue due to inactivity. Please re-open if you are still experiencing problems. Thanks for using Live Share!

[2020-01-23 21:16] #2701 closed

[2020-01-23 21:16] dlebu commented on #2959
Closing this issue due to inactivity. Please re-open if you are still experiencing problems. Thanks for using Live Share!

[2020-01-23 21:16] #2959 closed

[2020-01-23 21:18] dlebu commented on #3012
@conradwt Are you still experiencing this issue? What type of account are you using (GitHub or Microsoft)?

[2020-01-23 21:20] dlebu commented on #3025
@Delawen Does the problem still reproduce for you in the latest version?

[2020-01-23 23:21] dlebu commented on #3142
@jonnynabors Thanks for reaching out. I was able to reproduce the issue.
I believe we never supported that, as we assumed people will pick somebody from the list of participants displayed instead of typing. Adding our PMs for hearing the feedback and further discussion.

[2020-01-24 00:24] fubaduba commented on #3142
Hey @jonnynabors thanks for bringing this to our attention. We currently don't have this type of search. I'm curious to learn, if you usually Live Share with a lot of individuals which makes finding them in the Live Share pane/dropdown hard to select from? There is definitely merit to this ask though!

[2020-01-24 00:39] wickdninja commented on #2701
Sorry for the late response. It was indeed the issue as you described. The owner ended the session. Thanks for such great tool!

[2020-01-24 01:51] jonnynabors commented on #3142
Sorry if reply all isn't the best way to respond here. We noticed this
today after my teams 3rd day of mob programming. We have 7 devs, and a mix
of remote or in person. We've found that LiveShare on our own machines is
much nicer than all huddling around one machine and keyboard. For our group
of 7, navigating with the arrow keys or mouse is find, but I thought to try
the auto complete.

On Thu,

[2020-01-24 03:01] conradwt commented on #3012
@dlebu I was able to get things working by uninstalling the extension, quitting the application, restarting the application, and reinstalling the extension.  I’m guessing something was silently failing when trying to authenticate with Github and/or a corrupt configuration.

[2020-01-24 04:41] AchalaSB commented on #3057
@Moniarchy I tried both in brave and chrome.
Yes it is `singing in` message is hanging. until I press cancel button

[2020-01-24 06:49] SoftwareApe commented on #3012
@legomushroom I'm not sure what you mean. However I think the most important thing would be that it would fail with something that can be diagnosed.

It appears that even if your browser can use the automatically configured proxy, if the proxy in VSCode doesn't work (in my case CNTLM with an old password hash)., It somehow doesn't get any response and just loops infinitely.

[2020-01-24 08:04] Delawen commented on #3025
Works perfectly fine with code now, thank you!

[2020-01-24 11:52] HugoPoi commented on #2852
We are facing the same issue on LinuxMint installation.
Not matter what we do, the Live Share Extension not working after installation and all commands return `not found` and UI does nothing.
* We try re-installing the extension and the extension pack
* Removing the extensions folder in `~/.vscode/extensions/`
* Removing profile from `~/.config/Code`

[2020-01-24 15:50] lostintangent commented on #3142
Ah this is a good bug report! This is a simple fix on our end, so we can try to fit this into our next release. Thanks for reporting this 👍

[2020-01-24 21:20] mgaudet opened #3143 "A Shared Terminal resizes down but not back up"
Issue Type: <b>Bug</b>

Using live share for the first time, as a viewer, I resized a shared terminal -down- in size, then back up, only the text I could see at the smallest size showed up, even as new text went in.

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 19.2.0
Remote OS version: Linux x6

[2020-01-24 23:33] jramsay commented on #3122
@jPinhao-Improbable: thanks for reporting this issue! I'm able to repro the issue using both VS Online and a Docker Desktop container. There is a fix prepared that will available shortly. I'll close out this issue when it is available.

[2020-01-24 23:56] dlebu commented on #3139
Thanks for reaching out, can you give us more details about the issue you encountered?

[2020-01-24 23:57] dlebu commented on #3138
Closing as duplicate of #3139.

[2020-01-24 23:57] #3138 closed

[2020-01-24 23:58] dlebu commented on #3143
Thanks for reaching out. Assigning to @IlyaBiryukov for investigation.

[2020-01-25 15:26] curmudgeonation commented on #3118
Oh hey @setaskin I think this issue was auto-generated by VS Code. The problem hasn't recurred so I'm closing it. Thanks for checking in.

[2020-01-25 15:26] #3118 closed

[2020-01-25 23:17] mavaddat opened #3144 "Tried to join a live session, but it ended prematurely"
Issue Type: <b>Bug</b>

Tried to join a live session, but it ended prematurely. It is difficult for me to determine why.

Extension version: 1.0.1510
VS Code version: Code - Insiders 1.42.0-insider (f3dbcea32a6b52ce819dc863e778fb8517357f61, 2020-01-24T05:38:14.538Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 2200U with

[2020-01-25 23:18] mavaddat opened #3145 "Tried to join a live session, but it ended prematurely"
Issue Type: <b>Bug</b>

Tried to join a live session, but it ended prematurely. It is difficult for me to determine why. I got this message from VS Code:

Extension version: 1.0.1510
VS Code version: Code - Insiders 1.42.0-insider (f3dbcea32a6b52ce819dc863e778fb8517357f61, 2020-01-24T05:38:14.538Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-01-25 23:19] #3144 closed

[2020-01-26 01:30] suzannex commented on #180
I am continually seeing the "corrupted download" error after restarting my machine  and  deleting VSCode and all related files/folders and then re-downloading it. So the contents of my .vscode/Extensions is nothing.

Here are the logs from the installation:
[liveshare_install_failure_log.txt](https://github.com/MicrosoftDocs/live-share/files/4113085/liveshare_install_failure_log.txt)

[2020-01-26 17:22] SamHep0803 commented on #2943
@fubaduba Have you any updates on this?

[2020-01-27 01:33] marcandrewb commented on #180
Also on Sierra and running into this issue as well

[2020-01-27 02:13] andremacola commented on #180
I cant remember the specific files right now. I just deleted all files. The folder is on remote server and not in your local machine.

[2020-01-27 18:47] dlebu commented on #3145
Thanks for reaching out! @jramsay will look into this. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-01-27 20:51] kburson opened #3146 "cannot open liveshare"
Issue Type: <b>Bug</b>

trying to join liveshare session

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2900)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flas

[2020-01-27 21:06] daytonellwanger commented on #3146
Hey @kburson , could you provide some more information about the issue?

[2020-01-28 00:11] fubaduba commented on #3085
This bug has been fixed. Thanks!

[2020-01-28 00:11] #3085 closed

[2020-01-28 00:43] FaridAhamat opened #3147 "Can't see any hosts files if solution (.sln file) is not in typical folder hierarchy"
Hosts directory looks like this:

![image](https://user-images.githubusercontent.com/11820522/73225882-21c41b00-41a9-11ea-906b-009c1518e862.png)

And when I join the session, this is all I see:

![image](https://user-images.githubusercontent.com/11820522/73225992-7cf60d80-41a9-11ea-89a1-fd28febd2a2d.png)

What I've tested:

1. Tested LiveShare with another project that follows typical folder struc

[2020-01-28 11:48] embarq commented on #180
Hi all. Reinstall does not help in my case.

VS Code metadata:

[code]

I see following logs at Output > Log (Extension Host):

[code]

[2020-01-28 16:35] MichaelBitard opened #3148 "Out of sync when renaming a file"
**Product and Version**: VSCode
**OS Version** [macOS/Windows/Linux]: Fedora 31
**Live Share Extension Version**: 0.3.4
**Target Platform or Language**: Golang

Additionnal information: The host is on windows

**What were you doing when you encountered the desync?**

The host renamed a file

**How often have you encountered desyncs?**
Almost every time we rename a file, or if the non-host creates

[2020-01-28 17:30] komjenic opened #3149 "[VS Code] [Audio] SlimCore not found: /home/ivan/.config/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node"
Error:
SlimCore not found: /home/ivan/.config/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.1|
|**platformName**|Linux|
|**platformVersion**|5.0.0-37-generic|

[2020-01-28 17:51] fubaduba opened #3150 "Loss of Intellisense and syntax highlighting in VS for guest"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**Steps to Reproduce / Scenario:**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-01-28 17:56] fubaduba commented on #3142
Hey @jonnynabors  I'm also interested in learning how your team uses Live Share to mob. It can help us understand how to improve Live Share for such scenarios. I would love to chat with you sometime. Are you available for a quick call? :D

[2020-01-28 17:57] fubaduba commented on #3150
Also, your logs may provide us with helpful information. You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-01-28 23:01] fubaduba commented on #49
This issue has been closed due to lack of activity. Please open a new issue of the problem has not been fixed.

[2020-01-28 23:01] #49 closed

[2020-01-28 23:04] fubaduba commented on #61
This issue has been closed due to no recent activity. We have made many updates to Live Share since this issue, and incorporated a lot of the feedback. Please re-open the issue if the problem still persists.
-Live Share team

[2020-01-28 23:04] #61 closed

[2020-01-28 23:08] fubaduba commented on #180
This issue has been closed due to no recent activity. We have made many updates to Live Share since this issue, and incorporated a lot of the feedback. Please re-open the issue if the problem still persists.
Live Share team🎈

[2020-01-28 23:18] fubaduba commented on #204
@aletsdelarosa have you been tracking this bug?

[2020-01-28 23:20] fubaduba commented on #233
This issue has been closed due to no recent activity. We have made many updates to Live Share since this issue, and incorporated a lot of the feedback. Please re-open the issue if the problem still persists.
Live Share team🎈

[2020-01-28 23:20] #233 closed

[2020-01-28 23:25] jonnynabors commented on #3142
@fubaduba that would be great! What's the best way to get in touch?

[2020-01-29 09:27] Riff451 commented on #3150
**Product and Version:** Visual Studio Enterprise 2019, version 16.4.3
**OS Version:** Windows 10 version 1909 build 18363.592
**Live Share Extension Version:** 1.0.1510.0
**Target Platform or Language:** C#, asp.net core 3.1

The guest intellisense, auto-complete, quick actions and syntax highlighting are completely not working.

[2020-01-29 10:46] avoiney commented on #3049
Everything is working now.

[2020-01-29 10:46] #3049 closed

[2020-01-29 14:11] smkrishnaOpenSource opened #3151 "can't able to start"
Issue Type: <b>Bug</b>

can't able to start collaboration

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:31.999Z)
OS version: Linux x64 4.15.0-76-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x 2411)|
|GPU Status|2d_canvas: unavailable_software<b

[2020-01-29 15:46] bucmic commented on #86
Works perfectly with system env variables but we don't want to deploy them globally. Any other way to make it work with proxy? Why is Live Share not able to read proxy settings from OS?

[2020-01-29 17:27] daytonellwanger commented on #3150
Do you know what IDE/Version the host is on?

[2020-01-29 17:27] daytonellwanger commented on #3150
And are you able to repro with a vanilla C# ASP.NET app?

[2020-01-29 17:43] jhony1104 opened #3152 "Update documemtation to reflect changed dependencies (macOS Heigh Sierra)"
As mentioned in #3124 LiveShare does now use .Net Core 3.0. As a result the VS Code extension does no longer work on macOS Sierra.

Could you please update the documentation to reflect the fact, that at least High Sierra is now needed.

It would also be helpfull to mention the latest version (1.0.1456) which can still run on macOS Sierra.

[2020-01-29 20:04] patrickmcnamara opened #3153 "Cannot sign in after successful authentication"
**Describe what happened:**
I clicked the "live share" button at the bottom left.
It asked me to authenticate.
I authenticated with GitHub and it redirected me to a URL with the scheme "code-oss".
Firefox said "The address wasn’t understood" and I can't seem to find anyway to open/use it.
Live Share continues with the "Signing in..." notification in VS Code but never finishes.

**What was your sys

[2020-01-29 20:56] SKerencic opened #3154 "Activating extension ms-vsliveshare.vsliveshare failed due to an error:"
Error that i've got after installing Live Share. There is also no live share extension button inside activity bar or status bar. Reinstalling doesn't help. Any ideas? Thanks.

Using osx: Catalina 10.15.3

[code]

[2020-01-29 21:14] daytonellwanger commented on #3154
From the callstack, it's `huangjianke.fish-redux-template`, not Live Share that's crashing. But for some reason Live Share is calling into `huangjianke.fish-redux-template`. I can't immediately see why that would be.. Could you temporarily try uninstalling `huangjianke.fish-redux-template` and see if that resolves the issue?

[2020-01-29 21:18] fubaduba commented on #3152
Thanks for reporting this. We are in the process of updating the docs.

[2020-01-29 21:20] SKerencic commented on #3154
@daytonellwanger wooow... i think this is working now....great stuff. thanks!

[2020-01-29 21:56] daytonellwanger commented on #3154
Great! This is still *probably* a Live Share bug, but it's great to hear that you're unblocked for the moment being (I'm assuming you don't need `fish-redux-template` immediately).

[2020-01-29 22:47] fubaduba commented on #3142
My email is the best way: fishah@microsoft.com
I can also send you an email if you leave me your email? Or shoot me an email, and I'll set up a call! Looking forward to this.

[2020-01-30 10:32] Riff451 commented on #3150
Hi,
the host is:
**IDE**: Visual Studio Enterprise 2019 version 16.4.3
**Live share extension**: 1.0.1510.0

We've just tried with an empty vanilla ASP.NET core 3.1 and we've got the same result, you can see no highlighting and if I type no auto-completion, suggestions, etc.
And we tried to swap between host and guest as well. Thank you.

![image](https://user-images.githubusercontent.com/1071189/

[2020-01-30 10:59] GGFR-Shawn opened #3155 "crash"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-01-30 14:16] embarq commented on #3124
I'm using MacOS Sierra(10.12.6) too and was unable to use the extension. The "Corrupted install of the Live Share extension" alert appeared each time I run VSCode #180. After reading through the discussion above I've tried to install previous version of the extension, `1.0.1404` in particular. Now it finally works.

I think a kind of troubleshooting notes for this issue for Sierra users would be n

[2020-01-30 15:44] KiransHub commented on #3150
Hi there, I've suffered with this issue myself. I'm watching a Microsoft stream on Twitch hosted by @csharpfritz. We've seen this fail on a couple of guest sessions where the guest is unable to get intellisense.

Here's a screenshot of the stream
![image](https://user-images.githubusercontent.com/4026553/73464807-5f769e80-4377-11ea-98c9-dec1c1a77dee.png)

[2020-01-30 17:21] daytonellwanger commented on #3150
Ok, I'm able to repro, so should be pretty quick to clear up. We should have this resolved shortly! I'll keep you updated.

[2020-01-30 20:36] majdsakr commented on #1923
What APIs are available in order for us to develop a bot to play the role of facilitator of a mob session?

[2020-01-30 20:42] daytonellwanger commented on #1923
What would the facilitator do? Give different users write access on a periodic schedule? Schedule periodic breaks?

[2020-01-30 20:48] csharpfritz commented on #3147
Similarly, projects and content in Solution Folders are not visible to guests

[2020-01-30 20:48] majdsakr commented on #1923
Thanks for the quick response.  The bot would manage the rotations, give write access to the driver would be good, trigger certain exchange between members at milestones or periodically would also be helpful.  Another feature would be for the bot to review activity/contribution by each member so that it can analyze contribution and decide on who to encourage to engage.

[2020-01-30 20:54] haokanga commented on #1923
A **bot facilitator** will mark different phases of the online mob programming session, first the bot will provide the participants with time to explore and familiarize themselves with the workspace. The bot will also use the chat to tell the participants when to begin the task and what roles each person will take. It will provide a time warning when there is an upcoming role switch and then indic

[2020-01-30 21:11] daytonellwanger commented on #1923
Thanks for spelling out what APIs you would need to support what you had in mind! That was going to be my next question 😁.

If you hadn't found it yet, [here's our API for VS Code](https://www.npmjs.com/package/vsls). It's pretty minimal - it allows you to programatically share/join/end a session, and gives you access to some basic session info (e.g. who are the participants in the session?) It al

[2020-01-30 21:13] daytonellwanger commented on #3147
@nandiniYeltiwar

[2020-01-30 22:09] nofield opened #3156 "Creating a new workspace during a session kills the session"
**Describe what happened:**
I created a session, was sharing a file with collaborators, then tried to add a workspace to the session, but in doing so the session was terminated, and the collaborators were kicked. I received no indication that I had terminated it, and no indication that adding a workspace would kill it.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSC

[2020-01-31 01:35] mavaddat commented on #3145
It is difficult to provide any more details, because the program restarted in a non-shared context after the error. That is, as soon as the LiveShare failed, it provided me this message, then quit the LiveShare session and did not allow me to log the messages or console output manually.

[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/4136971/livesharelogs.zip)

[2020-01-31 14:35] i-g-o-r-e commented on #1235
This would also be great to use in online interviews as it would eliminate the need for interviewees to go over the burden of creating a Microsoft account and installing software on their machines.

[2020-01-31 16:32] lostintangent commented on #1235
Interviews is actually one of the key use cases that we believe this is critical for. We’re actually working on this right now, and hope to have something to share soon 👍

Out of curiosity: are you doing interviews with Live Share already? If so, we’d love to hear any feedback about how to improve that experience, beyond the obvious need for a web client 😁 Thanks!

[2020-01-31 19:22] gusbemacbe commented on #2596
Hi @lostintangent

Sorry for entering this issue, but I have read the documentation https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/extensions which does not cite «Emmet».

«Emmet: Wrap abbreviation» does not work on guest's Live Share. Without it, I would be totally unproductive and forced to do everything manually, what will take a lot of hours. It is totally unfair for me. My

[2020-01-31 19:57] connor4312 opened #3157 "Stuck on "starting collaboration session" in VS Code"
**Product and Version**: VS Code 1.42.0-insider @ be0aca7188ec6a76e7c2379758c0fbc1e9c21f7b
**OS Version**: Darwin x64 18.0.0
**Live Share Extension Version**: 1.0.1510
**Target Platform or Language**: Node.js

**Steps to Reproduce / Scenario:**

1. Hit "Start a Collabration" second in the view, or via the command palette
2. It gets stuck on "starting collaboration session", and never connects

[li

[2020-01-31 20:15] lostintangent commented on #2596
@gusbemacbe Despite not being listed, the Emmet extension should work in a Live Share session. Have you run into issues with it?

[2020-01-31 21:21] gusbemacbe commented on #2596
Yes, @lostintagent, I could not wrap the HTML text, using the command «Emmet: Wrap abbreviation» from the popup open with Ctrl + Shift + P.

[2020-02-01 10:26] NamuTree0345 opened #3158 "I can not join collaboration session"
Issue Type: <b>Bug</b>

Hello. I am Namutree0345.
I updated Visual Studio Code.
so an error occurred in Live Share.

The error content: An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details.

I reinstalled Visual Studio Code and Extensions.
But this error isn

[2020-02-01 12:43] i-g-o-r-e commented on #1235
I used to use Skype Interviews extensively and was just straight forward and worked well (most of the time). I've tried to use Live Share, but this puts a burden on candidates to install and configure software on their machines. Additionally it requires them to create a Microsoft account. If a candidate fails to install it before the interview, it takes time from the interview to have everything w

[2020-02-03 06:53] WasabiFan opened #3159 "Installation fails on shared machine when you do not own the /tmp/VSFeedbackVSRTCLogs directory"
**Describe what happened:**

I tried to use VS Live Share, on a CentOS machine which has multiple tenants. When the extension tried to initialize I got the following error:

Looking at the stack trace from the output console, I see the following:

[code]

Since this is a shared host, someone else has previously used VSLS and thus owns the `/tmp/VSFeedbackVSRTCLogs` directory. I don't have write pe

[2020-02-03 14:48] Greepolis opened #3160 "[VS Code] [Audio] Expected 200 status code to get SkypeToken. status code: 401"
Error:
Expected 200 status code to get SkypeToken. status code: 401

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.41.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-02-04 14:52] jonnynabors commented on #3142
Sent you a note, let me know if it didn't make its way to you.

[2020-02-04 15:32] nakamin opened #3163 "I have to grant GitHub OAuth acess every time I sign out of my computer"
Issue Type: <b>Bug</b>

On Windows 10 sign out of account
Start a live share session
Get prompted to sign in again

I see there are two settings, one says
Preferred account registered with keychain to use for Visual Studio Live Share sign-in.
And the other is
Preferred account provider registered with keychain to use for Visual Studio Live Share sign-in.

I'm not sure what those do, and what to se

[2020-02-04 16:13] #3160 closed

[2020-02-04 16:13] Greepolis commented on #3160
Problem resolved.

[2020-02-04 17:12] koraykoska opened #3164 "Installation in DevContainer fails"
**Describe what happened:**

I am trying to install live share in a dev container (alpine linux 13.6). The installation fails with the weird error "An update or installation of VS Live Share failed due to a corrupted download.".

I tried following the guides and issues related to this error, but nothing seems to work. On my host system the Live Share extension works without any issues at all.

**W

[2020-02-04 19:04] benzipperer commented on #3124
Hi, I'm receiving the same "corrupted download" error message in this issue, on Ubuntu 16.04. Should I open a separate issue?

Uninstalling/reinstalling/deleting .extensions/ doesn't seem to help. I also now can't seem to find a previous version (current version 1.0.1510) that works for me, although several months ago I can confirm Live share was working for me.

[2020-02-05 02:17] alichtman opened #3165 "LaTeX Rendering Fails with File Not Found Error on Non-Host"
**Describe what happened:**

While working on a `.tex` file, I can build and render it on the host workstation, however, building and rendering the file on the "connected" workstation fails with a `File Not Found` error.

**What was your system configuration?**
*OS Version*[macOS/Windows]: macOS 10.14.6
*Live Share Extension Version*: 1.0.1510
*Target Platform or Language* [e.g. Node.js]: LaTeX

E

[2020-02-05 18:38] rodrigovaras commented on #3158
Can you go to your extensions folder of vscode and manually remove the liveshare extension? Then install the latest marketplace

[2020-02-05 18:47] #3155 closed

[2020-02-05 20:20] mhanson-vertis commented on #3133
@dlebu I'm sorry it was a fair while back and I may not remember all details, and the logs exported are only for today.

I believe I was attempting to collaborate with a colleague who I had not previously done so with before. We were both remote and on separate networks. I sent him the invitation to collaborate via email and when he attempted to open the link he was unable to join the session.

[2020-02-06 06:43] sreecharan93 commented on #1923
In terms of the second point, I think the ask, like you pointed out, is to know _which participants edited which file in a session_. This would be required both for end-of-session metrics and live tracking during the session. The live tracking will help the the facilitator bot to encourage/provide remedies for participants who are doing well/veering off track respectively. I think the idea is to o

[2020-02-06 12:48] jonny64bit commented on #3147
Can confirm as a guest i can't see any projects which are in a solution folder.

[2020-02-06 18:32] aletsdelarosa commented on #981
Live Share in Visual Studio now has a link to the release notes.

[2020-02-06 18:32] #981 closed

[2020-02-06 19:24] jaredharris opened #3166 "Live Share is screwed up"
Issue Type: <b>Bug</b>

Steps to reproduce. Get to work. Go to Live Share. See that it doesn't work. Try to uninstall and reinstall 5 times. It still doesn't work. Create issue ticket.

Errors that pop-up:
- command 'liveshare.startFromActivityBar' not found
- An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See

[2020-02-06 19:37] jaredharris commented on #3166
I can get live share to work if I roll back to v1.0.1456. Anything newer doesn't install properly.

[2020-02-06 21:04] fubaduba commented on #3166
Hey @jaredharris  thanks for reporting this bug to us. We'll take a look at it and get back to you.

[2020-02-06 21:05] fubaduba commented on #3166
@jramsay can you please take a look at this?

[2020-02-06 21:06] fubaduba commented on #3159
Thanks for reporting this issue! We're taking a look at it.

[2020-02-06 21:06] fubaduba commented on #3159
@nandiniYeltiwar can you please take a look at this?

[2020-02-06 21:18] fubaduba commented on #3165
Thanks for reporting this @alichtman! I'm curious if you use a type of extension in VS Code for .tex files to syntactically work?

[2020-02-06 21:26] fubaduba commented on #3164
Thanks for reporting this @Ybrin. We'll take a look at it. When you say you referred to docs on this, I'm assuming to mean here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/linux

[2020-02-06 21:26] fubaduba commented on #3164
@IlyaBiryukov can you please take a look at this?

[2020-02-06 21:27] fubaduba commented on #3158
Hey @NamuTree0345 were you able to download LS from the marketplace?

[2020-02-06 21:28] fubaduba commented on #3158
Similar corrupt download isse ref: #3166

[2020-02-06 21:35] qoalu commented on #3124
Had the same issue
![image](https://user-images.githubusercontent.com/1624045/73980617-e48e2480-4930-11ea-89f4-e0261899a157.png)
installed previous version and it works

[2020-02-06 21:35] Ybrin commented on #3164
@fubaduba Yes I installed all necessary dependencies for Alpine Linux. I have also gone through the following thread: https://github.com/MicrosoftDocs/live-share/issues/180

[2020-02-06 21:36] Ybrin commented on #3164
This is my Dockerfile I am using for DevContainers:

[2020-02-06 21:37] Ybrin commented on #3164
[code]

[2020-02-06 22:43] fubaduba commented on #3166
Hey @jaredharris  I think this issue is related to your version of macOS. A recent change to .NET Core  makes it so that you cannot use Live Share for certain macOS versions.
https://docs.microsoft.com/en-us/visualstudio/liveshare/troubleshooting

[2020-02-06 22:43] #3166 closed

[2020-02-06 22:44] IlyaBiryukov commented on #3164
What is the Linux version and docker image that you use? The latest alpine is `3.11.3` according to https://wiki.alpinelinux.org/wiki/Alpine_Linux:Releases

Live Share extension now uses 3.1 dotnet core and needs 3.8 alpine, as per https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md

Did you try installing Alpine prerequisites as described on https://docs.microsoft.com

[2020-02-06 22:45] fubaduba commented on #3165
So this is what is probably happening: the extension that allows you to interpret LaTex syntax in VS Code implements it in a way such that it assumes the guest has a local LaTex file as well. So when using Live Share there is no guest side local file and it doesn't get remoted.
So unfortunately, this scenario is not supported currently by Live Share. Thanks for reporting it.

[2020-02-06 22:45] #3165 closed

[2020-02-06 22:48] IlyaBiryukov commented on #3164
Please note that on Mac, due to [dotnet core OS requirements](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md), the required OS version is `10.13+`.  We saw errors about corrupted download when Live Share runs on older Mac OS, and we're going to fix that to provide a better error message.

[2020-02-06 22:49] Ybrin commented on #3164
@IlyaBiryukov It's 3.11.2. See my Dockerfile above, I am already installing all dependencies needed for Alpine Linux when building the Image. My macOS Version is 10.14.5

[2020-02-06 22:51] Ybrin commented on #3164
I am basing the Docker Container on the image tag `node:13.6-alpine` from the official Docker Hub.

[2020-02-06 23:11] jaredharris commented on #3166
Ok.

A suggestion then might be to not allow me to upgrade or have a notice suggesting I upgrade my OS.

Luckily, in serendipitous fashion, I just upgrade my OS!

[2020-02-06 23:14] fubaduba commented on #3164
How about, try running the agent directly:
`/bin/sh -c "/root/.vscode-server/extensions/ms-vsliveshare.vsliveshare-1.0.1510/dotnet_modules/vsls-agent"` This may give a more meaningful error on why Live Share wont's launch.

[2020-02-07 08:22] Ybrin commented on #3164
@fubaduba It seems like the file exists but isn't executable. That's really weird. Please see the screenshot below.

<img width="699" alt="Screenshot 2020-02-07 at 09 21 33" src="https://user-images.githubusercontent.com/11356621/74012775-55fac100-498b-11ea-8209-91d010eeda96.png">

[2020-02-07 13:49] michel38000 opened #3167 "Impossible to join a share session"
Issue Type: <b>Bug</b>

I have join a session. It works.
Then, I have closed VScode this morning without closing my current join.
This afternoon, I restart VSCode and I try to join the same session. My colleague never receive my join request...

Extension version: 1.0.1510
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T15:04:31.999Z)
OS version: Linux x64 4.9.0-

[2020-02-07 19:25] Cellule opened #3168 "Audio not starting"
**Describe what happened:**

Every time I start a collaboration session I get a crash
Then it shows `Start audio call...` constantly, but never starts.
The collaboration session seems to work fine, but I can't talk to anyone, they claim they can join the audio room.

**What was your system configuration?**
![image](https://user-images.githubusercontent.com/4157103/74059228-9d964280-49b5-11ea-99f3-

[2020-02-07 19:39] Cellule commented on #3168
I tried to uninstall all the live share plugins and reinstalled them. Made sure I installed the latest vs code patches.

On my laptop I have a similar problem, but the audio chat doesn't start automatically. When I do start it I get the following error

[code]

[2020-02-08 02:57] fubaduba commented on #3168
Hey thanks for reporting this issue @Cellule. We are looking into this.

[2020-02-08 03:01] fubaduba commented on #3167
Hey @michel38000. It seems like you created a Live Share session on a day, and shared a link to that with your colleague, but they only joined a day later? In this case, our session would have expired and this is expected behavior. You would have to create a new session and re-share a link.
However, we have a way to persist sessions. Check our docs here: https://docs.microsoft.com/en-us/visualstud

[2020-02-08 03:01] #3167 closed

[2020-02-08 03:54] NamuTree0345 commented on #3158
Yes, but the error occurred too.

[2020-02-08 03:55] NamuTree0345 commented on #3158
yes

[2020-02-09 22:17] rawkode commented on #3013
Would really love NixOS support, please

[2020-02-10 01:02] darzu opened #3169 "LiveShare keeps changing my workbench.colorCustomizations"
Issue Type: <b>Bug</b>

1. Customize activityBar, titleBar, statusBar colors in your workspace or folder settings
2. Install LiveShare
3. Notice that LiveShare changes the colors

Please don't change my custom colors.

Extension version: 1.0.1510
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:33.119Z)
OS version: Darwin x64 19.3.0

<details>
<summary>Syste

[2020-02-10 01:02] darzu commented on #3169
My original colors:
[code]
LiveShare tried to set:
[code]

[2020-02-10 07:24] albertusvdmerwe opened #3170 "Cannot log in with Github or Microsoft account"
Issue Type: <b>Bug</b>
I am always given this error when I successfully log into my Github/Microsoft account and I am redirected into vscode.

Starting collaboration session: The user code is invalid or expired. Try signing in again.

Extension version: 1.0.1510
VS Code version: Code - Insiders 1.43.0-insider (beaf391bc53136912e4f0bbdfb7844ad954247db, 2020-02-07T05:34:00.212Z)
OS version: Linux x6

[2020-02-10 10:44] AlexFedotovComputing commented on #12
Support for Fortran debugging, please. We have a lot of scientific open codes and LS would greatly decrease the amount of pain

[2020-02-10 12:48] benjie opened #3171 "Cannot open folders after Live Share extension loads (no share active)"
**Describe what happened:**

**What was your system configuration?**

<details>
<summary>*Product and Version*: VSCode 1.42.0</summary>

[code]
</details>

*OS Version*: Ubuntu 18.04
*Live Share Extension Version*: 1.0.1510
*Target Platform or Language*: Node.js

**Steps to Reproduce / Scenario:**
1. Open editor
2. Try and open a folder in the Explorer sidebar

Expected: folder listing

Actual: sp

[2020-02-10 14:58] garrettw commented on #180
I just got this issue on macOS Mojave (10.14.6) and VS Code 1.42.0.

Contents of ~/.vscode/extensions:
[code]

[2020-02-10 15:20] benzipperer commented on #3124
Hm, when I try an older version, like 1.0.1404, I get the following error:

Agent terminated with exit code: 0 and signal null: System.UnauthorizedAccessException: Access to the path '/tmp/VSFeedbackVSRTCLogs/20200210_151858_Agent.log' is denied. ---> System.IO.IOException: Permission denied
   --- End of inner exception stack trace ---
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, S

[2020-02-10 17:59] setaskin commented on #3168
looks like another slimcore not found issue. @jramsay any thoughts ?

[2020-02-10 18:39] darzu commented on #3169
It's happening to all of my *.code-workspace files too, and these ones aren't source controlled so I'm losing all my custom coloring :( I use different colors for each workspace or folder so that I can visually tell the difference between my projects.

For me, this is a deal breaker so I'm removing the extension and I'll keep an eye on this issue.

[2020-02-10 18:41] fubaduba commented on #3170
Hey @albertusvdmerwe thanks for reporting this. Sorry for the inconvenience.
What browser were you using? You could try using a different browser, or manually enter the user code that you see on the webpage under "Having trouble signing in."

[2020-02-10 18:43] fubaduba commented on #3171
Thanks for reporting this @benjie! @jramsay could you please take a look at this?

[2020-02-10 18:48] benjie commented on #3171
(By the way the folders that don't have the spinners above were the folders that were previously open - AFAICT nothing in the folders themselves makes LiveShare upset, it's specifically that those spinner folders are ones that were attempted to be opened after the Live Share extension finished loading. The "graphile" folder, for example, [contains just two files](https://github.com/graphile/postgr

[2020-02-10 18:49] fubaduba commented on #245
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:49] #245 closed

[2020-02-10 18:51] fubaduba commented on #262
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:51] #262 closed

[2020-02-10 18:53] fubaduba commented on #329
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:53] #329 closed

[2020-02-10 18:53] fubaduba commented on #409
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:53] #409 closed

[2020-02-10 18:53] fubaduba commented on #433
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:53] fubaduba commented on #439
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:53] #439 closed

[2020-02-10 18:55] fubaduba commented on #469
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:55] #469 closed

[2020-02-10 18:55] fubaduba commented on #499
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:55] #499 closed

[2020-02-10 18:55] fubaduba commented on #507
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:55] #507 closed

[2020-02-10 18:56] fubaduba commented on #701
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:56] #701 closed

[2020-02-10 18:57] fubaduba commented on #827
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:57] #827 closed

[2020-02-10 18:57] fubaduba commented on #837
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:57] #837 closed

[2020-02-10 18:57] fubaduba commented on #843
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:57] #843 closed

[2020-02-10 18:58] fubaduba commented on #844
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:58] #844 closed

[2020-02-10 18:58] fubaduba commented on #1003
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:58] fubaduba commented on #1072
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 18:58] #1072 closed

[2020-02-10 19:01] fubaduba commented on #1172
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:01] #1172 closed

[2020-02-10 19:01] fubaduba commented on #1268
This issue is has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this issue persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:01] #1268 closed

[2020-02-10 19:22] fubaduba commented on #1266
@jramsay could we check if this is something we can repro?

[2020-02-10 19:29] fubaduba commented on #1392
@jramsay can we try and repro this please?

[2020-02-10 19:30] fubaduba commented on #1393
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:30] #1393 closed

[2020-02-10 19:31] fubaduba commented on #1406
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:31] #1406 closed

[2020-02-10 19:32] fubaduba commented on #1450
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:33] fubaduba commented on #1472
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:33] #1472 closed

[2020-02-10 19:35] fubaduba commented on #1510
@jramsay can we please try and repro this and see if this persists?

[2020-02-10 19:36] fubaduba commented on #1552
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:36] #1552 closed

[2020-02-10 19:40] fubaduba commented on #1559
@jramsay can we please check if this issue still persists?

[2020-02-10 19:40] fubaduba commented on #1563
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:40] #1563 closed

[2020-02-10 19:41] fubaduba commented on #1588
@jramsay can we please check if this issue still persists?

[2020-02-10 19:42] fubaduba commented on #1601
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:42] #1601 closed

[2020-02-10 19:47] fubaduba commented on #1627
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:47] #1627 closed

[2020-02-10 19:49] fubaduba commented on #1721
@jramsay can we please check if this issue still persists?

[2020-02-10 19:50] fubaduba commented on #1739
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:50] #1739 closed

[2020-02-10 19:50] fubaduba commented on #1750
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:50] #1750 closed

[2020-02-10 19:50] fubaduba commented on #1775
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:50] #1775 closed

[2020-02-10 19:52] fubaduba commented on #1782
@jramsay looks like this issue still persists and never got resolved. Can we please take a look at this?

[2020-02-10 19:53] fubaduba commented on #1826
This issue has been closed due lack of any recent activity. We've made lots of improvements to Live Share since this issue. Please re-open the issue, if this problem persists.
🤖Live-Share-Clean-Up-Bot🤖

[2020-02-10 19:53] #1826 closed

[2020-02-10 20:23] patrickmcnamara commented on #3153
I fixed this on my machine by running `xdg-settings set default-url-scheme-handler code-oss code-oss-url-handler.desktop`. This adds a URL scheme handler for the URL.

I don't know if this should be closed or not. VS Live Share *does* automatically set up another URL scheme (`vsls`) when installed, but not the `code-oss` one.

[2020-02-10 23:30] fubaduba opened #3172 "test"

[2020-02-10 23:31] #3172 closed

[2020-02-11 02:26] johnramsden commented on #180
Issue occurred on Arch Linux on two systems this week.

`~/.vscode/extensions`

[code]

[2020-02-11 10:25] raldred commented on #1588
I have looked @fubaduba and this appears to have been changed so that email addresses are redacted in log output

[code]

[2020-02-11 13:21] vike2000 commented on #180
Here? I guess:

Using `ls -1 ~/.vscode/extensions` \@ macos10.13.6 (high sierra)

[code]
All installed from inside VS Code (VSC), except:
`symbaslikedef-spirits`, being an old one of mine (non-public) that just `"contributes"` one little object per `{"commands":…,` and `"keybindings": …}`, so I doubt it'd interfere w/ this issue..

[vsls-logs200211.zip](https://github.com/MicrosoftDocs/live-share/

[2020-02-11 17:24] #1588 closed

[2020-02-11 20:23] mrickard opened #3173 ""Server error""
Issue Type: <b>Bug</b>

Trying to join a live share session

Extension version: 1.0.1510
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:33.119Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8569U CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fla

[2020-02-11 21:01] pedropablo commented on #3008
Hi, the bug #1957 is closed already. But I still have the exact same error, with the same exception  about Microsoft.NodejsTools.Workspace.PackageJsonTestContainerDiscoverer, in the latest VS 2019.

Product and Version [VS]:16.4.5
OS Version [Windows]:10.0.18363 Build 18363.592
Live Share Extension Version:1.0.1511.0
Node.js Tools   1.5.11023.1 Commit Hash:579896f0984848d17d080c8a1c3ddff98d5ba96f

[2020-02-11 21:13] pedropablo commented on #3008
I noticed this error creating the live Session. It happens even on an empty VS or witha  solution loaded. I don't have the Language Server Client Preview extension installed.

[Client.Rpc W] Service not available: sessionContext
[VSIX I] The workspace has been successfully shared.
[VSIX I] The workspace join URI is https://prod.liveshare.vsengsaas.visualstudio.com/join?4062DF584FAC95D84ADC2A2B055F

[2020-02-12 16:09] matthew-a-thomas opened #3174 "She's broke, Jim"
**Describe what happened:**

I'm a guest in a live share session. We're working together on a C# (.Net Framework 4.8) solution. The session is not read-only: I'm able to edit files and trigger builds.

I'm unable to go to any definitions whatsoever. Ctrl-clicking on a type name does nothing. Choosing "Go To Definition" from the context menu brings up the "Cannot navigate to the symbol under the ca

[2020-02-12 16:16] matthew-a-thomas commented on #3174
I used the "Report a Problem" thing in Visual Studio. (The HTML comment in the instructions said something about doing that). The title of that issue is the URL of this one. I included a screen recording just showing the stuff I described above. Hopefully that issue report landed in a bucket you'll be able to see. The reporting tool said thanks
![image](https://user-images.githubusercontent.com/14

[2020-02-12 21:30] LayZeeDK commented on #180
Reinstalling the previous version fixes it for me on Windows 10.

[2020-02-12 22:26] redops12 opened #3175 "LiveShare won't start"
Hello, I recently installed a linux artix distro on my surface pro 6 using linux-surface kernel, with runit as the init system. I tried to install vscode for the livesharing features and installed the live-share extension but it first displayed the error message "No unique release file found!" and then when I tried to start collaboration sessions it would either do nothing or display "liveshare.st

[2020-02-12 22:41] StormFalcon32 commented on #3124
I have the same issue on windows 10, installing a new version works, but the yellow notification by the extensions tab icon to update is kind of annoying

[2020-02-13 00:35] nolachen opened #3176 "Changes are being deleted"
Issue Type: <b>Bug</b>

I'm using live share (originating from my computer) to program with one other person, and when the other person makes changes, they do not show up in my VSCode and vice versa. Then, when I save the file, all the changes from the other person disappear on their VSCode as well.

This only started happening as of right now, I've used live share successfully in the past.

Exten

[2020-02-13 01:04] danvayn commented on #1721
Yes, me and my buddy are experiencing it right now :)

[2020-02-13 01:05] #3173 closed

[2020-02-13 01:10] jramsay commented on #3174
@matthew-a-thomas: thanks for reporting this issue! The ActivityLog you included does show that there was an issue loading language service components which explains the degraded experience. Adding @daytonellwanger and @aletsdelarosa to investigate further. They might have some follow up questions for you.

[2020-02-13 01:13] pjainz opened #3177 "Update 1.0.1587 is broken"
**Describe what happened:**
It would not let me invite people to a live-share session. For the two people who were able to join the live share session, they were not able to see each others' edits.

**What was your system configuration?**
*Product and Version* [VS/VSCode]:
*OS Version*[macOS/Windows]:
*Live Share Extension Version*:
*Target Platform or Language* [e.g. Node.js]:

**Steps to Reprodu

[2020-02-13 02:11] nzacca opened #3178 "VS Code Live Share 1.0.1587 installation failing for x64"
**Describe what happened:**
Attempting to install Live Share 1.0.1587 fails with an error indicating that the installation was corrupted and points to the following issue: https://github.com/MicrosoftDocs/live-share/issues/180

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode 1.42.0
*OS Version*[macOS/Windows]: Windows
*Live Share Extension Version*: 1.0.1587
*Targ

[2020-02-13 02:12] Zangoran opened #3179 "An update or installation of VS Live Share failed due to a corrupted download."
Issue Type: <b>Bug</b>

"An update or installation of VS Live Share failed due to a corrupted download."
Even after uninstalling and reinstalling multiple times, it still is broke

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|

[2020-02-13 02:13] Zangoran commented on #3179
I just saw that a bunch of others have posted this same issue. Closing this one, as to not clutter the issues.

[2020-02-13 02:13] #3179 closed

[2020-02-13 02:54] Benargee commented on #3124
Had the same issue on VScode 1.42.0, Windows 7. Switched back to Live Share 1.0.1456 and it works perfectly now.

[2020-02-13 03:04] lancecarlson commented on #3124
My friend just had this issue and he's running Windows 10, VScode 1.42.0. Trying to have him install an older version of live share now..

[2020-02-13 04:02] codylc commented on #3178
+1
Installing .Net Core 3.1 also resolved the failed update for me.

[2020-02-13 04:27] Frost77011 opened #3180 "An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve."
Issue Type: <b>Bug</b>

I was working on a program that my classmate had shared with me when it kicked me, declaring that the two versions were out of match. It reloaded VIsual Studio Code and I now get this error that there was a corrupted document and I can not get it to work. I've uninstalled and reinstalled Live Share, I've uninstalled Visual Studio Code, still didn't work. I even looked into

[2020-02-13 04:51] eamodio commented on #3178
I'm seeing the same thing -- And a clean and re-install doesn't fix the issue

/cc @lostintangent

[2020-02-13 05:23] alexrindone commented on #3124
I just had the same issue too, trying to install an older version but can't figure it out. This is killing my dev workflow!

[2020-02-13 06:10] srivatsn commented on #3178
You shouldn't have to install .NET separately. The extension downloads a copy of .NET and is supposed to use it. Could you please run the `LiveShare: Export Logs` command and attach the logs here to see what's going on?

[2020-02-13 06:16] youngnick commented on #3178
I'm seeing the same thing. Here is the log zip.
[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/4196760/livesharelogs.zip)

[2020-02-13 06:28] nzacca commented on #3180
May be same issue as https://github.com/MicrosoftDocs/live-share/issues/3178 .

Try installing the x86 version of .NET Core 3.1 to see if that fixes the issue for you.

[2020-02-13 06:43] srivatsn commented on #3178
Thanks for your logs. I see the problem. Dotnet gets downloaded to a folder and the vsls-agent process is launched by setting an env car called `DOTNET_ROOT` to point to the dotnet location. Your log is saying that it didn't find the `DOTNET_ROOT(x86)` env var - so it seems like a bitness issue. Do you by any chance have a 32 bit vscode?

[2020-02-13 07:30] youngnick commented on #3178
I downloaded 1.42.0 x64 version and installed it as part of my troubleshooting, so not currently.

[2020-02-13 07:49] Benargee commented on #3124
It's quite easy. Just right click on or it's gear icon it in the list of enabled extensions.

[2020-02-13 08:49] azizikri15 opened #3181 "corrupt when finished downloading"
Issue Type: <b>Bug</b>

there is an notifications that says the extensions in corrupted, and needs to be reinstall, when i tried to reinstall again the notifications keep showing

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|

[2020-02-13 10:06] goral09 commented on #2673
Same problem here.

[2020-02-13 10:50] youngnick commented on #3178
I also downloaded 1.42.0 ia32 version, uninstalled the x64 version, and installed the ia32 version. Same problem, logs attached.
[ia32_logs.zip](https://github.com/MicrosoftDocs/live-share/files/4197809/ia32_logs.zip)

[2020-02-13 10:53] alke32 opened #3182 "It doesn't work"
Issue Type: <b>Bug</b>

After vscode open I've this error on my screen.

An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details.

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS v

[2020-02-13 11:00] didrocks commented on #3177
Confirming that the edits from collaborator are not visible either here (we tried sharing in the 2 ways). The cursor placement is correct, but no content is updated.

[2020-02-13 11:05] ilyesDjerroud commented on #1721
me and my team mate too ! it's weird yesterday was working so fine

[2020-02-13 11:08] Al12rs commented on #3182
Can reproduce in both vs code 1.42 and on the insider version.
Right clicking on it and selecting "Install another version" to install 1.0.1510 seems to work correctly.

[2020-02-13 11:42] davidglezz commented on #3182
It does not work since the last update: vscode 1.42

[2020-02-13 11:44] Foo42 opened #3183 "Cannot edit across a liveshare session with latest version."
Edits made by users on 1.0.1587 are not visible to other users on this or previous versions.

We have tried with all participants on 1.0.1587 and with some on previous versions. Whether the user with 1.0.1587 hosts or joins a session, their edits do not propagate to others.

If a user with 1.0.1587 joins a session with a user on the previous version, edits from the previous version propagate to al

[2020-02-13 12:10] martinlacorrona commented on #3182
Same for me and my colege.

[2020-02-13 12:41] kwarij commented on #3124
I 'had' the same issue, installing a previous version of live share resolved it.

[2020-02-13 13:07] matthew-a-thomas commented on #3174
Fire away, @daytonellwanger and @aletsdelarosa !

[2020-02-13 13:45] ChocoDream opened #3184 "Corrupt update"
Issue Type: <b>Bug</b>

Can't use liveshare, corrupt update for some unknown reason.

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: en

[2020-02-13 14:00] MrSonicMaster commented on #180
Reinstalling extention, reloading window in various configurations, deleting files located at %userprofile%/.vscode/extentions fails to solve the issue. After every step, restarting and deleting and whatnot, installing live share again still results in a link to this page "https://aka.ms/vsls-corrupted-install."

[2020-02-13 14:08] serverhorror commented on #180
I'm seeing this in the _Log (Extension Host)_:

[code]
**Steps to Reproduce / Scenario:**
1. Start VS Code
1. See error
[code]
1. Uninstall _Live Share Extension Pack_
1. Exit VS Code completely
1. Install  _Live Share Extension Pack_
1. See error
[code]

[2020-02-13 14:12] serverhorror commented on #3178
(Not sure which issue is the right one, I hope I linked the correct issues)

I'm seeing this in the _Log (Extension Host)_:

[code]
**Steps to Reproduce / Scenario:**
1. Start VS Code
1. See error
[code]
1. Uninstall _Live Share Extension Pack_
1. Exit VS Code completely
1. Install  _Live Share Extension Pack_
1. See error
[code]
#3178, #180

[2020-02-13 14:59] chkprice opened #3185 "Error"
Issue Type: <b>Bug</b>

An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details.

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:34.058Z)
OS version: Windows_NT x64 10.0.18363

<details>
<sum

[2020-02-13 15:02] LayZeeDK commented on #180
The [Live Share extension](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare) is the one that needs to be downgraded. You might need to opt out of the [Live Share Extension Pack extension](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack) and install them one by one.

[2020-02-13 15:03] brunojuliao commented on #180
Just one correction:
Windows %USERPROFILE%\.vscode\extensions

(it's not a big deal, but if someone try that quickly, will get an error message and might take some time to realize it's just a missing "\".)

[2020-02-13 15:06] garrettw commented on #180
huh? that looks exactly the same

[2020-02-13 15:08] brunojuliao commented on #180
Thanks for pointing that out @garrettw . It seems that "\" + "." gets parsed as just ".". When I doubled the "\" it show up properly.

[2020-02-13 15:38] nolachen commented on #3183
Same here

[2020-02-13 15:42] ramsaysewell commented on #3183
+1 on having this issue.

Have tried hosting a session and joining my own session, but no difference.
VSCode (Mac) v1.42.0

[2020-02-13 16:42] Unluckymichell commented on #3184
Same thing for me. Older versions are even more buggy! I tried to downgrade and Visual Studio started to reload permanently. I had to uninstall the extention via the command line (code --uninstall-extension ms-vsliveshare.vsliveshare)

[2020-02-13 16:45] frank-dspeed commented on #180
@brunojuliao  next time use
\`\`\`
text
\`\`\`

shows up like this
[code]

[2020-02-13 16:55] mattmerrill commented on #3183
+1 same version same problem

[2020-02-13 16:56] nateleavitt commented on #3183
+1 same.. on both stable and insiders

[2020-02-13 17:02] kinghat commented on #1782
could those are are interested and still following please post their `/etc/pam.d/sddm` configurations?

[2020-02-13 17:10] daytonellwanger commented on #3183
Thanks for reporting! We're looking into it and will have a fix out ASAP.

[2020-02-13 17:25] ericfowler303 commented on #3176
I started seeing this occur yesterday but I'm using VS Code insiders:
Version: 1.43.0-insider (user setup)
Commit: 1fbacccbc900bb59ba8a8f26a4128d48a1c97842
Date: 2020-02-13T06:41:13.411Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19559

I make changes to a file, then save which is being shared, navigate to another file but when returnin

[2020-02-13 17:26] pallymore opened #3186 "changes are not syncing"
Issue Type: <b>Bug</b>

Started live share with a colleage, read & code navigation works fine, but my files (host) are not updating and my changes not synced to his screeen either.

however when I shared the terminal, we can both see each other's commands while we type.

Extension version: 1.0.1587
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:33.119Z)
OS

[2020-02-13 17:29] AshlandWest opened #3187 "Liveshare Corrupted Download"
Issue Type: <b>Bug</b>

Live share started throwing errors on startup saying it needed to be reinstalled. I did so and also treid unistalling live server then installing the extention pack. I restarted VSCode between each instalation.
It won't throw an error immidiatly on install but the extention won't allow me to create a new session and the next time I restart VS Code it will throw the error ag

[2020-02-13 17:42] ayozemr commented on #3186
+1

[2020-02-13 17:43] ayozemr commented on #3183
+1

[2020-02-13 17:46] ayozemr commented on #3186
Working if you rollback to 1.0.1510

[2020-02-13 17:47] ayozemr commented on #3183
Working if you rollback to 1.0.1510

[2020-02-13 17:56] jramsay commented on #3180
@Frost77011: thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 17:56] #3180 closed

[2020-02-13 17:57] jramsay commented on #3181
@azizikri15 : thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 17:57] #3181 closed

[2020-02-13 17:58] jramsay commented on #3182
Thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 17:58] #3182 closed

[2020-02-13 17:59] jramsay commented on #3184
Thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 17:59] #3184 closed

[2020-02-13 18:00] jramsay commented on #3187
@ashergarland: Thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 18:00] #3187 closed

[2020-02-13 18:00] jramsay commented on #3185
@chkprice : thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 18:00] #3185 closed

[2020-02-13 18:09] denkyuu commented on #3186
I'm running into the same issue. @ayozemr, how did you roll back the version?

[2020-02-13 18:10] ayozemr commented on #3186
Right click on extension -> Install another version -> Will open command list with versions, select that one -> Reload vscode

[2020-02-13 18:44] ramhugger opened #3188 "An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details."
I tried to install the Live Share extension.
When I did so, it ran into this weird error, but when I installed the previous version everything was fine.
Downgrading the extension did't make me run into any other kind of problem, but upgrading did every time I tried.
I've also already tried uninstall/reinstall and deleting cache files and folders, but nothing made the newest version of Live Share w

[2020-02-13 18:58] luisipv7 commented on #180
/.vscode/extensions

abdelaziz18003.quasar-snippets-1.0.0
       af4jm.vscode-m3u-1.0.0
		alan.stylus-0.0.4
            alefragnani.bookmarks-10.7.0
            andys8.jest-snippets-1.7.0
            bmewburn.vscode-intelephense-client-1.3.9
          brenosolutions.sqlformatter-0.0.7
           chaunceykiwi.json-tree-view-2.6.0
           christian-kohler.npm-intellisense-1.3.0
         christian

[2020-02-13 19:27] jramsay commented on #3188
Thanks for reporting this issue! We're testing a fix and will be releasing an update shortly. I'm going to resolve this as a duplicate of #3178 so that we can consolidate the discussion there.

[2020-02-13 19:27] #3188 closed

[2020-02-13 19:29] garrettw commented on #180
@frank-dspeed also \`\` around the text, like `this`

[2020-02-13 20:17] ojintoad commented on #180
Before reinstall

[code]

After reinstall
[code]

This might be a different issue? doing the uninstall / install doesn't seem to work

[2020-02-13 20:30] vivi83 commented on #180
Good evening,
since today I have this problem:
An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details.
Can you help me because it is the only way I can follow my lessons.
Thank you

[2020-02-13 20:46] sanyi8 opened #3189 "VS Live Share failed due to a corrupted download."
Issue Type: <b>Bug</b>

Cant install vs live share extension, it is broken since the last update of vs studio code.
Uninstalled restarted still not working.

Extension version: 1.0.1587
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<a href="https://imgbb.com/"><img src="https://i.ibb.co/T4vMDSr/image.png" al

[2020-02-13 20:52] garrettw commented on #180
@vivi83 Have you read through the replies above and tried suggestions that have worked for others?

[2020-02-13 20:53] garrettw commented on #180
@ojintoad You do have the ability to delete your comment if necessary.

[2020-02-13 21:32] jramsay commented on #3178
@nzacca, @codylc, @eamodio, @youngnick, @serverhorror: thanks for your help with this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this. Installing .Net Core 3.1 is no longer required.

[2020-02-13 21:32] #3178 closed

[2020-02-13 21:33] jramsay commented on #3189
@sanyi8 : thanks for your help with this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this.

[2020-02-13 21:33] #3189 closed

[2020-02-13 21:34] jramsay commented on #3186
thanks for reporting this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this.

[2020-02-13 21:34] #3186 closed

[2020-02-13 21:35] jramsay commented on #3183
thanks for your help with this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this.

[2020-02-13 21:35] #3183 closed

[2020-02-13 21:35] jramsay commented on #3177
thanks for your help with this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this.

[2020-02-13 21:35] #3177 closed

[2020-02-13 21:37] jramsay commented on #3176
thanks for your help with this issue! We just published an update to the Live Share extension (v1.0.1615) that should address this. Please let us know if you are still having problems.

[2020-02-13 21:37] #3176 closed

[2020-02-13 21:46] jramsay commented on #3175
Thanks for reporting this issue! We just published an update to the Live Share extension (v1.0.1615) that might address this. Please let us know if you're still hitting the issue on linux after you update.
If so, it is likely an issue specific to your linux distro that we can investigate further.

[2020-02-13 21:46] #3175 closed

[2020-02-13 22:06] aletsdelarosa commented on #3174
Hello @matthew-a-thomas could you tell us the VS version of the host?
Thanks!

[2020-02-13 22:42] r2dev2bb8 opened #3190 "Not syncing cursor"
Issue Type: <b>Bug</b>

Acquire two computers, one is running Ubuntu 19.10 and the other is running Windows 7. The Ubuntu machine is the host of the liveshare. Go to the same file and try to edit the file in Windows 7. The changes appear at a different place in the host computer's file than it appears in the other computer's window.
For example: lets say we have the code:
print("Hello World")
prin

[2020-02-13 23:07] hornta commented on #180
It does not work for me either (win10). I had to use the previous version but it causes sync errors with my friend which is using the latest version on a mac.

[2020-02-13 23:24] jorgeazacaniz opened #3191 "no funciona"
Issue Type: <b>Bug</b>

no funcioa

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x 2195)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabl

[2020-02-13 23:46] jramsay commented on #3191
@jorgeazacaniz: thanks for reporting this issue! Can you provide us with more information on the issue. How is it not working for you? Si puede darnos algunos detalles más específicos, deberíamos poder ayudar a resolver el problema.

[2020-02-14 00:48] daytonellwanger commented on #3174
Hey @matthew-a-thomas , thanks for the very detailed bug report!

Language services *should* be working in a Live Share session.

From your logs, it looks like the issue is that Live Share is trying to load the wrong version of one of our dependencies. I'm not sure why that'd be the case, and can't repro the issue.

A few things you could try:
- Clear the MEF cache (go to `%LOCALAPPDATA%\Microsoft

[2020-02-14 02:42] jch2617 opened #3192 "Corrupted VS Code Live Share extension download"
I've uninstalled and re-installed the liveshare extension several times, and the update is failing due to a corrupted download. In my ~/.vscode/extensions, here are the files that appear:

2gua.rainbow-brackets-0.0.6
ms-vsliveshare.vsliveshare-1.0.1615
azemoh.one-monokai-0.4.6
ms-vsliveshare.vsliveshare-pack-0.3.4
johnpapa.vscode-peacock-3.3.1
ritwickdey.liveserver-5.6.1
mikael.angular-beastcode-8

[2020-02-14 03:20] r2dev2bb8 commented on #3190
Restarting my computer seems to have fixed the problem

[2020-02-14 06:29] vivi83 commented on #180
@garrettw , yes i tried but it didn't change anything

[2020-02-14 06:51] jsejcksn commented on #3051
@fubaduba In which repo can I file new issues specific to VSCode Online?

[2020-02-14 12:27] CodingDive commented on #180
I also ran into this issue. Reinstalling the extension did not help.

[2020-02-14 13:06] LukeWolfGames opened #3193 "Syncing issue when copying and pasting code"
Issue Type: <b>Bug</b>

1. Copy and paste code to an area between blocks of code.
2. The code does not update correctly for the host but the guest will be able to see everything they copy and paste correctly.

Due to this, VS code complains about the code because this causes the host's version to have spaces in places that should not have spaces and putting things on the wrong line. The guest sees

[2020-02-14 14:54] bespoyasov opened #3194 "Live-Share doesn't save changes on VS / VSCode"
**Describe what happened:**
When I share code from Visual Studio to VS Code via Live Share, the changes applied to code are not being saved.

To be more precise, they appear to be saved, however code reverts to previous, unchanged version after a second or so. The revert may be connected to Visual Studio window being focused when I switch between editors.

**What was your system configuration?**
*

[2020-02-14 18:11] jkeech commented on #3051
@jsejcksn https://github.com/microsoftdocs/vsonline/issues

[2020-02-14 18:47] JacqueSatan commented on #3192
Same, with different computers with windows

[2020-02-14 18:50] iohcidnal opened #3195 "Desync encountered"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**
I was changing a js file. Host was on a Windows machine.

**How often have you encountered desyncs?**
Many times in the last three days.

[2020-02-14 20:04] jramsay commented on #3192
@jch2617:  thanks for filing this issue! Unfortunately the error message is a bit generic and misleading in this case. I think the problem you're hitting is that you're on Sierra which is no longer supported. Our next release will have a much better error message that makes this obvious. This is the guidance from our trouble shooting doc:

This warning appears is due to a recent update made by .NE

[2020-02-14 20:04] #3192 closed

[2020-02-14 20:13] jramsay commented on #3193
@LukeWolfGames: thanks for reporting this issue!

@daytonellwanger might have some follow up questions for you

[2020-02-14 20:21] jramsay commented on #3195
@iohcidnal: thanks for reporting this issue! Can I ask what version of the Live share extension you have installed? There was a known issue with our previous release when the Host or Guest were using VS Code Insiders. That has been fixed in the latest market place release: 1.0.1615

If you can still repro the issue with the latest release are there repro steps that lead up to the desync? (ex: cut

[2020-02-14 20:29] jramsay commented on #3190
@r2dev2bb8: thanks for filing this issue! Glad you were able to resolve your desync. I'm going to close this issue but please do let us know if you have a repro if it happens again. If you do have logs for both machines that you could attach to this issue it might give us a clue to what happened.

You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift

[2020-02-14 20:29] #3190 closed

[2020-02-14 21:23] matthew-a-thomas commented on #3174
@aletsdelarosa The host is running 16.4.5 like me

[2020-02-14 21:37] fubaduba opened #3196 "VS Code Live Share v1.0.1615 issues fixed"
Hey Live Share community.
If you experienced issues with a corrupt Live Share install, or just general functionality issues with our latest release, this has now been resolved.
We apologize for the inconvenience. There was some breaking changes that went undetected by our rigorous tests.

Still facing issues?
1. If you don't have auto-update on for your extensions in the marketplace, re-install Li

[2020-02-14 21:53] matthew-a-thomas commented on #3174
@daytonellwanger Happy to help.

So both I and the host performed the first and second steps (cleared MEF cache, reinstalled Live Share) with no change. Then we both installed VS 2019 Preview (4.8.037252) configured with the .Net load and the Live Share extension. We tried all permutations of VS normal vs preview as host vs client and the only combination that works is when both of us are running

[2020-02-14 23:56] LukeWolfGames commented on #3193
No problem. I often code with a friend over the internet and we use this plugin a lot to help us collaborate so I'll be happy to help!

One extra thing I found out after posting this bug report was that after we both restarted the session and tried again immediately after, it seemed to not do this. It only happened after being in the session after some time and during that, there were times where

[2020-02-15 06:36] LukeWolfGames commented on #3097
Sorry for taking so long with this issue.

This does not seem to be happening anymore. I'm not sure what it was that was causing this to happen, but it may have been fixed on the latest update.

I'll go ahead and close this issue.

[2020-02-15 06:36] #3097 closed

[2020-02-16 12:32] Ybrin commented on #3196
@fubaduba Does this apply to #3164 ?

[2020-02-16 21:37] Ybrin commented on #3164
Also tested with 1.0.1615. Does not make a difference. Still the same issue.

[2020-02-16 21:39] PeterWone commented on #3143
Guest views of a shared terminal seem to be affected by the host's window size. When I (as host) reduced the height of a shared terminal, the guest user's clipping window shrank to match mine even though his terminal window was still full screen. He had a narrow band of visible text at the bottom of his window and blank space above it. Later when I returned mine to full screen he said the rest of

[2020-02-17 00:23] Ybrin commented on #3164
@IlyaBiryukov @fubaduba Ok it seems like alpine is the issue here. Not the host OS. I can reproduce this issue with alpine as the Docker OS on multiple hosts. If I switch to e.g. Debian Jessie it works on all OSes. Seems like alpine (or at least this specific version of it) is not does not work with this extension.

[2020-02-17 00:34] Ybrin commented on #3164
If you need the Dockerfile which leads to a successful install, here it is:

[code]

[2020-02-17 02:43] GrimRich opened #3197 "issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-02-17 11:49] Cellule commented on #3168
Any updates? Anything I can do to work around the problem or help investigate?

[2020-02-18 13:04] saurabh000345 commented on #3012
Well the same problem still persists. But you could use the work around. Simple Go to the Command Palette and choose `Live Share: Sign in using user code`. A browser window will pop up. If it doesn't,  go to [this location](https://insiders.liveshare.vsengsaas.visualstudio.com/auth/login) and proceed with authentication. Once the authentication succeeds, you'll get a `Ready to collaborate` thingy.

[2020-02-18 17:08] Moniarchy commented on #3197
Hi @GrimRich. Thanks for reporting this issue. Can you tell us more about what you were doing when you encountered this desync?

[2020-02-18 17:18] Moniarchy commented on #3194
Thanks for reporting this issue, @bespoyasov. I'm going to try to repro this, and it would also help if you send us your logs so I can take a look. Can you upload your logs or send them to vsls-feedback@microsoft.com?

For Visual Studio, you can find your logs in the %TEMP%/VSFeedbackVSRTCLogs directory. For VS Code, you can access them via the `Live Share: Export Logs` command from the command pa

[2020-02-18 17:28] Moniarchy commented on #3149
Thanks for reporting this @komjenic. I'm going to close this as a duplicate of #3021. Please head there and upload your logs. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #3021.

[2020-02-18 17:28] #3149 closed

[2020-02-18 17:31] Moniarchy commented on #3151
Thanks for reporting this issue, @smkrishnaOpenSource. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-02-18 17:40] Moniarchy commented on #3148
Hi @MichaelBitard. Thanks for reporting this issue. Can you tell us more about what you were doing when you encountered this desync?

There was a known issue with our previous release when the Host or Guest were using VS Code Insiders. That has been fixed in the latest market place release: 1.0.1615

Also, your logs may provide us with helpful information. You can access them via the Live Share: E

[2020-02-18 17:56] jramsay commented on #3168
@cellulle: sorry for the delay! Thanks for reporting the issue and including your logs! I think this might be an issue the occurs due to the required C++ libraries not being installed on your machine. Can you try installing the **x86** version of the "_Microsoft Visual C++ Redistributable for Visual Studio 2019_". You can install this by going [here](https://visualstudio.microsoft.com/downloads/)

[2020-02-18 19:37] IlyaBiryukov commented on #3143
@PeterWone what you saw is by design. The terminal has one size across all the participants, and it matches the minimum dimensions of participant windows that show the terminal. The reason for that is that if the terminal view size was larger than the window where it is rendered, there would be two sets of scroll bars - one from the window, and another one from the terminal.

[2020-02-18 19:42] zpiell opened #3198 "Live Share Won't Let Us Edit Code"
**Describe what happened:**
I am trying to share code files with my partner for a project, but we are not able to edit each other's code. I am able to see his cursor, but when he types I cannot see changes he is making, so we are getting frustrated and cannot find any solutions online.

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode
*OS Version*[macOS/Windows]: m

[2020-02-18 20:18] gpduck opened #3199 "Desync issue"
**Product and Version**: VSCode 1.41.1
**OS Version**: Windows 10 1909
**Live Share Extension Version**: 1.0.1615
**Target Platform or Language**: Typescript

**What were you doing when you encountered the desync?**

My co-worker had started a sharing session and I was editing files "remotely".  He was definitely not working in code at the time as he was sitting next to me and had been distracted

[2020-02-18 20:56] Cellule commented on #3168
I have installed `VC_redist.x86` from that link and rebooted, but I still get the same error

[2020-02-18 21:08] pheuter opened #3200 "Intellisense was not working for guest"
Issue Type: <b>Bug</b>

Was working for me, the host, but no C# intellisense for the guest editor, who had write access.

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (

[2020-02-18 21:28] PeterWone commented on #3143
@IlyaBiryukov I can see how the sharing leads to the observed behaviour, but _why_ is the terminal view size shared? Doesn't it produce problems when users have differently sized viewports on displays of widely differing resolutions?

[2020-02-18 22:17] Moniarchy commented on #3198
Thanks for reporting this issue, @zpiell. Can you and your partner upload your logs to this issue so I can take a look at them? You can access them via the Live Share: Export Logs command from the command palette (`cmd + shift + p`) and attach them to this issue

[2020-02-18 22:19] Moniarchy commented on #3199
Thanks for reporting this issue, @gpduck. I'm sorry to hear about your desync! When you can, will you upload your session logs to this issue so we can take a look? You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl (or cmd) + shift + p`) and attach them to this issue.

[2020-02-18 22:20] IlyaBiryukov commented on #3143
The shared terminal runs on the host side. There is only one terminal process, and it has its terminal configuration, including the terminal window size. We cannot run the same terminal process in different windows. Then there are full-screen terminal apps, like vim. These depend on the terminal renderer dimensions matching the terminal process window dimensions. So, all terminal renderers across

[2020-02-19 00:10] daytonellwanger commented on #3174
Thanks for jumping through all the hoops @matthew-a-thomas ! I'm able to repro and am working on a fix. Hopefully we can get it out to you this week or next. I'll keep you posted.

[2020-02-19 00:11] daytonellwanger commented on #3174
(But yes, upgrading to VS 2019 Preview would be a temporary work-around)

[2020-02-19 00:32] jramsay commented on #3168
@cellulle: thanks for trying this! The same error being: "sharing-indicator.node" is not a valid Win32 application, correct? Perhaps it is a Windows NT specific issue. We'll do a test pass on Windows NT x64 to see if we can repro. In the meantime a few things to try:

1. You mentioned that you tried to uninstall the audio extension and reinstalled it. If it was due to a corrupt install you'd have

[2020-02-19 02:42] GrimRich opened #3201 "always get this issue. Why?"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-02-19 05:20] techdiary opened #3202 "[VS Code] [Audio] SlimCore not found: ../Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node"
Error:
SlimCore not found: /Users/aayush/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|MacOS|
|**platformVersion**|19.3.0|

[2020-02-19 05:22] techdiary commented on #3202
duplicate of #3021

[2020-02-19 05:22] #3202 closed

[2020-02-19 08:11] PeterWone commented on #3143
@IlyaBiryukov and yet you manage to cope in the text editor, by shipping model deltas around and rendering locally. Maybe I'm suffering from Dunning Kruger syndrome.

[2020-02-19 08:40] mediaclap opened #3203 "SCSS language services appear to have issues"
on SCSS files autocompletion doesnt works !
body {
b..
}
not propose border or background

[2020-02-19 14:08] Cellule commented on #3168
I tried uninstalling and deleting everything then reinstall and it worked !
I suppose it must have been something corrupted although it's weird it happened on my 2 devices (I do use Settings Sync extension so it could be related).

One little feedback while I'm here, when testing with my colleague, I was able to join his session and the audio call worked fine.
However, it didn't work when he was j

[2020-02-19 14:33] imperiumzigna opened #3204 "Sync bug"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-02-19 16:14] gpduck commented on #3199
Here you go.

[Desync.zip](https://github.com/MicrosoftDocs/live-share/files/4225978/Desync.zip)

[2020-02-19 16:21] mgaudet commented on #3143
(To be clear, my original bug report differs from what @PeterWone is talking about: In my case, as a viewer, I resized the terminal, down then up, and didn't see the size change: The host never changed the size of her terminal, so this is a distinct issue.)

[2020-02-19 16:36] rubensa commented on #3153
I was able to login by following the instructions in this comment: https://github.com/MicrosoftDocs/live-share/issues/3025#issuecomment-559219716

[2020-02-19 17:23] FrinkMan opened #3205 "Error when Signing In"
Issue Type: <b>Bug</b>

Starting collaboration session: Value cannot be null. (Parameter 'userId')

I'm connecting to a corporate microsoft account.

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2020-02-19 18:21] Moniarchy commented on #3205
Thanks for reporting this, @FrinkMan. Did you try to sign in with the browser when you got this error? Were you able to complete the authentication flow in the browser? Were you eventually able to sign in? We can take a look at your logs to try to diagnose this problem. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to th

[2020-02-19 18:22] Moniarchy commented on #3203
Hi @mediaclap, can you give us more information about this problem you're facing? Were you the guest or the host in this session? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-02-19 18:24] Moniarchy commented on #3204
Thanks for reporting this issue, @imperiumzigna. Can you upload your session logs to this issue so we can take a look? You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl (or cmd) + shift + p`) and attach them to this issue.

[2020-02-19 18:25] Moniarchy commented on #3201
I'm closing this issue as a duplicate of #3197. Please upload your logs there so we can diagnose the problem.

[2020-02-19 18:25] #3201 closed

[2020-02-19 18:49] imperiumzigna commented on #3204
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4226744/logs.zip)

Hi, here are my logs

[2020-02-19 18:50] IlyaBiryukov commented on #3143
@mgaudet I checked on Windows 10, VSCode 1.42.1, and Live Share extension 1.0.1615 and I don't reproduce the issue. The terminal window size is restored when you resize back. The renderer may screw with existing output when you resize, but the new output uses the right size.  Please check if the issue is fixed.

@PeterWone The difference from co-editing, where we deal with text and can apply delta

[2020-02-19 22:33] Moniarchy commented on #2618
I'm going to close this as resolved. Feel free to reopen or create another issue if this comes up for you again.

[2020-02-19 22:33] #2618 closed

[2020-02-19 22:37] Moniarchy commented on #2735
I'm going to close this as a dupe of #2086. If you encounter this problem again, please upload your logs to #2086 and join the conversation there.

[2020-02-19 22:37] #2735 closed

[2020-02-20 07:30] CRPradeep opened #3206 "[VS Code] [Audio] HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established"
Error:
HTTPS request failed for SkypeToken: Client network socket disconnected before secure TLS connection was established

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2020-02-20 09:35] mediaclap commented on #3203
i'm the guest on the host no problem ! we works at 3 guest and 1 host ! no probleme with css files on guest but scss impossible to have autocompletion on { }. outside { } its ok !

[vscode.zip](https://github.com/MicrosoftDocs/live-share/files/4229902/vscode.zip)

[2020-02-20 13:20] yudhir opened #3207 "Save the Ports/Server to be aurtomatically shared ."
Issue Type: <b>Feature Request</b>

It would be nice to have the shared ports, saved for the Project  . When I start a session it needs to be added again.

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:50:36.977Z)
OS version: Linux x64 4.19.102-1-MANJARO

[2020-02-20 17:18] Moniarchy commented on #3206
Thanks for reporting this issue @CRPradeep. Can you tell me more about what you were doing when you encountered this error? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-02-20 17:31] jonator commented on #180
I'm still having this issue through a Remote-SSH connection macOS -> linux machine.

Before reinstall:
[code]

[2020-02-20 20:19] swaaz opened #3208 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Linux|
|**platformVersion**|5.3.0-40-generic|

[2020-02-20 21:16] paulakfleck commented on #3107
Hey @IlyaBiryukov and @daytonellwanger , were you able to take a look? Thank you!

[2020-02-20 22:54] Moniarchy commented on #3208
Thanks for reporting this issue, @swaaz. I'm going to close this as a duplicate of #2996. Can you upload your logs there so that we can take a look at them? You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to #2996.

[2020-02-20 22:54] #3208 closed

[2020-02-21 01:41] daytonellwanger commented on #3107
Hey @paulakfleck , I could have sworn we fixed this! But I just checked and am able to repro. So should be easy to figure out what's going on. I'll see if we can schedule some time to look into it soon. Thanks for reporting!

[2020-02-21 11:34] rabinhoodsad881 opened #3209 "Programming"
Issue Type: <b>Bug</b>

12.py a test learn free

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17133

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7 CPU       Q 720  @ 1.60GHz (8 x 1596)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>

[2020-02-21 14:45] CKilgoreCB commented on #180
I'm also running into this issue as well. Error message is:

My extensions on VS Code 1.42.1 macOS 10.12.6 are:

[code]

[2020-02-21 17:27] edysegura opened #3210 "Not able to use liveshare"
Issue Type: <b>Bug</b>

I'm not able to use liveshare with the same user!

Extension version: 1.0.1615
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 2904)|
|GPU Status|2d_canvas: enabled<br>fl

[2020-02-21 18:31] mritunjaymusale commented on #1450
Well the problem still persists, when I try to use live share on google colab

[2020-02-21 21:32] Moniarchy commented on #3209
@rabinhoodsad881, can you tell us more about the issue that you ran into?

[2020-02-21 21:34] Moniarchy commented on #3210
Thanks for reporting this, @edysegura. Can you tell me more about the issue you ran into? What error message did you see? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-02-22 10:34] asiimwedismas opened #3211 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
[log.zip](https://github.com/MicrosoftDocs/live-share/files/4239159/log.zip)

Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2020-02-22 23:00] daytonellwanger commented on #3174
@matthew-a-thomas this should be fixed as of yesterday's release. Let me know if you find otherwise.

[2020-02-23 19:31] Double00Dalo opened #3212 "User code is invalid"
Issue Type: <b>Performance Issue</b>

Whenever i try to use liveshare I get an error saying user code is invalid

Extension version: 1.0.1653
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992

[2020-02-24 01:28] xavivzla opened #3213 "[VS Code] [Audio] SlimCore not found: /home/xavi/.config/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node"
Error:
SlimCore not found: /home/xavi/.config/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Linux|
|**platformVersion**|5.3.0-40-generic|

[2020-02-24 14:57] Micene09 opened #3214 "Stuck on Signin process (Microsoft Signin)"
Issue Type: <b>Bug</b>

I'm using Microsoft account to Signin, after Administrator approval i'm not able to continue.
Every time i try to sign in, the browser will open again the request page...it's in loop.

Extension version: 1.0.1653
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System

[2020-02-24 16:23] michaelchiche commented on #2673
I have the same issue inside VS Code with Remote - WSL inside WSL 2

[2020-02-24 17:58] nandiniYeltiwar commented on #3213
Closing the issue as dupe of #3021

[2020-02-24 17:58] #3213 closed

[2020-02-24 19:27] nandiniYeltiwar commented on #3212
Thanks for reporting the issue @Double00Dalo. Where are you seeing the error "User Code is invalid"? Is it in the browser or in VS Code?

[2020-02-24 20:38] matthew-a-thomas commented on #3174
@daytonellwanger Yep, it works now. Thanks!

[2020-02-24 20:58] #3174 closed

[2020-02-24 21:57] nandiniYeltiwar commented on #3214
Thanks for reporting the issue @Micene09 , have you tried closing all VS Code instances and retry signing?

[2020-02-24 22:00] Micene09 commented on #3214
Yes I did it, I got it working using GitHub auth.

[2020-02-24 23:25] nassimm commented on #3012
@saurabh000345 This is still not working for me; After I enter the code, nothing happens. As soon as I click anything related to Live Share, the sign-in prompt reappears.

I've tried with both Microsoft and Github logins, and with the code method for both too.

Are there any logs somewhere I could send you guys ?

[2020-02-25 06:10] saurabh000345 commented on #3012
@nassimm are you entering the code in the correct prompt? As far as I understand the issue (might be dumb of me to put it that way, but I think) that the sign in thingy has an issue with the detection of a sign in event. The very fact that you get a code means that the sign in has succeeded, it's only the app that is unable to detect this. I guess you should try it another time, try reinstalling t

[2020-02-25 16:49] nassimm commented on #3012
I'm thinking this is a connectivity issue. The extension is working fine on
another computer after it asked for a firewall exception. This prompt never
happened on my first computer, I'll look into adding the exception manually.

On Tue, Feb 25, 2020 at 7:10 AM saurabh000345 <notifications@github.com>
wrote:

[2020-02-25 18:36] nandiniYeltiwar commented on #3211
Closing as dupe of #2996

[2020-02-25 18:36] #3211 closed

[2020-02-25 18:43] nandiniYeltiwar commented on #2996
Please try out the following-
Corrupt install recovery instructions:

- uninstall Live Share Audio & close VS Code
-- delete the live share audio extension folder from:
- - 	C:\Users[user].vscode\extensions*ms-vsliveshare.vsliveshare-audio-0.1.80*
- - 	delete the live share audio global storage location folder found here:
- - 	C:\Users[user]\AppData\Roaming\Code\User\globalStorage**\ms-vsliveshare

[2020-02-25 19:24] geraldfullam commented on #2673
I'm having this issue as well.
VSLS: 1.0.1615
VS Code: 1.42.1
Platform: macOS 10.14.6
Browser redirects as expected, but error is shown. Have tried generating manual PIN for sign-in as well.

[2020-02-25 20:46] fubaduba commented on #3214
Thanks for reporting this! We will look into it.

[2020-02-25 20:50] iranramirez commented on #2673
So I think I solved the problem awhile ago. I apologize for not posting.
For some reason I had to restart my computer not just VS Code. This worked
for me.

On Tue, Feb 25, 2020, 1:24 PM Gerald <notifications@github.com> wrote:

[2020-02-26 05:26] kiatng opened #3215 "Cannot sign in to gain write access"
Issue Type: <b>Bug</b>

Click on live share at the status bar :

myname (Read-only)

Then, select signin to either github or microsoft. It throws error.

![image](https://user-images.githubusercontent.com/1106470/75314996-5a384100-589c-11ea-83c5-3f8e97531742.png)

Extension version: 1.0.1293
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS versio

[2020-02-26 05:37] #3215 closed

[2020-02-26 05:38] kiatng commented on #3215
Dup #3196

[2020-02-26 16:09] advaithm commented on #2673
same here on linux

[2020-02-26 23:17] LukeWolfGames commented on #3178
Hello.

I am still experiencing this issue even with the latest update. I have uninstalled and reinstalled the extention and reloaded vs code. I still get the same error message. This is forcing me to go to an earlier version of live share v1.0.1587 make it work. Am I doing something wrong?

[2020-02-26 23:50] MersadAkbari opened #3216 "The user code is invalid or expired. Try signing in again"
**System Information:**
VSCode 2020 1.42.1
Xubuntu 18.04
LiveShare 0.3.4

**Steps to Reproduce / Scenario:**
i clicked start collaboration seasion and i saw this error :
`Starting collaboration session: The user code is invalid or expired. Try signing in again.`

**Log:**
[livesharelog.zip](https://github.com/MicrosoftDocs/live-share/files/4258760/livesharelog.zip)

**screenshot**
![liveshare](htt

[2020-02-27 01:22] nandiniYeltiwar commented on #3178
@LukeWolfGames Can you try the following:
1. Close all VS Code instances
2. Delete the following folder:
-- If you are using VS Code: %appdata%\Code\User\globalStorage\ms-vsliveshare.vsliveshare
-- If you are using VS Code Insiders: %appdata%\Code - Insiders\User\globalStorage\ms-vsliveshare.vsliveshare
3. Delete Live Share extension from %userprofile%\.vscode\extensions\
4. Try installing again.

[2020-02-27 02:06] nandiniYeltiwar commented on #3216
@MersadAkbari  Are you seeing facing the issue multiple times? The user code is valid for 2 minutes from the time you signed in. After that you need to sign in again.

[2020-02-27 02:44] MersadAkbari commented on #3216
@nandiniYeltiwar how can i sign in ?!

[2020-02-27 07:43] matthewnha commented on #2411
Receiving the same error.
[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/4260153/livesharelogs.zip)

[2020-02-27 08:16] IUHHUI opened #3217 "[VS Code] [Audio] Electron not found: c:\\Users\\Administrator\\AppData\\Roaming\\Code\\User\\globalStorage\\ms-vsliveshare.vsliveshare-audio\\electron-4.2.7\\dist\\electron.exe"
Error:
Electron not found: c:\\Users\\Administrator\\AppData\\Roaming\\Code\\User\\globalStorage\\ms-vsliveshare.vsliveshare-audio\\electron-4.2.7\\dist\\electron.exe

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Windows|
|**platformVersion**|6.1.7601|

[2020-02-27 09:24] DragonaxeYT commented on #180
I've been trying to install the Live Share extension for two hours now. Before, it was stuck at "Downloading Dependencies: Finishing VS Live Share Installation (Downloading), but now, it "installs, and gives this exact error

This is my extensions-folder:
![image](https://user-images.githubusercontent.com/38505548/75430043-07699280-594b-11ea-8812-9b836e736a41.png)
I've been uninstalling and reinst

[2020-02-27 09:39] Tutorgaming commented on #3216
Same Here - Cannot Create the live session and also have this same error

[2020-02-27 13:46] niwla23 opened #3218 "Unsupported redirect domain"
Issue Type: <b>Bug</b>

Oauth fails with unsupported redirect domain when using github

Extension version: 1.0.1653
VS Code version: VSCodium 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-19T20:28:43.121Z)
OS version: Linux x64 5.3.0-28-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz (4 x 3602)|
|GPU Status|2d_canv

[2020-02-27 15:20] Cornstar23 commented on #2411
@matthewnha Workaround is to [install previous version of Live Share.](https://i.imgur.com/UmJcSiP.png)

[2020-02-27 17:18] nandiniYeltiwar commented on #3216
Can you try sign in from [https://prod.liveshare.vsengsaas.visualstudio.com/auth/login](https://prod.liveshare.vsengsaas.visualstudio.com/auth/login) ?

[2020-02-27 17:25] nandiniYeltiwar commented on #3217
@IUHHUI Can you try deleting the following folders:
-- c:\Users\Administrator\AppData\Roaming\Code\User\globalStorage\ms-vsliveshare.vsliveshare-audio
-- %userprofile%\.vscode\extensions\ms-vsliveshare.vsliveshare-audio-0.1.80
 and try installing Live Share Audio again?

[2020-02-27 17:27] nandiniYeltiwar commented on #3218
Can you please provide more information about the scenario when you hit the issue? Also can you provide us your logs too? You can access them via the Live Share: Export Logs command from the command palette (ctrl + shift + p) and attach them to this issue.

[2020-02-27 19:23] Burakkuboido opened #3219 "Live_Share_"Corrupted_File""
Hey,
My friend and I decided that he'll share his code with me so I can learn as he goes. To improve my programming. I installed VS Code as well as the live share extension but it keeps stating the following message "An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for m

[2020-02-27 22:58] misolori commented on #2765
@fubaduba is there an update or an ETA for this? The Live Share icon really stands out now:

<img width="30%" src="https://user-images.githubusercontent.com/35271042/75494597-7a85ff80-5971-11ea-846d-4375b08fa201.png">

[2020-02-28 01:16] nandiniYeltiwar commented on #3219
Can you try the following:
1. Close all VS Code instances
2. Delete the following folder:
-- If you are using VS Code: %appdata%\Code\User\globalStorage\ms-vsliveshare.vsliveshare
-- If you are using VS Code Insiders: %appdata%\Code - Insiders\User\globalStorage\ms-
 vsliveshare.vsliveshare
3. Delete Live Share extension from %userprofile%.vscode\extensions\
4. Try installing again.

[2020-02-28 09:18] gillidandaweb commented on #180
I'm also running into this issue as well:

Have tried completely uninstalling VSCode, and re-installing both VSCode and this plug-in, but it's not making any difference.

[2020-02-28 09:36] matthewnha commented on #2411
Thanks for that! Sometime between my post and now, it's started working. Probably should've mentioned that I'm also running an Insider's version. Not sure if one of the update processes inadvertently fixed the issue or maybe a PC restart.

[2020-02-28 14:57] leandroz commented on #180
Same.

[2020-02-28 15:19] WonderPanda opened #3221 "Missing Intellisense/Trigger Suggestion in LiveShare Session"
In a new LiveShare session, none of the participants are able to see intellisense or trigger suggestion for code blocks. The host is able to trigger suggestions just fine (although participants can't see them when following host).

We tested in both TypeScript and C# code bases. Type *checking* seems to work fine. If a participant misspells an attribute or method for example, it will be properly u

[2020-02-28 15:23] gillidandaweb commented on #180
Workaround: roll back to a previous version of the plug-in.

[2020-02-28 16:34] Davilink commented on #3216
I had the same problem and i try what @nandiniYeltiwar told, but with my day-to-day browser it didn't work (Firefox Nightly), so i use Chrome and i was able to successfully connect and get a new usercode, after that i was able to sign in in vscode using the "Live Share: Sign in with user code"

I guess it's probably a cookie or something in the localstorage that was blocking the sign-in to https:/

[2020-02-28 17:50] dean-g opened #3222 "The user code is invalid or expired"
Issue Type: <b>Bug</b>

Starting collaboration session: The user code is invalid or expired. Try signing in again.

Extension version: 1.0.1653
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz (16 x 2400)|
|

[2020-02-28 17:59] nandiniYeltiwar commented on #3222
Dupe of #3216

[2020-02-28 17:59] #3222 closed

[2020-02-28 18:59] rafamancan opened #3223 "[VS Code] [Audio] SlimCore not found"
Error:
SlimCore not found: /home/$USER/.config/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/slimcore-4.0.2019.37.01.4/bin/slimcore.node

Steps to Reproduce:
1. Try to start audio call

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Linux|
|**platformVersion**|5.3.0-40-ge

[2020-02-28 22:43] nandiniYeltiwar commented on #3223
Dupe of #3217

[2020-02-28 22:43] #3223 closed

[2020-02-29 00:57] Zel9278 opened #3224 "Unknown error"
**Describe what happened:**

**What was your system configuration?**
*Product and Version* [VS/VSCode]: Code-oss
*OS Version*[macOS/Windows]: Ubuntu 19.04(arm64)
*Live Share Extension Version*: 1.0.1653
*Target Platform or Language* [e.g. Node.js]: node.js, python

**Steps to Reproduce / Scenario:**
[code]

**Please attach logs to this issue:**
[logs.zip](https://github.com/MicrosoftDocs/live-shar

[2020-02-29 06:18] kpatrick commented on #86
curl https://download.visualstudio.microsoft.com  currently gives back an error

<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
                <title>500 - Internal Server Error</title>

[2020-02-29 11:39] tascord opened #3225 "Any action errors"
Issue Type: <b>Bug</b>

Logging in with GitHub, through Firefox, leads me to a screen displaying ''The address wasn’t understood".

Retrying the login, but this time clicking the 'if this page dosen't redirect' link, gives me the error "TokenError: The code passed is incorrect or expired.".

After signing in from *that* page, Live Share still dosen't recognise that i've logged in.

In Code OSS, ru

[2020-02-29 16:32] vitalyrepin commented on #1999
I have this issue consistently. vscode restart does not help. Disabling/Enabling extension does not help. Deinstallation and installation of the extension does not help either.

Attaching VSFeedback logs

[20200229_162236_Agent.log](https://github.com/MicrosoftDocs/live-share/files/4270580/20200229_162236_Agent.log)
[20200229_162235_15829933553930_VSCode.log](https://github.com/MicrosoftDocs/live-

[2020-02-29 16:54] vitalyrepin commented on #1999
Name: Live Share
Id: ms-vsliveshare.vsliveshare
Description: Real-time collaborative development from the comfort of your favorite tools.
Version: 1.0.1653
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare

[2020-02-29 17:17] M1412 opened #3227 "[VS Code] [Audio] Request startOrJoinCall failed unexpectedly without providing any details."
Error:
Request startOrJoinCall failed unexpectedly without providing any details.

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.42.1|
|**platformName**|Windows|
|**platformVersion**|10.0.18363|

[2020-02-29 22:43] LukeWolfGames commented on #3178
@nandiniYeltiwar

Thanks for your prompt response.
I have done that, installed and restarted vs code but it does not work on the latest version, I still have to go back to v1.0.1510.

It seems like any later version than that will just give me this error when loading VS code.
I also cannot click on any of the links like "join collaboration sesson..." "Start collaboration session..." and "start rea

[2020-02-29 22:47] LukeWolfGames commented on #3224
Seems to be related to #3178 which was meant to be fixed. I'm still getting help there with resolving the issue.

Try doing what nandiniYeltiwar said there and see if that helps. It did not seem to work for me though.

[2020-03-01 06:45] JeDaYoshi commented on #2673
Same issue here.

[2020-03-02 04:35] rbeer commented on #3218
Issue with https://github.com/VSCodium/vscodium.git; probably stripped too much.
Microsoft version of VSCode works.

[2020-03-02 13:18] ElHajly opened #3228 "Can't Sign in to live share"
Issue Type: <b>Performance Issue</b>

1- Installed Live Share Spaces
2- Tried to connect.. it says : "Signing in : The user code is invalid or expired. Try signing in again."
3- Tried unninstaling and installing, Disabling and enabling it again.. Nothing Works
4- The Live share audio thing is a disaster, It took me 2 days of fighting with it to get it installed without issues

Extension version: 1

[2020-03-02 13:58] ElHajly commented on #3228
I fixed the issue by :
-Installing previous versions of all the Live Share products, only then I was able to login.. it seems to be an issue in the latest version
:

[2020-03-02 13:58] #3228 closed

[2020-03-02 16:11] bucmic commented on #86
It is https://visualstudio.microsoft.com/de/downloads/

[2020-03-02 18:13] aletsdelarosa commented on #3227
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-03-02 18:24] aletsdelarosa commented on #3221
Hello @WonderPanda, thanks for reaching out.
are the host and the guest using VSCode right?

[2020-03-02 18:52] IlyaBiryukov commented on #1999
There is another issue with the invalid or expired user code going on, #3216
This one is a dupe of it.

[2020-03-02 18:52] #1999 closed

[2020-03-02 18:53] IlyaBiryukov commented on #3216
There are logs in #1999

[2020-03-02 21:53] vanesa-fleurs opened #3229 "Won't let me sign in"
Issue Type: <b>Bug</b>

Does not let me sign in when prompted: `continue as read-only or sign in`. there is no browser pop up to sign in either

Extension version: 1.0.1653
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7660U

[2020-03-02 23:48] WonderPanda commented on #3221
Yes both host and guest are using VsCode

[2020-03-03 03:53] MersadAkbari commented on #3216
thanks @nandiniYeltiwar , it worked :D

[2020-03-03 03:53] #3216 closed

[2020-03-03 03:58] MersadAkbari commented on #3229
#3216

[2020-03-03 13:54] EmmanueleVilla commented on #3212
I also have this problem after a fresh install, the message is in the bottom-right popup in visual studio code

[2020-03-03 15:38] rlh1994 commented on #2
Just wondering if there had been progress on this? I am trying to get my Azure AD admin to enable this when logged in via work account (Office365) however they are concerned that the session link could be shared externally (on purpose) breaking out security policy. If admins could set a minimum level (in our case, internal users only) this would enable us to start using the extension.

[2020-03-03 17:41] TheDoebes opened #3230 "Editor window moves around while typing"
Issue Type: <b>Bug</b>

I'm not sure why the issue occurred, but as I was typing in a java file, the editor kept moving up and down.

Step 1: install live share
Step 2: Accept an invitation to join a document
Step 3: allow the host to write some code
Step 4: attempt to edit the document, and the window will move erratically up and down as you type.

Extension version: 1.0.1653
VS Code version: Cod

[2020-03-03 22:19] aletsdelarosa commented on #3230
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`cmd + shift + p`) and attach them to this issue.

[2020-03-03 22:19] aletsdelarosa commented on #3229
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-03-03 23:35] Davilink opened #3231 "Failed to load hostfxr.dll"
**Describe what happened:**
When a click to create a shared terminal in the Live-Share Panel (with read/write or read-only) and do `dotnet run`, i go the message :

are\dotnet-3.1.1\host\fxr\3.1.1\hostfxr.dll], HRESULT: 0x800700C1
The library hostfxr.dll was found, but loading it from c:\Users\david.pelletier2\AppData\Roaming\Code\User\globalStora
ge\ms-vsliveshare.vsliveshare\dotnet-3.1.1\host\fx

[2020-03-04 01:32] edysegura commented on #3210
Hi @Moniarchy! Thank you for being in touch!

It did happen once but now I'm able to use live share feature with the same user. We may close this issue and if it happens again we can reopen!

Thank you!

[2020-03-04 01:32] #3210 closed

[2020-03-04 06:00] codecampstudents opened #3232 "user code invalid"
Issue Type: <b>Bug</b>

Logged into Visual Studio Live Share (https://insiders.liveshare.vsengsaas.visualstudio.com/auth/identity/microsoft/callback)
Got user code RXCQ-DGFW-VPSR-BFFL
View "Command Palette"
Enter user code (RXCQ-DGFW-VPSR-BFFL)
Got error message:  invalid user code or expired
Tried many times :(

Extension version: 1.0.1653
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093

[2020-03-04 18:32] aletsdelarosa commented on #3232
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette and attach them to this issue.

[2020-03-04 18:48] IlyaBiryukov commented on #1639
@rchiodo do you still need this feature? Sorry for not getting to it for so long. There were other priorities.

[2020-03-04 18:52] rchiodo commented on #1639
I believe so, although we haven't hit anyone actually having this problem.

[2020-03-04 18:53] rchiodo commented on #1639
So I'd say it's rather low priority for us.

[2020-03-04 19:03] IlyaBiryukov commented on #1639
I'm going to close as Won't Fix. Please feel free to re-activate when you need this.

[2020-03-04 19:03] #1639 closed

[2020-03-04 20:17] k-y commented on #180
What version worked for you?

[2020-03-04 21:42] TurnInToReality commented on #741
Is this feature implemented and released ?

[2020-03-04 22:40] TheDoebes commented on #3230
Not sure if this helps, but I was running a google hangouts meet at the same time (from chrome), and the host was in Belgium while I was in the USA. I didn't restart VSCode after installing the extension and before using it, most extensions I've installed require a restart so that may be part of it.

As for the movement itself, it wasn't smooth like when you scroll, and it was very erratic. It alm

[2020-03-05 11:05] chkhaidzegiorgi opened #3233 "Cant Sign In"
Issue Type: <b>Bug</b>

Can't to sign in using your MS account

Extension version: 0.3.4
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz (12 x 3696)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabl

[2020-03-05 17:23] aletsdelarosa commented on #3233
Thanks for reaching out. Can you give us more details about your scenario? Also, your logs may provide us with helpful information. You can access them via the `Live Share: Export Logs` command from the command palette (`ctrl + shift + p`) and attach them to this issue.

[2020-03-05 18:58] Erid commented on #180
I rolled back to 1.0.1615 (20 days ago), it stopped working for me today. I'm using VSCode Insiders tho, but I hope that works for you too.

Also, this is the content of my extensions:
[code]

[2020-03-06 18:22] akulagrawal commented on #89
Hi, I recently encountered the same issue with vs live share sign in. Neither the browser option is working, not the user code one.

[2020-03-07 01:51] phx-srankin commented on #2596
Hello @lostintangent

What does it mean if the checkbox is checked above? I'm curious about item 13 specifically.

[2020-03-07 10:06] akulagrawal commented on #3233
Same issue. Sign in with GitHub and sign in with user code also doesn't work. OS used: Ubuntu 16.04.
PFA the logs
[logs.zip](https://github.com/MicrosoftDocs/live-share/files/4301669/logs.zip)

[2020-03-07 17:08] daytonellwanger commented on #1923
We (myself, @IlyaBiryukov , and @Moniarchy ) had a go at making a super simple v1 of this to bootstrap the extension. You can find it [here](https://github.com/vsls-contrib/pairit).

Quoting from the readme, it simply assigns and dynamically updates the roles of users in a mob programming session.

Please feel free to contribute! Let's make something great.

[2020-03-07 17:15] daytonellwanger commented on #1923
Oh also, we built the extension together using Live Share. Just curious: is that something folks would be interested in joining? If some of the devs from the Live Share team hosted public sessions that you could join to work with us on projects like this?

[2020-03-08 14:12] Veetaha opened #3234 "Unhandled promise rejection on no internet connection (the extension host crashed)"
**Describe what happened:**
Live share extension doesn't handle promise rejection on activation (which happens due to no internet connection). This triggers other extensions' `unhandledRejection` handlers and some of them (e.g. [`vscode-tree-stitter`](https://github.com/georgewfraser/vscode-tree-sitter)) abort the process in `unhanledRejection` handler (tho in quite a sophisticated way). So at the

[2020-03-08 14:14] Veetaha commented on #3234
TLDR: My wild guess this line of code in your `activate()` function is the culprit:
[code]

[2020-03-09 00:35] WasabiFan commented on #3159
@fubaduba @nandiniYeltiwar Any update on this?

[2020-03-09 15:06] #3168 closed

[2020-03-09 16:45] mlacouture commented on #3234
Hi Veetaha! thank you for reporting this issue and for investigating and providing such detailed information! We will look into it.

[2020-03-09 18:32] urielromo36 opened #3235 "fallo en la conexion"
Issue Type: <b>Bug</b>

no conecta con github

Extension version: 1.0.1711
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz (4 x 2304)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_st

[2020-03-09 19:57] dinofx commented on #1057
@jpopadak Does this always require its own JSON file to configure?  There's roughly 30 settings for live share that can be modified directly in VS Code's own settings file(s).

[2020-03-09 23:13] mlacouture commented on #3235
Thank you @urielromo36 for reporting this issue, can you please provide more details that can ehlp us investigate? any errors? logs? [gracias por reportar este problema, puedes por favor adicionar detalles que nos ayuden a investigar como mensajes de error y logs?]

[2020-03-09 23:20] fubaduba opened #3236 "Links for article #ForAllThingsRemote"
![Context sharing](https://user-images.githubusercontent.com/51928518/76265504-e3972e00-6221-11ea-9b3f-3b37508186fe.gif)

[2020-03-09 23:21] #3236 closed

[2020-03-10 03:49] pcalin opened #3237 "Sync failed while modifying a file"
Version: 1.43.0 (user setup)
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

**Product and Version** [VS/VSCode]: 1.43.0
**OS Version** [macOS/Windows/Linux]: Windows_NT x64 10.0.18363
**Live Share Extension Version**: 1.0.1711
**Target Platform or Language** [e.g. Node.js]: 12.8.1

**What were you doing

[2020-03-10 07:38] eamodio opened #3238 "Calling getApi using vsls 1.0.1526 (npm package) always returns null"
**Describe what happened:**
Calling `getApi` using `vsls` `1.0.1526` always returns null. It looks like it issue is that it is using its own `package.json` version `1.0.1526` but live share only supports versions less than `0.4`

**What was your system configuration?**
*Product and Version* [VS/VSCode]: VSCode Insiders 1.44
*OS Version*[macOS/Windows]: Windows 10
*Live Share Extension Version*: `1

[2020-03-10 14:55] MichaelBitard commented on #3148
Thanks @Moniarchy, I'll close this issue for now, we were not able to reproduce it with the latest versions of this plugin.

Thanks for the awesome work, I'm a happy user of Jetbrains product and I happily switch to VSCode each time I Pair Program remotely.

[2020-03-10 14:55] #3148 closed

[2020-03-10 16:05] geraldfullam commented on #2673
Restart did not solve the problem for me 🤷‍♂️

[2020-03-10 17:13] AboodyHi opened #3239 "[VS Code] [Audio] HTTPS request failed for SkypeToken: getaddrinfo EAI_AGAIN authsvc-server.teams.microsoft.com"
Error:
HTTPS request failed for SkypeToken: getaddrinfo EAI_AGAIN authsvc-server.teams.microsoft.com

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.43.0-insider|
|**platformName**|Windows|
|**platformVersion**|10.0.16299|

[2020-03-10 17:31] mlacouture commented on #3239
Hi @AboodyHi! thank you for reporting this issue.  Can you please add details about the problem including steps to reproduce it and any logs? thanks

[2020-03-10 17:34] mlacouture commented on #3238
Hi Eric! thank you for reporting this issue. We will prioritize it and take a look accordingly.
regards,

[2020-03-10 17:39] mlacouture commented on #3237
Hi Calin (@pcalin)! thank you for reporting this issue.  Dayton (@daytonellwanger) is currently looking into improving this experience, stay tuned!

[2020-03-10 19:21] nadrojisk opened #3240 "Weird Graphical Bug"
**Describe what happened:**
When opening vscode in full screen mode on macOS there is this weird graphical bug that shows up. It looks like || essentially. It will disappear if not clicked on after a few seconds, I assume it has to do with the extension loading but it is distracting. Also if you click and drag on it, it can be opened as a window.

**What was your system configuration?**
*Product a

[2020-03-11 02:43] GrishaGevorkyan opened #3241 "My code autocomplete doesn't work in liveshare as a guest"
Issue Type: <b>Bug</b>

My code autocomplete doesn't work in liveshare as a guest

Extension version: 1.0.1742
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|GPU Status|2d_canvas: enabled<br>f

[2020-03-11 04:43] cheshirekow commented on #1272
Ugh... Just went to debug a new user systemd unit and had to skip past 3 million lines of `vsls-agent` log lines. Would like to have a way to disable this.

[2020-03-11 09:14] mihriminaz opened #3242 "[VS Code] [Audio] Electron not found: /Users/mihri/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron"
Error:
Electron not found: /Users/mihri/Library/Application Support/Code/User/globalStorage/ms-vsliveshare.vsliveshare-audio/electron-4.2.7/dist/Electron.app/Contents/MacOS/Electron

Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.80|
|**applicationName**|VSCode|
|**applicationVersion**|1.43.0|
|**platformName**|MacOS|
|**platformVersion*

[2020-03-11 12:58] cupofjoakim commented on #3228
Having the same issue. Had to go back to vscode 1.42 and live share 1.0.1615 for it to work.

[2020-03-11 12:58] Philip-Nunoo opened #3243 "Sync issue"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows/Linux]:
**Live Share Extension Version**:
**Target Platform or Language** [e.g. Node.js]:

**What were you doing when you encountered the desync?**

**How often have you encountered desyncs?**

[2020-03-11 17:12] mlacouture commented on #3243
Hi Philip! thank you for reporting this issue.  I'm resolving it as a dup of #3237.

[2020-03-11 17:12] #3243 closed

[2020-03-11 17:18] mlacouture commented on #3240
Hi Jordan (@nadrojisk)! thank you for reporting this issue and providing the GIF, very useful.  It is indeed weird ... we'll look into it.

[2020-03-11 18:12] mlacouture commented on #3241
Hi Grisha! (@GrishaGevorkyan), thank you for reporting this issue. This is a known issue and it is been tracked with issue #3200.

[2020-03-11 18:12] #3241 closed

[2020-03-11 18:16] mlacouture commented on #3242
Hi Mihri (@mihriminaz)! Thank you for reporting this problem.  This issue has been reported before and it's been tracked with issue #3077.

[2020-03-11 18:16] #3242 closed

[2020-03-11 18:41] mlacouture commented on #3240
@nadrojisk do you mind trying to reproduce with a different extension? also, what is the title of that window? thanks,

[2020-03-11 19:35] nadrojisk commented on #3240
The title just seems to be "Window" as far as i can see. Also it happens with all my extensions disabled, some enabled, and all enabled. Which extensions are enabled does not seem to effect the little pop up from occurring on my side.

[2020-03-11 19:42] pzmarzly commented on #3218
No need to download it - just go to https://insiders.liveshare.vsengsaas.visualstudio.com/auth/login and generate your user code there.

[2020-03-11 20:04] damyanp opened #3244 "Terminal window does not resize properly"
Issue Type: <b>Bug</b>

The shared terminal window does not fill the height of the frame it is in.  If I resize it then there's a "dead" area above where the terminal is.

Extension version: 1.0.1742
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---

[2020-03-11 20:19] mlacouture commented on #3240
Jordan, thank you for the new details.  Sounds like a VS Code issue (not Live Share extension-specific).  Do you mind reporting it in the [vscode repo](https://github.com/microsoft/vscode/issues)? I suggest setting the title to something like "Ghost window when enabling vscode extension".
thank you again!

(@nadrojisk)

[2020-03-11 21:38] nandiniYeltiwar commented on #3159
@WasabiFan this a feature request and we will prioritize this with existing issues and features.

[2020-03-11 22:54] daytonellwanger commented on #3234
Thanks for finding the bug for us @Veetaha ! I'll try to have this resolved in our next release.

[2020-03-11 22:55] daytonellwanger commented on #3234
Since you seem adept, a temporary workaround would be to modify the javascript and delete that line 😁. It shouldn't have any impact on the extension.

[2020-03-12 09:25] HonorIpaddr opened #3245 "joining collaboration session:Request DebuggerHostService.getLaunchConfiguations failed unexpectedly without providing any details"
Issue Type: <b>Bug</b>

joining collaboration session:Request DebuggerHostService.getLaunchConfiguations failed unexpectedly without providing any details

Extension version: 1.0.1742
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryze

[2020-03-12 17:21] mlacouture commented on #3244
Hi Damyan!  thank you for reporting this issue.  It seems similar to #3143.  @IlyaBiryukov, is this related? thanks,

[2020-03-12 17:29] mlacouture commented on #3245
Hi @HonorIpaddr!  Thank you for taking the time to report this issue. This is a duplicate of #2964 which is currently assigned to @jramsay.

[2020-03-12 17:29] #3245 closed

[2020-03-12 17:41] IlyaBiryukov commented on #3143
I'm going to close this issue, if you still can reproduce it, please re-activate.

[2020-03-12 17:41] #3143 closed

[2020-03-12 17:42] IlyaBiryukov commented on #3244
Yes, this is a duplicate of #3143 In short, this is by design. Please see the explanation in #3143

[2020-03-12 17:42] #3244 closed

[2020-03-12 17:42] mlacouture commented on #3238
@daytonellwanger has a fix for this, we should be able to make it available in the next release!

[2020-03-12 17:48] mlacouture commented on #3078
Hi Asish! we have released several improvements in this area since reported.  I haven't been able to reproduce this problem so I'm closing this issue.  Please reactivate it if after updating to the latest version of the extension you still experience the problem.  thanks,

[2020-03-12 17:48] #3078 closed

[2020-03-12 17:50] damyanp commented on #3244
Is there other work planned to address the issues with terminals here?  I'm seeing a bunch of different issues that are surely not by design.  For example, even with the "client terminal size should match the host size" being the design, it doesn't seem that resizes are tracked correctly.  If there really is no way to fix the sizing issue then something needs to be done about the experience where

[2020-03-12 17:52] mlacouture commented on #3083
Hi @zyrong! I'm closing this issue as it seems it was a setup problem.  Thanks @stdavis for providing a solution.  Please reactivate if you still experience the problem with the most recent version of the extension.

[2020-03-12 17:52] #3083 closed

[2020-03-12 17:52] mlacouture commented on #3113
This issue is now fixed!

[2020-03-12 17:52] #3113 closed

[2020-03-12 18:24] asiamorozova commented on #180
An update or installation of VS Live Share failed due to a corrupted download. Please uninstall and reinstall the extension to resolve. See https://aka.ms/vsls-corrupted-install for more details.

reinstalling did not help and I was denied permission to view my extensions