[2018-10-26 17:43] IlyaBiryukov commented on #1205
Hi,

Thanks for your suggestion. I assume you're asking about the guest side in VSCode?

The host already can share terminals side-by-side when `liveshare.autoShareTerminals` VSCode setting is true, which is the default, and the guest clicks on `Split Terminal`.

However, when the guest clicks on `Split Terminal` command, VSCode just starts a local terminal. This cannot start another shared termin

[2018-10-26 17:46] IlyaBiryukov commented on #1203
Thanks for reporting the issue. Can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-10-26 17:47] IlyaBiryukov commented on #1202
Thanks for reporting the issue. Can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-10-26 17:49] IlyaBiryukov commented on #1201
Hi,

Thanks for reporting the issue. Could you please double check with the collaboration host that you got the right URI?
If the issue persists and you are not able to join the collaboration session with the right URI, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-10-26 17:51] IlyaBiryukov commented on #1200
Dupe of #1201

[2018-10-26 17:51] #1200 closed

[2018-10-26 17:53] IlyaBiryukov commented on #1198
Thanks for reporting the issue. Can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

I'm going to resolve this issue as a dupe of #1124
If you can get the logs, please attach them to #1124

[2018-10-26 17:53] #1198 closed

[2018-10-27 01:14] lostintangent commented on #1205
@IlyaBiryukov One thing we could do is add a new action button to the viewlet that allows guests to open a shared terminal in a new split terminal, as opposed to a regular terminal. That way the decision of when to open a terminal in split or “full” mode is a UI decision of the guest, as opposed to something enforced by the host.

This new action could be called “Open Split Terminal”, and would be

[2018-10-27 01:16] Sarabadu opened #1206 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
[error.zip](https://github.com/MicrosoftDocs/live-share/files/2521315/error.zip)

## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.open workspace
2. open js file
3. click share button
4. log in with github
5. error on editor

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protoc

[2018-10-27 07:55] 164119487 opened #1207 "[VS Code] Could not join the collaboration session as it has already reached the maximum of 5 participants."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-10-27 07:55] 164119487 opened #1208 "[VS Code] Could not join the collaboration session as it has already reached the maximum of 5 participants."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-10-27 08:01] XiaolinDeng commented on #1151
i had find why it happened, if i use proxy,it work correct,so it must be GFW or our school's Operator isolate connection with live share

[2018-10-27 08:01] XiaolinDeng commented on #1151
@alpaix @IlyaBiryukov
thank you guys,
i had find why it happened, if i use proxy,it work correct,so it must be GFW or our school's Operator isolate connection with live share

[2018-10-27 11:21] claytonsilva opened #1209 "[VS Code] The relay listener went offline, unsharing workspace. Re-share to generate a new session."
## Error:
The relay listener went offline, unsharing workspace. Re-share to generate a new session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-10-27 18:44] mardb opened #1210 "[VS Code] The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28

[2018-10-28 03:36] pojianbing opened #1211 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-2.0'"
<!--
Attach verbose logs as follows:
1. Press F1 (or Ctrl-Shift-P), type export

[2018-10-28 03:37] lostintangent commented on #1211
@pojianbing Could you try uninstalling and re-installing the VS Live Share Audio extension? This error can sometimes happen as a result of a “corrupted” extension install.

[2018-10-28 04:34] kskgit opened #1212 "[VS Code] The relay listener went offline, unsharing workspace. Re-share to generate a new session."
## Error:
The relay listener went offline, unsharing workspace. Re-share to generate a new session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-10-28 13:39] Dectom commented on #1162
I have detect indentation turned on and the files are preset to 2 space tabs

[2018-10-28 18:59] KrimsN opened #1213 "[VS Code] The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27

[2018-10-28 19:00] KrimsN opened #1214 "[VS Code] The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27

[2018-10-29 07:48] mixuetong opened #1215 "[VS Code] Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry."
## Error:
Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-10-29 13:19] anthonytec2 commented on #1205
My main use case is currently when I am working with a partner they may have two terminals open that are side by side in their view. Although, on my view I can only see these terminals as two separate full view terminals. I would love to have the ability from the guest side to have a split view with both of the two terminals like the host view.

[2018-10-29 15:35] carlocardella opened #1216 "Debug cannot read property 'onError' of undefined"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows
[code]
**Live Share Extension Version**: 0.3.869

**Steps to Reproduce / Scenario:**
1. Open a ps1 file in VSCode
2. Start debugging (F5)
3. See error
![image](https://user-images.githubusercontent.com/5784415/47660494-584d5900-db54-11e8-8878-bcea06c6af19.png)

I reported it to the Powershell extension ([#1590](htt

[2018-10-29 15:41] pstrato-agrimetrics commented on #1174
We've got the logs at a point where our editors diverged. How could I send these files to you privately?

[2018-10-29 18:58] jim-cooper opened #1217 "[VS Code] Sharing workspace: RPC connection closed."
## Error:
Sharing workspace: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-1021-oem|

[2018-10-29 19:09] Priya91 commented on #647
@StevenShockley Are you setting the proxy with the OS? You mentioned,

[code]

does this set the proxy only for the fiddler process, or does it change the OS proxy settings? Liveshare will get the proxy settings only from the OS, not from any other running processes. You can also set the https_proxy environment variable in vscode process, liveshare will read that environment variable first, if it'

[2018-10-29 19:11] Moniarchy commented on #1206
Hi there,
Are you behind a corporate proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If this doesn't solve your problem, please let me know.

[2018-10-29 19:12] Priya91 commented on #647
Additionally, in your logs, it says, the Windows Filtering Platform has blocked the connection, which means some filter rule on your system has explicitly blocked the connection. How did you narrow that down to liveshare not connecting to proxy?

[2018-10-29 19:23] Moniarchy commented on #1207
In a recent release, we have made it possible to have up to 30 concurrent guests in a collaboration session. You can use this feature by updating your version of Live Share and setting the liveshare.increasedGuestLimit (VS Code) setting to true.

[2018-10-29 19:24] Moniarchy commented on #1208
Closing as a duplicate of #1207

[2018-10-29 20:32] #1208 closed

[2018-10-29 20:32] #1207 closed

[2018-10-29 20:38] Moniarchy commented on #1209
Thanks for reporting this. Could you please run the command "Live Share: Export Logs" and drag-and-drop the zip or send it to vsls-feedback@microsoft.com?

I'm going to close this issue as a duplicate of #1124; please attach your logs to #1124 when you get them.

[2018-10-29 20:38] #1209 closed

[2018-10-29 20:45] Moniarchy commented on #1210
Thanks for reporting this issue. I am going to close this as a duplicate of #555. If the information there doesn't solve your problem, please let me know, and please provide more information (What were you doing when you saw this error message (it looks like you were a guest in the middle of a Live Share session)? How often does this happen? Did restarting the collaboration session help to resolve

[2018-10-29 20:45] #1210 closed

[2018-10-29 20:47] Moniarchy commented on #1213
Thanks for reporting this issue. I am going to close this as a duplicate of #555.

If the information there doesn't solve your problem, please let me know, and please provide more information (What were you doing when you saw this error message (it looks like you were a guest in the middle of a Live Share session)? How often does this happen? Did restarting the collaboration session help to resolv

[2018-10-29 20:47] #1213 closed

[2018-10-29 20:48] Moniarchy commented on #1214
Closing as a duplicate of #1213.

[2018-10-29 20:48] #1214 closed

[2018-10-29 20:51] IlyaBiryukov commented on #1205
@lostintangent we'd need support from VSCode if we want to enable this in Live Share. Something like an ability to open a new terminal window alongside the existing one, in a split terminal, instead of a regular window where a new terminal usually goes to.

[2018-10-29 20:52] Moniarchy commented on #1212
Thanks for reporting this. Could you please run the command "Live Share: Export Logs" and drag-and-drop the zip or send it to vsls-feedback@microsoft.com?

I'm going to close this issue as a duplicate of #1124; please attach your logs to #1124 when you get them.

[2018-10-29 20:52] #1212 closed

[2018-10-29 20:52] #1151 closed

[2018-10-29 20:55] Moniarchy commented on #1215
Thank you for reporting this. I am going to resolve this as a duplicate of #433. Can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here, on #433, or send it to vsls-feedback@microsoft.com?

Did signing out and signing in again resolve this for you?

[2018-10-29 20:55] #1215 closed

[2018-10-29 21:11] Moniarchy commented on #1216
Thanks for reporting this. Adding @jramsay.

[2018-10-29 21:15] Moniarchy commented on #1217
Thanks for reporting this. We need more information to investigate. Could you please run the command "Live Share: Export Logs" and attach the zip here or send it to vsls-feedback@microsoft.com?

[2018-10-29 21:33] Priya91 commented on #1113
This is fixed on .NET Core, will be available when we next upgrade to the version that has the fix. Anyhow, are you by chance setting your proxy to be 0.0.0.0 address? Changing your system confirguration to prevent connection to the 0.0.0.0 address will resolve the issue for you.

[2018-10-29 21:35] Priya91 commented on #1173
@harshankur Is your proxy an authenticating proxy, and does it use your windows AD credentials to authentication? Our relay connection doesn't support authenticating proxies, connecting with Direct mode will help you with establishing a liveshare session.

[2018-10-29 21:39] Priya91 commented on #1148
Hmm this seems to come from the service, @legomushroom can you take a look..

[2018-10-29 21:54] Priya91 commented on #1148
@JudithvW Was the person A still in sharing mode? That message is thrown, when the session has been disconnected from our service, so the person A should have also disconnected. Starting a new session and sharing that link to the joiner is the resolution.

[2018-10-29 21:56] Priya91 commented on #1158
With this link, did the browser establish an ssl connection or not? It's not clear what you mean by same result.

[2018-10-29 21:57] Priya91 commented on #1124
This is not an error, creating a new session should resolve this error.

[2018-10-29 21:57] #1124 closed

[2018-10-29 23:13] carlocardella commented on #1216
Adding @tylerl0706 FYI

[2018-10-30 00:20] RMacfarlane opened #1218 "Strange behavior on undo"
Issue Type: <b>Bug</b>

I don't have an exact repro, but I was sharing with someone and attempted to undo on a file we had both edited. Instead of a single change being undone, pressing Cmd z triggered a whole flurry of changes from the undo stack, but then the file reset back to the newest state. This was in the console:

[code]

Extension version: 0.3.869
VS Code version: Code - Insiders 1.29.0-

[2018-10-30 00:40] lostintangent commented on #1218
@RMacfarlane Apologies for this! This is a side-effect of the way we currently implement "local undo", and is something we're looking at right now. Out of curiosity: were you and the other dev editing separating parts of the same file in parallel? Or were you largely working together in the same area of the file?

I just ask because we're discussing a temporary fix to this issue, that would switch

[2018-10-30 07:42] JudithvW commented on #1148
@Priya91 When Person A unlocked his computer, the session was still running. So it obviously wasn't disconnected. Trying to reconnect to this session was no longer possible. We had to manually stop the session and start a new session. This is not a resolution, but a workaround, which is unwanted in software development.

[2018-10-30 08:01] LNayana opened #1219 "[VS Code] Collaboration session not found."
## Error:
Collaboration session not found.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27.1|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-10-30 12:07] rustan-id opened #1220 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-2.0'"
## Error:
Calling module not available. Cannot find module 'slimcore-2.0'

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.39|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-38-generic|

[2018-10-30 13:26] YouriOkkerse opened #1221 "[VS Code] The host has blocked you from joining the collaboration session."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-10-30 16:13] RMacfarlane commented on #1218
We did both, some editing in separate areas of the file, and some edits to the exact same areas. Probably more edits to the same areas, as we were refactoring something together.

[2018-10-30 16:15] IlyaBiryukov commented on #1219
Hi,

We display this message if the collaboration session is over and the guest tries to join it. It is not an error. Ask the host to start a new session and join it again.

If you see this message when the session is actually going on, then that would be a bug. If you experience that, please re-activate this issue and run the command "Live Share: Export Logs" and drag-and-drop the zip here or sen

[2018-10-30 16:15] #1219 closed

[2018-10-30 16:16] IlyaBiryukov commented on #1220
+ @jasongin

[2018-10-30 16:32] Moniarchy commented on #1221
Thanks for reporting this. Is it possible that the host intentionally or unintentionally blocked you? This can be resolved if the host stops and then creates a new collaboration session. In a recent release, we also removed the `reject and block` button that the host clicked, so if the host updates their Live Share version, this should keep the problem from resurfacing for you.

[2018-10-30 16:32] #1221 closed

[2018-10-30 16:34] ixshelescamilla opened #1222 "[VS Code] The relay listener went offline, unsharing workspace. Re-share to generate a new session."
## Error:
The relay listener went offline, unsharing workspace. Re-share to generate a new session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-10-30 16:36] Moniarchy commented on #1222
Thanks for reporting this. Could you please run the command "Live Share: Export Logs" and drag-and-drop the zip or send it to vsls-feedback@microsoft.com?

I'm going to close this issue as a duplicate of #1124; please attach your logs to #1124 when you get them.

[2018-10-30 16:36] #1222 closed

[2018-10-30 17:03] bradwallen opened #1223 "Make it more visually clear that you're in a collaboration session"
Issue Type: <b>Feature Request</b>

When you're doing a live share with someone there's very little visual difference between a shared window and a non-shared window. A suggesstion would be to make the blue status bar at the bottom of the window pulse, sort of like when you're doing a hotspot on an iOS device, the blue bar across the top pulses to indicate something is actively happeneing.

Extens

[2018-10-30 17:48] Priya91 commented on #1148
@JudithvW Can you upload the logs of person A, it's very difficult to theorize what happened without debug information.

[2018-10-30 23:55] Moniarchy commented on #1223
Adding @Chuxel, @lostintangent, and @jonwchu.

[2018-10-31 00:03] esreal12 opened #1224 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
## Error:
Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-10-31 00:09] Moniarchy commented on #1224
Thanks for reporting this. Did restarting the collaboration session help to resolve the issue? Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-10-31 00:10] lostintangent commented on #1223
@bradwallen Thanks for the feedback! This is definitely something we've discussed before, and want to explore ways to improve. We'll use this issue to track any discussions/ideas.

[2018-10-31 02:20] mushock opened #1225 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-10-31 02:40] paingthor opened #1226 "[VS Code] The relay listener went offline, unsharing workspace. Re-share to generate a new session."
## Error:
The relay listener went offline, unsharing workspace. Re-share to generate a new session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-10-31 05:34] xutao1989103 opened #1227 "[VS Code] The user code is invalid or expired. Try signing in again."
## Error:
The user code is invalid or expired. Try signing in again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-10-31 07:36] JudithvW commented on #1148
@Priya91 I already mailed all logs that I have of that day, but they responded that the logs they needed weren't there. So apparently you did not log it to the location mentioned above.

[2018-10-31 07:39] JudithvW commented on #1148
Person A no longer has the logs available.

[2018-10-31 09:22] moeidsaleem opened #1228 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-10-31 14:38] CoolDadTx commented on #708
In a classroom environment it is painful when class starts to get everyone connected. Our campus has a shared website where each class has a session and I can post an announcement. When I get to class I start VS, load my solution, start the session, copy the link, update the announcement and then have students go to the announcement and click the link. Sharing this link is painful.

Having a persi

[2018-10-31 14:44] CoolDadTx opened #1229 "[VS] Participants list can be distracting when guests are frequently joining/leaving"
I use this for a classroom setting. When I start the session I get a message about logging in (to GitHub), then I get a message about the session starting and option to make it read only. Every time somebody connects I get another message.

This is really distracting. I want to click the share button and it just be done (maybe a toast after it is running or something). While teaching class it is d

[2018-10-31 14:52] lostintangent commented on #1229
@CoolDadTx Thanks for reaching out! This is very useful feedback, and is something we're actually working on right now. We're tracking this issue via #1069, so I'm going to close it as a dupe.

That said, since you mentioned that you're using Live Share for a classroom setting, I'd love to chat further with you about your broader feedback. If you'd be interested to sync, feel free to ping me direc

[2018-10-31 15:22] lostintangent commented on #1069
I'm updating the title of this issue to indicate that it's not specific to VS Code. The proposals we discussed above would apply equally as well to VS, and we'll ensure we reduce notification noise in both tools.

[2018-10-31 15:23] lostintangent commented on #1229
@CoolDadTx Actually, I'm going to re-activate this issue, and re-purpose it to be specific to your feedback about the participants list in VS. #1069 captures the general issue about notification noise, but we'll use this issue to discuss optimizing the VS participants list to be less distracting in a classroom setting.

[2018-10-31 15:39] CoolDadTx opened #1230 "[VS] Remember and re-use the access-level from your last collaboration session"
In a classroom environment I want students to have read only access to my session.  There are options in the Live Share options dialog but it isn't clear which ones persist across sessions and which don't. Each time I start a session I get the info bar at the top and I click Make Read-Only. I want this to be a default setting so I don't have to do that. I should be able to "not make read only" onl

[2018-10-31 16:00] lostintangent commented on #1230
@CoolDadTx This is great feedback! In VS Code, we actually have a specific entry point to start a read-only session, but we don't currently have the equivalent in VS. We should obviously add that! If you had a `File` menu item called `Start read-only collaboration session...`, would that be sufficient for your workflow?

Additionally, I like the idea of persisting the access level of your previous

[2018-10-31 16:00] CoolDadTx commented on #1229
Looks good to me.

[2018-10-31 17:07] dmitriyr333 opened #1231 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-10-31 17:18] CoolDadTx commented on #1230
A File menu item would work but if it was off the Live Share button that would probably be more discoverable to me. Either way it would save me the extra effort I use now. Thanks.

[2018-10-31 17:18] Moniarchy commented on #1225
Thanks for reporting this. Can you please run the command "Live Share: Export Logs" and attach the zip here or on issue #1172 or send it to vsls-feedback@microsoft.com? Also, any other information you can provide will help us investigate this. What were you doing at the time that this happened?

I am going to close this issue as a duplicate of #1172.

[2018-10-31 17:18] #1225 closed

[2018-10-31 17:19] Moniarchy commented on #1231
Thanks for reporting this. Can you please run the command "Live Share: Export Logs" and attach the zip here or on issue #1172 or send it to vsls-feedback@microsoft.com? Also, any other information you can provide will help us investigate this. What were you doing at the time that this happened?

I am going to close this issue as a duplicate of #1172.

[2018-10-31 17:19] #1231 closed

[2018-10-31 17:34] Moniarchy commented on #1227
Thanks for reporting this. Were you able to sign in again?

I'm going to close this issue as a duplicate of #323. If signing in again does not solve this, please run the command "Live Share: Export Logs" and attach the zip to #323 or send it to vsls-feedback@microsoft.com.

[2018-10-31 17:34] #1227 closed

[2018-10-31 17:41] Moniarchy commented on #1226
Thanks for reporting this. Could you please run the command "Live Share: Export Logs" and drag-and-drop the zip or send it to vsls-feedback@microsoft.com?

I'm going to close this issue as a duplicate of #1124; please attach your logs to #1124 when you get them.

[2018-10-31 17:41] #1226 closed

[2018-11-01 02:56] thquantv1 opened #1233 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-01 02:58] thquantv1 opened #1234 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-01 15:11] thunderbirdtr opened #1235 "Web Access for guests"
Basically  I would like to see just a "web access" for guest people who doesn't have access to PC with visual code or visual studio for at least to see what is going on and give some thoughts  and ideas and continue to work on it. It can be access from mobile phone or public laptop/pc. Mostly I would like to see on mobile systems. But more advance web access would be better for "doing some quick c

[2018-11-01 16:41] dws7rf opened #1236 "Allow sharing of test explorer in visual studio"
We try to use live share for all of our pairing in both VS and VS Code, but the biggest headache we have when using VS is that the test explorer component is not shared.

Please make this a thing.

[2018-11-01 17:07] Moniarchy commented on #1234
Closing as a duplicate of #1233

[2018-11-01 17:07] #1234 closed

[2018-11-01 17:09] Moniarchy commented on #1233
Thanks for reporting this. Did restarting the collaboration session help to resolve the issue? Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-01 17:10] Moniarchy commented on #1235
Adding @Chuxel, @lostintangent, and @jonwchu.

[2018-11-01 17:10] Moniarchy commented on #1236
Adding @Chuxel, @lostintangent, and @jonwchu.

[2018-11-01 18:34] roblourens opened #1237 ""Failed to install support for joining sessions from a URL""
I've seen this error (or something to that effect, I didn't copy the exact message) pop up several times in the past couple days when opening a new window. Not sure why but let me know if I can provide more details...

[2018-11-01 18:49] Chuxel commented on #1237
@roblourens What OS were you on when you saw this?

[2018-11-01 20:37] roblourens commented on #1237
MacOS

[2018-11-01 21:19] phinchik opened #1238 "[VS Code] spawn /Users/Phichik/.vscode/extensions/ms-vsliveshare.vsliveshare-0.3.897/dotnet_modules/vsls-agent ENOENT"
## Error:
spawn /Users/Phichik/.vscode/extensions/ms-vsliveshare.vsliveshare-0.3.897/dotnet_modules/vsls-agent ENOENT

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-01 21:20] lostintangent commented on #1236
@dws7rf Thanks for the feedback! We're actually working on this support right now 😄 We're tracking this issue via #33, so I'll close this bug as a duplicate.

Also, just as an FYI, there's also a [Test Explorer](https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer-liveshare) in VS Code, that _does_ already work via Live Share (e.g. guests can see and run tests). So that m

[2018-11-01 21:20] #1236 closed

[2018-11-01 22:09] Chuxel commented on #1237
Can you run the "Live Share: Export Logs" command and send them over so we can take a look?

Also, does it appear if you run the "Live Share: Launcher Setup" command?

[2018-11-01 23:34] roblourens commented on #1237
When I ran "Launcher Setup" I got `Browser link launcher successfully installed.` Exported the logs after that.

[Untitled.zip](https://github.com/MicrosoftDocs/live-share/files/2540464/Untitled.zip)

[2018-11-02 04:11] whitenanna1 opened #1239 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
## Error:
Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-11-02 06:40] eatPzxn opened #1240 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-02 06:41] #1240 closed

[2018-11-02 12:06] anwar907 opened #1242 "[VS Code] Sharing workspace: Unable to connect to the remote server. TrackingId:07082457-2b03-4328-9c73-a5735a100b5d, Address:sb://vsls-prod-ins-asse-private-relay.servicebus.windows.net/5f0ca4c328353a233ea4b876d50bd3527173--1550eaba-5e71-454d-b091-205fdacbc97d, Timestamp:11/2/18 12:05:13 PM"
## Error:
Sharing workspace: Unable to connect to the remote server. TrackingId:07082457-2b03-4328-9c73-a5735a100b5d, Address:sb://vsls-prod-ins-asse-private-relay.servicebus.windows.net/5f0ca4c328353a233ea4b876d50bd3527173--1550eaba-5e71-454d-b091-205fdacbc97d, Timestamp:11/2/18 12:05:13 PM

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.8

[2018-11-02 12:39] wisnu21 opened #1243 "[VS Code] Collaboration session not found."
## Error:
Collaboration session not found.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-02 12:48] taufikmuhamatt opened #1244 "[VS Code] Could not join the collaboration session as it has already reached the maximum of 5 participants."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-02 15:39] CoolDadTx opened #1245 "Start the vsls-agent only when needed"
VS has gotten really bloated with creating extra processes when all I do is start it up or load a solution. It is getting a little out of hand. I notice that when I start VS with Live Share installed it creates a vsls-agent process. It doesn't matter whether I ever actually use the extension (which I rarely do when not working remotely). Yet this process is running in the background.

Please don't

[2018-11-02 16:15] lostintangent commented on #31
Hey everyone! The "Solution view" experience has been promoted to stable in our most recent release, so you no longer need to set the experimental flag to benefit from it 🚀 🎉 Thanks for the patience here, and please let us know if you run into any issues/feedback. In the meantime, I'll close this issue as resolved, and we can address any specific bugs in new issues. Thanks!

[2018-11-02 16:15] #31 closed

[2018-11-02 16:29] yoann54 opened #1246 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.869|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.18.16-96.current|

[2018-11-02 16:30] roblourens commented on #1237
It's possible that my CPU was very busy at that moment but I wasn't doing anything that would mess with my actual Insiders install

[2018-11-02 16:51] Moniarchy commented on #1239
Thanks for reporting this. Did restarting the collaboration session help to resolve the issue? Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-02 16:58] Moniarchy commented on #1242
Thanks for reporting this. Are you behind a proxy? If so, this information may help you: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies
https://aka.ms/vsls-docs/connection-mode

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-02 17:03] Moniarchy commented on #1243
We display this message if the collaboration session is over and the guest tries to join it. It is not an error. Ask the host to start a new session and join it again.

If you see this message when the session is actually going on, then that would be a bug. If you experience that, please re-activate this issue and run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it

[2018-11-02 17:03] #1243 closed

[2018-11-02 17:03] Moniarchy commented on #1244
In a recent release, we have made it possible to have up to 30 concurrent guests in a collaboration session. You can use this feature by updating your version of Live Share and setting the liveshare.increasedGuestLimit (VS Code) setting to true.

[2018-11-02 17:03] #1244 closed

[2018-11-02 17:06] Moniarchy commented on #1245
Adding @Chuxel, @lostintangent, and @jonwchu.

[2018-11-02 17:09] Moniarchy commented on #1246
Hi there,
Are you behind a corporate proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If this doesn't solve your problem, please let me know. Also, please attach your logs to this issue or email them to vsls-feedback@microsoft.com. You can get your logs by running the "Live Share: Export Logs" command in VS Code.

[2018-11-02 22:42] tabacco commented on #1237
I'm seeing the same error, also on MacOS. I've tried uninstalling/reinstalling the extension (with a restart of the editor in between). I also tried the launcher setup option and just got the same error popup again:

![image](https://user-images.githubusercontent.com/102973/47943923-d2177680-deb5-11e8-89d6-fca030fd1cc9.png)

Attached are my logs:
[liveshare.zip](https://github.com/MicrosoftDocs/li

[2018-11-03 05:09] ZiNOX9 opened #1247 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
While sharing the Connection breaks automatically and we have to join again

[2018-11-03 11:01] anwar907 commented on #1242
yes thankyou

[2018-11-03 17:11] Leochan6 opened #1248 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
## Error:
Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.4.0-138-generic|

[2018-11-04 04:02] kowilliam03 opened #1249 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
I  installed the vscode on Debian 9, and i install the live share extension.
I clicked 'Start collaboration session' and get this error.I have no idea what should i do.
I hope someone can help me.Thank you.

## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

[error_log.zip](https://github.com/MicrosoftDocs/live-share/files/2545558/error_log

[2018-11-04 11:15] svarik opened #1250 "[VS Code] Sharing workspace: Unable to connect to the remote server. TrackingId:d04f2cef-12c6-4b98-b1ff-67605c04db56, Address:sb://vsls-prod-ins-euw-private-relay.servicebus.windows.net/dbdd6f59553881eef2704b1c7b8e78c46152--d2486634-ddfc-476f-8e96-b89a1743fe7e, Timestamp:04.11.2018 11:14:37"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-05 05:15] nilsocket opened #1251 "VSCode is CPU usage is very high"
[temp.zip](https://github.com/MicrosoftDocs/live-share/files/2547007/temp.zip)

**Product and Version** [VSCode]:1.28.2
**OS Version**: Linux (Ubuntu, Arch Linux)
**Live Share Extension Version**: 0.3.896

**Steps to Reproduce / Scenario:**
Connect two computers and scroll around

[2018-11-05 13:06] bhumin3i opened #1252 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-06 04:32] cwebster2 commented on #1246
After further troubleshooting, this appears to be a bug in the dotnet runtime.  See this issue in the dotnet/corefx repo: https://github.com/dotnet/corefx/issues/33179 which describes incompatibilities between dotnet and newer ssl libraries (introduced in debian 10 / testing).

Editing the file /etc/ssl/openssl.cnf and commenting out the line suggested in that issue, then restarting vs code allows

[2018-11-06 06:06] kowilliam03 commented on #1249
Aften I upgrade openSSL to lastest version,live share works!!

[2018-11-06 06:06] #1249 closed

[2018-11-06 16:17] Codedevlo opened #1253 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-06 16:26] tsvetilian-ty commented on #1245
@CoolDadTx try to modify the package.json file in the root directory of the extension, they are located in %USERPROFILE%\.vscode\extensions in Windows find the extension folder and try to play with "[Activation Events](https://code.visualstudio.com/docs/extensionAPI/activation-events)", it's not recommended method so create a backup of the package.json!

[2018-11-06 18:37] CoolDadTx commented on #1245
@tsvetilian-ty , sorry I should have clarified. This is for VS 2017, not VS COde

[2018-11-06 18:47] jwodicka commented on #406
We just experienced this in v0.3.897.

Both developers were actively editing near the same region of code, realized we were clashing with each other, and we both hit CMD-Z at about the same time to back out.

At that point, it seemed to begin undoing everything from both of us in roughly reverse of the order it had gone in; we killed the session after losing about ten minutes work. The code remove

[2018-11-06 19:21] daytonellwanger commented on #406
Hey @jwodicka , we're very sorry about this. Based on this and related threads, we've decided that our "local" undo support is not in a robust enough state to have in the product. In our next release, we're rolling back to "global" undo, meaning if you press undo and the last edit was due to another user, you'll undo their change. This is sometimes not the intention when pressing undo, but it's ce

[2018-11-06 19:27] jfoster22 opened #1254 "[VS Code] Collaboration session not found."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-06 22:48] mjbvz opened #1255 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-07 08:51] ronronsun opened #1256 "[VS Code] Could not join the collaboration session as it has already reached the maximum of 5 participants."
## Error:
Could not join the collaboration session as it has already reached the maximum of 5 participants.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-07 12:55] SmithWinter opened #1257 "[VS Code] Sharing workspace: Already connected to a workspace."
After sharing connection, the extension UI is not switched to Participants List and it's still stay at join and start list

[2018-11-07 13:57] GrCOTE7 commented on #1158
@Priya91 I think the autentification is OK...: Please see:

1/ http://prntscr.com/lfgvl2

And after clicking to sign in:
2/ http://prntscr.com/lfgw2x

Note: Since your last post, I try with a virtualbox with Windows inside../ And that's work well :-)

So, perhaps is post 5990 (to 5999) that don't let Kubuntu inside a box to works...
(Strance that a system with Kubuntu based works...)

Only when in

[2018-11-07 14:15] MichaelTempest opened #1258 "[VS Code] Service not available: workspaceAccessControl"
[Live Share Logs.zip](https://github.com/MicrosoftDocs/live-share/files/2557635/Live.Share.Logs.zip)
## Error:
Service not available: workspaceAccessControl

## Steps to Reproduce:
1. Click link from live share
2. Throws the error above

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.897|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.2

[2018-11-07 14:37] scherler opened #1259 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1. Press Sign in
2. follow along the browser
3. copy user code
4. go back to IDE
5. add user code by hand

![screenshot_2018-11-07_15-36-17](https://user-images.githubusercontent.com/596701/48137980-8bee5880-e2a3-11e8-8814-8bc5f30d949b.png)

||Version Data|
|-:|:-|
|*

[2018-11-07 15:36] KilobaiD opened #1260 "[VS Code] Sharing workspace: Unable to connect to the remote server. TrackingId:cd9d8dcc-dd17-40ad-8363-dd13fe443614, Address:sb://vsls-prod-ins-euw-private-relay.servicebus.windows.net/14ef36f7662f34acc6deaacaa5c0f68b8d6e--f16e93a7-aafa-48e4-aefe-894937392189, Timestamp:11/7/2018 3:36:22 PM"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-07 15:41] Cozonaq opened #1261 "[VS Code] Could not connect to the server. Check that you are connected to the internet."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-07 17:54] TheDoudou commented on #1154
Product and Version [VS/VSCode]: 1.28.2
OS Version [macOS/Windows]: Win 10 Pro 64 Bits
Live Share Extension Version: 0.3.897
Target Platform or Language [e.g. Node.js]: HTML

Hi, same problem here, two people in the same page i make undo and undo "locked" roll back 3h of work. (ligne 600+-)

[2018-11-07 18:55] daytonellwanger commented on #1154
Hey @TheDoudou  , we're very sorry about this. Based on this and related threads, we've decided that our "local" undo support is not in a robust enough state to have in the product. In our next release, we're rolling back to "global" undo, meaning if you press undo and the last edit was due to another user, you'll undo their change. This is sometimes not the intention when pressing undo, but it's

[2018-11-07 20:04] dlebu commented on #1251
Thanks for reporting this issue. We will try to reproduce it. Do you have any specific reproducing steps we need to try?

[2018-11-07 20:18] dlebu commented on #1255
Thanks for the heads up, we are tracking this internally.

[2018-11-07 20:20] Priya91 commented on #1158
@GrCOTE7 Can you please run the following commands, and post the results..

[code]

note down the openssldir value then do,

[code]

The above command tells you if there are any files in the directory that Openssl told us to look info root certs, a number less than 10 means "no root certs installed". If that is the case, then you can look at the distro documentation for getting the root certs and

[2018-11-07 20:28] dlebu commented on #1256
@ronronsun Thanks for the feedback. You can increase the maximum number of collaborators to 30 by changing a setting. Add this setting to your user settings file:

` "liveshare.increasedGuestLimit": true`

Please re-open the issue if this does not fix your problem.

[2018-11-07 20:28] #1256 closed

[2018-11-07 20:36] dlebu commented on #1251
Possibly related issue #1076

[2018-11-07 20:46] dlebu commented on #1257
Thanks for the feedback, we will try to reproduce the issue. If you have any sequence of specific steps we need to take when sharing, please let us know. (Including how the share was performed - command palette, status bar or viewlet)

[2018-11-07 20:55] Chuxel commented on #1251
@nilsocket A few things:

Looking at your logs, there is a `Service not available: workspaceTask` error which could indicate you or the person you are working with has a corrupted install. Can you try uninstalling, restarting VS Code (not just reloading), and installing again to see if that resolves the issue?

If not, we had a report of this as #1076 on the "guest" side (the person joining). At t

[2018-11-07 21:00] dlebu commented on #1260
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-07 21:00] dlebu commented on #1261
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-07 21:17] IlyaBiryukov commented on #1258
Hi,

Thanks for reporting this issue. As a workaround, you can ask the host to update their version of Live Share extension. Version 0.3.198.43204 that they use doesn't have workspaceAccessControl service, that's the reason of the error.

[2018-11-07 23:05] GrCOTE7 commented on #1158
Hi,

Thanks to all your answers, in particular, you, Priya91...

I try all what you give as command, and obtain exactly the same result, in the system where is directly in Kubuntu, and le VirtualBox with Kubuntu.

Even, I had compare the output that give your last command...

Except of course the certificate, all the request/answer gave the same results...

Then, I remove the live share extension

[2018-11-07 23:15] #1158 closed

[2018-11-08 00:42] dlebu commented on #1253
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-08 00:43] dlebu commented on #1252
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-08 00:43] dlebu commented on #1248
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-08 00:43] dlebu commented on #1247
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-08 00:43] dlebu commented on #1250
Thanks for reporting this. Are you behind a proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies

If you can reproduce the issue again, can you please run the command "Live Share: Export Logs" and drag-and-drop the zip here or send it to vsls-feedback@microsoft.com?

[2018-11-08 06:57] ArifZx opened #1262 "[VS Code] Collaboration session not found."
## Error:
Collaboration session not found.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-38-generic|

[2018-11-08 09:34] uniquechukwuma opened #1263 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-2.0'"
<!--
Attach verbose logs as follows:
1. Press F1 (or Ctrl-Shift-P), type export

[2018-11-08 10:48] uniquechukwuma commented on #1263
Please i have unistalled and installed and its not working yet

[2018-11-08 11:17] patrys commented on #1237
Here's my output:

[code]

[2018-11-08 13:50] jackstevenson opened #1264 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-08 17:13] dlebu commented on #1263
@uniquechukwuma Thanks for the feedback. We will try reproducing the issue.

[2018-11-08 17:20] jasongin commented on #1263
@uniquechukwuma Your logs might help us diagnose this problem. You can use the `Live Share: Export Logs` command and then send it to `vsls-feedback@microsoft.com`. Thanks!

[2018-11-08 17:42] ekeyur opened #1265 "[VS Code] Could not connect to the server. Check that you are connected to the internet."
## Error:
Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-08 21:49] owenniblock opened #1266 "[VS Code] Files missing from share due to incorrect .gitignore parsing"
NOTE: I haven't got logs (I wasn't aware of the process when we hit the issue) - let me know if you need them and I'll recreate the issue and grab them tomorrow when my colleague is online.

**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: macOS & Linux
**Live Share Extension Version**: 0.3.890
**Target Platform or Language** [e.g. Node.js]: Ruby

**Steps to Reproduce /

[2018-11-09 04:21] iczero opened #1267 "[VS Code] Request languageServerProvider-any.request failed with message: undefined is not iterable"
## Error:
Request languageServerProvider-any.request failed with message: undefined is not iterable

## Steps to Reproduce:
1. Install ESLint extension on Live Share host
2. Make a new eslint config and add any auto-fixable rule (eg. quotes)
3. Create a new file and put something in there that violates the rule (for example, for the quotes rule, use double quotes when single quotes were expected)

[2018-11-09 05:12] nilsocket commented on #1251
I will look into it and send the report within 10 hours or so.

On Thu, Nov 8, 2018 at 2:25 AM Chuck Lantz <notifications@github.com> wrote:

--
from:- nilsocket

[2018-11-09 09:16] CRSarah opened #1268 "[VS Code] Agent terminated with exit code: 0 and signal null:"
## Error:
Agent terminated with exit code: 0 and signal null:

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.10.0-42-generic|

[2018-11-09 14:28] cjhodges77 opened #1269 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-11-09 17:09] DRSDavidSoft commented on #54
@Chuxel GitHub should allow `+100` upvotes in addition to `+1` upvotes. Specially for this issue.

[2018-11-09 17:34] KingDGrizzle commented on #1018
Hello.

I haven't had a lot of time using live share recently, but last time I did it seemed to work without freezing, which was helpful.

I don't know if I should close or leave this issue open, in case the entire lockups happen again (I hope they don't).

Thanks for your help!

[2018-11-09 17:55] lostintangent commented on #54
@DRSDavidSoft Feedback taken! We’re actually working on this right now, and should have something to share very soon 😁

[2018-11-10 09:18] nilsocket commented on #1251
Sorry to inform, I lost access to the other laptop.

Sorry.

On Fri 9 Nov, 2018, 10:42 AM Nilsocket <nilsocket@gmail.com wrote:

[2018-11-10 09:20] #1251 closed

[2018-11-10 11:44] DRSDavidSoft commented on #54
@lostintangent Thanks for working on it! Your work on this extension is appreciated by thousands, even if not all of the users visit and use GitHub.

[2018-11-10 14:07] malibayram91 opened #1270 "[VS Code] [Audio] read ECONNRESET"
## Error:
read ECONNRESET

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.39|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Windows|
|**platformVersion**|18.2.0|

[2018-11-10 17:44] lostintangent commented on #1218
@RMacfarlane This issue has been resolved in the latest release, so if you update, you shouldn’t  run into this issue with undo anymore. That said, the undo stack is now shared by all participants that are editing the same file, so let us know how that feels in practice. Thanks again for reporting this!

[2018-11-10 17:44] #1218 closed

[2018-11-10 17:45] lostintangent commented on #1154
This issue has been resolved in the latest release, so if you update, you shouldn’t  run into this issue with undo anymore. That said, the undo stack is now shared by all participants that are editing the same file, so let us know how that feels in practice. Thanks again for reporting this!

[2018-11-10 17:45] #1154 closed

[2018-11-10 17:45] lostintangent commented on #989
This issue has been resolved in the latest release, so if you update, you shouldn’t  run into this issue with undo anymore. Thanks again for reporting this!

[2018-11-10 17:45] #989 closed

[2018-11-11 18:12] Andrei131 opened #1271 "[VS Code] Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-11 23:35] ottidmes opened #1272 "[VS Code] Prevent filling up the journal with vsls-agent logs"
**Product and Version** [VS/VSCode]: VSCode 1.28.2 x64
**OS Version** [macOS/Windows]: NixOS 18.09 (Linux 4.14.76)
**Live Share Extension Version**: 0.3.925
**Target Platform or Language** [e.g. Node.js]: Any

**Steps to Reproduce / Scenario:**
1. Start VS Code with the Live Share extension installed.
2. Open the systemd journal (e.g. `sudo journalctl -e`), and most of the journal will be filled u

[2018-11-12 11:20] KarimahAzzuhdu12 opened #1273 "[VS Code] Agent terminated with exit code: 2147516546 and signal null: Failed to load the dll from [C:\Users\admin\.vscode\extensions\ms-vsliveshare.vsliveshare-0.3.925\dotnet_modules\hostfxr.dll], HRESULT: 0x80070057The library hostfxr.dll was found, but loading it from C:\Users\admin\.vscode\extensions\ms-vsliveshare.vsliveshare-0.3.925\dotnet_modules\hostfxr.dll failed - Installing .NET Core prerequisites might help resolve this problem.http://go.microsoft.com/fwlink/?LinkID=798306"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-12 11:55] uniquechukwuma commented on #1263
Export log command not recognized on my machine

On Thu, Nov 8, 2018 at 6:21 PM Jason Ginchereau <notifications@github.com>
wrote:

[2018-11-12 17:00] jasongin commented on #1263
The `Live Share: Export Logs` command is provided by the main "VS Live Share" extension, which is separate from the "VS Live Share Audio" extension. Do you have both of those extensions installed and enabled?

[2018-11-12 17:34] josephAnda opened #1274 "[VS Code] Sharing workspace: RPC connection closed."
## Error:
Sharing workspace: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-13 00:28] mdenitz opened #1275 "[VS Code] Joining workspace: Unable to connect to the host. Verify both you and the host are online."
## Error:
Joining workspace: Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.953|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-13 07:01] uniquechukwuma commented on #1263
Yes i do

On Mon, Nov 12, 2018 at 6:00 PM Jason Ginchereau <notifications@github.com>
wrote:

[2018-11-13 08:44] rvndaputra opened #1276 "[VS Code] The user code is invalid or expired. Try signing in again."
## Error:
The user code is invalid or expired. Try signing in again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.953|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-38-generic|

[2018-11-13 09:53] quany opened #1277 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-13 09:55] possebon opened #1278 "Running VS Code and VS Live Share after macOS upgrade to Mojave: Failed to install support for joining sessions"
**Product and Version** [VS/VSCode]: 1.29 but 1.28.1 and 1.28.2 has problems too.
**OS Version** [macOS/Windows]: 10.14.1
**Live Share Extension Version**: 0.3.953
**Target Platform or Language** [e.g. Node.js]: Python

**Steps to Reproduce / Scenario:**
Just open a session of VS Code and the popup screen will show.

**Screenshots**
If applicable, add screenshots to help explain your problem.
[liv

[2018-11-13 15:58] jasongauvin opened #1279 "[VS Code] Joining workspace: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
Joining workspace: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.953|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applic

[2018-11-13 16:32] DavidBenavidez123 opened #1280 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-13 18:50] jasongin commented on #1263
If the `Export Logs` command is not available, then I think that means the Live Share extension failed to activate. So there may be some other problems besides the one in the issue title here.

Can you manually collect and zip the all the log files from `$TEMP/VSFeedbackVSRTCLogs` and then send the zip file to `vsls-feedback@microsoft.com` ?

[2018-11-13 19:05] ep858492 opened #1281 "[VS Code] Collaboration session not found."
## Error:
Collaboration session not found.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.925|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.25.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-13 22:38] tslevi-unbounce opened #1282 "[VS Code] Cannot read property 'isAnonymous' of undefined"
## Error:
Cannot read property 'isAnonymous' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVersion**|16.7.0|

[2018-11-13 23:42] tavisrudd opened #1283 "[VS Code] Cannot read property 'isAnonymous' of undefined"
## Error:
Cannot read property 'isAnonymous' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-14 00:02] digidug opened #1284 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
## Error:
Joining workspace: The host has blocked you from joining the collaboration session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-14 01:10] Al12rs commented on #74
This is something that has basically no competition at the moment. The ability to easily and effortlessly work on your remote development environment (without need of host).
I'm just a student but I find myself looking for such a solution. I have different projects on my desktop computer, some in a Linux VM running on the same machine. Though during the week I live in an apartment in the city of m

[2018-11-14 01:28] #1283 closed

[2018-11-14 01:29] legomushroom commented on #1282
cc @tavisrudd

[2018-11-14 01:52] legomushroom commented on #1282
@tslevi-unbounce @tavisrudd, thanks for reporting the issue, do you mind send me your logs?

You can run the `Live Share: Export Logs` comamnd in VSCode to get the zip with logs. You can attach them here or send it to olsolomk@microsoft.com. Thanks!

[2018-11-14 01:54] legomushroom commented on #1282
May be related: https://github.com/MicrosoftDocs/live-share/issues/1269

[2018-11-14 11:40] Badis42 opened #1285 "[VS Code] Sharing workspace: Unable to connect to the remote server. TrackingId:9a754663-7efa-4915-a524-fd22c17e7fab, Address:sb://vsls-prod-ins-euw-private-relay.servicebus.windows.net/9c9fc0c692ca590304b00ed8ad5229ef72b0--ddf40350-0e74-49ea-ab31-67354e093751, Timestamp:14/11/2018 11:39:56"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-14 12:43] Ettery commented on #795
I'm also seeing this problem.  I can consistently reproduce it - anytime I try to "Start a collaboration session".  I am behind a corporate proxy which does cause some problems with tools, so that may be the cause of this problem.

Here are my logs as requested above:

[code]

[2018-11-14 16:04] dws7rf opened #1286 "[VS] Guests can't add/delete files in "Solution View""
With the newest updates, there are no options in the right click menu for live share participants in solution explorer.

![no right click](https://user-images.githubusercontent.com/4031222/48494925-78d40f00-e7f4-11e8-8bdf-3865edbc85c8.png)

[2018-11-14 16:52] aleixmorgadas opened #1287 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
Logs attached [logs.zip](https://github.com/MicrosoftDocs/live-share/files/2581722/logs.zip)

## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1. Using Debian OS with the openssl version 1.1.1
2. Use the VS Live Sharing, it will trigger the error.

A partial solution is decrease the minimum openssl security requirem

[2018-11-14 19:04] Jhonatan-Holanda opened #1288 "[VS Code] Joining workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Joining workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.9.0-7-amd64|

[2018-11-14 19:39] roblourens opened #1289 "Live Share invokes executeCodeLensProvider over and over"
- Latest Insiders, on Windows 10, Live Share 0.3.954
- Open empty window, or any folder
- "Set Log Level" > Trace
- Open "Log (Extension Host)"
- See that Live Share is apparently calling `vscode.executeCodeLensProvider` for no reason

[code]

Only a couple other extensions activated in an empty window, let me know how I can help debug.

[2018-11-14 19:44] roblourens commented on #1289
Also in stable vscode

[2018-11-14 19:47] daytonellwanger commented on #1289
Thanks for reporting @roblourens . I'm looking into it.

[2018-11-14 21:48] brandonbayliss8 opened #1290 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-14 22:49] roblourens commented on #1237
I keep seeing this. Today I am seeing it every time I open a new window.

[2018-11-14 23:52] rodrigovaras commented on #1287
@jasongin , is this an SSL?

[2018-11-15 01:17] aaroncraig10e commented on #1237
I have been seeing this on the Insiders build for some time.  I'm attaching my logs after a recent restart.

I see this error whenever I open or reload a window.
[liveshare.zip](https://github.com/MicrosoftDocs/live-share/files/2583253/liveshare.zip)

[2018-11-15 02:11] lostintangent commented on #1290
Thanks for reporting this! We're already tracking this issue via #1172, so I'm going to close this as a duplicate. Thanks!

[2018-11-15 02:11] #1290 closed

[2018-11-15 02:12] lostintangent commented on #1269
Thanks for reporting this! We're already tracking this issue via #1172, so I'm going to close this as a duplicate. Thanks!

[2018-11-15 02:12] #1269 closed

[2018-11-15 02:16] lostintangent commented on #1266
Thanks for reporting this! We'll look into this issue ASAP.

[2018-11-15 02:17] lostintangent commented on #1071
This error generally indicates that the session you're trying to join has ended. That said, I'm going to close this as a duplicate of #1003, so that we can discuss it via a single issue. Thanks!

[2018-11-15 02:17] #1071 closed

[2018-11-15 02:18] lostintangent commented on #1111
This error generally indicates that the session you're trying to join has ended. That said, I'm going to close this as a duplicate of #1003, so that we can discuss it via a single issue. Thanks!

[2018-11-15 02:18] #1111 closed

[2018-11-15 02:18] lostintangent commented on #1254
This error generally indicates that the session you're trying to join has ended. That said, I'm going to close this as a duplicate of #1003, so that we can discuss it via a single issue. Thanks!

[2018-11-15 02:18] #1254 closed

[2018-11-15 02:18] lostintangent commented on #1262
This error generally indicates that the session you're trying to join has ended. That said, I'm going to close this as a duplicate of #1003, so that we can discuss it via a single issue. Thanks!

[2018-11-15 02:18] #1262 closed

[2018-11-15 02:18] lostintangent commented on #1281
This error generally indicates that the session you're trying to join has ended. That said, I'm going to close this as a duplicate of #1003, so that we can discuss it via a single issue. Thanks!

[2018-11-15 02:18] #1281 closed

[2018-11-15 02:20] lostintangent commented on #582
Closing this as a duplicate of #504.

[2018-11-15 02:20] #582 closed

[2018-11-15 02:20] lostintangent commented on #1242
Closing this as a duplicate of #504.

[2018-11-15 02:20] #1242 closed

[2018-11-15 03:29] lualsiv opened #1291 "[VS Code] Joining workspace: EACCES: permission denied, open '/Users/lualsiv/.vscode/extensions/ms-vsliveshare.vsliveshare-0.3.954/modifiedInternalSettings.json'"
## Error:
Joining workspace: EACCES: permission denied, open '/Users/lualsiv/.vscode/extensions/ms-vsliveshare.vsliveshare-0.3.954/modifiedInternalSettings.json'

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVers

[2018-11-15 05:35] brendanfh opened #1292 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|Linux|
|**platformVersion**|4.15.0-20-generic|

[2018-11-15 08:06] triasbrata opened #1293 "[VS Code] Joining workspace: Object reference not set to an instance of an object."
## Error:
Joining workspace: Object reference not set to an instance of an object.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-11-15 08:16] aleixmorgadas commented on #1287
With the latest openssl version (at least in Debian testing), VS Code Live Share doesn't work due to openssl configuration. When you change the configuration as I shared in the issue explanation, then it works again.

[2018-11-15 09:33] pjninnim opened #1294 "Debug adapter process has terminated unexpectedly"
Issue Type: <b>Bug</b>

Debug adapter process has terminated unexpectedly (Error: Cannot read property 'type' of undefined
{"seq":1,"type":"response","request_seq":1,"command":"initialize","success":true,"body":{"exceptionBreakpointFilters":[{"label":"All Exceptions","filter":"all","default":false},{"label":"Uncaught Exceptions","filter":"uncaught","default":false}],"supportsConfigurationDoneReque

[2018-11-15 09:39] Jahtila commented on #1294
@pjninnim FYI I'm also having the same problem.

[2018-11-15 10:39] sandrospadaro opened #1295 "[VS Code] Cannot read property 'isAnonymous' of undefined"
## Error:
Cannot read property 'isAnonymous' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|Windows|
|**platformVersion**|10.0.16299|

[2018-11-15 15:31] rodrigovaras commented on #1278
we ask our test team to try our latest extension release on Mojave and test similar scenarios you mention with python installed.  but we don;t see the problem you are describing.
Can you please uninstall the extension and re install a fresh vsix to see if it is due to a corrupted .NET core runtime. Also it may be worth to move into vscode 1.30.

[2018-11-15 15:36] rodrigovaras commented on #1294
Can you provide more context which language is affected? Did the error happen on the host side? Are you sharing a workspace when the error happen?

[2018-11-15 15:37] rodrigovaras commented on #1291
@daytonellwanger  can you look at this? Did we ever hot something like this before?

[2018-11-15 15:39] pjninnim commented on #1294
@rodrigovaras Trying to just run the debugger with the extension enabled gives the error when debugging a node/javascript. Disable the live share extension and debugger loads correctly. Only started happening from Tuesday, this week with one of the vscode updates. If was all perfect before that.

My launch code is below if it helps:
<pre>{
  // Use IntelliSense to learn about possible attributes.

[2018-11-15 15:46] rodrigovaras commented on #1294
We will investigate on our side. FYI, we recently changed the way we host debug session on live share and i presume all this type of errors will go away, but the current version enabled this only for experimental option. We will soon migrate to enable the new mechanism by default

[2018-11-15 16:37] legomushroom commented on #1295
Dup of https://github.com/MicrosoftDocs/live-share/issues/1282.

[2018-11-15 16:37] #1295 closed

[2018-11-15 16:42] legomushroom commented on #1293
Hey @triasbrata, thanks for submitting! Mind to attach your logs or add reproduce steps? You can export your logs by running `Live Share: Export Logs` command in the command palette. Thanks!

[2018-11-15 17:22] srivatsn commented on #1294
@pjninnim can you see if setting liveshare.features = experimental fixes the issue for you?

[2018-11-15 18:15] jasongin commented on #1287
@Chuxel have you encountered this before in your Linux testing?

[2018-11-15 18:49] Chuxel commented on #1287
@jasongin No, but I've been testing with Debian 9 (stretch) not the "testing" branch (what will be the next version of Debian at some point).

Last I checked, .NET Core was still on libssl1.0.x since 1.1.x is not API compatible. So, I wouldn't expect 1.1.1 to cause problems unless it changed configurations that affected it.  What version(s) of libssl1.0.x are installed?

We have seen SSL problems

[2018-11-15 19:15] sh847406 opened #1296 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
## Error:
Joining workspace: The host has blocked you from joining the collaboration session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.953|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.25.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-15 21:01] jramsay commented on #1294
Thanks for the info @pjninnim! I've tested it out and can also repro the issue (on Insiders only - Stable is fine) when liveshare.features is set to experimental.

Can you try setting your user options explicitly to "stable" again?  After you do this you'll have to close and reopen VS Code Insiders for this setting to be applied. Can you let me know if this resolves the issue?

![image](https://us

[2018-11-15 21:11] bobhenkel opened #1297 "[VS Code] The user code is invalid or expired. Try signing in again."
## Error:
The user code is invalid or expired. Try signing in again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|Linux|
|**platformVersion**|4.15.0-1024-gcp|

[2018-11-15 21:38] IlyaBiryukov commented on #1202
cc: @rodrigovaras

[2018-11-16 02:35] duyetpt opened #1298 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-11-16 07:43] pjninnim commented on #1294
@jramsay Thanks. Yes setting it to 'stable' then closing and reopening did resolve the issue. After testing that I installed the latest update, changed it back to 'experimental' and the problem is also resolved following the latest update.

[2018-11-16 09:47] chhetrisushil opened #1299 "[VS Code] Sharing workspace: RPC connection closed."
## Error:
Sharing workspace: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|17.6.0|

[2018-11-16 10:21] ZiNOX9 commented on #1247
OK Sure I will Mail you guys the Logs once I reproduce them.

[2018-11-16 10:21] #1247 closed

[2018-11-16 10:26] Risuro opened #1300 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
<!--
For Visual Studio problems/feedback, please use the Report

Ban not revelant

[2018-11-16 10:27] Clic2Photo opened #1301 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
<!--
GROS FDP QUI C PAS FAIRE DES REQUETES NSM LASTICOT
For Visual Studio problems/feedback, please use the Report

[2018-11-16 12:22] geods3 opened #1302 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.18.0-2-amd64|

[2018-11-16 13:50] possebon commented on #1278
@lostintangent I already did the uninstall and install before reporting the issue. I was using fine before the upgrade to Mojave. The Live Share session, not using the browser, works fine, no problems with that.

I just reported because if someone uses the browser to start session could be having the same issue.

[2018-11-16 13:52] possebon commented on #1278
@rodrigovaras Before reporting I already did uninstall e re install the extension.

When you mention move to vscode 1.30 you're talking about vscode Insiders, right? I'll do the test with the Insiders version.

[2018-11-16 13:57] verdulife opened #1303 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-2.0'"
<!--
Attach verbose logs as follows:
1. Press F1 (or Ctrl-Shift-P), type export

[2018-11-16 14:14] 108adams opened #1304 "[VS Code] Sharing workspace: Unable to connect to the remote server. TrackingId:8ac36365-543c-40f5-86c9-1398b3af0927, Address:sb://vsls-prod-ins-use-private-relay.servicebus.windows.net/7a97bdab2dcaf1b5078844207d45d6eb989c--e3996c4a-2681-401f-b62c-c3c857bac02d, Timestamp:11/16/2018 14:10:44"
[Proxy-related-connection.zip](https://github.com/MicrosoftDocs/live-share/files/2589557/Proxy-related-connection.zip)

## Error:
Sharing workspace: Unable to connect to the remote server. TrackingId:8ac36365-543c-40f5-86c9-1398b3af0927, Address:sb://vsls-prod-ins-use-private-relay.servicebus.windows.net/7a97bdab2dcaf1b5078844207d45d6eb989c--e3996c4a-2681-401f-b62c-c3c857bac02d, Timestamp:11/16/20

[2018-11-16 14:17] 108adams commented on #1304
I believe it's a proxy-related problem, I have constant problems with VSCode behind NTLM proxy.

I started VSC with `code --proxy-server="127.0.0.1:3128" .` using cntlm to connect my Mac (High Sierra) through proxy. With this setting VSC works: plugins' registry gets connected, plugin gets downloaded, the secondary download for Live plugin resolves as well.

But the share cannot connect

[2018-11-16 14:33] eskye opened #1305 "[VS Code] [Audio] Calling module not available. Cannot find module 'slimcore-2.0'"
<!--
Attach verbose logs as follows:
1. Press F1 (or Ctrl-Shift-P), type export

[2018-11-16 15:04] nikhilesh90 opened #1306 "[VS Code] Joining workspace: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-16 15:09] Chuxel commented on #1237
@patrys @aaroncraig10e @roblourens @tabacco

Are you guys on Mojave by chance?  #1278 was raised with this error specifically occuring on that OS.

[2018-11-16 15:11] Chuxel commented on #1278
@lostintangent @rodrigovaras This was also reported in #1237 on insiders. I've asked if everyone on that thread is on Mojave to see if it is an issue with that OS or something about insiders.

[2018-11-16 15:42] tabacco commented on #1237
I am

[2018-11-16 15:42] BadSqlPro opened #1307 "Unable to download dependencies to finish installation."
Issue Type: <b>Bug</b>

Hello, I am not able to complete the installation as I get an error saying Live Share extenstion is unable to download the needed dependencies. I am not sure what's blocking the installation. Please help

Extension version: 0.3.954
VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17134

<detail

[2018-11-16 16:45] lostintangent commented on #1211
I'm going to close this issue as a duplicate of #827. Thanks!

[2018-11-16 16:45] #1211 closed

[2018-11-16 16:45] lostintangent commented on #1220
@rustan-id Hey! Could you try uninstalling the audio extension and reinstalling it? This issue may indicate that they install process failed for some reason. In the meantime, I'm going to close this as a duplicate of #827.

[2018-11-16 16:45] #1220 closed

[2018-11-16 16:46] lostintangent commented on #1263
@uniquechukwuma Could you try uninstalling the audio extension and reinstalling it? This issue may indicate that they install process failed for some reason. In the meantime, I'm going to close this as a duplicate of #827.

[2018-11-16 16:46] #1263 closed

[2018-11-16 16:46] lostintangent commented on #1303
@verdulife Could you try uninstalling the audio extension and reinstalling it? This issue may indicate that they install process failed for some reason. In the meantime, I'm going to close this as a duplicate of #827. Thanks!

[2018-11-16 16:46] #1303 closed

[2018-11-16 16:46] lostintangent commented on #1305
@eskye Could you try uninstalling the audio extension and reinstalling it? This issue may indicate that they install process failed for some reason. In the meantime, I'm going to close this as a duplicate of #827. Thanks!

[2018-11-16 16:46] #1305 closed

[2018-11-16 16:49] lostintangent commented on #1280
@DavidBenavidez123 This message usually indicates that the host removed you from the session. Do you know if they accidentally did that? Was the host in VS? The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.

In the meantime, I'm going to close this issue as a duplicate of #1199. Thanks!

[2018-11-16 16:49] #1280 closed

[2018-11-16 16:49] lostintangent commented on #1284
@digidug This message usually indicates that the host removed you from the session. Do you know if they accidentally did that? Was the host in VS? The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.

In the meantime, I'm going to close this issue as a duplicate of #1199. Thanks!

[2018-11-16 16:49] #1284 closed

[2018-11-16 16:50] lostintangent commented on #1296
@sh847406 This message usually indicates that the host removed you from the session. Do you know if they accidentally did that? Was the host in VS? The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.

In the meantime, I'm going to close this issue as a duplicate of #1199. Thanks!

[2018-11-16 16:50] #1296 closed

[2018-11-16 16:50] lostintangent commented on #1300
@Risuro This message usually indicates that the host removed you from the session. Do you know if they accidentally did that? Was the host in VS? The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.

In the meantime, I'm going to close this issue as a duplicate of #1199. Thanks!

[2018-11-16 16:50] #1300 closed

[2018-11-16 16:50] lostintangent commented on #1301
@Clic2Photo This message usually indicates that the host removed you from the session. Do you know if they accidentally did that? Was the host in VS? The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.

In the meantime, I'm going to close this issue as a duplicate of #1199. Thanks!

[2018-11-16 16:50] #1301 closed

[2018-11-16 16:53] rodrigovaras commented on #1307
I would suggest to do uninstall the extension first, then realdo your window and finally install liveshare again. If the problem continue to persist can you send us the log files?

[2018-11-16 16:53] lostintangent commented on #670
Closing this as a duplicate of #327.

[2018-11-16 16:53] #670 closed

[2018-11-16 16:54] lostintangent commented on #1058
Closing this as a duplicate of #327.

[2018-11-16 16:54] #1058 closed

[2018-11-16 16:54] lostintangent commented on #327
Migrating the logs from #1058: https://github.com/MicrosoftDocs/live-share/files/2435367/share-log.zip.

[2018-11-16 16:55] lostintangent commented on #1130
Closing this as a duplicate of #327.

[2018-11-16 16:55] #1130 closed

[2018-11-16 16:55] lostintangent commented on #1164
Closing this as a duplicate of #327.

[2018-11-16 16:55] #1164 closed

[2018-11-16 16:55] lostintangent commented on #1194
Closing this as a duplicate of #327.

[2018-11-16 16:55] #1194 closed

[2018-11-16 16:55] lostintangent commented on #1224
Closing this as a duplicate of #327.

[2018-11-16 16:55] #1224 closed

[2018-11-16 16:55] lostintangent commented on #1233
Closing this as a duplicate of #327.

[2018-11-16 16:55] #1233 closed

[2018-11-16 16:56] lostintangent commented on #1248
Closing this as a duplicate of #327.

[2018-11-16 16:56] #1248 closed

[2018-11-16 16:56] lostintangent commented on #1271
Closing this as a duplicate of #327.

[2018-11-16 16:56] #1271 closed

[2018-11-16 16:57] lostintangent commented on #1275
Closing this as a duplicate of #327.

[2018-11-16 16:57] #1275 closed

[2018-11-16 17:15] tsdorsey commented on #1237
Yes. Seeing it on 10.14.1 (18B75)

[2018-11-16 17:37] roblourens commented on #1237
Yes

[2018-11-16 19:54] Chuxel commented on #1278
@lostintangent @rodrigovaras It looks like everyone on #1237 is also on Mojave and insiders.  Merging in details.

-------

**From** @roblourens
I've seen this error (or something to that effect, I didn't copy the exact message) pop up several times in the past couple days when opening a new window. Not sure why but let me know if I can provide more details...

When I ran "Launcher Setup" I got `B

[2018-11-16 19:55] Chuxel commented on #1237
That would explain why I can't repro and we haven't seen much traffic on it yet - it must be Mojave specific.

I've merged these details into the other issue since we have folks looking at the Mojave angle over there already..

[2018-11-16 19:55] #1237 closed

[2018-11-16 21:15] jessiahr opened #1308 "[VS Code] Joining workspace: Cannot get the response back because the session has been disconnected."
## Error:
Joining workspace: Cannot get the response back because the session has been disconnected.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|17.5.0|

[2018-11-17 06:28] zoelalala opened #1309 "[VS Code] Joining workspace: Unable to connect to the host. Verify both you and the host are online."
## Error:
Joining workspace: Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.0|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-18 11:26] fadhil1106 opened #1310 "[VS Code] Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-18 13:49] BadSqlPro commented on #1307
I did just what you asked me to do. Where are the log files that I can send
you?

On Fri, Nov 16, 2018 at 10:53 AM Rodrigo Varas <notifications@github.com>
wrote:

[2018-11-18 21:22] pandeynandancse opened #1311 "[VS Code] Joining workspace: Unable to connect to the host in "Direct" mode. Verify you and the host are online. If so, switch to "Auto" or "Relay" mode and retry."
## Error:
Joining workspace: Unable to connect to the host in "Direct" mode. Verify you and the host are online. If so, switch to "Auto" or "Relay" mode and retry.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVe

[2018-11-19 03:06] kcl5072 opened #1312 "[VS Code] Joining workspace: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-19 03:11] ubergeekzone commented on #91
i have kinda found a work around for the time being using VS Code for Mac along with VS for Mac, I open my project in VS Code and do my live share from there and then start the app inside VS for Mac. My issue with this of course are:

1. Having 2 (two) Applications running at the same time.
2. Having to restart the app inside VS for Mac each time a file change is made.

I'd like to see Live Share

[2018-11-19 05:31] HDONGDeveloper opened #1313 "[VS Code] Sharing workspace: Already connected to a workspace."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-19 08:37] pjninnim commented on #1294
@jramsay As I said before it has resolved the issue but I've noticed it has only solved it for initial start / stop. If you start up the debugger, then restart it you receive this:

![image](https://user-images.githubusercontent.com/2931227/48695157-494b4b00-ebd6-11e8-9f3c-8bc4d07b17be.png)

[2018-11-19 15:48] rodrigovaras commented on #1307
Since it looks you are on a windows machine the logs are located here:
%temp%\VSFeedbackVSRTCLogs

Look for the latest:
201xxxx_1xxx_VSCode.log where the error just happen after a fresh start.

[2018-11-19 16:04] BadSqlPro commented on #1307
Okay, will do.

On Mon, Nov 19, 2018, 9:48 AM Rodrigo Varas <notifications@github.com wrote:

[2018-11-19 16:24] GilSwire opened #1314 "[VS Code] Joining workspace: spawn C:\Users\Gil\.vscode\extensions\ms-vsliveshare.vsliveshare-0.3.954\dotnet_modules\vsls-agent.exe ENOENT"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-20 06:14] AkhilaSP opened #1315 "[VS Code] Sharing workspace: Already connected to a workspace."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-20 09:54] caidaol opened #1316 "[VS Code] Joining workspace: Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-20 12:06] leoortiz commented on #1003
For me this notification pops up when I open VS Code. I am not trying to join a session and this notification keep popping up. If I close it, then the workspace is closed too, reloading VS Code. It's annoying AF.

[2018-11-20 13:01] possebon commented on #1278
I'm attaching the stack trace of the crash:

`Process:               Live Share for VS Code [93526]
Path:                  /Users/USER/*/Live Share for VS Code.app/Contents/MacOS/Live Share for VS Code
Identifier:            Live Share for VS Code
Version:               1.0 (1)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Live Share for VS Code [9352

[2018-11-20 15:31] r44083 opened #1317 "[VS Code] [Proxy issue] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1. Use proxy in system-wide
2. Setup "http.proxy" or "http.systemProxy": "on" in the user settings
3. Try to Start Collaboration Session
4. See the error message: "Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
(when

[2018-11-20 15:48] jcreamer898 commented on #1278
FWIW, I'm still on high sierra and seeing that pop up...

![](https://d.pr/i/mXTJdk+)

Developer tools...

![](https://d.pr/i/sgAIzy+)

[2018-11-20 16:36] Chuxel commented on #1278
@possebon That's really useful. I think I see the bug. It may simply be a logging statement without a null check. This could occur if VS Code cleans up the old extension prior to the launcher cleaning itself up - so a race condition of sorts. The only time this can happen is if VS Code is terminated (rather than reloaded) after an extension update, so that explains why we can't repro.

Could you p

[2018-11-20 17:50] patrys commented on #1278
@Chuxel I can reproduce by simply reloading the window.

[2018-11-20 19:00] jcreamer898 commented on #1278
Mine looks like this...

~[](https://d.pr/i/Kbz5NL+)

Whatever the heck that means...

[2018-11-20 19:17] frenzytejask98 opened #1318 "[VS Code] Joining workspace: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
Joining workspace: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applic

[2018-11-20 20:10] rodrigovaras opened #1319 "Cannot read property 'type' of undefined when restart a debug session with DebugAdapterTracker hookup"
This only happen when liveshare is installed and we register our 'generic' adapter tracker to 'spy' messages. It will happen during restart only, normal debugging works fine.

i found the offending code and it seems to be on 'extHostDebugService.ts'.
BTW, the marketplace liveshare extension is broken against the latest debug API, we a private VSIX with those fixes if necessary to repro the issue,

[2018-11-20 20:50] #1319 closed

[2018-11-20 21:57] aaroncraig10e commented on #1278
@Chuxel I tried doing as suggested (deleting the launcher plist file) and still see the error when I start VSCode - Insiders.

[2018-11-21 03:39] Chuxel commented on #1278
@aaroncraig10e Thanks. That could mean there's a separate issue from the crash above or a different scenario that causes it. A couple of follow up questions:
1. Is VS Code Insiders located under /Applications on your machine somewhere else?
2. Can you see what the value for "cliPath" is in `~/.vscode-insiders/extensions/ms-vsliveshare.vsliveshare-0.3.954/codepath.json`?

For example, may see the f

[2018-11-21 03:44] aaroncraig10e commented on #1278
Looks like the same as your example:
[code]

[2018-11-21 03:48] Rskeehan commented on #253
Honestly, I see this tool being a great for educational purposes as well as collaboration. A perfect tool for 1-on-1 tutorials. The designer view being available for all parties involved would make for an incredible addition for these kind of purposes.

[2018-11-21 03:59] Chuxel commented on #1278
@aaroncraig10e Okay, can you run the following command in a terminal and post/attach its output?

`"$HOME/.vscode-insiders/extensions/ms-vsliveshare.vsliveshare-0.3.954/node_modules/@vsliveshare/vscode-launcher-osx/Live Share for VS Code.app/Contents/MacOS/Live Share for VS Code" -Register --extensionRoot "$HOME/.vscode-insiders/extensions/ms-vsliveshare.vsliveshare-0.3.954"`

This should give us

[2018-11-21 04:32] srivatsn commented on #1246
@cwebster2 thanks for finding the corefx issue!

[2018-11-21 04:35] srivatsn commented on #1246
@Priya91 we should probably detect this situation and output some meaningful error until .NET Core supports openssl 1.1 (which seems to be 3.0)

[2018-11-21 04:36] aaroncraig10e commented on #1278
Here you go:

[code]

[2018-11-21 04:38] srivatsn commented on #1287
@aleixmorgadas LiveShare uses .NET Core 2.1 which doesn't yet support Openssl 1.1. Please see https://github.com/dotnet/corefx/issues/33179 for more details. Closing as dupe of https://github.com/MicrosoftDocs/live-share/issues/1246

[2018-11-21 04:38] #1287 closed

[2018-11-21 04:43] srivatsn commented on #1288
@Jhonatan-Holanda are you a distro using OpenSSL 1.1.1? Please see https://github.com/MicrosoftDocs/live-share/issues/1246 for a potential workaround.

[2018-11-21 04:43] srivatsn commented on #1302
@Jhonatan-Holanda are you a distro using OpenSSL 1.1.1? Please see #1246 for a potential workaround.

[2018-11-21 04:44] srivatsn commented on #1292
@brendanfh  are you a distro using OpenSSL 1.1.1? Please see #1246 for a potential workaround.

[2018-11-21 04:48] srivatsn commented on #1259
@scherler   are you a distro using OpenSSL 1.1.1? Please see #1246 for a potential workaround.

[2018-11-21 04:48] srivatsn commented on #1206
@Sarabadu  are you a distro using OpenSSL 1.1.1? Please see #1246 for a potential workaround.

[2018-11-21 04:49] srivatsn commented on #1277
@quany Are you behind a corporate proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies
If this doesn't solve your problem, please let me know.

[2018-11-21 04:49] srivatsn commented on #1264
@jackstevenson Are you behind a corporate proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies
If this doesn't solve your problem, please let me know.

[2018-11-21 04:53] srivatsn commented on #1309
@zoelalala  Thanks for reporting the issue. Did restarting the collaboration session help to resolve the issue?
Was this a one off issue, or does it reproduce consistently? Consolidating this with https://github.com/MicrosoftDocs/live-share/issues/327 Please add your comments there.

[2018-11-21 04:53] #1309 closed

[2018-11-21 04:53] srivatsn commented on #1316
@caidaol  Thanks for reporting the issue. Did restarting the collaboration session help to resolve the issue?
Was this a one off issue, or does it reproduce consistently? Consolidating this with https://github.com/MicrosoftDocs/live-share/issues/327 Please add your comments there.

[2018-11-21 04:53] #1316 closed

[2018-11-21 04:56] srivatsn commented on #1257
Consolidating with https://github.com/MicrosoftDocs/live-share/issues/1123. If you have logs or additional information, please add to that issue.

[2018-11-21 04:56] #1257 closed

[2018-11-21 04:56] srivatsn commented on #1313
@HDONGDeveloper Consolidating with https://github.com/MicrosoftDocs/live-share/issues/1123. If you have logs or additional information, please add to that issue.

[2018-11-21 04:56] #1313 closed

[2018-11-21 04:56] srivatsn commented on #1315
@AkhilaSP Consolidating with https://github.com/MicrosoftDocs/live-share/issues/1123. If you have logs or additional information, please add to that issue.

[2018-11-21 04:56] #1315 closed

[2018-11-21 04:58] srivatsn commented on #1314
@GilSwire  Was this the first join after a fresh install? vsls-agent.exe missing on disk seems like an install issue. Have you had further success? If not, can you try uninstalling and reinstalling?

Also, please attach your logs to this issue or email them to vsls-feedback@microsoft.com. You can get your logs by running the "Live Share: Export Logs" command in VS Code.

[2018-11-21 04:59] srivatsn commented on #1238
Tracking with https://github.com/MicrosoftDocs/live-share/issues/1238

[2018-11-21 04:59] #1238 closed

[2018-11-21 05:02] srivatsn commented on #1306
@nikhilesh90 Did a join fail with an error about it being cancelled? Do you have any further information? Please attach your logs to this issue or email them to vsls-feedback@microsoft.com. You can get your logs by running the "Live Share: Export Logs" command in VS Code.

[2018-11-21 05:03] srivatsn commented on #1312
@kcl5072 Did a join fail with an error about it being cancelled? Do you have any further information?

Consolidating with https://github.com/MicrosoftDocs/live-share/issues/1306.

Please attach your logs to that issue or email them to vsls-feedback@microsoft.com. You can get your logs by running the "Live Share: Export Logs" command in VS Code.

[2018-11-21 05:03] #1312 closed

[2018-11-21 05:05] srivatsn commented on #1311
@pandeynandancse Hey! Did you explicitly change your connecting n mode setting to “Direct”? If so, this message indicates that a direct connection isn’t possible with the host (due to firewalls, etc.). If you change the connection mode setting back to “Auto”, that should unblock you, since it will fallback to a cloud relay to connect to the host. Let us know if that works!

Consolidating with http

[2018-11-21 05:05] #1311 closed

[2018-11-21 05:07] srivatsn commented on #1310
@fadhil1106 Thanks for the issue report. Can you provide more context about what you were doing when you encountered this error message?
Also it may be helpful if you use the "Live Share: Export Logs" command in VS Code and attach the logs here.

[2018-11-21 05:07] srivatsn commented on #980
Consolidating with https://github.com/MicrosoftDocs/live-share/issues/1310

[2018-11-21 05:07] #980 closed

[2018-11-21 05:44] srivatsn commented on #1308
@jessiahr Can you please attach your logs to the issue or send mail to vslsfeedback@microsoft.com? You can export your logs by running `Live Share: Export Logs` command in the command palette. Thanks!

[2018-11-21 05:45] srivatsn commented on #1304
@Priya91 can you please take a look?

[2018-11-21 05:47] srivatsn commented on #1172
@legomushroom can you please take a look?

[2018-11-21 05:47] srivatsn commented on #1298
Duplicate of https://github.com/MicrosoftDocs/live-share/issues/1172

[2018-11-21 05:47] #1298 closed

[2018-11-21 05:50] srivatsn commented on #1272
@jasongin any thoughts here?

[2018-11-21 05:52] srivatsn commented on #1282
@legomushroom I believe this is fixed - correct?

[2018-11-21 07:07] srivatsn commented on #1161
Duplicate of #660

[2018-11-21 07:07] #1161 closed

[2018-11-21 07:07] srivatsn commented on #1157
Duplicate of #660

[2018-11-21 07:07] #1157 closed

[2018-11-21 07:32] geods3 commented on #1302
ok by commenting the suggested line in openssl conf problem fixed .. thanks

[2018-11-21 07:32] #1302 closed

[2018-11-21 13:40] solihinnur opened #1321 "[VS Code] Sharing workspace: Already connected to a workspace."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-21 14:01] danielous16 opened #1322 "[VS Code] Joining workspace: The host has blocked you from joining the collaboration session."
## Error:
Joining workspace: The host has blocked you from joining the collaboration session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-36-generic|

[2018-11-21 15:08] RamdiMariam opened #1323 "[VS Code] Sharing Server: Service not available: serverSharing"
## Error:
Sharing Server: Service not available: serverSharing

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-11-21 15:38] Chuxel commented on #1278
@aaroncraig10e Thanks - that confirms it is failing at the same point so in concept the planned fix should resolve it.

Just in case deleting the plist didn't do the trick, can you try this command and see if it fixes the problem:

`defaults write com.microsoft.cascade.launcher.mac VSCodePaths '()'`

If it does not, two questions/requests:
1. Do you happen to see multiple "ms-vsliveshare.vslivesha

[2018-11-21 16:10] aaroncraig10e commented on #1278
Running `defaults write com.microsoft.cascade.launcher.mac VSCodePaths '()'` seems to have done the trick.  I no longer see the error message on startup or window reload.

Thanks!

[2018-11-21 16:15] Chuxel commented on #1278
@aaroncraig10e Awesome!!  We'll get that fix going.

To restate for others, run this command to work around the problem:

[code]

[2018-11-21 19:06] paulsnar opened #1324 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1. Join a Live Share session
2. Attempt to follow another member

Occasionally [the message "The target participant is not currently editing a shared document"][msg-notediting] shows up before step 2 can be performed, even though they are (their cursor is visible), and attempting to start following them after that mess

[2018-11-22 07:34] mata889 opened #1325 "[VS Code] [Audio] cannot stop call in Disconnected state"
## Error:
cannot stop call in Disconnected state

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS-Audio|
|**extensionVersion**|0.1.39|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-11-22 13:49] ottidmes commented on #1272
For now I worked around the issue by creating the file `noop-syslog.c` containing `void syslog(int priority, const char *format, ...) { }` and compiling it as a library with `gcc -fPIC -shared -ldl -o dotnet_modules/noop-syslog.so noop-syslog.c`, which I then preload approximately like so: `LD_PRELOAD=noop-syslog.so vsls-agent`. And since this does not affect the stdout of the program, the JavaScr

[2018-11-22 14:59] stalexxx opened #1326 "[VS Code] Joining workspace: Unable to connect to the host. Verify both you and the host are online."
## Error:
Joining workspace: Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-11-22 21:43] #1326 closed

[2018-11-22 22:29] srivatsn commented on #1255
We already use the webview api. The code to use previewHtml is only there as a fallback for vscode versions before the webview was introduced. We'll clean that up when we make a pass through all lightup code at some point.

[2018-11-22 22:29] #1255 closed

[2018-11-23 02:56] israxx2 opened #1327 "[VS Code] Joining workspace: connect ENOENT \\.\pipe\d16e32bc9d9747739d119f1ce9d6c851"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-23 08:44] netroby opened #1328 "[VS Code] Joining workspace: Could not connect to the server. Check that you are connected to the internet."
[code]
[livesharelog.zip](https://github.com/MicrosoftDocs/live-share/files/2627426/livesharelog.zip)

[2018-11-23 11:38] scherler commented on #1259
Thanks I will have a look

[2018-11-24 00:08] lostintangent commented on #369
This has been resolved in the latest release 🚀 Thanks again for the feedback!

[2018-11-24 00:08] #369 closed

[2018-11-24 00:21] nicksantoro opened #1329 "[VS Code] Joining workspace: Request was cancelled"
## Error:
Joining workspace: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-24 15:09] mzapatag1 opened #1330 "[VS Code] Sharing workspace: Request was cancelled"
## Error:
Sharing workspace: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|16.0.0|

[2018-11-24 20:17] igorp1 opened #1331 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-25 15:58] veritasbrain opened #1332 "[VS Code] Joining workspace: Unable to connect to the host. Verify both you and the host are online."
## Error:
Joining workspace: Unable to connect to the host. Verify both you and the host are online.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-26 00:50] nickray commented on #1246
Perhaps add this to https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/linux#tips-by-distribution?

[2018-11-26 04:53] eamodio opened #1333 "[VSCode] GitLens code lens commands"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**Live Share Extension Version**: `0.3.954`
**Target Platform or Language** [e.g. Node.js]: Node.js?

I've added Live Share guest support to GitLens and am running into an issue with the provided code lens. As I understand it, GitLens on the guest cannot provide code lens on the `vsls` scheme -- if so I believe

[2018-11-26 04:58] eamodio opened #1334 "[VSCode] vsls npm package doesn't specify a `main` or `module` in its package.json"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**Live Share Extension Version**: `0.3.954`
**Target Platform or Language** [e.g. Node.js]: Node.js?

I'm using the [live share npm package](https://www.npmjs.com/package/vsls) and because it lacks a `main` and/or `module` entry in its `package.json` it creates packaging issues when using webpack.

Please add at

[2018-11-26 05:05] lostintangent commented on #1333
@eamodio Thanks for the detailed explanation of this issue! 😄 We're really excited about the GitLens integration, and have begun discussing how we might be able to enable this additional scenario. We'll try to put together a proposal and get back to you later this week.

/cc @daytonellwanger

[2018-11-26 05:07] eamodio opened #1335 "[VSCode] vsls npm package looks for a somewhat "hard-coded" file path"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: Windows 10
**Live Share Extension Version**: `0.3.954`
**Target Platform or Language** [e.g. Node.js]: Node.js?

I'm using the [live share npm package](https://www.npmjs.com/package/vsls) and running into a bundling issue with webpack. I am bundling all my `node_modules` into my bundle and because of this code:

On line 43

[2018-11-26 05:45] lostintangent commented on #1335
@eamodio Out of curiosity: if you set [this property](https://webpack.js.org/configuration/node/#node-__dirname) to `false` in your Webpack config, would that unblock it? That's obviously not a great workaround. I'm just curious, since I'd assume Webpack could successfully bundle JSON files that are required, as long as the paths can be resolved.

That said, we'll look into this and see how we can

[2018-11-26 10:08] goyzhang opened #1336 "[VS] remove guest session and change read-only at any time"
The first feature has been implemented in VS Code #398
Is there any plan to make this possible on visual studio? For now we only have a notification while connecting, after that  I cannot remove or block a guest.
And also I can only set read-only mode on creating collaboration notification. Am I able to change this feature afterwards?

[2018-11-26 14:49] GandalfSaxe commented on #1278
Can confirm this works for me too. Was consistently getting the error on every startup (VSCode Version 1.29.1, macOS Mojave 10.14.1 (18B75)), but now it's fixed 👍

[2018-11-26 15:30] Scrooge-MxDuck opened #1337 "[VS Code] Sharing workspace: Could not connect to the server. Check that you are connected to the internet."
## Error:
Sharing workspace: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-20-generic|

[2018-11-26 16:35] 123POG123 opened #1338 "[VS Code] Joining workspace: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-26 19:23] brandonbayliss8 opened #1339 "[VS Code] Removing Terminal: Cannot read property 'terminalId' of undefined"
## Error:
Removing Terminal: Cannot read property 'terminalId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17763|

[2018-11-27 07:44] mehrdadyazdi opened #1340 "[VS Code] Joining workspace: The collaboration session is not found. Please check the link provided by the host and try again."
## Error:
Joining workspace: The collaboration session is not found. Please check the link provided by the host and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-11-27 16:12] TylerPierro opened #1341 "[VS Code] Sharing workspace: Device not configured"
## Error:
Sharing workspace: Device not configured

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-11-27 18:49] jasongin commented on #1272
`vsls-agent` does not intentionally write anything to `syslog`. Maybe that comes automatically from how we use .NET Core's `System.Diagnostics.Tracing`? I'm a bit surprised by that though. This will require more investigation.

[2018-11-27 22:11] jasongin commented on #1272
I found that .NET Core's `Debug.WriteLine()` and `DefaultTraceListener` [write to `syslog`](https://github.com/dotnet/corefx/blob/ead4344a5ac0f7b31f343e89c1880a0275c30509/src/Common/src/CoreLib/System/Diagnostics/DebugProvider.Unix.cs#L71) (on non-Windows platforms) when there is not a debugger attached. I'm not sure what to do about it; we probably don't want to remove the `DefaultTraceListener`

[2018-11-27 22:37] Chuxel commented on #1272
@jasongin Yeah, I confirmed I see it on other Linux distros as well. I'm usually resetting my VMs after hammering on them for a while so I likely never let the log get big enough to notice before.

Could we drive it off an internal setting that are off by default but we turn on during development driven off isInternal, teamStatus, or something else?

[2018-11-27 22:59] jasongin commented on #1272
Yes, that's probably the best compromise.

[2018-11-28 07:00] ashrafsaqib opened #1342 "[VS Code] Sharing workspace: No such host is known"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-28 07:14] ashrafsaqib commented on #1342
with first try after authenticating with github it didn't work, but trying again it created a link and successfully shared the session.

[2018-11-28 07:14] #1342 closed

[2018-11-28 08:53] valentinh1993 opened #1343 "[VS Code] Joining workspace: Collaboration session not found."
## Error:
Joining workspace: Collaboration session not found.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-11-28 09:32] duyetpt opened #1344 "[VS Code] Joining workspace: The collaboration session is not found. Please check the link provided by the host and try again."
## Error:
Joining workspace: The collaboration session is not found. Please check the link provided by the host and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.954|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-11-28 09:38] noveyak opened #1345 "[VSCode] Fuzzy finder show more un-opened files"
Product and Version [VS/VSCode]: VSCode
OS Version [macOS/Windows]: Windows 10
Live Share Extension Version: 0.3.954
Target Platform or Language [e.g. Node.js]: Typescript

When using the fuzzy finder (Go to file) from live share, it seems like I only see 1 result for the file results. So if I have 2 files, BreakfastActions.tsx and LunchActions.tsx, if I do Ctrl + P and type Actions, only 1 shows

[2018-11-28 12:17] nknezevi opened #1346 "[VS Code] Joining workspace: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-11-28 16:49] eamodio opened #1347 "[VSCode] Live Share + VSCode 1.30 = Unable to attach to lsp server when debugging extension"
**Product and Version** [VS/VSCode]: `VSCode`
**OS Version** [macOS/Windows]: `Windows 10`
**Live Share Extension Version**: `0.3.954`
**Target Platform or Language** [e.g. Node.js]: `Node.js`

**Steps to Reproduce / Scenario:**
Details are here: https://github.com/Microsoft/vscode/issues/63832

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2018-11-28 16:50] eamodio commented on #1347
FYI, this all works fine with Live Share `0.3.954` and VSCode `1.29.1`

[2018-11-28 19:36] Noxmiles opened #1348 "[VS Code] Starting collaboration session: No such device or address"
Xubuntu 18.04
--> VSCode installed via .deb file
--> Internet via proxy server

## Error:
Starting collaboration session: No such device or address

## Steps to Reproduce:
1. open vs code
2. (open a random code file)
3. click Start collaboration session
4. get this error
![vsliveshare](https://user-images.githubusercontent.com/10343510/49177039-7d4c0c00-f34c-11e8-8c6e-799ecabef08f.png)
||Version D

[2018-11-28 20:00] viniciusmelquiades opened #1349 "[VS Code] Live Share Spawning lots of git commands slowing down the machine"
**Product and Version** [VS/VSCode]: VSCode 1.29.1
**OS Version** [macOS/Windows]: Windows 10 build 1803
**Live Share Extension Version**: 0.3.1002
**Target Platform or Language** [e.g. Node.js]: Not applied

**Steps to Reproduce / Scenario:**
I noticed my machine slowing down drastically, and my CPU usage high, and tracked it to VS Code. I noticed it was running LOTS of "git.exe show" commands.
A

[2018-11-28 20:08] Priya91 commented on #1348
@Noxmiles From your logs, looks like connecting to relay server failed via proxy. Does you proxy server require auth? Does it send back data in chunked encoding format?

[2018-11-28 20:50] Priya91 commented on #1346
@nknezevi Can you please provide more information, which OS, which version of extension. We also drop diagnostics logs, these can be found by running "Export liveshare logs" from command palette. Attaching them to the issue, will help us diagnose the problem.

[2018-11-28 20:51] Priya91 commented on #1347
@eamodio Thanks for reporting the issue.

cc @daytonellwanger @srivatsn Can you please take a look..

[2018-11-28 20:52] Priya91 commented on #1349
Thanks for reporting the issue, we are working on this.

cc @rodrigovaras @IlyaBiryukov

[2018-11-28 20:53] Priya91 commented on #1345
Thanks for reporting the issue.

cc @nandiniYeltiwar Can you please take a look

[2018-11-28 20:58] Priya91 commented on #1344
@duyetpt This error means the host unshared the session, and we have cleaned up the session info from our service. This is not a bug, but the right expected behavior. If this was not the case how this happened can you provide more info on the repro steps. Also attaching the liveshare logs by running "Export liveshare logs" command from command palette will help us diagnose the bug.

[2018-11-28 21:03] Priya91 commented on #1343
@valentinh1993 Was the host having an active collaboration session when this error was reported? We show this message, when the collaboration session has been closed by the host, and we have deleted the session info from service. If this was not the scenario, can you provide repro steps and also attach the logs by running "Export liveshare logs" from command palette.

[2018-11-28 21:04] Priya91 commented on #1341
@TylerPierro Thanks for reporting the issue, to help us diagnose can you attach the liveshare logs to this issue by running "Export liveshare logs" from command palette.

Also this error is shown, if on OSX there were dns address resolution issues, or firewall or proxy blocking the connection. Can you also verify that this was not the case?

[2018-11-28 21:05] Priya91 commented on #1340
Closing as dupe of #1343

[2018-11-28 21:06] #1340 closed

[2018-11-28 21:06] Priya91 commented on #1344
Closing as dupe of #1343

[2018-11-28 21:06] #1344 closed

[2018-11-28 21:07] Priya91 commented on #1339
Thanks for reporting the issue, to help us diagnose the problem, please attach the liveshare logs by running "Export liveshare logs" command from command palette.

[2018-11-28 21:18] Priya91 commented on #1338
@123POG123 This is expected error if the enter url was invalid. Closing issue as by design.

[2018-11-28 21:18] #1338 closed

[2018-11-28 21:20] Priya91 commented on #1337
@Scrooge-MxDuck Can you attach logs to the issue, you can get the logs by running "Export liveshare logs" command from command palette.

[2018-11-28 22:01] shaycraft commented on #1349
I'm having the exact same problem on macOS.  Opening a git differential view would take forever and completely redline the cpu with tons of git processes spawned.  Disabling vs live share extension fixes it.  My specs:

os:  MacOS (Darwin 18.2.0)
VsCode: 1.29.1
VSLIve share version: 0.3.1002

[2018-11-28 22:12] Chuxel commented on #1349
@Priya91 @rodrigovaras FYI - I just saw this happen myself. To help repro, I had GitLens, the GitHub Pull Request extension, and Live Share installed. Uninstalling the GitHub Pull Request extension seemed to resolve the problem for me.  The GH extension seemed to update around the same time since I saw a notification pop up that I was not signed into GitHub for the first time.

[2018-11-28 22:15] Chuxel commented on #1349
@Priya91 @rodrigovaras Scratch that - it started happening again after being okay for several minutes.

[2018-11-28 22:54] TheAifam5 commented on #1349
That's horrible.. VSCode on Linux just slows down and it's unusable. I removed it completely and problem resolved :D
It's started actually today, yesterday was everything fine.

[2018-11-28 23:01] Chuxel commented on #1349
@TheAifam5 Yes - we're working on a fix now. There appears to be a specific scenario that causes it. For me, only one repo I have on disk causes it to happen while all others work fine.  I just happened to stumble on it.

[2018-11-28 23:30] hinok commented on #1349
Exists also on macOS. Because of this issue the intellisense stopped working and extensions are reloading all the time in a loop. After disabling `live-share` everything works again.

![zrzut ekranu 2018-11-29 o 00 26 15](https://user-images.githubusercontent.com/1313605/49189207-b6e13f00-f36d-11e8-9833-5414d812123c.png)

[2018-11-28 23:47] Chuxel commented on #1349
Thanks - This is a confirmed bug for 0.3.1002 specifically and affects all operating systems. Fix is in progress.

[2018-11-28 23:50] Priya91 commented on #1317
@r44083 Are you using a proxy that requires authentication?

[2018-11-29 00:04] Priya91 commented on #1317
After trying the previous setup, can you also help us by getting packet captures of the http request.. Once you start the liveshare session, in the logs, look at the agent log and note down the pid.

Then on terminal run,

[code]

[2018-11-29 01:33] srivatsn commented on #1347
@eamodio can you try with the latest extension in the marketplace to see if that fixes it?

[2018-11-29 01:40] Chuxel commented on #1349
This should be fixed in the bits that were released in the last 30 minutes. Let us know if you still see the problem in 0.3.1005!

[2018-11-29 01:40] #1349 closed

[2018-11-29 01:52] Priya91 commented on #1336
@goyzhang Thanks for the feedback, we are exploring options for enabling user to remove a guest at any time during the collaboration session for VS.

For making the session readonly for some guests or flipping them back to read/write is already supported for vscode, we have plans to support this on VS soon. @legomushroom @lostintangent

[2018-11-29 01:57] Priya91 commented on #1332
@veritasbrain Can you please attach the logs to help us diagnose the problem. You can get the logs by running "Export liveshare logs" command from the command palette.

[2018-11-29 01:58] Priya91 commented on #1331
@igorp1 Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-11-29 01:59] Priya91 commented on #1330
Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-11-29 01:59] Priya91 commented on #1329
Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-11-29 01:59] Priya91 commented on #1330
Dupe of #1329

[2018-11-29 01:59] #1330 closed

[2018-11-29 02:00] Priya91 commented on #1346
Dupe of #1329

[2018-11-29 02:00] #1346 closed

[2018-11-29 02:01] Priya91 commented on #1327
Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-11-29 02:01] Priya91 commented on #1325
Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

cc @jasongin

[2018-11-29 02:03] Priya91 commented on #1331
Dupe of #1172

[2018-11-29 02:03] #1331 closed

[2018-11-29 02:05] Priya91 commented on #1172
Logs from @paulsnar
[liveshare_logs.zip](https://github.com/MicrosoftDocs/live-share/files/2627290/liveshare_logs.zip)

[2018-11-29 02:06] Priya91 commented on #1324
@paulsnar Thanks for the report. I'm attaching your logs to the original issue, to help us maintain the repo. Closing this one as dupe of the other.

[2018-11-29 02:06] #1324 closed

[2018-11-29 02:06] Priya91 commented on #1323
Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-11-29 02:07] Priya91 commented on #1322
This is by design when host rejects your request to join the collaboration session.

[2018-11-29 02:07] #1322 closed

[2018-11-29 02:09] Priya91 commented on #1321
If you are connected to a workspace, you have to unshare/unjoin to connect to a different workspace. This is by design.

[2018-11-29 02:09] #1321 closed

[2018-11-29 02:13] Priya91 commented on #1306
Closing as dupe of #1329

[2018-11-29 02:13] #1306 closed

[2018-11-29 02:14] Priya91 commented on #1292
Closing issue as no further information provided. Feel free to reopen, if you can repro this again.

[2018-11-29 02:14] #1292 closed

[2018-11-29 02:15] Priya91 commented on #1288
Closing issue as no further information was provided. Feel free to reopen the issue if you can repro this again or have more data.

[2018-11-29 02:15] #1288 closed

[2018-11-29 02:17] Priya91 commented on #1277
Closing issue as no further information was provided. Please reopen issue if you repro this again with logs, or have more data.

[2018-11-29 02:17] #1277 closed

[2018-11-29 02:18] Priya91 commented on #1259
@scherler Did you have a chance to verify if that was the issue?

[2018-11-29 02:20] Priya91 commented on #1265
@ekeyur Does this repro still? If it does repro, can you please attach your logs by running the "Export liveshare logs" command from command palette.

Meanwhile, closing the issue as no other diagnostic information is available.

[2018-11-29 02:20] #1265 closed

[2018-11-29 02:21] Priya91 commented on #1261
Closing issue as no further information is available. Feel free to reopen with more data.

[2018-11-29 02:21] #1261 closed

[2018-11-29 03:03] netroby commented on #1328
@Priya91 already upload the logs

[2018-11-29 04:47] nandiniYeltiwar commented on #1345
@noveyak Thanks for reporting the issue. It is a known bug and we are working on the fix. Just to get more context, are you always seeing recent file search when you do Ctrl+P or you hit this issue intermittently?

[2018-11-29 05:16] eamodio commented on #1347
@srivatsn I tried with `0.3.1005` and I still experience the same issue.

[2018-11-29 05:47] srivatsn commented on #1347
@rodrigovaras thoughts?

[2018-11-29 07:42] uniquechukwuma commented on #1263
i have done that but didnt work for me. Am giving up

[2018-11-29 11:46] brandonbayliss8 commented on #1339
[log.zip](https://github.com/MicrosoftDocs/live-share/files/2628937/log.zip)

[2018-11-29 12:21] viniciusmelquiades commented on #1349
It still runs a lot of git commands, but id doesn't seem like it's all at once, and they stop after a few seconds. I'd say this is fixed. And that was fast too!

[2018-11-29 18:55] IlyaBiryukov commented on #1339
@brandonbayliss8 Did you click "Remove Terminal" on the Live Share viewlet (the panel to the left of VSCode window)?

[2018-11-29 19:43] DotNetRussell opened #1351 "LiveShare a Instance of VSCode Instead of Active Context"
So I use Live Share 99.999% of the time to escape working on my Macbook. I just want to work in windows. Unfortunately, when I switch working contexts in vscode, my Live Share connection gets killed.

It would be nice if when I opened an instance of VSCode, I could just make the Live Share connection at that point. Then persist the connection when I switch folder, project, solution.

[2018-11-29 20:09] brandonbayliss8 commented on #1339
My terminal dont work via vsc it used to but when i reset my pc it stopped working and thet poped up

[2018-11-30 00:05] aaroncraig10e commented on #1278
Quick update -- after installing the latest Insider update, this error cropped up again.  Running the above command continues to be effective in removing the message during successive reloads.

[2018-11-30 00:39] Chuxel commented on #1278
@aaroncraig10e Strange - Can you verify you are on 0.3.1005 for Live Share? This version should have the fix in it, but the update just went out so it could have been straggler from the previous version.

However, if you see it again, it is possible there's another issue underneath that wasn't visible before.  Assuming you hit it again, can you run...

`"$HOME/.vscode-insiders/extensions/ms-vslive

[2018-11-30 01:18] Priya91 commented on #1328
@netroby Is thsi problem still reproing for you? The logs seem incomplete, did you happen to delete some lines from there? Can you try again, and attach the logs for the recent session.

[2018-11-30 01:48] netroby commented on #1328
[llog.zip](https://github.com/MicrosoftDocs/live-share/files/2631638/llog.zip)

Still can not connect, I am not willing to delete any log, it just as it was

[2018-11-30 04:00] aaroncraig10e commented on #1278
@Chuxel -- confirming that is the version I see.  I see "preview" in a red box on the title line of the plugin detail page -- not sure if that's relevant.

I will see what happens tomorrow or next time I upgrade Insiders and report back.

[2018-11-30 05:45] 108adams commented on #1304
thank you for info. unfortunately I'm switching job at the moment and i
have no access to the ntlm environment any more.

yours
Adam

pt., 30 lis 2018, 02:21 użytkownik Lakshmi Priya Sekar <
notifications@github.com> napisał:

[2018-11-30 05:59] wenjianzhang opened #1352 "[VS Code] Joining collaboration session: Request was cancelled"
## Error:
Joining collaboration session: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-30 12:25] Xabilahu opened #1353 "[VS Code] Starting collaboration session: RPC connection closed."
## Error:
Starting collaboration session: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-11-30 14:28] NickB223 opened #1354 "[VS] Filters in C++ projects"
We noticed that we can't browse files associated with custom filters when using Live Share. Renaming the filters to default names like "Source Files" or "Header Files" solved the isssue but it's not convenient because we use more than the default filters in our projects.

When I follow the host, I can access and pin the files as he opens them but the files associated with custom filters are just n

[2018-11-30 14:51] adamh128 commented on #884
I'm seeing this error even though I am using http :
http://www-proxy-uk.mycompany.com:80

[2018-11-30 16:04] lensonsaldanha commented on #591
Same error here, Windows 10

[2018-11-30 16:53] Noxmiles commented on #1348
@Priya91 The proxy does not require auth. How do I know if it send back data in chunked encoding format?
All programs work with my proxy configuration, because of Xubuntu, I've added the proxy files in /etc/environment and /etc/apt/apt.conf.d.
When I go into internet without proxy (and not changed any files), VS Live Share gets always a timeout.

[2018-11-30 19:09] Priya91 commented on #1348
@Noxmiles Currently Liveshare will read proxy settings on Linux only from environment variables. Can you set the proxyurl in env var ```https_proxy``` as ```https_proxy=http://ipaddress:port/```. Since there's no standard posix apis to get proxy setting from the OS on linux, this is the support we have today.

[2018-11-30 19:23] Priya91 commented on #884
@adamh128 Can you attach your logs..

[2018-11-30 19:30] Priya91 commented on #1304
@108adams No worries, we have identified the issue why it didn't work for you. We are working to support this scenario too, thanks for using liveshare.

[2018-11-30 19:30] #1304 closed

[2018-11-30 19:39] Priya91 commented on #1328
@netroby Can you go to your browser, and navigate to page ```https://insiders.liveshare.vsengsaas.visualstudio.com/auth/login``` ?

[2018-11-30 19:41] Priya91 commented on #1352
Dupe of #1329

[2018-11-30 19:41] #1352 closed

[2018-11-30 19:43] #872 closed

[2018-11-30 19:43] Priya91 commented on #1353
To help diagnose the issue, can you attach the logs. You can get the logs by running "Export: Liveshare logs" from VScode command palette.

[2018-11-30 21:53] dftossem opened #1355 "[VS Code] Starting collaboration session: Only the 'http' scheme is allowed for proxies."
## Error:
Starting collaboration session: Only the 'http' scheme is allowed for proxies.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-11-30 22:40] netroby commented on #1328
Yes i can

[2018-11-30 23:10] aaroncraig10e commented on #1278
@Chuxel just updated Insiders and did not see the error message, so hopefully the issue is resolved for good on my machine.

[2018-11-30 23:30] Chuxel commented on #1278
@aaroncraig10e Fantastic - Fingers crossed!

[2018-12-01 00:07] scherler commented on #1259
Yes, the workaround works.

[2018-12-01 00:08] #1259 closed

[2018-12-01 01:11] noveyak commented on #1345
I think I always see recently opened files (which is good?). I also just noticed this only happens when I have multiple folders open in the workspace. I have worked around this for now just by creating a random folder where I symlink all the folders I care about. If I only have 1 folder in the workspace, the file search works as expected.

[2018-12-01 03:08] guitmello opened #1356 "[VS Code] Joining collaboration session: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-01 05:58] Priya91 commented on #1356
dupe of #1329

[2018-12-01 05:58] #1356 closed

[2018-12-01 10:55] Xabilahu commented on #1353
Logs here: [LiveShareLogs.zip](https://github.com/MicrosoftDocs/live-share/files/2635802/LiveShareLogs.zip)

[2018-12-01 16:18] thomasgauvin opened #1357 "[VS Code] Joining collaboration session: The host has blocked you from joining the collaboration session."
## Error:
Joining collaboration session: The host has blocked you from joining the collaboration session.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.26.1|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-12-01 17:50] nekoyoubi commented on #450
Following @petr-kolinek's suggestion did not fix this for a friend with the similar symptoms. We've logged out/in of his account many times at the link provided, Visual Studio itself, etc. The logins are always good, but the LiveShare option always results in: `Your sign in token has expired. Please sign out and in again to refresh it. If the issue persists, please log a bug.`

I was able to creat

[2018-12-01 18:08] colourule opened #1358 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
## Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.0.0

[2018-12-01 20:27] Dav2006 opened #1359 "[VS Code] Joining collaboration session: Object reference not set to an instance of an object."
## Error:
Joining collaboration session: Object reference not set to an instance of an object.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-12-01 23:32] lostintangent commented on #12
I’m going to close this issue since we already have universal language support in VS Code, and should start tracking specific language and platform requests via other issues.

[2018-12-01 23:32] #12 closed

[2018-12-01 23:34] lostintangent commented on #39
I’m going to close this issue in favor of extensions being able to use our [extensibility API](http://npmjs.com/vsls) to synchronize state amongst participants.

[2018-12-01 23:34] #39 closed

[2018-12-01 23:36] lostintangent commented on #72
This issue no longer repros.

[2018-12-01 23:36] #72 closed

[2018-12-01 23:42] lostintangent commented on #450
We haven’t heard any reports of this issue for a while, so I believe it’s been resolved. Please re-open it if you run into it again. Thanks!

[2018-12-01 23:46] lostintangent commented on #703
We believe this issue has been resolved, so I’m going to close it. Please re-open if you encounter it again. Thanks!

[2018-12-01 23:46] #703 closed

[2018-12-01 23:47] #763 closed

[2018-12-01 23:50] lostintangent commented on #908
Closing due to inactivity. Please re-open if you’re still encountering this issue. Thanks!

[2018-12-01 23:50] #908 closed

[2018-12-01 23:52] #1066 closed

[2018-12-01 23:53] lostintangent commented on #1088
Resolving as a duplicate of #1086.

[2018-12-01 23:53] #1088 closed

[2018-12-01 23:54] lostintangent commented on #1105
Resolving as a duplicate of #1086.

[2018-12-01 23:54] #1105 closed

[2018-12-01 23:54] lostintangent commented on #1108
Resolving as a duplicate of #1086.

[2018-12-01 23:54] #1108 closed

[2018-12-01 23:56] lostintangent commented on #1199
Closing as no repro. Please re-activate this issue if it happens again. Thanks!

[2018-12-01 23:56] #1199 closed

[2018-12-02 01:51] nekoyoubi commented on #450
Kind of confused, as I literally just posted this eight hours ago...

[2018-12-02 01:54] lostintangent commented on #450
Doh, I’m sorry. I was doing some bug triage on my phone and must have gotten confused with the date of this one. Apologies!

[2018-12-02 14:36] Tigergates commented on #450
Hello,
I followed the URL  https://insiders.liveshare.vsengsaas.visualstudio.com/auth/  and did everything they said. I also signed out and signed back in on my account on Visual studio and it's still the same error as petr-kolinek has. Can someone explain why or help me?
Thanks!

[2018-12-02 16:17] norrs commented on #1105
@lostintangent : you have way more debugging information in this ticket..

[2018-12-02 16:18] norrs commented on #1105
Also you have a way too generic error message, this bug title probably should be renamed to point on the issue in regards of mono ssl key store.

[2018-12-02 16:18] norrs commented on #1105
Refering to another https://github.com/MicrosoftDocs/live-share/issues/1105#issuecomment-443468674 is just weird.

[2018-12-03 03:17] tribrotos opened #1360 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-03 03:47] pedoc commented on #450
I am having the same problem.

I have just installed the LiveShare extension for the first time (v0.3.1002),VS version:15.9.3
I have clicked on the "Share" button.
LiveShare output:
[code]

C:\Users\pedoc\AppData\Local\Temp\VSFeedbackVSRTCLogs\20181203_034015_VS.log

[code]

[2018-12-03 04:39] AfzalivE commented on #450
Instead of signing in with the MS account from Visual Studio, click "Live Share" and select "External account" then use the browser to sign into the MS account.

After that, VS should prompt you to allow its process in the Firewall and then it should work.

[2018-12-03 10:27] kendriu opened #1361 "[VS Code] Starting collaboration session: RPC connection closed."
## Error:
Starting collaboration session: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.18.16-arch1-1-ARCH|

[2018-12-03 13:19] DotNetRussell commented on #1351
I'm always happy to provide a screen sharing session to demonstrate my current workflow if you guys need a use case video.

[2018-12-03 13:34] Nondukishor opened #1362 "[VS Code] Joining collaboration session: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-03 17:31] blazingkin opened #1363 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1. Start a live sharing session
2. Go to sharing tab
3. Right click participant. Click follow to the side (Not consistent)

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**

[2018-12-03 18:18] setaskin commented on #1357
@thomasgauvin Thanks for reporting this. This is by design. This message usually indicates that the host removed you from the session. Do you know if they accidentally did that?  The way to work around this is to simply re-start the session, since you're only blocked for the duration of the session, not permanently.
In the meantime, I'm going to close this issue as a duplicate of #1199  Thanks!

[2018-12-03 18:18] #1357 closed

[2018-12-03 18:23] setaskin commented on #1358
@colourule Thank you for reporting this. This error indicates the session URL you tried to join wasn’t valid, which is typically due to a copy/paste error. If you simply retrieve the correct URL from the host, and try joining again, you should be unblocked . I’m going to close this issue as by design, but please re-open it if you encounter this error for a session URL you know is valid. Thanks!

[2018-12-03 18:23] #1358 closed

[2018-12-03 18:30] setaskin commented on #1360
@tribrotos Thank you for reporting this.  Thanks for reporting the issue. Did restarting the collaboration session help to resolve the issue? Was this a one off issue, or does it reproduce consistently? Consolidating this with #327  Please add your comments there.

[2018-12-03 18:30] #1360 closed

[2018-12-03 18:33] setaskin commented on #1361
@kendriu Thanks for reporting the issue. To help us investigate it, can you please get Live Share logs from VS Code and attach them to the issue? To get the logs, run 'Live Share: Export Logs' command from VS Code command palette.

[2018-12-03 18:36] TylerPierro opened #1364 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
## Error:
Starting collaboration session: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1. Attempt to start sharing a session

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|17

[2018-12-03 18:37] setaskin commented on #1362
@Nondukishor Thanks for reporting the issue, can you please attach Live Share logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-12-03 18:47] setaskin commented on #1363
@blazingkin Thanks for reporting this.  We track this issue  here : #1172. Can you please run the command "Live Share: Export Logs" and comment under #1172

[2018-12-03 18:47] #1363 closed

[2018-12-03 18:52] setaskin commented on #1364
@TylerPierro Thanks for reporting the issue, can you please attach Live Share logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette.

[2018-12-03 18:53] vinio2507 opened #1365 "[VS Code] Starting collaboration session: Already connected to a workspace."
## Error:
Starting collaboration session: Already connected to a workspace.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-29deepin-generic|

[2018-12-03 18:54] #1365 closed

[2018-12-03 18:54] setaskin commented on #1354
@NickB223 Thanks for reporting the issue,  Which version of  Live Share are you using ?

[2018-12-03 18:57] setaskin commented on #1355
@dftossem Hey! Thank you for reporting this. Would you attach your logs. You can export your logs by running Live Share: Export Logs command in the command palette. Thanks!

[2018-12-03 19:53] NickB223 commented on #1354
0.3.1002.0

[2018-12-03 20:19] aleksey-bykov opened #1366 "[VS Code] Joining collaboration session: Collaboration session not found."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-03 20:31] #1366 closed

[2018-12-03 21:20] avanderhoorn commented on #450
Any chance we can get both the VS logs and Agent logs? Both should be in `C:\Users\xxxx\AppData\Local\Temp\VSFeedbackVSRTCLogs\`

[2018-12-04 00:54] Priya91 commented on #1007
Closing issue due to inactivity.

[2018-12-04 00:54] #1007 closed

[2018-12-04 00:55] Priya91 commented on #1049
Closing due to insufficient information.

[2018-12-04 00:55] #1049 closed

[2018-12-04 00:55] Priya91 commented on #1086
Closing as no further information is provided, please reopen with logs.

[2018-12-04 00:55] #1086 closed

[2018-12-04 00:58] Priya91 commented on #1206
Closing issue due to inactivity, please reopen if this repros.

[2018-12-04 00:58] #1206 closed

[2018-12-04 00:58] Priya91 commented on #1246
Fix: Upgrade to .NET Core 3.0

[2018-12-04 00:58] Priya91 commented on #1264
Closing due to inactivity, please reopen with logs.

[2018-12-04 00:58] #1264 closed

[2018-12-04 01:01] Priya91 commented on #1126
@mlunax It looks like you hit this problem #1246

.NET Core doesn't support openssl 1.1 yet, please downgrade to openssl 1.0

[2018-12-04 01:01] #1126 closed

[2018-12-04 01:01] Priya91 commented on #1337
Closing due to inactivity, and duping as #1246  Please upload logs

[2018-12-04 01:01] #1337 closed

[2018-12-04 01:04] Priya91 commented on #1328
@netroby

1. Are you behind a proxy?
2. Are there any firewall rules that's blocking vscode from making outside connections?

[2018-12-04 01:32] Priya91 commented on #1362
Dupe of #1329.

@Nondukishor can you please attach your logs to the issue #1329.

[2018-12-04 01:32] #1362 closed

[2018-12-04 01:37] Priya91 commented on #1353
@Xabilahu Your logs indicuate you had successful sessions, not able to find the sesion where this happened for you.

[2018-12-04 02:47] pedoc commented on #450
@avanderhoorn hi,this is all records
[VSFeedbackVSRTCLogs.zip](https://github.com/MicrosoftDocs/live-share/files/2642147/VSFeedbackVSRTCLogs.zip)

[2018-12-04 02:50] pedoc commented on #450
@AfzalivE yes,
Tools->Options->Live Share->General
change Authentication section as
![image](https://user-images.githubusercontent.com/6604230/49415581-33cb4900-f7b2-11e8-997c-a5623bf86e1f.png)
it's work fine,but use "Visual Studio Account" is not

[2018-12-04 03:00] thomasgauvin commented on #1357
@setaskin Sorry for posting this issue, we were having some issues getting Live Share to work this weekend at YHack but it finally helped us tremendously! Thanks

[2018-12-04 03:17] aateeque opened #1367 "No such host is known"
**Product and Version** [VS/VSCode]:
**OS Version** [macOS/Windows]: Windows 7
**Live Share Extension Version**:  0.3.890 (10/26/2018)

**Steps to Reproduce / Scenario:**
1. Create new Live share session by "Start collaboration session..."
2. Error

This looks like a proxy authentication issue. I am behind a corporate firewall - NTLM auth. Can I set proxy information? HTTP_PROXY and HTTPS_PROXY ar

[2018-12-04 08:33] CrowOnslaught opened #1368 "[VS Code] Could not connect to the server. Check that you are connected to the internet."
## Error:
Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1. just try to start live share
2.

I tried all certs, it says :
System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the validation procedure.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocol

[2018-12-04 08:42] doniaGhazy opened #1369 "[VS Code] Joining collaboration session: Request was cancelled"
## Error:
Joining collaboration session: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-12-04 09:08] nicobleiler opened #1370 "My updated file did not update at the host"
My updated file did not update at the host

[2018-12-04 11:38] JevgenijaZlo opened #1371 "[VS Code] Joining collaboration session: Request was cancelled"
## Error:
Joining collaboration session: Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.27.1|
|**platformName**|MacOS|
|**platformVersion**|18.0.0|

[2018-12-04 13:38] sky1458 opened #1372 "[VS Code] Joining collaboration session: Request was cancelled"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-04 14:20] SebHonorine opened #1373 "[VS Code] Starting collaboration session: Unable to connect to the remote server. TrackingId:23034678-eb72-4dba-9d74-664726e560d5, Address:sb://vsls-prod-ins-use-private-relay.servicebus.windows.net/f42341ab86af74ebb7651e345930d394ffd0--8c47a832-2079-4741-be2f-dcffce0a3385, Timestamp:2018-12-04 14:19:38"
<!--
For Visual Studio problems/feedback, please use the Report

tryin gto launche Live Share to test it in VS code but wont launch it

[2018-12-04 17:02] victorcoaching opened #1374 "[VS Code] Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again."
## Error:
Joining collaboration session: The host's network conditions are poor or they are no longer connected to the Live Share cloud relay. Ask them to check their network conditions, restart the collaboration session, and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1005|
|**protocolVersion**|2.2|
|**applicationName**|VSCo

[2018-12-04 17:07] setaskin commented on #1372
@sky1458 Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette. I am closing the issue as a dupe of #1329 . Please add your comments / logs there

[2018-12-04 17:07] #1372 closed

[2018-12-04 17:10] setaskin commented on #1371
@JevgenijaZlo Thanks for reporting the issue, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette. I am closing the issue as duplicate of #1329 . Please add your commetns / logs there

[2018-12-04 17:10] #1371 closed

[2018-12-04 17:15] setaskin commented on #1370
@nicobleiler Hey! Thank you for reporting the issue.  Can you please attach Live Share logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" .

[2018-12-04 17:43] RyanThiele commented on #450
Confirmed that External Account worked as expected. I was able to sign in using the browser. Using Personal Account fails and logs that the sign-in token has expired. It also tries 3 times before it fails. I wonder if there is a problem with the querying the token? Maybe it's in the header, and not in the body of the request, or vice-versa?

[2018-12-04 21:56] setaskin commented on #1354
adding @cait1inhennessy to follow up.

[2018-12-04 22:12] setaskin commented on #1367
@aateeque Hey! thanks for reporting the issue. This is generally indicates a DNS lookup failure to the relay. https://aka.ms/vsls-connectivity will give you information on what is expected to be accessible in each mode. Updating your Live Share to the  latest version might solve the problem. if you still cannot connect check out https://aka.ms/vsls-docs/proxy and let us know

[2018-12-04 22:32] setaskin commented on #1373
@SebHonorine  Thank you for providing the logs. Adding @Priya91 to follow up

[2018-12-04 22:37] setaskin commented on #1369
@doniaGhazy  Thanks for reporting this, can you please attach liveshare logs to help us diagnose the issue. You can get the logs by running "Export liveshare logs" from VSCode command palette. I am closing the issue as duplicate of #1329 . Please add your comments / logs there

[2018-12-04 22:37] #1369 closed

[2018-12-04 22:42] srivatsn commented on #1354
I think @nandiniYeltiwar knows about this issue - the C++ filters on the host side were returning some guids that we don't understand today and we need to do some work to support this scenario. Nandini, it'll be good to prioritize this.

[2018-12-04 23:05] setaskin commented on #1368
@CrowOnslaught Hi there,
Are you behind a corporate proxy? If so, see here: https://docs.microsoft.com/en-us/visualstudio/liveshare/reference/connectivity#proxies. If this doesn't solve your problem,  you can get your logs by running the "Live Share: Export Logs" command in VS Code and send us.  I am closing the issue as duplicate of #1246 . You can find helpful information in #1246 as well. Pleas

[2018-12-04 23:05] #1368 closed

[2018-12-05 00:43] setaskin commented on #450
@RyanThiele Hey, thanks for the info.  We are investigating the issue. Would you share your logs ? it should be located in C:\Users\xxxx\AppData\Local\Temp\VSFeedbackVSRTCLogs\

[2018-12-05 00:48] setaskin commented on #59
@benprime Hey! thanks for reporting this. Which Live Share version do you use ?

[2018-12-05 01:20] benprime commented on #59
We're using LiveShare Extension 0.3.1002.0 with:
Microsoft Visual Studio Enterprise 2017  (2)
Version 15.9.3
VisualStudio.15.Release/15.9.3+28307.145

[2018-12-05 02:09] setaskin commented on #1359
@Dav2006 Do you by any chance have the Language Server Client Preview extension installed? We've found that we run into this error if that extension is installed. I am closing the issue as a  duplicate of #274. Please let us know if you experience the same problem again. You can add your comments/ logs in #274

[2018-12-05 02:09] #1359 closed

[2018-12-05 02:11] Dav2006 commented on #1359
Oh thank you! Yes I did have the Language Server Client Preview extension installed, I will be looking into #274

[2018-12-05 08:13] leceister opened #1375 "[VS Code] Joining collaboration session: Agent terminated with exit code: 2147516546 and signal null: Failed to load the dll from[C:\Users\lester\.vscode\extensions\ms-vsliveshare.vsliveshare-0.3.1011\dotnet_modules\hostfxr.dll], HRESULT:0x80070057Thelibraryhostfxr.dllwasfound,butloadingit from C:\Users\lester\.vscode\extensions\ms-vsliveshare.vsliveshare-0.3.1011\dotnet_modules\hostfxr.dll failed - Installing .NET Core prerequisites might help resolve this problem. http://go.microsoft.com/fwlink/?LinkID=798306"

[2018-12-05 08:13] #1375 closed

[2018-12-05 10:11] nisheethtak opened #1376 "[VS Code] Joining collaboration session: The collaboration session is not found. Please check the link provided by the host and try again."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-05 10:11] Salvo-Sorrusca opened #1377 "[VS Code] Cannot read property 'sessionId' of undefined"
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-05 10:24] gezzahead opened #1378 "Windows firewall link is broken"
The "configuring the Windows Firewall here" link leads to a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6806ed00-7ef9-42bc-057c-e5759416bf3b
* Version Independent ID: 28b1ae83-d064-a934-d199-04ca181e182b
* Content: [Connectivity - Visual Studio Live Share - Visual Studio Live Share](https://docs.microsoft.com/en

[2018-12-05 16:14] SebHonorine commented on #1373
just adding some more. I had to change the Live Share  mode in VS2017 to Direct. However, I don't see any settings like that in VS Code. I'm working behind a proxy i think this is the issue.

Regards

[2018-12-05 17:45] setaskin commented on #1373
@SebHonorine Hi, we actually have  a setting for connection mode in VS Code too.
CTRL + Comma -> you will see settings pane , in search box search for Live Share. there is a setting called Live Share: Connection Mode. You can select diect mode from there. Let us know if it unblocks you.

[2018-12-05 17:48] leoortiz commented on #1003
It happens when I open VS Code... so, it always happens. I just learn to live with it..

Here are the logs:
[VS_LS_logs.zip](https://github.com/MicrosoftDocs/live-share/files/2649899/VS_LS_logs.zip)

[2018-12-05 18:10] SebHonorine commented on #1373
damned . . . I feel bad.
Works number one!!

Thank you team. . .
regards

[2018-12-05 18:10] #1373 closed

[2018-12-05 18:18] setaskin commented on #1376
@nisheethtak Thank you for reporting this. This error means the host unshared the session, and we have cleaned up the session info from our service.  If this was not the case, would you give us some more details to investigate the issue or attach your logs ? You can export your logs  liveshare logs by running "Export liveshare logs" command from command palette . I will close this issue as a dupli

[2018-12-05 18:18] #1376 closed

[2018-12-05 18:33] setaskin commented on #1378
@gezzahead Thank you for reporting this.  @Chuxel would you fix the broken link ?

[2018-12-05 19:12] johame27 opened #1379 "Guest File Creation"
How can my joined guest can create a file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94469a3-c226-ef02-3d17-c04e6b720455
* Version Independent ID: e419b6cc-9475-428d-c454-5c3c20c7f081
* Content: [FAQ - Visual Studio Live Share - Visual Studio Live Share](https://docs.microsoft.com/en-us/visualstudio/liveshare/faq

[2018-12-05 19:44] ashr123 opened #1380 "[VS Code] Request was cancelled"
## Error:
Request was cancelled

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-42-generic|

[2018-12-05 20:07] setaskin commented on #1379
@peakstack Hey! your guest can create a file just like creating a file on their on workspace. Right click -> add->new file. If you are sharing in "Read only mode" in that case that will not be able to create a new file. Please let us know if it answers your question. If you get any errors please send us your logs.

[2018-12-05 20:14] setaskin commented on #1380
@ashr123 Hey! thank you for reporting the issue. We’re tracking this issue via #469, so I’m going to close this as a duplicate.  It would be great if you send your logs for investigation. You can run "Live Share: Export logs" rom VS Code command palette , and add your comments / logs under #469

[2018-12-05 20:14] #1380 closed

[2018-12-05 20:38] setaskin commented on #1375
@leceister Hi , could you send us your logs for investigation ? . You can do it by running Live Share : Export logs from VS Code command palette.

[2018-12-05 20:55] legomushroom commented on #1003
Hey @leoortiz, thanks for the logs!

Could you describe repro steps? You just open a new VSCode window, and then see the error message? I assume when you click that, VSCode does a reload to an empty workspace?

Thanks!

[2018-12-05 21:19] Chuxel commented on #1378
Good catch!  Fixed!

[2018-12-05 21:19] #1378 closed

[2018-12-05 22:05] setaskin commented on #59
adding @srivatsn for further investigation

[2018-12-05 22:10] lostintangent commented on #36
This has now been addressed in the latest Live Share release! 🔥In VS Code, this works out of the box, and in VS, you'll need to use VS2019 Preview + the [Pull Requests extension](https://marketplace.visualstudio.com/items?itemName=VSIDEVersionControlMSFT.pr4vs). Let us know if you have any questions/issues. Thanks again for the feedback!

[2018-12-05 22:10] #36 closed

[2018-12-05 22:14] lostintangent commented on #3
This has been addressed in the latest Live Share update 🚀 By default, when a guest tries to join a session, and they aren't already signed-in, they will be given the option to continue as a read-only guest, and then enter a name. The host will get a notification asking if they'd like to accept their join request or not (which is important, since we can't guarantee the guest's identity).

After the

[2018-12-05 22:14] #3 closed

[2018-12-05 22:15] lostintangent commented on #54
This feature is now available in the latest update for VS and VS Code 🎉 If a host opens a file that it located outside of the shared directory/solution, then any guest that is following them will automatically see the contents of that file and can co-edit it with them. Let us know if you run into any problems with this experience and/or have feedback on it. Thanks!

[2018-12-05 22:15] #54 closed

[2018-12-05 22:18] lostintangent commented on #1069
In our latest extension update, we've done the two things that I mentioned in my previous message:

1. Completely suppressed the "How was your session?" notification
2. Added a new setting called `liveshare.showVerboseNotification`, that allows you to suppress many other notifications (e.g. guest joined)

I _think_ this addresses the core concerns, but please let us know if we can do better. Thank

[2018-12-05 22:18] #1069 closed

[2018-12-05 22:19] lostintangent commented on #893
This has been addressed in the latest Live Share extension update.

[2018-12-05 22:19] #893 closed

[2018-12-05 22:19] lostintangent commented on #558
This has been addressed in the latest Live Share extension update.

[2018-12-05 22:19] #558 closed

[2018-12-05 22:31] lostintangent commented on #69
Hey everyone! So I'm going to close this issue as resolved for the following reasons:

1. The latest Live Share extension update introduces the ability to add lightweight code comments directly in VS and VS Code. From talking with numerous Live Share users, this is actually what they've wanted when discussing chat, and so I think we've addressed that core interest. To get started in VS Code, simpl

[2018-12-05 22:31] #69 closed

[2018-12-05 23:01] tigoe commented on #1069
I think it does too, but will keep an eye out for the difference in the future.

Either way, I love it when someone closes an issue by asking if it works like that. Thank you!

[2018-12-05 23:59] #1182 closed

[2018-12-06 00:01] daytonellwanger commented on #59
@benprime cs/vbhtml support is only available from 15.9 Preview 5 going forward. Could you update your Visual Studio and let us know if you're still encountering this issue?

[2018-12-06 00:07] rojopolis commented on #36
I see that this feature was released in https://github.com/MicrosoftDocs/live-share/releases/tag/v0.3.1011 however the feature either isn't available, or it's unclear how to enable it.  I don't see any configuration option to enable this.  Do I need to (further) RTFM, or is this not working?
I'm writing an article on remote collaboration with VSCode today and I'd love to be able to include this fe

[2018-12-06 01:12] eltiare commented on #884
I'm wanting to use Crawelra and it seems as though they use HTTPS. :(

[2018-12-06 01:30] lostintangent commented on #36
@rojopolis We just realized that we forgot to move this feature out of the experimental stage. We're going to update this now and release a fix. In the meantime, if you set the `liveshare.features` setting to `experimental`, then you'll see the list of changed files + diffs show up on the guest side via the `Source Control` tab. Apologies for the confusion on our end!

[2018-12-06 01:56] limboaz opened #1381 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-12-06 07:36] AdhiePratama opened #1382 "[VS Code] Joining collaboration session: Could not connect to the server. Check that you are connected to the internet."
## Error:
Joining collaboration session: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Linux|
|**platformVersion**|4.15.0-39-generic|

[2018-12-06 09:12] svenjeppsson opened #1383 "[VS Code] Starting collaboration session: Could not connect to the server. Check that you are connected to the internet."
[codelogs.zip](https://github.com/MicrosoftDocs/live-share/files/2652405/codelogs.zip)

## Error:
Starting collaboration session: Could not connect to the server. Check that you are connected to the internet.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|

[2018-12-06 10:47] songjingyang opened #1384 "[VS Code] Starting collaboration session: Already connected to a workspace."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-06 10:47] #1384 closed

[2018-12-06 11:41] leoortiz commented on #1003
Exactly like that.

[2018-12-06 13:39] adamh128 commented on #884
Where do I find the logs?

[2018-12-06 14:00] crbelaus opened #1385 "[VS Code] No usable version of the libssl was found"
I am running Fedora Workstation 29 with latest VSCode installed from the official page. The VS Live Share extension does not work since there seems to be missing a `libssl` dependency. Letting VSCode auto install the required dependencies does not fix this problem.

[Verbose logs](https://github.com/MicrosoftDocs/live-share/files/2653307/live.share.logs.zip)

**Product and Version**: VSCode
**OS V

[2018-12-06 14:36] adamh128 commented on #884
I figured it out :)

[livesharelogs.zip](https://github.com/MicrosoftDocs/live-share/files/2653442/livesharelogs.zip)

[2018-12-06 16:24] tfenster commented on #138
Hi @lostintangent, seeing all the amazing new features with the latest release, it hurts even more to not have support for AL :) Do you see a chance for progress with this problem?

[2018-12-06 17:02] setaskin commented on #1381
@limboaz Hey! Thank you for reporting this. Would you give us some details to investigate the issue. Would you add steps to reproduce ? Also it would be great if you can send us your logs. You can get the logs by running Live Share : Export Logs command from VS Code command palette. We keep track the issue in #1172 . I will close this as a duplicate. Please add your logs/ comments there

[2018-12-06 17:02] #1381 closed

[2018-12-06 17:10] setaskin commented on #884
@adamh128 Hey! thank you for attaching the logs. @Priya91 would you take look?

[2018-12-06 17:44] setaskin commented on #1382
@AdhiePratama Hey! Thank you for reporting the issue.  Can you specify whether this error occurred just once or it happens persistently? Also can you send us your logs by running Live Share: Export logs  from Vs Code command line ?

[2018-12-06 17:58] megstav opened #1386 "[VS Code] Joining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry."
## Error:
Joining collaboration session: Unable to join the host due to an authentication error. Verify the host is online, then sign out and sign in again and retry.

## Steps to Reproduce:
1. signed into github
2. getting authentication issues from VScode

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**ap

[2018-12-06 17:58] peakstack commented on #1379
Hello, it isn't working... the guest can join my session, can edit the existing files, but can't change the state of any file. the guest can't create or delete a file.

[2018-12-06 18:08] setaskin commented on #1386
@megstav thank you for reporting the issue. Would you give us some more information to investigate?. Is it persistent ? what happened when you signed out and signed in again ? Also , it would be great if you can attach your logs by running "live Share : Export logs from VS Code command line.

[2018-12-06 18:19] setaskin commented on #1379
@peakstack sorry to hear that. Would you give us some more details to investigate ? Which OS, VS / VS Code , Live Share version are you using ? Also it would be great if you send us your logs. If you are using VS Code you can export your logs by running "Live Share: Export logs" command in VS Code command palette . If you are using VS , you can locate the logs in C:\Users\<UserName>\AppData\Local\

[2018-12-06 18:19] setaskin commented on #1379
adding @nandiniYeltiwar for info.

[2018-12-06 18:36] setaskin commented on #1383
@svenjeppsson Hey! Thank you for reporting this and adding your logs. It seems there is some issue with SSL configuration. cc: @Priya91

[2018-12-06 18:41] peakstack commented on #1379
I limited the number of downloads to 1 due to missing privacy on here in the comment section.
https://tmpfiles.org/dl/12988/VSFeedbackVSRTCLogs.zip
Visual Studio Community 2017 15.9.3
Visual Studio Live Share version 0.3.1011.0
Windows 10 Pro 64 bit
Visual Studio language: german
In VS-Code Live Share is perfectly running, but I want it to work in Visual Studio Community

[2018-12-06 18:47] setaskin commented on #1379
@peakstack Thank you for providing logs. I just want make sure I understood your request. So guest can create / delete file in VS Code,  but it doesn't work on VS community version ? correct ?

[2018-12-06 18:48] peakstack commented on #1379
a accidently downloaded the file, so here is a new link: https://tmpfiles.org/download/12990/VSFeedbackVSRTCLogs.zip

[2018-12-06 18:56] peakstack commented on #1379
Yes, the file structure isn't building correctly up and it throws me errors. You can see it in the logs. So, guests can connect to my session, but it's weired. Also often only the project-folder is showing up, but not the project. If the guest tries to right click the project if it is shown up, there is only a option something with GIT, but it is on a grey background, so not clickable. It's like t

[2018-12-06 19:01] peakstack commented on #1379
If i try to log in in my personal account and then do the live sahre thing then it throws me errors, that my session expired, so this could be part of the problem. So i changed to external and if the windows pops up, i chose microsoft account, so i bypassed the session check. This way, the session is valid.

[2018-12-06 19:30] setaskin commented on #1379
@peakstack thank you for the all information you provided. We currently don't have a file create /remove support it for VS Community version. We will be working on it and let you know when it is available. Again thank for your feedback.

[2018-12-06 19:48] lostintangent commented on #36
@rojopolis We just shipped the update to the marketplace that enables shared source control state with guests. Apologies for that mistake, and let us know if you run into any other issues. Thanks!

[2018-12-06 19:48] peakstack commented on #1379
Is file creation supported in VS Enterprise or VS Professional ?

[2018-12-06 19:58] #1123 closed

[2018-12-06 20:09] setaskin commented on #1379
@peakstack we will be fixing those too.

[2018-12-06 20:35] avanderhoorn commented on #450
For anyone who has had this issue, is there anything special about the auth setup you have (i.e. customized auth flow or anything like that)?

[2018-12-06 20:58] RyanThiele commented on #450
I have two factor authentication on my personal account.

[2018-12-06 22:07] avanderhoorn commented on #450
Can anyone confirm that after going to their external account, if they switch back to their SSO account, does it work?

[2018-12-06 22:34] Delirioo opened #1387 "Shared debug console"
*Visual Studio Code*

Hi, I hope it's the right section for this question.
When I'm in a live share session with my friends and the host presses f5 to run the code, the result on debug console appears for a second to us, while on the host remains.
I think we missed some options, but we can not get through them.
Thank you all
Video for detail:
https://youtu.be/8RGM3mHvE-E

[2018-12-06 22:37] lostintangent commented on #138
@tfenster Hey! Good news: we have the fix for this, and will be releasing it next week 🚀 I'll ping you as soon as it's out. Apologies for the long delay here. We had to completely re-architect the way our co-debugging worked in order to accomodate AL, and some other debuggers.

[2018-12-06 22:37] lostintangent commented on #1387
@Delirioo Hmm, that's unexpected. Are you in Visual Studio or Visual Studio Code?

[2018-12-06 22:40] Delirioo commented on #1387
Visual Studio Code

[2018-12-06 22:53] lostintangent commented on #1387
@Delirioo What kind of app are you trying to debug? Also, when you say that the debug console appears for a second, are you saying that the `Debug Console` pane goes away? Or it just stops updating with new content?

[2018-12-06 22:55] Delirioo commented on #1387
Hi i made a video for a bettr explain of the problem:
https://youtu.be/8RGM3mHvE-E

[2018-12-07 00:42] mgalante opened #1388 "[VS Code] Cannot connect to insiders.liveshare.vsengsaas.visualstudio.com"
the domain insiders.liveshare.vsengsaas.visualstudio.com its not accesible for me..
It was working last week

<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-07 00:42] mgalante commented on #1388
ping gives me:
Haciendo ping a vsls-prod-ins-use-181130050328.eastus.cloudapp.azure.com [23.100.17.46] con 32 bytes de datos:
Tiempo de espera agotado para esta solicitud.
Tiempo de espera agotado para esta solicitud.
Tiempo de espera agotado para esta solicitud.

[2018-12-07 00:55] setaskin commented on #1388
@mgalante Hey! Thank you for reporting this. Would you give us some more info to investigate. Would you send your logs by running " Live Share: Export logs" from VS Code command palette ?

[2018-12-07 04:21] eamodio commented on #1347
FYI this still happens with `0.3.1013`

[2018-12-07 06:53] syneprajyot opened #1389 "[VS Code] Starting collaboration session: Already connected to a workspace."
## Error:
Starting collaboration session: Already connected to a workspace.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1013|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Windows|
|**platformVersion**|10.0.15063|

[2018-12-07 07:36] crbelaus commented on #1385
Well... It turns out that I am running **Fedora 29**. I don't know why I thought it was 28 :man_facepalming:  I don't know if this changes anything, I am updating the main post to reflect this, sorry.

In any case. This is a fresh installation from yesterday with nothing special in it. I ran the Anaconda installer and then installed some of my preferred apps, including VSCode.

Running `dnf list i

[2018-12-07 07:45] crbelaus commented on #1385
It seems that Fedora 29 comes with a newer OpenSSL version that can not be used by VS Live Share. I've just tried to install the package `compat-openssl10` and everything is working properly now.

Running `dnf list installed | grep openssl` provides the following input:

[code]

[2018-12-07 08:05] netroby commented on #1328
i tried today. the live share working correct. now i close this issue

[2018-12-07 08:05] #1328 closed

[2018-12-07 12:50] andreas-cdab opened #1390 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1. Started a session
2. Wait

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1013|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0|

[2018-12-07 13:09] reinierdebruin opened #1391 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-07 13:12] tfenster commented on #138
Thanks! Can't wait to test :)

[2018-12-07 13:54] jawn commented on #450
Even after
- logging out and back in again,
- successfully logging in on the https://insiders.liveshare.vsengsaas.visualstudio.com/auth/ and answering yes to the permission request
I see the same issue in VS 2017.

Workaround

used a different VSO account.
The one that didn't work was an outlook.com based account (also used for the Visual Studio subscription), the one that works is a Visual Studio

[2018-12-07 14:30] jawn opened #1392 "Starting co-debugging as guest gives error "A project with an Output Type of Class Library cannot be started directly." for web projects"
**Product and Version**
Visual Studio 15.9.3

**OS Version**
Windows Server 2016

**Live Share Extension Version**:
0.3.1011.0

**Target Platform or Language** [e.g. Node.js]:
.NET Framework 4.6.2

**Steps to Reproduce / Scenario:**

Note:  co-debugging is allowed in the extension options.

1. Start debugging a web project (.csproj, .NET Framework 4.6.2)

Expected result, for guest and host:
* deb

[2018-12-07 14:36] jawn commented on #33
I suggest adding the label "scenario: pair programming" to this one. For people who want to practice TDD or write other test types together, this seems essential.

[2018-12-07 15:03] Chuxel commented on #1385
@crbelaus Ah yes that could explain it! Historically the compat-openssl10 came along with the openssl-libs package but that must have changed in 29. I agree adding it to the dependency script is a good idea. If you'd like to submit a PR as you mentioned above, I'd be happy to review it or we can move it forward.

[2018-12-07 16:17] enozero opened #1393 "Signing in with GitHub with no verified email addresses results in endless loop"
**Product and Version** [VS/VSCode]: VSCode
**OS Version** [macOS/Windows]: macOS
**Live Share Extension Version**: 0.3.10.13

**Steps to Reproduce / Scenario:**
1. Create a GitHub account with no verified email addresses
2. Sign in to Live Share
3. Choose GitHub
4. Sign in with GitHub

It makes the user think sign in was successful. If you close VS Code and reopen, the user information was not sa

[2018-12-07 16:38] wjones30309 opened #1394 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
<!-- Said code wasn't valid after copy and paste
For Visual Studio problems/feedback, please use the Report

[2018-12-07 17:14] avanderhoorn commented on #450
@jawn So are you saying that one VSO account worked and another one didn't? Do you know if there is any difference between the accounts?

[2018-12-07 17:16] avanderhoorn commented on #450
Also whats versions of VS are people running (i.e. VS 2019 preview 1 or VS 2018 Update X, etc)?

[2018-12-07 17:41] therealjawss opened #1396 "[VS] Changes can’t be undone that we’re made by participants who left the session"
I see that there is a related issue that requested for local undo stacks https://github.com/MicrosoftDocs/live-share/issues/7 which makes sense when people are collaborating on different parts of the code.

However, in our testing scenario, my collaborator "accidentally" deleted everything, and disconnected. there was then no way for me to undo the delete once they were gone from the session.

not

[2018-12-07 17:44] lostintangent commented on #1396
@therealjawss Hey! Are you using VS or VS Code? I just ask because we recently made a change to VS Code to support a global undo stack.

[2018-12-07 17:53] therealjawss commented on #1396
Using the Visual Studio 2019 preview, sorry should have provided more detail as the instructions said. >_<

[2018-12-07 18:14] mgalante commented on #1388
it seems my ISP blocked vscode site. I tried with another one and worked fine.

thanks.

[2018-12-07 18:14] #1388 closed

[2018-12-07 18:31] elsangedy opened #1397 "[VS Code] Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
## Error:
Joining collaboration session: The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1013|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|MacOS|
|**platformVersion**|18.2.0

[2018-12-07 18:31] #1397 closed

[2018-12-07 18:54] setaskin commented on #1389
@syneprajyot Hey!  Thank you for reporting this. Would you give us some more information to investigate ? Is the issues is persistent or happened once ?  Also it would be great if you can post your logs here by running "Live Share : Export logs" from VS Code command palette.

[2018-12-07 19:24] setaskin commented on #1390
Hey! Thank you for reporting this. Would you give us some details to investigate the issue?  Can you send us your logs. You can get the logs by running Live Share : Export Logs command from VS Code command palette. We keep track the issue in #1172 . I will close this as a duplicate. Please add your logs/ comments there

[2018-12-07 19:24] #1390 closed

[2018-12-07 19:48] setaskin commented on #1391
Thank you for reporting this. Did restarting the collaboration session help to resolve the issue?  does it reproduce consistently? Also would you attach your logs by running "Live Share : Export logs" from VS Code command palette. We are tracking the issue in #327. So I will close this as duplicate.  Please add your logs/ comments there.

[2018-12-07 20:02] setaskin commented on #1391
Thank you for reporting this. Did restarting the collaboration session help to resolve the issue? does it reproduce consistently? Also would you attach your logs by running "Live Share : Export logs" from VS Code command palette. We are tracking the issue in #327. So I will close this as duplicate. Please add your logs/ comments there.

[2018-12-07 20:02] #1391 closed

[2018-12-07 20:58] RyanThiele commented on #450
@avanderhoorn It sounds like he's saying that the VSO account doesn't work, but using the credentials from his company did. I also can confirm that the VSO account doesn't work. I have signed out of VSO and back in, and the problem still persists.

One more thing to add is that my MSVS Enterprise is registered with a serial key, but I also have a subscription for MSVS Professional. I'm not sure if

[2018-12-07 21:23] setaskin commented on #1394
@wjones30309  Hey thank you for reporting this.This error indicates the session URL you tried to join wasn’t valid, which is typically due to a copy/paste error. If you simply retrieve the correct URL from the host, and try joining again, you should be unblocked . I’m going to close this issue as by design, but please re-open it if you encounter this error for a session URL you know is valid. Than

[2018-12-07 21:23] #1394 closed

[2018-12-07 21:43] ale-ben commented on #450
@avanderhoorn I have the issue on Visual Studio 2017 Enterprise (15.9.3) and Visual Studio 2019 Preview (16.0.0 preview 1.0)

[2018-12-07 22:14] sk1p commented on #1383
I'm hitting the same bug, I think (`Interop+Crypto+OpenSslCryptographicException: error:0E076071:configuration file routines:MODULE_RUN:unknown module name`) - this is on debian unstable.

This appears to be a dupe of https://github.com/MicrosoftDocs/live-share/issues/1246, core issue: https://github.com/dotnet/corefx/issues/33179

I could make vs code connect by commenting out `ssl_conf = ssl_sec

[2018-12-08 00:25] zemenea opened #1398 "[VS Code] Starting collaboration session: RPC connection closed."
## Error:
Starting collaboration session: RPC connection closed.

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1013|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.28.2|
|**platformName**|MacOS|
|**platformVersion**|17.7.0|

[2018-12-08 00:39] setaskin commented on #1398
@zemenea Thank you for reporting this. Would you attach your logs here to investigate ? You can get your logs by running "Live Share : Export logs" command from VS Code command line.

[2018-12-08 00:44] avanderhoorn commented on #450
It looks like we have found the issue. We are looking to see if we can get the fix out tonight or first thing on Monday. Thanks for all the info everyone!!!

[2018-12-08 08:38] yaronshemeshnew opened #1399 "[VS Code] Joining collaboration session: Unable to connect to the host. Verify both you and the host are online."
Do I need that Vineet will be online too in order me to upload the Workspace?
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-08 12:50] setaskin commented on #1399
@yaronshemeshnew Hey! thank you for reporting this. If I understand your question correctly, yes the host needs to be online to be able to connect their workspace.

[2018-12-08 14:10] ghost opened #1400 "Display participant attribution for code changes made during a Live Share session"
I'd like to request feature where someone would create a line and code in it and at the end of that line would be added //By: _Username_ at _Day,hour_
And if someone would edit it after that would look like this:
//By: vs_live_share_getUsername() Edited by: _Username_ at _Day,hour_
And so on, if someone edits afterwards then add him in the end of the comment.
Is it possible ?

Comment type // for

[2018-12-08 15:05] sz1444 opened #1401 "[VS Code] Cannot read property 'sessionId' of undefined"
## Error:
Cannot read property 'sessionId' of undefined

## Steps to Reproduce:
1.
2.

||Version Data|
|-:|:-|
|**extensionName**|VSLS|
|**extensionVersion**|0.3.1011|
|**protocolVersion**|2.2|
|**applicationName**|VSCode|
|**applicationVersion**|1.29.1|
|**platformName**|Windows|
|**platformVersion**|10.0.17134|

[2018-12-08 15:05] #1401 closed

[2018-12-08 15:46] avanderhoorn commented on #450
Rollout is complete. Please confirm when you when can that your issue is resolved.

[2018-12-08 16:38] lostintangent commented on #1400
@horsetaur Thanks for the feedback! We’ve been tracking #680, which is meant to help provide a log of all activity in a session (e.g. edits, guests joined, server shared, etc.). But, we can use this issue to track the inline “blame” experience, specifically for code changes.

This is definitely something we’ve heard a lot of feedback on, and want to address in the near future. We’ll keep you poste

[2018-12-08 16:48] lostintangent commented on #1396
@therealjawss Thanks for confirming that. Unfortunately, the issue you hit is an unintended result of the expected behavior in VS, because every participant has their own undo stack. In VS Code, we recently switched to a global undo stack, which is potentially something we could explore for VS as well. This specific issue is clearly non-ideal, so we need to address it somehow. Let us give this som

[2018-12-08 16:55] lostintangent commented on #1393
@enozero Thanks for reporting this! We haven’t seen issue yet, so we appreciate you reaching out. We’ll look into how we can improve this situation. Stay tuned!

/cc @avanderhoorn

[2018-12-08 17:40] lostintangent commented on #33
@jawn Great suggestion! I just updated the tags 👍

[2018-12-09 02:09] nekoyoubi commented on #450
We can confirm that this has resolved the issue as well. Thanks much, all!

[2018-12-09 13:56] ale-ben commented on #450
Confirm, it works both on VS 2017 e 2019, thanks a lot!

[2018-12-09 15:23] Nikhilbansal999 opened #1402 "[VS Code] Join failed. The specified value isn’t a valid Live Share URL. Please check the link provided by the host and try again."
<!--
For Visual Studio problems/feedback, please use the Report

[2018-12-09 15:30] setaskin commented on #1402
@Nikhilbansal999 Hey Thank you for reporting the issue. this error indicates the session URL you tried to join wasn’t valid, which is typically due to a copy/paste error. If you simply retrieve the correct URL from the host, and try joining again, you should be unblocked . If this is not the case,  would you add your logs here to investigate this ? You can export your logs by running "Live Share :

[2018-12-09 15:45] 8 commented on #786
Hi, I have the same problem:

If the code is stored or moved through the cloud then that's a no-go anyway, because I would breach my employers/clients NDAs and I could get sued for that.

If nothing is transmitted over the cloud then why are we forced into an online mode? That restriction is than entirely artificial and unnecessary.

Redirecting to a privacy policy is not good enough if client dat

[2018-12-09 21:27] reteps opened #1403 "[VS Code] Joining collaboration session: Incorrect join ID: <ID>"
[Logs.zip](https://github.com/MicrosoftDocs/live-share/files/2661010/Logs.zip)

## Error:
Joining collaboration session: Incorrect join ID: 605ce52ea2258e350230dcbb47a015aa565E

## Steps to Reproduce:
May not be accurate, but this is what happened:
1. Both Downloaded live-share feature
2.Link sent to me, and was incorrect
3. Stated incorrect URL, so he resends the link to our team
4. Whole team us